In [20]:
import pandas as pd

job_lists = [
        'job_lists/arm_server_1.5GHz_500', 
        'job_lists/arm_server_1.5GHz_502',
        'job_lists/arm_server_1.5GHz_505',
        'job_lists/arm_server_1.5GHz_520',
        'job_lists/arm_server_1.5GHz_523',
        'job_lists/arm_server_1.5GHz_525',
        'job_lists/arm_server_1.5GHz_531',
        'job_lists/arm_server_1.5GHz_541',
        'job_lists/arm_server_1.5GHz_548',
        'job_lists/arm_server_1.5GHz_557',
        'job_lists/arm_server_1.5GHz_503',
        'job_lists/arm_server_1.5GHz_507',
        'job_lists/arm_server_1.5GHz_508',
        'job_lists/arm_server_1.5GHz_510',
        'job_lists/arm_server_1.5GHz_511',
        'job_lists/arm_server_1.5GHz_519',
        'job_lists/arm_server_1.5GHz_521',
        'job_lists/arm_server_1.5GHz_527',
        'job_lists/arm_server_1.5GHz_538',
        'job_lists/arm_server_1.5GHz_544',
        'job_lists/arm_server_1.5GHz_549',
        'job_lists/arm_server_1.5GHz_554',
        'job_lists/arm_server_3.0GHz_500', 
        'job_lists/arm_server_3.0GHz_502',
        'job_lists/arm_server_3.0GHz_505',
        'job_lists/arm_server_3.0GHz_520',
        'job_lists/arm_server_3.0GHz_523',
        'job_lists/arm_server_3.0GHz_525',
        'job_lists/arm_server_3.0GHz_531',
        'job_lists/arm_server_3.0GHz_541',
        'job_lists/arm_server_3.0GHz_548',
        'job_lists/arm_server_3.0GHz_557',
        'job_lists/arm_server_3.0GHz_503',
        'job_lists/arm_server_3.0GHz_507',
        'job_lists/arm_server_3.0GHz_508',
        'job_lists/arm_server_3.0GHz_510',
        'job_lists/arm_server_3.0GHz_511',
        'job_lists/arm_server_3.0GHz_519',
        'job_lists/arm_server_3.0GHz_521',
        'job_lists/arm_server_3.0GHz_527',
        'job_lists/arm_server_3.0GHz_538',
        'job_lists/arm_server_3.0GHz_544',
        'job_lists/arm_server_3.0GHz_549',
        'job_lists/arm_server_3.0GHz_554'
]

num_counters = 4

for job_list in job_lists:
    input_file = open(job_list, 'r')
    csv_files = input_file.readlines()

    merged_df = pd.read_csv('blank.csv')
    initial_read = 0
    
    for csv in csv_files:
        csv = csv.strip()
        df1 = pd.read_csv(csv)
        df1['time'] = df1['time'].astype(float).round(2)
        df1.drop(df1.columns[4:], axis=1, inplace=True)
        df1.drop(df1.columns[2], axis=1, inplace=True)

        # Get counter 1
        df2 = df1.iloc[num_counters-0::4, :]
        counter_name = df2.iloc[num_counters-0][2]
        df2 = df2.rename(columns={'value': counter_name})
        df2.drop(df2.columns[2], axis=1, inplace = True)
        df2 = df2.round({'time':2})
       
        # Get Counter 2
        df3 = df1.iloc[num_counters-3::4, :]
        counter_name = df3.iloc[num_counters-0][2]
        df3 = df3.rename(columns={'value': counter_name})
        df3.drop(df3.columns[2], axis=1, inplace = True)
        df3 = df3.round({'time':2})
        
        # Get Counter 3
        df4 = df1.iloc[num_counters-2::4, :]
        counter_name = df4.iloc[num_counters-0][2]
        df4 = df4.rename(columns={'value': counter_name})
        df4.drop(df4.columns[2], axis=1, inplace = True)
        df4 = df4.round({'time':2})
        
        # Get Counter 4
        df5 = df1.iloc[num_counters-1::4, :]
        counter_name = df5.iloc[num_counters-0][2]
        df5 = df5.rename(columns={'value': counter_name})
        df5.drop(df5.columns[2], axis=1, inplace = True)
        df5 = df5.round({'time':2})

        # Merge DFs
        df6 = pd.merge(df2, df3, on = 'time', how='inner')
        df6 = df6.round({'time':2})
        df7 = pd.merge(df4, df5, on='time', how='inner')
        df7 = df7.round({'time':2})
        df8 = pd.merge(df6, df7, on='time', how='inner')
        df8 = df8.round({'time':2})

        if initial_read == 0:
            merged_df = pd.merge(merged_df, df8, on='time', how = 'inner')
            initial_read = 1
        else:
            df8 = df8.drop(columns=['instructions'])
            merged_df = pd.merge(merged_df, df8, on='time',how='inner')
            
    merged_df.to_csv('traces/aligned_' + job_list[10:], sep=',', index=False)

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010171   9440026         NaN  instructions    11254080
1         0.010171  16711264         NaN    cpu-cycles    11254080
2         0.010171   1739782         NaN       br_pred    11254080
3         0.010171     70117         NaN   br_mis_pred    11254080
4         0.020618  12331949         NaN  instructions     9937920
...            ...       ...         ...           ...         ...
314847  824.032705     60203         NaN   br_mis_pred     9980480
314848  824.037956  13478476         NaN  instructions     4820600
314849  824.037956   7194243         NaN    cpu-cycles     4820600
314850  824.037956   1969853         NaN       br_pred     4820600
314851  824.037956      9721         NaN   br_mis_pred     4820600

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.56  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.83  insn per cycle
...            ...         ...             ...
314847       100.0         NaN             NaN
314848       100.0        1.87  insn per cycle
314849       100.0         NaN             NaN
314850       100.0         NaN             NaN
314851       100.0         NaN             NaN

[314852 rows x 8 columns]
          time     value       counter
4         0.02  12331949  instructions
8         0.03  17922877  instructions
12        0.04  17428281  instructions
16        0.05  18560413  instructions
20        0.07  26737348  instructions
...        ...       ...           ...
314832  824.00  13540175  instructions
314836  824.01  17331441  instructions
314840  824.02  10926786  instructions
314844  824.03  26299753  instructions
314848  824.04  13478476  instructions

[78712 rows x 3 columns]
instructions
          time instructions
4         0.02     12331949
8         0.03     17922877
12        0.04     17428281
16        0.05     18560413
20        0.07     26737348
...        ...          ...
314832  824.00     13540175
314836  824.01     17331441
314840  824.02     10926786
314844  824.03     26299753
314848  824.04     13478476

[78712 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   16711264
5         0.02   14818658
9         0.03   14517523
13        0.04   14898620
17        0.05   14913263
...        ...        ...
314833  824.00   14674299
314837  824.01   14984345
314841  824.02   14963872
314845  824.03   14886530
314849  824.04    7194243

[78713 rows x 2 columns]
df4
          time  br_pred
2         0.01  1739782
6         0.02  2483880
10        0.03  4093302
14        0.04  3913536
18        0.05  4198766
...        ...      ...
314834  824.00  3074141
314838  824.01  4005984
314842  824.02  2950152
314846  824.03  5002646
314850  824.04  1969853

[78713 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       70117
7         0.02      101181
11        0.03      171029
15        0.04      166991
19        0.05      166574
...        ...         ...
314835  824.00       40004
314839  824.01       31584
314843  824.02       71281
314847  824.03       60203
314851  824.04        9721

[78713 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     12331949   14818658
1        0.03     17922877   14517523
2        0.04     17428281   14898620
3        0.05     18560413   14913263
4        0.07     26737348   20518906
...       ...          ...        ...
78707  824.00     13540175   14674299
78708  824.01     17331441   14984345
78709  824.02     10926786   14963872
78710  824.03     26299753   14886530
78711  824.04     13478476    7194243

[78712 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1739782       70117
1        0.02  2483880      101181
2        0.03  4093302      171029
3        0.04  3913536      166991
4        0.05  4198766      166574
...       ...      ...         ...
78708  824.00  3074141       40004
78709  824.01  4005984       31584
78710  824.02  2950152       71281
78711  824.03  5002646       60203
78712  824.04  1969853        9721

[78713 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010293   7405564         NaN  instructions     9033960
1         0.010293   1431042         NaN  l1d_cache_rd     9033960
2         0.010293    882030         NaN  l1d_cache_wr     9033960
3         0.010293   2313072         NaN     l1d_cache     9033960
4         0.020853   9513701         NaN  instructions     9828960
...            ...       ...         ...           ...         ...
314691  822.140682   5083257         NaN     l1d_cache    10090240
314692  822.148937  21906081         NaN  instructions     7832760
314693  822.148937   3999603         NaN  l1d_cache_rd     7832760
314694  822.148937   2395430         NaN  l1d_cache_wr     7832760
314695  822.148937   6395033         NaN     l1d_cache     7832760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
314691       100.0         NaN         NaN
314692       100.0         NaN         NaN
314693       100.0         NaN         NaN
314694       100.0         NaN         NaN
314695       100.0         NaN         NaN

[314696 rows x 8 columns]
          time     value       counter
4         0.02   9513701  instructions
8         0.03  17856164  instructions
12        0.04  18921049  instructions
16        0.05  17840711  instructions
20        0.06  20050728  instructions
...        ...       ...           ...
314676  822.11  11854573  instructions
314680  822.12  18029028  instructions
314684  822.13  11151741  instructions
314688  822.14  21321924  instructions
314692  822.15  21906081  instructions

[78673 rows x 3 columns]
instructions
          time instructions
4         0.02      9513701
8         0.03     17856164
12        0.04     18921049
16        0.05     17840711
20        0.06     20050728
...        ...          ...
314676  822.11     11854573
314680  822.12     18029028
314684  822.13     11151741
314688  822.14     21321924
314692  822.15     21906081

[78673 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1431042
5         0.02      1850514
9         0.03      4282052
13        0.04      4587107
17        0.05      4418294
...        ...          ...
314677  822.11      2675418
314681  822.12      4147541
314685  822.13      2336908
314689  822.14      3627037
314693  822.15      3999603

[78674 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01       882030
6         0.02      1141999
10        0.03      2473839
14        0.04      2687745
18        0.05      2562516
...        ...          ...
314678  822.11      1580711
314682  822.12      2148878
314686  822.13      1088939
314690  822.14      1456220
314694  822.15      2395430

[78674 rows x 2 columns]
df5
          time l1d_cache
3         0.01   2313072
7         0.02   2992513
11        0.03   6755891
15        0.04   7274852
19        0.05   6980810
...        ...       ...
314679  822.11   4256129
314683  822.12   6296419
314687  822.13   3425847
314691  822.14   5083257
314695  822.15   6395033

[78674 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02      9513701      1850514
1        0.03     17856164      4282052
2        0.04     18921049      4587107
3        0.05     17840711      4418294
4        0.06     20050728      4851746
...       ...          ...          ...
78668  822.11     11854573      2675418
78669  822.12     18029028      4147541
78670  822.13     11151741      2336908
78671  822.14     21321924      3627037
78672  822.15     21906081      3999603

[78673 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

df7
         time l1d_cache_wr l1d_cache
0        0.01       882030   2313072
1        0.02      1141999   2992513
2        0.03      2473839   6755891
3        0.04      2687745   7274852
4        0.05      2562516   6980810
...       ...          ...       ...
78669  822.11      1580711   4256129
78670  822.12      2148878   6296419
78671  822.13      1088939   3425847
78672  822.14      1456220   5083257
78673  822.15      2395430   6395033

[78674 rows x 3 columns]
              time    value  Unnamed: 2       counter  Unnamed: 4  Unnamed: 5  \
0         0.010128  8084280         NaN  instructions    10011320       100.0
1         0.010128  3375660         NaN       l1d_tlb    10011320       100.0
2         0.010128  2240351         NaN    l1d_tlb_rd    10011320       100.0
3         0.010128  1135309         NaN    l1d_tlb_wr    10011320       100.0
4         0.020631  9742137         NaN  instructions     9753640       100.0
...            ...      ...         ...           ...         ...         ...
315943  826.935401  3023679         NaN    l1d_tlb_wr    10168520       100.0
315944  826.937358  3638976         NaN  instructions     1601680       100.0
315945  826.937358  1331303         NaN       l1d_tlb     1601680       100.0
315946  826.937358   933976         NaN    l1d_tlb_rd     1601680       100.0
315947  826.937358   397327         NaN    l1d_tlb_wr     1601680       100.0

        Unnamed: 6  Unnamed: 7
0              NaN         NaN
1              NaN         NaN
2              NaN         NaN
3              NaN         NaN
4              NaN         NaN
...            ...         ...
315943         NaN         NaN
315944         NaN         NaN
315945         NaN         NaN
315946         NaN         NaN
315947         NaN         NaN

[315948 rows x 8 columns]
          time     value       counter
4         0.02   9742137  instructions
8         0.03  17899779  instructions
12        0.04  17243653  instructions
16        0.05  22383889  instructions
20        0.06  19309761  instructions
...        ...       ...           ...
315928  826.90  17428743  instructions
315932  826.91  12212148  instructions
315936  826.92  16508962  instructions
315940  826.94  27628626  instructions
315944  826.94   3638976  instructions

[78986 rows x 3 columns]
instructions
          time instructions
4         0.02      9742137
8         0.03     17899779
12        0.04     17243653
16        0.05     22383889
20        0.06     19309761
...        ...          ...
315928  826.90     17428743
315932  826.91     12212148
315936  826.92     16508962
315940  826.94     27628626
315944  826.94      3638976

[78986 rows x 2 columns]
df3
          time   l1d_tlb
1         0.01   3375660
5         0.02   4001577
9         0.03   7487503
13        0.04   7330607
17        0.05   9571903
...        ...       ...
315929  826.90   6519505
315933  826.91   4500965
315937  826.92   4541454
315941  826.94  10801932
315945  826.94   1331303

[78987 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2240351
6         0.02    2627693
10        0.03    4822399
14        0.04    4704638
18        0.05    6166823
...        ...        ...
315930  826.90    4359761
315934  826.91    3088922
315938  826.92    3624662
315942  826.94    7778253
315946  826.94     933976

[78987 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1135309
7         0.02    1373884
11        0.03    2665104
15        0.04    2625969
19        0.05    3405080
...        ...        ...
315931  826.90    2159744
315935  826.91    1412043
315939  826.92     916792
315943  826.94    3023679
315947  826.94     397327

[78987 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.02      9742137   4001577
1        0.03     17899779   7487503
2        0.04     17243653   7330607
3        0.05     22383889   9571903
4        0.06     19309761   8144596
...       ...          ...       ...
78983  826.92     16508962   4541454
78984  826.94     27628626  10801932
78985  826.94     27628626   1331303
78986  826.94      3638976  10801932
78987  826.94      3638976   1331303

[78988 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2240351    1135309
1        0.02    2627693    1373884
2        0.03    4822399    2665104
3        0.04    4704638    2625969
4        0.05    6166823    3405080
...       ...        ...        ...
78984  826.92    3624662     916792
78985  826.94    7778253    3023679
78986  826.94    7778253     397327
78987  826.94     933976    3023679
78988  826.94     933976     397327

[78989 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010684   7418024         NaN  instructions     9424200
1         0.010684    291651         NaN  l2d_cache_rd     9424200
2         0.010684    101747         NaN  l2d_cache_wr     9424200
3         0.010684    393398         NaN     l2d_cache     9424200
4         0.021180   9330078         NaN  instructions     9835920
...            ...       ...         ...           ...         ...
315551  825.569624   1066117         NaN     l2d_cache    11860920
315552  825.577001  18551605         NaN  instructions     6944800
315553  825.577001     86099         NaN  l2d_cache_rd     6944800
315554  825.577001     77163         NaN  l2d_cache_wr     6944800
315555  825.577001    163262         NaN     l2d_cache     6944800

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
315551       100.0         NaN         NaN
315552       100.0         NaN         NaN
315553       100.0         NaN         NaN
315554       100.0         NaN         NaN
315555       100.0         NaN         NaN

[315556 rows x 8 columns]
          time     value       counter
4         0.02   9330078  instructions
8         0.03  17424293  instructions
12        0.04  17090517  instructions
16        0.05  17396291  instructions
20        0.06  22791592  instructions
...        ...       ...           ...
315536  825.54  11696820  instructions
315540  825.55  18654710  instructions
315544  825.56  10862828  instructions
315548  825.57  24681667  instructions
315552  825.58  18551605  instructions

[78888 rows x 3 columns]
instructions
          time instructions
4         0.02      9330078
8         0.03     17424293
12        0.04     17090517
16        0.05     17396291
20        0.06     22791592
...        ...          ...
315536  825.54     11696820
315540  825.55     18654710
315544  825.56     10862828
315548  825.57     24681667
315552  825.58     18551605

[78888 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       291651
5         0.02       312283
9         0.03       457548
13        0.04       532040
17        0.05       527955
...        ...          ...
315537  825.54       304560
315541  825.55       294492
315545  825.56       306239
315549  825.57       554681
315553  825.58        86099

[78889 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       101747
6         0.02       106367
10        0.03       106392
14        0.04       111116
18        0.05       111412
...        ...          ...
315538  825.54       101708
315542  825.55       181237
315546  825.56       250754
315550  825.57       511436
315554  825.58        77163

[78889 rows x 2 columns]
df5
          time l2d_cache
3         0.01    393398
7         0.02    418650
11        0.03    563940
15        0.04    643156
19        0.05    639367
...        ...       ...
315539  825.54    406268
315543  825.55    475729
315547  825.56    556993
315551  825.57   1066117
315555  825.58    163262

[78889 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02      9330078       312283
1        0.03     17424293       457548
2        0.04     17090517       532040
3        0.05     17396291       527955
4        0.06     22791592       532084
...       ...          ...          ...
78883  825.54     11696820       304560
78884  825.55     18654710       294492
78885  825.56     10862828       306239
78886  825.57     24681667       554681
78887  825.58     18551605        86099

[78888 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       101747    393398
1        0.02       106367    418650
2        0.03       106392    563940
3        0.04       111116    643156
4        0.05       111412    639367
...       ...          ...       ...
78884  825.54       101708    406268
78885  825.55       181237    475729
78886  825.56       250754    556993
78887  825.57       511436   1066117
78888  825.58        77163    163262

[78889 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010123   9241398         NaN      instructions    11229120
1         0.010123   3342206         NaN         l1i_cache    11229120
2         0.010123    221602         NaN  l1i_cache_refill    11229120
3         0.010123     79717         NaN     remote_access    11229120
4         0.020621  11168193         NaN      instructions     9940320
...            ...       ...         ...               ...         ...
314183  822.122767      4475         NaN     remote_access    10024440
314184  822.126403   8300647         NaN      instructions     3210840
314185  822.126403   2308038         NaN         l1i_cache     3210840
314186  822.126403      5974         NaN  l1i_cache_refill     3210840
314187  822.126403      4157         NaN     remote_access     3210840

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
314183       100.0         NaN         NaN
314184       100.0         NaN         NaN
314185       100.0         NaN         NaN
314186       100.0         NaN         NaN
314187       100.0         NaN         NaN

[314188 rows x 8 columns]
          time     value       counter
4         0.02  11168193  instructions
8         0.03  18362985  instructions
12        0.04  16758950  instructions
16        0.05  18367424  instructions
20        0.06  18943660  instructions
...        ...       ...           ...
314168  822.09  17549066  instructions
314172  822.10  12225759  instructions
314176  822.11  12920806  instructions
314180  822.12  27096906  instructions
314184  822.13   8300647  instructions

[78546 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]

instructions
          time instructions
4         0.02     11168193
8         0.03     18362985
12        0.04     16758950
16        0.05     18367424
20        0.06     18943660
...        ...          ...
314168  822.09     17549066
314172  822.10     12225759
314176  822.11     12920806
314180  822.12     27096906
314184  822.13      8300647

[78546 rows x 2 columns]
df3
          time l1i_cache
1         0.01   3342206
5         0.02   4279246
9         0.03   7347257
13        0.04   6786896
17        0.05   7323211
...        ...       ...
314169  822.09   5425583
314173  822.10   4082599
314177  822.11   5048254
314181  822.12   7628156
314185  822.13   2308038

[78547 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           221602
6         0.02           259307
10        0.03           368089
14        0.04           423932
18        0.05           402102
...        ...              ...
314170  822.09           152127
314174  822.10            57049
314178  822.11            13421
314182  822.12             9944
314186  822.13             5974

[78547 rows x 2 columns]
df5
          time remote_access
3         0.01         79717
7         0.02         51210
11        0.03         21957
15        0.04         23334
19        0.05         21437
...        ...           ...
314171  822.09          4263
314175  822.10          4162
314179  822.11          4358
314183  822.12          4475
314187  822.13          4157

[78547 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     11168193   4279246
1        0.03     18362985   7347257
2        0.04     16758950   6786896
3        0.05     18367424   7323211
4        0.06     18943660   7348967
...       ...          ...       ...
78541  822.09     17549066   5425583
78542  822.10     12225759   4082599
78543  822.11     12920806   5048254
78544  822.12     27096906   7628156
78545  822.13      8300647   2308038

[78546 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           221602         79717
1        0.02           259307         51210
2        0.03           368089         21957
3        0.04           423932         23334
4        0.05           402102         21437
...       ...              ...           ...
78542  822.09           152127          4263
78543  822.10            57049          4162
78544  822.11            13421          4358
78545  822.12             9944          4475
78546  822.13             5974          4157

[78547 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010094   6968315         NaN  instructions     8808240
1         0.010094     14041         NaN     dtlb_walk     8808240
2         0.010094      1078         NaN     itlb_walk     8808240
3         0.010094   2351960         NaN       l1i_tlb     8808240
4         0.022993  13259828         NaN  instructions    12150560
...            ...       ...         ...           ...         ...
315607  824.329564   5443040         NaN       l1i_tlb    10206280
315608  824.333173   8237648         NaN  instructions     3228560
315609  824.333173      1186         NaN     dtlb_walk     3228560
315610  824.333173         5         NaN     itlb_walk     3228560
315611  824.333173   1649561         NaN       l1i_tlb     3228560

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
315607       100.0         NaN         NaN
315608       100.0         NaN         NaN
315609       100.0         NaN         NaN
315610       100.0         NaN         NaN
315611       100.0         NaN         NaN

[315612 rows x 8 columns]
          time     value       counter
4         0.02  13259828  instructions
8         0.03  18092100  instructions
12        0.04  17306030  instructions
16        0.05  18186403  instructions
20        0.06  19161132  instructions
...        ...       ...           ...
315592  824.30  16375783  instructions
315596  824.31  13574890  instructions
315600  824.32  13771140  instructions
315604  824.33  26495599  instructions
315608  824.33   8237648  instructions

[78902 rows x 3 columns]
instructions
          time instructions
4         0.02     13259828
8         0.03     18092100
12        0.04     17306030
16        0.05     18186403
20        0.06     19161132
...        ...          ...
315592  824.30     16375783
315596  824.31     13574890
315600  824.32     13771140
315604  824.33     26495599
315608  824.33      8237648

[78902 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     14041
5         0.02     13393
9         0.03      2096
13        0.04      2560
17        0.05      2790
...        ...       ...
315593  824.30     11448
315597  824.31     21262
315601  824.32     36733
315605  824.33      4139
315609  824.33      1186

[78903 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1078
6         0.02      1598
10        0.03       719
14        0.04       701
18        0.05       731
...        ...       ...
315594  824.30       786
315598  824.31       904
315602  824.32       191
315606  824.33       182
315610  824.33         5

[78903 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  2351960
7         0.02  4445405
11        0.03  6023288
15        0.04  5898094
19        0.05  6026385
...        ...      ...
315595  824.30  4254495
315599  824.31  3784326
315603  824.32  4945740
315607  824.33  5443040
315611  824.33  1649561

[78903 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     13259828     13393
1        0.03     18092100      2096
2        0.04     17306030      2560
3        0.05     18186403      2790
4        0.06     19161132      3255
...       ...          ...       ...
78899  824.32     13771140     36733
78900  824.33     26495599      4139
78901  824.33     26495599      1186
78902  824.33      8237648      4139
78903  824.33      8237648      1186

[78904 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1078  2351960
1        0.02      1598  4445405
2        0.03       719  6023288
3        0.04       701  5898094
4        0.05       731  6026385
...       ...       ...      ...
78900  824.32       191  4945740
78901  824.33       182  5443040
78902  824.33       182  1649561
78903  824.33         5  5443040
78904  824.33         5  1649561

[78905 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010149   9839958         NaN  instructions    11144000
1         0.010149     68408         NaN       l2d_tlb    11144000
2         0.010149     56645         NaN    l2d_tlb_rd    11144000
3         0.010149     11763         NaN    l2d_tlb_wr    11144000
4         0.020549  13446194         NaN  instructions     9812760
...            ...       ...         ...           ...         ...
314995  824.431257      4627         NaN    l2d_tlb_wr    10127720
314996  824.440271  22871073         NaN  instructions     8595200
314997  824.440271     28982         NaN       l2d_tlb     8595200
314998  824.440271     19437         NaN    l2d_tlb_rd     8595200
314999  824.440271      9545         NaN    l2d_tlb_wr     8595200

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
314995       100.0         NaN         NaN
314996       100.0         NaN         NaN
314997       100.0         NaN         NaN
314998       100.0         NaN         NaN
314999       100.0         NaN         NaN

[315000 rows x 8 columns]
          time     value       counter
4         0.02  13446194  instructions
8         0.03  18144795  instructions
12        0.04  17717034  instructions
16        0.05  18730257  instructions
20        0.06  20247544  instructions
...        ...       ...           ...
314980  824.40  12030014  instructions
314984  824.41  17863112  instructions
314988  824.42  11101141  instructions
314992  824.43  20048739  instructions
314996  824.44  22871073  instructions

[78749 rows x 3 columns]
instructions
          time instructions
4         0.02     13446194
8         0.03     18144795
12        0.04     17717034
16        0.05     18730257
20        0.06     20247544
...        ...          ...
314980  824.40     12030014
314984  824.41     17863112
314988  824.42     11101141
314992  824.43     20048739
314996  824.44     22871073

[78749 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   68408
5         0.02   95829
9         0.03  168173
13        0.04  172651
17        0.05  178431
...        ...     ...
314981  824.40  158572
314985  824.41  111030
314989  824.42  121929
314993  824.43   65553
314997  824.44   28982

[78750 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      56645
6         0.02      87798
10        0.03     160277
14        0.04     164343
18        0.05     169768
...        ...        ...
314982  824.40     146292
314986  824.41     102761
314990  824.42     114090
314994  824.43      60926
314998  824.44      19437

[78750 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      11763
7         0.02       8031
11        0.03       7896
15        0.04       8308
19        0.05       8663
...        ...        ...
314983  824.40      12280
314987  824.41       8269
314991  824.42       7839
314995  824.43       4627
314999  824.44       9545

[78750 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     13446194   95829
1        0.03     18144795  168173
2        0.04     17717034  172651
3        0.05     18730257  178431
4        0.06     20247544  165742
...       ...          ...     ...
78744  824.40     12030014  158572
78745  824.41     17863112  111030
78746  824.42     11101141  121929
78747  824.43     20048739   65553
78748  824.44     22871073   28982

[78749 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      56645      11763
1        0.02      87798       8031
2        0.03     160277       7896
3        0.04     164343       8308
4        0.05     169768       8663
...       ...        ...        ...
78745  824.40     146292      12280
78746  824.41     102761       8269
78747  824.42     114090       7839
78748  824.43      60926       4627
78749  824.44      19437       9545

[78750 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010175   7962634         NaN  instructions     8882440
1         0.010175        17         NaN      vfp_spec     8882440
2         0.010175   9554601         NaN     inst_spec     8882440
3         0.010175      4965         NaN      ase_spec     8882440
4         0.021346  12076094         NaN  instructions    10583480
...            ...       ...         ...           ...         ...
314803  822.600637         0         NaN      ase_spec    10046240
314804  822.602533   3658473         NaN  instructions     1587240
314805  822.602533         0         NaN      vfp_spec     1587240
314806  822.602533   3797134         NaN     inst_spec     1587240
314807  822.602533         0         NaN      ase_spec     1587240

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
314803       100.0         NaN         NaN
314804       100.0         NaN         NaN
314805       100.0         NaN         NaN
314806       100.0         NaN         NaN
314807       100.0         NaN         NaN

[314808 rows x 8 columns]
          time     value       counter
4         0.02  12076094  instructions
8         0.03  18514166  instructions
12        0.04  16373224  instructions
16        0.05  21075760  instructions
20        0.06  19694769  instructions
...        ...       ...           ...
314788  822.57  18123708  instructions
314792  822.58  12029981  instructions
314796  822.59  16866262  instructions
314800  822.60  26914049  instructions
314804  822.60   3658473  instructions

[78701 rows x 3 columns]
instructions
          time instructions
4         0.02     12076094
8         0.03     18514166
12        0.04     16373224
16        0.05     21075760
20        0.06     19694769
...        ...          ...
314788  822.57     18123708
314792  822.58     12029981
314796  822.59     16866262
314800  822.60     26914049
314804  822.60      3658473

[78701 rows x 2 columns]
df3
          time vfp_spec
1         0.01       17
5         0.02      300
9         0.03     2962
13        0.04      965
17        0.05      883
...        ...      ...
314789  822.57        0
314793  822.58        0
314797  822.59        0
314801  822.60        0
314805  822.60        0

[78702 rows x 2 columns]
df4
          time inst_spec
2         0.01   9554601
6         0.02  14849796
10        0.03  23074766
14        0.04  20548561
18        0.05  26328996
...        ...       ...
314790  822.57  19374701
314794  822.58  13663898
314798  822.59  21342351
314802  822.60  27953297
314806  822.60   3797134

[78702 rows x 2 columns]
df5
          time ase_spec
3         0.01     4965
7         0.02    12329
11        0.03    27368
15        0.04    12846
19        0.05    13458
...        ...      ...
314791  822.57     2343
314795  822.58      549
314799  822.59        3
314803  822.60        0
314807  822.60        0

[78702 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     12076094      300
1        0.03     18514166     2962
2        0.04     16373224      965
3        0.05     21075760      883
4        0.06     19694769      315
...       ...          ...      ...
78698  822.59     16866262        0
78699  822.60     26914049        0
78700  822.60     26914049        0
78701  822.60      3658473        0
78702  822.60      3658473        0

[78703 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01   9554601     4965
1        0.02  14849796    12329
2        0.03  23074766    27368
3        0.04  20548561    12846
4        0.05  26328996    13458
...       ...       ...      ...
78699  822.59  21342351        3
78700  822.60  27953297        0
78701  822.60  27953297        0
78702  822.60   3797134        0
78703  822.60   3797134        0

[78704 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010104   9794822         NaN      instructions    11070520
1         0.010104   5783987         NaN     stall_backend    11070520
2         0.010104   7068174         NaN    stall_frontend    11070520
3         0.010104    165122         NaN  ll_cache_miss_rd    11070520
4         0.020522  13970758         NaN      instructions     9957840
...            ...       ...         ...               ...         ...
314423  821.651501    155723         NaN  ll_cache_miss_rd    10081400
314424  821.654856   7329230         NaN      instructions     2986800
314425  821.654856   1910867         NaN     stall_backend     2986800
314426  821.654856    279496         NaN    stall_frontend     2986800
314427  821.654856     42268         NaN  ll_cache_miss_rd     2986800

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
314423       100.0         NaN         NaN
314424       100.0         NaN         NaN
314425       100.0         NaN         NaN
314426       100.0         NaN         NaN
314427       100.0         NaN         NaN

[314428 rows x 8 columns]
          time     value       counter
4         0.02  13970758  instructions
8         0.03  17709017  instructions
12        0.04  17199227  instructions
16        0.05  18925814  instructions
20        0.06  19893925  instructions
...        ...       ...           ...
314408  821.62  15452832  instructions
314412  821.63  14742451  instructions
314416  821.64  14372493  instructions
314420  821.65  25956543  instructions
314424  821.65   7329230  instructions

[78606 rows x 3 columns]
instructions
          time instructions
4         0.02     13970758
8         0.03     17709017
12        0.04     17199227
16        0.05     18925814
20        0.06     19893925
...        ...          ...
314408  821.62     15452832
314412  821.63     14742451
314416  821.64     14372493
314420  821.65     25956543
314424  821.65      7329230

[78606 rows x 2 columns]
df3
          time stall_backend
1         0.01       5783987
5         0.02       4183097
9         0.03       2360517
13        0.04       2464150
17        0.05       2307335
...        ...           ...
314409  821.62       8227110
314413  821.63       9215048
314417  821.64       8629608
314421  821.65       6636490
314425  821.65       1910867

[78607 rows x 2 columns]
df4
          time stall_frontend
2         0.01        7068174
6         0.02        5535571
10        0.03        5012192
14        0.04        5638935
18        0.05        5140264
...        ...            ...
314410  821.62        1511053
314414  821.63         873034
314418  821.64         613560
314422  821.65         505259
314426  821.65         279496

[78607 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           165122
7         0.02           114587
11        0.03            88780
15        0.04           100924
19        0.05            92266
...        ...              ...
314411  821.62            98027
314415  821.63           217085
314419  821.64           649097
314423  821.65           155723
314427  821.65            42268

[78607 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     13970758       4183097
1        0.03     17709017       2360517
2        0.04     17199227       2464150
3        0.05     18925814       2307335
4        0.06     19893925       2459756
...       ...          ...           ...
78603  821.64     14372493       8629608
78604  821.65     25956543       6636490
78605  821.65     25956543       1910867
78606  821.65      7329230       6636490
78607  821.65      7329230       1910867

[78608 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        7068174           165122
1        0.02        5535571           114587
2        0.03        5012192            88780
3        0.04        5638935           100924
4        0.05        5140264            92266
...       ...            ...              ...
78604  821.64         613560           649097
78605  821.65         505259           155723
78606  821.65         505259            42268
78607  821.65         279496           155723
78608  821.65         279496            42268

[78609 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010120   7724254         NaN   instructions     8891440
1         0.010120   2418045         NaN     mem_access     8891440
2         0.010120   1491782         NaN  mem_access_rd     8891440
3         0.010120    926263         NaN  mem_access_wr     8891440
4         0.023279  16684989         NaN   instructions    12448240
...            ...       ...         ...            ...         ...
315675  825.561975   2420456         NaN  mem_access_wr     9911120
315676  825.566283   9890293         NaN   instructions     3816120
315677  825.566283   2902406         NaN     mem_access     3816120
315678  825.566283   1814157         NaN  mem_access_rd     3816120
315679  825.566283   1088249         NaN  mem_access_wr     3816120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
315675       100.0         NaN         NaN
315676       100.0         NaN         NaN
315677       100.0         NaN         NaN
315678       100.0         NaN         NaN
315679       100.0         NaN         NaN

[315680 rows x 8 columns]
          time     value       counter
4         0.02  16684989  instructions
8         0.03  18361779  instructions
12        0.04  17285114  instructions
16        0.05  18685991  instructions
20        0.06  20416043  instructions
...        ...       ...           ...
315660  825.53  14834609  instructions
315664  825.54  15244785  instructions
315668  825.55  13026293  instructions
315672  825.56  25448365  instructions
315676  825.57   9890293  instructions

[78919 rows x 3 columns]
instructions
          time instructions
4         0.02     16684989
8         0.03     18361779
12        0.04     17285114
16        0.05     18685991
20        0.06     20416043
...        ...          ...
315660  825.53     14834609
315664  825.54     15244785
315668  825.55     13026293
315672  825.56     25448365
315676  825.57      9890293

[78919 rows x 2 columns]
df3
          time mem_access
1         0.01    2418045
5         0.02    5659453
9         0.03    7101426
13        0.04    6675237
17        0.05    7232485
...        ...        ...
315661  825.53    5188878
315665  825.54    5009957
315669  825.55    3259520
315673  825.56    6968110
315677  825.57    2902406

[78920 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1491782
6         0.02       3529808
10        0.03       4510897
14        0.04       4208925
18        0.05       4597721
...        ...           ...
315662  825.53       3370444
315666  825.54       3338063
315670  825.55       2420589
315674  825.56       4547654
315678  825.57       1814157

[78920 rows x 2 columns]
df5
          time mem_access_wr
3         0.01        926263
7         0.02       2129645
11        0.03       2590529
15        0.04       2466312
19        0.05       2634764
...        ...           ...
315663  825.53       1818434
315667  825.54       1671894
315671  825.55        838931
315675  825.56       2420456
315679  825.57       1088249

[78920 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     16684989    5659453
1        0.03     18361779    7101426
2        0.04     17285114    6675237
3        0.05     18685991    7232485
4        0.06     20416043    7788277
...       ...          ...        ...
78914  825.53     14834609    5188878
78915  825.54     15244785    5009957
78916  825.55     13026293    3259520
78917  825.56     25448365    6968110
78918  825.57      9890293    2902406

[78919 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1491782        926263
1        0.02       3529808       2129645
2        0.03       4510897       2590529
3        0.04       4208925       2466312
4        0.05       4597721       2634764
...       ...           ...           ...
78915  825.53       3370444       1818434
78916  825.54       3338063       1671894
78917  825.55       2420589        838931
78918  825.56       4547654       2420456
78919  825.57       1814157       1088249

[78920 rows x 3 columns]
merged_df
         time instructions cpu-cycles  br_pred br_mis_pred   l1d_cache_rd  \
0        0.02     12331949   14818658  2483880      101181        1850514
1        0.03     17922877   14517523  4093302      171029        4282052
2        0.04     17428281   14898620  3913536      166991        4587107
3        0.05     18560413   14913263  4198766      166574        4418294
4        0.08     27302057   14951116  6735482      123690        6055400
...       ...          ...        ...      ...         ...            ...
52600  821.65     33166263   14967136  6673799       33997  <not counted>
52601  821.65     33166263   14967136  6673799       33997  <not counted>
52602  821.65     33166263   14967136  6673799       33997  <not counted>
52603  821.65     33166263   14967136  6673799       33997  <not counted>
52604  821.65     33166263   14967136  6673799       33997  <not counted>

        l1d_cache_wr      l1d_cache  l1d_tlb l1d_tlb_rd  ... l2d_tlb_wr  \
0            1141999        2992513  4001577    2627693  ...       8031
1            2473839        6755891  7487503    4822399  ...       7896
2            2687745        7274852  7330607    4704638  ...       8308
3            2562516        6980810  9571903    6166823  ...       8663
4            2348551        8403951  8886259    6424428  ...       7410
...              ...            ...      ...        ...  ...        ...
52600  <not counted>  <not counted>  9664332    6484509  ...      22635
52601  <not counted>  <not counted>  9664332    6484509  ...      22635
52602  <not counted>  <not counted>  9664332    6484509  ...      22635
52603  <not counted>  <not counted>  9664332    6484509  ...      22635
52604  <not counted>  <not counted>  9664332    6484509  ...      22635

      vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0          300  14849796    12329       4183097        5535571
1         2962  23074766    27368       2360517        5012192
2          965  20548561    12846       2464150        5638935
3          883  26328996    13458       2307335        5140264
4          135  32509224    15778       2087163        3239966
...        ...       ...      ...           ...            ...
52600    15832  33015023     1072       6636490         279496
52601    15832  33015023     1072       1910867         505259
52602    15832  33015023     1072       1910867         505259
52603    15832  33015023     1072       1910867         279496
52604    15832  33015023     1072       1910867         279496

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               114587    5659453       3529808       2129645
1                88780    7101426       4510897       2590529
2               100924    6675237       4208925       2466312
3                92266    7232485       4597721       2634764
4                46720    8539413       5887345       2652068
...                ...        ...           ...           ...
52600            42268    9521304       6087413       3433891
52601           155723    9521304       6087413       3433891
52602            42268    9521304       6087413       3433891
52603           155723    9521304       6087413       3433891
52604            42268    9521304       6087413       3433891

[52605 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010156   9379873         NaN  instructions    10991080
1         0.010156  16328869         NaN    cpu-cycles    10991080
2         0.010156   1728360         NaN       br_pred    10991080
3         0.010156     68754         NaN   br_mis_pred    10991080
4         0.020643  13015277         NaN  instructions     9914000
...            ...       ...         ...           ...         ...
219907  579.828541     16344         NaN   br_mis_pred    10072320
219908  579.831977   7554289         NaN  instructions     2975760
219909  579.831977   4444241         NaN    cpu-cycles     2975760
219910  579.831977   1102124         NaN       br_pred     2975760
219911  579.831977      3419         NaN   br_mis_pred     2975760

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.57  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.88  insn per cycle
...            ...         ...             ...
219907       100.0         NaN             NaN
219908       100.0        1.70  insn per cycle
219909       100.0         NaN             NaN
219910       100.0         NaN             NaN
219911       100.0         NaN             NaN

[219912 rows x 8 columns]
          time     value       counter
4         0.02  13015277  instructions
8         0.03  18123096  instructions
12        0.04  17417894  instructions
16        0.05  18568292  instructions
20        0.06  19615328  instructions
...        ...       ...           ...
219892  579.80  16190999  instructions
219896  579.81  13645024  instructions
219900  579.82  14385014  instructions
219904  579.83  25764467  instructions
219908  579.83   7554289  instructions

[54977 rows x 3 columns]
instructions
          time instructions
4         0.02     13015277
8         0.03     18123096
12        0.04     17417894
16        0.05     18568292
20        0.06     19615328
...        ...          ...
219892  579.80     16190999
219896  579.81     13645024
219900  579.82     14385014
219904  579.83     25764467
219908  579.83      7554289

[54977 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   16328869
5         0.02   14783117
9         0.03   14555970
13        0.04   14885897
17        0.05   14986832
...        ...        ...
219893  579.80   14807362
219897  579.81   14892950
219901  579.82   14915339
219905  579.83   15025373
219909  579.83    4444241

[54978 rows x 2 columns]
df4
          time  br_pred
2         0.01  1728360
6         0.02  2637655
10        0.03  4149103
14        0.04  3921487
18        0.05  4215250
...        ...      ...
219894  579.80  3607165
219898  579.81  3213885
219902  579.82  4201179
219906  579.83  3935632
219910  579.83  1102124

[54978 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       68754
7         0.02      102110
11        0.03      177536
15        0.04      166370
19        0.05      171859
...        ...         ...
219895  579.80       33368
219899  579.81       33931
219903  579.82      106981
219907  579.83       16344
219911  579.83        3419

[54978 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     13015277   14783117
1        0.03     18123096   14555970
2        0.04     17417894   14885897
3        0.05     18568292   14986832
4        0.06     19615328   14876935
...       ...          ...        ...
54974  579.82     14385014   14915339
54975  579.83     25764467   15025373
54976  579.83     25764467    4444241
54977  579.83      7554289   15025373
54978  579.83      7554289    4444241

[54979 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1728360       68754
1        0.02  2637655      102110
2        0.03  4149103      177536
3        0.04  3921487      166370
4        0.05  4215250      171859
...       ...      ...         ...
54975  579.82  4201179      106981
54976  579.83  3935632       16344
54977  579.83  3935632        3419
54978  579.83  1102124       16344
54979  579.83  1102124        3419

[54980 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010155   9111058         NaN  instructions    11067920
1         0.010155   1752895         NaN  l1d_cache_rd    11067920
2         0.010155   1094790         NaN  l1d_cache_wr    11067920
3         0.010155   2847685         NaN     l1d_cache    11067920
4         0.020661  10927040         NaN  instructions     9863440
...            ...       ...         ...           ...         ...
219447  578.830012   7973707         NaN     l1d_cache    10730480
219448  578.832604   5319806         NaN  instructions     2179720
219449  578.832604    965129         NaN  l1d_cache_rd     2179720
219450  578.832604    576109         NaN  l1d_cache_wr     2179720
219451  578.832604   1541238         NaN     l1d_cache     2179720

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
219447       100.0         NaN         NaN
219448       100.0         NaN         NaN
219449       100.0         NaN         NaN
219450       100.0         NaN         NaN
219451       100.0         NaN         NaN

[219452 rows x 8 columns]
          time     value       counter
4         0.02  10927040  instructions
8         0.03  18269523  instructions
12        0.04  17239485  instructions
16        0.05  18472054  instructions
20        0.06  18980454  instructions
...        ...       ...           ...
219432  578.80  16041888  instructions
219436  578.81  13903613  instructions
219440  578.82  14556901  instructions
219444  578.83  27844300  instructions
219448  578.83   5319806  instructions

[54862 rows x 3 columns]
instructions
          time instructions
4         0.02     10927040
8         0.03     18269523
12        0.04     17239485
16        0.05     18472054
20        0.06     18980454
...        ...          ...
219432  578.80     16041888
219436  578.81     13903613
219440  578.82     14556901
219444  578.83     27844300
219448  578.83      5319806

[54862 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1752895
5         0.02      2275428
9         0.03      4394422
13        0.04      4171453
17        0.05      4522956
...        ...          ...
219433  578.80      3690099
219437  578.81      3001925
219441  578.82      2587628
219445  578.83      5055088
219449  578.83       965129

[54863 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1094790
6         0.02      1380402
10        0.03      2528806
14        0.04      2434105
18        0.05      2582630
...        ...          ...
219434  578.80      1913494
219438  578.81      1553970
219442  578.82       724938
219446  578.83      2918619
219450  578.83       576109

[54863 rows x 2 columns]
df5
          time l1d_cache
3         0.01   2847685
7         0.02   3655830
11        0.03   6923228
15        0.04   6605558
19        0.05   7105586
...        ...       ...
219435  578.80   5603593
219439  578.81   4555895
219443  578.82   3312566
219447  578.83   7973707
219451  578.83   1541238

[54863 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     10927040      2275428
1        0.03     18269523      4394422
2        0.04     17239485      4171453
3        0.05     18472054      4522956
4        0.06     18980454      4625586
...       ...          ...          ...
54859  578.82     14556901      2587628
54860  578.83     27844300      5055088
54861  578.83     27844300       965129
54862  578.83      5319806      5055088
54863  578.83      5319806       965129

[54864 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      1094790   2847685
1        0.02      1380402   3655830
2        0.03      2528806   6923228
3        0.04      2434105   6605558
4        0.05      2582630   7105586
...       ...          ...       ...
54860  578.82       724938   3312566
54861  578.83      2918619   7973707
54862  578.83      2918619   1541238
54863  578.83       576109   7973707
54864  578.83       576109   1541238

[54865 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010153   8211328         NaN      instructions     9938800
1         0.010153   2977885         NaN         l1i_cache     9938800
2         0.010153    206183         NaN  l1i_cache_refill     9938800
3         0.010153     70827         NaN     remote_access     9938800
4         0.020655  10511386         NaN      instructions     9878520
...            ...       ...         ...               ...         ...
218723  576.632177      4281         NaN     remote_access     9989720
218724  576.638161  14315753         NaN      instructions     5547360
218725  576.638161   3925730         NaN         l1i_cache     5547360
218726  576.638161      7076         NaN  l1i_cache_refill     5547360
218727  576.638161      4548         NaN     remote_access     5547360

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
218723       100.0         NaN         NaN
218724       100.0         NaN         NaN
218725       100.0         NaN         NaN
218726       100.0         NaN         NaN
218727       100.0         NaN         NaN

[218728 rows x 8 columns]
          time     value       counter
4         0.02  10511386  instructions
8         0.03  18359034  instructions
12        0.04  16953960  instructions
16        0.05  22411901  instructions
20        0.06  19073772  instructions
...        ...       ...           ...
218708  576.60  14120411  instructions
218712  576.61  16400687  instructions
218716  576.62  11025676  instructions
218720  576.63  24512920  instructions
218724  576.64  14315753  instructions

[54681 rows x 3 columns]
instructions
          time instructions
4         0.02     10511386
8         0.03     18359034
12        0.04     16953960
16        0.05     22411901
20        0.06     19073772
...        ...          ...
218708  576.60     14120411
218712  576.61     16400687
218716  576.62     11025676
218720  576.63     24512920
218724  576.64     14315753

[54681 rows x 2 columns]
df3
          time l1i_cache
1         0.01   2977885
5         0.02   3931681
9         0.03   7366193
13        0.04   6877946
17        0.05   9010851
...        ...       ...
218709  576.60   4801779
218713  576.61   5010405
218717  576.62   4328406
218721  576.63   7254422
218725  576.64   3925730

[54682 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           206183
6         0.02           240543
10        0.03           367061
14        0.04           446210
18        0.05           506535
...        ...              ...
218710  576.60           169954
218714  576.61            54530
218718  576.62            12669
218722  576.63            10278
218726  576.64             7076

[54682 rows x 2 columns]
df5
          time remote_access
3         0.01         70827
7         0.02         56475
11        0.03         23191
15        0.04         22410
19        0.05         28008
...        ...           ...
218711  576.60          4107
218715  576.61          3937
218719  576.62          3070
218723  576.63          4281
218727  576.64          4548

[54682 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     10511386   3931681
1        0.03     18359034   7366193
2        0.04     16953960   6877946
3        0.05     22411901   9010851
4        0.06     19073772   7370871
...       ...          ...       ...
54676  576.60     14120411   4801779
54677  576.61     16400687   5010405
54678  576.62     11025676   4328406
54679  576.63     24512920   7254422
54680  576.64     14315753   3925730

[54681 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           206183         70827
1        0.02           240543         56475
2        0.03           367061         23191
3        0.04           446210         22410
4        0.05           506535         28008
...       ...              ...           ...
54677  576.60           169954          4107
54678  576.61            54530          3937
54679  576.62            12669          3070
54680  576.63            10278          4281
54681  576.64             7076          4548

[54682 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010153   9137482         NaN  instructions    10402000
1         0.010153    352805         NaN  l2d_cache_rd    10402000
2         0.010153    123371         NaN  l2d_cache_wr    10402000
3         0.010153    476176         NaN     l2d_cache    10402000
4         0.020568  12232844         NaN  instructions     9891320
...            ...       ...         ...           ...         ...
220483  581.289015    264242         NaN     l2d_cache    10047680
220484  581.292295   6808637         NaN  instructions     2863520
220485  581.292295     45743         NaN  l2d_cache_rd     2863520
220486  581.292295     38511         NaN  l2d_cache_wr     2863520
220487  581.292295     84254         NaN     l2d_cache     2863520

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
220483       100.0         NaN         NaN
220484       100.0         NaN         NaN
220485       100.0         NaN         NaN
220486       100.0         NaN         NaN
220487       100.0         NaN         NaN

[220488 rows x 8 columns]
          time     value       counter
4         0.02  12232844  instructions
8         0.03  18299245  instructions
12        0.04  17535991  instructions
16        0.05  18628971  instructions
20        0.06  19356247  instructions
...        ...       ...           ...
220468  581.26  17572790  instructions
220472  581.27  14295619  instructions
220476  581.28  14649387  instructions
220480  581.29  26001186  instructions
220484  581.29   6808637  instructions

[55121 rows x 3 columns]
instructions
          time instructions
4         0.02     12232844
8         0.03     18299245
12        0.04     17535991
16        0.05     18628971
20        0.06     19356247
...        ...          ...
220468  581.26     17572790
220472  581.27     14295619
220476  581.28     14649387
220480  581.29     26001186
220484  581.29      6808637

[55121 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       352805
5         0.02       398566
9         0.03       484385
13        0.04       545038
17        0.05       546177
...        ...          ...
220469  581.26       400070
220473  581.27       229147
220477  581.28       593913
220481  581.29       137565
220485  581.29        45743

[55122 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       123371
6         0.02       118547
10        0.03       109970
14        0.04       114781
18        0.05       119172
...        ...          ...
220470  581.26       183884
220474  581.27       184639
220478  581.28       538349
220482  581.29       126677
220486  581.29        38511

[55122 rows x 2 columns]
df5
          time l2d_cache
3         0.01    476176
7         0.02    517113
11        0.03    594355
15        0.04    659819
19        0.05    665349
...        ...       ...
220471  581.26    583954
220475  581.27    413786
220479  581.28   1132262
220483  581.29    264242
220487  581.29     84254

[55122 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     12232844       398566
1        0.03     18299245       484385
2        0.04     17535991       545038
3        0.05     18628971       546177
4        0.06     19356247       460958
...       ...          ...          ...
55118  581.28     14649387       593913
55119  581.29     26001186       137565
55120  581.29     26001186        45743
55121  581.29      6808637       137565
55122  581.29      6808637        45743

[55123 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       123371    476176
1        0.02       118547    517113
2        0.03       109970    594355
3        0.04       114781    659819
4        0.05       119172    665349
...       ...          ...       ...
55119  581.28       538349   1132262
55120  581.29       126677    264242
55121  581.29       126677     84254
55122  581.29        38511    264242
55123  581.29        38511     84254

[55124 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010119   8445105         NaN  instructions    10612360
1         0.010119   3608950         NaN       l1d_tlb    10612360
2         0.010119   2406722         NaN    l1d_tlb_rd    10612360
3         0.010119   1202228         NaN    l1d_tlb_wr    10612360
4         0.020601  10246847         NaN  instructions     9833840
...            ...       ...         ...           ...         ...
219331  578.593475   2711488         NaN    l1d_tlb_wr    10276000
219332  578.596861   7592398         NaN  instructions     3021800
219333  578.596861   2774525         NaN       l1d_tlb     3021800
219334  578.596861   1951458         NaN    l1d_tlb_rd     3021800
219335  578.596861    823067         NaN    l1d_tlb_wr     3021800

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
219331       100.0         NaN         NaN
219332       100.0         NaN         NaN
219333       100.0         NaN         NaN
219334       100.0         NaN         NaN
219335       100.0         NaN         NaN

[219336 rows x 8 columns]
          time     value       counter
4         0.02  10246847  instructions
8         0.03  17526120  instructions
12        0.04  17519513  instructions
16        0.05  17488696  instructions
20        0.06  20133013  instructions
...        ...       ...           ...
219316  578.56  13329167  instructions
219320  578.57  17157263  instructions
219324  578.58  17249902  instructions
219328  578.59  25960710  instructions
219332  578.60   7592398  instructions

[54833 rows x 3 columns]
instructions
          time instructions
4         0.02     10246847
8         0.03     17526120
12        0.04     17519513
16        0.05     17488696
20        0.06     20133013
...        ...          ...
219316  578.56     13329167
219320  578.57     17157263
219324  578.58     17249902
219328  578.59     25960710
219332  578.60      7592398

[54833 rows x 2 columns]
df3
          time   l1d_tlb
1         0.01   3608950
5         0.02   4188695
9         0.03   7321074
13        0.04   7444222
17        0.05   7521950
...        ...       ...
219317  578.56   5280553
219321  578.57   6147302
219325  578.58   4949129
219329  578.59  10011407
219333  578.60   2774525

[54834 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2406722
6         0.02    2746042
10        0.03    4719795
14        0.04    4779342
18        0.05    4832966
...        ...        ...
219318  578.56    3464610
219322  578.57    4180441
219326  578.58    3826721
219330  578.59    7299919
219334  578.60    1951458

[54834 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1202228
7         0.02    1442653
11        0.03    2601279
15        0.04    2664880
19        0.05    2688984
...        ...        ...
219319  578.56    1815943
219323  578.57    1966861
219327  578.58    1122408
219331  578.59    2711488
219335  578.60     823067

[54834 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.02     10246847   4188695
1        0.03     17526120   7321074
2        0.04     17519513   7444222
3        0.05     17488696   7521950
4        0.06     20133013   8415157
...       ...          ...       ...
54828  578.56     13329167   5280553
54829  578.57     17157263   6147302
54830  578.58     17249902   4949129
54831  578.59     25960710  10011407
54832  578.60      7592398   2774525

[54833 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2406722    1202228
1        0.02    2746042    1442653
2        0.03    4719795    2601279
3        0.04    4779342    2664880
4        0.05    4832966    2688984
...       ...        ...        ...
54829  578.56    3464610    1815943
54830  578.57    4180441    1966861
54831  578.58    3826721    1122408
54832  578.59    7299919    2711488
54833  578.60    1951458     823067

[54834 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010106   7161396         NaN  instructions     8761840
1         0.010106     13749         NaN     dtlb_walk     8761840
2         0.010106      1062         NaN     itlb_walk     8761840
3         0.010106   2426241         NaN       l1i_tlb     8761840
4         0.022097  12017487         NaN  instructions    11196640
...            ...       ...         ...           ...         ...
219415  578.339545   5318120         NaN       l1i_tlb    10199480
219416  578.344068  10484082         NaN  instructions     4114800
219417  578.344068      1255         NaN     dtlb_walk     4114800
219418  578.344068         5         NaN     itlb_walk     4114800
219419  578.344068   2058233         NaN       l1i_tlb     4114800

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
219415       100.0         NaN         NaN
219416       100.0         NaN         NaN
219417       100.0         NaN         NaN
219418       100.0         NaN         NaN
219419       100.0         NaN         NaN

[219420 rows x 8 columns]
          time     value       counter
4         0.02  12017487  instructions
8         0.03  18521601  instructions
12        0.04  16977278  instructions
16        0.05  18878646  instructions
20        0.06  19199046  instructions
...        ...       ...           ...
219400  578.31  15168601  instructions
219404  578.32  14863437  instructions
219408  578.33  12662328  instructions
219412  578.34  25430425  instructions
219416  578.34  10484082  instructions

[54854 rows x 3 columns]
instructions
          time instructions
4         0.02     12017487
8         0.03     18521601
12        0.04     16977278
16        0.05     18878646
20        0.06     19199046
...        ...          ...
219400  578.31     15168601
219404  578.32     14863437
219408  578.33     12662328
219412  578.34     25430425
219416  578.34     10484082

[54854 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     13749
5         0.02     13648
9         0.03      1860
13        0.04      2199
17        0.05      2220
...        ...       ...
219401  578.31     13359
219405  578.32     17043
219409  578.33     34518
219413  578.34      7330
219417  578.34      1255

[54855 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1062
6         0.02      1525
10        0.03       642
14        0.04       671
18        0.05       617
...        ...       ...
219402  578.31       931
219406  578.32       592
219410  578.33       207
219414  578.34       184
219418  578.34         5

[54855 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  2426241
7         0.02  4008217
11        0.03  6196445
15        0.04  5811350
19        0.05  6264653
...        ...      ...
219403  578.31  4171830
219407  578.32  3868957
219411  578.33  4625547
219415  578.34  5318120
219419  578.34  2058233

[54855 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     12017487     13648
1        0.03     18521601      1860
2        0.04     16977278      2199
3        0.05     18878646      2220
4        0.06     19199046      3131
...       ...          ...       ...
54851  578.33     12662328     34518
54852  578.34     25430425      7330
54853  578.34     25430425      1255
54854  578.34     10484082      7330
54855  578.34     10484082      1255

[54856 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1062  2426241
1        0.02      1525  4008217
2        0.03       642  6196445
3        0.04       671  5811350
4        0.05       617  6264653
...       ...       ...      ...
54852  578.33       207  4625547
54853  578.34       184  5318120
54854  578.34       184  2058233
54855  578.34         5  5318120
54856  578.34         5  2058233

[54857 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010119   8839313         NaN  instructions    10733360
1         0.010119     59322         NaN       l2d_tlb    10733360
2         0.010119     49280         NaN    l2d_tlb_rd    10733360
3         0.010119     10042         NaN    l2d_tlb_wr    10733360
4         0.020624  10450233         NaN  instructions     9764800
...            ...       ...         ...           ...         ...
220219  580.990968     13070         NaN    l2d_tlb_wr    11806200
220220  580.991588    416011         NaN  instructions      303120
220221  580.991588      1968         NaN       l2d_tlb      303120
220222  580.991588      1863         NaN    l2d_tlb_rd      303120
220223  580.991588       105         NaN    l2d_tlb_wr      303120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
220219       100.0         NaN         NaN
220220       100.0         NaN         NaN
220221       100.0         NaN         NaN
220222       100.0         NaN         NaN
220223       100.0         NaN         NaN

[220224 rows x 8 columns]
          time     value       counter
4         0.02  10450233  instructions
8         0.03  18019714  instructions
12        0.04  17242767  instructions
16        0.05  18253791  instructions
20        0.06  19356778  instructions
...        ...       ...           ...
220204  580.96  18259607  instructions
220208  580.97  11194110  instructions
220212  580.98  15425602  instructions
220216  580.99  31061642  instructions
220220  580.99    416011  instructions

[55055 rows x 3 columns]
instructions
          time instructions
4         0.02     10450233
8         0.03     18019714
12        0.04     17242767
16        0.05     18253791
20        0.06     19356778
...        ...          ...
220204  580.96     18259607
220208  580.97     11194110
220212  580.98     15425602
220216  580.99     31061642
220220  580.99       416011

[55055 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   59322
5         0.02   77780
9         0.03  153236
13        0.04  171189
17        0.05  169952
...        ...     ...
220205  580.96  133564
220209  580.97  133903
220213  580.98   91284
220217  580.99   39649
220221  580.99    1968

[55056 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      49280
6         0.02      69448
10        0.03     145527
14        0.04     163068
18        0.05     161671
...        ...        ...
220206  580.96     123216
220210  580.97     124947
220214  580.98      87653
220218  580.99      26579
220222  580.99       1863

[55056 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      10042
7         0.02       8332
11        0.03       7709
15        0.04       8121
19        0.05       8281
...        ...        ...
220207  580.96      10348
220211  580.97       8956
220215  580.98       3631
220219  580.99      13070
220223  580.99        105

[55056 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     10450233   77780
1        0.03     18019714  153236
2        0.04     17242767  171189
3        0.05     18253791  169952
4        0.06     19356778  154007
...       ...          ...     ...
55052  580.98     15425602   91284
55053  580.99     31061642   39649
55054  580.99     31061642    1968
55055  580.99       416011   39649
55056  580.99       416011    1968

[55057 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      49280      10042
1        0.02      69448       8332
2        0.03     145527       7709
3        0.04     163068       8121
4        0.05     161671       8281
...       ...        ...        ...
55053  580.98      87653       3631
55054  580.99      26579      13070
55055  580.99      26579        105
55056  580.99       1863      13070
55057  580.99       1863        105

[55058 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010188   9400347         NaN  instructions    11285040
1         0.010188         8         NaN      vfp_spec    11285040
2         0.010188  11275994         NaN     inst_spec    11285040
3         0.010188      5797         NaN      ase_spec    11285040
4         0.020604  12180166         NaN  instructions     9927920
...            ...       ...         ...           ...         ...
219755  579.442686         0         NaN      ase_spec    10002040
219756  579.443705   1043299         NaN  instructions      596000
219757  579.443705         0         NaN      vfp_spec      596000
219758  579.443705   1125857         NaN     inst_spec      596000
219759  579.443705         0         NaN      ase_spec      596000

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
219755       100.0         NaN         NaN
219756       100.0         NaN         NaN
219757       100.0         NaN         NaN
219758       100.0         NaN         NaN
219759       100.0         NaN         NaN

[219760 rows x 8 columns]
          time     value       counter
4         0.02  12180166  instructions
8         0.03  18059473  instructions
12        0.04  17234058  instructions
16        0.05  18052041  instructions
20        0.06  19395901  instructions
...        ...       ...           ...
219740  579.41  20633335  instructions
219744  579.42  10634140  instructions
219748  579.43  17364434  instructions
219752  579.44  26682227  instructions
219756  579.44   1043299  instructions

[54939 rows x 3 columns]
instructions
          time instructions
4         0.02     12180166
8         0.03     18059473
12        0.04     17234058
16        0.05     18052041
20        0.06     19395901
...        ...          ...
219740  579.41     20633335
219744  579.42     10634140
219748  579.43     17364434
219752  579.44     26682227
219756  579.44      1043299

[54939 rows x 2 columns]
df3
          time vfp_spec
1         0.01        8
5         0.02      793
9         0.03     2685
13        0.04      781
17        0.05      775
...        ...      ...
219741  579.41        0
219745  579.42        0
219749  579.43        0
219753  579.44        0
219757  579.44        0

[54940 rows x 2 columns]
df4
          time inst_spec
2         0.01  11275994
6         0.02  14879838
10        0.03  22717599
14        0.04  21653502
18        0.05  22450729
...        ...       ...
219742  579.41  22110027
219746  579.42  12293834
219750  579.43  21508004
219754  579.44  27484942
219758  579.44   1125857

[54940 rows x 2 columns]
df5
          time ase_spec
3         0.01     5797
7         0.02    14978
11        0.03    24550
15        0.04    12695
19        0.05    11939
...        ...      ...
219743  579.41     2223
219747  579.42      363
219751  579.43        0
219755  579.44        0
219759  579.44        0

[54940 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     12180166      793
1        0.03     18059473     2685
2        0.04     17234058      781
3        0.05     18052041      775
4        0.06     19395901      394
...       ...          ...      ...
54936  579.43     17364434        0
54937  579.44     26682227        0
54938  579.44     26682227        0
54939  579.44      1043299        0
54940  579.44      1043299        0

[54941 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  11275994     5797
1        0.02  14879838    14978
2        0.03  22717599    24550
3        0.04  21653502    12695
4        0.05  22450729    11939
...       ...       ...      ...
54937  579.43  21508004        0
54938  579.44  27484942        0
54939  579.44  27484942        0
54940  579.44   1125857        0
54941  579.44   1125857        0

[54942 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010095   6748086         NaN      instructions     8731120
1         0.010095   4349189         NaN     stall_backend     8731120
2         0.010095   6117983         NaN    stall_frontend     8731120
3         0.010095    131759         NaN  ll_cache_miss_rd     8731120
4         0.021743  11104677         NaN      instructions    10884760
...            ...       ...         ...               ...         ...
220407  581.370500    292328         NaN  ll_cache_miss_rd    10250960
220408  581.374422   9162241         NaN      instructions     3509320
220409  581.374422   2184765         NaN     stall_backend     3509320
220410  581.374422    283313         NaN    stall_frontend     3509320
220411  581.374422     44188         NaN  ll_cache_miss_rd     3509320

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
220407       100.0         NaN         NaN
220408       100.0         NaN         NaN
220409       100.0         NaN         NaN
220410       100.0         NaN         NaN
220411       100.0         NaN         NaN

[220412 rows x 8 columns]
          time     value       counter
4         0.02  11104677  instructions
8         0.03  18403164  instructions
12        0.04  16948728  instructions
16        0.05  17567971  instructions
20        0.06  22665921  instructions
...        ...       ...           ...
220392  581.34  14921633  instructions
220396  581.35  15102568  instructions
220400  581.36  12986320  instructions
220404  581.37  26026624  instructions
220408  581.37   9162241  instructions

[55102 rows x 3 columns]
instructions
          time instructions
4         0.02     11104677
8         0.03     18403164
12        0.04     16948728
16        0.05     17567971
20        0.06     22665921
...        ...          ...
220392  581.34     14921633
220396  581.35     15102568
220400  581.36     12986320
220404  581.37     26026624
220408  581.37      9162241

[55102 rows x 2 columns]
df3
          time stall_backend
1         0.01       4349189
5         0.02       5098503
9         0.03       2306217
13        0.04       2326385
17        0.05       2442508
...        ...           ...
220393  581.34       7938395
220397  581.35       9249198
220401  581.36       9325300
220405  581.37       6624276
220409  581.37       2184765

[55103 rows x 2 columns]
df4
          time stall_frontend
2         0.01        6117983
6         0.02        7014457
10        0.03        5147798
14        0.04        5554244
18        0.05        5502219
...        ...            ...
220394  581.34        1754494
220398  581.35         764990
220402  581.36         539781
220406  581.37         535219
220410  581.37         283313

[55103 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           131759
7         0.02           152513
11        0.03            91024
15        0.04            90315
19        0.05           104923
...        ...              ...
220395  581.34            94183
220399  581.35           217242
220403  581.36           520385
220407  581.37           292328
220411  581.37            44188

[55103 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     11104677       5098503
1        0.03     18403164       2306217
2        0.04     16948728       2326385
3        0.05     17567971       2442508
4        0.06     22665921       2909543
...       ...          ...           ...
55099  581.36     12986320       9325300
55100  581.37     26026624       6624276
55101  581.37     26026624       2184765
55102  581.37      9162241       6624276
55103  581.37      9162241       2184765

[55104 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        6117983           131759
1        0.02        7014457           152513
2        0.03        5147798            91024
3        0.04        5554244            90315
4        0.05        5502219           104923
...       ...            ...              ...
55100  581.36         539781           520385
55101  581.37         535219           292328
55102  581.37         535219            44188
55103  581.37         283313           292328
55104  581.37         283313            44188

[55105 rows x 3 columns]
              time          value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010102        7562507         NaN   instructions     8948320
1         0.010102        2364606         NaN     mem_access     8948320
2         0.010102        1460296         NaN  mem_access_rd     8948320
3         0.010102         904310         NaN  mem_access_wr     8948320
4         0.021223       11215692         NaN   instructions    10293360
...            ...            ...         ...            ...         ...
219655  579.019336        2836951         NaN  mem_access_wr     9985520
219656  579.019655  <not counted>         NaN   instructions           0
219657  579.019655  <not counted>         NaN     mem_access           0
219658  579.019655  <not counted>         NaN  mem_access_rd           0
219659  579.019655  <not counted>         NaN  mem_access_wr           0

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
219655       100.0         NaN         NaN
219656       100.0         NaN         NaN
219657       100.0         NaN         NaN
219658       100.0         NaN         NaN
219659       100.0         NaN         NaN

[219660 rows x 8 columns]
          time          value       counter
4         0.02       11215692  instructions
8         0.03       18355245  instructions
12        0.04       17877487  instructions
16        0.06       23392397  instructions
20        0.07       20470953  instructions
...        ...            ...           ...
219640  578.99       18334217  instructions
219644  579.00       10794287  instructions
219648  579.01       19184722  instructions
219652  579.02       26316199  instructions
219656  579.02  <not counted>  instructions

[54914 rows x 3 columns]
instructions
          time   instructions
4         0.02       11215692
8         0.03       18355245
12        0.04       17877487
16        0.06       23392397
20        0.07       20470953
...        ...            ...
219640  578.99       18334217
219644  579.00       10794287
219648  579.01       19184722
219652  579.02       26316199
219656  579.02  <not counted>

[54914 rows x 2 columns]
df3
          time     mem_access
1         0.01        2364606
5         0.02        3676121
9         0.03        6941712
13        0.04        6854738
17        0.06        9073313
...        ...            ...
219641  578.99        6402019
219645  579.00        3377787
219649  579.01        4549379
219653  579.02        7619832
219657  579.02  <not counted>

[54915 rows x 2 columns]
df4
          time  mem_access_rd
2         0.01        1460296
6         0.02        2278906
10        0.03        4400029
14        0.04        4319478
18        0.06        5767425
...        ...            ...
219642  578.99        4230489
219646  579.00        2253924
219650  579.01        3365821
219654  579.02        4782881
219658  579.02  <not counted>

[54915 rows x 2 columns]
df5
          time  mem_access_wr
3         0.01         904310
7         0.02        1397215
11        0.03        2541683
15        0.04        2535260
19        0.06        3305888
...        ...            ...
219643  578.99        2171530
219647  579.00        1123863
219651  579.01        1183558
219655  579.02        2836951
219659  579.02  <not counted>

[54915 rows x 2 columns]
df6
         time   instructions     mem_access
0        0.02       11215692        3676121
1        0.03       18355245        6941712
2        0.04       17877487        6854738
3        0.06       23392397        9073313
4        0.07       20470953        7787838
...       ...            ...            ...
54911  579.01       19184722        4549379
54912  579.02       26316199        7619832
54913  579.02       26316199  <not counted>
54914  579.02  <not counted>        7619832
54915  579.02  <not counted>  <not counted>

[54916 rows x 3 columns]
df7
         time  mem_access_rd  mem_access_wr
0        0.01        1460296         904310
1        0.02        2278906        1397215
2        0.03        4400029        2541683
3        0.04        4319478        2535260
4        0.06        5767425        3305888
...       ...            ...            ...
54912  579.01        3365821        1183558
54913  579.02        4782881        2836951
54914  579.02        4782881  <not counted>
54915  579.02  <not counted>        2836951
54916  579.02  <not counted>  <not counted>

[54917 rows x 3 columns]
merged_df
         time instructions cpu-cycles  br_pred br_mis_pred l1d_cache_rd  \
0        0.02     13015277   14783117  2637655      102110      2275428
1        0.03     18123096   14555970  4149103      177536      4394422
2        0.04     17417894   14885897  3921487      166370      4171453
3        0.06     19615328   14876935  4431939      147102      4625586
4        0.14     18667494   14869633  4223784      151308      4530930
...       ...          ...        ...      ...         ...          ...
33849  576.59     33274027   14990033  6679342       35450      8985721
33850  576.60     33311910   14927963  6684474       32484      8775661
33851  576.61     35080074   16141979  7031024       38136      8757057
33852  576.62     33445386   15010662  6711332       33946      8973030
33853  576.63     33477967   14990723  6715888       33697      8908328

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ... l2d_tlb_wr  \
0          1380402   3655830   3931681           240543  ...       8332
1          2528806   6923228   7366193           367061  ...       7709
2          2434105   6605558   6877946           446210  ...       8121
3          2666894   7292480   7370871           321048  ...       7508
4          2535049   7065979   7273043           414569  ...       9458
...            ...       ...       ...              ...  ...        ...
33849      4689762  13675483   4405154           109830  ...      29470
33850      4587787  13363448   4801779           169954  ...      21019
33851      4585515  13342572   5010405            54530  ...      21159
33852      4677209  13650239   4328406            12669  ...      20835
33853      4643579  13551907   7254422            10278  ...      21272

      vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0          793  14879838    14978       5098503        7014457
1         2685  22717599    24550       2306217        5147798
2          781  21653502    12695       2326385        5554244
3          394  23655505    13978       2909543        6153229
4          958  22735500    14060       2405495        5212512
...        ...       ...      ...           ...            ...
33849     2849  34425207     4930       2283097        2514478
33850     3308  40150202     5551       2297901        1602771
33851     2825  34565952     4786       8027252        2212670
33852     2847  34637484     5013       6938385        2398448
33853     2898  34708055     4794       5546612        2212134

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               152513    3676121       2278906       1397215
1                91024    6941712       4400029       2541683
2                90315    6854738       4319478       2535260
3               130415    9073313       5767425       3305888
4                88984    7293126       4692448       2600678
...                ...        ...           ...           ...
33849            64396   13759222       9047442       4711780
33850            64253   13852177       9108390       4743787
33851           130866   13811029       9078352       4732677
33852            61234   13852782       9107150       4745632
33853            64837   13345197       8766773       4578424

[33854 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010125   7803086         NaN  instructions     9437280
1         0.010125  14041863         NaN    cpu-cycles     9437280
2         0.010125   1433169         NaN       br_pred     9437280
3         0.010125     60529         NaN   br_mis_pred     9437280
4         0.022192  12648581         NaN  instructions    11349520
...            ...       ...         ...           ...         ...
251147  665.086631      7713         NaN   br_mis_pred    10003640
251148  665.089744   6892681         NaN  instructions     2709960
251149  665.089744   4025046         NaN    cpu-cycles     2709960
251150  665.089744   1018552         NaN       br_pred     2709960
251151  665.089744      4250         NaN   br_mis_pred     2709960

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.56  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.75  insn per cycle
...            ...         ...             ...
251147       100.0         NaN             NaN
251148       100.0        1.71  insn per cycle
251149       100.0         NaN             NaN
251150       100.0         NaN             NaN
251151       100.0         NaN             NaN

[251152 rows x 8 columns]
          time     value       counter
4         0.02  12648581  instructions
8         0.03  18447945  instructions
12        0.04  17249524  instructions
16        0.05  18599537  instructions
20        0.06  19106938  instructions
...        ...       ...           ...
251132  665.05  14169537  instructions
251136  665.07  19796563  instructions
251140  665.08  14743800  instructions
251144  665.09  25739166  instructions
251148  665.09   6892681  instructions

[62787 rows x 3 columns]
instructions
          time instructions
4         0.02     12648581
8         0.03     18447945
12        0.04     17249524
16        0.05     18599537
20        0.06     19106938
...        ...          ...
251132  665.05     14169537
251136  665.07     19796563
251140  665.08     14743800
251144  665.09     25739166
251148  665.09      6892681

[62787 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   14041863
5         0.02   16924722
9         0.03   14566892
13        0.04   14849701
17        0.05   14973266
...        ...        ...
251133  665.05   14906997
251137  665.07   19920693
251141  665.08   14928381
251145  665.09   14931191
251149  665.09    4025046

[62788 rows x 2 columns]
df4
          time  br_pred
2         0.01  1433169
6         0.02  2478633
10        0.03  4195109
14        0.04  3861790
18        0.05  4213284
...        ...      ...
251134  665.05  3221027
251138  665.07  4600185
251142  665.08  4368839
251146  665.09  3765318
251150  665.09  1018552

[62788 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       60529
7         0.02      104841
11        0.03      168734
15        0.04      165728
19        0.05      166734
...        ...         ...
251135  665.05       40749
251139  665.07       45645
251143  665.08      112644
251147  665.09        7713
251151  665.09        4250

[62788 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     12648581   16924722
1        0.03     18447945   14566892
2        0.04     17249524   14849701
3        0.05     18599537   14973266
4        0.06     19106938   14964919
...       ...          ...        ...
62784  665.08     14743800   14928381
62785  665.09     25739166   14931191
62786  665.09     25739166    4025046
62787  665.09      6892681   14931191
62788  665.09      6892681    4025046

[62789 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1433169       60529
1        0.02  2478633      104841
2        0.03  4195109      168734
3        0.04  3861790      165728
4        0.05  4213284      166734
...       ...      ...         ...
62785  665.08  4368839      112644
62786  665.09  3765318        7713
62787  665.09  3765318        4250
62788  665.09  1018552        7713
62789  665.09  1018552        4250

[62790 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010117   8801742         NaN  instructions    10768400
1         0.010117   1693065         NaN  l1d_cache_rd    10768400
2         0.010117   1062453         NaN  l1d_cache_wr    10768400
3         0.010117   2755518         NaN     l1d_cache    10768400
4         0.020754  10715299         NaN  instructions     9988880
...            ...       ...         ...           ...         ...
251707  665.713927   6347819         NaN     l1d_cache    11791480
251708  665.720581  16209432         NaN  instructions     6237400
251709  665.720581   2949256         NaN  l1d_cache_rd     6237400
251710  665.720581   1738086         NaN  l1d_cache_wr     6237400
251711  665.720581   4687342         NaN     l1d_cache     6237400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
251707       100.0         NaN         NaN
251708       100.0         NaN         NaN
251709       100.0         NaN         NaN
251710       100.0         NaN         NaN
251711       100.0         NaN         NaN

[251712 rows x 8 columns]
          time     value       counter
4         0.02  10715299  instructions
8         0.03  17667076  instructions
12        0.04  17280169  instructions
16        0.05  18355563  instructions
20        0.06  19338897  instructions
...        ...       ...           ...
251692  665.68  11941327  instructions
251696  665.69  17986356  instructions
251700  665.70  11444950  instructions
251704  665.71  25360511  instructions
251708  665.72  16209432  instructions

[62927 rows x 3 columns]
instructions
          time instructions
4         0.02     10715299
8         0.03     17667076
12        0.04     17280169
16        0.05     18355563
20        0.06     19338897
...        ...          ...
251692  665.68     11941327
251696  665.69     17986356
251700  665.70     11444950
251704  665.71     25360511
251708  665.72     16209432

[62927 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1693065
5         0.02      2209675
9         0.03      4248917
13        0.04      4188237
17        0.05      4524807
...        ...          ...
251693  665.68      2684559
251697  665.69      4131574
251701  665.70      2325039
251705  665.71      4389332
251709  665.72      2949256

[62928 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1062453
6         0.02      1344210
10        0.03      2443159
14        0.04      2445322
18        0.05      2590977
...        ...          ...
251694  665.68      1586422
251698  665.69      2123968
251702  665.70      1026234
251706  665.71      1958487
251710  665.72      1738086

[62928 rows x 2 columns]
df5
          time l1d_cache
3         0.01   2755518
7         0.02   3553885
11        0.03   6692076
15        0.04   6633559
19        0.05   7115784
...        ...       ...
251695  665.68   4270981
251699  665.69   6255542
251703  665.70   3351273
251707  665.71   6347819
251711  665.72   4687342

[62928 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     10715299      2209675
1        0.03     17667076      4248917
2        0.04     17280169      4188237
3        0.05     18355563      4524807
4        0.06     19338897      4707024
...       ...          ...          ...
62922  665.68     11941327      2684559
62923  665.69     17986356      4131574
62924  665.70     11444950      2325039
62925  665.71     25360511      4389332
62926  665.72     16209432      2949256

[62927 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      1062453   2755518
1        0.02      1344210   3553885
2        0.03      2443159   6692076
3        0.04      2445322   6633559
4        0.05      2590977   7115784
...       ...          ...       ...
62923  665.68      1586422   4270981
62924  665.69      2123968   6255542
62925  665.70      1026234   3351273
62926  665.71      1958487   6347819
62927  665.72      1738086   4687342

[62928 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010101   8796222         NaN      instructions     9953680
1         0.010101   3188101         NaN         l1i_cache     9953680
2         0.010101    214925         NaN  l1i_cache_refill     9953680
3         0.010101     65493         NaN     remote_access     9953680
4         0.020490  12016659         NaN      instructions     9887000
...            ...       ...         ...               ...         ...
250903  664.113243      3985         NaN     remote_access     9978280
250904  664.119258  14385848         NaN      instructions     5540000
250905  664.119258   3910561         NaN         l1i_cache     5540000
250906  664.119258      6348         NaN  l1i_cache_refill     5540000
250907  664.119258      4484         NaN     remote_access     5540000

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
250903       100.0         NaN         NaN
250904       100.0         NaN         NaN
250905       100.0         NaN         NaN
250906       100.0         NaN         NaN
250907       100.0         NaN         NaN

[250908 rows x 8 columns]
          time     value       counter
4         0.02  12016659  instructions
8         0.03  18971640  instructions
12        0.04  17187599  instructions
16        0.05  20397654  instructions
20        0.06  19952765  instructions
...        ...       ...           ...
250888  664.08  13990351  instructions
250892  664.09  16869033  instructions
250896  664.10  10776775  instructions
250900  664.11  24694553  instructions
250904  664.12  14385848  instructions

[62726 rows x 3 columns]
instructions
          time instructions
4         0.02     12016659
8         0.03     18971640
12        0.04     17187599
16        0.05     20397654
20        0.06     19952765
...        ...          ...
250888  664.08     13990351
250892  664.09     16869033
250896  664.10     10776775
250900  664.11     24694553
250904  664.12     14385848

[62726 rows x 2 columns]
df3
          time l1i_cache
1         0.01   3188101
5         0.02   4585855
9         0.03   7607780
13        0.04   6933929
17        0.05   8181318
...        ...       ...
250889  664.08   4815116
250893  664.09   5117366
250897  664.10   4192729
250901  664.11   7312281
250905  664.12   3910561

[62727 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           214925
6         0.02           286053
10        0.03           378925
14        0.04           427083
18        0.05           468149
...        ...              ...
250890  664.08           166718
250894  664.09            47776
250898  664.10            11766
250902  664.11             9998
250906  664.12             6348

[62727 rows x 2 columns]
df5
          time remote_access
3         0.01         65493
7         0.02         45280
11        0.03         17512
15        0.04         20284
19        0.05         17806
...        ...           ...
250891  664.08          3670
250895  664.09          3274
250899  664.10          3023
250903  664.11          3985
250907  664.12          4484

[62727 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     12016659   4585855
1        0.03     18971640   7607780
2        0.04     17187599   6933929
3        0.05     20397654   8181318
4        0.06     19952765   7714427
...       ...          ...       ...
62721  664.08     13990351   4815116
62722  664.09     16869033   5117366
62723  664.10     10776775   4192729
62724  664.11     24694553   7312281
62725  664.12     14385848   3910561

[62726 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           214925         65493
1        0.02           286053         45280
2        0.03           378925         17512
3        0.04           427083         20284
4        0.05           468149         17806
...       ...              ...           ...
62722  664.08           166718          3670
62723  664.09            47776          3274
62724  664.10            11766          3023
62725  664.11             9998          3985
62726  664.12             6348          4484

[62727 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010105   8729564         NaN  instructions    10042640
1         0.010105    330278         NaN  l2d_cache_rd    10042640
2         0.010105    116955         NaN  l2d_cache_wr    10042640
3         0.010105    447233         NaN     l2d_cache    10042640
4         0.020597  11776168         NaN  instructions     9859360
...            ...       ...         ...           ...         ...
250891  663.931331    563850         NaN     l2d_cache    10059480
250892  663.935736  10496994         NaN  instructions     3993640
250893  663.935736     59296         NaN  l2d_cache_rd     3993640
250894  663.935736     51839         NaN  l2d_cache_wr     3993640
250895  663.935736    111135         NaN     l2d_cache     3993640

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
250891       100.0         NaN         NaN
250892       100.0         NaN         NaN
250893       100.0         NaN         NaN
250894       100.0         NaN         NaN
250895       100.0         NaN         NaN

[250896 rows x 8 columns]
          time     value       counter
4         0.02  11776168  instructions
8         0.03  18823725  instructions
12        0.04  17765049  instructions
16        0.05  19812943  instructions
20        0.06  19736259  instructions
...        ...       ...           ...
250876  663.90  15143037  instructions
250880  663.91  15452547  instructions
250884  663.92  12637238  instructions
250888  663.93  25410781  instructions
250892  663.94  10496994  instructions

[62723 rows x 3 columns]
instructions
          time instructions
4         0.02     11776168
8         0.03     18823725
12        0.04     17765049
16        0.05     19812943
20        0.06     19736259
...        ...          ...
250876  663.90     15143037
250880  663.91     15452547
250884  663.92     12637238
250888  663.93     25410781
250892  663.94     10496994

[62723 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       330278
5         0.02       394623
9         0.03       483723
13        0.04       549423
17        0.05       580983
...        ...          ...
250877  663.90       302025
250881  663.91       316005
250885  663.92       454112
250889  663.93       291545
250893  663.94        59296

[62724 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       116955
6         0.02       120020
10        0.03       111279
14        0.04       118200
18        0.05       126960
...        ...          ...
250878  663.90       140161
250882  663.91       214426
250886  663.92       397374
250890  663.93       272305
250894  663.94        51839

[62724 rows x 2 columns]
df5
          time l2d_cache
3         0.01    447233
7         0.02    514643
11        0.03    595002
15        0.04    667623
19        0.05    707943
...        ...       ...
250879  663.90    442186
250883  663.91    530431
250887  663.92    851486
250891  663.93    563850
250895  663.94    111135

[62724 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     11776168       394623
1        0.03     18823725       483723
2        0.04     17765049       549423
3        0.05     19812943       580983
4        0.06     19736259       462613
...       ...          ...          ...
62718  663.90     15143037       302025
62719  663.91     15452547       316005
62720  663.92     12637238       454112
62721  663.93     25410781       291545
62722  663.94     10496994        59296

[62723 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       116955    447233
1        0.02       120020    514643
2        0.03       111279    595002
3        0.04       118200    667623
4        0.05       126960    707943
...       ...          ...       ...
62719  663.90       140161    442186
62720  663.91       214426    530431
62721  663.92       397374    851486
62722  663.93       272305    563850
62723  663.94        51839    111135

[62724 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010126   9675262         NaN  instructions    11099240
1         0.010126   4040593         NaN       l1d_tlb    11099240
2         0.010126   2662943         NaN    l1d_tlb_rd    11099240
3         0.010126   1377650         NaN    l1d_tlb_wr    11099240
4         0.020647  12640858         NaN  instructions     9772360
...            ...       ...         ...           ...         ...
251951  667.188481   2284474         NaN    l1d_tlb_wr     9906920
251952  667.193350  11357466         NaN  instructions     4407400
251953  667.193350   4183870         NaN       l1d_tlb     4407400
251954  667.193350   2945779         NaN    l1d_tlb_rd     4407400
251955  667.193350   1238091         NaN    l1d_tlb_wr     4407400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
251951       100.0         NaN         NaN
251952       100.0         NaN         NaN
251953       100.0         NaN         NaN
251954       100.0         NaN         NaN
251955       100.0         NaN         NaN

[251956 rows x 8 columns]
          time     value       counter
4         0.02  12640858  instructions
8         0.03  18582825  instructions
12        0.04  17613922  instructions
16        0.05  18790042  instructions
20        0.06  19688127  instructions
...        ...       ...           ...
251936  667.16  16737431  instructions
251940  667.17  13545320  instructions
251944  667.18  12906602  instructions
251948  667.19  24874414  instructions
251952  667.19  11357466  instructions

[62988 rows x 3 columns]
instructions
          time instructions
4         0.02     12640858
8         0.03     18582825
12        0.04     17613922
16        0.05     18790042
20        0.06     19688127
...        ...          ...
251936  667.16     16737431
251940  667.17     13545320
251944  667.18     12906602
251948  667.19     24874414
251952  667.19     11357466

[62988 rows x 2 columns]
df3
          time  l1d_tlb
1         0.01  4040593
5         0.02  5136701
9         0.03  7876292
13        0.04  7516030
17        0.05  8006417
...        ...      ...
251937  667.16  6261777
251941  667.17  4900770
251945  667.18  4021728
251949  667.19  8534980
251953  667.19  4183870

[62989 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2662943
6         0.02    3334717
10        0.03    5099544
14        0.04    4829340
18        0.05    5158566
...        ...        ...
251938  667.16    4179646
251942  667.17    3320994
251946  667.18    3042501
251950  667.19    6250506
251954  667.19    2945779

[62989 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1377650
7         0.02    1801984
11        0.03    2776748
15        0.04    2686690
19        0.05    2847851
...        ...        ...
251939  667.16    2082131
251943  667.17    1579776
251947  667.18     979227
251951  667.19    2284474
251955  667.19    1238091

[62989 rows x 2 columns]
df6
         time instructions  l1d_tlb
0        0.02     12640858  5136701
1        0.03     18582825  7876292
2        0.04     17613922  7516030
3        0.05     18790042  8006417
4        0.06     19688127  8294199
...       ...          ...      ...
62985  667.18     12906602  4021728
62986  667.19     24874414  8534980
62987  667.19     24874414  4183870
62988  667.19     11357466  8534980
62989  667.19     11357466  4183870

[62990 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2662943    1377650
1        0.02    3334717    1801984
2        0.03    5099544    2776748
3        0.04    4829340    2686690
4        0.05    5158566    2847851
...       ...        ...        ...
62986  667.18    3042501     979227
62987  667.19    6250506    2284474
62988  667.19    6250506    1238091
62989  667.19    2945779    2284474
62990  667.19    2945779    1238091

[62991 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010140   8026222         NaN  instructions     8871040
1         0.010140     14784         NaN     dtlb_walk     8871040
2         0.010140      1251         NaN     itlb_walk     8871040
3         0.010140   2668715         NaN       l1i_tlb     8871040
4         0.022715  15857270         NaN  instructions    11969440
...            ...       ...         ...           ...         ...
252231  666.795922   5422768         NaN       l1i_tlb     9988600
252232  666.801385  13195015         NaN  instructions     5051680
252233  666.801385      1303         NaN     dtlb_walk     5051680
252234  666.801385         4         NaN     itlb_walk     5051680
252235  666.801385   2567188         NaN       l1i_tlb     5051680

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
252231       100.0         NaN         NaN
252232       100.0         NaN         NaN
252233       100.0         NaN         NaN
252234       100.0         NaN         NaN
252235       100.0         NaN         NaN

[252236 rows x 8 columns]
          time     value       counter
4         0.02  15857270  instructions
8         0.03  18173596  instructions
12        0.04  17219326  instructions
16        0.05  18715717  instructions
20        0.06  20075301  instructions
...        ...       ...           ...
252216  666.76  13896238  instructions
252220  666.78  16074673  instructions
252224  666.79  11565714  instructions
252228  666.80  24750995  instructions
252232  666.80  13195015  instructions

[63058 rows x 3 columns]
instructions
          time instructions
4         0.02     15857270
8         0.03     18173596
12        0.04     17219326
16        0.05     18715717
20        0.06     20075301
...        ...          ...
252216  666.76     13896238
252220  666.78     16074673
252224  666.79     11565714
252228  666.80     24750995
252232  666.80     13195015

[63058 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     14784
5         0.02     12579
9         0.03      1743
13        0.04      2696
17        0.05      2489
...        ...       ...
252217  666.76     13160
252221  666.78     15865
252225  666.79     33444
252229  666.80     12302
252233  666.80      1303

[63059 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1251
6         0.02      1407
10        0.03       571
14        0.04       729
18        0.05       529
...        ...       ...
252218  666.76       937
252222  666.78       669
252226  666.79       228
252230  666.80       188
252234  666.80         4

[63059 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  2668715
7         0.02  5084918
11        0.03  6311858
15        0.04  5863102
19        0.05  6282786
...        ...      ...
252219  666.76  3938752
252223  666.78  4085902
252227  666.79  4235439
252231  666.80  5422768
252235  666.80  2567188

[63059 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     15857270     12579
1        0.03     18173596      1743
2        0.04     17219326      2696
3        0.05     18715717      2489
4        0.06     20075301      2949
...       ...          ...       ...
63055  666.79     11565714     33444
63056  666.80     24750995     12302
63057  666.80     24750995      1303
63058  666.80     13195015     12302
63059  666.80     13195015      1303

[63060 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1251  2668715
1        0.02      1407  5084918
2        0.03       571  6311858
3        0.04       729  5863102
4        0.05       529  6282786
...       ...       ...      ...
63056  666.79       228  4235439
63057  666.80       188  5422768
63058  666.80       188  2567188
63059  666.80         4  5422768
63060  666.80         4  2567188

[63061 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010269   7207447         NaN  instructions     9002440
1         0.010269     51301         NaN       l2d_tlb     9002440
2         0.010269     42628         NaN    l2d_tlb_rd     9002440
3         0.010269      8673         NaN    l2d_tlb_wr     9002440
4         0.020794   9722792         NaN  instructions     9833760
...            ...       ...         ...           ...         ...
251651  665.875524      7875         NaN    l2d_tlb_wr    12818560
251652  665.882137  16051751         NaN  instructions     6213360
251653  665.882137     22326         NaN       l2d_tlb     6213360
251654  665.882137     15501         NaN    l2d_tlb_rd     6213360
251655  665.882137      6825         NaN    l2d_tlb_wr     6213360

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
251651       100.0         NaN         NaN
251652       100.0         NaN         NaN
251653       100.0         NaN         NaN
251654       100.0         NaN         NaN
251655       100.0         NaN         NaN

[251656 rows x 8 columns]
          time     value       counter
4         0.02   9722792  instructions
8         0.03  18471912  instructions
12        0.04  19184187  instructions
16        0.05  18587878  instructions
20        0.06  19166839  instructions
...        ...       ...           ...
251636  665.84  11520654  instructions
251640  665.85  18467314  instructions
251644  665.86  10730277  instructions
251648  665.88  27109496  instructions
251652  665.88  16051751  instructions

[62913 rows x 3 columns]
instructions
          time instructions
4         0.02      9722792
8         0.03     18471912
12        0.04     19184187
16        0.05     18587878
20        0.06     19166839
...        ...          ...
251636  665.84     11520654
251640  665.85     18467314
251644  665.86     10730277
251648  665.88     27109496
251652  665.88     16051751

[62913 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   51301
5         0.02   64199
9         0.03  155200
13        0.04  187592
17        0.05  173331
...        ...     ...
251637  665.84  157503
251641  665.85  122349
251645  665.86  135372
251649  665.88   75714
251653  665.88   22326

[62914 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      42628
6         0.02      55440
10        0.03     147427
14        0.04     178760
18        0.05     165022
...        ...        ...
251638  665.84     145306
251642  665.85     113748
251646  665.86     126696
251650  665.88      67839
251654  665.88      15501

[62914 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01       8673
7         0.02       8759
11        0.03       7773
15        0.04       8832
19        0.05       8309
...        ...        ...
251639  665.84      12197
251643  665.85       8601
251647  665.86       8676
251651  665.88       7875
251655  665.88       6825

[62914 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02      9722792   64199
1        0.03     18471912  155200
2        0.04     19184187  187592
3        0.05     18587878  173331
4        0.06     19166839  155543
...       ...          ...     ...
62910  665.86     10730277  135372
62911  665.88     27109496   75714
62912  665.88     27109496   22326
62913  665.88     16051751   75714
62914  665.88     16051751   22326

[62915 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      42628       8673
1        0.02      55440       8759
2        0.03     147427       7773
3        0.04     178760       8832
4        0.05     165022       8309
...       ...        ...        ...
62911  665.86     126696       8676
62912  665.88      67839       7875
62913  665.88      67839       6825
62914  665.88      15501       7875
62915  665.88      15501       6825

[62916 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010099   8410431         NaN  instructions     9669720
1         0.010099        12         NaN      vfp_spec     9669720
2         0.010099  10140524         NaN     inst_spec     9669720
3         0.010099      5476         NaN      ase_spec     9669720
4         0.020580  11164379         NaN  instructions     9892400
...            ...       ...         ...           ...         ...
252279  666.453165         0         NaN      ase_spec     9989800
252280  666.462064  22433665         NaN  instructions     8448960
252281  666.462064         0         NaN      vfp_spec     8448960
252282  666.462064  22916783         NaN     inst_spec     8448960
252283  666.462064         0         NaN      ase_spec     8448960

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
252279       100.0         NaN         NaN
252280       100.0         NaN         NaN
252281       100.0         NaN         NaN
252282       100.0         NaN         NaN
252283       100.0         NaN         NaN

[252284 rows x 8 columns]
          time     value       counter
4         0.02  11164379  instructions
8         0.03  22420106  instructions
12        0.04  17381747  instructions
16        0.05  18514587  instructions
20        0.06  20215065  instructions
...        ...       ...           ...
252264  666.42  11631219  instructions
252268  666.43  18504043  instructions
252272  666.44  10603949  instructions
252276  666.45  19801504  instructions
252280  666.46  22433665  instructions

[63070 rows x 3 columns]
instructions
          time instructions
4         0.02     11164379
8         0.03     22420106
12        0.04     17381747
16        0.05     18514587
20        0.06     20215065
...        ...          ...
252264  666.42     11631219
252268  666.43     18504043
252272  666.44     10603949
252276  666.45     19801504
252280  666.46     22433665

[63070 rows x 2 columns]
df3
          time vfp_spec
1         0.01       12
5         0.02      297
9         0.03     3297
13        0.04      763
17        0.05      766
...        ...      ...
252265  666.42      126
252269  666.43        0
252273  666.44        0
252277  666.45        0
252281  666.46        0

[63071 rows x 2 columns]
df4
          time inst_spec
2         0.01  10140524
6         0.02  13650095
10        0.03  28088379
14        0.04  21703516
18        0.05  23217270
...        ...       ...
252266  666.42  13421543
252270  666.43  19831717
252274  666.44  12647187
252278  666.45  23218843
252282  666.46  22916783

[63071 rows x 2 columns]
df5
          time ase_spec
3         0.01     5476
7         0.02    11678
11        0.03    31166
15        0.04    11604
19        0.05    13075
...        ...      ...
252267  666.42     2291
252271  666.43     1086
252275  666.44        0
252279  666.45        0
252283  666.46        0

[63071 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     11164379      297
1        0.03     22420106     3297
2        0.04     17381747      763
3        0.05     18514587      766
4        0.06     20215065      328
...       ...          ...      ...
63065  666.42     11631219      126
63066  666.43     18504043        0
63067  666.44     10603949        0
63068  666.45     19801504        0
63069  666.46     22433665        0

[63070 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  10140524     5476
1        0.02  13650095    11678
2        0.03  28088379    31166
3        0.04  21703516    11604
4        0.05  23217270    13075
...       ...       ...      ...
63066  666.42  13421543     2291
63067  666.43  19831717     1086
63068  666.44  12647187        0
63069  666.45  23218843        0
63070  666.46  22916783        0

[63071 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010124   8707334         NaN      instructions     9881440
1         0.010124   5173181         NaN     stall_backend     9881440
2         0.010124   6305985         NaN    stall_frontend     9881440
3         0.010124    144651         NaN  ll_cache_miss_rd     9881440
4         0.020599  11598636         NaN      instructions     9831480
...            ...       ...         ...               ...         ...
251651  665.795298    650080         NaN  ll_cache_miss_rd    10058200
251652  665.805057  24690845         NaN      instructions     9350760
251653  665.805057   6295556         NaN     stall_backend     9350760
251654  665.805057    347844         NaN    stall_frontend     9350760
251655  665.805057    110637         NaN  ll_cache_miss_rd     9350760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
251651       100.0         NaN         NaN
251652       100.0         NaN         NaN
251653       100.0         NaN         NaN
251654       100.0         NaN         NaN
251655       100.0         NaN         NaN

[251656 rows x 8 columns]
          time     value       counter
4         0.02  11598636  instructions
8         0.03  18798443  instructions
12        0.04  25195454  instructions
16        0.06  18493798  instructions
20        0.07  20561521  instructions
...        ...       ...           ...
251636  665.76   9554321  instructions
251640  665.77  15728619  instructions
251644  665.78  17317282  instructions
251648  665.80  19405089  instructions
251652  665.81  24690845  instructions

[62913 rows x 3 columns]
instructions
          time instructions
4         0.02     11598636
8         0.03     18798443
12        0.04     25195454
16        0.06     18493798
20        0.07     20561521
...        ...          ...
251636  665.76      9554321
251640  665.77     15728619
251644  665.78     17317282
251648  665.80     19405089
251652  665.81     24690845

[62913 rows x 2 columns]
df3
          time stall_backend
1         0.01       5173181
5         0.02       4394114
9         0.03       2376246
13        0.04       3280559
17        0.06       2339383
...        ...           ...
251637  665.76       8643571
251641  665.77       8224580
251645  665.78      12490016
251649  665.80       7322405
251653  665.81       6295556

[62914 rows x 2 columns]
df4
          time stall_frontend
2         0.01        6305985
6         0.02        5843499
10        0.03        4983524
14        0.04        7515159
18        0.06        5308669
...        ...            ...
251638  665.76        2466052
251642  665.77        1499864
251646  665.78         861476
251650  665.80         637329
251654  665.81         347844

[62914 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           144651
7         0.02           128523
11        0.03            89636
15        0.04           126820
19        0.06           100642
...        ...              ...
251639  665.76            81511
251643  665.77           100400
251647  665.78           291260
251651  665.80           650080
251655  665.81           110637

[62914 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     11598636       4394114
1        0.03     18798443       2376246
2        0.04     25195454       3280559
3        0.06     18493798       2339383
4        0.07     20561521       2391186
...       ...          ...           ...
62908  665.76      9554321       8643571
62909  665.77     15728619       8224580
62910  665.78     17317282      12490016
62911  665.80     19405089       7322405
62912  665.81     24690845       6295556

[62913 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

df7
         time stall_frontend ll_cache_miss_rd
0        0.01        6305985           144651
1        0.02        5843499           128523
2        0.03        4983524            89636
3        0.04        7515159           126820
4        0.06        5308669           100642
...       ...            ...              ...
62909  665.76        2466052            81511
62910  665.77        1499864           100400
62911  665.78         861476           291260
62912  665.80         637329           650080
62913  665.81         347844           110637

[62914 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010118   9412625         NaN   instructions    10653320
1         0.010118   2939834         NaN     mem_access    10653320
2         0.010118   1809608         NaN  mem_access_rd    10653320
3         0.010118   1130226         NaN  mem_access_wr    10653320
4         0.020555  14050610         NaN   instructions     9880360
...            ...       ...         ...            ...         ...
250787  661.644010   1971849         NaN  mem_access_wr     9996280
250788  661.650188  14922544         NaN   instructions     5791080
250789  661.650188   4322940         NaN     mem_access     5791080
250790  661.650188   2715523         NaN  mem_access_rd     5791080
250791  661.650188   1607417         NaN  mem_access_wr     5791080

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
250787       100.0         NaN         NaN
250788       100.0         NaN         NaN
250789       100.0         NaN         NaN
250790       100.0         NaN         NaN
250791       100.0         NaN         NaN

[250792 rows x 8 columns]
          time     value       counter
4         0.02  14050610  instructions
8         0.03  17877517  instructions
12        0.04  17756383  instructions
16        0.05  18803830  instructions
20        0.06  20609595  instructions
...        ...       ...           ...
250772  661.61  14231945  instructions
250776  661.62  15938826  instructions
250780  661.63  10733578  instructions
250784  661.64  24329121  instructions
250788  661.65  14922544  instructions

[62697 rows x 3 columns]
instructions
          time instructions
4         0.02     14050610
8         0.03     17877517
12        0.04     17756383
16        0.05     18803830
20        0.06     20609595
...        ...          ...
250772  661.61     14231945
250776  661.62     15938826
250780  661.63     10733578
250784  661.64     24329121
250788  661.65     14922544

[62697 rows x 2 columns]
df3
          time mem_access
1         0.01    2939834
5         0.02    4787030
9         0.03    6897274
13        0.04    6838741
17        0.05    7271623
...        ...        ...
250773  661.61    5101097
250777  661.62    5203697
250781  661.63    3086651
250785  661.64    6155479
250789  661.65    4322940

[62698 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1809608
6         0.02       2989741
10        0.03       4382033
14        0.04       4316705
18        0.05       4623134
...        ...           ...
250774  661.61       3270592
250778  661.62       3483648
250782  661.63       2185069
250786  661.64       4183630
250790  661.65       2715523

[62698 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1130226
7         0.02       1797289
11        0.03       2515241
15        0.04       2522036
19        0.05       2648489
...        ...           ...
250775  661.61       1830505
250779  661.62       1720049
250783  661.63        901582
250787  661.64       1971849
250791  661.65       1607417

[62698 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     14050610    4787030
1        0.03     17877517    6897274
2        0.04     17756383    6838741
3        0.05     18803830    7271623
4        0.06     20609595    7859314
...       ...          ...        ...
62692  661.61     14231945    5101097
62693  661.62     15938826    5203697
62694  661.63     10733578    3086651
62695  661.64     24329121    6155479
62696  661.65     14922544    4322940

[62697 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1809608       1130226
1        0.02       2989741       1797289
2        0.03       4382033       2515241
3        0.04       4316705       2522036
4        0.05       4623134       2648489
...       ...           ...           ...
62693  661.61       3270592       1830505
62694  661.62       3483648       1720049
62695  661.63       2185069        901582
62696  661.64       4183630       1971849
62697  661.65       2715523       1607417

[62698 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

merged_df
         time instructions cpu-cycles  br_pred br_mis_pred l1d_cache_rd  \
0        0.02     12648581   16924722  2478633      104841      2209675
1        0.03     18447945   14566892  4195109      168734      4248917
2        0.04     17249524   14849701  3861790      165728      4188237
3        0.06     19106938   14964919  4305588      147251      4707024
4        0.07     23489884   14971907  5568705      150139      5147721
...       ...          ...        ...      ...         ...          ...
37905  661.59     32630979   14966973  6708623       41247      2632681
37906  661.60     33041435   14974369  6786853       37429      4635636
37907  661.61     32861749   14957243  6751265       37518      4565835
37908  661.63     33212087   14978270  6826033       35676      8927741
37909  661.64     22194498   14931582  4481094       62906      8350300

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ... l2d_tlb_wr  \
0          1344210   3553885   4585855           286053  ...       8759
1          2443159   6692076   7607780           378925  ...       7773
2          2445322   6633559   6933929           427083  ...       8832
3          2710919   7417943   7714427           334487  ...       7711
4          2662024   7809745   9104508           334339  ...       8460
...            ...       ...       ...              ...  ...        ...
37905      1593868   4226549   9073053           209691  ...       5488
37906      2537794   7173430   7007354           157185  ...      11595
37907      2466603   7032438   4298089            73463  ...      21866
37908      4528972  13456713   5717798            50162  ...      15347
37909      4267736  12618036   4937433            61217  ...      15292

      vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0          297  13650095    11678       4394114        5843499
1         3297  28088379    31166       2376246        4983524
2          763  21703516    11604       3280559        7515159
3          328  24606239    14915       2339383        5308669
4          320  29988224    17788       2391186        4671479
...        ...       ...      ...           ...            ...
37905       32  33025451    17592       1981110        2482473
37906        3  34601552    17475       1847648        2350474
37907        4  33957340    17959       1874736        2455942
37908        3  33384076    15763       6851881        4004025
37909        3  33467567    16515       5856008        3640324

      ll_cache_miss_rd     mem_access  mem_access_rd  mem_access_wr
0               128523        4787030        2989741        1797289
1                89636        6897274        4382033        2515241
2               126820        6838741        4316705        2522036
3               100642        7859314        4999943        2859371
4                96329        8499895        5837925        2661970
...                ...            ...            ...            ...
37905            15303  <not counted>  <not counted>  <not counted>
37906            14027        4287551        2679029        1608522
37907            17617        5101097        3270592        1830505
37908           150414        3086651        2185069         901582
37909           120569        6155479        4183630        1971849

[37910 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010156   7977663         NaN  instructions     8893320
1         0.010156  13229371         NaN    cpu-cycles     8893320
2         0.010156   1465423         NaN       br_pred     8893320
3         0.010156     59472         NaN   br_mis_pred     8893320
4         0.021466  12418132         NaN  instructions    10668760
...            ...       ...         ...           ...         ...
285759  756.162266      6478         NaN   br_mis_pred     9986440
285760  756.163571   1599664         NaN  instructions      900040
285761  756.163571   1330915         NaN    cpu-cycles      900040
285762  756.163571    240885         NaN       br_pred      900040
285763  756.163571      2074         NaN   br_mis_pred      900040

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.60  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.78  insn per cycle
...            ...         ...             ...
285759       100.0         NaN             NaN
285760       100.0        1.20  insn per cycle
285761       100.0         NaN             NaN
285762       100.0         NaN             NaN
285763       100.0         NaN             NaN

[285764 rows x 8 columns]
          time     value       counter
4         0.02  12418132  instructions
8         0.03  18795957  instructions
12        0.04  17506699  instructions
16        0.05  18552108  instructions
20        0.06  21810254  instructions
...        ...       ...           ...
285744  756.13  22528352  instructions
285748  756.14  10505840  instructions
285752  756.15  16855411  instructions
285756  756.16  27045442  instructions
285760  756.16   1599664  instructions

[71440 rows x 3 columns]
instructions
          time instructions
4         0.02     12418132
8         0.03     18795957
12        0.04     17506699
16        0.05     18552108
20        0.06     21810254
...        ...          ...
285744  756.13     22528352
285748  756.14     10505840
285752  756.15     16855411
285756  756.16     27045442
285760  756.16      1599664

[71440 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   13229371
5         0.02   15889208
9         0.03   14525369
13        0.04   14621530
17        0.05   14819257
...        ...        ...
285745  756.13   19984508
285749  756.14   14501423
285753  756.15   14919307
285757  756.16   14903748
285761  756.16    1330915

[71441 rows x 2 columns]
df4
          time  br_pred
2         0.01  1465423
6         0.02  2456324
10        0.03  4292770
14        0.04  3945650
18        0.05  4206030
...        ...      ...
285746  756.13  5031860
285750  756.14  2583321
285754  756.15  4526226
285758  756.16  3884089
285762  756.16   240885

[71441 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       59472
7         0.02      106807
11        0.03      171051
15        0.04      168740
19        0.05      168146
...        ...         ...
285747  756.13       43718
285751  756.14       39517
285755  756.15      105953
285759  756.16        6478
285763  756.16        2074

[71441 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     12418132   15889208
1        0.03     18795957   14525369
2        0.04     17506699   14621530
3        0.05     18552108   14819257
4        0.06     21810254   16448093
...       ...          ...        ...
71437  756.15     16855411   14919307
71438  756.16     27045442   14903748
71439  756.16     27045442    1330915
71440  756.16      1599664   14903748
71441  756.16      1599664    1330915

[71442 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1465423       59472
1        0.02  2456324      106807
2        0.03  4292770      171051
3        0.04  3945650      168740
4        0.05  4206030      168146
...       ...      ...         ...
71438  756.15  4526226      105953
71439  756.16  3884089        6478
71440  756.16  3884089        2074
71441  756.16   240885        6478
71442  756.16   240885        2074

[71443 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010164   8001275         NaN  instructions     8899440
1         0.010164   1542408         NaN  l1d_cache_rd     8899440
2         0.010164    950866         NaN  l1d_cache_wr     8899440
3         0.010164   2493274         NaN     l1d_cache     8899440
4         0.023450  17265931         NaN  instructions    12477080
...            ...       ...         ...           ...         ...
284955  754.295687   6282703         NaN     l1d_cache     9976600
284956  754.301538  14039469         NaN  instructions     5415120
284957  754.301538   2552089         NaN  l1d_cache_rd     5415120
284958  754.301538   1517419         NaN  l1d_cache_wr     5415120
284959  754.301538   4069508         NaN     l1d_cache     5415120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
284955       100.0         NaN         NaN
284956       100.0         NaN         NaN
284957       100.0         NaN         NaN
284958       100.0         NaN         NaN
284959       100.0         NaN         NaN

[284960 rows x 8 columns]
          time     value       counter
4         0.02  17265931  instructions
8         0.03  17771586  instructions
12        0.04  17241115  instructions
16        0.05  18137840  instructions
20        0.06  20239062  instructions
...        ...       ...           ...
284940  754.26  13750774  instructions
284944  754.28  16592109  instructions
284948  754.29  10698493  instructions
284952  754.30  24727038  instructions
284956  754.30  14039469  instructions

[71239 rows x 3 columns]
instructions
          time instructions
4         0.02     17265931
8         0.03     17771586
12        0.04     17241115
16        0.05     18137840
20        0.06     20239062
...        ...          ...
284940  754.26     13750774
284944  754.28     16592109
284948  754.29     10698493
284952  754.30     24727038
284956  754.30     14039469

[71239 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1542408
5         0.02      3687797
9         0.03      4371732
13        0.04      4182143
17        0.05      4456184
...        ...          ...
284941  754.26      3166290
284945  754.28      3622729
284949  754.29      2170621
284953  754.30      4263224
284957  754.30      2552089

[71240 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01       950866
6         0.02      2206397
10        0.03      2518140
14        0.04      2458915
18        0.05      2554298
...        ...          ...
284942  754.26      1754666
284946  754.28      1800555
284950  754.29       873620
284954  754.30      2019479
284958  754.30      1517419

[71240 rows x 2 columns]
df5
          time l1d_cache
3         0.01   2493274
7         0.02   5894194
11        0.03   6889872
15        0.04   6641058
19        0.05   7010482
...        ...       ...
284943  754.26   4920956
284947  754.28   5423284
284951  754.29   3044241
284955  754.30   6282703
284959  754.30   4069508

[71240 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     17265931      3687797
1        0.03     17771586      4371732
2        0.04     17241115      4182143
3        0.05     18137840      4456184
4        0.06     20239062      4901220
...       ...          ...          ...
71236  754.29     10698493      2170621
71237  754.30     24727038      4263224
71238  754.30     24727038      2552089
71239  754.30     14039469      4263224
71240  754.30     14039469      2552089

[71241 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01       950866   2493274
1        0.02      2206397   5894194
2        0.03      2518140   6889872
3        0.04      2458915   6641058
4        0.05      2554298   7010482
...       ...          ...       ...
71237  754.29       873620   3044241
71238  754.30      2019479   6282703
71239  754.30      2019479   4069508
71240  754.30      1517419   6282703
71241  754.30      1517419   4069508

[71242 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010105   7659576         NaN      instructions     8890080
1         0.010105   2784394         NaN         l1i_cache     8890080
2         0.010105    193197         NaN  l1i_cache_refill     8890080
3         0.010105     59671         NaN     remote_access     8890080
4         0.020958  10942162         NaN      instructions    10180040
...            ...       ...         ...               ...         ...
284759  752.382050      4148         NaN     remote_access     9910960
284760  752.388385  15349043         NaN      instructions     5921200
284761  752.388385   4175366         NaN         l1i_cache     5921200
284762  752.388385      7031         NaN  l1i_cache_refill     5921200
284763  752.388385      4429         NaN     remote_access     5921200

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
284759       100.0         NaN         NaN
284760       100.0         NaN         NaN
284761       100.0         NaN         NaN
284762       100.0         NaN         NaN
284763       100.0         NaN         NaN

[284764 rows x 8 columns]
          time     value       counter
4         0.02  10942162  instructions
8         0.03  25084489  instructions
12        0.05  17131167  instructions
16        0.06  18223938  instructions
20        0.07  20105966  instructions
...        ...       ...           ...
284744  752.35  13570842  instructions
284748  752.36  17208215  instructions
284752  752.37  11245536  instructions
284756  752.38  24080688  instructions
284760  752.39  15349043  instructions

[71190 rows x 3 columns]
instructions
          time instructions
4         0.02     10942162
8         0.03     25084489
12        0.05     17131167
16        0.06     18223938
20        0.07     20105966
...        ...          ...
284744  752.35     13570842
284748  752.36     17208215
284752  752.37     11245536
284756  752.38     24080688
284760  752.39     15349043

[71190 rows x 2 columns]
df3
          time l1i_cache
1         0.01   2784394
5         0.02   4060122
9         0.03  10134041
13        0.05   6881794
17        0.06   7342950
...        ...       ...
284745  752.35   4747293
284749  752.36   5272037
284753  752.37   4308659
284757  752.38   7205758
284761  752.39   4175366

[71191 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           193197
6         0.02           247311
10        0.03           523284
14        0.05           437337
18        0.06           420223
...        ...              ...
284746  752.35           173255
284750  752.36            59603
284754  752.37            13540
284758  752.38            10008
284762  752.39             7031

[71191 rows x 2 columns]
df5
          time remote_access
3         0.01         59671
7         0.02         55218
11        0.03         24576
15        0.05         22905
19        0.06         20932
...        ...           ...
284747  752.35          5699
284751  752.36          3955
284755  752.37          3353
284759  752.38          4148
284763  752.39          4429

[71191 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     10942162   4060122
1        0.03     25084489  10134041
2        0.05     17131167   6881794
3        0.06     18223938   7342950
4        0.07     20105966   7766621
...       ...          ...       ...
71185  752.35     13570842   4747293
71186  752.36     17208215   5272037
71187  752.37     11245536   4308659
71188  752.38     24080688   7205758
71189  752.39     15349043   4175366

[71190 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           193197         59671
1        0.02           247311         55218
2        0.03           523284         24576
3        0.05           437337         22905
4        0.06           420223         20932
...       ...              ...           ...
71186  752.35           173255          5699
71187  752.36            59603          3955
71188  752.37            13540          3353
71189  752.38            10008          4148
71190  752.39             7031          4429

[71191 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010163   8052629         NaN  instructions     9210920
1         0.010163    310273         NaN  l2d_cache_rd     9210920
2         0.010163    108348         NaN  l2d_cache_wr     9210920
3         0.010163    418621         NaN     l2d_cache     9210920
4         0.021812  12640542         NaN  instructions    10994880
...            ...       ...         ...           ...         ...
285883  756.211119    763390         NaN     l2d_cache     9963320
285884  756.216910  13974259         NaN  instructions     5280640
285885  756.216910     71228         NaN  l2d_cache_rd     5280640
285886  756.216910     64082         NaN  l2d_cache_wr     5280640
285887  756.216910    135310         NaN     l2d_cache     5280640

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
285883       100.0         NaN         NaN
285884       100.0         NaN         NaN
285885       100.0         NaN         NaN
285886       100.0         NaN         NaN
285887       100.0         NaN         NaN

[285888 rows x 8 columns]
          time     value       counter
4         0.02  12640542  instructions
8         0.03  18831461  instructions
12        0.04  17065973  instructions
16        0.05  18886814  instructions
20        0.06  19368378  instructions
...        ...       ...           ...
285868  756.18  13419871  instructions
285872  756.19  17496068  instructions
285876  756.20  12050771  instructions
285880  756.21  24572106  instructions
285884  756.22  13974259  instructions

[71471 rows x 3 columns]
instructions
          time instructions
4         0.02     12640542
8         0.03     18831461
12        0.04     17065973
16        0.05     18886814
20        0.06     19368378
...        ...          ...
285868  756.18     13419871
285872  756.19     17496068
285876  756.20     12050771
285880  756.21     24572106
285884  756.22     13974259

[71471 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       310273
5         0.02       430579
9         0.03       486216
13        0.04       546196
17        0.05       536638
...        ...          ...
285869  756.18       309715
285873  756.19       280163
285877  756.20       389796
285881  756.21       394358
285885  756.22        71228

[71472 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       108348
6         0.02       133353
10        0.03       110563
14        0.04       116519
18        0.05       119929
...        ...          ...
285870  756.18       120669
285874  756.19       210864
285878  756.20       330647
285882  756.21       369032
285886  756.22        64082

[71472 rows x 2 columns]
df5
          time l2d_cache
3         0.01    418621
7         0.02    563932
11        0.03    596779
15        0.04    662715
19        0.05    656567
...        ...       ...
285871  756.18    430384
285875  756.19    491027
285879  756.20    720443
285883  756.21    763390
285887  756.22    135310

[71472 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     12640542       430579
1        0.03     18831461       486216
2        0.04     17065973       546196
3        0.05     18886814       536638
4        0.06     19368378       466130
...       ...          ...          ...
71466  756.18     13419871       309715
71467  756.19     17496068       280163
71468  756.20     12050771       389796
71469  756.21     24572106       394358
71470  756.22     13974259        71228

[71471 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       108348    418621
1        0.02       133353    563932
2        0.03       110563    596779
3        0.04       116519    662715
4        0.05       119929    656567
...       ...          ...       ...
71467  756.18       120669    430384
71468  756.19       210864    491027
71469  756.20       330647    720443
71470  756.21       369032    763390
71471  756.22        64082    135310

[71472 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010133   9669162         NaN  instructions    11074600
1         0.010133   4031348         NaN       l1d_tlb    11074600
2         0.010133   2653624         NaN    l1d_tlb_rd    11074600
3         0.010133   1377724         NaN    l1d_tlb_wr    11074600
4         0.020665  13305258         NaN  instructions     9918000
...            ...       ...         ...           ...         ...
284259  751.261076   2338540         NaN    l1d_tlb_wr    10333960
284260  751.265725  10954466         NaN  instructions     4156480
284261  751.265725   4075647         NaN       l1d_tlb     4156480
284262  751.265725   2883231         NaN    l1d_tlb_rd     4156480
284263  751.265725   1192416         NaN    l1d_tlb_wr     4156480

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
284259       100.0         NaN         NaN
284260       100.0         NaN         NaN
284261       100.0         NaN         NaN
284262       100.0         NaN         NaN
284263       100.0         NaN         NaN

[284264 rows x 8 columns]
          time     value       counter
4         0.02  13305258  instructions
8         0.03  18060424  instructions
12        0.04  16961464  instructions
16        0.05  18482127  instructions
20        0.06  19657864  instructions
...        ...       ...           ...
284244  751.23  14765730  instructions
284248  751.24  15918641  instructions
284252  751.25  12296373  instructions
284256  751.26  25669468  instructions
284260  751.27  10954466  instructions

[71065 rows x 3 columns]
instructions
          time instructions
4         0.02     13305258
8         0.03     18060424
12        0.04     16961464
16        0.05     18482127
20        0.06     19657864
...        ...          ...
284244  751.23     14765730
284248  751.24     15918641
284252  751.25     12296373
284256  751.26     25669468
284260  751.27     10954466

[71065 rows x 2 columns]
df3
          time  l1d_tlb
1         0.01  4031348
5         0.02  5405756
9         0.03  7654660
13        0.04  7240982
17        0.05  7861342
...        ...      ...
284245  751.23  5742166
284249  751.24  5557186
284253  751.25  3803988
284257  751.26  8800057
284261  751.27  4075647

[71066 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2653624
6         0.02    3510398
10        0.03    4942299
14        0.04    4651069
18        0.05    5053792
...        ...        ...
284246  751.23    3801660
284250  751.24    3804405
284254  751.25    2890403
284258  751.26    6461517
284262  751.27    2883231

[71066 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1377724
7         0.02    1895358
11        0.03    2712361
15        0.04    2589913
19        0.05    2807550
...        ...        ...
284247  751.23    1940506
284251  751.24    1752781
284255  751.25     913585
284259  751.26    2338540
284263  751.27    1192416

[71066 rows x 2 columns]
df6
         time instructions  l1d_tlb
0        0.02     13305258  5405756
1        0.03     18060424  7654660
2        0.04     16961464  7240982
3        0.05     18482127  7861342
4        0.06     19657864  8257226
...       ...          ...      ...
71060  751.23     14765730  5742166
71061  751.24     15918641  5557186
71062  751.25     12296373  3803988
71063  751.26     25669468  8800057
71064  751.27     10954466  4075647

[71065 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2653624    1377724
1        0.02    3510398    1895358
2        0.03    4942299    2712361
3        0.04    4651069    2589913
4        0.05    5053792    2807550
...       ...        ...        ...
71061  751.23    3801660    1940506
71062  751.24    3804405    1752781
71063  751.25    2890403     913585
71064  751.26    6461517    2338540
71065  751.27    2883231    1192416

[71066 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010099   9465545         NaN  instructions    11030400
1         0.010099     18244         NaN     dtlb_walk    11030400
2         0.010099      1499         NaN     itlb_walk    11030400
3         0.010099   3163074         NaN       l1i_tlb    11030400
4         0.020582  12855007         NaN  instructions     9906480
...            ...       ...         ...           ...         ...
285375  754.582300   5532817         NaN       l1i_tlb    10051160
285376  754.591673  23684366         NaN  instructions     8929360
285377  754.591673      1298         NaN     dtlb_walk     8929360
285378  754.591673         5         NaN     itlb_walk     8929360
285379  754.591673   4617196         NaN       l1i_tlb     8929360

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
285375       100.0         NaN         NaN
285376       100.0         NaN         NaN
285377       100.0         NaN         NaN
285378       100.0         NaN         NaN
285379       100.0         NaN         NaN

[285380 rows x 8 columns]
          time     value       counter
4         0.02  12855007  instructions
8         0.03  18042162  instructions
12        0.04  16893968  instructions
16        0.05  18554805  instructions
20        0.06  19275630  instructions
...        ...       ...           ...
285360  754.55  11560953  instructions
285364  754.56  18594154  instructions
285368  754.57  10955918  instructions
285372  754.58  19279741  instructions
285376  754.59  23684366  instructions

[71344 rows x 3 columns]
instructions
          time instructions
4         0.02     12855007
8         0.03     18042162
12        0.04     16893968
16        0.05     18554805
20        0.06     19275630
...        ...          ...
285360  754.55     11560953
285364  754.56     18594154
285368  754.57     10955918
285372  754.58     19279741
285376  754.59     23684366

[71344 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     18244
5         0.02      8858
9         0.03      1764
13        0.04      2490
17        0.05      2316
...        ...       ...
285361  754.55     12916
285365  754.56     11933
285369  754.57     28291
285373  754.58     25326
285377  754.59      1298

[71345 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1499
6         0.02      1169
10        0.03       575
14        0.04       709
18        0.05       575
...        ...       ...
285362  754.55      1217
285366  754.56       876
285370  754.57       451
285374  754.58       235
285378  754.59         5

[71345 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  3163074
7         0.02  4226823
11        0.03  6179177
15        0.04  5803501
19        0.05  6189607
...        ...      ...
285363  754.55  3600365
285367  754.56  4614704
285371  754.57  3415649
285375  754.58  5532817
285379  754.59  4617196

[71345 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     12855007      8858
1        0.03     18042162      1764
2        0.04     16893968      2490
3        0.05     18554805      2316
4        0.06     19275630      3099
...       ...          ...       ...
71339  754.55     11560953     12916
71340  754.56     18594154     11933
71341  754.57     10955918     28291
71342  754.58     19279741     25326
71343  754.59     23684366      1298

[71344 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1499  3163074
1        0.02      1169  4226823
2        0.03       575  6179177
3        0.04       709  5803501
4        0.05       575  6189607
...       ...       ...      ...
71340  754.55      1217  3600365
71341  754.56       876  4614704
71342  754.57       451  3415649
71343  754.58       235  5532817
71344  754.59         5  4617196

[71345 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010138   9648647         NaN  instructions    11104520
1         0.010138     68076         NaN       l2d_tlb    11104520
2         0.010138     56258         NaN    l2d_tlb_rd    11104520
3         0.010138     11818         NaN    l2d_tlb_wr    11104520
4         0.020648  13003304         NaN  instructions     9861440
...            ...       ...         ...           ...         ...
285287  754.304538      7779         NaN    l2d_tlb_wr    10040040
285288  754.308839  10024019         NaN  instructions     3906640
285289  754.308839     14815         NaN       l2d_tlb     3906640
285290  754.308839      9311         NaN    l2d_tlb_rd     3906640
285291  754.308839      5504         NaN    l2d_tlb_wr     3906640

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
285287       100.0         NaN         NaN
285288       100.0         NaN         NaN
285289       100.0         NaN         NaN
285290       100.0         NaN         NaN
285291       100.0         NaN         NaN

[285292 rows x 8 columns]
          time     value       counter
4         0.02  13003304  instructions
8         0.03  17867675  instructions
12        0.04  17797550  instructions
16        0.05  18168092  instructions
20        0.06  19586488  instructions
...        ...       ...           ...
285272  754.27  14144718  instructions
285276  754.28  17213689  instructions
285280  754.29  15458493  instructions
285284  754.30  25351010  instructions
285288  754.31  10024019  instructions

[71322 rows x 3 columns]
instructions
          time instructions
4         0.02     13003304
8         0.03     17867675
12        0.04     17797550
16        0.05     18168092
20        0.06     19586488
...        ...          ...
285272  754.27     14144718
285276  754.28     17213689
285280  754.29     15458493
285284  754.30     25351010
285288  754.31     10024019

[71322 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   68076
5         0.02   93585
9         0.03  164702
13        0.04  173895
17        0.05  176160
...        ...     ...
285273  754.27  173493
285277  754.28  119040
285281  754.29  140882
285285  754.30   36357
285289  754.31   14815

[71323 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      56258
6         0.02      85430
10        0.03     156240
14        0.04     164716
18        0.05     167009
...        ...        ...
285274  754.27     160409
285278  754.28     110384
285282  754.29     133464
285286  754.30      28578
285290  754.31       9311

[71323 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      11818
7         0.02       8155
11        0.03       8462
15        0.04       9179
19        0.05       9151
...        ...        ...
285275  754.27      13084
285279  754.28       8656
285283  754.29       7418
285287  754.30       7779
285291  754.31       5504

[71323 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     13003304   93585
1        0.03     17867675  164702
2        0.04     17797550  173895
3        0.05     18168092  176160
4        0.06     19586488  155880
...       ...          ...     ...
71317  754.27     14144718  173493
71318  754.28     17213689  119040
71319  754.29     15458493  140882
71320  754.30     25351010   36357
71321  754.31     10024019   14815

[71322 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      56258      11818
1        0.02      85430       8155
2        0.03     156240       8462
3        0.04     164716       9179
4        0.05     167009       9151
...       ...        ...        ...
71318  754.27     160409      13084
71319  754.28     110384       8656
71320  754.29     133464       7418
71321  754.30      28578       7779
71322  754.31       9311       5504

[71323 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010144   9335632         NaN  instructions    10359160
1         0.010144        10         NaN      vfp_spec    10359160
2         0.010144  11205883         NaN     inst_spec    10359160
3         0.010144      5740         NaN      ase_spec    10359160
4         0.020635  12710659         NaN  instructions     9944080
...            ...       ...         ...           ...         ...
284551  752.183304        22         NaN      ase_spec    10165760
284552  752.192310  22513284         NaN  instructions     8596440
284553  752.192310         0         NaN      vfp_spec     8596440
284554  752.192310  23052002         NaN     inst_spec     8596440
284555  752.192310         0         NaN      ase_spec     8596440

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
284551       100.0         NaN         NaN
284552       100.0         NaN         NaN
284553       100.0         NaN         NaN
284554       100.0         NaN         NaN
284555       100.0         NaN         NaN

[284556 rows x 8 columns]
          time     value       counter
4         0.02  12710659  instructions
8         0.03  18630060  instructions
12        0.04  16799641  instructions
16        0.05  18760686  instructions
20        0.06  19574022  instructions
...        ...       ...           ...
284536  752.15  11646683  instructions
284540  752.16  18324682  instructions
284544  752.17  11030936  instructions
284548  752.18  20117470  instructions
284552  752.19  22513284  instructions

[71138 rows x 3 columns]
instructions
          time instructions
4         0.02     12710659
8         0.03     18630060
12        0.04     16799641
16        0.05     18760686
20        0.06     19574022
...        ...          ...
284536  752.15     11646683
284540  752.16     18324682
284544  752.17     11030936
284548  752.18     20117470
284552  752.19     22513284

[71138 rows x 2 columns]
df3
          time vfp_spec
1         0.01       10
5         0.02      902
9         0.03     2644
13        0.04      760
17        0.05      847
...        ...      ...
284537  752.15      147
284541  752.16        0
284545  752.17        0
284549  752.18        0
284553  752.19        0

[71139 rows x 2 columns]
df4
          time inst_spec
2         0.01  11205883
6         0.02  15500414
10        0.03  23472691
14        0.04  21125873
18        0.05  23420718
...        ...       ...
284538  752.15  13456982
284542  752.16  19551688
284546  752.17  13080159
284550  752.18  23713772
284554  752.19  23052002

[71139 rows x 2 columns]
df5
          time ase_spec
3         0.01     5740
7         0.02    15723
11        0.03    24063
15        0.04    12411
19        0.05    12533
...        ...      ...
284539  752.15     2186
284543  752.16     1154
284547  752.17       95
284551  752.18       22
284555  752.19        0

[71139 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     12710659      902
1        0.03     18630060     2644
2        0.04     16799641      760
3        0.05     18760686      847
4        0.06     19574022      327
...       ...          ...      ...
71133  752.15     11646683      147
71134  752.16     18324682        0
71135  752.17     11030936        0
71136  752.18     20117470        0
71137  752.19     22513284        0

[71138 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  11205883     5740
1        0.02  15500414    15723
2        0.03  23472691    24063
3        0.04  21125873    12411
4        0.05  23420718    12533
...       ...       ...      ...
71134  752.15  13456982     2186
71135  752.16  19551688     1154
71136  752.17  13080159       95
71137  752.18  23713772       22
71138  752.19  23052002        0

[71139 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010095   8547048         NaN      instructions     9585040
1         0.010095   4959211         NaN     stall_backend     9585040
2         0.010095   6143661         NaN    stall_frontend     9585040
3         0.010095    139060         NaN  ll_cache_miss_rd     9585040
4         0.020578  11496843         NaN      instructions     9860680
...            ...       ...         ...               ...         ...
285427  754.988240    572669         NaN  ll_cache_miss_rd     9977240
285428  754.997390  22491027         NaN      instructions     8713960
285429  754.997390   5823048         NaN     stall_backend     8713960
285430  754.997390    500093         NaN    stall_frontend     8713960
285431  754.997390    102336         NaN  ll_cache_miss_rd     8713960

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
285427       100.0         NaN         NaN
285428       100.0         NaN         NaN
285429       100.0         NaN         NaN
285430       100.0         NaN         NaN
285431       100.0         NaN         NaN

[285432 rows x 8 columns]
          time     value       counter
4         0.02  11496843  instructions
8         0.03  22544946  instructions
12        0.04  16131755  instructions
16        0.05  18654623  instructions
20        0.06  19807849  instructions
...        ...       ...           ...
285412  754.96  11541439  instructions
285416  754.97  18573798  instructions
285420  754.98  10856592  instructions
285424  754.99  19925539  instructions
285428  755.00  22491027  instructions

[71357 rows x 3 columns]
instructions
          time instructions
4         0.02     11496843
8         0.03     22544946
12        0.04     16131755
16        0.05     18654623
20        0.06     19807849
...        ...          ...
285412  754.96     11541439
285416  754.97     18573798
285420  754.98     10856592
285424  754.99     19925539
285428  755.00     22491027

[71357 rows x 2 columns]
df3
          time stall_backend
1         0.01       4959211
5         0.02       4451366
9         0.03       2936848
13        0.04       2365592
17        0.05       2376512
...        ...           ...
285413  754.96       7806807
285417  754.97       7804107
285421  754.98      10256842
285425  754.99       7200747
285429  755.00       5823048

[71358 rows x 2 columns]
df4
          time stall_frontend
2         0.01        6143661
6         0.02        5861181
10        0.03        6047647
14        0.04        5406925
18        0.05        5233670
...        ...            ...
285414  754.96        2704090
285418  754.97        1213006
285422  754.98         677968
285426  754.99         664556
285430  755.00         500093

[71358 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           139060
7         0.02           127506
11        0.03           104472
15        0.04            99296
19        0.05            93742
...        ...              ...
285415  754.96            79808
285419  754.97           165696
285423  754.98           298211
285427  754.99           572669
285431  755.00           102336

[71358 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     11496843       4451366
1        0.03     22544946       2936848
2        0.04     16131755       2365592
3        0.05     18654623       2376512
4        0.06     19807849       2499477
...       ...          ...           ...
71352  754.96     11541439       7806807
71353  754.97     18573798       7804107
71354  754.98     10856592      10256842
71355  754.99     19925539       7200747
71356  755.00     22491027       5823048

[71357 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        6143661           139060
1        0.02        5861181           127506
2        0.03        6047647           104472
3        0.04        5406925            99296
4        0.05        5233670            93742
...       ...            ...              ...
71353  754.96        2704090            79808
71354  754.97        1213006           165696
71355  754.98         677968           298211
71356  754.99         664556           572669
71357  755.00         500093           102336

[71358 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010115   6963524         NaN   instructions     8828280
1         0.010115   2162026         NaN     mem_access     8828280
2         0.010115   1328706         NaN  mem_access_rd     8828280
3         0.010115    833320         NaN  mem_access_wr     8828280
4         0.022779  12753932         NaN   instructions    11860480
...            ...       ...         ...            ...         ...
285731  756.427140   2666116         NaN  mem_access_wr     9983080
285732  756.430541   7295674         NaN   instructions     2981920
285733  756.430541   2122360         NaN     mem_access     2981920
285734  756.430541   1322402         NaN  mem_access_rd     2981920
285735  756.430541    799958         NaN  mem_access_wr     2981920

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
285731       100.0         NaN         NaN
285732       100.0         NaN         NaN
285733       100.0         NaN         NaN
285734       100.0         NaN         NaN
285735       100.0         NaN         NaN

[285736 rows x 8 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]

          time     value       counter
4         0.02  12753932  instructions
8         0.03  18108148  instructions
12        0.04  16696875  instructions
16        0.05  18404509  instructions
20        0.06  19332478  instructions
...        ...       ...           ...
285716  756.40  17778841  instructions
285720  756.41  12250796  instructions
285724  756.42  14597576  instructions
285728  756.43  25695487  instructions
285732  756.43   7295674  instructions

[71433 rows x 3 columns]
instructions
          time instructions
4         0.02     12753932
8         0.03     18108148
12        0.04     16696875
16        0.05     18404509
20        0.06     19332478
...        ...          ...
285716  756.40     17778841
285720  756.41     12250796
285724  756.42     14597576
285728  756.43     25695487
285732  756.43      7295674

[71433 rows x 2 columns]
df3
          time mem_access
1         0.01    2162026
5         0.02    4225057
9         0.03    6871258
13        0.04    6404097
17        0.05    7131994
...        ...        ...
285717  756.40    6213953
285721  756.41    3990568
285725  756.42    3320243
285729  756.43    7323531
285733  756.43    2122360

[71434 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1328706
6         0.02       2618528
10        0.03       4357225
14        0.04       4043004
18        0.05       4533782
...        ...           ...
285718  756.40       4073152
285722  756.41       2637587
285726  756.42       2592247
285730  756.43       4657415
285734  756.43       1322402

[71434 rows x 2 columns]
df5
          time mem_access_wr
3         0.01        833320
7         0.02       1606529
11        0.03       2514033
15        0.04       2361093
19        0.05       2598212
...        ...           ...
285719  756.40       2140801
285723  756.41       1352981
285727  756.42        727996
285731  756.43       2666116
285735  756.43        799958

[71434 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     12753932    4225057
1        0.03     18108148    6871258
2        0.04     16696875    6404097
3        0.05     18404509    7131994
4        0.06     19332478    7407637
...       ...          ...        ...
71430  756.42     14597576    3320243
71431  756.43     25695487    7323531
71432  756.43     25695487    2122360
71433  756.43      7295674    7323531
71434  756.43      7295674    2122360

[71435 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1328706        833320
1        0.02       2618528       1606529
2        0.03       4357225       2514033
3        0.04       4043004       2361093
4        0.05       4533782       2598212
...       ...           ...           ...
71431  756.42       2592247        727996
71432  756.43       4657415       2666116
71433  756.43       4657415        799958
71434  756.43       1322402       2666116
71435  756.43       1322402        799958

[71436 rows x 3 columns]
merged_df
         time instructions cpu-cycles  br_pred br_mis_pred l1d_cache_rd  \
0        0.02     12418132   15889208  2456324      106807      3687797
1        0.03     18795957   14525369  4292770      171051      4371732
2        0.05     18552108   14819257  4206030      168146      4456184
3        0.06     21810254   16448093  4937817      169958      4901220
4        0.07     25539038   14925637  6193008      134743      5773818
...       ...          ...        ...      ...         ...          ...
42954  751.19     18513480   18355237  3670831       77259      3719518
42955  751.22     29834326   14985149  6274613       53998      7942937
42956  751.24     33211963   15002859  6824957       37859      8052641
42957  751.25     30491376   14944749  6190801       56294      9003622
42958  751.26     36116093   14908270  7409436       38137      9086681

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ... l2d_tlb_wr  \
0          2206397   5894194   4060122           247311  ...       8155
1          2518140   6889872  10134041           523284  ...       8462
2          2554298   7010482   6881794           437337  ...       9151
3          2803401   7704621   7342950           420223  ...       8035
4          2639872   8413690   7766621           335308  ...       9898
...            ...       ...       ...              ...  ...        ...
42954      2025566   5745084  11000408           163129  ...       8200
42955      3938580  11881517  10805974            92235  ...      18836
42956      4067274  12119915  11708543            98662  ...      24198
42957      4534521  13538143  10742958            92679  ...      23511
42958      4577761  13664442  10700317            87724  ...      20075

      vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0          902  15500414    15723       4451366        5861181
1         2644  23472691    24063       2936848        6047647
2          847  23420718    12533       2376512        5233670
3          327  23847466    14323       2499477        4879141
4          341  35726740    21121       2107759        3813564
...        ...       ...      ...           ...            ...
42954    18263  36792550     1095       2906741        2372299
42955    14103  36049365      599       3933633        2653172
42956    13898  35077903      750       1888913        2764861
42957    18340  30171181     1336       1959187        2843663
42958    18227  30339300     1251       2521287        2249507

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               127506    4225057       2618528       1606529
1               104472    6871258       4357225       2514033
2                93742    7131994       4533782       2598212
3               103580    7407637       4701337       2706300
4                59013    7760863       5110955       2649908
...                ...        ...           ...           ...
42954            97704   13615509       9060329       4555180
42955            52135   13653134       9085597       4567537
42956            23789   13626209       9066449       4559760
42957            29260   13613149       9067661       4545488
42958            74153   13529782       9000786       4528996

[42959 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010127   8305153         NaN  instructions     9866840
1         0.010127  14645683         NaN    cpu-cycles     9866840
2         0.010127   1534020         NaN       br_pred     9866840
3         0.010127     64249         NaN   br_mis_pred     9866840
4         0.020628  10692099         NaN  instructions     9876800
...            ...       ...         ...           ...         ...
213211  561.541606     85168         NaN   br_mis_pred    10087240
213212  561.549799  20668439         NaN  instructions     7776640
213213  561.549799  11615767         NaN    cpu-cycles     7776640
213214  561.549799   2987085         NaN       br_pred     7776640
213215  561.549799      5193         NaN   br_mis_pred     7776640

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.57  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.73  insn per cycle
...            ...         ...             ...
213211       100.0         NaN             NaN
213212       100.0        1.78  insn per cycle
213213       100.0         NaN             NaN
213214       100.0         NaN             NaN
213215       100.0         NaN             NaN

[213216 rows x 8 columns]
          time     value       counter
4         0.02  10692099  instructions
8         0.03  17864173  instructions
12        0.04  17308635  instructions
16        0.05  24367726  instructions
20        0.07  19300439  instructions
...        ...       ...           ...
213196  561.51  11816580  instructions
213200  561.52  19416022  instructions
213204  561.53  11187739  instructions
213208  561.54  20758501  instructions
213212  561.55  20668439  instructions

[53303 rows x 3 columns]
instructions
          time instructions
4         0.02     10692099
8         0.03     17864173
12        0.04     17308635
16        0.05     24367726
20        0.07     19300439
...        ...          ...
213196  561.51     11816580
213200  561.52     19416022
213204  561.53     11187739
213208  561.54     20758501
213212  561.55     20668439

[53303 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   14645683
5         0.02   14730446
9         0.03   14543887
13        0.04   14977880
17        0.05   20066830
...        ...        ...
213197  561.51   15222695
213201  561.52   16044169
213205  561.53   14911900
213209  561.54   15049582
213213  561.55   11615767

[53304 rows x 2 columns]
df4
          time  br_pred
2         0.01  1534020
6         0.02  2077399
10        0.03  4058502
14        0.04  3882584
18        0.05  5520321
...        ...      ...
213198  561.51  2601847
213202  561.52  4368394
213206  561.53  2929467
213210  561.54  4587426
213214  561.55  2987085

[53304 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       64249
7         0.02       86971
11        0.03      161574
15        0.04      170374
19        0.05      223527
...        ...         ...
213199  561.51       52818
213203  561.52       31139
213207  561.53       54965
213211  561.54       85168
213215  561.55        5193

[53304 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     10692099   14730446
1        0.03     17864173   14543887
2        0.04     17308635   14977880
3        0.05     24367726   20066830
4        0.07     19300439   14873440
...       ...          ...        ...
53298  561.51     11816580   15222695
53299  561.52     19416022   16044169
53300  561.53     11187739   14911900
53301  561.54     20758501   15049582
53302  561.55     20668439   11615767

[53303 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1534020       64249
1        0.02  2077399       86971
2        0.03  4058502      161574
3        0.04  3882584      170374
4        0.05  5520321      223527
...       ...      ...         ...
53299  561.51  2601847       52818
53300  561.52  4368394       31139
53301  561.53  2929467       54965
53302  561.54  4587426       85168
53303  561.55  2987085        5193

[53304 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010126   9652585         NaN  instructions    11098760
1         0.010126   1854076         NaN  l1d_cache_rd    11098760
2         0.010126   1156940         NaN  l1d_cache_wr    11098760
3         0.010126   3011016         NaN     l1d_cache    11098760
4         0.020641  13337633         NaN  instructions     9849280
...            ...       ...         ...           ...         ...
216691  570.322318   5585718         NaN     l1d_cache    10181040
216692  570.329563  17977756         NaN  instructions     6839840
216693  570.329563   3273808         NaN  l1d_cache_rd     6839840
216694  570.329563   1921900         NaN  l1d_cache_wr     6839840
216695  570.329563   5195708         NaN     l1d_cache     6839840

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
216691       100.0         NaN         NaN
216692       100.0         NaN         NaN
216693       100.0         NaN         NaN
216694       100.0         NaN         NaN
216695       100.0         NaN         NaN

[216696 rows x 8 columns]
          time     value       counter
4         0.02  13337633  instructions
8         0.03  17470723  instructions
12        0.04  17748842  instructions
16        0.05  18088041  instructions
20        0.06  19859451  instructions
...        ...       ...           ...
216676  570.29  13673362  instructions
216680  570.30  17302696  instructions
216684  570.31  11122719  instructions
216688  570.32  22576180  instructions
216692  570.33  17977756  instructions

[54173 rows x 3 columns]
instructions
          time instructions
4         0.02     13337633
8         0.03     17470723
12        0.04     17748842
16        0.05     18088041
20        0.06     19859451
...        ...          ...
216676  570.29     13673362
216680  570.30     17302696
216684  570.31     11122719
216688  570.32     22576180
216692  570.33     17977756

[54173 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1854076
5         0.02      2836338
9         0.03      4270156
13        0.04      4327412
17        0.05      4436837
...        ...          ...
216677  570.29      3113436
216681  570.30      3938387
216685  570.31      2216305
216689  570.32      3869073
216693  570.33      3273808

[54174 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1156940
6         0.02      1712164
10        0.03      2459198
14        0.04      2525091
18        0.05      2553608
...        ...          ...
216678  570.29      1833858
216682  570.30      1994864
216686  570.31       918701
216690  570.32      1716645
216694  570.33      1921900

[54174 rows x 2 columns]
df5
          time l1d_cache
3         0.01   3011016
7         0.02   4548502
11        0.03   6729354
15        0.04   6852503
19        0.05   6990445
...        ...       ...
216679  570.29   4947294
216683  570.30   5933251
216687  570.31   3135006
216691  570.32   5585718
216695  570.33   5195708

[54174 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     13337633      2836338
1        0.03     17470723      4270156
2        0.04     17748842      4327412
3        0.05     18088041      4436837
4        0.06     19859451      4822674
...       ...          ...          ...
54168  570.29     13673362      3113436
54169  570.30     17302696      3938387
54170  570.31     11122719      2216305
54171  570.32     22576180      3869073
54172  570.33     17977756      3273808

[54173 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      1156940   3011016
1        0.02      1712164   4548502
2        0.03      2459198   6729354
3        0.04      2525091   6852503
4        0.05      2553608   6990445
...       ...          ...       ...
54169  570.29      1833858   4947294
54170  570.30      1994864   5933251
54171  570.31       918701   3135006
54172  570.32      1716645   5585718
54173  570.33      1921900   5195708

[54174 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010131   7420045         NaN      instructions     8894160
1         0.010131   2683372         NaN         l1i_cache     8894160
2         0.010131    184916         NaN  l1i_cache_refill     8894160
3         0.010131     61419         NaN     remote_access     8894160
4         0.023485  14823094         NaN      instructions    12640200
...            ...       ...         ...               ...         ...
212707  559.402112      3323         NaN     remote_access    10239440
212708  559.404922   5959124         NaN      instructions     2439680
212709  559.404922   1648174         NaN         l1i_cache     2439680
212710  559.404922      4928         NaN  l1i_cache_refill     2439680
212711  559.404922      3540         NaN     remote_access     2439680

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
212707       100.0         NaN         NaN
212708       100.0         NaN         NaN
212709       100.0         NaN         NaN
212710       100.0         NaN         NaN
212711       100.0         NaN         NaN

[212712 rows x 8 columns]
          time     value       counter
4         0.02  14823094  instructions
8         0.03  18343391  instructions
12        0.04  16883818  instructions
16        0.05  18495241  instructions
20        0.06  19685538  instructions
...        ...       ...           ...
212692  559.37  15552554  instructions
212696  559.38  13243700  instructions
212700  559.39  14689011  instructions
212704  559.40  26523628  instructions
212708  559.40   5959124  instructions

[53177 rows x 3 columns]
instructions
          time instructions
4         0.02     14823094
8         0.03     18343391
12        0.04     16883818
16        0.05     18495241
20        0.06     19685538
...        ...          ...
212692  559.37     15552554
212696  559.38     13243700
212700  559.39     14689011
212704  559.40     26523628
212708  559.40      5959124

[53177 rows x 2 columns]
df3
          time l1i_cache
1         0.01   2683372
5         0.02   5542940
9         0.03   7477959
13        0.04   6824536
17        0.05   7431854
...        ...       ...
212693  559.37   5097988
212697  559.38   4194270
212701  559.39   5637971
212705  559.40   7136143
212709  559.40   1648174

[53178 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           184916
6         0.02           324600
10        0.03           384667
14        0.04           423189
18        0.05           434256
...        ...              ...
212694  559.37           182847
212698  559.38            24612
212702  559.39            11850
212706  559.40             9094
212710  559.40             4928

[53178 rows x 2 columns]
df5
          time remote_access
3         0.01         61419
7         0.02         62976
11        0.03         18708
15        0.04         22173
19        0.05         18472
...        ...           ...
212695  559.37          3226
212699  559.38          3320
212703  559.39          3698
212707  559.40          3323
212711  559.40          3540

[53178 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     14823094   5542940
1        0.03     18343391   7477959
2        0.04     16883818   6824536
3        0.05     18495241   7431854
4        0.06     19685538   7606116
...       ...          ...       ...
53174  559.39     14689011   5637971
53175  559.40     26523628   7136143
53176  559.40     26523628   1648174
53177  559.40      5959124   7136143
53178  559.40      5959124   1648174

[53179 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           184916         61419
1        0.02           324600         62976
2        0.03           384667         18708
3        0.04           423189         22173
4        0.05           434256         18472
...       ...              ...           ...
53175  559.39            11850          3698
53176  559.40             9094          3323
53177  559.40             9094          3540
53178  559.40             4928          3323
53179  559.40             4928          3540

[53180 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010100   9246035         NaN  instructions    10432080
1         0.010100    355248         NaN  l2d_cache_rd    10432080
2         0.010100    124654         NaN  l2d_cache_wr    10432080
3         0.010100    479902         NaN     l2d_cache    10432080
4         0.020562  12400321         NaN  instructions     9923080
...            ...       ...         ...           ...         ...
213395  561.307815    902812         NaN     l2d_cache     9998600
213396  561.316111  20034995         NaN  instructions     7762560
213397  561.316111     98790         NaN  l2d_cache_rd     7762560
213398  561.316111     90404         NaN  l2d_cache_wr     7762560
213399  561.316111    189194         NaN     l2d_cache     7762560

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
213395       100.0         NaN         NaN
213396       100.0         NaN         NaN
213397       100.0         NaN         NaN
213398       100.0         NaN         NaN
213399       100.0         NaN         NaN

[213400 rows x 8 columns]
          time     value       counter
4         0.02  12400321  instructions
8         0.03  18834863  instructions
12        0.04  17803374  instructions
16        0.05  18751511  instructions
20        0.06  18725272  instructions
...        ...       ...           ...
213380  561.28  14348587  instructions
213384  561.29  18024683  instructions
213388  561.30  11083578  instructions
213392  561.31  21181530  instructions
213396  561.32  20034995  instructions

[53349 rows x 3 columns]
instructions
          time instructions
4         0.02     12400321
8         0.03     18834863
12        0.04     17803374
16        0.05     18751511
20        0.06     18725272
...        ...          ...
213380  561.28     14348587
213384  561.29     18024683
213388  561.30     11083578
213392  561.31     21181530
213396  561.32     20034995

[53349 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       355248
5         0.02       396017
9         0.03       496482
13        0.04       558438
17        0.05       551287
...        ...          ...
213381  561.28       366779
213385  561.29       279944
213389  561.30       334846
213393  561.31       469014
213397  561.32        98790

[53350 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       124654
6         0.02       119224
10        0.03       114570
14        0.04       119472
18        0.05       126540
...        ...          ...
213382  561.28       135712
213386  561.29       168511
213390  561.30       284854
213394  561.31       433798
213398  561.32        90404

[53350 rows x 2 columns]
df5
          time l2d_cache
3         0.01    479902
7         0.02    515241
11        0.03    611052
15        0.04    677910
19        0.05    677827
...        ...       ...
213383  561.28    502491
213387  561.29    448455
213391  561.30    619700
213395  561.31    902812
213399  561.32    189194

[53350 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     12400321       396017
1        0.03     18834863       496482
2        0.04     17803374       558438
3        0.05     18751511       551287
4        0.06     18725272       442617
...       ...          ...          ...
53344  561.28     14348587       366779
53345  561.29     18024683       279944
53346  561.30     11083578       334846
53347  561.31     21181530       469014
53348  561.32     20034995        98790

[53349 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       124654    479902
1        0.02       119224    515241
2        0.03       114570    611052
3        0.04       119472    677910
4        0.05       126540    677827
...       ...          ...       ...
53345  561.28       135712    502491
53346  561.29       168511    448455
53347  561.30       284854    619700
53348  561.31       433798    902812
53349  561.32        90404    189194

[53350 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010104   8879290         NaN  instructions    10228640
1         0.010104   3776904         NaN       l1d_tlb    10228640
2         0.010104   2500749         NaN    l1d_tlb_rd    10228640
3         0.010104   1276155         NaN    l1d_tlb_wr    10228640
4         0.020587  11588341         NaN  instructions     9861280
...            ...       ...         ...           ...         ...
213327  562.343492   2243803         NaN    l1d_tlb_wr    10084240
213328  562.348550  11848386         NaN  instructions     4646600
213329  562.348550   4379363         NaN       l1d_tlb     4646600
213330  562.348550   3086546         NaN    l1d_tlb_rd     4646600
213331  562.348550   1292817         NaN    l1d_tlb_wr     4646600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
213327       100.0         NaN         NaN
213328       100.0         NaN         NaN
213329       100.0         NaN         NaN
213330       100.0         NaN         NaN
213331       100.0         NaN         NaN

[213332 rows x 8 columns]
          time     value       counter
4         0.02  11588341  instructions
8         0.03  18514924  instructions
12        0.04  17764141  instructions
16        0.05  18645374  instructions
20        0.06  22331136  instructions
...        ...       ...           ...
213312  562.31  17346945  instructions
213316  562.32  13041923  instructions
213320  562.33  12295917  instructions
213324  562.34  24803667  instructions
213328  562.35  11848386  instructions

[53332 rows x 3 columns]
instructions
          time instructions
4         0.02     11588341
8         0.03     18514924
12        0.04     17764141
16        0.05     18645374
20        0.06     22331136
...        ...          ...
213312  562.31     17346945
213316  562.32     13041923
213320  562.33     12295917
213324  562.34     24803667
213328  562.35     11848386

[53332 rows x 2 columns]
df3
          time  l1d_tlb
1         0.01  3776904
5         0.02  4788142
9         0.03  7770781
13        0.04  7605739
17        0.05  7945266
...        ...      ...
213313  562.31  6480530
213317  562.32  4756296
213321  562.33  3788645
213325  562.34  8536181
213329  562.35  4379363

[53333 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2500749
6         0.02    3139608
10        0.03    5017460
14        0.04    4897112
18        0.05    5114593
...        ...        ...
213314  562.31    4310153
213318  562.32    3246590
213322  562.33    2879950
213326  562.34    6292378
213330  562.35    3086546

[53333 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1276155
7         0.02    1648534
11        0.03    2753321
15        0.04    2708627
19        0.05    2830673
...        ...        ...
213315  562.31    2170377
213319  562.32    1509706
213323  562.33     908695
213327  562.34    2243803
213331  562.35    1292817

[53333 rows x 2 columns]
df6
         time instructions  l1d_tlb
0        0.02     11588341  4788142
1        0.03     18514924  7770781
2        0.04     17764141  7605739
3        0.05     18645374  7945266
4        0.06     22331136  9437616
...       ...          ...      ...
53327  562.31     17346945  6480530
53328  562.32     13041923  4756296
53329  562.33     12295917  3788645
53330  562.34     24803667  8536181
53331  562.35     11848386  4379363

[53332 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2500749    1276155
1        0.02    3139608    1648534
2        0.03    5017460    2753321
3        0.04    4897112    2708627
4        0.05    5114593    2830673
...       ...        ...        ...
53328  562.31    4310153    2170377
53329  562.32    3246590    1509706
53330  562.33    2879950     908695
53331  562.34    6292378    2243803
53332  562.35    3086546    1292817

[53333 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010099   9823445         NaN  instructions    11060480
1         0.010099     18403         NaN     dtlb_walk    11060480
2         0.010099      1489         NaN     itlb_walk    11060480
3         0.010099   3274690         NaN       l1i_tlb    11060480
4         0.020561  14447932         NaN  instructions     9923200
...            ...       ...         ...           ...         ...
214503  565.128160   5501869         NaN       l1i_tlb    10016960
214504  565.134026  13730418         NaN  instructions     5404760
214505  565.134026      1225         NaN     dtlb_walk     5404760
214506  565.134026         4         NaN     itlb_walk     5404760
214507  565.134026   2712069         NaN       l1i_tlb     5404760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
214503       100.0         NaN         NaN
214504       100.0         NaN         NaN
214505       100.0         NaN         NaN
214506       100.0         NaN         NaN
214507       100.0         NaN         NaN

[214508 rows x 8 columns]
          time     value       counter
4         0.02  14447932  instructions
8         0.03  17673415  instructions
12        0.04  17474838  instructions
16        0.05  18506410  instructions
20        0.06  20278665  instructions
...        ...       ...           ...
214488  565.10  14297784  instructions
214492  565.11  16524739  instructions
214496  565.12  11245673  instructions
214500  565.13  24505562  instructions
214504  565.13  13730418  instructions

[53626 rows x 3 columns]
instructions
          time instructions
4         0.02     14447932
8         0.03     17673415
12        0.04     17474838
16        0.05     18506410
20        0.06     20278665
...        ...          ...
214488  565.10     14297784
214492  565.11     16524739
214496  565.12     11245673
214500  565.13     24505562
214504  565.13     13730418

[53626 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     18403
5         0.02      7874
9         0.03      2013
13        0.04      2817
17        0.05      2658
...        ...       ...
214489  565.10     13548
214493  565.11     16391
214497  565.12     32001
214501  565.13     13361
214505  565.13      1225

[53627 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1489
6         0.02      1100
10        0.03       579
14        0.04       811
18        0.05       563
...        ...       ...
214490  565.10       887
214494  565.11       783
214498  565.12       288
214502  565.13       193
214506  565.13         4

[53627 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  3274690
7         0.02  4621291
11        0.03  6168981
15        0.04  5945866
19        0.05  6225210
...        ...      ...
214491  565.10  4076447
214495  565.11  4224211
214499  565.12  4018592
214503  565.13  5501869
214507  565.13  2712069

[53627 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     14447932      7874
1        0.03     17673415      2013
2        0.04     17474838      2817
3        0.05     18506410      2658
4        0.06     20278665      3047
...       ...          ...       ...
53623  565.12     11245673     32001
53624  565.13     24505562     13361
53625  565.13     24505562      1225
53626  565.13     13730418     13361
53627  565.13     13730418      1225

[53628 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1489  3274690
1        0.02      1100  4621291
2        0.03       579  6168981
3        0.04       811  5945866
4        0.05       563  6225210
...       ...       ...      ...
53624  565.12       288  4018592
53625  565.13       193  5501869
53626  565.13       193  2712069
53627  565.13         4  5501869
53628  565.13         4  2712069

[53629 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010349   8052681         NaN  instructions     9664440
1         0.010349     55252         NaN       l2d_tlb     9664440
2         0.010349     46170         NaN    l2d_tlb_rd     9664440
3         0.010349      9082         NaN    l2d_tlb_wr     9664440
4         0.020780  10347662         NaN  instructions     9839720
...            ...       ...         ...           ...         ...
213195  561.239364      8423         NaN    l2d_tlb_wr    10115800
213196  561.243164   8724345         NaN  instructions     3444840
213197  561.243164     13080         NaN       l2d_tlb     3444840
213198  561.243164      8513         NaN    l2d_tlb_rd     3444840
213199  561.243164      4567         NaN    l2d_tlb_wr     3444840

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
213195       100.0         NaN         NaN
213196       100.0         NaN         NaN
213197       100.0         NaN         NaN
213198       100.0         NaN         NaN
213199       100.0         NaN         NaN

[213200 rows x 8 columns]
          time     value       counter
4         0.02  10347662  instructions
8         0.03  18269512  instructions
12        0.04  17377003  instructions
16        0.05  16861395  instructions
20        0.07  24788755  instructions
...        ...       ...           ...
213180  561.21  16360668  instructions
213184  561.22  13601732  instructions
213188  561.23  14395376  instructions
213192  561.24  25687449  instructions
213196  561.24   8724345  instructions

[53299 rows x 3 columns]
instructions
          time instructions
4         0.02     10347662
8         0.03     18269512
12        0.04     17377003
16        0.05     16861395
20        0.07     24788755
...        ...          ...
213180  561.21     16360668
213184  561.22     13601732
213188  561.23     14395376
213192  561.24     25687449
213196  561.24      8724345

[53299 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   55252
5         0.02   73458
9         0.03  153513
13        0.04  174526
17        0.05  158864
...        ...     ...
213181  561.21  138226
213185  561.22  144025
213189  561.23  120126
213193  561.24   35610
213197  561.24   13080

[53300 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      46170
6         0.02      64414
10        0.03     145906
14        0.04     166120
18        0.05     151068
...        ...        ...
213182  561.21     127408
213186  561.22     134164
213190  561.23     114625
213194  561.24      27187
213198  561.24       8513

[53300 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01       9082
7         0.02       9044
11        0.03       7607
15        0.04       8406
19        0.05       7796
...        ...        ...
213183  561.21      10818
213187  561.22       9861
213191  561.23       5501
213195  561.24       8423
213199  561.24       4567

[53300 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     10347662   73458
1        0.03     18269512  153513
2        0.04     17377003  174526
3        0.05     16861395  158864
4        0.07     24788755  205701
...       ...          ...     ...
53296  561.23     14395376  120126
53297  561.24     25687449   35610
53298  561.24     25687449   13080
53299  561.24      8724345   35610
53300  561.24      8724345   13080

[53301 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      46170       9082
1        0.02      64414       9044
2        0.03     145906       7607
3        0.04     166120       8406
4        0.05     151068       7796
...       ...        ...        ...
53297  561.23     114625       5501
53298  561.24      27187       8423
53299  561.24      27187       4567
53300  561.24       8513       8423
53301  561.24       8513       4567

[53302 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010172   9806082         NaN  instructions    11134680
1         0.010172        12         NaN      vfp_spec    11134680
2         0.010172  11763913         NaN     inst_spec    11134680
3         0.010172      5628         NaN      ase_spec    11134680
4         0.020612  12737379         NaN  instructions     9776520
...            ...       ...         ...           ...         ...
213095  561.218667        34         NaN      ase_spec     9992640
213096  561.224585  14243439         NaN  instructions     5495640
213097  561.224585         0         NaN      vfp_spec     5495640
213098  561.224585  14700900         NaN     inst_spec     5495640
213099  561.224585         0         NaN      ase_spec     5495640

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
213095       100.0         NaN         NaN
213096       100.0         NaN         NaN
213097       100.0         NaN         NaN
213098       100.0         NaN         NaN
213099       100.0         NaN         NaN

[213100 rows x 8 columns]
          time     value       counter
4         0.02  12737379  instructions
8         0.03  18281627  instructions
12        0.04  17789562  instructions
16        0.05  19148188  instructions
20        0.06  20241337  instructions
...        ...       ...           ...
213080  561.19  14121022  instructions
213084  561.20  17101053  instructions
213088  561.21  11609660  instructions
213092  561.22  24169797  instructions
213096  561.22  14243439  instructions

[53274 rows x 3 columns]
instructions
          time instructions
4         0.02     12737379
8         0.03     18281627
12        0.04     17789562
16        0.05     19148188
20        0.06     20241337
...        ...          ...
213080  561.19     14121022
213084  561.20     17101053
213088  561.21     11609660
213092  561.22     24169797
213096  561.22     14243439

[53274 rows x 2 columns]
df3
          time vfp_spec
1         0.01       12
5         0.02     1460
9         0.03     2060
13        0.04      802
17        0.05      845
...        ...      ...
213081  561.19        0
213085  561.20        0
213089  561.21        0
213093  561.22        0
213097  561.22        0

[53275 rows x 2 columns]
df4
          time inst_spec
2         0.01  11763913
6         0.02  15447933
10        0.03  23144811
14        0.04  22218805
18        0.05  24009073
...        ...       ...
213082  561.19  15813287
213086  561.20  18372203
213090  561.21  14865462
213094  561.22  26257238
213098  561.22  14700900

[53275 rows x 2 columns]
df5
          time ase_spec
3         0.01     5628
7         0.02    19315
11        0.03    21144
15        0.04    12284
19        0.05    13125
...        ...      ...
213083  561.19     2522
213087  561.20      773
213091  561.21        0
213095  561.22       34
213099  561.22        0

[53275 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     12737379     1460
1        0.03     18281627     2060
2        0.04     17789562      802
3        0.05     19148188      845
4        0.06     20241337      298
...       ...          ...      ...
53271  561.21     11609660        0
53272  561.22     24169797        0
53273  561.22     24169797        0
53274  561.22     14243439        0
53275  561.22     14243439        0

[53276 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  11763913     5628
1        0.02  15447933    19315
2        0.03  23144811    21144
3        0.04  22218805    12284
4        0.05  24009073    13125
...       ...       ...      ...
53272  561.21  14865462        0
53273  561.22  26257238       34
53274  561.22  26257238        0
53275  561.22  14700900       34
53276  561.22  14700900        0

[53277 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010149   9804398         NaN      instructions    11075160
1         0.010149   5757299         NaN     stall_backend    11075160
2         0.010149   7070178         NaN    stall_frontend    11075160
3         0.010149    161390         NaN  ll_cache_miss_rd    11075160
4         0.020606  13835073         NaN      instructions     9927800
...            ...       ...         ...               ...         ...
213263  562.109457    645928         NaN  ll_cache_miss_rd    10095880
213264  562.119003  23840852         NaN      instructions     9110360
213265  562.119003   6051965         NaN     stall_backend     9110360
213266  562.119003    449750         NaN    stall_frontend     9110360
213267  562.119003    105229         NaN  ll_cache_miss_rd     9110360

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
213263       100.0         NaN         NaN
213264       100.0         NaN         NaN
213265       100.0         NaN         NaN
213266       100.0         NaN         NaN
213267       100.0         NaN         NaN

[213268 rows x 8 columns]
          time     value       counter
4         0.02  13835073  instructions
8         0.03  18290486  instructions
12        0.04  17108767  instructions
16        0.05  18777509  instructions
20        0.06  20091308  instructions
...        ...       ...           ...
213248  562.08  11326814  instructions
213252  562.09  18511273  instructions
213256  562.10  10961915  instructions
213260  562.11  19674588  instructions
213264  562.12  23840852  instructions

[53316 rows x 3 columns]
instructions
          time instructions
4         0.02     13835073
8         0.03     18290486
12        0.04     17108767
16        0.05     18777509
20        0.06     20091308
...        ...          ...
213248  562.08     11326814
213252  562.09     18511273
213256  562.10     10961915
213260  562.11     19674588
213264  562.12     23840852

[53316 rows x 2 columns]
df3
          time stall_backend
1         0.01       5757299
5         0.02       4148555
9         0.03       2376441
13        0.04       2428349
17        0.05       2352010
...        ...           ...
213249  562.08       7587309
213253  562.09       7800004
213257  562.10      10318697
213261  562.11       7359726
213265  562.12       6051965

[53317 rows x 2 columns]
df4
          time stall_frontend
2         0.01        7070178
6         0.02        5544402
10        0.03        5019092
14        0.04        5582502
18        0.05        5234906
...        ...            ...
213250  562.08        2950036
213254  562.09        1282474
213258  562.10         730030
213262  562.11         623893
213266  562.12         449750

[53317 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           161390
7         0.02           113821
11        0.03            88734
15        0.04           103383
19        0.05            95762
...        ...              ...
213251  562.08            85844
213255  562.09           152701
213259  562.10           244469
213263  562.11           645928
213267  562.12           105229

[53317 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     13835073       4148555
1        0.03     18290486       2376441
2        0.04     17108767       2428349
3        0.05     18777509       2352010
4        0.06     20091308       2466865
...       ...          ...           ...
53311  562.08     11326814       7587309
53312  562.09     18511273       7800004
53313  562.10     10961915      10318697
53314  562.11     19674588       7359726
53315  562.12     23840852       6051965

[53316 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        7070178           161390
1        0.02        5544402           113821
2        0.03        5019092            88734
3        0.04        5582502           103383
4        0.05        5234906            95762
...       ...            ...              ...
53312  562.08        2950036            85844
53313  562.09        1282474           152701
53314  562.10         730030           244469
53315  562.11         623893           645928
53316  562.12         449750           105229

[53317 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010115   9727649         NaN   instructions    11007760
1         0.010115   3034883         NaN     mem_access    11007760
2         0.010115   1865731         NaN  mem_access_rd    11007760
3         0.010115   1169152         NaN  mem_access_wr    11007760
4         0.020594  12694953         NaN   instructions     9725800
...            ...       ...         ...            ...         ...
213423  562.365810   2592047         NaN  mem_access_wr    10241880
213424  562.369536   8254340         NaN   instructions     3328520
213425  562.369536   2411959         NaN     mem_access     3328520
213426  562.369536   1506209         NaN  mem_access_rd     3328520
213427  562.369536    905750         NaN  mem_access_wr     3328520

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
213423       100.0         NaN         NaN
213424       100.0         NaN         NaN
213425       100.0         NaN         NaN
213426       100.0         NaN         NaN
213427       100.0         NaN         NaN

[213428 rows x 8 columns]
          time     value       counter
4         0.02  12694953  instructions
8         0.03  18136190  instructions
12        0.04  17375187  instructions
16        0.05  18404358  instructions
20        0.06  19526419  instructions
...        ...       ...           ...
213408  562.33  17538233  instructions
213412  562.34  12305098  instructions
213416  562.36  13967322  instructions
213420  562.37  25796876  instructions
213424  562.37   8254340  instructions

[53356 rows x 3 columns]
instructions
          time instructions
4         0.02     12694953
8         0.03     18136190
12        0.04     17375187
16        0.05     18404358
20        0.06     19526419
...        ...          ...
213408  562.33     17538233
213412  562.34     12305098
213416  562.36     13967322
213420  562.37     25796876
213424  562.37      8254340

[53356 rows x 2 columns]
df3
          time mem_access
1         0.01    3034883
5         0.02    4324391
9         0.03    6968272
13        0.04    6709333
17        0.05    7105915
...        ...        ...
213409  562.33    6145891
213413  562.34    3969325
213417  562.36    3286400
213421  562.37    7229392
213425  562.37    2411959

[53357 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1865731
6         0.02       2693196
10        0.03       4430683
14        0.04       4235677
18        0.05       4509862
...        ...           ...
213410  562.33       4027963
213414  562.34       2627856
213418  562.36       2528597
213422  562.37       4637345
213426  562.37       1506209

[53357 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1169152
7         0.02       1631195
11        0.03       2537589
15        0.04       2473656
19        0.05       2596053
...        ...           ...
213411  562.33       2117928
213415  562.34       1341469
213419  562.36        757803
213423  562.37       2592047
213427  562.37        905750

[53357 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     12694953    4324391
1        0.03     18136190    6968272
2        0.04     17375187    6709333
3        0.05     18404358    7105915
4        0.06     19526419    7458301
...       ...          ...        ...
53353  562.36     13967322    3286400
53354  562.37     25796876    7229392
53355  562.37     25796876    2411959
53356  562.37      8254340    7229392
53357  562.37      8254340    2411959

[53358 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1865731       1169152
1        0.02       2693196       1631195
2        0.03       4430683       2537589
3        0.04       4235677       2473656
4        0.05       4509862       2596053
...       ...           ...           ...
53354  562.36       2528597        757803
53355  562.37       4637345       2592047
53356  562.37       4637345        905750
53357  562.37       1506209       2592047
53358  562.37       1506209        905750

[53359 rows x 3 columns]
merged_df
         time instructions cpu-cycles  br_pred br_mis_pred l1d_cache_rd  \
0        0.02     10692099   14730446  2077399       86971      2836338
1        0.03     17864173   14543887  4058502      161574      4270156
2        0.04     17308635   14977880  3882584      170374      4327412
3        0.05     24367726   20066830  5520321      223527      4436837
4        0.07     19300439   14873440  4355172      144876      5649390
...       ...          ...        ...      ...         ...          ...
33384  559.40     36515786   16246061  6430395       72737      5793056
33385  559.40     36515786   16246061  6430395       72737      5793056
33386  559.40     36515786   16246061  6430395       72737      5793056
33387  559.40     36515786   16246061  6430395       72737      5793056
33388  559.40     36515786   16246061  6430395       72737      5793056

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ... l2d_tlb_wr  \
0          1712164   4548502   5542940           324600  ...       9044
1          2459198   6729354   7477959           384667  ...       7607
2          2525091   6852503   6824536           423189  ...       8406
3          2553608   6990445   7431854           434256  ...       7796
4          2710844   8360234   8993345           342397  ...      10075
...            ...       ...       ...              ...  ...        ...
33384       976309   6769365   7136143             4928  ...      23818
33385       976309   6769365   1648174             9094  ...      23818
33386       976309   6769365   1648174             9094  ...      23818
33387       976309   6769365   1648174             4928  ...      23818
33388       976309   6769365   1648174             4928  ...      23818

      vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0         1460  15447933    19315       4148555        5544402
1         2060  23144811    21144       2376441        5019092
2          802  22218805    12284       2428349        5582502
3          845  24009073    13125       2352010        5234906
4          314  30021376    17744       2086227        3694006
...        ...       ...      ...           ...            ...
33384      186  32904067    11833       2283754        4345771
33385      186  32904067    11833       2283754        4345771
33386      186  32904067    11833       2283754        4345771
33387      186  32904067    11833       2283754        4345771
33388      186  32904067    11833       2283754        4345771

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               113821    4324391       2693196       1631195
1                88734    6968272       4430683       2537589
2               103383    6709333       4235677       2473656
3                95762    7105915       4509862       2596053
4                57086    8400455       5675809       2724646
...                ...        ...           ...           ...
33384            68953    7632096       4916206       2715890
33385            68953    7632096       4916206       2715890
33386            68953    7632096       4916206       2715890
33387            68953    7632096       4916206       2715890
33388            68953    7632096       4916206       2715890

[33389 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010131   9682547         NaN  instructions    11125280
1         0.010131  16518429         NaN    cpu-cycles    11125280
2         0.010131   1781569         NaN       br_pred    11125280
3         0.010131     71355         NaN   br_mis_pred    11125280
4         0.020580  12866606         NaN  instructions     9786880
...            ...       ...         ...           ...         ...
235759  618.054788     15249         NaN   br_mis_pred    10228920
235760  618.058501   8200250         NaN  instructions     3283360
235761  618.058501   4887309         NaN    cpu-cycles     3283360
235762  618.058501   1190568         NaN       br_pred     3283360
235763  618.058501      3490         NaN   br_mis_pred     3283360

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.59  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.88  insn per cycle
...            ...         ...             ...
235759       100.0         NaN             NaN
235760       100.0        1.68  insn per cycle
235761       100.0         NaN             NaN
235762       100.0         NaN             NaN
235763       100.0         NaN             NaN

[235764 rows x 8 columns]
          time     value       counter
4         0.02  12866606  instructions
8         0.03  18398619  instructions
12        0.04  17562416  instructions
16        0.05  18616448  instructions
20        0.06  19621027  instructions
...        ...       ...           ...
235744  618.02  16818120  instructions
235748  618.03  13216609  instructions
235752  618.04  13673236  instructions
235756  618.05  26003333  instructions
235760  618.06   8200250  instructions

[58940 rows x 3 columns]
instructions
          time instructions
4         0.02     12866606
8         0.03     18398619
12        0.04     17562416
16        0.05     18616448
20        0.06     19621027
...        ...          ...
235744  618.02     16818120
235748  618.03     13216609
235752  618.04     13673236
235756  618.05     26003333
235760  618.06      8200250

[58940 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   16518429
5         0.02   14571984
9         0.03   14692224
13        0.04   14898318
17        0.05   14889551
...        ...        ...
235745  618.02   14704894
235749  618.03   14886792
235753  618.04   14865980
235757  618.05   15278424
235761  618.06    4887309

[58941 rows x 2 columns]
df4
          time  br_pred
2         0.01  1781569
6         0.02  2604595
10        0.03  4226279
14        0.04  3940196
18        0.05  4226674
...        ...      ...
235746  618.02  3750535
235750  618.03  3116845
235754  618.04  3921613
235758  618.05  4131426
235762  618.06  1190568

[58941 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       71355
7         0.02      100488
11        0.03      182279
15        0.04      163290
19        0.05      170525
...        ...         ...
235747  618.02       30732
235751  618.03       37230
235755  618.04      105520
235759  618.05       15249
235763  618.06        3490

[58941 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     12866606   14571984
1        0.03     18398619   14692224
2        0.04     17562416   14898318
3        0.05     18616448   14889551
4        0.06     19621027   14913930
...       ...          ...        ...
58935  618.02     16818120   14704894
58936  618.03     13216609   14886792
58937  618.04     13673236   14865980
58938  618.05     26003333   15278424
58939  618.06      8200250    4887309

[58940 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1781569       71355
1        0.02  2604595      100488
2        0.03  4226279      182279
3        0.04  3940196      163290
4        0.05  4226674      170525
...       ...      ...         ...
58936  618.02  3750535       30732
58937  618.03  3116845       37230
58938  618.04  3921613      105520
58939  618.05  4131426       15249
58940  618.06  1190568        3490

[58941 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010118   8002261         NaN  instructions     8855240
1         0.010118   1541141         NaN  l1d_cache_rd     8855240
2         0.010118    948703         NaN  l1d_cache_wr     8855240
3         0.010118   2489844         NaN     l1d_cache     8855240
4         0.023475  17817615         NaN  instructions    12751080
...            ...       ...         ...           ...         ...
241627  633.019457   6641436         NaN     l1d_cache    12699800
241628  633.026059  15815075         NaN  instructions     6163120
241629  633.026059   2874319         NaN  l1d_cache_rd     6163120
241630  633.026059   1689819         NaN  l1d_cache_wr     6163120
241631  633.026059   4564138         NaN     l1d_cache     6163120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
241627       100.0         NaN         NaN
241628       100.0         NaN         NaN
241629       100.0         NaN         NaN
241630       100.0         NaN         NaN
241631       100.0         NaN         NaN

[241632 rows x 8 columns]
          time     value       counter
4         0.02  17817615  instructions
8         0.03  17249201  instructions
12        0.04  17314568  instructions
16        0.05  18276581  instructions
20        0.06  20454487  instructions
...        ...       ...           ...
241612  632.99  11526114  instructions
241616  633.00  18612411  instructions
241620  633.01  10833643  instructions
241624  633.02  26798677  instructions
241628  633.03  15815075  instructions

[60407 rows x 3 columns]
instructions
          time instructions
4         0.02     17817615
8         0.03     17249201
12        0.04     17314568
16        0.05     18276581
20        0.06     20454487
...        ...          ...
241612  632.99     11526114
241616  633.00     18612411
241620  633.01     10833643
241624  633.02     26798677
241628  633.03     15815075

[60407 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1541141
5         0.02      3816351
9         0.03      4238530
13        0.04      4207305
17        0.05      4496230
...        ...          ...
241613  632.99      2612307
241617  633.00      4261366
241621  633.01      2263711
241625  633.02      4613476
241629  633.03      2874319

[60408 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01       948703
6         0.02      2273312
10        0.03      2448834
14        0.04      2469955
18        0.05      2574997
...        ...          ...
241614  632.99      1584996
241618  633.00      2164939
241622  633.01      1055658
241626  633.02      2027960
241630  633.03      1689819

[60408 rows x 2 columns]
df5
          time l1d_cache
3         0.01   2489844
7         0.02   6089663
11        0.03   6687364
15        0.04   6677260
19        0.05   7071227
...        ...       ...
241615  632.99   4197303
241619  633.00   6426305
241623  633.01   3319369
241627  633.02   6641436
241631  633.03   4564138

[60408 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     17817615      3816351
1        0.03     17249201      4238530
2        0.04     17314568      4207305
3        0.05     18276581      4496230
4        0.06     20454487      4949026
...       ...          ...          ...
60402  632.99     11526114      2612307
60403  633.00     18612411      4261366
60404  633.01     10833643      2263711
60405  633.02     26798677      4613476
60406  633.03     15815075      2874319

[60407 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01       948703   2489844
1        0.02      2273312   6089663
2        0.03      2448834   6687364
3        0.04      2469955   6677260
4        0.05      2574997   7071227
...       ...          ...       ...
60403  632.99      1584996   4197303
60404  633.00      2164939   6426305
60405  633.01      1055658   3319369
60406  633.02      2027960   6641436
60407  633.03      1689819   4564138

[60408 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010129   7989890         NaN      instructions     8897600
1         0.010129   2880532         NaN         l1i_cache     8897600
2         0.010129    191164         NaN  l1i_cache_refill     8897600
3         0.010129     57451         NaN     remote_access     8897600
4         0.022863  16174522         NaN      instructions    12170960
...            ...       ...         ...               ...         ...
242043  633.745933      4448         NaN     remote_access    12832800
242044  633.749950   9044768         NaN      instructions     3614240
242045  633.749950   2445803         NaN         l1i_cache     3614240
242046  633.749950      4336         NaN  l1i_cache_refill     3614240
242047  633.749950      3764         NaN     remote_access     3614240

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
242043       100.0         NaN         NaN
242044       100.0         NaN         NaN
242045       100.0         NaN         NaN
242046       100.0         NaN         NaN
242047       100.0         NaN         NaN

[242048 rows x 8 columns]
          time     value       counter
4         0.02  16174522  instructions
8         0.03  17379194  instructions
12        0.04  17438731  instructions
16        0.05  18873612  instructions
20        0.06  19663968  instructions
...        ...       ...           ...
242028  633.71  13013229  instructions
242032  633.72  16988687  instructions
242036  633.73  11330186  instructions
242040  633.75  30895146  instructions
242044  633.75   9044768  instructions

[60511 rows x 3 columns]
instructions
          time instructions
4         0.02     16174522
8         0.03     17379194
12        0.04     17438731
16        0.05     18873612
20        0.06     19663968
...        ...          ...
242028  633.71     13013229
242032  633.72     16988687
242036  633.73     11330186
242040  633.75     30895146
242044  633.75      9044768

[60511 rows x 2 columns]
df3
          time l1i_cache
1         0.01   2880532
5         0.02   5980689
9         0.03   7260236
13        0.04   7009593
17        0.05   7616319
...        ...       ...
242029  633.71   4518951
242033  633.72   5233767
242037  633.73   4289244
242041  633.75   9057644
242045  633.75   2445803

[60512 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           191164
6         0.02           331708
10        0.03           387887
14        0.04           444893
18        0.05           429395
...        ...              ...
242030  633.71           159609
242034  633.72            69078
242038  633.73            14087
242042  633.75            11717
242046  633.75             4336

[60512 rows x 2 columns]
df5
          time remote_access
3         0.01         57451
7         0.02         54283
11        0.03         18701
15        0.04         21492
19        0.05         16647
...        ...           ...
242031  633.71          3901
242035  633.72          4004
242039  633.73          2906
242043  633.75          4448
242047  633.75          3764

[60512 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     16174522   5980689
1        0.03     17379194   7260236
2        0.04     17438731   7009593
3        0.05     18873612   7616319
4        0.06     19663968   7616261
...       ...          ...       ...
60508  633.73     11330186   4289244
60509  633.75     30895146   9057644
60510  633.75     30895146   2445803
60511  633.75      9044768   9057644
60512  633.75      9044768   2445803

[60513 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           191164         57451
1        0.02           331708         54283
2        0.03           387887         18701
3        0.04           444893         21492
4        0.05           429395         16647
...       ...              ...           ...
60509  633.73            14087          2906
60510  633.75            11717          4448
60511  633.75            11717          3764
60512  633.75             4336          4448
60513  633.75             4336          3764

[60514 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010112   9083300         NaN  instructions    10499680
1         0.010112    349506         NaN  l2d_cache_rd    10499680
2         0.010112    122831         NaN  l2d_cache_wr    10499680
3         0.010112    472337         NaN     l2d_cache    10499680
4         0.020572  11425075         NaN  instructions     9864800
...            ...       ...         ...           ...         ...
241927  634.118948    729395         NaN     l2d_cache    10653880
241928  634.123975  12089643         NaN  instructions     4579200
241929  634.123975     65748         NaN  l2d_cache_rd     4579200
241930  634.123975     58519         NaN  l2d_cache_wr     4579200
241931  634.123975    124267         NaN     l2d_cache     4579200

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
241927       100.0         NaN         NaN
241928       100.0         NaN         NaN
241929       100.0         NaN         NaN
241930       100.0         NaN         NaN
241931       100.0         NaN         NaN

[241932 rows x 8 columns]
          time     value       counter
4         0.02  11425075  instructions
8         0.03  18554427  instructions
12        0.04  17996794  instructions
16        0.05  19132995  instructions
20        0.06  20102577  instructions
...        ...       ...           ...
241912  634.09  15444846  instructions
241916  634.10  15521763  instructions
241920  634.11  11419277  instructions
241924  634.12  26030999  instructions
241928  634.12  12089643  instructions

[60482 rows x 3 columns]
instructions
          time instructions
4         0.02     11425075
8         0.03     18554427
12        0.04     17996794
16        0.05     19132995
20        0.06     20102577
...        ...          ...
241912  634.09     15444846
241916  634.10     15521763
241920  634.11     11419277
241924  634.12     26030999
241928  634.12     12089643

[60482 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       349506
5         0.02       384861
9         0.03       485619
13        0.04       559261
17        0.05       562576
...        ...          ...
241913  634.09       300924
241917  634.10       297849
241921  634.11       380423
241925  634.12       376863
241929  634.12        65748

[60483 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       122831
6         0.02       116195
10        0.03       111174
14        0.04       118799
18        0.05       120936
...        ...          ...
241914  634.09       137321
241918  634.10       202090
241922  634.11       327330
241926  634.12       352532
241930  634.12        58519

[60483 rows x 2 columns]
df5
          time l2d_cache
3         0.01    472337
7         0.02    501056
11        0.03    596793
15        0.04    678060
19        0.05    683512
...        ...       ...
241915  634.09    438245
241919  634.10    499939
241923  634.11    707753
241927  634.12    729395
241931  634.12    124267

[60483 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     11425075       384861
1        0.03     18554427       485619
2        0.04     17996794       559261
3        0.05     19132995       562576
4        0.06     20102577       473629
...       ...          ...          ...
60479  634.11     11419277       380423
60480  634.12     26030999       376863
60481  634.12     26030999        65748
60482  634.12     12089643       376863
60483  634.12     12089643        65748

[60484 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       122831    472337
1        0.02       116195    501056
2        0.03       111174    596793
3        0.04       118799    678060
4        0.05       120936    683512
...       ...          ...       ...
60480  634.11       327330    707753
60481  634.12       352532    729395
60482  634.12       352532    124267
60483  634.12        58519    729395
60484  634.12        58519    124267

[60485 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010104   9621470         NaN  instructions    10990960
1         0.010104   3975153         NaN       l1d_tlb    10990960
2         0.010104   2609867         NaN    l1d_tlb_rd    10990960
3         0.010104   1365286         NaN    l1d_tlb_wr    10990960
4         0.020607  13913348         NaN  instructions     9954360
...            ...       ...         ...           ...         ...
241467  633.063357   1097399         NaN    l1d_tlb_wr    10089360
241468  633.073578  25642380         NaN  instructions     9748560
241469  633.073578   9426882         NaN       l1d_tlb     9748560
241470  633.073578   6683837         NaN    l1d_tlb_rd     9748560
241471  633.073578   2743045         NaN    l1d_tlb_wr     9748560

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
241467       100.0         NaN         NaN
241468       100.0         NaN         NaN
241469       100.0         NaN         NaN
241470       100.0         NaN         NaN
241471       100.0         NaN         NaN

[241472 rows x 8 columns]
          time     value       counter
4         0.02  13913348  instructions
8         0.03  17575680  instructions
12        0.04  17094670  instructions
16        0.05  18817812  instructions
20        0.06  19538440  instructions
...        ...       ...           ...
241452  633.03  10953316  instructions
241456  633.04  18784626  instructions
241460  633.05  10278257  instructions
241464  633.06  18602351  instructions
241468  633.07  25642380  instructions

[60367 rows x 3 columns]
instructions
          time instructions
4         0.02     13913348
8         0.03     17575680
12        0.04     17094670
16        0.05     18817812
20        0.06     19538440
...        ...          ...
241452  633.03     10953316
241456  633.04     18784626
241460  633.05     10278257
241464  633.06     18602351
241468  633.07     25642380

[60367 rows x 2 columns]
df3
          time  l1d_tlb
1         0.01  3975153
5         0.02  5587377
9         0.03  7490306
13        0.04  7314648
17        0.05  8011733
...        ...      ...
241453  633.03  4563258
241457  633.04  6861932
241461  633.05  3850876
241465  633.06  5302000
241469  633.07  9426882

[60368 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2609867
6         0.02    3619305
10        0.03    4841113
14        0.04    4700821
18        0.05    5149972
...        ...        ...
241454  633.03    2941577
241458  633.04    4631114
241462  633.05    2666119
241466  633.06    4204601
241470  633.07    6683837

[60368 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1365286
7         0.02    1968072
11        0.03    2649193
15        0.04    2613827
19        0.05    2861761
...        ...        ...
241455  633.03    1621681
241459  633.04    2230818
241463  633.05    1184757
241467  633.06    1097399
241471  633.07    2743045

[60368 rows x 2 columns]
df6
         time instructions  l1d_tlb
0        0.02     13913348  5587377
1        0.03     17575680  7490306
2        0.04     17094670  7314648
3        0.05     18817812  8011733
4        0.06     19538440  8228855
...       ...          ...      ...
60362  633.03     10953316  4563258
60363  633.04     18784626  6861932
60364  633.05     10278257  3850876
60365  633.06     18602351  5302000
60366  633.07     25642380  9426882

[60367 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2609867    1365286
1        0.02    3619305    1968072
2        0.03    4841113    2649193
3        0.04    4700821    2613827
4        0.05    5149972    2861761
...       ...        ...        ...
60363  633.03    2941577    1621681
60364  633.04    4631114    2230818
60365  633.05    2666119    1184757
60366  633.06    4204601    1097399
60367  633.07    6683837    2743045

[60368 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010129   8741405         NaN  instructions     9982400
1         0.010129     16034         NaN     dtlb_walk     9982400
2         0.010129      1370         NaN     itlb_walk     9982400
3         0.010129   2921142         NaN       l1i_tlb     9982400
4         0.020600  11607397         NaN  instructions     9866280
...            ...       ...         ...           ...         ...
241591  632.762250   5291887         NaN       l1i_tlb    10041200
241592  632.766872  10735990         NaN  instructions     4182560
241593  632.766872      1205         NaN     dtlb_walk     4182560
241594  632.766872         4         NaN     itlb_walk     4182560
241595  632.766872   2072274         NaN       l1i_tlb     4182560

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
241591       100.0         NaN         NaN
241592       100.0         NaN         NaN
241593       100.0         NaN         NaN
241594       100.0         NaN         NaN
241595       100.0         NaN         NaN

[241596 rows x 8 columns]
          time     value       counter
4         0.02  11607397  instructions
8         0.03  18372850  instructions
12        0.04  19032699  instructions
16        0.05  18298669  instructions
20        0.06  19461167  instructions
...        ...       ...           ...
241576  632.73  15265284  instructions
241580  632.74  15414294  instructions
241584  632.75  12606390  instructions
241588  632.76  25366886  instructions
241592  632.77  10735990  instructions

[60398 rows x 3 columns]
instructions
          time instructions
4         0.02     11607397
8         0.03     18372850
12        0.04     19032699
16        0.05     18298669
20        0.06     19461167
...        ...          ...
241576  632.73     15265284
241580  632.74     15414294
241584  632.75     12606390
241588  632.76     25366886
241592  632.77     10735990

[60398 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     16034
5         0.02     10988
9         0.03      2032
13        0.04      2864
17        0.05      2622
...        ...       ...
241577  632.73     13064
241581  632.74     18114
241585  632.75     35242
241589  632.76      8612
241593  632.77      1205

[60399 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1370
6         0.02      1251
10        0.03       582
14        0.04       745
18        0.05       722
...        ...       ...
241578  632.73       990
241582  632.74       998
241586  632.75       168
241590  632.76       192
241594  632.77         4

[60399 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  2921142
7         0.02  3916003
11        0.03  6146263
15        0.04  6519881
19        0.05  6128306
...        ...      ...
241579  632.73  4210785
241583  632.74  4067785
241587  632.75  4566784
241591  632.76  5291887
241595  632.77  2072274

[60399 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     11607397     10988
1        0.03     18372850      2032
2        0.04     19032699      2864
3        0.05     18298669      2622
4        0.06     19461167      3236
...       ...          ...       ...
60393  632.73     15265284     13064
60394  632.74     15414294     18114
60395  632.75     12606390     35242
60396  632.76     25366886      8612
60397  632.77     10735990      1205

[60398 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1370  2921142
1        0.02      1251  3916003
2        0.03       582  6146263
3        0.04       745  6519881
4        0.05       722  6128306
...       ...       ...      ...
60394  632.73       990  4210785
60395  632.74       998  4067785
60396  632.75       168  4566784
60397  632.76       192  5291887
60398  632.77         4  2072274

[60399 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010102   7685352         NaN  instructions     8879720
1         0.010102     52365         NaN       l2d_tlb     8879720
2         0.010102     43527         NaN    l2d_tlb_rd     8879720
3         0.010102      8838         NaN    l2d_tlb_wr     8879720
4         0.022629  15170082         NaN  instructions    11863320
...            ...       ...         ...           ...         ...
241703  632.982923      7214         NaN    l2d_tlb_wr     9992600
241704  632.989735  16435224         NaN  instructions     6368360
241705  632.989735     23079         NaN       l2d_tlb     6368360
241706  632.989735     15581         NaN    l2d_tlb_rd     6368360
241707  632.989735      7498         NaN    l2d_tlb_wr     6368360

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
241703       100.0         NaN         NaN
241704       100.0         NaN         NaN
241705       100.0         NaN         NaN
241706       100.0         NaN         NaN
241707       100.0         NaN         NaN

[241708 rows x 8 columns]
          time     value       counter
4         0.02  15170082  instructions
8         0.03  17661882  instructions
12        0.04  17419801  instructions
16        0.05  18495287  instructions
20        0.06  19764295  instructions
...        ...       ...           ...
241688  632.95  13774977  instructions
241692  632.96  16656165  instructions
241696  632.97  10761158  instructions
241700  632.98  23287098  instructions
241704  632.99  16435224  instructions

[60426 rows x 3 columns]
instructions
          time instructions
4         0.02     15170082
8         0.03     17661882
12        0.04     17419801
16        0.05     18495287
20        0.06     19764295
...        ...          ...
241688  632.95     13774977
241692  632.96     16656165
241696  632.97     10761158
241700  632.98     23287098
241704  632.99     16435224

[60426 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   52365
5         0.02  109449
9         0.03  162964
13        0.04  168430
17        0.05  179956
...        ...     ...
241689  632.95  159546
241693  632.96  107617
241697  632.97  120549
241701  632.98   48146
241705  632.99   23079

[60427 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      43527
6         0.02      98398
10        0.03     155121
14        0.04     160105
18        0.05     171292
...        ...        ...
241690  632.95     147572
241694  632.96      99934
241698  632.97     113714
241702  632.98      40932
241706  632.99      15581

[60427 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01       8838
7         0.02      11051
11        0.03       7843
15        0.04       8325
19        0.05       8664
...        ...        ...
241691  632.95      11974
241695  632.96       7683
241699  632.97       6835
241703  632.98       7214
241707  632.99       7498

[60427 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     15170082  109449
1        0.03     17661882  162964
2        0.04     17419801  168430
3        0.05     18495287  179956
4        0.06     19764295  156270
...       ...          ...     ...
60421  632.95     13774977  159546
60422  632.96     16656165  107617
60423  632.97     10761158  120549
60424  632.98     23287098   48146
60425  632.99     16435224   23079

[60426 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      43527       8838
1        0.02      98398      11051
2        0.03     155121       7843
3        0.04     160105       8325
4        0.05     171292       8664
...       ...        ...        ...
60422  632.95     147572      11974
60423  632.96      99934       7683
60424  632.97     113714       6835
60425  632.98      40932       7214
60426  632.99      15581       7498

[60427 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010129   7729618         NaN  instructions     8956280
1         0.010129        12         NaN      vfp_spec     8956280
2         0.010129   9312146         NaN     inst_spec     8956280
3         0.010129      4958         NaN      ase_spec     8956280
4         0.023288  16373383         NaN  instructions    12362600
...            ...       ...         ...           ...         ...
241111  631.958261         0         NaN      ase_spec    10000880
241112  631.964552  15221854         NaN  instructions     5848440
241113  631.964552         0         NaN      vfp_spec     5848440
241114  631.964552  15557499         NaN     inst_spec     5848440
241115  631.964552         0         NaN      ase_spec     5848440

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
241111       100.0         NaN         NaN
241112       100.0         NaN         NaN
241113       100.0         NaN         NaN
241114       100.0         NaN         NaN
241115       100.0         NaN         NaN

[241116 rows x 8 columns]
          time     value       counter
4         0.02  16373383  instructions
8         0.03  17735557  instructions
12        0.04  17090884  instructions
16        0.05  18470495  instructions
20        0.06  19533610  instructions
...        ...       ...           ...
241096  631.93  13297510  instructions
241100  631.94  17530121  instructions
241104  631.95  10737143  instructions
241108  631.96  24129673  instructions
241112  631.96  15221854  instructions

[60278 rows x 3 columns]
instructions
          time instructions
4         0.02     16373383
8         0.03     17735557
12        0.04     17090884
16        0.05     18470495
20        0.06     19533610
...        ...          ...
241096  631.93     13297510
241100  631.94     17530121
241104  631.95     10737143
241108  631.96     24129673
241112  631.96     15221854

[60278 rows x 2 columns]
df3
          time vfp_spec
1         0.01       12
5         0.02     2654
9         0.03      879
13        0.04      806
17        0.05      838
...        ...      ...
241097  631.93       33
241101  631.94        4
241105  631.95        0
241109  631.96        0
241113  631.96        0

[60279 rows x 2 columns]
df4
          time inst_spec
2         0.01   9312146
6         0.02  19587073
10        0.03  22842900
14        0.04  21389941
18        0.05  23110494
...        ...       ...
241098  631.93  15020467
241102  631.94  18708137
241106  631.95  13627583
241110  631.96  26491184
241114  631.96  15557499

[60279 rows x 2 columns]
df5
          time ase_spec
3         0.01     4958
7         0.02    28192
11        0.03    14735
15        0.04    11400
19        0.05    12818
...        ...      ...
241099  631.93     2693
241103  631.94      540
241107  631.95        0
241111  631.96        0
241115  631.96        0

[60279 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     16373383     2654
1        0.03     17735557      879
2        0.04     17090884      806
3        0.05     18470495      838
4        0.06     19533610      316
...       ...          ...      ...
60275  631.95     10737143        0
60276  631.96     24129673        0
60277  631.96     24129673        0
60278  631.96     15221854        0
60279  631.96     15221854        0

[60280 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01   9312146     4958
1        0.02  19587073    28192
2        0.03  22842900    14735
3        0.04  21389941    11400
4        0.05  23110494    12818
...       ...       ...      ...
60276  631.95  13627583        0
60277  631.96  26491184        0
60278  631.96  26491184        0
60279  631.96  15557499        0
60280  631.96  15557499        0

[60281 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010137   9534331         NaN      instructions    10825120
1         0.010137   5715391         NaN     stall_backend    10825120
2         0.010137   6792125         NaN    stall_frontend    10825120
3         0.010137    157287         NaN  ll_cache_miss_rd    10825120
4         0.020623  13533570         NaN      instructions     9940360
...            ...       ...         ...               ...         ...
241447  632.780010    387213         NaN  ll_cache_miss_rd    10445280
241448  632.784899  11375381         NaN      instructions     4492800
241449  632.784899   2995147         NaN     stall_backend     4492800
241450  632.784899    306909         NaN    stall_frontend     4492800
241451  632.784899     59973         NaN  ll_cache_miss_rd     4492800

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
241447       100.0         NaN         NaN
241448       100.0         NaN         NaN
241449       100.0         NaN         NaN
241450       100.0         NaN         NaN
241451       100.0         NaN         NaN

[241452 rows x 8 columns]
          time     value       counter
4         0.02  13533570  instructions
8         0.03  18108605  instructions
12        0.04  17004734  instructions
16        0.05  18888122  instructions
20        0.06  19803514  instructions
...        ...       ...           ...
241432  632.75  14767406  instructions
241436  632.76  15602584  instructions
241440  632.77  11686816  instructions
241444  632.78  26112941  instructions
241448  632.78  11375381  instructions

[60362 rows x 3 columns]
instructions
          time instructions
4         0.02     13533570
8         0.03     18108605
12        0.04     17004734
16        0.05     18888122
20        0.06     19803514
...        ...          ...
241432  632.75     14767406
241436  632.76     15602584
241440  632.77     11686816
241444  632.78     26112941
241448  632.78     11375381

[60362 rows x 2 columns]
df3
          time stall_backend
1         0.01       5715391
5         0.02       4143597
9         0.03       2411508
13        0.04       2416712
17        0.05       2351042
...        ...           ...
241433  632.75       8049610
241437  632.76       9087640
241441  632.77       9661805
241445  632.78       6740930
241449  632.78       2995147

[60363 rows x 2 columns]
df4
          time stall_frontend
2         0.01        6792125
6         0.02        5655061
10        0.03        5097761
14        0.04        5519605
18        0.05        5233591
...        ...            ...
241434  632.75        1764527
241438  632.76         834256
241442  632.77         644280
241446  632.78         624943
241450  632.78         306909

[60363 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           157287
7         0.02           120981
11        0.03            89749
15        0.04            99148
19        0.05            93404
...        ...              ...
241435  632.75            84265
241439  632.76           214152
241443  632.77           431480
241447  632.78           387213
241451  632.78            59973

[60363 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     13533570       4143597
1        0.03     18108605       2411508
2        0.04     17004734       2416712
3        0.05     18888122       2351042
4        0.06     19803514       2501812
...       ...          ...           ...
60359  632.77     11686816       9661805
60360  632.78     26112941       6740930
60361  632.78     26112941       2995147
60362  632.78     11375381       6740930
60363  632.78     11375381       2995147

[60364 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        6792125           157287
1        0.02        5655061           120981
2        0.03        5097761            89749
3        0.04        5519605            99148
4        0.05        5233591            93404
...       ...            ...              ...
60360  632.77         644280           431480
60361  632.78         624943           387213
60362  632.78         624943            59973
60363  632.78         306909           387213
60364  632.78         306909            59973

[60365 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010118   9886833         NaN   instructions    11120120
1         0.010118   3073805         NaN     mem_access    11120120
2         0.010118   1892736         NaN  mem_access_rd    11120120
3         0.010118   1181069         NaN  mem_access_wr    11120120
4         0.020596  13952837         NaN   instructions     9890080
...            ...       ...         ...            ...         ...
241423  631.543385   2812676         NaN  mem_access_wr     9972440
241424  631.544449   1378621         NaN   instructions      714240
241425  631.544449    403894         NaN     mem_access      714240
241426  631.544449    251533         NaN  mem_access_rd      714240
241427  631.544449    152361         NaN  mem_access_wr      714240

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
241423       100.0         NaN         NaN
241424       100.0         NaN         NaN
241425       100.0         NaN         NaN
241426       100.0         NaN         NaN
241427       100.0         NaN         NaN

[241428 rows x 8 columns]
          time     value       counter
4         0.02  13952837  instructions
8         0.03  18032871  instructions
12        0.04  17826399  instructions
16        0.05  18764481  instructions
20        0.06  20421133  instructions
...        ...       ...           ...
241408  631.51  18502121  instructions
241412  631.52  10684614  instructions
241416  631.53  17189407  instructions
241420  631.54  26431054  instructions
241424  631.54   1378621  instructions

[60356 rows x 3 columns]
instructions
          time instructions
4         0.02     13952837
8         0.03     18032871
12        0.04     17826399
16        0.05     18764481
20        0.06     20421133
...        ...          ...
241408  631.51     18502121
241412  631.52     10684614
241416  631.53     17189407
241420  631.54     26431054
241424  631.54      1378621

[60356 rows x 2 columns]
df3
          time mem_access
1         0.01    3073805
5         0.02    4773719
9         0.03    6954570
13        0.04    6838014
17        0.05    7258154
...        ...        ...
241409  631.51    6479203
241413  631.52    3318651
241417  631.53    3929198
241421  631.54    7593352
241425  631.54     403894

[60357 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1892736
6         0.02       2980056
10        0.03       4413550
14        0.04       4303112
18        0.05       4611352
...        ...           ...
241410  631.51       4275410
241414  631.52       2219220
241418  631.53       2978772
241422  631.54       4780676
241426  631.54        251533

[60357 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1181069
7         0.02       1793663
11        0.03       2541020
15        0.04       2534902
19        0.05       2646802
...        ...           ...
241411  631.51       2203793
241415  631.52       1099431
241419  631.53        950426
241423  631.54       2812676
241427  631.54        152361

[60357 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     13952837    4773719
1        0.03     18032871    6954570
2        0.04     17826399    6838014
3        0.05     18764481    7258154
4        0.06     20421133    7775926
...       ...          ...        ...
60353  631.53     17189407    3929198
60354  631.54     26431054    7593352
60355  631.54     26431054     403894
60356  631.54      1378621    7593352
60357  631.54      1378621     403894

[60358 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1892736       1181069
1        0.02       2980056       1793663
2        0.03       4413550       2541020
3        0.04       4303112       2534902
4        0.05       4611352       2646802
...       ...           ...           ...
60354  631.53       2978772        950426
60355  631.54       4780676       2812676
60356  631.54       4780676        152361
60357  631.54        251533       2812676
60358  631.54        251533        152361

[60359 rows x 3 columns]
merged_df
         time   instructions     cpu-cycles        br_pred    br_mis_pred  \
0        0.02       12866606       14571984        2604595         100488
1        0.03       18398619       14692224        4226279         182279
2        0.04       17562416       14898318        3940196         163290
3        0.05       18616448       14889551        4226674         170525
4        0.06       19621027       14913930        4439745         148596
...       ...            ...            ...            ...            ...
38721  617.99  <not counted>  <not counted>  <not counted>  <not counted>
38722  618.01       10383534       14840530        2188272          49046
38723  618.02       16818120       14704894        3750535          30732
38724  618.03       13216609       14886792        3116845          37230
38725  618.06        8200250        4887309        1190568           3490

      l1d_cache_rd l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ...  \
0          3816351      2273312   6089663   5980689           331708  ...
1          4238530      2448834   6687364   7260236           387887  ...
2          4207305      2469955   6677260   7009593           444893  ...
3          4496230      2574997   7071227   7616319           429395  ...
4          4949026      2830595   7779621   7616261           333184  ...
...            ...          ...       ...       ...              ...  ...
38721     10079601      3081336  13160937  11337275            99047  ...
38722      8976106      2727495  11703601  11321957            99406  ...
38723      8833530      2673722  11507252  11266697            99755  ...
38724      8653306      2594763  11248069  11147065           100381  ...
38725     10503338      3127299  13630637  13184979           107992  ...

      l2d_tlb_wr vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0          11051     2654  19587073    28192       4143597        5655061
1           7843      879  22842900    14735       2411508        5097761
2           8325      806  21389941    11400       2416712        5519605
3           8664      838  23110494    12818       2351042        5233591
4           7804      316  23805936    14457       2501812        4868013
...          ...      ...       ...      ...           ...            ...
38721       5521     1020  46545575  2581411       2298789         418993
38722       5632      862  40195365  2183569       2336082         434654
38723       4995      950  40352639  2256585       2753879         670798
38724       5975      806  39288510  1949373       2400837         446449
38725       9729      851  40317345  2080476       2360270         444968

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               120981    4773719       2980056       1793663
1                89749    6954570       4413550       2541020
2                99148    6838014       4303112       2534902
3                93404    7258154       4611352       2646802
4               102877    7775926       4942286       2833640
...                ...        ...           ...           ...
38721            30363   13957174      10741907       3215267
38722            33078   11810346       9079440       2730906
38723            44642   11313934       8737594       2576340
38724            32768   11266091       8730375       2535716
38725            28050   11744351       9174706       2569645

[38726 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010102   9775929         NaN  instructions    11022520
1         0.010102  16377537         NaN    cpu-cycles    11022520
2         0.010102   1799344         NaN       br_pred    11022520
3         0.010102     72049         NaN   br_mis_pred    11022520
4         0.020608  14230585         NaN  instructions     9929080
...            ...       ...         ...           ...         ...
225015  591.342641     83915         NaN   br_mis_pred    10286840
225016  591.351530  21998510         NaN  instructions     8433040
225017  591.351530  12600965         NaN    cpu-cycles     8433040
225018  591.351530   3170817         NaN       br_pred     8433040
225019  591.351530      5930         NaN   br_mis_pred     8433040

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.60  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.96  insn per cycle
...            ...         ...             ...
225015       100.0         NaN             NaN
225016       100.0        1.75  insn per cycle
225017       100.0         NaN             NaN
225018       100.0         NaN             NaN
225019       100.0         NaN             NaN

[225020 rows x 8 columns]
          time     value       counter
4         0.02  14230585  instructions
8         0.03  17462872  instructions
12        0.04  17273880  instructions
16        0.05  18573540  instructions
20        0.06  19688668  instructions
...        ...       ...           ...
225000  591.31  11852790  instructions
225004  591.32  18623230  instructions
225008  591.33  12055905  instructions
225012  591.34  20306729  instructions
225016  591.35  21998510  instructions

[56254 rows x 3 columns]
instructions
          time instructions
4         0.02     14230585
8         0.03     17462872
12        0.04     17273880
16        0.05     18573540
20        0.06     19688668
...        ...          ...
225000  591.31     11852790
225004  591.32     18623230
225008  591.33     12055905
225012  591.34     20306729
225016  591.35     21998510

[56254 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   16377537
5         0.02   14819316
9         0.03   14552905
13        0.04   14828619
17        0.05   14867840
...        ...        ...
225001  591.31   15799622
225005  591.32   14905801
225009  591.33   16759489
225013  591.34   15332631
225017  591.35   12600965

[56255 rows x 2 columns]
df4
          time  br_pred
2         0.01  1799344
6         0.02  2927758
10        0.03  4007159
14        0.04  3861311
18        0.05  4215166
...        ...      ...
225002  591.31  2594682
225006  591.32  4170232
225010  591.33  3100389
225014  591.34  4603759
225018  591.35  3170817

[56255 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       72049
7         0.02      104404
11        0.03      184577
15        0.04      162831
19        0.05      172309
...        ...         ...
225003  591.31       55240
225007  591.32       29410
225011  591.33       55500
225015  591.34       83915
225019  591.35        5930

[56255 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     14230585   14819316
1        0.03     17462872   14552905
2        0.04     17273880   14828619
3        0.05     18573540   14867840
4        0.06     19688668   14939333
...       ...          ...        ...
56249  591.31     11852790   15799622
56250  591.32     18623230   14905801
56251  591.33     12055905   16759489
56252  591.34     20306729   15332631
56253  591.35     21998510   12600965

[56254 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1799344       72049
1        0.02  2927758      104404
2        0.03  4007159      184577
3        0.04  3861311      162831
4        0.05  4215166      172309
...       ...      ...         ...
56250  591.31  2594682       55240
56251  591.32  4170232       29410
56252  591.33  3100389       55500
56253  591.34  4603759       83915
56254  591.35  3170817        5930

[56255 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010110   9590492         NaN  instructions    10594440
1         0.010110   1837722         NaN  l1d_cache_rd    10594440
2         0.010110   1145496         NaN  l1d_cache_wr    10594440
3         0.010110   2983218         NaN     l1d_cache    10594440
4         0.020513  13901677         NaN  instructions     9859640
...            ...       ...         ...           ...         ...
225263  590.880119   6237057         NaN     l1d_cache     9988080
225264  590.886041  14317650         NaN  instructions     5479160
225265  590.886041   2588369         NaN  l1d_cache_rd     5479160
225266  590.886041   1532244         NaN  l1d_cache_wr     5479160
225267  590.886041   4120613         NaN     l1d_cache     5479160

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
225263       100.0         NaN         NaN
225264       100.0         NaN         NaN
225265       100.0         NaN         NaN
225266       100.0         NaN         NaN
225267       100.0         NaN         NaN

[225268 rows x 8 columns]
          time     value       counter
4         0.02  13901677  instructions
8         0.03  18288466  instructions
12        0.04  17267463  instructions
16        0.05  18529020  instructions
20        0.06  20135547  instructions
...        ...       ...           ...
225248  590.85  14326940  instructions
225252  590.86  16475797  instructions
225256  590.87  10766863  instructions
225260  590.88  24616403  instructions
225264  590.89  14317650  instructions

[56316 rows x 3 columns]
instructions
          time instructions
4         0.02     13901677
8         0.03     18288466
12        0.04     17267463
16        0.05     18529020
20        0.06     20135547
...        ...          ...
225248  590.85     14326940
225252  590.86     16475797
225256  590.87     10766863
225260  590.88     24616403
225264  590.89     14317650

[56316 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1837722
5         0.02      2959910
9         0.03      4482646
13        0.04      4195506
17        0.05      4556813
...        ...          ...
225249  590.85      3295075
225253  590.86      3591714
225257  590.87      2200163
225261  590.88      4232316
225265  590.89      2588369

[56317 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1145496
6         0.02      1777550
10        0.03      2569838
14        0.04      2455039
18        0.05      2605363
...        ...          ...
225250  590.85      1849858
225254  590.86      1764984
225258  590.87       900015
225262  590.88      2004741
225266  590.89      1532244

[56317 rows x 2 columns]
df5
          time l1d_cache
3         0.01   2983218
7         0.02   4737460
11        0.03   7052484
15        0.04   6650545
19        0.05   7162176
...        ...       ...
225251  590.85   5144933
225255  590.86   5356698
225259  590.87   3100178
225263  590.88   6237057
225267  590.89   4120613

[56317 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     13901677      2959910
1        0.03     18288466      4482646
2        0.04     17267463      4195506
3        0.05     18529020      4556813
4        0.06     20135547      4884939
...       ...          ...          ...
56311  590.85     14326940      3295075
56312  590.86     16475797      3591714
56313  590.87     10766863      2200163
56314  590.88     24616403      4232316
56315  590.89     14317650      2588369

[56316 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      1145496   2983218
1        0.02      1777550   4737460
2        0.03      2569838   7052484
3        0.04      2455039   6650545
4        0.05      2605363   7162176
...       ...          ...       ...
56312  590.85      1849858   5144933
56313  590.86      1764984   5356698
56314  590.87       900015   3100178
56315  590.88      2004741   6237057
56316  590.89      1532244   4120613

[56317 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010096   8807512         NaN      instructions     9955760
1         0.010096   3195941         NaN         l1i_cache     9955760
2         0.010096    213643         NaN  l1i_cache_refill     9955760
3         0.010096     63213         NaN     remote_access     9955760
4         0.020494  11591744         NaN      instructions     9893040
...            ...       ...         ...               ...         ...
225203  591.458306      4745         NaN     remote_access    10151000
225204  591.466589  20677944         NaN      instructions     7865400
225205  591.466589   5567001         NaN         l1i_cache     7865400
225206  591.466589      8041         NaN  l1i_cache_refill     7865400
225207  591.466589      4922         NaN     remote_access     7865400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
225203       100.0         NaN         NaN
225204       100.0         NaN         NaN
225205       100.0         NaN         NaN
225206       100.0         NaN         NaN
225207       100.0         NaN         NaN

[225208 rows x 8 columns]
          time     value       counter
4         0.02  11591744  instructions
8         0.03  18708197  instructions
12        0.04  17721528  instructions
16        0.05  21572182  instructions
20        0.06  20339294  instructions
...        ...       ...           ...
225188  591.43  12250088  instructions
225192  591.44  18205269  instructions
225196  591.45  11624979  instructions
225200  591.46  20841170  instructions
225204  591.47  20677944  instructions

[56301 rows x 3 columns]
instructions
          time instructions
4         0.02     11591744
8         0.03     18708197
12        0.04     17721528
16        0.05     21572182
20        0.06     20339294
...        ...          ...
225188  591.43     12250088
225192  591.44     18205269
225196  591.45     11624979
225200  591.46     20841170
225204  591.47     20677944

[56301 rows x 2 columns]
df3
          time l1i_cache
1         0.01   3195941
5         0.02   4447940
9         0.03   7476436
13        0.04   7194134
17        0.05   8694891
...        ...       ...
225189  591.43   4447731
225193  591.44   5538596
225197  591.45   4160878
225201  591.46   6777877
225205  591.47   5567001

[56302 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           213643
6         0.02           274637
10        0.03           372703
14        0.04           435841
18        0.05           499198
...        ...              ...
225190  591.43           200094
225194  591.44            83475
225198  591.45            21214
225202  591.46            10499
225206  591.47             8041

[56302 rows x 2 columns]
df5
          time remote_access
3         0.01         63213
7         0.02         46720
11        0.03         18387
15        0.04         19636
19        0.05         22134
...        ...           ...
225191  591.43         11586
225195  591.44          4346
225199  591.45          3506
225203  591.46          4745
225207  591.47          4922

[56302 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     11591744   4447940
1        0.03     18708197   7476436
2        0.04     17721528   7194134
3        0.05     21572182   8694891
4        0.06     20339294   7835733
...       ...          ...       ...
56296  591.43     12250088   4447731
56297  591.44     18205269   5538596
56298  591.45     11624979   4160878
56299  591.46     20841170   6777877
56300  591.47     20677944   5567001

[56301 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           213643         63213
1        0.02           274637         46720
2        0.03           372703         18387
3        0.04           435841         19636
4        0.05           499198         22134
...       ...              ...           ...
56297  591.43           200094         11586
56298  591.44            83475          4346
56299  591.45            21214          3506
56300  591.46            10499          4745
56301  591.47             8041          4922

[56302 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010112   8525485         NaN  instructions     9567680
1         0.010112    326699         NaN  l2d_cache_rd     9567680
2         0.010112    113686         NaN  l2d_cache_wr     9567680
3         0.010112    440385         NaN     l2d_cache     9567680
4         0.020637  11805145         NaN  instructions     9945960
...            ...       ...         ...           ...         ...
225091  591.013172    920313         NaN     l2d_cache    10010080
225092  591.022077  21584998         NaN  instructions     8404480
225093  591.022077    106501         NaN  l2d_cache_rd     8404480
225094  591.022077     96076         NaN  l2d_cache_wr     8404480
225095  591.022077    202577         NaN     l2d_cache     8404480

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
225091       100.0         NaN         NaN
225092       100.0         NaN         NaN
225093       100.0         NaN         NaN
225094       100.0         NaN         NaN
225095       100.0         NaN         NaN

[225096 rows x 8 columns]
          time     value       counter
4         0.02  11805145  instructions
8         0.03  24900544  instructions
12        0.04  17865291  instructions
16        0.05  18574103  instructions
20        0.06  20951989  instructions
...        ...       ...           ...
225076  590.98  11929526  instructions
225080  590.99  18079887  instructions
225084  591.00  11267781  instructions
225088  591.01  20158507  instructions
225092  591.02  21584998  instructions

[56273 rows x 3 columns]
instructions
          time instructions
4         0.02     11805145
8         0.03     24900544
12        0.04     17865291
16        0.05     18574103
20        0.06     20951989
...        ...          ...
225076  590.98     11929526
225080  590.99     18079887
225084  591.00     11267781
225088  591.01     20158507
225092  591.02     21584998

[56273 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       326699
5         0.02       395623
9         0.03       662637
13        0.04       560093
17        0.05       537768
...        ...          ...
225077  590.98       293744
225081  590.99       293564
225085  591.00       327596
225089  591.01       478476
225093  591.02       106501

[56274 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       113686
6         0.02       121208
10        0.03       149462
14        0.04       120190
18        0.05       119731
...        ...          ...
225078  590.98       104717
225082  590.99       177597
225086  591.00       278300
225090  591.01       441837
225094  591.02        96076

[56274 rows x 2 columns]
df5
          time l2d_cache
3         0.01    440385
7         0.02    516831
11        0.03    812099
15        0.04    680283
19        0.05    657499
...        ...       ...
225079  590.98    398461
225083  590.99    471161
225087  591.00    605896
225091  591.01    920313
225095  591.02    202577

[56274 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     11805145       395623
1        0.03     24900544       662637
2        0.04     17865291       560093
3        0.05     18574103       537768
4        0.06     20951989       476484
...       ...          ...          ...
56268  590.98     11929526       293744
56269  590.99     18079887       293564
56270  591.00     11267781       327596
56271  591.01     20158507       478476
56272  591.02     21584998       106501

[56273 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       113686    440385
1        0.02       121208    516831
2        0.03       149462    812099
3        0.04       120190    680283
4        0.05       119731    657499
...       ...          ...       ...
56269  590.98       104717    398461
56270  590.99       177597    471161
56271  591.00       278300    605896
56272  591.01       441837    920313
56273  591.02        96076    202577

[56274 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010114   9488296         NaN  instructions    11121120
1         0.010114   3975697         NaN       l1d_tlb    11121120
2         0.010114   2623462         NaN    l1d_tlb_rd    11121120
3         0.010114   1352235         NaN    l1d_tlb_wr    11121120
4         0.020502  12983201         NaN  instructions     9918560
...            ...       ...         ...           ...         ...
225359  591.628487   2655465         NaN    l1d_tlb_wr    10005880
225360  591.631916   7543861         NaN  instructions     3016280
225361  591.631916   2761395         NaN       l1d_tlb     3016280
225362  591.631916   1945245         NaN    l1d_tlb_rd     3016280
225363  591.631916    816150         NaN    l1d_tlb_wr     3016280

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
225359       100.0         NaN         NaN
225360       100.0         NaN         NaN
225361       100.0         NaN         NaN
225362       100.0         NaN         NaN
225363       100.0         NaN         NaN

[225364 rows x 8 columns]
          time     value       counter
4         0.02  12983201  instructions
8         0.03  18538243  instructions
12        0.04  17336791  instructions
16        0.05  18294545  instructions
20        0.06  19522660  instructions
...        ...       ...           ...
225344  591.60  17836943  instructions
225348  591.61  12597083  instructions
225352  591.62  14427210  instructions
225356  591.63  25692148  instructions
225360  591.63   7543861  instructions

[56340 rows x 3 columns]
instructions
          time instructions
4         0.02     12983201
8         0.03     18538243
12        0.04     17336791
16        0.05     18294545
20        0.06     19522660
...        ...          ...
225344  591.60     17836943
225348  591.61     12597083
225352  591.62     14427210
225356  591.63     25692148
225360  591.63      7543861

[56340 rows x 2 columns]
df3
          time  l1d_tlb
1         0.01  3975697
5         0.02  5272158
9         0.03  7841447
13        0.04  7401287
17        0.05  7790196
...        ...      ...
225345  591.60  6656983
225349  591.61  4599373
225353  591.62  3868213
225357  591.63  9332515
225361  591.63  2761395

[56341 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2623462
6         0.02    3425644
10        0.03    5066844
14        0.04    4753286
18        0.05    5012622
...        ...        ...
225346  591.60    4439394
225350  591.61    3142167
225354  591.62    3085285
225358  591.63    6677050
225362  591.63    1945245

[56341 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1352235
7         0.02    1846514
11        0.03    2774603
15        0.04    2648001
19        0.05    2777574
...        ...        ...
225347  591.60    2217589
225351  591.61    1457206
225355  591.62     782928
225359  591.63    2655465
225363  591.63     816150

[56341 rows x 2 columns]
df6
         time instructions  l1d_tlb
0        0.02     12983201  5272158
1        0.03     18538243  7841447
2        0.04     17336791  7401287
3        0.05     18294545  7790196
4        0.06     19522660  8205983
...       ...          ...      ...
56337  591.62     14427210  3868213
56338  591.63     25692148  9332515
56339  591.63     25692148  2761395
56340  591.63      7543861  9332515
56341  591.63      7543861  2761395

[56342 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2623462    1352235
1        0.02    3425644    1846514
2        0.03    5066844    2774603
3        0.04    4753286    2648001
4        0.05    5012622    2777574
...       ...        ...        ...
56338  591.62    3085285     782928
56339  591.63    6677050    2655465
56340  591.63    6677050     816150
56341  591.63    1945245    2655465
56342  591.63    1945245     816150

[56343 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010089   9662523         NaN  instructions    11096560
1         0.010089     18901         NaN     dtlb_walk    11096560
2         0.010089      1489         NaN     itlb_walk    11096560
3         0.010089   3240513         NaN       l1i_tlb    11096560
4         0.020571  12910340         NaN  instructions     9823200
...            ...       ...         ...           ...         ...
225047  591.055760   5144513         NaN       l1i_tlb    10075520
225048  591.057546   3199207         NaN  instructions     1445320
225049  591.057546       983         NaN     dtlb_walk     1445320
225050  591.057546         5         NaN     itlb_walk     1445320
225051  591.057546    661356         NaN       l1i_tlb     1445320

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
225047       100.0         NaN         NaN
225048       100.0         NaN         NaN
225049       100.0         NaN         NaN
225050       100.0         NaN         NaN
225051       100.0         NaN         NaN

[225052 rows x 8 columns]
          time     value       counter
4         0.02  12910340  instructions
8         0.03  18457403  instructions
12        0.04  17667437  instructions
16        0.05  18698733  instructions
20        0.06  19541534  instructions
...        ...       ...           ...
225032  591.02  17654928  instructions
225036  591.04  13275220  instructions
225040  591.05  15752165  instructions
225044  591.06  26848572  instructions
225048  591.06   3199207  instructions

[56262 rows x 3 columns]
instructions
          time instructions
4         0.02     12910340
8         0.03     18457403
12        0.04     17667437
16        0.05     18698733
20        0.06     19541534
...        ...          ...
225032  591.02     17654928
225036  591.04     13275220
225040  591.05     15752165
225044  591.06     26848572
225048  591.06      3199207

[56262 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     18901
5         0.02      8852
9         0.03      1912
13        0.04      2554
17        0.05      2502
...        ...       ...
225033  591.02     11751
225037  591.04     27635
225041  591.05     31884
225045  591.06       356
225049  591.06       983

[56263 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1489
6         0.02      1210
10        0.03       631
14        0.04       724
18        0.05       650
...        ...       ...
225034  591.02       508
225038  591.04       893
225042  591.05       339
225046  591.06         0
225050  591.06         5

[56263 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  3240513
7         0.02  4236323
11        0.03  6308976
15        0.04  5991809
19        0.05  6270504
...        ...      ...
225035  591.02  4540746
225039  591.04  3846254
225043  591.05  5145387
225047  591.06  5144513
225051  591.06   661356

[56263 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     12910340      8852
1        0.03     18457403      1912
2        0.04     17667437      2554
3        0.05     18698733      2502
4        0.06     19541534      3687
...       ...          ...       ...
56259  591.05     15752165     31884
56260  591.06     26848572       356
56261  591.06     26848572       983
56262  591.06      3199207       356
56263  591.06      3199207       983

[56264 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1489  3240513
1        0.02      1210  4236323
2        0.03       631  6308976
3        0.04       724  5991809
4        0.05       650  6270504
...       ...       ...      ...
56260  591.05       339  5145387
56261  591.06         0  5144513
56262  591.06         0   661356
56263  591.06         5  5144513
56264  591.06         5   661356

[56265 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010171   7957398         NaN  instructions     8945440
1         0.010171     53585         NaN       l2d_tlb     8945440
2         0.010171     44717         NaN    l2d_tlb_rd     8945440
3         0.010171      8868         NaN    l2d_tlb_wr     8945440
4         0.022688  15190613         NaN  instructions    11608840
...            ...       ...         ...           ...         ...
225303  590.965161      4210         NaN    l2d_tlb_wr    10229480
225304  590.974530  23624430         NaN  instructions     8937280
225305  590.974530     34912         NaN       l2d_tlb     8937280
225306  590.974530     22470         NaN    l2d_tlb_rd     8937280
225307  590.974530     12442         NaN    l2d_tlb_wr     8937280

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
225303       100.0         NaN         NaN
225304       100.0         NaN         NaN
225305       100.0         NaN         NaN
225306       100.0         NaN         NaN
225307       100.0         NaN         NaN

[225308 rows x 8 columns]
          time     value       counter
4         0.02  15190613  instructions
8         0.03  18525199  instructions
12        0.04  17446792  instructions
16        0.05  18615555  instructions
20        0.06  20270693  instructions
...        ...       ...           ...
225288  590.93  11660576  instructions
225292  590.94  16747378  instructions
225296  590.95  12632302  instructions
225300  590.97  19891034  instructions
225304  590.97  23624430  instructions

[56326 rows x 3 columns]
instructions
          time instructions
4         0.02     15190613
8         0.03     18525199
12        0.04     17446792
16        0.05     18615555
20        0.06     20270693
...        ...          ...
225288  590.93     11660576
225292  590.94     16747378
225296  590.95     12632302
225300  590.97     19891034
225304  590.97     23624430

[56326 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   53585
5         0.02  108279
9         0.03  172820
13        0.04  168961
17        0.05  176642
...        ...     ...
225289  590.93  156410
225293  590.94  131965
225297  590.95  124387
225301  590.97   66357
225305  590.97   34912

[56327 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      44717
6         0.02      97302
10        0.03     164590
14        0.04     160612
18        0.05     168065
...        ...        ...
225290  590.93     143906
225294  590.94     122369
225298  590.95     116028
225302  590.97      62147
225306  590.97      22470

[56327 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01       8868
7         0.02      10977
11        0.03       8230
15        0.04       8349
19        0.05       8577
...        ...        ...
225291  590.93      12504
225295  590.94       9596
225299  590.95       8359
225303  590.97       4210
225307  590.97      12442

[56327 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     15190613  108279
1        0.03     18525199  172820
2        0.04     17446792  168961
3        0.05     18615555  176642
4        0.06     20270693  164571
...       ...          ...     ...
56323  590.95     12632302  124387
56324  590.97     19891034   66357
56325  590.97     19891034   34912
56326  590.97     23624430   66357
56327  590.97     23624430   34912

[56328 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      44717       8868
1        0.02      97302      10977
2        0.03     164590       8230
3        0.04     160612       8349
4        0.05     168065       8577
...       ...        ...        ...
56324  590.95     116028       8359
56325  590.97      62147       4210
56326  590.97      62147      12442
56327  590.97      22470       4210
56328  590.97      22470      12442

[56329 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]

              time          value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010140        9946369         NaN  instructions    11110280
1         0.010140             12         NaN      vfp_spec    11110280
2         0.010140       11943582         NaN     inst_spec    11110280
3         0.010140           5799         NaN      ase_spec    11110280
4         0.020606       14080645         NaN  instructions     9882600
...            ...            ...         ...           ...         ...
225235  591.264308              3         NaN      ase_spec    12508200
225236  591.264632  <not counted>         NaN  instructions           0
225237  591.264632  <not counted>         NaN      vfp_spec           0
225238  591.264632  <not counted>         NaN     inst_spec           0
225239  591.264632  <not counted>         NaN      ase_spec           0

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
225235       100.0         NaN         NaN
225236       100.0         NaN         NaN
225237       100.0         NaN         NaN
225238       100.0         NaN         NaN
225239       100.0         NaN         NaN

[225240 rows x 8 columns]
          time          value       counter
4         0.02       14080645  instructions
8         0.03       18044750  instructions
12        0.04       17029007  instructions
16        0.05       18950279  instructions
20        0.06       19508426  instructions
...        ...            ...           ...
225220  591.23       18065163  instructions
225224  591.24       11945040  instructions
225228  591.25       14814982  instructions
225232  591.26       32359513  instructions
225236  591.26  <not counted>  instructions

[56309 rows x 3 columns]
instructions
          time   instructions
4         0.02       14080645
8         0.03       18044750
12        0.04       17029007
16        0.05       18950279
20        0.06       19508426
...        ...            ...
225220  591.23       18065163
225224  591.24       11945040
225228  591.25       14814982
225232  591.26       32359513
225236  591.26  <not counted>

[56309 rows x 2 columns]
df3
          time       vfp_spec
1         0.01             12
5         0.02           2704
9         0.03            935
13        0.04            794
17        0.05            766
...        ...            ...
225221  591.23              1
225225  591.24              0
225229  591.25              0
225233  591.26              0
225237  591.26  <not counted>

[56310 rows x 2 columns]
df4
          time      inst_spec
2         0.01       11943582
6         0.02       16838243
10        0.03       23213979
14        0.04       21283405
18        0.05       23733688
...        ...            ...
225222  591.23       19235176
225226  591.24       13618709
225230  591.25       19191497
225234  591.26       32985988
225238  591.26  <not counted>

[56310 rows x 2 columns]
df5
          time       ase_spec
3         0.01           5799
7         0.02          26907
11        0.03          14997
15        0.04          11457
19        0.05          13141
...        ...            ...
225223  591.23           1992
225227  591.24            880
225231  591.25              0
225235  591.26              3
225239  591.26  <not counted>

[56310 rows x 2 columns]
df6
         time   instructions       vfp_spec
0        0.02       14080645           2704
1        0.03       18044750            935
2        0.04       17029007            794
3        0.05       18950279            766
4        0.06       19508426            302
...       ...            ...            ...
56306  591.25       14814982              0
56307  591.26       32359513              0
56308  591.26       32359513  <not counted>
56309  591.26  <not counted>              0
56310  591.26  <not counted>  <not counted>

[56311 rows x 3 columns]
df7
         time      inst_spec       ase_spec
0        0.01       11943582           5799
1        0.02       16838243          26907
2        0.03       23213979          14997
3        0.04       21283405          11457
4        0.05       23733688          13141
...       ...            ...            ...
56307  591.25       19191497              0
56308  591.26       32985988              3
56309  591.26       32985988  <not counted>
56310  591.26  <not counted>              3
56311  591.26  <not counted>  <not counted>

[56312 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010123   9406197         NaN      instructions    11182240
1         0.010123   5780781         NaN     stall_backend    11182240
2         0.010123   7365337         NaN    stall_frontend    11182240
3         0.010123    165539         NaN  ll_cache_miss_rd    11182240
4         0.020621  11381706         NaN      instructions     9727480
...            ...       ...         ...               ...         ...
225163  591.120789    338250         NaN  ll_cache_miss_rd    10264000
225164  591.125385  10920930         NaN      instructions     4156240
225165  591.125385   2633579         NaN     stall_backend     4156240
225166  591.125385    299994         NaN    stall_frontend     4156240
225167  591.125385     51470         NaN  ll_cache_miss_rd     4156240

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
225163       100.0         NaN         NaN
225164       100.0         NaN         NaN
225165       100.0         NaN         NaN
225166       100.0         NaN         NaN
225167       100.0         NaN         NaN

[225168 rows x 8 columns]
          time     value       counter
4         0.02  11381706  instructions
8         0.03  18652263  instructions
12        0.04  17548216  instructions
16        0.05  18431149  instructions
20        0.06  19447628  instructions
...        ...       ...           ...
225148  591.09  14635164  instructions
225152  591.10  15652188  instructions
225156  591.11  12573827  instructions
225160  591.12  25436540  instructions
225164  591.13  10920930  instructions

[56291 rows x 3 columns]
instructions
          time instructions
4         0.02     11381706
8         0.03     18652263
12        0.04     17548216
16        0.05     18431149
20        0.06     19447628
...        ...          ...
225148  591.09     14635164
225152  591.10     15652188
225156  591.11     12573827
225160  591.12     25436540
225164  591.13     10920930

[56291 rows x 2 columns]
df3
          time stall_backend
1         0.01       5780781
5         0.02       4324581
9         0.03       2370859
13        0.04       2394632
17        0.05       2340568
...        ...           ...
225149  591.09       7945010
225153  591.10       9134575
225157  591.11       9540289
225161  591.12       6816551
225165  591.13       2633579

[56292 rows x 2 columns]
df4
          time stall_frontend
2         0.01        7365337
6         0.02        5846767
10        0.03        5075420
14        0.04        5631402
18        0.05        5368037
...        ...            ...
225150  591.09        1805141
225154  591.10         754439
225158  591.11         529499
225162  591.12         535884
225166  591.13         299994

[56292 rows x 2 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

df5
          time ll_cache_miss_rd
3         0.01           165539
7         0.02           123077
11        0.03            90405
15        0.04            95927
19        0.05            96808
...        ...              ...
225151  591.09            95905
225155  591.10           212368
225159  591.11           477893
225163  591.12           338250
225167  591.13            51470

[56292 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     11381706       4324581
1        0.03     18652263       2370859
2        0.04     17548216       2394632
3        0.05     18431149       2340568
4        0.06     19447628       2459564
...       ...          ...           ...
56286  591.09     14635164       7945010
56287  591.10     15652188       9134575
56288  591.11     12573827       9540289
56289  591.12     25436540       6816551
56290  591.13     10920930       2633579

[56291 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        7365337           165539
1        0.02        5846767           123077
2        0.03        5075420            90405
3        0.04        5631402            95927
4        0.05        5368037            96808
...       ...            ...              ...
56287  591.09        1805141            95905
56288  591.10         754439           212368
56289  591.11         529499           477893
56290  591.12         535884           338250
56291  591.13         299994            51470

[56292 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010117   9874857         NaN   instructions    11110200
1         0.010117   3077524         NaN     mem_access    11110200
2         0.010117   1892443         NaN  mem_access_rd    11110200
3         0.010117   1185081         NaN  mem_access_wr    11110200
4         0.020807  14069879         NaN   instructions     9930520
...            ...       ...         ...            ...         ...
225235  591.403552   2890320         NaN  mem_access_wr    10013040
225236  591.404400    860729         NaN   instructions      529880
225237  591.404400    256822         NaN     mem_access      529880
225238  591.404400    157724         NaN  mem_access_rd      529880
225239  591.404400     99098         NaN  mem_access_wr      529880

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
225235       100.0         NaN         NaN
225236       100.0         NaN         NaN
225237       100.0         NaN         NaN
225238       100.0         NaN         NaN
225239       100.0         NaN         NaN

[225240 rows x 8 columns]
          time     value       counter
4         0.02  14069879  instructions
8         0.03  17855606  instructions
12        0.04  17242938  instructions
16        0.05  18700163  instructions
20        0.06  19766557  instructions
...        ...       ...           ...
225220  591.37  17743843  instructions
225224  591.38  12606644  instructions
225228  591.39  19743972  instructions
225232  591.40  27207406  instructions
225236  591.40    860729  instructions

[56309 rows x 3 columns]
instructions
          time instructions
4         0.02     14069879
8         0.03     17855606
12        0.04     17242938
16        0.05     18700163
20        0.06     19766557
...        ...          ...
225220  591.37     17743843
225224  591.38     12606644
225228  591.39     19743972
225232  591.40     27207406
225236  591.40       860729

[56309 rows x 2 columns]
df3
          time mem_access
1         0.01    3077524
5         0.02    4822356
9         0.03    6901428
13        0.04    6638123
17        0.05    7245191
...        ...        ...
225221  591.37    6199836
225225  591.38    4083869
225229  591.39    4770620
225233  591.40    7806614
225237  591.40     256822

[56310 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1892443
6         0.02       3014791
10        0.03       4385186
14        0.04       4184602
18        0.05       4609369
...        ...           ...
225222  591.37       4057706
225226  591.38       2703475
225230  591.39       3550599
225234  591.40       4916294
225238  591.40        157724

[56310 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1185081
7         0.02       1807565
11        0.03       2516242
15        0.04       2453521
19        0.05       2635822
...        ...           ...
225223  591.37       2142130
225227  591.38       1380394
225231  591.39       1220021
225235  591.40       2890320
225239  591.40         99098

[56310 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     14069879    4822356
1        0.03     17855606    6901428
2        0.04     17242938    6638123
3        0.05     18700163    7245191
4        0.06     19766557    7542264
...       ...          ...        ...
56306  591.39     19743972    4770620
56307  591.40     27207406    7806614
56308  591.40     27207406     256822
56309  591.40       860729    7806614
56310  591.40       860729     256822

[56311 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1892443       1185081
1        0.02       3014791       1807565
2        0.03       4385186       2516242
3        0.04       4184602       2453521
4        0.05       4609369       2635822
...       ...           ...           ...
56307  591.39       3550599       1220021
56308  591.40       4916294       2890320
56309  591.40       4916294         99098
56310  591.40        157724       2890320
56311  591.40        157724         99098

[56312 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

merged_df
         time   instructions     cpu-cycles        br_pred    br_mis_pred  \
0        0.02       14230585       14819316        2927758         104404
1        0.03       17462872       14552905        4007159         184577
2        0.04       17273880       14828619        3861311         162831
3        0.05       18573540       14867840        4215166         172309
4        0.06       19688668       14939333        4452549         151560
...       ...            ...            ...            ...            ...
36216  590.78         402819         716626          82876           3274
36217  590.80  <not counted>  <not counted>  <not counted>  <not counted>
36218  590.85  <not counted>  <not counted>  <not counted>  <not counted>
36219  590.86  <not counted>  <not counted>  <not counted>  <not counted>
36220  590.87  <not counted>  <not counted>  <not counted>  <not counted>

        l1d_cache_rd   l1d_cache_wr      l1d_cache l1i_cache l1i_cache_refill  \
0            2959910        1777550        4737460   4447940           274637
1            4482646        2569838        7052484   7476436           372703
2            4195506        2455039        6650545   7194134           435841
3            4556813        2605363        7162176   8694891           499198
4            4884939        2799739        7684678   7835733           343130
...              ...            ...            ...       ...              ...
36216          37395          20519          57914  11760921           171978
36217  <not counted>  <not counted>  <not counted>   4776226            34678
36218        3295075        1849858        5144933   4201919             8780
36219        3591714        1764984        5356698   5649223            41094
36220        2200163         900015        3100178   7519936             9668

       ...     l2d_tlb_wr       vfp_spec      inst_spec       ase_spec  \
0      ...          10977           2704       16838243          26907
1      ...           8230            935       23213979          14997
2      ...           8349            794       21283405          11457
3      ...           8577            766       23733688          13141
4      ...           8047            302       23790722          14346
...    ...            ...            ...            ...            ...
36216  ...  <not counted>  <not counted>  <not counted>  <not counted>
36217  ...  <not counted>  <not counted>  <not counted>  <not counted>
36218  ...  <not counted>  <not counted>  <not counted>  <not counted>
36219  ...  <not counted>  <not counted>  <not counted>  <not counted>
36220  ...             57  <not counted>  <not counted>  <not counted>

      stall_backend stall_frontend ll_cache_miss_rd     mem_access  \
0           4324581        5846767           123077        4822356
1           2370859        5075420            90405        6901428
2           2394632        5631402            95927        6638123
3           2340568        5368037            96808        7245191
4           2459564        5080864           106830        7542264
...             ...            ...              ...            ...
36216         61863          50096             4615        5191569
36217       8579926        1850971            91641        3296301
36218       4812362        2355542            73078  <not counted>
36219       8844556         660585           129676  <not counted>
36220       8880486         495689           155819  <not counted>

       mem_access_rd  mem_access_wr
0            3014791        1807565
1            4385186        2516242
2            4184602        2453521
3            4609369        2635822
4            4793786        2748478
...              ...            ...
36216        3537360        1654209
36217        2853268         443033
36218  <not counted>  <not counted>
36219  <not counted>  <not counted>
36220  <not counted>  <not counted>

[36221 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010113   9557482         NaN  instructions    11165200
1         0.010113  16589998         NaN    cpu-cycles    11165200
2         0.010113   1758299         NaN       br_pred    11165200
3         0.010113     69791         NaN   br_mis_pred    11165200
4         0.020597  12231722         NaN  instructions     9931400
...            ...       ...         ...           ...         ...
365155  945.873200     24401         NaN   br_mis_pred    10354200
365156  945.876974   8657194         NaN  instructions     3350800
365157  945.876974   4990605         NaN    cpu-cycles     3350800
365158  945.876974   1259435         NaN       br_pred     3350800
365159  945.876974      3561         NaN   br_mis_pred     3350800

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.58  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.83  insn per cycle
...            ...         ...             ...
365155       100.0         NaN             NaN
365156       100.0        1.73  insn per cycle
365157       100.0         NaN             NaN
365158       100.0         NaN             NaN
365159       100.0         NaN             NaN

[365160 rows x 8 columns]
          time     value       counter
4         0.02  12231722  instructions
8         0.03  18781813  instructions
12        0.04  17142605  instructions
16        0.05  18494541  instructions
20        0.06  19818916  instructions
...        ...       ...           ...
365140  945.84  20499793  instructions
365144  945.85  12677510  instructions
365148  945.86  13355549  instructions
365152  945.87  26365541  instructions
365156  945.88   8657194  instructions

[91289 rows x 3 columns]
instructions
          time instructions
4         0.02     12231722
8         0.03     18781813
12        0.04     17142605
16        0.05     18494541
20        0.06     19818916
...        ...          ...
365140  945.84     20499793
365144  945.85     12677510
365148  945.86     13355549
365152  945.87     26365541
365156  945.88      8657194

[91289 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   16589998
5         0.02   14811434
9         0.03   14753840
13        0.04   14691281
17        0.05   14926920
...        ...        ...
365141  945.84   18836302
365145  945.85   14715237
365149  945.86   14994330
365153  945.87   15464704
365157  945.88    4990605

[91290 rows x 2 columns]
df4
          time  br_pred
2         0.01  1758299
6         0.02  2459691
10        0.03  4298046
14        0.04  3865892
18        0.05  4189059
...        ...      ...
365142  945.84  4620898
365146  945.85  2988850
365150  945.86  3743929
365154  945.87  4403120
365158  945.88  1259435

[91290 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       69791
7         0.02      101177
11        0.03      177378
15        0.04      163027
19        0.05      170051
...        ...         ...
365143  945.84       47061
365147  945.85       38890
365151  945.86       99446
365155  945.87       24401
365159  945.88        3561

[91290 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     12231722   14811434
1        0.03     18781813   14753840
2        0.04     17142605   14691281
3        0.05     18494541   14926920
4        0.06     19818916   14915761
...       ...          ...        ...
91284  945.84     20499793   18836302
91285  945.85     12677510   14715237
91286  945.86     13355549   14994330
91287  945.87     26365541   15464704
91288  945.88      8657194    4990605

[91289 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1758299       69791
1        0.02  2459691      101177
2        0.03  4298046      177378
3        0.04  3865892      163027
4        0.05  4189059      170051
...       ...      ...         ...
91285  945.84  4620898       47061
91286  945.85  2988850       38890
91287  945.86  3743929       99446
91288  945.87  4403120       24401
91289  945.88  1259435        3561

[91290 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010101   8293695         NaN  instructions     9468360
1         0.010101   1609227         NaN  l1d_cache_rd     9468360
2         0.010101    996717         NaN  l1d_cache_wr     9468360
3         0.010101   2605944         NaN     l1d_cache     9468360
4         0.020583  11404956         NaN  instructions     9892320
...            ...       ...         ...           ...         ...
365355  944.603012   5275287         NaN     l1d_cache    12356040
365356  944.612676  24273129         NaN  instructions     9218160
365357  944.612676   4390255         NaN  l1d_cache_rd     9218160
365358  944.612676   2581664         NaN  l1d_cache_wr     9218160
365359  944.612676   6971919         NaN     l1d_cache     9218160

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
365355       100.0         NaN         NaN
365356       100.0         NaN         NaN
365357       100.0         NaN         NaN
365358       100.0         NaN         NaN
365359       100.0         NaN         NaN

[365360 rows x 8 columns]
          time     value       counter
4         0.02  11404956  instructions
8         0.03  18959360  instructions
12        0.04  18708204  instructions
16        0.05  18667471  instructions
20        0.06  19615556  instructions
...        ...       ...           ...
365340  944.57   9639038  instructions
365344  944.58  16444570  instructions
365348  944.59  14143945  instructions
365352  944.60  21942308  instructions
365356  944.61  24273129  instructions

[91339 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]

instructions
          time instructions
4         0.02     11404956
8         0.03     18959360
12        0.04     18708204
16        0.05     18667471
20        0.06     19615556
...        ...          ...
365340  944.57      9639038
365344  944.58     16444570
365348  944.59     14143945
365352  944.60     21942308
365356  944.61     24273129

[91339 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1609227
5         0.02      2349201
9         0.03      4573833
13        0.04      4568168
17        0.05      4577655
...        ...          ...
365341  944.57      2163514
365345  944.58      3751176
365349  944.59      3098221
365353  944.60      3849979
365357  944.61      4390255

[91340 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01       996717
6         0.02      1435739
10        0.03      2631037
14        0.04      2656250
18        0.05      2631808
...        ...          ...
365342  944.57      1406318
365346  944.58      1970335
365350  944.59      1556468
365354  944.60      1425308
365358  944.61      2581664

[91340 rows x 2 columns]
df5
          time l1d_cache
3         0.01   2605944
7         0.02   3784940
11        0.03   7204870
15        0.04   7224418
19        0.05   7209463
...        ...       ...
365343  944.57   3569832
365347  944.58   5721511
365351  944.59   4654689
365355  944.60   5275287
365359  944.61   6971919

[91340 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     11404956      2349201
1        0.03     18959360      4573833
2        0.04     18708204      4568168
3        0.05     18667471      4577655
4        0.06     19615556      4765975
...       ...          ...          ...
91334  944.57      9639038      2163514
91335  944.58     16444570      3751176
91336  944.59     14143945      3098221
91337  944.60     21942308      3849979
91338  944.61     24273129      4390255

[91339 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01       996717   2605944
1        0.02      1435739   3784940
2        0.03      2631037   7204870
3        0.04      2656250   7224418
4        0.05      2631808   7209463
...       ...          ...       ...
91335  944.57      1406318   3569832
91336  944.58      1970335   5721511
91337  944.59      1556468   4654689
91338  944.60      1425308   5275287
91339  944.61      2581664   6971919

[91340 rows x 3 columns]
              time    value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010145  8082902         NaN      instructions     9948640
1         0.010145  2930263         NaN         l1i_cache     9948640
2         0.010145   203458         NaN  l1i_cache_refill     9948640
3         0.010145    71830         NaN     remote_access     9948640
4         0.020659  9965356         NaN      instructions     9880720
...            ...      ...         ...               ...         ...
365435  944.763592     3565         NaN     remote_access    10019520
365436  944.764220   333630         NaN      instructions      319040
365437  944.764220   105196         NaN         l1i_cache      319040
365438  944.764220     2736         NaN  l1i_cache_refill      319040
365439  944.764220     1822         NaN     remote_access      319040

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
365435       100.0         NaN         NaN
365436       100.0         NaN         NaN
365437       100.0         NaN         NaN
365438       100.0         NaN         NaN
365439       100.0         NaN         NaN

[365440 rows x 8 columns]
          time     value       counter
4         0.02   9965356  instructions
8         0.03  18286116  instructions
12        0.04  17225108  instructions
16        0.05  22586776  instructions
20        0.06  19345450  instructions
...        ...       ...           ...
365420  944.73  18173615  instructions
365424  944.74  12466741  instructions
365428  944.75  17930901  instructions
365432  944.76  26520049  instructions
365436  944.76    333630  instructions

[91359 rows x 3 columns]
instructions
          time instructions
4         0.02      9965356
8         0.03     18286116
12        0.04     17225108
16        0.05     22586776
20        0.06     19345450
...        ...          ...
365420  944.73     18173615
365424  944.74     12466741
365428  944.75     17930901
365432  944.76     26520049
365436  944.76       333630

[91359 rows x 2 columns]
df3
          time l1i_cache
1         0.01   2930263
5         0.02   3707152
9         0.03   7327798
13        0.04   7005157
17        0.05   9099672
...        ...       ...
365421  944.73   5613250
365425  944.74   4257997
365429  944.75   6363588
365433  944.76   7082644
365437  944.76    105196

[91360 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           203458
6         0.02           228681
10        0.03           362275
14        0.04           448027
18        0.05           512979
...        ...              ...
365422  944.73           128283
365426  944.74            45237
365430  944.75            12279
365434  944.76             7068
365438  944.76             2736

[91360 rows x 2 columns]
df5
          time remote_access
3         0.01         71830
7         0.02         58090
11        0.03         21175
15        0.04         22163
19        0.05         27375
...        ...           ...
365423  944.73          4039
365427  944.74          3743
365431  944.75          4990
365435  944.76          3565
365439  944.76          1822

[91360 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02      9965356   3707152
1        0.03     18286116   7327798
2        0.04     17225108   7005157
3        0.05     22586776   9099672
4        0.06     19345450   7474464
...       ...          ...       ...
91356  944.75     17930901   6363588
91357  944.76     26520049   7082644
91358  944.76     26520049    105196
91359  944.76       333630   7082644
91360  944.76       333630    105196

[91361 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           203458         71830
1        0.02           228681         58090
2        0.03           362275         21175
3        0.04           448027         22163
4        0.05           512979         27375
...       ...              ...           ...
91357  944.75            12279          4990
91358  944.76             7068          3565
91359  944.76             7068          1822
91360  944.76             2736          3565
91361  944.76             2736          1822

[91362 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010125   9598013         NaN  instructions    11119320
1         0.010125    362256         NaN  l2d_cache_rd    11119320
2         0.010125    129005         NaN  l2d_cache_wr    11119320
3         0.010125    491261         NaN     l2d_cache    11119320
4         0.020670  12492448         NaN  instructions     9911200
...            ...       ...         ...           ...         ...
365351  945.207115    792459         NaN     l2d_cache     9998120
365352  945.213238  14685422         NaN  instructions     5713800
365353  945.213238     77168         NaN  l2d_cache_rd     5713800
365354  945.213238     68078         NaN  l2d_cache_wr     5713800
365355  945.213238    145246         NaN     l2d_cache     5713800

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
365351       100.0         NaN         NaN
365352       100.0         NaN         NaN
365353       100.0         NaN         NaN
365354       100.0         NaN         NaN
365355       100.0         NaN         NaN

[365356 rows x 8 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

          time     value       counter
4         0.02  12492448  instructions
8         0.03  18663126  instructions
12        0.04  17662082  instructions
16        0.05  18405332  instructions
20        0.06  19632895  instructions
...        ...       ...           ...
365336  945.18  14554372  instructions
365340  945.19  16009799  instructions
365344  945.20  10740147  instructions
365348  945.21  24315073  instructions
365352  945.21  14685422  instructions

[91338 rows x 3 columns]
instructions
          time instructions
4         0.02     12492448
8         0.03     18663126
12        0.04     17662082
16        0.05     18405332
20        0.06     19632895
...        ...          ...
365336  945.18     14554372
365340  945.19     16009799
365344  945.20     10740147
365348  945.21     24315073
365352  945.21     14685422

[91338 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       362256
5         0.02       386850
9         0.03       497098
13        0.04       551001
17        0.05       547639
...        ...          ...
365337  945.18       292389
365341  945.19       294571
365345  945.20       342370
365349  945.21       409120
365353  945.21        77168

[91339 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       129005
6         0.02       115600
10        0.03       111716
14        0.04       115701
18        0.05       120107
...        ...          ...
365338  945.18       129586
365342  945.19       203093
365346  945.20       289605
365350  945.21       383339
365354  945.21        68078

[91339 rows x 2 columns]
df5
          time l2d_cache
3         0.01    491261
7         0.02    502450
11        0.03    608814
15        0.04    666702
19        0.05    667746
...        ...       ...
365339  945.18    421975
365343  945.19    497664
365347  945.20    631975
365351  945.21    792459
365355  945.21    145246

[91339 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     12492448       386850
1        0.03     18663126       497098
2        0.04     17662082       551001
3        0.05     18405332       547639
4        0.06     19632895       461108
...       ...          ...          ...
91335  945.20     10740147       342370
91336  945.21     24315073       409120
91337  945.21     24315073        77168
91338  945.21     14685422       409120
91339  945.21     14685422        77168

[91340 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       129005    491261
1        0.02       115600    502450
2        0.03       111716    608814
3        0.04       115701    666702
4        0.05       120107    667746
...       ...          ...       ...
91336  945.20       289605    631975
91337  945.21       383339    792459
91338  945.21       383339    145246
91339  945.21        68078    792459
91340  945.21        68078    145246

[91341 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010103   9276615         NaN  instructions    10674320
1         0.010103   3894474         NaN       l1d_tlb    10674320
2         0.010103   2564383         NaN    l1d_tlb_rd    10674320
3         0.010103   1330091         NaN    l1d_tlb_wr    10674320
4         0.020588  11259072         NaN  instructions     9777400
...            ...       ...         ...           ...         ...
365463  945.405957   2049063         NaN    l1d_tlb_wr    10765800
365464  945.412046  14342611         NaN  instructions     5554040
365465  945.412046   5289738         NaN       l1d_tlb     5554040
365466  945.412046   3748278         NaN    l1d_tlb_rd     5554040
365467  945.412046   1541460         NaN    l1d_tlb_wr     5554040

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
365463       100.0         NaN         NaN
365464       100.0         NaN         NaN
365465       100.0         NaN         NaN
365466       100.0         NaN         NaN
365467       100.0         NaN         NaN

[365468 rows x 8 columns]
          time     value       counter
4         0.02  11259072  instructions
8         0.03  18930393  instructions
12        0.04  17252740  instructions
16        0.05  18689034  instructions
20        0.06  19603006  instructions
...        ...       ...           ...
365448  945.37  13354925  instructions
365452  945.38  17173728  instructions
365456  945.39  10883222  instructions
365460  945.41  25268751  instructions
365464  945.41  14342611  instructions

[91366 rows x 3 columns]
instructions
          time instructions
4         0.02     11259072
8         0.03     18930393
12        0.04     17252740
16        0.05     18689034
20        0.06     19603006
...        ...          ...
365448  945.37     13354925
365452  945.38     17173728
365456  945.39     10883222
365460  945.41     25268751
365464  945.41     14342611

[91366 rows x 2 columns]
df3
          time  l1d_tlb
1         0.01  3894474
5         0.02  4618640
9         0.03  7928163
13        0.04  7373276
17        0.05  7977615
...        ...      ...
365449  945.37  5302079
365453  945.38  6164116
365457  945.39  3689872
365461  945.41  8133834
365465  945.41  5289738

[91367 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2564383
6         0.02    3010686
10        0.03    5114228
14        0.04    4745889
18        0.05    5138115
...        ...        ...
365450  945.37    3473640
365454  945.38    4181919
365458  945.39    2712291
365462  945.41    6084771
365466  945.41    3748278

[91367 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1330091
7         0.02    1607954
11        0.03    2813935
15        0.04    2627387
19        0.05    2839500
...        ...        ...
365451  945.37    1828439
365455  945.38    1982197
365459  945.39     977581
365463  945.41    2049063
365467  945.41    1541460

[91367 rows x 2 columns]
df6
         time instructions  l1d_tlb
0        0.02     11259072  4618640
1        0.03     18930393  7928163
2        0.04     17252740  7373276
3        0.05     18689034  7977615
4        0.06     19603006  8277937
...       ...          ...      ...
91363  945.39     10883222  3689872
91364  945.41     25268751  8133834
91365  945.41     25268751  5289738
91366  945.41     14342611  8133834
91367  945.41     14342611  5289738

[91368 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2564383    1330091
1        0.02    3010686    1607954
2        0.03    5114228    2813935
3        0.04    4745889    2627387
4        0.05    5138115    2839500
...       ...        ...        ...
91364  945.39    2712291     977581
91365  945.41    6084771    2049063
91366  945.41    6084771    1541460
91367  945.41    3748278    2049063
91368  945.41    3748278    1541460

[91369 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010111   9226675         NaN  instructions    10916800
1         0.010111     17271         NaN     dtlb_walk    10916800
2         0.010111      1459         NaN     itlb_walk    10916800
3         0.010111   3086773         NaN       l1i_tlb    10916800
4         0.020511  11393358         NaN  instructions     9925560
...            ...       ...         ...           ...         ...
365559  945.561550   5053879         NaN       l1i_tlb    10041480
365560  945.565644   9084847         NaN  instructions     3691960
365561  945.565644      1259         NaN     dtlb_walk     3691960
365562  945.565644         4         NaN     itlb_walk     3691960
365563  945.565644   1757610         NaN       l1i_tlb     3691960

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
365559       100.0         NaN         NaN
365560       100.0         NaN         NaN
365561       100.0         NaN         NaN
365562       100.0         NaN         NaN
365563       100.0         NaN         NaN

[365564 rows x 8 columns]
          time     value       counter
4         0.02  11393358  instructions
8         0.03  18708473  instructions
12        0.04  17228898  instructions
16        0.05  18470986  instructions
20        0.06  19444271  instructions
...        ...       ...           ...
365544  945.53  16507427  instructions
365548  945.54  13439363  instructions
365552  945.55  13341374  instructions
365556  945.56  25324732  instructions
365560  945.57   9084847  instructions

[91390 rows x 3 columns]
instructions
          time instructions
4         0.02     11393358
8         0.03     18708473
12        0.04     17228898
16        0.05     18470986
20        0.06     19444271
...        ...          ...
365544  945.53     16507427
365548  945.54     13439363
365552  945.55     13341374
365556  945.56     25324732
365560  945.57      9084847

[91390 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     17271
5         0.02     10126
9         0.03      1926
13        0.04      2528
17        0.05      2735
...        ...       ...
365545  945.53     11817
365549  945.54     20784
365553  945.55     35911
365557  945.56      4399
365561  945.57      1259

[91391 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1459
6         0.02      1160
10        0.03       610
14        0.04       695
18        0.05       692
...        ...       ...
365546  945.53       587
365550  945.54       959
365554  945.55       220
365558  945.56       186
365562  945.57         4

[91391 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  3086773
7         0.02  3869799
11        0.03  6240028
15        0.04  5898520
19        0.05  6148104
...        ...      ...
365547  945.53  4254749
365551  945.54  3761921
365555  945.55  4793191
365559  945.56  5053879
365563  945.57  1757610

[91391 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     11393358     10126
1        0.03     18708473      1926
2        0.04     17228898      2528
3        0.05     18470986      2735
4        0.06     19444271      3103
...       ...          ...       ...
91385  945.53     16507427     11817
91386  945.54     13439363     20784
91387  945.55     13341374     35911
91388  945.56     25324732      4399
91389  945.57      9084847      1259

[91390 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1459  3086773
1        0.02      1160  3869799
2        0.03       610  6240028
3        0.04       695  5898520
4        0.05       692  6148104
...       ...       ...      ...
91386  945.53       587  4254749
91387  945.54       959  3761921
91388  945.55       220  4793191
91389  945.56       186  5053879
91390  945.57         4  1757610

[91391 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010109   8465634         NaN  instructions     9771400
1         0.010109     57876         NaN       l2d_tlb     9771400
2         0.010109     48091         NaN    l2d_tlb_rd     9771400
3         0.010109      9785         NaN    l2d_tlb_wr     9771400
4         0.020583  10802695         NaN  instructions     9706400
...            ...       ...         ...           ...         ...
365619  945.733319      5304         NaN    l2d_tlb_wr    10081360
365620  945.742995  22891840         NaN  instructions     8898960
365621  945.742995     36419         NaN       l2d_tlb     8898960
365622  945.742995     23269         NaN    l2d_tlb_rd     8898960
365623  945.742995     13150         NaN    l2d_tlb_wr     8898960

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
365619       100.0         NaN         NaN
365620       100.0         NaN         NaN
365621       100.0         NaN         NaN
365622       100.0         NaN         NaN
365623       100.0         NaN         NaN

[365624 rows x 8 columns]
          time     value       counter
4         0.02  10802695  instructions
8         0.03  18558577  instructions
12        0.04  21260554  instructions
16        0.05  18707128  instructions
20        0.06  19668790  instructions
...        ...       ...           ...
365604  945.70  11843280  instructions
365608  945.71  18687207  instructions
365612  945.72  10846431  instructions
365616  945.73  19984894  instructions
365620  945.74  22891840  instructions

[91405 rows x 3 columns]
instructions
          time instructions
4         0.02     10802695
8         0.03     18558577
12        0.04     21260554
16        0.05     18707128
20        0.06     19668790
...        ...          ...
365604  945.70     11843280
365608  945.71     18687207
365612  945.72     10846431
365616  945.73     19984894
365620  945.74     22891840

[91405 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   57876
5         0.02   78127
9         0.03  158432
13        0.04  209049
17        0.05  176843
...        ...     ...
365605  945.70  152473
365609  945.71  127002
365613  945.72  127740
365617  945.73   64571
365621  945.74   36419

[91406 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      48091
6         0.02      69729
10        0.03     150596
14        0.04     198723
18        0.05     168201
...        ...        ...
365606  945.70     140154
365610  945.71     117883
365614  945.72     119444
365618  945.73      59267
365622  945.74      23269

[91406 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01       9785
7         0.02       8398
11        0.03       7836
15        0.04      10326
19        0.05       8642
...        ...        ...
365607  945.70      12319
365611  945.71       9119
365615  945.72       8296
365619  945.73       5304
365623  945.74      13150

[91406 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     10802695   78127
1        0.03     18558577  158432
2        0.04     21260554  209049
3        0.05     18707128  176843
4        0.06     19668790  155445
...       ...          ...     ...
91400  945.70     11843280  152473
91401  945.71     18687207  127002
91402  945.72     10846431  127740
91403  945.73     19984894   64571
91404  945.74     22891840   36419

[91405 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      48091       9785
1        0.02      69729       8398
2        0.03     150596       7836
3        0.04     198723      10326
4        0.05     168201       8642
...       ...        ...        ...
91401  945.70     140154      12319
91402  945.71     117883       9119
91403  945.72     119444       8296
91404  945.73      59267       5304
91405  945.74      23269      13150

[91406 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010106   9541327         NaN  instructions    10803360
1         0.010106        12         NaN      vfp_spec    10803360
2         0.010106  11466667         NaN     inst_spec    10803360
3         0.010106      5748         NaN      ase_spec    10803360
4         0.020586  13099599         NaN  instructions     9860720
...            ...       ...         ...           ...         ...
365019  944.082663         0         NaN      ase_spec    10107520
365020  944.087217  10475887         NaN  instructions     4137640
365021  944.087217         0         NaN      vfp_spec     4137640
365022  944.087217  10734723         NaN     inst_spec     4137640
365023  944.087217         0         NaN      ase_spec     4137640

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
365019       100.0         NaN         NaN
365020       100.0         NaN         NaN
365021       100.0         NaN         NaN
365022       100.0         NaN         NaN
365023       100.0         NaN         NaN

[365024 rows x 8 columns]
          time     value       counter
4         0.02  13099599  instructions
8         0.03  18492904  instructions
12        0.04  17167635  instructions
16        0.05  18761407  instructions
20        0.06  19718129  instructions
...        ...       ...           ...
365004  944.05  17431888  instructions
365008  944.06  12845289  instructions
365012  944.07  12866158  instructions
365016  944.08  25188899  instructions
365020  944.09  10475887  instructions

[91255 rows x 3 columns]
instructions
          time instructions
4         0.02     13099599
8         0.03     18492904
12        0.04     17167635
16        0.05     18761407
20        0.06     19718129
...        ...          ...
365004  944.05     17431888
365008  944.06     12845289
365012  944.07     12866158
365016  944.08     25188899
365020  944.09     10475887

[91255 rows x 2 columns]
df3
          time vfp_spec
1         0.01       12
5         0.02     1576
9         0.03     2031
13        0.04      712
17        0.05      845
...        ...      ...
365005  944.05        0
365009  944.06        0
365013  944.07        0
365017  944.08        0
365021  944.09        0

[91256 rows x 2 columns]
df4
          time inst_spec
2         0.01  11466667
6         0.02  15858558
10        0.03  23472220
14        0.04  21546426
18        0.05  23436240
...        ...       ...
365006  944.05  18711993
365010  944.06  14425321
365014  944.07  16619160
365018  944.08  26339619
365022  944.09  10734723

[91256 rows x 2 columns]
df5
          time ase_spec
3         0.01     5748
7         0.02    20009
11        0.03    20692
15        0.04    11802
19        0.05    12946
...        ...      ...
365007  944.05     1706
365011  944.06     1273
365015  944.07        0
365019  944.08        0
365023  944.09        0

[91256 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     13099599     1576
1        0.03     18492904     2031
2        0.04     17167635      712
3        0.05     18761407      845
4        0.06     19718129      308
...       ...          ...      ...
91250  944.05     17431888        0
91251  944.06     12845289        0
91252  944.07     12866158        0
91253  944.08     25188899        0
91254  944.09     10475887        0

[91255 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  11466667     5748
1        0.02  15858558    20009
2        0.03  23472220    20692
3        0.04  21546426    11802
4        0.05  23436240    12946
...       ...       ...      ...
91251  944.05  18711993     1706
91252  944.06  14425321     1273
91253  944.07  16619160        0
91254  944.08  26339619        0
91255  944.09  10734723        0

[91256 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010108   7581580         NaN      instructions     8884600
1         0.010108   4575302         NaN     stall_backend     8884600
2         0.010108   5809612         NaN    stall_frontend     8884600
3         0.010108    129461         NaN  ll_cache_miss_rd     8884600
4         0.020987  10601007         NaN      instructions    10154040
...            ...       ...         ...               ...         ...
365211  944.559447    553494         NaN  ll_cache_miss_rd    10281520
365212  944.567655  20213526         NaN      instructions     7752640
365213  944.567655   5159473         NaN     stall_backend     7752640
365214  944.567655    411769         NaN    stall_frontend     7752640
365215  944.567655     85538         NaN  ll_cache_miss_rd     7752640

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
365211       100.0         NaN         NaN
365212       100.0         NaN         NaN
365213       100.0         NaN         NaN
365214       100.0         NaN         NaN
365215       100.0         NaN         NaN

[365216 rows x 8 columns]
          time     value       counter
4         0.02  10601007  instructions
8         0.03  24092826  instructions
12        0.04  16971889  instructions
16        0.05  18689621  instructions
20        0.06  19649604  instructions
...        ...       ...           ...
365196  944.53  12082550  instructions
365200  944.54  18125554  instructions
365204  944.55  11147085  instructions
365208  944.56  21266319  instructions
365212  944.57  20213526  instructions

[91303 rows x 3 columns]
instructions
          time instructions
4         0.02     10601007
8         0.03     24092826
12        0.04     16971889
16        0.05     18689621
20        0.06     19649604
...        ...          ...
365196  944.53     12082550
365200  944.54     18125554
365204  944.55     11147085
365208  944.56     21266319
365212  944.57     20213526

[91303 rows x 2 columns]
df3
          time stall_backend
1         0.01       4575302
5         0.02       5076402
9         0.03       2993629
13        0.04       2413680
17        0.05       2369626
...        ...           ...
365197  944.53       7875406
365201  944.54       8008205
365205  944.55      10099249
365209  944.56       7343880
365213  944.57       5159473

[91304 rows x 2 columns]
df4
          time stall_frontend
2         0.01        5809612
6         0.02        6101713
10        0.03        6307200
14        0.04        5692111
18        0.05        5205728
...        ...            ...
365198  944.53        2521875
365202  944.54        1148593
365206  944.55         688067
365210  944.56         612744
365214  944.57         411769

[91304 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           129461
7         0.02           136576
11        0.03           105710
15        0.04           102173
19        0.05            94609
...        ...              ...
365199  944.53            96350
365203  944.54           150692
365207  944.55           331773
365211  944.56           553494
365215  944.57            85538

[91304 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     10601007       5076402
1        0.03     24092826       2993629
2        0.04     16971889       2413680
3        0.05     18689621       2369626
4        0.06     19649604       2430677
...       ...          ...           ...
91298  944.53     12082550       7875406
91299  944.54     18125554       8008205
91300  944.55     11147085      10099249
91301  944.56     21266319       7343880
91302  944.57     20213526       5159473

[91303 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        5809612           129461
1        0.02        6101713           136576
2        0.03        6307200           105710
3        0.04        5692111           102173
4        0.05        5205728            94609
...       ...            ...              ...
91299  944.53        2521875            96350
91300  944.54        1148593           150692
91301  944.55         688067           331773
91302  944.56         612744           553494
91303  944.57         411769            85538

[91304 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010132   7982643         NaN   instructions     8913520
1         0.010132   2491868         NaN     mem_access     8913520
2         0.010132   1537801         NaN  mem_access_rd     8913520
3         0.010132    954067         NaN  mem_access_wr     8913520
4         0.024540  18763844         NaN   instructions    13389400
...            ...       ...         ...            ...         ...
365151  944.611569   2230599         NaN  mem_access_wr    10100560
365152  944.616648  11863131         NaN   instructions     4667040
365153  944.616648   3409570         NaN     mem_access     4667040
365154  944.616648   2133341         NaN  mem_access_rd     4667040
365155  944.616648   1276229         NaN  mem_access_wr     4667040

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
365151       100.0         NaN         NaN
365152       100.0         NaN         NaN
365153       100.0         NaN         NaN
365154       100.0         NaN         NaN
365155       100.0         NaN         NaN

[365156 rows x 8 columns]
          time     value       counter
4         0.02  18763844  instructions
8         0.03  17824925  instructions
12        0.05  17248502  instructions
16        0.06  18062022  instructions
20        0.07  20396455  instructions
...        ...       ...           ...
365136  944.58  15385231  instructions
365140  944.59  15412524  instructions
365144  944.60  12308929  instructions
365148  944.61  25008723  instructions
365152  944.62  11863131  instructions

[91288 rows x 3 columns]
instructions
          time instructions
4         0.02     18763844
8         0.03     17824925
12        0.05     17248502
16        0.06     18062022
20        0.07     20396455
...        ...          ...
365136  944.58     15385231
365140  944.59     15412524
365144  944.60     12308929
365148  944.61     25008723
365152  944.62     11863131

[91288 rows x 2 columns]
df3
          time mem_access
1         0.01    2491868
5         0.02    6435806
9         0.03    6950351
13        0.05    6625212
17        0.06    7014964
...        ...        ...
365137  944.58    5386011
365141  944.59    5089718
365145  944.60    3221384
365149  944.61    6643229
365153  944.62    3409570

[91289 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1537801
6         0.02       4033863
10        0.03       4402233
14        0.05       4170666
18        0.06       4462877
...        ...           ...
365138  944.58       3510390
365142  944.59       3369149
365146  944.60       2356405
365150  944.61       4412630
365154  944.62       2133341

[91289 rows x 2 columns]
df5
          time mem_access_wr
3         0.01        954067
7         0.02       2401943
11        0.03       2548118
15        0.05       2454546
19        0.06       2552087
...        ...           ...
365139  944.58       1875621
365143  944.59       1720569
365147  944.60        864979
365151  944.61       2230599
365155  944.62       1276229

[91289 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     18763844    6435806
1        0.03     17824925    6950351
2        0.05     17248502    6625212
3        0.06     18062022    7014964
4        0.07     20396455    7792887
...       ...          ...        ...
91283  944.58     15385231    5386011
91284  944.59     15412524    5089718
91285  944.60     12308929    3221384
91286  944.61     25008723    6643229
91287  944.62     11863131    3409570

[91288 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1537801        954067
1        0.02       4033863       2401943
2        0.03       4402233       2548118
3        0.05       4170666       2454546
4        0.06       4462877       2552087
...       ...           ...           ...
91284  944.58       3510390       1875621
91285  944.59       3369149       1720569
91286  944.60       2356405        864979
91287  944.61       4412630       2230599
91288  944.62       2133341       1276229

[91289 rows x 3 columns]
merged_df
         time instructions cpu-cycles  br_pred br_mis_pred   l1d_cache_rd  \
0        0.02     12231722   14811434  2459691      101177        2349201
1        0.03     18781813   14753840  4298046      177378        4573833
2        0.05     18494541   14926920  4189059      170051        4577655
3        0.06     19818916   14915761  4478645      149818        4765975
4        0.08     28430631   14944573  7298415      128680        5912032
...       ...          ...        ...      ...         ...            ...
67175  944.00     31055236   14941047  6253916       46863        3779259
67176  944.01     32004340   14984770  6435560       43353        3027538
67177  944.03     31801421   14932965  6401165       43965         188046
67178  944.04     32608198   14998584  6562828       39847  <not counted>
67179  944.07     30711292   14930814  6379943       55682  <not counted>

        l1d_cache_wr      l1d_cache l1i_cache l1i_cache_refill  ...  \
0            1435739        3784940   3707152           228681  ...
1            2631037        7204870   7327798           362275  ...
2            2631808        7209463   9099672           512979  ...
3            2735821        7501796   7474464           321496  ...
4            2310662        8222694   9618995           278132  ...
...              ...            ...       ...              ...  ...
67175        1661815        5441074  10630194           201080  ...
67176         559712        3587250   9764700           153466  ...
67177         115773         303819  12657839           135660  ...
67178  <not counted>  <not counted>  11053517           217898  ...
67179  <not counted>  <not counted>   8750676           229817  ...

      l2d_tlb_wr       vfp_spec      inst_spec       ase_spec  stall_backend  \
0           8398           1576       15858558          20009        5076402
1           7836           2031       23472220          20692        2993629
2           8642            845       23436240          12946        2369626
3           7376            308       24052673          14512        2430677
4           7690            113       32387108          16063        2068992
...          ...            ...            ...            ...            ...
67175       9689  <not counted>  <not counted>  <not counted>  <not counted>
67176       9420  <not counted>  <not counted>  <not counted>  <not counted>
67177      11798              9        3827238              0         198242
67178      12631            260       12312728           1508  <not counted>
67179       4268              0       16619160              0  <not counted>

      stall_frontend ll_cache_miss_rd     mem_access  mem_access_rd  \
0            6101713           136576        6435806        4033863
1            6307200           105710        6950351        4402233
2            5205728            94609        6625212        4170666
3            4763066           101236        7014964        4462877
4            3775682            56990        8500198        5891390
...              ...              ...            ...            ...
67175  <not counted>    <not counted>        6134323        4234594
67176  <not counted>    <not counted>        3959272        3055402
67177         252175             6709        6427592        4064674
67178  <not counted>    <not counted>  <not counted>  <not counted>
67179  <not counted>    <not counted>  <not counted>  <not counted>

       mem_access_wr
0            2401943
1            2548118
2            2454546
3            2552087
4            2608808
...              ...
67175        1899729
67176         903870
67177        2362918
67178  <not counted>
67179  <not counted>

[67180 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010136   9669006         NaN  instructions    11153360
1         0.010136  16575614         NaN    cpu-cycles    11153360
2         0.010136   1779813         NaN       br_pred    11153360
3         0.010136     70658         NaN   br_mis_pred    11153360
4         0.020659  12725673         NaN  instructions     9862320
...            ...       ...         ...           ...         ...
258343  661.752567     53677         NaN   br_mis_pred     9986880
258344  661.758550  14302334         NaN  instructions     5554320
258345  661.758550   8294608         NaN    cpu-cycles     5554320
258346  661.758550   2064986         NaN       br_pred     5554320
258347  661.758550      5096         NaN   br_mis_pred     5554320

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.58  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.87  insn per cycle
...            ...         ...             ...
258343       100.0         NaN             NaN
258344       100.0        1.72  insn per cycle
258345       100.0         NaN             NaN
258346       100.0         NaN             NaN
258347       100.0         NaN             NaN

[258348 rows x 8 columns]
          time     value       counter
4         0.02  12725673  instructions
8         0.03  18637469  instructions
12        0.04  17455644  instructions
16        0.05  18465724  instructions
20        0.06  19895927  instructions
...        ...       ...           ...
258328  661.72  14213940  instructions
258332  661.73  16676317  instructions
258336  661.74  11197462  instructions
258340  661.75  24118669  instructions
258344  661.76  14302334  instructions

[64586 rows x 3 columns]
instructions
          time instructions
4         0.02     12725673
8         0.03     18637469
12        0.04     17455644
16        0.05     18465724
20        0.06     19895927
...        ...          ...
258328  661.72     14213940
258332  661.73     16676317
258336  661.74     11197462
258340  661.75     24118669
258344  661.76     14302334

[64586 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   16575614
5         0.02   14704105
9         0.03   14735747
13        0.04   14751500
17        0.05   14772490
...        ...        ...
258329  661.72   14773221
258333  661.73   14890600
258337  661.74   14989808
258341  661.75   14893382
258345  661.76    8294608

[64587 rows x 2 columns]
df4
          time  br_pred
2         0.01  1779813
6         0.02  2571916
10        0.03  4271991
14        0.04  3920383
18        0.05  4187904
...        ...      ...
258330  661.72  3204670
258334  661.73  3900055
258338  661.74  3032007
258342  661.75  4585772
258346  661.76  2064986

[64587 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       70658
7         0.02      102239
11        0.03      181439
15        0.04      165816
19        0.05      171092
...        ...         ...
258331  661.72       44748
258335  661.73       26632
258339  661.74       73385
258343  661.75       53677
258347  661.76        5096

[64587 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     12725673   14704105
1        0.03     18637469   14735747
2        0.04     17455644   14751500
3        0.05     18465724   14772490
4        0.06     19895927   14930775
...       ...          ...        ...
64581  661.72     14213940   14773221
64582  661.73     16676317   14890600
64583  661.74     11197462   14989808
64584  661.75     24118669   14893382
64585  661.76     14302334    8294608

[64586 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1779813       70658
1        0.02  2571916      102239
2        0.03  4271991      181439
3        0.04  3920383      165816
4        0.05  4187904      171092
...       ...      ...         ...
64582  661.72  3204670       44748
64583  661.73  3900055       26632
64584  661.74  3032007       73385
64585  661.75  4585772       53677
64586  661.76  2064986        5096

[64587 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010122   9736031         NaN  instructions    11078480
1         0.010122   1869671         NaN  l1d_cache_rd    11078480
2         0.010122   1161673         NaN  l1d_cache_wr    11078480
3         0.010122   3031344         NaN     l1d_cache    11078480
4         0.020625  13932156         NaN  instructions     9905120
...            ...       ...         ...           ...         ...
258539  662.433111   5910912         NaN     l1d_cache    10771840
258540  662.440108  16781309         NaN  instructions     6541560
258541  662.440108   3047034         NaN  l1d_cache_rd     6541560
258542  662.440108   1783070         NaN  l1d_cache_wr     6541560
258543  662.440108   4830104         NaN     l1d_cache     6541560

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
258539       100.0         NaN         NaN
258540       100.0         NaN         NaN
258541       100.0         NaN         NaN
258542       100.0         NaN         NaN
258543       100.0         NaN         NaN

[258544 rows x 8 columns]
          time     value       counter
4         0.02  13932156  instructions
8         0.03  18239212  instructions
12        0.04  17096774  instructions
16        0.05  18636591  instructions
20        0.06  19877244  instructions
...        ...       ...           ...
258524  662.40  12529931  instructions
258528  662.41  17899154  instructions
258532  662.42  11026912  instructions
258536  662.43  23765735  instructions
258540  662.44  16781309  instructions

[64635 rows x 3 columns]
instructions
          time instructions
4         0.02     13932156
8         0.03     18239212
12        0.04     17096774
16        0.05     18636591
20        0.06     19877244
...        ...          ...
258524  662.40     12529931
258528  662.41     17899154
258532  662.42     11026912
258536  662.43     23765735
258540  662.44     16781309

[64635 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1869671
5         0.02      2975947
9         0.03      4469098
13        0.04      4137112
17        0.05      4583901
...        ...          ...
258525  662.40      2849333
258529  662.41      4087042
258533  662.42      2189169
258537  662.43      4075355
258541  662.44      3047034

[64636 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1161673
6         0.02      1789326
10        0.03      2560691
14        0.04      2425516
18        0.05      2625524
...        ...          ...
258526  662.40      1667914
258530  662.41      2072261
258534  662.42       912330
258538  662.43      1835557
258542  662.44      1783070

[64636 rows x 2 columns]
df5
          time l1d_cache
3         0.01   3031344
7         0.02   4765273
11        0.03   7029789
15        0.04   6562628
19        0.05   7209425
...        ...       ...
258527  662.40   4517247
258531  662.41   6159303
258535  662.42   3101499
258539  662.43   5910912
258543  662.44   4830104

[64636 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     13932156      2975947
1        0.03     18239212      4469098
2        0.04     17096774      4137112
3        0.05     18636591      4583901
4        0.06     19877244      4816995
...       ...          ...          ...
64630  662.40     12529931      2849333
64631  662.41     17899154      4087042
64632  662.42     11026912      2189169
64633  662.43     23765735      4075355
64634  662.44     16781309      3047034

[64635 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      1161673   3031344
1        0.02      1789326   4765273
2        0.03      2560691   7029789
3        0.04      2425516   6562628
4        0.05      2625524   7209425
...       ...          ...       ...
64631  662.40      1667914   4517247
64632  662.41      2072261   6159303
64633  662.42       912330   3101499
64634  662.43      1835557   5910912
64635  662.44      1783070   4830104

[64636 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010149   9594385         NaN      instructions    10855480
1         0.010149   3471815         NaN         l1i_cache    10855480
2         0.010149    228279         NaN  l1i_cache_refill    10855480
3         0.010149     71388         NaN     remote_access    10855480
4         0.020649  13283019         NaN      instructions     9923160
...            ...       ...         ...               ...         ...
258683  662.533194      4772         NaN     remote_access     9985640
258684  662.538851  13587943         NaN      instructions     5228080
258685  662.538851   3675097         NaN         l1i_cache     5228080
258686  662.538851      6580         NaN  l1i_cache_refill     5228080
258687  662.538851      4438         NaN     remote_access     5228080

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
258683       100.0         NaN         NaN
258684       100.0         NaN         NaN
258685       100.0         NaN         NaN
258686       100.0         NaN         NaN
258687       100.0         NaN         NaN

[258688 rows x 8 columns]
          time     value       counter
4         0.02  13283019  instructions
8         0.03  17837804  instructions
12        0.04  17074465  instructions
16        0.05  18619113  instructions
20        0.06  19654794  instructions
...        ...       ...           ...
258668  662.50  14680717  instructions
258672  662.51  15870936  instructions
258676  662.52  11467200  instructions
258680  662.53  24388235  instructions
258684  662.54  13587943  instructions

[64671 rows x 3 columns]
instructions
          time instructions
4         0.02     13283019
8         0.03     17837804
12        0.04     17074465
16        0.05     18619113
20        0.06     19654794
...        ...          ...
258668  662.50     14680717
258672  662.51     15870936
258676  662.52     11467200
258680  662.53     24388235
258684  662.54     13587943

[64671 rows x 2 columns]
df3
          time l1i_cache
1         0.01   3471815
5         0.02   4963222
9         0.03   7340476
13        0.04   6906219
17        0.05   7481739
...        ...       ...
258669  662.50   4947477
258673  662.51   4878789
258677  662.52   4458290
258681  662.53   7069498
258685  662.54   3675097

[64672 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           228279
6         0.02           278471
10        0.03           384965
14        0.04           425819
18        0.05           436105
...        ...              ...
258670  662.50           173523
258674  662.51            48476
258678  662.52            13658
258682  662.53            10640
258686  662.54             6580

[64672 rows x 2 columns]
df5
          time remote_access
3         0.01         71388
7         0.02         43208
11        0.03         19725
15        0.04         22890
19        0.05         18218
...        ...           ...
258671  662.50          3452
258675  662.51          4141
258679  662.52          3615
258683  662.53          4772
258687  662.54          4438

[64672 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     13283019   4963222
1        0.03     17837804   7340476
2        0.04     17074465   6906219
3        0.05     18619113   7481739
4        0.06     19654794   7595596
...       ...          ...       ...
64666  662.50     14680717   4947477
64667  662.51     15870936   4878789
64668  662.52     11467200   4458290
64669  662.53     24388235   7069498
64670  662.54     13587943   3675097

[64671 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           228279         71388
1        0.02           278471         43208
2        0.03           384965         19725
3        0.04           425819         22890
4        0.05           436105         18218
...       ...              ...           ...
64667  662.50           173523          3452
64668  662.51            48476          4141
64669  662.52            13658          3615
64670  662.53            10640          4772
64671  662.54             6580          4438

[64672 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010100   6903725         NaN  instructions     8871600
1         0.010100    280034         NaN  l2d_cache_rd     8871600
2         0.010100     96227         NaN  l2d_cache_wr     8871600
3         0.010100    376261         NaN     l2d_cache     8871600
4         0.022838  12738783         NaN  instructions    12011040
...            ...       ...         ...           ...         ...
258307  661.459042    970710         NaN     l2d_cache     9934800
258308  661.468218  22959215         NaN  instructions     8731440
258309  661.468218    109985         NaN  l2d_cache_rd     8731440
258310  661.468218     99851         NaN  l2d_cache_wr     8731440
258311  661.468218    209836         NaN     l2d_cache     8731440

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
258307       100.0         NaN         NaN
258308       100.0         NaN         NaN
258309       100.0         NaN         NaN
258310       100.0         NaN         NaN
258311       100.0         NaN         NaN

[258312 rows x 8 columns]
          time     value       counter
4         0.02  12738783  instructions
8         0.03  18258846  instructions
12        0.04  17062578  instructions
16        0.05  18700381  instructions
20        0.06  19130777  instructions
...        ...       ...           ...
258292  661.43  11569881  instructions
258296  661.44  18271909  instructions
258300  661.45  10983933  instructions
258304  661.46  19370586  instructions
258308  661.47  22959215  instructions

[64577 rows x 3 columns]
instructions
          time instructions
4         0.02     12738783
8         0.03     18258846
12        0.04     17062578
16        0.05     18700381
20        0.06     19130777
...        ...          ...
258292  661.43     11569881
258296  661.44     18271909
258300  661.45     10983933
258304  661.46     19370586
258308  661.47     22959215

[64577 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       280034
5         0.02       424898
9         0.03       471179
13        0.04       543536
17        0.05       519151
...        ...          ...
258293  661.43       316700
258297  661.44       252209
258301  661.45       327467
258305  661.46       504767
258309  661.47       109985

[64578 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01        96227
6         0.02       133907
10        0.03       112619
14        0.04       111477
18        0.05       119063
...        ...          ...
258294  661.43       100980
258298  661.44       171219
258302  661.45       263240
258306  661.46       465943
258310  661.47        99851

[64578 rows x 2 columns]
df5
          time l2d_cache
3         0.01    376261
7         0.02    558805
11        0.03    583798
15        0.04    655013
19        0.05    638214
...        ...       ...
258295  661.43    417680
258299  661.44    423428
258303  661.45    590707
258307  661.46    970710
258311  661.47    209836

[64578 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     12738783       424898
1        0.03     18258846       471179
2        0.04     17062578       543536
3        0.05     18700381       519151
4        0.06     19130777       466627
...       ...          ...          ...
64572  661.43     11569881       316700
64573  661.44     18271909       252209
64574  661.45     10983933       327467
64575  661.46     19370586       504767
64576  661.47     22959215       109985

[64577 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01        96227    376261
1        0.02       133907    558805
2        0.03       112619    583798
3        0.04       111477    655013
4        0.05       119063    638214
...       ...          ...       ...
64573  661.43       100980    417680
64574  661.44       171219    423428
64575  661.45       263240    590707
64576  661.46       465943    970710
64577  661.47        99851    209836

[64578 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010168   9126901         NaN  instructions    11287840
1         0.010168   3825963         NaN       l1d_tlb    11287840
2         0.010168   2519077         NaN    l1d_tlb_rd    11287840
3         0.010168   1306886         NaN    l1d_tlb_wr    11287840
4         0.020663  10964000         NaN  instructions     9871640
...            ...       ...         ...           ...         ...
258239  661.799579   2874179         NaN    l1d_tlb_wr    10083000
258240  661.800961   1736726         NaN  instructions     1001760
258241  661.800961    665557         NaN       l1d_tlb     1001760
258242  661.800961    466686         NaN    l1d_tlb_rd     1001760
258243  661.800961    198871         NaN    l1d_tlb_wr     1001760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
258239       100.0         NaN         NaN
258240       100.0         NaN         NaN
258241       100.0         NaN         NaN
258242       100.0         NaN         NaN
258243       100.0         NaN         NaN

[258244 rows x 8 columns]
          time     value       counter
4         0.02  10964000  instructions
8         0.03  18152911  instructions
12        0.04  16967811  instructions
16        0.05  18432130  instructions
20        0.06  18522576  instructions
...        ...       ...           ...
258224  661.77  18379563  instructions
258228  661.78  10677007  instructions
258232  661.79  16690981  instructions
258236  661.80  27017744  instructions
258240  661.80   1736726  instructions

[64560 rows x 3 columns]
instructions
          time instructions
4         0.02     10964000
8         0.03     18152911
12        0.04     16967811
16        0.05     18432130
20        0.06     18522576
...        ...          ...
258224  661.77     18379563
258228  661.78     10677007
258232  661.79     16690981
258236  661.80     27017744
258240  661.80      1736726

[64560 rows x 2 columns]
df3
          time  l1d_tlb
1         0.01  3825963
5         0.02  4480497
9         0.03  7581436
13        0.04  7214174
17        0.05  7811694
...        ...      ...
258225  661.77  6780386
258229  661.78  3888786
258233  661.79  4623180
258237  661.80  9813645
258241  661.80   665557

[64561 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2519077
6         0.02    2930003
10        0.03    4879756
14        0.04    4628968
18        0.05    5034912
...        ...        ...
258226  661.77    4557426
258230  661.78    2693126
258234  661.79    3698969
258238  661.80    6939466
258242  661.80     466686

[64561 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1306886
7         0.02    1550494
11        0.03    2701680
15        0.04    2585206
19        0.05    2776782
...        ...        ...
258227  661.77    2222960
258231  661.78    1195660
258235  661.79     924211
258239  661.80    2874179
258243  661.80     198871

[64561 rows x 2 columns]
df6
         time instructions  l1d_tlb
0        0.02     10964000  4480497
1        0.03     18152911  7581436
2        0.04     16967811  7214174
3        0.05     18432130  7811694
4        0.06     18522576  7826215
...       ...          ...      ...
64557  661.79     16690981  4623180
64558  661.80     27017744  9813645
64559  661.80     27017744   665557
64560  661.80      1736726  9813645
64561  661.80      1736726   665557

[64562 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2519077    1306886
1        0.02    2930003    1550494
2        0.03    4879756    2701680
3        0.04    4628968    2585206
4        0.05    5034912    2776782
...       ...        ...        ...
64558  661.79    3698969     924211
64559  661.80    6939466    2874179
64560  661.80    6939466     198871
64561  661.80     466686    2874179
64562  661.80     466686     198871

[64563 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010203   7982803         NaN  instructions     9709760
1         0.010203     13816         NaN     dtlb_walk     9709760
2         0.010203      1236         NaN     itlb_walk     9709760
3         0.010203   2675785         NaN       l1i_tlb     9709760
4         0.020718   9362275         NaN  instructions     9741040
...            ...       ...         ...           ...         ...
258615  662.274109   5306989         NaN       l1i_tlb     9978960
258616  662.281384  17497951         NaN  instructions     6859920
258617  662.281384      1336         NaN     dtlb_walk     6859920
258618  662.281384         5         NaN     itlb_walk     6859920
258619  662.281384   3420253         NaN       l1i_tlb     6859920

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
258615       100.0         NaN         NaN
258616       100.0         NaN         NaN
258617       100.0         NaN         NaN
258618       100.0         NaN         NaN
258619       100.0         NaN         NaN

[258620 rows x 8 columns]
          time     value       counter
4         0.02   9362275  instructions
8         0.03  23661434  instructions
12        0.04  17140985  instructions
16        0.05  18057505  instructions
20        0.06  19317849  instructions
...        ...       ...           ...
258600  662.24  14462352  instructions
258604  662.25  15688674  instructions
258608  662.26  11136849  instructions
258612  662.27  22658015  instructions
258616  662.28  17497951  instructions

[64654 rows x 3 columns]
instructions
          time instructions
4         0.02      9362275
8         0.03     23661434
12        0.04     17140985
16        0.05     18057505
20        0.06     19317849
...        ...          ...
258600  662.24     14462352
258604  662.25     15688674
258608  662.26     11136849
258612  662.27     22658015
258616  662.28     17497951

[64654 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     13816
5         0.02     11823
9         0.03      2357
13        0.04      2493
17        0.05      2998
...        ...       ...
258601  662.24     10853
258605  662.25     17285
258609  662.26     31491
258613  662.27     16851
258617  662.28      1336

[64655 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1236
6         0.02      1227
10        0.03       781
14        0.04       707
18        0.05       598
...        ...       ...
258602  662.24       652
258606  662.25      1077
258610  662.26       243
258614  662.27       195
258618  662.28         5

[64655 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  2675785
7         0.02  3053938
11        0.03  8000380
15        0.04  5836169
19        0.05  6037614
...        ...      ...
258603  662.24  3988134
258607  662.25  4170823
258611  662.26  3939141
258615  662.27  5306989
258619  662.28  3420253

[64655 rows x 2 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

df6
         time instructions dtlb_walk
0        0.02      9362275     11823
1        0.03     23661434      2357
2        0.04     17140985      2493
3        0.05     18057505      2998
4        0.06     19317849      3205
...       ...          ...       ...
64649  662.24     14462352     10853
64650  662.25     15688674     17285
64651  662.26     11136849     31491
64652  662.27     22658015     16851
64653  662.28     17497951      1336

[64654 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1236  2675785
1        0.02      1227  3053938
2        0.03       781  8000380
3        0.04       707  5836169
4        0.05       598  6037614
...       ...       ...      ...
64650  662.24       652  3988134
64651  662.25      1077  4170823
64652  662.26       243  3939141
64653  662.27       195  5306989
64654  662.28         5  3420253

[64655 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010094   9665248         NaN  instructions    11038880
1         0.010094     67095         NaN       l2d_tlb    11038880
2         0.010094     55475         NaN    l2d_tlb_rd    11038880
3         0.010094     11620         NaN    l2d_tlb_wr    11038880
4         0.020555  13791530         NaN  instructions     9905640
...            ...       ...         ...           ...         ...
258319  661.196202      4383         NaN    l2d_tlb_wr    10952600
258320  661.206460  25527118         NaN  instructions     9751440
258321  661.206460     43439         NaN       l2d_tlb     9751440
258322  661.206460     27360         NaN    l2d_tlb_rd     9751440
258323  661.206460     16079         NaN    l2d_tlb_wr     9751440

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
258319       100.0         NaN         NaN
258320       100.0         NaN         NaN
258321       100.0         NaN         NaN
258322       100.0         NaN         NaN
258323       100.0         NaN         NaN

[258324 rows x 8 columns]
          time     value       counter
4         0.02  13791530  instructions
8         0.03  18344276  instructions
12        0.04  17146147  instructions
16        0.05  18791044  instructions
20        0.06  20102905  instructions
...        ...       ...           ...
258304  661.16  10576641  instructions
258308  661.17  15886868  instructions
258312  661.18  13963115  instructions
258316  661.20  19781735  instructions
258320  661.21  25527118  instructions

[64580 rows x 3 columns]
instructions
          time instructions
4         0.02     13791530
8         0.03     18344276
12        0.04     17146147
16        0.05     18791044
20        0.06     20102905
...        ...          ...
258304  661.16     10576641
258308  661.17     15886868
258312  661.18     13963115
258316  661.20     19781735
258320  661.21     25527118

[64580 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   67095
5         0.02   96598
9         0.03  170890
13        0.04  164785
17        0.05  176630
...        ...     ...
258305  661.16  141230
258309  661.17  154690
258313  661.18  112246
258317  661.20   82976
258321  661.21   43439

[64581 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      55475
6         0.02      88364
10        0.03     162886
14        0.04     156763
18        0.05     168103
...        ...        ...
258306  661.16     129134
258310  661.17     143671
258314  661.18     104617
258318  661.20      78593
258322  661.21      27360

[64581 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      11620
7         0.02       8234
11        0.03       8004
15        0.04       8022
19        0.05       8527
...        ...        ...
258307  661.16      12096
258311  661.17      11019
258315  661.18       7629
258319  661.20       4383
258323  661.21      16079

[64581 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     13791530   96598
1        0.03     18344276  170890
2        0.04     17146147  164785
3        0.05     18791044  176630
4        0.06     20102905  170042
...       ...          ...     ...
64575  661.16     10576641  141230
64576  661.17     15886868  154690
64577  661.18     13963115  112246
64578  661.20     19781735   82976
64579  661.21     25527118   43439

[64580 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      55475      11620
1        0.02      88364       8234
2        0.03     162886       8004
3        0.04     156763       8022
4        0.05     168103       8527
...       ...        ...        ...
64576  661.16     129134      12096
64577  661.17     143671      11019
64578  661.18     104617       7629
64579  661.20      78593       4383
64580  661.21      27360      16079

[64581 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010107   9409879         NaN  instructions    10845960
1         0.010107         9         NaN      vfp_spec    10845960
2         0.010107  11320478         NaN     inst_spec    10845960
3         0.010107      5797         NaN      ase_spec    10845960
4         0.020603  12067184         NaN  instructions     9790240
...            ...       ...         ...           ...         ...
258343  661.189484         0         NaN      ase_spec    10063560
258344  661.192037   5480932         NaN  instructions     2207400
258345  661.192037         0         NaN      vfp_spec     2207400
258346  661.192037   5673862         NaN     inst_spec     2207400
258347  661.192037         0         NaN      ase_spec     2207400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
258343       100.0         NaN         NaN
258344       100.0         NaN         NaN
258345       100.0         NaN         NaN
258346       100.0         NaN         NaN
258347       100.0         NaN         NaN

[258348 rows x 8 columns]
          time     value       counter
4         0.02  12067184  instructions
8         0.03  18808686  instructions
12        0.04  17447584  instructions
16        0.05  18752975  instructions
20        0.06  19837822  instructions
...        ...       ...           ...
258328  661.16  17938522  instructions
258332  661.17  13550370  instructions
258336  661.18  14778644  instructions
258340  661.19  26649295  instructions
258344  661.19   5480932  instructions

[64586 rows x 3 columns]
instructions
          time instructions
4         0.02     12067184
8         0.03     18808686
12        0.04     17447584
16        0.05     18752975
20        0.06     19837822
...        ...          ...
258328  661.16     17938522
258332  661.17     13550370
258336  661.18     14778644
258340  661.19     26649295
258344  661.19      5480932

[64586 rows x 2 columns]
df3
          time vfp_spec
1         0.01        9
5         0.02      508
9         0.03     3002
13        0.04      813
17        0.05      803
...        ...      ...
258329  661.16        0
258333  661.17        0
258337  661.18        0
258341  661.19        0
258345  661.19        0

[64587 rows x 2 columns]
df4
          time inst_spec
2         0.01  11320478
6         0.02  14840152
10        0.03  23597978
14        0.04  21891587
18        0.05  23425561
...        ...       ...
258330  661.16  19209915
258334  661.17  15465146
258338  661.18  19204949
258342  661.19  26929867
258346  661.19   5673862

[64587 rows x 2 columns]
df5
          time ase_spec
3         0.01     5797
7         0.02    13728
11        0.03    26546
15        0.04    12625
19        0.05    12730
...        ...      ...
258331  661.16     2292
258335  661.17      840
258339  661.18        0
258343  661.19        0
258347  661.19        0

[64587 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     12067184      508
1        0.03     18808686     3002
2        0.04     17447584      813
3        0.05     18752975      803
4        0.06     19837822      317
...       ...          ...      ...
64583  661.18     14778644        0
64584  661.19     26649295        0
64585  661.19     26649295        0
64586  661.19      5480932        0
64587  661.19      5480932        0

[64588 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  11320478     5797
1        0.02  14840152    13728
2        0.03  23597978    26546
3        0.04  21891587    12625
4        0.05  23425561    12730
...       ...       ...      ...
64584  661.18  19204949        0
64585  661.19  26929867        0
64586  661.19  26929867        0
64587  661.19   5673862        0
64588  661.19   5673862        0

[64589 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.011903   9178892         NaN      instructions    10580480
1         0.011903   5523264         NaN     stall_backend    10580480
2         0.011903   6815050         NaN    stall_frontend    10580480
3         0.011903    152648         NaN  ll_cache_miss_rd    10580480
4         0.024105  15442814         NaN      instructions    11435800
...            ...       ...         ...               ...         ...
258623  662.371431    600151         NaN  ll_cache_miss_rd    10098000
258624  662.380688  22865604         NaN      instructions     8822080
258625  662.380688   5978684         NaN     stall_backend     8822080
258626  662.380688    442568         NaN    stall_frontend     8822080
258627  662.380688    104030         NaN  ll_cache_miss_rd     8822080

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
258623       100.0         NaN         NaN
258624       100.0         NaN         NaN
258625       100.0         NaN         NaN
258626       100.0         NaN         NaN
258627       100.0         NaN         NaN

[258628 rows x 8 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

          time     value       counter
4         0.02  15442814  instructions
8         0.03  18000098  instructions
12        0.04  17418343  instructions
16        0.05  18498941  instructions
20        0.07  20455367  instructions
...        ...       ...           ...
258608  662.34  11687877  instructions
258612  662.35  18255140  instructions
258616  662.36  10889568  instructions
258620  662.37  19986021  instructions
258624  662.38  22865604  instructions

[64656 rows x 3 columns]
instructions
          time instructions
4         0.02     15442814
8         0.03     18000098
12        0.04     17418343
16        0.05     18498941
20        0.07     20455367
...        ...          ...
258608  662.34     11687877
258612  662.35     18255140
258616  662.36     10889568
258620  662.37     19986021
258624  662.38     22865604

[64656 rows x 2 columns]
df3
          time stall_backend
1         0.01       5523264
5         0.02       4770695
9         0.03       2325134
13        0.04       2445872
17        0.05       2368687
...        ...           ...
258609  662.34       7806278
258613  662.35       7349024
258617  662.36      10260386
258621  662.37       7331693
258625  662.38       5978684

[64657 rows x 2 columns]
df4
          time stall_frontend
2         0.01        6815050
6         0.02        6550585
10        0.03        5106373
14        0.04        5616897
18        0.05        5283617
...        ...            ...
258610  662.34        2660980
258614  662.35        1170629
258618  662.36         687697
258622  662.37         642460
258626  662.38         442568

[64657 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           152648
7         0.02           133915
11        0.03            89775
15        0.04           101976
19        0.05            99312
...        ...              ...
258611  662.34            82530
258615  662.35           161992
258619  662.36           282005
258623  662.37           600151
258627  662.38           104030

[64657 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     15442814       4770695
1        0.03     18000098       2325134
2        0.04     17418343       2445872
3        0.05     18498941       2368687
4        0.07     20455367       2429233
...       ...          ...           ...
64651  662.34     11687877       7806278
64652  662.35     18255140       7349024
64653  662.36     10889568      10260386
64654  662.37     19986021       7331693
64655  662.38     22865604       5978684

[64656 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        6815050           152648
1        0.02        6550585           133915
2        0.03        5106373            89775
3        0.04        5616897           101976
4        0.05        5283617            99312
...       ...            ...              ...
64652  662.34        2660980            82530
64653  662.35        1170629           161992
64654  662.36         687697           282005
64655  662.37         642460           600151
64656  662.38         442568           104030

[64657 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010102   9247119         NaN   instructions    10431720
1         0.010102   2901450         NaN     mem_access    10431720
2         0.010102   1781620         NaN  mem_access_rd    10431720
3         0.010102   1119830         NaN  mem_access_wr    10431720
4         0.020577  11577926         NaN   instructions     9769000
...            ...       ...         ...            ...         ...
258451  661.999349   1515313         NaN  mem_access_wr    13207440
258452  662.008998  24269222         NaN   instructions     9175200
258453  662.008998   6960909         NaN     mem_access     9175200
258454  662.008998   4383538         NaN  mem_access_rd     9175200
258455  662.008998   2577371         NaN  mem_access_wr     9175200

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
258451       100.0         NaN         NaN
258452       100.0         NaN         NaN
258453       100.0         NaN         NaN
258454       100.0         NaN         NaN
258455       100.0         NaN         NaN

[258456 rows x 8 columns]
          time     value       counter
4         0.02  11577926  instructions
8         0.03  19347884  instructions
12        0.04  17332446  instructions
16        0.05  18479138  instructions
20        0.06  19472337  instructions
...        ...       ...           ...
258436  661.97  11177889  instructions
258440  661.98  16161856  instructions
258444  661.99  14283768  instructions
258448  662.00  22718359  instructions
258452  662.01  24269222  instructions

[64613 rows x 3 columns]
instructions

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

          time instructions
4         0.02     11577926
8         0.03     19347884
12        0.04     17332446
16        0.05     18479138
20        0.06     19472337
...        ...          ...
258436  661.97     11177889
258440  661.98     16161856
258444  661.99     14283768
258448  662.00     22718359
258452  662.01     24269222

[64613 rows x 2 columns]
df3
          time mem_access
1         0.01    2901450
5         0.02    3889013
9         0.03    7370141
13        0.04    6701838
17        0.05    7135493
...        ...        ...
258437  661.97    4003966
258441  661.98    5648921
258445  661.99    4688320
258449  662.00    5534588
258453  662.01    6960909

[64614 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1781620
6         0.02       2413778
10        0.03       4685055
14        0.04       4234376
18        0.05       4528990
...        ...           ...
258438  661.97       2445256
258442  661.98       3688506
258446  661.99       3116896
258450  662.00       4019275
258454  662.01       4383538

[64614 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1119830
7         0.02       1475235
11        0.03       2685086
15        0.04       2467462
19        0.05       2606503
...        ...           ...
258439  661.97       1558710
258443  661.98       1960415
258447  661.99       1571424
258451  662.00       1515313
258455  662.01       2577371

[64614 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     11577926    3889013
1        0.03     19347884    7370141
2        0.04     17332446    6701838
3        0.05     18479138    7135493
4        0.06     19472337    7453803
...       ...          ...        ...
64608  661.97     11177889    4003966
64609  661.98     16161856    5648921
64610  661.99     14283768    4688320
64611  662.00     22718359    5534588
64612  662.01     24269222    6960909

[64613 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1781620       1119830
1        0.02       2413778       1475235
2        0.03       4685055       2685086
3        0.04       4234376       2467462
4        0.05       4528990       2606503
...       ...           ...           ...
64609  661.97       2445256       1558710
64610  661.98       3688506       1960415
64611  661.99       3116896       1571424
64612  662.00       4019275       1515313
64613  662.01       4383538       2577371

[64614 rows x 3 columns]
merged_df
         time   instructions     cpu-cycles        br_pred    br_mis_pred  \
0        0.02       12725673       14704105        2571916         102239
1        0.03       18637469       14735747        4271991         181439
2        0.04       17455644       14751500        3920383         165816
3        0.05       18465724       14772490        4187904         171092
4        0.08       28470466       14960560        7301650         127849
...       ...            ...            ...            ...            ...
52024  661.13       14379746       14861299        3244982          16633
52025  661.14       12945952       14868584        2791177          11200
52026  661.16       33853715       19043023        7367278          80115
52027  661.17       23930331       11000977        3535893          14292
52028  661.18  <not counted>  <not counted>  <not counted>  <not counted>

      l1d_cache_rd l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ...  \
0          2975947      1789326   4765273   4963222           278471  ...
1          4469098      2560691   7029789   7340476           384965  ...
2          4137112      2425516   6562628   6906219           425819  ...
3          4583901      2625524   7209425   7481739           436105  ...
4          5959118      2307942   8267060  11268824           334997  ...
...            ...          ...       ...       ...              ...  ...
52024      6097534      3468081   9565615  10050507           128684  ...
52025      6670476      3706076  10376552  11455529           160784  ...
52026      6941894      3867946  10809840  10275054           110059  ...
52027      7144114      4077762  11221876   9434834           156922  ...
52028      6572802      3792742  10365544  10598298           134469  ...

          l2d_tlb_wr       vfp_spec      inst_spec       ase_spec  \
0               8234            508       14840152          13728
1               8004           3002       23597978          26546
2               8022            813       21891587          12625
3               8527            803       23425561          12730
4               7714            163       41622148          20584
...              ...            ...            ...            ...
52024  <not counted>  <not counted>  <not counted>  <not counted>
52025             70             28        4680583             16
52026          12096              0       19209915           2292
52027          11019              0       15465146            840
52028           7629              0       19204949              0

      stall_backend stall_frontend ll_cache_miss_rd mem_access mem_access_rd  \
0           4770695        6550585           133915    3889013       2413778
1           2325134        5106373            89775    7370141       4685055
2           2445872        5616897           101976    6701838       4234376
3           2368687        5283617            99312    7135493       4528990
4           2071430        3639949            56859    8260700       5938256
...             ...            ...              ...        ...           ...
52024       2551297        3027690            51472   10417834       6661415
52025       3410579        2218070           147174   10576022       6741293
52026       2700889        1816375            93537   11143635       7437871
52027       3179784        2076710           136882   12933989       8555950
52028       2444493        1581475            93074   12648438       8485964

      mem_access_wr
0           1475235
1           2685086
2           2467462
3           2606503
4           2322444
...             ...
52024       3756419
52025       3834729
52026       3705764
52027       4378039
52028       4162474

[52029 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010107   8460957         NaN  instructions     9654640
1         0.010107  14353265         NaN    cpu-cycles     9654640
2         0.010107   1562126         NaN       br_pred     9654640
3         0.010107     63779         NaN   br_mis_pred     9654640
4         0.020586  10920381         NaN  instructions     9790280
...            ...       ...         ...           ...         ...
284119  750.384891     60798         NaN   br_mis_pred     9988800
284120  750.391603  16024606         NaN  instructions     6262000
284121  750.391603   9354166         NaN    cpu-cycles     6262000
284122  750.391603   2315843         NaN       br_pred     6262000
284123  750.391603      5098         NaN   br_mis_pred     6262000

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.59  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.75  insn per cycle
...            ...         ...             ...
284119       100.0         NaN             NaN
284120       100.0        1.71  insn per cycle
284121       100.0         NaN             NaN
284122       100.0         NaN             NaN
284123       100.0         NaN             NaN

[284124 rows x 8 columns]
          time     value       counter
4         0.02  10920381  instructions
8         0.03  20821527  instructions
12        0.04  17503673  instructions
16        0.05  18664207  instructions
20        0.06  19771195  instructions
...        ...       ...           ...
284104  750.35  17441859  instructions
284108  750.36  15489114  instructions
284112  750.37  10899786  instructions
284116  750.38  23595628  instructions
284120  750.39  16024606  instructions

[71030 rows x 3 columns]
instructions
          time instructions
4         0.02     10920381
8         0.03     20821527
12        0.04     17503673
16        0.05     18664207
20        0.06     19771195
...        ...          ...
284104  750.35     17441859
284108  750.36     15489114
284112  750.37     10899786
284116  750.38     23595628
284120  750.39     16024606

[71030 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   14353265
5         0.02   14588870
9         0.03   16556337
13        0.04   14870717
17        0.05   14922452
...        ...        ...
284105  750.35   18428273
284109  750.36   14914387
284113  750.37   14917206
284117  750.38   14897774
284121  750.39    9354166

[71031 rows x 2 columns]
df4
          time  br_pred
2         0.01  1562126
6         0.02  2138045
10        0.03  4742936
14        0.04  3942548
18        0.05  4231892
...        ...      ...
284106  750.35  3909236
284110  750.36  3522531
284114  750.37  2973146
284118  750.38  4659265
284122  750.39  2315843

[71031 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       63779
7         0.02       90135
11        0.03      191839
15        0.04      165593
19        0.05      171238
...        ...         ...
284107  750.35       53309
284111  750.36       37347
284115  750.37       69293
284119  750.38       60798
284123  750.39        5098

[71031 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     10920381   14588870
1        0.03     20821527   16556337
2        0.04     17503673   14870717
3        0.05     18664207   14922452
4        0.06     19771195   14901045
...       ...          ...        ...
71025  750.35     17441859   18428273
71026  750.36     15489114   14914387
71027  750.37     10899786   14917206
71028  750.38     23595628   14897774
71029  750.39     16024606    9354166

[71030 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1562126       63779
1        0.02  2138045       90135
2        0.03  4742936      191839
3        0.04  3942548      165593
4        0.05  4231892      171238
...       ...      ...         ...
71026  750.35  3909236       53309
71027  750.36  3522531       37347
71028  750.37  2973146       69293
71029  750.38  4659265       60798
71030  750.39  2315843        5098

[71031 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.012660  10185700         NaN  instructions    11350320
1         0.012660   1956639         NaN  l1d_cache_rd    11350320
2         0.012660   1218754         NaN  l1d_cache_wr    11350320
3         0.012660   3175393         NaN     l1d_cache    11350320
4         0.023108  13372497         NaN  instructions     9687720
...            ...       ...         ...           ...         ...
283731  748.721050   6238085         NaN     l1d_cache    12105680
283732  748.728254  17500859         NaN  instructions     6785720
283733  748.728254   3176155         NaN  l1d_cache_rd     6785720
283734  748.728254   1864056         NaN  l1d_cache_wr     6785720
283735  748.728254   5040211         NaN     l1d_cache     6785720

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
283731       100.0         NaN         NaN
283732       100.0         NaN         NaN
283733       100.0         NaN         NaN
283734       100.0         NaN         NaN
283735       100.0         NaN         NaN

[283736 rows x 8 columns]
          time     value       counter
4         0.02  13372497  instructions
8         0.03  18765794  instructions
12        0.04  17657137  instructions
16        0.06  24181369  instructions
20        0.07  20661676  instructions
...        ...       ...           ...
283716  748.69  12324751  instructions
283720  748.70  17359950  instructions
283724  748.71  11025533  instructions
283728  748.72  25367325  instructions
283732  748.73  17500859  instructions

[70933 rows x 3 columns]
instructions
          time instructions
4         0.02     13372497
8         0.03     18765794
12        0.04     17657137
16        0.06     24181369
20        0.07     20661676
...        ...          ...
283716  748.69     12324751
283720  748.70     17359950
283724  748.71     11025533
283728  748.72     25367325
283732  748.73     17500859

[70933 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1956639
5         0.02      2852244
9         0.03      4599502
13        0.04      4289719
17        0.06      5899179
...        ...          ...
283717  748.69      2782032
283721  748.70      3995847
283725  748.71      2313682
283729  748.72      4356386
283733  748.73      3176155

[70934 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1218754
6         0.02      1719139
10        0.03      2636524
14        0.04      2516414
18        0.06      3375642
...        ...          ...
283718  748.69      1622180
283722  748.70      2080134
283726  748.71      1077262
283730  748.72      1881699
283734  748.73      1864056

[70934 rows x 2 columns]
df5
          time l1d_cache
3         0.01   3175393
7         0.02   4571383
11        0.03   7236026
15        0.04   6806133
19        0.06   9274821
...        ...       ...
283719  748.69   4404212
283723  748.70   6075981
283727  748.71   3390944
283731  748.72   6238085
283735  748.73   5040211

[70934 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     13372497      2852244
1        0.03     18765794      4599502
2        0.04     17657137      4289719
3        0.06     24181369      5899179
4        0.07     20661676      5037632
...       ...          ...          ...
70928  748.69     12324751      2782032
70929  748.70     17359950      3995847
70930  748.71     11025533      2313682
70931  748.72     25367325      4356386
70932  748.73     17500859      3176155

[70933 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      1218754   3175393
1        0.02      1719139   4571383
2        0.03      2636524   7236026
3        0.04      2516414   6806133
4        0.06      3375642   9274821
...       ...          ...       ...
70929  748.69      1622180   4404212
70930  748.70      2080134   6075981
70931  748.71      1077262   3390944
70932  748.72      1881699   6238085
70933  748.73      1864056   5040211

[70934 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010135   9626686         NaN      instructions    10952280
1         0.010135   3476618         NaN         l1i_cache    10952280
2         0.010135    233380         NaN  l1i_cache_refill    10952280
3         0.010135     75113         NaN     remote_access    10952280
4         0.020584  13382954         NaN      instructions     9908600
...            ...       ...         ...               ...         ...
283939  749.005540      4424         NaN     remote_access    10145520
283940  749.009466   9105362         NaN      instructions     3535840
283941  749.009466   2457060         NaN         l1i_cache     3535840
283942  749.009466      5783         NaN  l1i_cache_refill     3535840
283943  749.009466      3926         NaN     remote_access     3535840

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
283939       100.0         NaN         NaN
283940       100.0         NaN         NaN
283941       100.0         NaN         NaN
283942       100.0         NaN         NaN
283943       100.0         NaN         NaN

[283944 rows x 8 columns]
          time     value       counter
4         0.02  13382954  instructions
8         0.03  17532615  instructions
12        0.04  17610547  instructions
16        0.05  18730024  instructions
20        0.06  19429183  instructions
...        ...       ...           ...
283924  748.97  16088004  instructions
283928  748.98  14158795  instructions
283932  749.00  13354877  instructions
283936  749.01  25427061  instructions
283940  749.01   9105362  instructions

[70985 rows x 3 columns]
instructions
          time instructions
4         0.02     13382954
8         0.03     17532615
12        0.04     17610547
16        0.05     18730024
20        0.06     19429183
...        ...          ...
283924  748.97     16088004
283928  748.98     14158795
283932  749.00     13354877
283936  749.01     25427061
283940  749.01      9105362

[70985 rows x 2 columns]
df3
          time l1i_cache
1         0.01   3476618
5         0.02   4985126
9         0.03   7223415
13        0.04   7107328
17        0.05   7528983
...        ...       ...
283925  748.97   5085568
283929  748.98   4586329
283933  749.00   5177527
283937  749.01   7066652
283941  749.01   2457060

[70986 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           233380
6         0.02           278290
10        0.03           383398
14        0.04           437615
18        0.05           433587
...        ...              ...
283926  748.97           154987
283930  748.98            60246
283934  749.00            12054
283938  749.01            10753
283942  749.01             5783

[70986 rows x 2 columns]
df5
          time remote_access
3         0.01         75113
7         0.02         41763
11        0.03         19898
15        0.04         20920
19        0.05         17138
...        ...           ...
283927  748.97          3489
283931  748.98          3882
283935  749.00          3338
283939  749.01          4424
283943  749.01          3926

[70986 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     13382954   4985126
1        0.03     17532615   7223415
2        0.04     17610547   7107328
3        0.05     18730024   7528983
4        0.06     19429183   7538111
...       ...          ...       ...
70982  749.00     13354877   5177527
70983  749.01     25427061   7066652
70984  749.01     25427061   2457060
70985  749.01      9105362   7066652
70986  749.01      9105362   2457060

[70987 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           233380         75113
1        0.02           278290         41763
2        0.03           383398         19898
3        0.04           437615         20920
4        0.05           433587         17138
...       ...              ...           ...
70983  749.00            12054          3338
70984  749.01            10753          4424
70985  749.01            10753          3926
70986  749.01             5783          4424
70987  749.01             5783          3926

[70988 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010103   8792636         NaN  instructions    10583600
1         0.010103    338109         NaN  l2d_cache_rd    10583600
2         0.010103    119707         NaN  l2d_cache_wr    10583600
3         0.010103    457816         NaN     l2d_cache    10583600
4         0.020575  11201898         NaN  instructions     9872240
...            ...       ...         ...           ...         ...
284399  750.482314    307962         NaN     l2d_cache    10059800
284400  750.485859   7770578         NaN  instructions     3149120
284401  750.485859     47436         NaN  l2d_cache_rd     3149120
284402  750.485859     40744         NaN  l2d_cache_wr     3149120
284403  750.485859     88180         NaN     l2d_cache     3149120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
284399       100.0         NaN         NaN
284400       100.0         NaN         NaN
284401       100.0         NaN         NaN
284402       100.0         NaN         NaN
284403       100.0         NaN         NaN

[284404 rows x 8 columns]
          time     value       counter
4         0.02  11201898  instructions
8         0.03  18250495  instructions
12        0.04  17264822  instructions
16        0.05  18331452  instructions
20        0.06  19221386  instructions
...        ...       ...           ...
284384  750.45  17060624  instructions
284388  750.46  12875333  instructions
284392  750.47  14872070  instructions
284396  750.48  25512358  instructions
284400  750.49   7770578  instructions

[71100 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

instructions
          time instructions
4         0.02     11201898
8         0.03     18250495
12        0.04     17264822
16        0.05     18331452
20        0.06     19221386
...        ...          ...
284384  750.45     17060624
284388  750.46     12875333
284392  750.47     14872070
284396  750.48     25512358
284400  750.49      7770578

[71100 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       338109
5         0.02       369887
9         0.03       478924
13        0.04       546303
17        0.05       519808
...        ...          ...
284385  750.45       294269
284389  750.46       300098
284393  750.47       585795
284397  750.48       160027
284401  750.49        47436

[71101 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       119707
6         0.02       112443
10        0.03       113405
14        0.04       115215
18        0.05       119601
...        ...          ...
284386  750.45       136069
284390  750.46       204596
284394  750.47       526321
284398  750.48       147935
284402  750.49        40744

[71101 rows x 2 columns]
df5
          time l2d_cache
3         0.01    457816
7         0.02    482330
11        0.03    592329
15        0.04    661518
19        0.05    639409
...        ...       ...
284387  750.45    430338
284391  750.46    504694
284395  750.47   1112116
284399  750.48    307962
284403  750.49     88180

[71101 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     11201898       369887
1        0.03     18250495       478924
2        0.04     17264822       546303
3        0.05     18331452       519808
4        0.06     19221386       470643
...       ...          ...          ...
71095  750.45     17060624       294269
71096  750.46     12875333       300098
71097  750.47     14872070       585795
71098  750.48     25512358       160027
71099  750.49      7770578        47436

[71100 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       119707    457816
1        0.02       112443    482330
2        0.03       113405    592329
3        0.04       115215    661518
4        0.05       119601    639409
...       ...          ...       ...
71096  750.45       136069    430338
71097  750.46       204596    504694
71098  750.47       526321   1112116
71099  750.48       147935    307962
71100  750.49        40744     88180

[71101 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010173   9816413         NaN  instructions    11130840
1         0.010173   4110794         NaN       l1d_tlb    11130840
2         0.010173   2707782         NaN    l1d_tlb_rd    11130840
3         0.010173   1403012         NaN    l1d_tlb_wr    11130840
4         0.020656  13606068         NaN  instructions     9922680
...            ...       ...         ...           ...         ...
284011  749.866488   1299444         NaN    l1d_tlb_wr    10066480
284012  749.875786  22929820         NaN  instructions     8852600
284013  749.875786   8497575         NaN       l1d_tlb     8852600
284014  749.875786   6035587         NaN    l1d_tlb_rd     8852600
284015  749.875786   2461988         NaN    l1d_tlb_wr     8852600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
284011       100.0         NaN         NaN
284012       100.0         NaN         NaN
284013       100.0         NaN         NaN
284014       100.0         NaN         NaN
284015       100.0         NaN         NaN

[284016 rows x 8 columns]
          time     value       counter
4         0.02  13606068  instructions
8         0.03  18272476  instructions
12        0.04  17126140  instructions
16        0.05  18548397  instructions
20        0.06  19277749  instructions
...        ...       ...           ...
283996  749.84  11749660  instructions
284000  749.85  17794749  instructions
284004  749.86  10592018  instructions
284008  749.87  19834290  instructions
284012  749.88  22929820  instructions

[71003 rows x 3 columns]
instructions
          time instructions
4         0.02     13606068
8         0.03     18272476
12        0.04     17126140
16        0.05     18548397
20        0.06     19277749
...        ...          ...
283996  749.84     11749660
284000  749.85     17794749
284004  749.86     10592018
284008  749.87     19834290
284012  749.88     22929820

[71003 rows x 2 columns]
df3
          time  l1d_tlb
1         0.01  4110794
5         0.02  5494077
9         0.03  7771809
13        0.04  7324358
17        0.05  7916658
...        ...      ...
283997  749.84  4827895
284001  749.85  6505652
284005  749.86  3905536
284009  749.87  5852266
284013  749.88  8497575

[71004 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2707782
6         0.02    3558166
10        0.03    5026273
14        0.04    4703209
18        0.05    5090915
...        ...        ...
283998  749.84    3134604
284002  749.85    4389882
284006  749.86    2791911
284010  749.87    4552822
284014  749.88    6035587

[71004 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1403012
7         0.02    1935911
11        0.03    2745536
15        0.04    2621149
19        0.05    2825743
...        ...        ...
283999  749.84    1693291
284003  749.85    2115770
284007  749.86    1113625
284011  749.87    1299444
284015  749.88    2461988

[71004 rows x 2 columns]
df6
         time instructions  l1d_tlb
0        0.02     13606068  5494077
1        0.03     18272476  7771809
2        0.04     17126140  7324358
3        0.05     18548397  7916658
4        0.06     19277749  8142430
...       ...          ...      ...
70998  749.84     11749660  4827895
70999  749.85     17794749  6505652
71000  749.86     10592018  3905536
71001  749.87     19834290  5852266
71002  749.88     22929820  8497575

[71003 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2707782    1403012
1        0.02    3558166    1935911
2        0.03    5026273    2745536
3        0.04    4703209    2621149
4        0.05    5090915    2825743
...       ...        ...        ...
70999  749.84    3134604    1693291
71000  749.85    4389882    2115770
71001  749.86    2791911    1113625
71002  749.87    4552822    1299444
71003  749.88    6035587    2461988

[71004 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010122   9458907         NaN  instructions    11116680
1         0.010122     18119         NaN     dtlb_walk    11116680
2         0.010122      1547         NaN     itlb_walk    11116680
3         0.010122   3168357         NaN       l1i_tlb    11116680
4         0.020613  13563122         NaN  instructions     9917640
...            ...       ...         ...           ...         ...
284591  750.290718   5388615         NaN       l1i_tlb     9934920
284592  750.300125  23700022         NaN  instructions     8985480
284593  750.300125      1297         NaN     dtlb_walk     8985480
284594  750.300125         3         NaN     itlb_walk     8985480
284595  750.300125   4579891         NaN       l1i_tlb     8985480

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
284591       100.0         NaN         NaN
284592       100.0         NaN         NaN
284593       100.0         NaN         NaN
284594       100.0         NaN         NaN
284595       100.0         NaN         NaN

[284596 rows x 8 columns]
          time     value       counter
4         0.02  13563122  instructions
8         0.03  18257171  instructions
12        0.04  17036346  instructions
16        0.05  18726834  instructions
20        0.06  19771891  instructions
...        ...       ...           ...
284576  750.26  11885125  instructions
284580  750.27  18220206  instructions
284584  750.28  11011632  instructions
284588  750.29  19138413  instructions
284592  750.30  23700022  instructions

[71148 rows x 3 columns]
instructions
          time instructions
4         0.02     13563122
8         0.03     18257171
12        0.04     17036346
16        0.05     18726834
20        0.06     19771891
...        ...          ...
284576  750.26     11885125
284580  750.27     18220206
284584  750.28     11011632
284588  750.29     19138413
284592  750.30     23700022

[71148 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     18119
5         0.02      8580
9         0.03      1804
13        0.04      2765
17        0.05      2573
...        ...       ...
284577  750.26     12987
284581  750.27     11940
284585  750.28     28763
284589  750.29     25027
284593  750.30      1297

[71149 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1547
6         0.02      1101
10        0.03       572
14        0.04       724
18        0.05       597
...        ...       ...
284578  750.26      1285
284582  750.27       861
284586  750.28       451
284590  750.29       235
284594  750.30         3

[71149 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  3168357
7         0.02  4367608
11        0.03  6290253
15        0.04  5808095
19        0.05  6262823
...        ...      ...
284579  750.26  3697888
284583  750.27  4530010
284587  750.28  3497458
284591  750.29  5388615
284595  750.30  4579891

[71149 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     13563122      8580
1        0.03     18257171      1804
2        0.04     17036346      2765
3        0.05     18726834      2573
4        0.06     19771891      3199
...       ...          ...       ...
71143  750.26     11885125     12987
71144  750.27     18220206     11940
71145  750.28     11011632     28763
71146  750.29     19138413     25027
71147  750.30     23700022      1297

[71148 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1547  3168357
1        0.02      1101  4367608
2        0.03       572  6290253
3        0.04       724  5808095
4        0.05       597  6262823
...       ...       ...      ...
71144  750.26      1285  3697888
71145  750.27       861  4530010
71146  750.28       451  3497458
71147  750.29       235  5388615
71148  750.30         3  4579891

[71149 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.012580   9861963         NaN  instructions    11221440
1         0.012580     68431         NaN       l2d_tlb    11221440
2         0.012580     56670         NaN    l2d_tlb_rd    11221440
3         0.012580     11761         NaN    l2d_tlb_wr    11221440
4         0.023091  13024932         NaN  instructions     9826360
...            ...       ...         ...           ...         ...
283843  750.120867     17901         NaN    l2d_tlb_wr    10009200
283844  750.122568   2708090         NaN  instructions     1289760
283845  750.122568      5989         NaN       l2d_tlb     1289760
283846  750.122568      4300         NaN    l2d_tlb_rd     1289760
283847  750.122568      1689         NaN    l2d_tlb_wr     1289760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
283843       100.0         NaN         NaN
283844       100.0         NaN         NaN
283845       100.0         NaN         NaN
283846       100.0         NaN         NaN
283847       100.0         NaN         NaN

[283848 rows x 8 columns]
          time     value       counter
4         0.02  13024932  instructions
8         0.03  20968279  instructions
12        0.04  16679297  instructions
16        0.06  18305450  instructions
20        0.07  20488695  instructions
...        ...       ...           ...
283828  750.09  16771205  instructions
283832  750.10  13081150  instructions
283836  750.11  19090950  instructions
283840  750.12  26690586  instructions
283844  750.12   2708090  instructions

[70961 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

instructions
          time instructions
4         0.02     13024932
8         0.03     20968279
12        0.04     16679297
16        0.06     18305450
20        0.07     20488695
...        ...          ...
283828  750.09     16771205
283832  750.10     13081150
283836  750.11     19090950
283840  750.12     26690586
283844  750.12      2708090

[70961 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   68431
5         0.02   92623
9         0.03  194356
13        0.04  160388
17        0.06  172625
...        ...     ...
283829  750.09  141608
283833  750.10  137765
283837  750.11  122877
283841  750.12   46794
283845  750.12    5989

[70962 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      56670
6         0.02      84714
10        0.03     185175
14        0.04     152498
18        0.06     164289
...        ...        ...
283830  750.09     130671
283834  750.10     128107
283838  750.11     117532
283842  750.12      28893
283846  750.12       4300

[70962 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      11761
7         0.02       7909
11        0.03       9181
15        0.04       7890
19        0.06       8336
...        ...        ...
283831  750.09      10937
283835  750.10       9658
283839  750.11       5345
283843  750.12      17901
283847  750.12       1689

[70962 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     13024932   92623
1        0.03     20968279  194356
2        0.04     16679297  160388
3        0.06     18305450  172625
4        0.07     20488695  163686
...       ...          ...     ...
70958  750.11     19090950  122877
70959  750.12     26690586   46794
70960  750.12     26690586    5989
70961  750.12      2708090   46794
70962  750.12      2708090    5989

[70963 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      56670      11761
1        0.02      84714       7909
2        0.03     185175       9181
3        0.04     152498       7890
4        0.06     164289       8336
...       ...        ...        ...
70959  750.11     117532       5345
70960  750.12      28893      17901
70961  750.12      28893       1689
70962  750.12       4300      17901
70963  750.12       4300       1689

[70964 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010101   8856018         NaN  instructions    10472920
1         0.010101         8         NaN      vfp_spec    10472920
2         0.010101  10649421         NaN     inst_spec    10472920
3         0.010101      5698         NaN      ase_spec    10472920
4         0.020596  11155528         NaN  instructions     9824680
...            ...       ...         ...           ...         ...
284407  750.019937        13         NaN      ase_spec    10005280
284408  750.024886  12213108         NaN  instructions     4587560
284409  750.024886         0         NaN      vfp_spec     4587560
284410  750.024886  12554746         NaN     inst_spec     4587560
284411  750.024886         0         NaN      ase_spec     4587560

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
284407       100.0         NaN         NaN
284408       100.0         NaN         NaN
284409       100.0         NaN         NaN
284410       100.0         NaN         NaN
284411       100.0         NaN         NaN

[284412 rows x 8 columns]
          time     value       counter
4         0.02  11155528  instructions
8         0.03  18320207  instructions
12        0.04  17164518  instructions
16        0.05  18654554  instructions
20        0.06  19279234  instructions
...        ...       ...           ...
284392  749.99  14466759  instructions
284396  750.00  16244589  instructions
284400  750.01  12219004  instructions
284404  750.02  24889979  instructions
284408  750.02  12213108  instructions

[71102 rows x 3 columns]
instructions
          time instructions
4         0.02     11155528
8         0.03     18320207
12        0.04     17164518
16        0.05     18654554
20        0.06     19279234
...        ...          ...
284392  749.99     14466759
284396  750.00     16244589
284400  750.01     12219004
284404  750.02     24889979
284408  750.02     12213108

[71102 rows x 2 columns]
df3
          time vfp_spec
1         0.01        8
5         0.02      306
9         0.03     2960
13        0.04     1034
17        0.05      838
...        ...      ...
284393  749.99        0
284397  750.00        0
284401  750.01        0
284405  750.02        0
284409  750.02        0

[71103 rows x 2 columns]
df4
          time inst_spec
2         0.01  10649421
6         0.02  13753640
10        0.03  22870118
14        0.04  21584686
18        0.05  23157696
...        ...       ...
284394  749.99  16187718
284398  750.00  17363548
284402  750.01  15598560
284406  750.02  26641379
284410  750.02  12554746

[71103 rows x 2 columns]
df5
          time ase_spec
3         0.01     5698
7         0.02    11379
11        0.03    27310
15        0.04    13111
19        0.05    12103
...        ...      ...
284395  749.99     2769
284399  750.00      424
284403  750.01        0
284407  750.02       13
284411  750.02        0

[71103 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     11155528      306
1        0.03     18320207     2960
2        0.04     17164518     1034
3        0.05     18654554      838
4        0.06     19279234      401
...       ...          ...      ...
71099  750.01     12219004        0
71100  750.02     24889979        0
71101  750.02     24889979        0
71102  750.02     12213108        0
71103  750.02     12213108        0

[71104 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  10649421     5698
1        0.02  13753640    11379
2        0.03  22870118    27310
3        0.04  21584686    13111
4        0.05  23157696    12103
...       ...       ...      ...
71100  750.01  15598560        0
71101  750.02  26641379       13
71102  750.02  26641379        0
71103  750.02  12554746       13
71104  750.02  12554746        0

[71105 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010114   8545685         NaN      instructions     9883280
1         0.010114   5150070         NaN     stall_backend     9883280
2         0.010114   6373642         NaN    stall_frontend     9883280
3         0.010114    142667         NaN  ll_cache_miss_rd     9883280
4         0.020595  11594296         NaN      instructions     9866120
...            ...       ...         ...               ...         ...
284995  751.844337    554985         NaN  ll_cache_miss_rd    10240560
284996  751.852617  20719438         NaN      instructions     7860400
284997  751.852617   5125334         NaN     stall_backend     7860400
284998  751.852617    426882         NaN    stall_frontend     7860400
284999  751.852617     89237         NaN  ll_cache_miss_rd     7860400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
284995       100.0         NaN         NaN
284996       100.0         NaN         NaN
284997       100.0         NaN         NaN
284998       100.0         NaN         NaN
284999       100.0         NaN         NaN

[285000 rows x 8 columns]
          time     value       counter
4         0.02  11594296  instructions
8         0.03  18898075  instructions
12        0.04  22455026  instructions
16        0.05  18059273  instructions
20        0.06  20504113  instructions
...        ...       ...           ...
284980  751.81  12171839  instructions
284984  751.82  18007540  instructions
284988  751.83  11344091  instructions
284992  751.84  20874801  instructions
284996  751.85  20719438  instructions

[71249 rows x 3 columns]
instructions
          time instructions
4         0.02     11594296
8         0.03     18898075
12        0.04     22455026
16        0.05     18059273
20        0.06     20504113
...        ...          ...
284980  751.81     12171839
284984  751.82     18007540
284988  751.83     11344091
284992  751.84     20874801
284996  751.85     20719438

[71249 rows x 2 columns]
df3
          time stall_backend
1         0.01       5150070
5         0.02       4488619
9         0.03       2344176
13        0.04       3073047
17        0.05       2389133
...        ...           ...
284981  751.81       8156883
284985  751.82       8236676
284989  751.83      10035885
284993  751.84       7433664
284997  751.85       5125334

[71250 rows x 2 columns]
df4
          time stall_frontend
2         0.01        6373642
6         0.02        5818636
10        0.03        4943207
14        0.04        7110137
18        0.05        5380174
...        ...            ...
284982  751.81        2398839
284986  751.82         992360
284990  751.83         667325
284994  751.84         573985
284998  751.85         426882

[71250 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           142667
7         0.02           128794
11        0.03            88463
15        0.04           123317
19        0.05           101853
...        ...              ...
284983  751.81            78608
284987  751.82           147399
284991  751.83           340058
284995  751.84           554985
284999  751.85            89237

[71250 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     11594296       4488619
1        0.03     18898075       2344176
2        0.04     22455026       3073047
3        0.05     18059273       2389133
4        0.06     20504113       2464824
...       ...          ...           ...
71244  751.81     12171839       8156883
71245  751.82     18007540       8236676
71246  751.83     11344091      10035885
71247  751.84     20874801       7433664
71248  751.85     20719438       5125334

[71249 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        6373642           142667
1        0.02        5818636           128794
2        0.03        4943207            88463
3        0.04        7110137           123317
4        0.05        5380174           101853
...       ...            ...              ...
71245  751.81        2398839            78608
71246  751.82         992360           147399
71247  751.83         667325           340058
71248  751.84         573985           554985
71249  751.85         426882            89237

[71250 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010166   7988495         NaN   instructions     8869720
1         0.010166   2489680         NaN     mem_access     8869720
2         0.010166   1535703         NaN  mem_access_rd     8869720
3         0.010166    953977         NaN  mem_access_wr     8869720
4         0.021358  12130425         NaN   instructions    10474600
...            ...       ...         ...            ...         ...
284615  749.813237   1662517         NaN  mem_access_wr    11906960
284616  749.821444  19756836         NaN   instructions     7761240
284617  749.821444   5707416         NaN     mem_access     7761240
284618  749.821444   3592733         NaN  mem_access_rd     7761240
284619  749.821444   2114683         NaN  mem_access_wr     7761240

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
284615       100.0         NaN         NaN
284616       100.0         NaN         NaN
284617       100.0         NaN         NaN
284618       100.0         NaN         NaN
284619       100.0         NaN         NaN

[284620 rows x 8 columns]
          time     value       counter
4         0.02  12130425  instructions
8         0.03  18933850  instructions
12        0.04  17536780  instructions
16        0.05  22303231  instructions
20        0.06  20575184  instructions
...        ...       ...           ...
284600  749.78  11557728  instructions
284604  749.79  18104436  instructions
284608  749.80  10328751  instructions
284612  749.81  24091482  instructions
284616  749.82  19756836  instructions

[71154 rows x 3 columns]
instructions
          time instructions
4         0.02     12130425
8         0.03     18933850
12        0.04     17536780
16        0.05     22303231
20        0.06     20575184
...        ...          ...
284600  749.78     11557728
284604  749.79     18104436
284608  749.80     10328751
284612  749.81     24091482
284616  749.82     19756836

[71154 rows x 2 columns]
df3
          time mem_access
1         0.01    2489680
5         0.02    4046866
9         0.03    7185130
13        0.04    6757013
17        0.05    8623069
...        ...        ...
284601  749.78    4184151
284605  749.79    6336380
284609  749.80    3287907
284613  749.81    5804464
284617  749.82    5707416

[71155 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1535703
6         0.02       2497936
10        0.03       4555947
14        0.04       4262477
18        0.05       5476680
...        ...           ...
284602  749.78       2622108
284606  749.79       4180888
284610  749.80       2193217
284614  749.81       4141947
284618  749.82       3592733

[71155 rows x 2 columns]
df5
          time mem_access_wr
3         0.01        953977
7         0.02       1548930
11        0.03       2629183
15        0.04       2494536
19        0.05       3146389
...        ...           ...
284603  749.78       1562043
284607  749.79       2155492
284611  749.80       1094690
284615  749.81       1662517
284619  749.82       2114683

[71155 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     12130425    4046866
1        0.03     18933850    7185130
2        0.04     17536780    6757013
3        0.05     22303231    8623069
4        0.06     20575184    7827486
...       ...          ...        ...
71149  749.78     11557728    4184151
71150  749.79     18104436    6336380
71151  749.80     10328751    3287907
71152  749.81     24091482    5804464
71153  749.82     19756836    5707416

[71154 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1535703        953977
1        0.02       2497936       1548930
2        0.03       4555947       2629183
3        0.04       4262477       2494536
4        0.05       5476680       3146389
...       ...           ...           ...
71150  749.78       2622108       1562043
71151  749.79       4180888       2155492
71152  749.80       2193217       1094690
71153  749.81       4141947       1662517
71154  749.82       3592733       2114683

[71155 rows x 3 columns]
merged_df
         time instructions cpu-cycles  br_pred br_mis_pred   l1d_cache_rd  \
0        0.02     10920381   14588870  2138045       90135        2852244
1        0.03     20821527   16556337  4742936      191839        4599502
2        0.04     17503673   14870717  3942548      165593        4289719
3        0.06     19771195   14901045  4465721      146769        5899179
4        0.07     25243257   14908949  6088260      137477        5037632
...       ...          ...        ...      ...         ...            ...
43685  748.66     30403728   14902319  6598712       90322  <not counted>
43686  748.67     27287354   14937608  5792866       71794  <not counted>
43687  748.70     32396786   16201448  7129551       48101        3995847
43688  748.71     34015879   14954242  7388552       27574        2313682
43689  748.73     19014749   14849422  4501216      120137        3176155

        l1d_cache_wr      l1d_cache      l1i_cache l1i_cache_refill  ...  \
0            1719139        4571383        4985126           278290  ...
1            2636524        7236026        7223415           383398  ...
2            2516414        6806133        7107328           437615  ...
3            3375642        9274821        7538111           326151  ...
4            2835374        7873006        9109512           341351  ...
...              ...            ...            ...              ...  ...
43685  <not counted>  <not counted>  <not counted>    <not counted>  ...
43686  <not counted>  <not counted>        1312737            11993  ...
43687        2080134        6075981        9264769            23867  ...
43688        1077262        3390944       10589782            41207  ...
43689        1864056        5040211       10702799            29801  ...

      l2d_tlb_wr vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0           7909      306  13753640    11379       4488619        5818636
1           9181     2960  22870118    27310       2344176        4943207
2           7890     1034  21584686    13111       3073047        7110137
3           8336      401  23589405    13891       2464824        4589224
4           7747      310  32296849    20593       2033515        3546679
...          ...      ...       ...      ...           ...            ...
43685      13973    10465  35750287      594       2082923        2734557
43686      13010    23451  32081688     2444       2572231        2516934
43687      11603    36497  26142027     5368       1711410        2272701
43688      13598    77646  27235216    14402       1783661        2277729
43689      15692    81665  28289768    14986       1727493        2297027

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               128794    4046866       2497936       1548930
1                88463    7185130       4555947       2629183
2               123317    6757013       4262477       2494536
3                99185    7827486       4976753       2850733
4                48182    8509192       5855548       2653644
...                ...        ...           ...           ...
43685            20412   12613503       8044295       4569208
43686            87450   12984403       8285353       4699050
43687            11731   12503554       7996262       4507292
43688            14488   11308038       7251098       4056940
43689            13159   10514859       6715754       3799105

[43690 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010111   8840278         NaN  instructions    10271760
1         0.010111  15244699         NaN    cpu-cycles    10271760
2         0.010111   1625176         NaN       br_pred    10271760
3         0.010111     66280         NaN   br_mis_pred    10271760
4         0.020590  11594918         NaN  instructions     9880520
...            ...       ...         ...           ...         ...
328059  869.040015     11522         NaN   br_mis_pred    11585160
328060  869.041823   3105280         NaN  instructions     1381160
328061  869.041823   2049937         NaN    cpu-cycles     1381160
328062  869.041823    467796         NaN       br_pred     1381160
328063  869.041823      2952         NaN   br_mis_pred     1381160

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.58  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.79  insn per cycle
...            ...         ...             ...
328059       100.0         NaN             NaN
328060       100.0        1.51  insn per cycle
328061       100.0         NaN             NaN
328062       100.0         NaN             NaN
328063       100.0         NaN             NaN

[328064 rows x 8 columns]
          time     value       counter
4         0.02  11594918  instructions
8         0.03  19139008  instructions
12        0.04  17445619  instructions
16        0.05  18778693  instructions
20        0.07  26407688  instructions
...        ...       ...           ...
328044  869.01  17702016  instructions
328048  869.02  12064172  instructions
328052  869.03  14539518  instructions
328056  869.04  29895195  instructions
328060  869.04   3105280  instructions

[82015 rows x 3 columns]
instructions
          time instructions
4         0.02     11594918
8         0.03     19139008
12        0.04     17445619
16        0.05     18778693
20        0.07     26407688
...        ...          ...
328044  869.01     17702016
328048  869.02     12064172
328052  869.03     14539518
328056  869.04     29895195
328060  869.04      3105280

[82015 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   15244699
5         0.02   14729692
9         0.03   14815088
13        0.04   14825088
17        0.05   14899809
...        ...        ...
328045  869.01   14934333
328049  869.02   14913788
328053  869.03   14888826
328057  869.04   17282948
328061  869.04    2049937

[82016 rows x 2 columns]
df4
          time  br_pred
2         0.01  1625176
6         0.02  2300103
10        0.03  4365136
14        0.04  3924259
18        0.05  4262100
...        ...      ...
328046  869.01  3925343
328050  869.02  2882772
328054  869.03  4269858
328058  869.04  4461787
328062  869.04   467796

[82016 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       66280
7         0.02      100208
11        0.03      173456
15        0.04      167775
19        0.05      171519
...        ...         ...
328047  869.01       28979
328051  869.02       38807
328055  869.03      109485
328059  869.04       11522
328063  869.04        2952

[82016 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     11594918   14729692
1        0.03     19139008   14815088
2        0.04     17445619   14825088
3        0.05     18778693   14899809
4        0.07     26407688   19772462
...       ...          ...        ...
82012  869.03     14539518   14888826
82013  869.04     29895195   17282948
82014  869.04     29895195    2049937
82015  869.04      3105280   17282948
82016  869.04      3105280    2049937

[82017 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1625176       66280
1        0.02  2300103      100208
2        0.03  4365136      173456
3        0.04  3924259      167775
4        0.05  4262100      171519
...       ...      ...         ...
82013  869.03  4269858      109485
82014  869.04  4461787       11522
82015  869.04  4461787        2952
82016  869.04   467796       11522
82017  869.04   467796        2952

[82018 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010124   8749356         NaN  instructions     9884680
1         0.010124   1681911         NaN  l1d_cache_rd     9884680
2         0.010124   1053789         NaN  l1d_cache_wr     9884680
3         0.010124   2735700         NaN     l1d_cache     9884680
4         0.020521  11436355         NaN  instructions     9776480
...            ...       ...         ...           ...         ...
326695  863.909531   7742725         NaN     l1d_cache    10030160
326696  863.912071   5044647         NaN  instructions     2174960
326697  863.912071    915006         NaN  l1d_cache_rd     2174960
326698  863.912071    558222         NaN  l1d_cache_wr     2174960
326699  863.912071   1473228         NaN     l1d_cache     2174960

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
326695       100.0         NaN         NaN
326696       100.0         NaN         NaN
326697       100.0         NaN         NaN
326698       100.0         NaN         NaN
326699       100.0         NaN         NaN

[326700 rows x 8 columns]
          time     value       counter
4         0.02  11436355  instructions
8         0.03  18310633  instructions
12        0.04  17480365  instructions
16        0.05  21953986  instructions
20        0.06  20070684  instructions
...        ...       ...           ...
326680  863.88  16322545  instructions
326684  863.89  13381318  instructions
326688  863.90  14902477  instructions
326692  863.91  26976289  instructions
326696  863.91   5044647  instructions

[81674 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]

instructions
          time instructions
4         0.02     11436355
8         0.03     18310633
12        0.04     17480365
16        0.05     21953986
20        0.06     20070684
...        ...          ...
326680  863.88     16322545
326684  863.89     13381318
326688  863.90     14902477
326692  863.91     26976289
326696  863.91      5044647

[81674 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1681911
5         0.02      2382249
9         0.03      4413198
13        0.04      4252211
17        0.05      5403572
...        ...          ...
326681  863.88      3764960
326685  863.89      2882568
326689  863.90      2594934
326693  863.91      4889469
326697  863.91       915006

[81675 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1053789
6         0.02      1449752
10        0.03      2543011
14        0.04      2485958
18        0.05      3095784
...        ...          ...
326682  863.88      1927186
326686  863.89      1492379
326690  863.90       695858
326694  863.91      2853256
326698  863.91       558222

[81675 rows x 2 columns]
df5
          time l1d_cache
3         0.01   2735700
7         0.02   3832001
11        0.03   6956209
15        0.04   6738169
19        0.05   8499356
...        ...       ...
326683  863.88   5692146
326687  863.89   4374947
326691  863.90   3290792
326695  863.91   7742725
326699  863.91   1473228

[81675 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     11436355      2382249
1        0.03     18310633      4413198
2        0.04     17480365      4252211
3        0.05     21953986      5403572
4        0.06     20070684      4867771
...       ...          ...          ...
81671  863.90     14902477      2594934
81672  863.91     26976289      4889469
81673  863.91     26976289       915006
81674  863.91      5044647      4889469
81675  863.91      5044647       915006

[81676 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      1053789   2735700
1        0.02      1449752   3832001
2        0.03      2543011   6956209
3        0.04      2485958   6738169
4        0.05      3095784   8499356
...       ...          ...       ...
81672  863.90       695858   3290792
81673  863.91      2853256   7742725
81674  863.91      2853256   1473228
81675  863.91       558222   7742725
81676  863.91       558222   1473228

[81677 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010108   7682763         NaN      instructions     8850120
1         0.010108   2797082         NaN         l1i_cache     8850120
2         0.010108    199240         NaN  l1i_cache_refill     8850120
3         0.010108     57311         NaN     remote_access     8850120
4         0.022758  15093244         NaN      instructions    11968280
...            ...       ...         ...               ...         ...
326487  863.871852      4040         NaN     remote_access     9888080
326488  863.878263  15432525         NaN      instructions     6030400
326489  863.878263   4209604         NaN         l1i_cache     6030400
326490  863.878263      6920         NaN  l1i_cache_refill     6030400
326491  863.878263      3928         NaN     remote_access     6030400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
326487       100.0         NaN         NaN
326488       100.0         NaN         NaN
326489       100.0         NaN         NaN
326490       100.0         NaN         NaN
326491       100.0         NaN         NaN

[326492 rows x 8 columns]
          time     value       counter
4         0.02  15093244  instructions
8         0.03  17810384  instructions
12        0.04  17863913  instructions
16        0.05  18697101  instructions
20        0.06  19276404  instructions
...        ...       ...           ...
326472  863.84  14394054  instructions
326476  863.85  16321231  instructions
326480  863.86  10690661  instructions
326484  863.87  23850853  instructions
326488  863.88  15432525  instructions

[81622 rows x 3 columns]
instructions
          time instructions
4         0.02     15093244
8         0.03     17810384
12        0.04     17863913
16        0.05     18697101
20        0.06     19276404
...        ...          ...
326472  863.84     14394054
326476  863.85     16321231
326480  863.86     10690661
326484  863.87     23850853
326488  863.88     15432525

[81622 rows x 2 columns]
df3
          time l1i_cache
1         0.01   2797082
5         0.02   5605002
9         0.03   7311101
13        0.04   7199338
17        0.05   7533459
...        ...       ...
326473  863.84   4794164
326477  863.85   5121839
326481  863.86   4142192
326485  863.87   7139994
326489  863.88   4209604

[81623 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           199240
6         0.02           318044
10        0.03           382057
14        0.04           446885
18        0.05           425736
...        ...              ...
326474  863.84           149002
326478  863.85            75839
326482  863.86            14574
326486  863.87            11130
326490  863.88             6920

[81623 rows x 2 columns]
df5
          time remote_access
3         0.01         57311
7         0.02         55325
11        0.03         18409
15        0.04         19648
19        0.05         16844
...        ...           ...
326475  863.84          3578
326479  863.85          3508
326483  863.86          2803
326487  863.87          4040
326491  863.88          3928

[81623 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     15093244   5605002
1        0.03     17810384   7311101
2        0.04     17863913   7199338
3        0.05     18697101   7533459
4        0.06     19276404   7455141
...       ...          ...       ...
81617  863.84     14394054   4794164
81618  863.85     16321231   5121839
81619  863.86     10690661   4142192
81620  863.87     23850853   7139994
81621  863.88     15432525   4209604

[81622 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           199240         57311
1        0.02           318044         55325
2        0.03           382057         18409
3        0.04           446885         19648
4        0.05           425736         16844
...       ...              ...           ...
81618  863.84           149002          3578
81619  863.85            75839          3508
81620  863.86            14574          2803
81621  863.87            11130          4040
81622  863.88             6920          3928

[81623 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010113   8214255         NaN  instructions     9243240
1         0.010113    307920         NaN  l2d_cache_rd     9243240
2         0.010113    107614         NaN  l2d_cache_wr     9243240
3         0.010113    415534         NaN     l2d_cache     9243240
4         0.021669  12712574         NaN  instructions    10911680
...            ...       ...         ...           ...         ...
325975  862.248822    706255         NaN     l2d_cache     9994120
325976  862.254464  13598211         NaN  instructions     5251040
325977  862.254464     74550         NaN  l2d_cache_rd     5251040
325978  862.254464     66480         NaN  l2d_cache_wr     5251040
325979  862.254464    141030         NaN     l2d_cache     5251040

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
325975       100.0         NaN         NaN
325976       100.0         NaN         NaN
325977       100.0         NaN         NaN
325978       100.0         NaN         NaN
325979       100.0         NaN         NaN

[325980 rows x 8 columns]
          time     value       counter
4         0.02  12712574  instructions
8         0.03  18839038  instructions
12        0.04  17733032  instructions
16        0.05  18827877  instructions
20        0.06  19912463  instructions
...        ...       ...           ...
325960  862.22  14500478  instructions
325964  862.23  14590119  instructions
325968  862.24  12699190  instructions
325972  862.25  24461340  instructions
325976  862.25  13598211  instructions

[81494 rows x 3 columns]
instructions
          time instructions
4         0.02     12712574
8         0.03     18839038
12        0.04     17733032
16        0.05     18827877
20        0.06     19912463
...        ...          ...
325960  862.22     14500478
325964  862.23     14590119
325968  862.24     12699190
325972  862.25     24461340
325976  862.25     13598211

[81494 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       307920
5         0.02       429750
9         0.03       488879
13        0.04       547658
17        0.05       561582
...        ...          ...
325961  862.22       319354
325965  862.23       258345
325969  862.24       404428
325973  862.25       364621
325977  862.25        74550

[81495 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       107614
6         0.02       133383
10        0.03       113815
14        0.04       114969
18        0.05       122487
...        ...          ...
325962  862.22       132685
325966  862.23       192510
325970  862.24       349775
325974  862.25       341634
325978  862.25        66480

[81495 rows x 2 columns]
df5
          time l2d_cache
3         0.01    415534
7         0.02    563133
11        0.03    602694
15        0.04    662627
19        0.05    684069
...        ...       ...
325963  862.22    452039
325967  862.23    450855
325971  862.24    754203
325975  862.25    706255
325979  862.25    141030

[81495 rows x 2 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

df6
         time instructions l2d_cache_rd
0        0.02     12712574       429750
1        0.03     18839038       488879
2        0.04     17733032       547658
3        0.05     18827877       561582
4        0.06     19912463       467187
...       ...          ...          ...
81491  862.24     12699190       404428
81492  862.25     24461340       364621
81493  862.25     24461340        74550
81494  862.25     13598211       364621
81495  862.25     13598211        74550

[81496 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       107614    415534
1        0.02       133383    563133
2        0.03       113815    602694
3        0.04       114969    662627
4        0.05       122487    684069
...       ...          ...       ...
81492  862.24       349775    754203
81493  862.25       341634    706255
81494  862.25       341634    141030
81495  862.25        66480    706255
81496  862.25        66480    141030

[81497 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010200   7952585         NaN  instructions     8937680
1         0.010200   3304695         NaN       l1d_tlb     8937680
2         0.010200   2189073         NaN    l1d_tlb_rd     8937680
3         0.010200   1115622         NaN    l1d_tlb_wr     8937680
4         0.023585  17277932         NaN  instructions    12713000
...            ...       ...         ...           ...         ...
326683  864.075862   2013370         NaN    l1d_tlb_wr     9993520
326684  864.081896  14331610         NaN  instructions     5633960
326685  864.081896   5380724         NaN       l1d_tlb     5633960
326686  864.081896   3828751         NaN    l1d_tlb_rd     5633960
326687  864.081896   1551973         NaN    l1d_tlb_wr     5633960

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
326683       100.0         NaN         NaN
326684       100.0         NaN         NaN
326685       100.0         NaN         NaN
326686       100.0         NaN         NaN
326687       100.0         NaN         NaN

[326688 rows x 8 columns]
          time     value       counter
4         0.02  17277932  instructions
8         0.03  17408579  instructions
12        0.04  17653172  instructions
16        0.05  18450131  instructions
20        0.06  20388136  instructions
...        ...       ...           ...
326668  864.04  13691833  instructions
326672  864.05  16530895  instructions
326676  864.07  12400987  instructions
326680  864.08  24364694  instructions
326684  864.08  14331610  instructions

[81671 rows x 3 columns]
instructions
          time instructions
4         0.02     17277932
8         0.03     17408579
12        0.04     17653172
16        0.05     18450131
20        0.06     20388136
...        ...          ...
326668  864.04     13691833
326672  864.05     16530895
326676  864.07     12400987
326680  864.08     24364694
326684  864.08     14331610

[81671 rows x 2 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

df3
          time  l1d_tlb
1         0.01  3304695
5         0.02  6999607
9         0.03  7461710
13        0.04  7540486
17        0.05  7873051
...        ...      ...
326669  864.04  5421637
326673  864.05  6069774
326677  864.07  4017425
326681  864.08  8060150
326685  864.08  5380724

[81672 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2189073
6         0.02    4540720
10        0.03    4819542
14        0.04    4841411
18        0.05    5071312
...        ...        ...
326670  864.04    3556513
326674  864.05    4104718
326678  864.07    2991114
326682  864.08    6046780
326686  864.08    3828751

[81672 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1115622
7         0.02    2458887
11        0.03    2642168
15        0.04    2699075
19        0.05    2801739
...        ...        ...
326671  864.04    1865124
326675  864.05    1965056
326679  864.07    1026311
326683  864.08    2013370
326687  864.08    1551973

[81672 rows x 2 columns]
df6
         time instructions  l1d_tlb
0        0.02     17277932  6999607
1        0.03     17408579  7461710
2        0.04     17653172  7540486
3        0.05     18450131  7873051
4        0.06     20388136  8560709
...       ...          ...      ...
81668  864.07     12400987  4017425
81669  864.08     24364694  8060150
81670  864.08     24364694  5380724
81671  864.08     14331610  8060150
81672  864.08     14331610  5380724

[81673 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2189073    1115622
1        0.02    4540720    2458887
2        0.03    4819542    2642168
3        0.04    4841411    2699075
4        0.05    5071312    2801739
...       ...        ...        ...
81669  864.07    2991114    1026311
81670  864.08    6046780    2013370
81671  864.08    6046780    1551973
81672  864.08    3828751    2013370
81673  864.08    3828751    1551973

[81674 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010154   9899522         NaN  instructions    11164240
1         0.010154     19470         NaN     dtlb_walk    11164240
2         0.010154      1518         NaN     itlb_walk    11164240
3         0.010154   3292200         NaN       l1i_tlb    11164240
4         0.020649  12852930         NaN  instructions     9759160
...            ...       ...         ...           ...         ...
326847  865.041438   5531855         NaN       l1i_tlb    10048280
326848  865.051814  26129749         NaN  instructions     9919000
326849  865.051814      1344         NaN     dtlb_walk     9919000
326850  865.051814         4         NaN     itlb_walk     9919000
326851  865.051814   5031217         NaN       l1i_tlb     9919000

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
326847       100.0         NaN         NaN
326848       100.0         NaN         NaN
326849       100.0         NaN         NaN
326850       100.0         NaN         NaN
326851       100.0         NaN         NaN

[326852 rows x 8 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

          time     value       counter
4         0.02  12852930  instructions
8         0.03  18150115  instructions
12        0.04  17621637  instructions
16        0.05  18668092  instructions
20        0.06  19749284  instructions
...        ...       ...           ...
326832  865.01  11405948  instructions
326836  865.02  18829074  instructions
326840  865.03  10378518  instructions
326844  865.04  18172659  instructions
326848  865.05  26129749  instructions

[81712 rows x 3 columns]
instructions
          time instructions
4         0.02     12852930
8         0.03     18150115
12        0.04     17621637
16        0.05     18668092
20        0.06     19749284
...        ...          ...
326832  865.01     11405948
326836  865.02     18829074
326840  865.03     10378518
326844  865.04     18172659
326848  865.05     26129749

[81712 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     19470
5         0.02      8259
9         0.03      1868
13        0.04      2516
17        0.05      2390
...        ...       ...
326833  865.01     12998
326837  865.02     12160
326841  865.03     28379
326845  865.04     29194
326849  865.05      1344

[81713 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1518
6         0.02      1167
10        0.03       628
14        0.04       663
18        0.05       587
...        ...       ...
326834  865.01      1389
326838  865.02       738
326842  865.03       561
326846  865.04       252
326850  865.05         4

[81713 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  3292200
7         0.02  4199086
11        0.03  6248729
15        0.04  5976809
19        0.05  6264013
...        ...      ...
326835  865.01  3582164
326839  865.02  4666537
326843  865.03  3253623
326847  865.04  5531855
326851  865.05  5031217

[81713 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     12852930      8259
1        0.03     18150115      1868
2        0.04     17621637      2516
3        0.05     18668092      2390
4        0.06     19749284      3051
...       ...          ...       ...
81707  865.01     11405948     12998
81708  865.02     18829074     12160
81709  865.03     10378518     28379
81710  865.04     18172659     29194
81711  865.05     26129749      1344

[81712 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1518  3292200
1        0.02      1167  4199086
2        0.03       628  6248729
3        0.04       663  5976809
4        0.05       587  6264013
...       ...       ...      ...
81708  865.01      1389  3582164
81709  865.02       738  4666537
81710  865.03       561  3253623
81711  865.04       252  5531855
81712  865.05         4  5031217

[81713 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010099   9243688         NaN  instructions    10495000
1         0.010099     64038         NaN       l2d_tlb    10495000
2         0.010099     53256         NaN    l2d_tlb_rd    10495000
3         0.010099     10782         NaN    l2d_tlb_wr    10495000
4         0.020602  12736461         NaN  instructions     9949280
...            ...       ...         ...           ...         ...
328591  869.960126     10190         NaN    l2d_tlb_wr    10206080
328592  869.967462  17975795         NaN  instructions     6980240
328593  869.967462     34561         NaN       l2d_tlb     6980240
328594  869.967462     22399         NaN    l2d_tlb_rd     6980240
328595  869.967462     12162         NaN    l2d_tlb_wr     6980240

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
328591       100.0         NaN         NaN
328592       100.0         NaN         NaN
328593       100.0         NaN         NaN
328594       100.0         NaN         NaN
328595       100.0         NaN         NaN

[328596 rows x 8 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

          time     value       counter
4         0.02  12736461  instructions
8         0.03  18467847  instructions
12        0.04  17250859  instructions
16        0.05  18628001  instructions
20        0.06  19652582  instructions
...        ...       ...           ...
328576  869.93  13294426  instructions
328580  869.94  16945861  instructions
328584  869.95  11095031  instructions
328588  869.96  22559423  instructions
328592  869.97  17975795  instructions

[82148 rows x 3 columns]
instructions
          time instructions
4         0.02     12736461
8         0.03     18467847
12        0.04     17250859
16        0.05     18628001
20        0.06     19652582
...        ...          ...
328576  869.93     13294426
328580  869.94     16945861
328584  869.95     11095031
328588  869.96     22559423
328592  869.97     17975795

[82148 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   64038
5         0.02   93945
9         0.03  166221
13        0.04  164936
17        0.05  180255
...        ...     ...
328577  869.93  143970
328581  869.94  119919
328585  869.95  113773
328589  869.96   60116
328593  869.97   34561

[82149 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      53256
6         0.02      85287
10        0.03     158204
14        0.04     156928
18        0.05     171648
...        ...        ...
328578  869.93     132520
328582  869.94     111316
328586  869.95     107288
328590  869.96      49926
328594  869.97      22399

[82149 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      10782
7         0.02       8658
11        0.03       8017
15        0.04       8008
19        0.05       8607
...        ...        ...
328579  869.93      11450
328583  869.94       8603
328587  869.95       6485
328591  869.96      10190
328595  869.97      12162

[82149 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     12736461   93945
1        0.03     18467847  166221
2        0.04     17250859  164936
3        0.05     18628001  180255
4        0.06     19652582  155962
...       ...          ...     ...
82143  869.93     13294426  143970
82144  869.94     16945861  119919
82145  869.95     11095031  113773
82146  869.96     22559423   60116
82147  869.97     17975795   34561

[82148 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      53256      10782
1        0.02      85287       8658
2        0.03     158204       8017
3        0.04     156928       8008
4        0.05     171648       8607
...       ...        ...        ...
82144  869.93     132520      11450
82145  869.94     111316       8603
82146  869.95     107288       6485
82147  869.96      49926      10190
82148  869.97      22399      12162

[82149 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010098   9706400         NaN  instructions    10935800
1         0.010098        13         NaN      vfp_spec    10935800
2         0.010098  11629682         NaN     inst_spec    10935800
3         0.010098      5815         NaN      ase_spec    10935800
4         0.020570  13951064         NaN  instructions     9894760
...            ...       ...         ...           ...         ...
326639  864.390478         0         NaN      ase_spec    10329560
326640  864.392472   3692156         NaN  instructions     1635200
326641  864.392472         0         NaN      vfp_spec     1635200
326642  864.392472   3847199         NaN     inst_spec     1635200
326643  864.392472         0         NaN      ase_spec     1635200

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
326639       100.0         NaN         NaN
326640       100.0         NaN         NaN
326641       100.0         NaN         NaN
326642       100.0         NaN         NaN
326643       100.0         NaN         NaN

[326644 rows x 8 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

          time     value       counter
4         0.02  13951064  instructions
8         0.03  17958746  instructions
12        0.04  17477126  instructions
16        0.05  18777913  instructions
20        0.06  19950441  instructions
...        ...       ...           ...
326624  864.36  17170013  instructions
326628  864.37  12615152  instructions
326632  864.38  15380430  instructions
326636  864.39  27073049  instructions
326640  864.39   3692156  instructions

[81660 rows x 3 columns]
instructions
          time instructions
4         0.02     13951064
8         0.03     17958746
12        0.04     17477126
16        0.05     18777913
20        0.06     19950441
...        ...          ...
326624  864.36     17170013
326628  864.37     12615152
326632  864.38     15380430
326636  864.39     27073049
326640  864.39      3692156

[81660 rows x 2 columns]
df3
          time vfp_spec
1         0.01       13
5         0.02     2646
9         0.03      933
13        0.04      780
17        0.05      742
...        ...      ...
326625  864.36        0
326629  864.37        0
326633  864.38        0
326637  864.39        0
326641  864.39        0

[81661 rows x 2 columns]
df4
          time inst_spec
2         0.01  11629682
6         0.02  16651498
10        0.03  23050504
14        0.04  21832183
18        0.05  23531593
...        ...       ...
326626  864.36  18547159
326630  864.37  14159175
326634  864.38  19873395
326638  864.39  27469891
326642  864.39   3847199

[81661 rows x 2 columns]
df5
          time ase_spec
3         0.01     5815
7         0.02    26739
11        0.03    14985
15        0.04    11732
19        0.05    13161
...        ...      ...
326627  864.36     1875
326631  864.37      404
326635  864.38        6
326639  864.39        0
326643  864.39        0

[81661 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     13951064     2646
1        0.03     17958746      933
2        0.04     17477126      780
3        0.05     18777913      742
4        0.06     19950441      305
...       ...          ...      ...
81657  864.38     15380430        0
81658  864.39     27073049        0
81659  864.39     27073049        0
81660  864.39      3692156        0
81661  864.39      3692156        0

[81662 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  11629682     5815
1        0.02  16651498    26739
2        0.03  23050504    14985
3        0.04  21832183    11732
4        0.05  23531593    13161
...       ...       ...      ...
81658  864.38  19873395        6
81659  864.39  27469891        0
81660  864.39  27469891        0
81661  864.39   3847199        0
81662  864.39   3847199        0

[81663 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010104   9674044         NaN      instructions    11125440
1         0.010104   5778677         NaN     stall_backend    11125440
2         0.010104   7189779         NaN    stall_frontend    11125440
3         0.010104    161365         NaN  ll_cache_miss_rd    11125440
4         0.020585  12910547         NaN      instructions     9817000
...            ...       ...         ...               ...         ...
327107  865.813310    653725         NaN  ll_cache_miss_rd    10105560
327108  865.822987  24298745         NaN      instructions     9234080
327109  865.822987   6138408         NaN     stall_backend     9234080
327110  865.822987    432573         NaN    stall_frontend     9234080
327111  865.822987    107107         NaN  ll_cache_miss_rd     9234080

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
327107       100.0         NaN         NaN
327108       100.0         NaN         NaN
327109       100.0         NaN         NaN
327110       100.0         NaN         NaN
327111       100.0         NaN         NaN

[327112 rows x 8 columns]
          time     value       counter
4         0.02  12910547  instructions
8         0.03  18311155  instructions
12        0.04  17312528  instructions
16        0.05  18652436  instructions
20        0.06  19325558  instructions
...        ...       ...           ...
327092  865.78  11422008  instructions
327096  865.79  16412699  instructions
327100  865.80  12713180  instructions
327104  865.81  19440548  instructions
327108  865.82  24298745  instructions

[81777 rows x 3 columns]
instructions
          time instructions
4         0.02     12910547
8         0.03     18311155
12        0.04     17312528
16        0.05     18652436
20        0.06     19325558
...        ...          ...
327092  865.78     11422008
327096  865.79     16412699
327100  865.80     12713180
327104  865.81     19440548
327108  865.82     24298745

[81777 rows x 2 columns]
df3
          time stall_backend
1         0.01       5778677
5         0.02       4172832
9         0.03       2300713
13        0.04       2486033
17        0.05       2324986
...        ...           ...
327093  865.78       7828326
327097  865.79       8599262
327101  865.80       9746224
327105  865.81       7348661
327109  865.82       6138408

[81778 rows x 2 columns]
df4
          time stall_frontend
2         0.01        7189779
6         0.02        5642220
10        0.03        5117298
14        0.04        5535821
18        0.05        5281852
...        ...            ...
327094  865.78        2735246
327098  865.79        1078657
327102  865.80         712155
327106  865.81         685711
327110  865.82         432573

[81778 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           161365
7         0.02           116268
11        0.03            89777
15        0.04            99166
19        0.05            94631
...        ...              ...
327095  865.78            79864
327099  865.79           132470
327103  865.80           263041
327107  865.81           653725
327111  865.82           107107

[81778 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     12910547       4172832
1        0.03     18311155       2300713
2        0.04     17312528       2486033
3        0.05     18652436       2324986
4        0.06     19325558       2431493
...       ...          ...           ...
81772  865.78     11422008       7828326
81773  865.79     16412699       8599262
81774  865.80     12713180       9746224
81775  865.81     19440548       7348661
81776  865.82     24298745       6138408

[81777 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        7189779           161365
1        0.02        5642220           116268
2        0.03        5117298            89777
3        0.04        5535821            99166
4        0.05        5281852            94631
...       ...            ...              ...
81773  865.78        2735246            79864
81774  865.79        1078657           132470
81775  865.80         712155           263041
81776  865.81         685711           653725
81777  865.82         432573           107107

[81778 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010102   7677297         NaN   instructions     8906000
1         0.010102   2401304         NaN     mem_access     8906000
2         0.010102   1481527         NaN  mem_access_rd     8906000
3         0.010102    919777         NaN  mem_access_wr     8906000
4         0.022866  14391453         NaN   instructions    11938880
...            ...       ...         ...            ...         ...
327263  867.002523   2513427         NaN  mem_access_wr    10102960
327264  867.006639   9073955         NaN   instructions     3705800
327265  867.006639   2617877         NaN     mem_access     3705800
327266  867.006639   1635154         NaN  mem_access_rd     3705800
327267  867.006639    982723         NaN  mem_access_wr     3705800

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
327263       100.0         NaN         NaN
327264       100.0         NaN         NaN
327265       100.0         NaN         NaN
327266       100.0         NaN         NaN
327267       100.0         NaN         NaN

[327268 rows x 8 columns]
          time     value       counter
4         0.02  14391453  instructions
8         0.03  18786146  instructions
12        0.04  17431149  instructions
16        0.05  18808297  instructions
20        0.06  19797949  instructions
...        ...       ...           ...
327248  866.97  16785563  instructions
327252  866.98  13414534  instructions
327256  866.99  13516536  instructions
327260  867.00  25754881  instructions
327264  867.01   9073955  instructions

[81816 rows x 3 columns]
instructions
          time instructions
4         0.02     14391453
8         0.03     18786146
12        0.04     17431149
16        0.05     18808297
20        0.06     19797949
...        ...          ...
327248  866.97     16785563
327252  866.98     13414534
327256  866.99     13516536
327260  867.00     25754881
327264  867.01      9073955

[81816 rows x 2 columns]
df3
          time mem_access
1         0.01    2401304
5         0.02    4843151
9         0.03    7209393
13        0.04    6723505
17        0.05    7279430
...        ...        ...
327249  866.97    5825171
327253  866.98    4417005
327257  866.99    3271206
327261  867.00    7132770
327265  867.01    2617877

[81817 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1481527
6         0.02       3005672
10        0.03       4584633
14        0.04       4244105
18        0.05       4626813
...        ...           ...
327250  866.97       3849803
327254  866.98       2881688
327258  866.99       2477677
327262  867.00       4619343
327266  867.01       1635154

[81817 rows x 2 columns]
df5
          time mem_access_wr
3         0.01        919777
7         0.02       1837479
11        0.03       2624760
15        0.04       2479400
19        0.05       2652617
...        ...           ...
327251  866.97       1975368
327255  866.98       1535317
327259  866.99        793529
327263  867.00       2513427
327267  867.01        982723

[81817 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     14391453    4843151
1        0.03     18786146    7209393
2        0.04     17431149    6723505
3        0.05     18808297    7279430
4        0.06     19797949    7569967
...       ...          ...        ...
81811  866.97     16785563    5825171
81812  866.98     13414534    4417005
81813  866.99     13516536    3271206
81814  867.00     25754881    7132770
81815  867.01      9073955    2617877

[81816 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1481527        919777
1        0.02       3005672       1837479
2        0.03       4584633       2624760
3        0.04       4244105       2479400
4        0.05       4626813       2652617
...       ...           ...           ...
81812  866.97       3849803       1975368
81813  866.98       2881688       1535317
81814  866.99       2477677        793529
81815  867.00       4619343       2513427
81816  867.01       1635154        982723

[81817 rows x 3 columns]
merged_df
         time   instructions     cpu-cycles        br_pred    br_mis_pred  \
0        0.02       11594918       14729692        2300103         100208
1        0.03       19139008       14815088        4365136         173456
2        0.04       17445619       14825088        3924259         167775
3        0.05       18778693       14899809        4262100         171519
4        0.07       26407688       19772462        6023714         211607
...       ...            ...            ...            ...            ...
48814  862.25  <not counted>  <not counted>  <not counted>  <not counted>
48815  862.25  <not counted>  <not counted>  <not counted>  <not counted>
48816  862.25  <not counted>  <not counted>  <not counted>  <not counted>
48817  862.25  <not counted>  <not counted>  <not counted>  <not counted>
48818  862.25  <not counted>  <not counted>  <not counted>  <not counted>

      l1d_cache_rd l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ...  \
0          2382249      1449752   3832001   5605002           318044  ...
1          4413198      2543011   6956209   7311101           382057  ...
2          4252211      2485958   6738169   7199338           446885  ...
3          5403572      3095784   8499356   7533459           425736  ...
4          5757154      2649126   8406280   9054923           340993  ...
...            ...          ...       ...       ...              ...  ...
48814      5192547      2889689   8082236   6947372           436218  ...
48815      5192547      2889689   8082236   6947372           436218  ...
48816      5192547      2889689   8082236   6947372           436218  ...
48817      5192547      2889689   8082236   6947372           436218  ...
48818      5192547      2889689   8082236   6947372           436218  ...

      l2d_tlb_wr vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0           8658     2646  16651498    26739       4172832        5642220
1           8017      933  23050504    14985       2300713        5117298
2           8008      780  21832183    11732       2486033        5535821
3           8607      742  23531593    13161       2324986        5281852
4           8627      310  30240839    18160       2060928        3829070
...          ...      ...       ...      ...           ...            ...
48814       8580        1  40562799        0       2122400        2893137
48815       8580        1  40562799        0       2122400        2893137
48816       8580        1  40562799        0       2122400        2893137
48817       8580        1  40562799        0       2122400        2893137
48818       8580        1  40562799        0       2122400        2893137

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               116268    4843151       3005672       1837479
1                89777    7209393       4584633       2624760
2                99166    6723505       4244105       2479400
3                94631    7279430       4626813       2652617
4                56675    8391125       5713532       2677593
...                ...        ...           ...           ...
48814            35501   13357673       8859622       4498051
48815            35501   13357673       8859622       4498051
48816            35501   13357673       8859622       4498051
48817            35501   13357673       8859622       4498051
48818            35501   13357673       8859622       4498051

[48819 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010120   9476748         NaN  instructions    11183480
1         0.010120  16630118         NaN    cpu-cycles    11183480
2         0.010120   1751383         NaN       br_pred    11183480
3         0.010120     69984         NaN   br_mis_pred    11183480
4         0.020658  11496188         NaN  instructions     9731840
...            ...       ...         ...           ...         ...
277427  731.526808     75472         NaN   br_mis_pred    10080720
277428  731.534627  19097383         NaN  instructions     7408160
277429  731.534627  11061370         NaN    cpu-cycles     7408160
277430  731.534627   2768444         NaN       br_pred     7408160
277431  731.534627      6068         NaN   br_mis_pred     7408160

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.57  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.79  insn per cycle
...            ...         ...             ...
277427       100.0         NaN             NaN
277428       100.0        1.73  insn per cycle
277429       100.0         NaN             NaN
277430       100.0         NaN             NaN
277431       100.0         NaN             NaN

[277432 rows x 8 columns]
          time     value       counter
4         0.02  11496188  instructions
8         0.03  18902416  instructions
12        0.04  17298423  instructions
16        0.05  18536702  instructions
20        0.06  19617496  instructions
...        ...       ...           ...
277412  731.49  11839622  instructions
277416  731.50  18855408  instructions
277420  731.52  12387768  instructions
277424  731.53  21792449  instructions
277428  731.53  19097383  instructions

[69357 rows x 3 columns]
instructions
          time instructions
4         0.02     11496188
8         0.03     18902416
12        0.04     17298423
16        0.05     18536702
20        0.06     19617496
...        ...          ...
277412  731.49     11839622
277416  731.50     18855408
277420  731.52     12387768
277424  731.53     21792449
277428  731.53     19097383

[69357 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   16630118
5         0.02   14511305
9         0.03   14567902
13        0.04   14785017
17        0.05   14852564
...        ...        ...
277413  731.49   14786269
277417  731.50   14902752
277421  731.52   16708678
277425  731.53   15042650
277429  731.53   11061370

[69358 rows x 2 columns]
df4
          time  br_pred
2         0.01  1751383
6         0.02  2303335
10        0.03  4331515
14        0.04  3900063
18        0.05  4201914
...        ...      ...
277414  731.49  2604270
277418  731.50  4253128
277422  731.52  3249047
277426  731.53  4611721
277430  731.53  2768444

[69358 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       69984
7         0.02       99794
11        0.03      173525
15        0.04      164994
19        0.05      169456
...        ...         ...
277415  731.49       53287
277419  731.50       29285
277423  731.52       64110
277427  731.53       75472
277431  731.53        6068

[69358 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     11496188   14511305
1        0.03     18902416   14567902
2        0.04     17298423   14785017
3        0.05     18536702   14852564
4        0.06     19617496   14861303
...       ...          ...        ...
69354  731.52     12387768   16708678
69355  731.53     21792449   15042650
69356  731.53     21792449   11061370
69357  731.53     19097383   15042650
69358  731.53     19097383   11061370

[69359 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1751383       69984
1        0.02  2303335       99794
2        0.03  4331515      173525
3        0.04  3900063      164994
4        0.05  4201914      169456
...       ...      ...         ...
69355  731.52  3249047       64110
69356  731.53  4611721       75472
69357  731.53  4611721        6068
69358  731.53  2768444       75472
69359  731.53  2768444        6068

[69360 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010263   7736469         NaN  instructions     9044000
1         0.010263   1494587         NaN  l1d_cache_rd     9044000
2         0.010263    923660         NaN  l1d_cache_wr     9044000
3         0.010263   2418247         NaN     l1d_cache     9044000
4         0.020947  10884306         NaN  instructions     9862680
...            ...       ...         ...           ...         ...
276851  730.734841   8480988         NaN     l1d_cache    11401600
276852  730.736721   3194955         NaN  instructions     1442400
276853  730.736721    576345         NaN  l1d_cache_rd     1442400
276854  730.736721    348671         NaN  l1d_cache_wr     1442400
276855  730.736721    925016         NaN     l1d_cache     1442400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
276851       100.0         NaN         NaN
276852       100.0         NaN         NaN
276853       100.0         NaN         NaN
276854       100.0         NaN         NaN
276855       100.0         NaN         NaN

[276856 rows x 8 columns]
          time     value       counter
4         0.02  10884306  instructions
8         0.03  18560598  instructions
12        0.04  17539295  instructions
16        0.05  18975038  instructions
20        0.06  20419080  instructions
...        ...       ...           ...
276836  730.70  18002209  instructions
276840  730.71  12115838  instructions
276844  730.72  14811841  instructions
276848  730.73  29527941  instructions
276852  730.74   3194955  instructions

[69213 rows x 3 columns]
instructions
          time instructions
4         0.02     10884306
8         0.03     18560598
12        0.04     17539295
16        0.05     18975038
20        0.06     20419080
...        ...          ...
276836  730.70     18002209
276840  730.71     12115838
276844  730.72     14811841
276848  730.73     29527941
276852  730.74      3194955

[69213 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1494587
5         0.02      2198242
9         0.03      4456638
13        0.04      4233040
17        0.05      4666975
...        ...          ...
276837  730.70      4122394
276841  730.71      2592186
276845  730.72      2602821
276849  730.73      5355221
276853  730.74       576345

[69214 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01       923660
6         0.02      1350686
10        0.03      2574168
14        0.04      2483963
18        0.05      2661676
...        ...          ...
276838  730.70      2162448
276842  730.71      1312693
276846  730.72       703736
276850  730.73      3125767
276854  730.74       348671

[69214 rows x 2 columns]
df5
          time l1d_cache
3         0.01   2418247
7         0.02   3548928
11        0.03   7030806
15        0.04   6717003
19        0.05   7328651
...        ...       ...
276839  730.70   6284842
276843  730.71   3904879
276847  730.72   3306557
276851  730.73   8480988
276855  730.74    925016

[69214 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     10884306      2198242
1        0.03     18560598      4456638
2        0.04     17539295      4233040
3        0.05     18975038      4666975
4        0.06     20419080      4967554
...       ...          ...          ...
69208  730.70     18002209      4122394
69209  730.71     12115838      2592186
69210  730.72     14811841      2602821
69211  730.73     29527941      5355221
69212  730.74      3194955       576345

[69213 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01       923660   2418247
1        0.02      1350686   3548928
2        0.03      2574168   7030806
3        0.04      2483963   6717003
4        0.05      2661676   7328651
...       ...          ...       ...
69209  730.70      2162448   6284842
69210  730.71      1312693   3904879
69211  730.72       703736   3306557
69212  730.73      3125767   8480988
69213  730.74       348671    925016

[69214 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010112   7869291         NaN      instructions     8877080
1         0.010112   2847191         NaN         l1i_cache     8877080
2         0.010112    190187         NaN  l1i_cache_refill     8877080
3         0.010112     57953         NaN     remote_access     8877080
4         0.022282  13309072         NaN      instructions    11418480
...            ...       ...         ...               ...         ...
277787  731.466562      5066         NaN     remote_access    10030720
277788  731.476108  23622831         NaN      instructions     9099040
277789  731.476108   6368486         NaN         l1i_cache     9099040
277790  731.476108      8810         NaN  l1i_cache_refill     9099040
277791  731.476108      5408         NaN     remote_access     9099040

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
277787       100.0         NaN         NaN
277788       100.0         NaN         NaN
277789       100.0         NaN         NaN
277790       100.0         NaN         NaN
277791       100.0         NaN         NaN

[277792 rows x 8 columns]
          time     value       counter
4         0.02  13309072  instructions
8         0.03  19197915  instructions
12        0.04  17801545  instructions
16        0.05  19068032  instructions
20        0.06  19615094  instructions
...        ...       ...           ...
277772  731.44  11932292  instructions
277776  731.45  18409629  instructions
277780  731.46  10610371  instructions
277784  731.47  19232830  instructions
277788  731.48  23622831  instructions

[69447 rows x 3 columns]
instructions
          time instructions
4         0.02     13309072
8         0.03     19197915
12        0.04     17801545
16        0.05     19068032
20        0.06     19615094
...        ...          ...
277772  731.44     11932292
277776  731.45     18409629
277780  731.46     10610371
277784  731.47     19232830
277788  731.48     23622831

[69447 rows x 2 columns]
df3
          time l1i_cache
1         0.01   2847191
5         0.02   5066702
9         0.03   7722401
13        0.04   7184803
17        0.05   7656388
...        ...       ...
277773  731.44   4372173
277777  731.45   5591214
277781  731.46   3701537
277785  731.47   6523330
277789  731.48   6368486

[69448 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           190187
6         0.02           311793
10        0.03           384677
14        0.04           439235
18        0.05           443779
...        ...              ...
277774  731.44           199999
277778  731.45            90735
277782  731.46            21763
277786  731.47            11114
277790  731.48             8810

[69448 rows x 2 columns]
df5
          time remote_access
3         0.01         57953
7         0.02         54311
11        0.03         16709
15        0.04         19598
19        0.05         14800
...        ...           ...
277775  731.44         12918
277779  731.45          4971
277783  731.46          3645
277787  731.47          5066
277791  731.48          5408

[69448 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     13309072   5066702
1        0.03     19197915   7722401
2        0.04     17801545   7184803
3        0.05     19068032   7656388
4        0.06     19615094   7606464
...       ...          ...       ...
69442  731.44     11932292   4372173
69443  731.45     18409629   5591214
69444  731.46     10610371   3701537
69445  731.47     19232830   6523330
69446  731.48     23622831   6368486

[69447 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           190187         57953
1        0.02           311793         54311
2        0.03           384677         16709
3        0.04           439235         19598
4        0.05           443779         14800
...       ...              ...           ...
69443  731.44           199999         12918
69444  731.45            90735          4971
69445  731.46            21763          3645
69446  731.47            11114          5066
69447  731.48             8810          5408

[69448 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010106   8006426         NaN  instructions     8918080
1         0.010106    306188         NaN  l2d_cache_rd     8918080
2         0.010106    106018         NaN  l2d_cache_wr     8918080
3         0.010106    412206         NaN     l2d_cache     8918080
4         0.022777  15773289         NaN  instructions    12010880
...            ...       ...         ...           ...         ...
278367  733.147427    439942         NaN     l2d_cache    10305440
278368  733.150991   8183915         NaN  instructions     3229160
278369  733.150991     48925         NaN  l2d_cache_rd     3229160
278370  733.150991     41730         NaN  l2d_cache_wr     3229160
278371  733.150991     90655         NaN     l2d_cache     3229160

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
278367       100.0         NaN         NaN
278368       100.0         NaN         NaN
278369       100.0         NaN         NaN
278370       100.0         NaN         NaN
278371       100.0         NaN         NaN

[278372 rows x 8 columns]
          time     value       counter
4         0.02  15773289  instructions
8         0.03  18059752  instructions
12        0.04  16958344  instructions
16        0.05  18834569  instructions
20        0.06  19651093  instructions
...        ...       ...           ...
278352  733.12  17199586  instructions
278356  733.13  12634928  instructions
278360  733.14  13729222  instructions
278364  733.15  26292611  instructions
278368  733.15   8183915  instructions

[69592 rows x 3 columns]
instructions
          time instructions
4         0.02     15773289
8         0.03     18059752
12        0.04     16958344
16        0.05     18834569
20        0.06     19651093
...        ...          ...
278352  733.12     17199586
278356  733.13     12634928
278360  733.14     13729222
278364  733.15     26292611
278368  733.15      8183915

[69592 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       306188
5         0.02       459238
9         0.03       515077
13        0.04       538315
17        0.05       548128
...        ...          ...
278353  733.12       293120
278357  733.13       309055
278361  733.14       515046
278365  733.15       226958
278369  733.15        48925

[69593 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       106018
6         0.02       142096
10        0.03       116998
14        0.04       113472
18        0.05       121142
...        ...          ...
278354  733.12       141873
278358  733.13       199864
278362  733.14       458973
278366  733.15       212984
278370  733.15        41730

[69593 rows x 2 columns]
df5
          time l2d_cache
3         0.01    412206
7         0.02    601334
11        0.03    632075
15        0.04    651787
19        0.05    669270
...        ...       ...
278355  733.12    434993
278359  733.13    508919
278363  733.14    974019
278367  733.15    439942
278371  733.15     90655

[69593 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     15773289       459238
1        0.03     18059752       515077
2        0.04     16958344       538315
3        0.05     18834569       548128
4        0.06     19651093       465744
...       ...          ...          ...
69589  733.14     13729222       515046
69590  733.15     26292611       226958
69591  733.15     26292611        48925
69592  733.15      8183915       226958
69593  733.15      8183915        48925

[69594 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       106018    412206
1        0.02       142096    601334
2        0.03       116998    632075
3        0.04       113472    651787
4        0.05       121142    669270
...       ...          ...       ...
69590  733.14       458973    974019
69591  733.15       212984    439942
69592  733.15       212984     90655
69593  733.15        41730    439942
69594  733.15        41730     90655

[69595 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010116   9637796         NaN  instructions    11087000
1         0.010116   4060580         NaN       l1d_tlb    11087000
2         0.010116   2685575         NaN    l1d_tlb_rd    11087000
3         0.010116   1375005         NaN    l1d_tlb_wr    11087000
4         0.020581  13665833         NaN  instructions     9925880
...            ...       ...         ...           ...         ...
277723  732.817369   1995418         NaN    l1d_tlb_wr     9987400
277724  732.823501  14505320         NaN  instructions     5592440
277725  732.823501   5407072         NaN       l1d_tlb     5592440
277726  732.823501   3843356         NaN    l1d_tlb_rd     5592440
277727  732.823501   1563716         NaN    l1d_tlb_wr     5592440

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
277723       100.0         NaN         NaN
277724       100.0         NaN         NaN
277725       100.0         NaN         NaN
277726       100.0         NaN         NaN
277727       100.0         NaN         NaN

[277728 rows x 8 columns]
          time     value       counter
4         0.02  13665833  instructions
8         0.03  18096858  instructions
12        0.04  17388066  instructions
16        0.05  18829431  instructions
20        0.06  19629855  instructions
...        ...       ...           ...
277708  732.79  17128769  instructions
277712  732.80  17031233  instructions
277716  732.81  10775544  instructions
277720  732.82  24422164  instructions
277724  732.82  14505320  instructions

[69431 rows x 3 columns]
instructions
          time instructions
4         0.02     13665833
8         0.03     18096858
12        0.04     17388066
16        0.05     18829431
20        0.06     19629855
...        ...          ...
277708  732.79     17128769
277712  732.80     17031233
277716  732.81     10775544
277720  732.82     24422164
277724  732.82     14505320

[69431 rows x 2 columns]
df3
          time  l1d_tlb
1         0.01  4060580
5         0.02  5523407
9         0.03  7696951
13        0.04  7430586
17        0.05  8011727
...        ...      ...
277709  732.79  6934599
277713  732.80  5958938
277717  732.81  3703096
277721  732.82  7840108
277725  732.82  5407072

[69432 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2685575
6         0.02    3583664
10        0.03    4976497
14        0.04    4770292
18        0.05    5156214
...        ...        ...
277710  732.79    4547335
277714  732.80    4066913
277718  732.81    2731010
277722  732.82    5844690
277726  732.82    3843356

[69432 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1375005
7         0.02    1939743
11        0.03    2720454
15        0.04    2660294
19        0.05    2855513
...        ...        ...
277711  732.79    2387264
277715  732.80    1892025
277719  732.81     972086
277723  732.82    1995418
277727  732.82    1563716

[69432 rows x 2 columns]
df6
         time instructions  l1d_tlb
0        0.02     13665833  5523407
1        0.03     18096858  7696951
2        0.04     17388066  7430586
3        0.05     18829431  8011727
4        0.06     19629855  8299024
...       ...          ...      ...
69428  732.81     10775544  3703096
69429  732.82     24422164  7840108
69430  732.82     24422164  5407072
69431  732.82     14505320  7840108
69432  732.82     14505320  5407072

[69433 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2685575    1375005
1        0.02    3583664    1939743
2        0.03    4976497    2720454
3        0.04    4770292    2660294
4        0.05    5156214    2855513
...       ...        ...        ...
69429  732.81    2731010     972086
69430  732.82    5844690    1995418
69431  732.82    5844690    1563716
69432  732.82    3843356    1995418
69433  732.82    3843356    1563716

[69434 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010116   8044497         NaN  instructions     8893560
1         0.010116     14422         NaN     dtlb_walk     8893560
2         0.010116      1160         NaN     itlb_walk     8893560
3         0.010116   2673392         NaN       l1i_tlb     8893560
4         0.021834  13103410         NaN  instructions    10940960
...            ...       ...         ...           ...         ...
277995  732.537121   5485210         NaN       l1i_tlb    10035800
277996  732.546399  22461273         NaN  instructions     8835040
277997  732.546399      1359         NaN     dtlb_walk     8835040
277998  732.546399         3         NaN     itlb_walk     8835040
277999  732.546399   4334388         NaN       l1i_tlb     8835040

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
277995       100.0         NaN         NaN
277996       100.0         NaN         NaN
277997       100.0         NaN         NaN
277998       100.0         NaN         NaN
277999       100.0         NaN         NaN

[278000 rows x 8 columns]
          time     value       counter
4         0.02  13103410  instructions
8         0.03  19158036  instructions
12        0.04  17449726  instructions
16        0.05  18867543  instructions
20        0.06  20122071  instructions
...        ...       ...           ...
277980  732.51  11697045  instructions
277984  732.52  18788123  instructions
277988  732.53  10786523  instructions
277992  732.54  20216795  instructions
277996  732.55  22461273  instructions

[69499 rows x 3 columns]
instructions
          time instructions
4         0.02     13103410
8         0.03     19158036
12        0.04     17449726
16        0.05     18867543
20        0.06     20122071
...        ...          ...
277980  732.51     11697045
277984  732.52     18788123
277988  732.53     10786523
277992  732.54     20216795
277996  732.55     22461273

[69499 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     14422
5         0.02     12609
9         0.03      1962
13        0.04      2694
17        0.05      2382
...        ...       ...
277981  732.51     12831
277985  732.52     13194
277989  732.53     29279
277993  732.54     24219
277997  732.55      1359

[69500 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1160
6         0.02      1445
10        0.03       619
14        0.04       659
18        0.05       555
...        ...       ...
277982  732.51      1019
277986  732.52       990
277990  732.53       434
277994  732.54       243
277998  732.55         3

[69500 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  2673392
7         0.02  4421390
11        0.03  6409522
15        0.04  5962961
19        0.05  6298376
...        ...      ...
277983  732.51  3638390
277987  732.52  4687653
277991  732.53  3545300
277995  732.54  5485210
277999  732.55  4334388

[69500 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     13103410     12609
1        0.03     19158036      1962
2        0.04     17449726      2694
3        0.05     18867543      2382
4        0.06     20122071      3117
...       ...          ...       ...
69494  732.51     11697045     12831
69495  732.52     18788123     13194
69496  732.53     10786523     29279
69497  732.54     20216795     24219
69498  732.55     22461273      1359

[69499 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1160  2673392
1        0.02      1445  4421390
2        0.03       619  6409522
3        0.04       659  5962961
4        0.05       555  6298376
...       ...       ...      ...
69495  732.51      1019  3638390
69496  732.52       990  4687653
69497  732.53       434  3545300
69498  732.54       243  5485210
69499  732.55         3  4334388

[69500 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010126   9738096         NaN  instructions    10939680
1         0.010126     67034         NaN       l2d_tlb    10939680
2         0.010126     55343         NaN    l2d_tlb_rd    10939680
3         0.010126     11691         NaN    l2d_tlb_wr    10939680
4         0.020631  14157012         NaN  instructions     9961800
...            ...       ...         ...           ...         ...
278223  733.373897     21544         NaN    l2d_tlb_wr    10085800
278224  733.375234   1871680         NaN  instructions      906600
278225  733.375234      5215         NaN       l2d_tlb      906600
278226  733.375234      4310         NaN    l2d_tlb_rd      906600
278227  733.375234       905         NaN    l2d_tlb_wr      906600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
278223       100.0         NaN         NaN
278224       100.0         NaN         NaN
278225       100.0         NaN         NaN
278226       100.0         NaN         NaN
278227       100.0         NaN         NaN

[278228 rows x 8 columns]
          time     value       counter
4         0.02  14157012  instructions
8         0.03  18134799  instructions
12        0.04  16963738  instructions
16        0.05  18814678  instructions
20        0.06  19604940  instructions
...        ...       ...           ...
278208  733.34  20036432  instructions
278212  733.35  11015956  instructions
278216  733.36  16902219  instructions
278220  733.37  26698886  instructions
278224  733.38   1871680  instructions

[69556 rows x 3 columns]
instructions
          time instructions
4         0.02     14157012
8         0.03     18134799
12        0.04     16963738
16        0.05     18814678
20        0.06     19604940
...        ...          ...
278208  733.34     20036432
278212  733.35     11015956
278216  733.36     16902219
278220  733.37     26698886
278224  733.38      1871680

[69556 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   67034
5         0.02   99586
9         0.03  169609
13        0.04  162265
17        0.05  178437
...        ...     ...
278209  733.34  167010
278213  733.35  133757
278217  733.36   80584
278221  733.37   53416
278225  733.38    5215

[69557 rows x 2 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

df4
          time l2d_tlb_rd
2         0.01      55343
6         0.02      91174
10        0.03     161516
14        0.04     154200
18        0.05     169692
...        ...        ...
278210  733.34     154742
278214  733.35     124887
278218  733.36      77791
278222  733.37      31872
278226  733.38       4310

[69557 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      11691
7         0.02       8412
11        0.03       8093
15        0.04       8065
19        0.05       8745
...        ...        ...
278211  733.34      12268
278215  733.35       8870
278219  733.36       2793
278223  733.37      21544
278227  733.38        905

[69557 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     14157012   99586
1        0.03     18134799  169609
2        0.04     16963738  162265
3        0.05     18814678  178437
4        0.06     19604940  156183
...       ...          ...     ...
69551  733.34     20036432  167010
69552  733.35     11015956  133757
69553  733.36     16902219   80584
69554  733.37     26698886   53416
69555  733.38      1871680    5215

[69556 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      55343      11691
1        0.02      91174       8412
2        0.03     161516       8093
3        0.04     154200       8065
4        0.05     169692       8745
...       ...        ...        ...
69552  733.34     154742      12268
69553  733.35     124887       8870
69554  733.36      77791       2793
69555  733.37      31872      21544
69556  733.38       4310        905

[69557 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010106   8471718         NaN  instructions    10473240
1         0.010106        12         NaN      vfp_spec    10473240
2         0.010106  10213528         NaN     inst_spec    10473240
3         0.010106      5411         NaN      ase_spec    10473240
4         0.020603  10806168         NaN  instructions     9877240
...            ...       ...         ...           ...         ...
277847  732.776377         0         NaN      ase_spec    10115640
277848  732.785714  23170392         NaN  instructions     8887440
277849  732.785714         0         NaN      vfp_spec     8887440
277850  732.785714  23576296         NaN     inst_spec     8887440
277851  732.785714         0         NaN      ase_spec     8887440

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
277847       100.0         NaN         NaN
277848       100.0         NaN         NaN
277849       100.0         NaN         NaN
277850       100.0         NaN         NaN
277851       100.0         NaN         NaN

[277852 rows x 8 columns]
          time     value       counter
4         0.02  10806168  instructions
8         0.03  17799772  instructions
12        0.04  17305131  instructions
16        0.05  18507113  instructions
20        0.06  20941104  instructions
...        ...       ...           ...
277832  732.74   9888822  instructions
277836  732.75  18996194  instructions
277840  732.77  14830803  instructions
277844  732.78  19634278  instructions
277848  732.79  23170392  instructions

[69462 rows x 3 columns]
instructions
          time instructions
4         0.02     10806168
8         0.03     17799772
12        0.04     17305131
16        0.05     18507113
20        0.06     20941104
...        ...          ...
277832  732.74      9888822
277836  732.75     18996194
277840  732.77     14830803
277844  732.78     19634278
277848  732.79     23170392

[69462 rows x 2 columns]
df3
          time vfp_spec
1         0.01       12
5         0.02      287
9         0.03     2716
13        0.04     1234
17        0.05      783
...        ...      ...
277833  732.74      231
277837  732.75        0
277841  732.77        0
277845  732.78        0
277849  732.79        0

[69463 rows x 2 columns]
df4
          time inst_spec
2         0.01  10213528
6         0.02  13224335
10        0.03  22183765
14        0.04  21755934
18        0.05  23061796
...        ...       ...
277834  732.74  11664273
277838  732.75  20224993
277842  732.77  17281554
277846  732.78  23347025
277850  732.79  23576296

[69463 rows x 2 columns]
df5
          time ase_spec
3         0.01     5411
7         0.02    11336
11        0.03    27012
15        0.04    13496
19        0.05    11260
...        ...      ...
277835  732.74     1935
277839  732.75     1838
277843  732.77      778
277847  732.78        0
277851  732.79        0

[69463 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     10806168      287
1        0.03     17799772     2716
2        0.04     17305131     1234
3        0.05     18507113      783
4        0.06     20941104      464
...       ...          ...      ...
69457  732.74      9888822      231
69458  732.75     18996194        0
69459  732.77     14830803        0
69460  732.78     19634278        0
69461  732.79     23170392        0

[69462 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  10213528     5411
1        0.02  13224335    11336
2        0.03  22183765    27012
3        0.04  21755934    13496
4        0.05  23061796    11260
...       ...       ...      ...
69458  732.74  11664273     1935
69459  732.75  20224993     1838
69460  732.77  17281554      778
69461  732.78  23347025        0
69462  732.79  23576296        0

[69463 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010116   7986090         NaN      instructions     8896440
1         0.010116   4587239         NaN     stall_backend     8896440
2         0.010116   5685296         NaN    stall_frontend     8896440
3         0.010116    130213         NaN  ll_cache_miss_rd     8896440
4         0.021618  12411974         NaN      instructions    10863440
...            ...       ...         ...               ...         ...
277767  733.524929    102962         NaN  ll_cache_miss_rd    10085120
277768  733.527396   5035210         NaN      instructions     2128440
277769  733.527396   1429914         NaN     stall_backend     2128440
277770  733.527396    216245         NaN    stall_frontend     2128440
277771  733.527396     29412         NaN  ll_cache_miss_rd     2128440

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
277767       100.0         NaN         NaN
277768       100.0         NaN         NaN
277769       100.0         NaN         NaN
277770       100.0         NaN         NaN
277771       100.0         NaN         NaN

[277772 rows x 8 columns]
          time     value       counter
4         0.02  12411974  instructions
8         0.03  19007666  instructions
12        0.04  17295129  instructions
16        0.05  18230401  instructions
20        0.06  21156939  instructions
...        ...       ...           ...
277752  733.49  18464022  instructions
277756  733.50  11865824  instructions
277760  733.51  14934616  instructions
277764  733.52  26974021  instructions
277768  733.53   5035210  instructions

[69442 rows x 3 columns]
instructions
          time instructions
4         0.02     12411974
8         0.03     19007666
12        0.04     17295129
16        0.05     18230401
20        0.06     21156939
...        ...          ...
277752  733.49     18464022
277756  733.50     11865824
277760  733.51     14934616
277764  733.52     26974021
277768  733.53      5035210

[69442 rows x 2 columns]
df3
          time stall_backend
1         0.01       4587239
5         0.02       4999895
9         0.03       2352898
13        0.04       2388782
17        0.05       2320374
...        ...           ...
277753  733.49       7832801
277757  733.50       9755243
277761  733.51       8287240
277765  733.52       6839030
277769  733.53       1429914

[69443 rows x 2 columns]
df4
          time stall_frontend
2         0.01        5685296
6         0.02        6470883
10        0.03        5034276
14        0.04        5459229
18        0.05        5284587
...        ...            ...
277754  733.49        1263276
277758  733.50        1014066
277762  733.51         689449
277766  733.52         284948
277770  733.53         216245

[69443 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           130213
7         0.02           142008
11        0.03            88051
15        0.04            97078
19        0.05            98261
...        ...              ...
277755  733.49           126167
277759  733.50           203796
277763  733.51           693670
277767  733.52           102962
277771  733.53            29412

[69443 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     12411974       4999895
1        0.03     19007666       2352898
2        0.04     17295129       2388782
3        0.05     18230401       2320374
4        0.06     21156939       2682536
...       ...          ...           ...
69437  733.49     18464022       7832801
69438  733.50     11865824       9755243
69439  733.51     14934616       8287240
69440  733.52     26974021       6839030
69441  733.53      5035210       1429914

[69442 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        5685296           130213
1        0.02        6470883           142008
2        0.03        5034276            88051
3        0.04        5459229            97078
4        0.05        5284587            98261
...       ...            ...              ...
69438  733.49        1263276           126167
69439  733.50        1014066           203796
69440  733.51         689449           693670
69441  733.52         284948           102962
69442  733.53         216245            29412

[69443 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010101   8415480         NaN   instructions     9897640
1         0.010101   2639620         NaN     mem_access     9897640
2         0.010101   1625596         NaN  mem_access_rd     9897640
3         0.010101   1014024         NaN  mem_access_wr     9897640
4         0.020484  11307437         NaN   instructions     9892400
...            ...       ...         ...            ...         ...
278215  732.577964   1610381         NaN  mem_access_wr    10147440
278216  732.586185  19270646         NaN   instructions     7539720
278217  732.586185   5558943         NaN     mem_access     7539720
278218  732.586185   3500013         NaN  mem_access_rd     7539720
278219  732.586185   2058930         NaN  mem_access_wr     7539720

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
278215       100.0         NaN         NaN
278216       100.0         NaN         NaN
278217       100.0         NaN         NaN
278218       100.0         NaN         NaN
278219       100.0         NaN         NaN

[278220 rows x 8 columns]
          time     value       counter
4         0.02  11307437  instructions
8         0.03  18754191  instructions
12        0.04  17376011  instructions
16        0.05  19649177  instructions
20        0.06  19419827  instructions
...        ...       ...           ...
278200  732.55  14731552  instructions
278204  732.56  16926088  instructions
278208  732.57  10901723  instructions
278212  732.58  21677436  instructions
278216  732.59  19270646  instructions

[69554 rows x 3 columns]
instructions
          time instructions
4         0.02     11307437
8         0.03     18754191
12        0.04     17376011
16        0.05     19649177
20        0.06     19419827
...        ...          ...
278200  732.55     14731552
278204  732.56     16926088
278208  732.57     10901723
278212  732.58     21677436
278216  732.59     19270646

[69554 rows x 2 columns]
df3
          time mem_access
1         0.01    2639620
5         0.02    3760975
9         0.03    7124070
13        0.04    6684978
17        0.05    7601728
...        ...        ...
278201  732.55    5284256
278205  732.56    5871853
278209  732.57    3070927
278213  732.58    5318442
278217  732.59    5558943

[69555 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1625596
6         0.02       2332190
10        0.03       4520432
14        0.04       4218668
18        0.05       4833301
...        ...           ...
278202  732.55       3344668
278206  732.56       3883563
278210  732.57       2161629
278214  732.58       3708061
278218  732.59       3500013

[69555 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1014024
7         0.02       1428785
11        0.03       2603638
15        0.04       2466310
19        0.05       2768427
...        ...           ...
278203  732.55       1939588
278207  732.56       1988290
278211  732.57        909298
278215  732.58       1610381
278219  732.59       2058930

[69555 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     11307437    3760975
1        0.03     18754191    7124070
2        0.04     17376011    6684978
3        0.05     19649177    7601728
4        0.06     19419827    7444342
...       ...          ...        ...
69549  732.55     14731552    5284256
69550  732.56     16926088    5871853
69551  732.57     10901723    3070927
69552  732.58     21677436    5318442
69553  732.59     19270646    5558943

[69554 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1625596       1014024
1        0.02       2332190       1428785
2        0.03       4520432       2603638
3        0.04       4218668       2466310
4        0.05       4833301       2768427
...       ...           ...           ...
69550  732.55       3344668       1939588
69551  732.56       3883563       1988290
69552  732.57       2161629        909298
69553  732.58       3708061       1610381
69554  732.59       3500013       2058930

[69555 rows x 3 columns]
merged_df
         time instructions cpu-cycles  br_pred br_mis_pred l1d_cache_rd  \
0        0.02     11496188   14511305  2303335       99794      2198242
1        0.03     18902416   14567902  4331515      173525      4456638
2        0.04     17298423   14785017  3900063      164994      4233040
3        0.05     18536702   14852564  4201914      169456      4666975
4        0.06     19617496   14861303  4433172      146522      4967554
...       ...          ...        ...      ...         ...          ...
42837  730.69     26084637   14891021  5812144       72488      2267738
42838  730.70     25564317   14922325  5719227       78580      4122394
42839  730.71     26545891   14908236  5949898       75715      2592186
42840  730.72     27343315   14898143  6039351       68586      2602821
42841  730.73     24455016   14896495  5127415       72589      5355221

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ... l2d_tlb_wr  \
0          1350686   3548928   5066702           311793  ...       8412
1          2574168   7030806   7722401           384677  ...       8093
2          2483963   6717003   7184803           439235  ...       8065
3          2661676   7328651   7656388           443779  ...       8745
4          2873771   7841325   7606464           329173  ...       7663
...            ...       ...       ...              ...  ...        ...
42837      1464637   3732375   9508315           194099  ...      10526
42838      2162448   6284842   9695108           205873  ...      10109
42839      1312693   3904879  10056058           138720  ...       7253
42840       703736   3306557  10326886            88272  ...       7816
42841      3125767   8480988  10245201            84806  ...      11449

      vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0          287  13224335    11336       4999895        6470883
1         2716  22183765    27012       2352898        5034276
2         1234  21755934    13496       2388782        5459229
3          783  23061796    11260       2320374        5284587
4          464  25638055    15532       2682536        5447622
...        ...       ...      ...           ...            ...
42837     2802  34040360     5075       2073368        3654668
42838     2787  34358271     4721       2508266        4473472
42839     2776  34528944     4817       2334528        3828975
42840     2709  33291868     4724       2233069        3767993
42841     2823  34637481     4902       1921290        3881579

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               142008    3760975       2332190       1428785
1                88051    7124070       4520432       2603638
2                97078    6684978       4218668       2466310
3                98261    7601728       4833301       2768427
4               113515    7444342       4726584       2717758
...                ...        ...           ...           ...
42837            82200   12299844       8133030       4166814
42838            94490   10927310       7338736       3588574
42839            54586   11480442       7165678       4314764
42840            96076   10648839       7389499       3259340
42841            51274   14765347       9800141       4965206

[42842 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010103   9490359         NaN  instructions    10890160
1         0.010103  16129457         NaN    cpu-cycles    10890160
2         0.010103   1753158         NaN       br_pred    10890160
3         0.010103     71479         NaN   br_mis_pred    10890160
4         0.020693  12919016         NaN  instructions     9899440
...            ...       ...         ...           ...         ...
193443  506.195882     14830         NaN   br_mis_pred    10347720
193444  506.199342   7556555         NaN  instructions     3031160
193445  506.199342   4513528         NaN    cpu-cycles     3031160
193446  506.199342   1103558         NaN       br_pred     3031160
193447  506.199342      3688         NaN   br_mis_pred     3031160

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.59  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.88  insn per cycle
...            ...         ...             ...
193443       100.0         NaN             NaN
193444       100.0        1.67  insn per cycle
193445       100.0         NaN             NaN
193446       100.0         NaN             NaN
193447       100.0         NaN             NaN

[193448 rows x 8 columns]
          time     value       counter
4         0.02  12919016  instructions
8         0.03  18600905  instructions
12        0.04  17181860  instructions
16        0.05  18459866  instructions
20        0.06  19957888  instructions
...        ...       ...           ...
193428  506.16  17584894  instructions
193432  506.17  12280160  instructions
193436  506.19  14079177  instructions
193440  506.20  26177688  instructions
193444  506.20   7556555  instructions

[48361 rows x 3 columns]
instructions
          time instructions
4         0.02     12919016
8         0.03     18600905
12        0.04     17181860
16        0.05     18459866
20        0.06     19957888
...        ...          ...
193428  506.16     17584894
193432  506.17     12280160
193436  506.19     14079177
193440  506.20     26177688
193444  506.20      7556555

[48361 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   16129457
5         0.02   14738831
9         0.03   14670464
13        0.04   14795096
17        0.05   14865380
...        ...        ...
193429  506.16   14747902
193433  506.17   14965446
193437  506.19   14911071
193441  506.20   15443113
193445  506.20    4513528

[48362 rows x 2 columns]
df4
          time  br_pred
2         0.01  1753158
6         0.02  2597011
10        0.03  4262102
14        0.04  3858530
18        0.05  4179584
...        ...      ...
193430  506.16  3897186
193434  506.17  2928866
193438  506.19  4072929
193442  506.20  4060327
193446  506.20  1103558

[48362 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       71479
7         0.02      103776
11        0.03      180066
15        0.04      165117
19        0.05      170750
...        ...         ...
193431  506.16       27865
193435  506.17       38578
193439  506.19      105392
193443  506.20       14830
193447  506.20        3688

[48362 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     12919016   14738831
1        0.03     18600905   14670464
2        0.04     17181860   14795096
3        0.05     18459866   14865380
4        0.06     19957888   14953428
...       ...          ...        ...
48358  506.19     14079177   14911071
48359  506.20     26177688   15443113
48360  506.20     26177688    4513528
48361  506.20      7556555   15443113
48362  506.20      7556555    4513528

[48363 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1753158       71479
1        0.02  2597011      103776
2        0.03  4262102      180066
3        0.04  3858530      165117
4        0.05  4179584      170750
...       ...      ...         ...
48359  506.19  4072929      105392
48360  506.20  4060327       14830
48361  506.20  4060327        3688
48362  506.20  1103558       14830
48363  506.20  1103558        3688

[48364 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010101   8272381         NaN  instructions     9674960
1         0.010101   1602849         NaN  l1d_cache_rd     9674960
2         0.010101    995228         NaN  l1d_cache_wr     9674960
3         0.010101   2598077         NaN     l1d_cache     9674960
4         0.020596  10928502         NaN  instructions     9785160
...            ...       ...         ...           ...         ...
193587  506.879267   5396533         NaN     l1d_cache    10401840
193588  506.887131  19125270         NaN  instructions     7445600
193589  506.887131   3473973         NaN  l1d_cache_rd     7445600
193590  506.887131   2038196         NaN  l1d_cache_wr     7445600
193591  506.887131   5512169         NaN     l1d_cache     7445600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
193587       100.0         NaN         NaN
193588       100.0         NaN         NaN
193589       100.0         NaN         NaN
193590       100.0         NaN         NaN
193591       100.0         NaN         NaN

[193592 rows x 8 columns]
          time     value       counter
4         0.02  10928502  instructions
8         0.03  18615922  instructions
12        0.04  19076443  instructions
16        0.05  18771107  instructions
20        0.06  19587656  instructions
...        ...       ...           ...
193572  506.85  13429192  instructions
193576  506.86  18009610  instructions
193580  506.87  11145493  instructions
193584  506.88  21991040  instructions
193588  506.89  19125270  instructions

[48397 rows x 3 columns]
instructions
          time instructions
4         0.02     10928502
8         0.03     18615922
12        0.04     19076443
16        0.05     18771107
20        0.06     19587656
...        ...          ...
193572  506.85     13429192
193576  506.86     18009610
193580  506.87     11145493
193584  506.88     21991040
193588  506.89     19125270

[48397 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1602849
5         0.02      2229784
9         0.03      4469991
13        0.04      4652712
17        0.05      4610185
...        ...          ...
193573  506.85      3069499
193577  506.86      4104836
193581  506.87      2218909
193585  506.88      3781501
193589  506.89      3473973

[48398 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01       995228
6         0.02      1367489
10        0.03      2581781
14        0.04      2706218
18        0.05      2645639
...        ...          ...
193574  506.85      1818842
193578  506.86      2081275
193582  506.87       964009
193586  506.88      1615032
193590  506.89      2038196

[48398 rows x 2 columns]
df5
          time l1d_cache
3         0.01   2598077
7         0.02   3597273
11        0.03   7051772
15        0.04   7358930
19        0.05   7255824
...        ...       ...
193575  506.85   4888341
193579  506.86   6186111
193583  506.87   3182918
193587  506.88   5396533
193591  506.89   5512169

[48398 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     10928502      2229784
1        0.03     18615922      4469991
2        0.04     19076443      4652712
3        0.05     18771107      4610185
4        0.06     19587656      4765340
...       ...          ...          ...
48392  506.85     13429192      3069499
48393  506.86     18009610      4104836
48394  506.87     11145493      2218909
48395  506.88     21991040      3781501
48396  506.89     19125270      3473973

[48397 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01       995228   2598077
1        0.02      1367489   3597273
2        0.03      2581781   7051772
3        0.04      2706218   7358930
4        0.05      2645639   7255824
...       ...          ...       ...
48393  506.85      1818842   4888341
48394  506.86      2081275   6186111
48395  506.87       964009   3182918
48396  506.88      1615032   5396533
48397  506.89      2038196   5512169

[48398 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010155   7941016         NaN      instructions     8847920
1         0.010155   2872276         NaN         l1i_cache     8847920
2         0.010155    191652         NaN  l1i_cache_refill     8847920
3         0.010155     57807         NaN     remote_access     8847920
4         0.021400  12618229         NaN      instructions    10611680
...            ...       ...         ...               ...         ...
193331  506.369417      4841         NaN     remote_access    10029200
193332  506.379575  25525866         NaN      instructions     9735600
193333  506.379575   6841998         NaN         l1i_cache     9735600
193334  506.379575      8178         NaN  l1i_cache_refill     9735600
193335  506.379575      5048         NaN     remote_access     9735600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
193331       100.0         NaN         NaN
193332       100.0         NaN         NaN
193333       100.0         NaN         NaN
193334       100.0         NaN         NaN
193335       100.0         NaN         NaN

[193336 rows x 8 columns]
          time     value       counter
4         0.02  12618229  instructions
8         0.03  19269016  instructions
12        0.04  17324765  instructions
16        0.06  24461345  instructions
20        0.07  20431724  instructions
...        ...       ...           ...
193316  506.34  12731218  instructions
193320  506.35  18694845  instructions
193324  506.36  10111155  instructions
193328  506.37  18628565  instructions
193332  506.38  25525866  instructions

[48333 rows x 3 columns]
instructions
          time instructions
4         0.02     12618229
8         0.03     19269016
12        0.04     17324765
16        0.06     24461345
20        0.07     20431724
...        ...          ...
193316  506.34     12731218
193320  506.35     18694845
193324  506.36     10111155
193328  506.37     18628565
193332  506.38     25525866

[48333 rows x 2 columns]
df3
          time l1i_cache
1         0.01   2872276
5         0.02   4801060
9         0.03   7721349
13        0.04   7007819
17        0.06   9862221
...        ...       ...
193317  506.34   4739280
193321  506.35   5666591
193325  506.36   3552574
193329  506.37   6510993
193333  506.38   6841998

[48334 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           191652
6         0.02           294274
10        0.03           381284
14        0.04           426466
18        0.06           567796
...        ...              ...
193318  506.34           201232
193322  506.35           100211
193326  506.36            28085
193330  506.37            10687
193334  506.38             8178

[48334 rows x 2 columns]
df5
          time remote_access
3         0.01         57807
7         0.02         50494
11        0.03         17499
15        0.04         20910
19        0.06         25316
...        ...           ...
193319  506.34         14507
193323  506.35          5270
193327  506.36          3415
193331  506.37          4841
193335  506.38          5048

[48334 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     12618229   4801060
1        0.03     19269016   7721349
2        0.04     17324765   7007819
3        0.06     24461345   9862221
4        0.07     20431724   7944890
...       ...          ...       ...
48328  506.34     12731218   4739280
48329  506.35     18694845   5666591
48330  506.36     10111155   3552574
48331  506.37     18628565   6510993
48332  506.38     25525866   6841998

[48333 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           191652         57807
1        0.02           294274         50494
2        0.03           381284         17499
3        0.04           426466         20910
4        0.06           567796         25316
...       ...              ...           ...
48329  506.34           201232         14507
48330  506.35           100211          5270
48331  506.36            28085          3415
48332  506.37            10687          4841
48333  506.38             8178          5048

[48334 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010131   8500415         NaN  instructions    10408640
1         0.010131    333519         NaN  l2d_cache_rd    10408640
2         0.010131    113183         NaN  l2d_cache_wr    10408640
3         0.010131    446702         NaN     l2d_cache    10408640
4         0.020651  10756338         NaN  instructions     9854320
...            ...       ...         ...           ...         ...
193371  505.742955    955617         NaN     l2d_cache    11793400
193372  505.749421  15690631         NaN  instructions     6075400
193373  505.749421     77664         NaN  l2d_cache_rd     6075400
193374  505.749421     69063         NaN  l2d_cache_wr     6075400
193375  505.749421    146727         NaN     l2d_cache     6075400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
193371       100.0         NaN         NaN
193372       100.0         NaN         NaN
193373       100.0         NaN         NaN
193374       100.0         NaN         NaN
193375       100.0         NaN         NaN

[193376 rows x 8 columns]
          time     value       counter
4         0.02  10756338  instructions
8         0.03  18535017  instructions
12        0.04  16909800  instructions
16        0.05  17683315  instructions
20        0.06  21448797  instructions
...        ...       ...           ...
193356  505.71  12990721  instructions
193360  505.72  16908691  instructions
193364  505.73  11156418  instructions
193368  505.74  25529592  instructions
193372  505.75  15690631  instructions

[48343 rows x 3 columns]
instructions
          time instructions
4         0.02     10756338
8         0.03     18535017
12        0.04     16909800
16        0.05     17683315
20        0.06     21448797
...        ...          ...
193356  505.71     12990721
193360  505.72     16908691
193364  505.73     11156418
193368  505.74     25529592
193372  505.75     15690631

[48343 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       333519
5         0.02       361551
9         0.03       480142
13        0.04       540322
17        0.05       509224
...        ...          ...
193357  505.71       304615
193361  505.72       259317
193365  505.73       349363
193369  505.74       495617
193373  505.75        77664

[48344 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       113183
6         0.02       116397
10        0.03       115060
14        0.04       107269
18        0.05       117218
...        ...          ...
193358  505.71       117932
193362  505.72       159479
193366  505.73       288907
193370  505.74       460000
193374  505.75        69063

[48344 rows x 2 columns]
df5
          time l2d_cache
3         0.01    446702
7         0.02    477948
11        0.03    595202
15        0.04    647591
19        0.05    626442
...        ...       ...
193359  505.71    422547
193363  505.72    418796
193367  505.73    638270
193371  505.74    955617
193375  505.75    146727

[48344 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     10756338       361551
1        0.03     18535017       480142
2        0.04     16909800       540322
3        0.05     17683315       509224
4        0.06     21448797       535221
...       ...          ...          ...
48338  505.71     12990721       304615
48339  505.72     16908691       259317
48340  505.73     11156418       349363
48341  505.74     25529592       495617
48342  505.75     15690631        77664

[48343 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       113183    446702
1        0.02       116397    477948
2        0.03       115060    595202
3        0.04       107269    647591
4        0.05       117218    626442
...       ...          ...       ...
48339  505.71       117932    422547
48340  505.72       159479    418796
48341  505.73       288907    638270
48342  505.74       460000    955617
48343  505.75        69063    146727

[48344 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010123   8582342         NaN  instructions    10394320
1         0.010123   3598012         NaN       l1d_tlb    10394320
2         0.010123   2383810         NaN    l1d_tlb_rd    10394320
3         0.010123   1214202         NaN    l1d_tlb_wr    10394320
4         0.020621  10863711         NaN  instructions     9877800
...            ...       ...         ...           ...         ...
193359  505.511866   1550564         NaN    l1d_tlb_wr    10092200
193360  505.520248  20015702         NaN  instructions     7845040
193361  505.520248   7474923         NaN       l1d_tlb     7845040
193362  505.520248   5323015         NaN    l1d_tlb_rd     7845040
193363  505.520248   2151908         NaN    l1d_tlb_wr     7845040

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
193359       100.0         NaN         NaN
193360       100.0         NaN         NaN
193361       100.0         NaN         NaN
193362       100.0         NaN         NaN
193363       100.0         NaN         NaN

[193364 rows x 8 columns]
          time     value       counter
4         0.02  10863711  instructions
8         0.03  17967670  instructions
12        0.04  17392863  instructions
16        0.05  18746290  instructions
20        0.06  25584877  instructions
...        ...       ...           ...
193344  505.48  14119486  instructions
193348  505.49  17190526  instructions
193352  505.50  11067178  instructions
193356  505.51  21300401  instructions
193360  505.52  20015702  instructions

[48340 rows x 3 columns]
instructions
          time instructions
4         0.02     10863711
8         0.03     17967670
12        0.04     17392863
16        0.05     18746290
20        0.06     25584877
...        ...          ...
193344  505.48     14119486
193348  505.49     17190526
193352  505.50     11067178
193356  505.51     21300401
193360  505.52     20015702

[48340 rows x 2 columns]
df3
          time  l1d_tlb
1         0.01  3598012
5         0.02  4461268
9         0.03  7487477
13        0.04  7394824
17        0.05  7957311
...        ...      ...
193345  505.48  5563404
193349  505.49  6415222
193353  505.50  3816080
193357  505.51  6572844
193361  505.52  7474923

[48341 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2383810
6         0.02    2915708
10        0.03    4819939
14        0.04    4749834
18        0.05    5129672
...        ...        ...
193346  505.48    3650393
193350  505.49    4303151
193354  505.50    2756487
193358  505.51    5022280
193362  505.52    5323015

[48341 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1214202
7         0.02    1545560
11        0.03    2667538
15        0.04    2644990
19        0.05    2827639
...        ...        ...
193347  505.48    1913011
193351  505.49    2112071
193355  505.50    1059593
193359  505.51    1550564
193363  505.52    2151908

[48341 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.02     10863711   4461268
1        0.03     17967670   7487477
2        0.04     17392863   7394824
3        0.05     18746290   7957311
4        0.06     25584877  10831840
...       ...          ...       ...
48335  505.48     14119486   5563404
48336  505.49     17190526   6415222
48337  505.50     11067178   3816080
48338  505.51     21300401   6572844
48339  505.52     20015702   7474923

[48340 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2383810    1214202
1        0.02    2915708    1545560
2        0.03    4819939    2667538
3        0.04    4749834    2644990
4        0.05    5129672    2827639
...       ...        ...        ...
48336  505.48    3650393    1913011
48337  505.49    4303151    2112071
48338  505.50    2756487    1059593
48339  505.51    5022280    1550564
48340  505.52    5323015    2151908

[48341 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010113   9235497         NaN  instructions    11261680
1         0.010113     16432         NaN     dtlb_walk    11261680
2         0.010113      1399         NaN     itlb_walk    11261680
3         0.010113   3090475         NaN       l1i_tlb    11261680
4         0.020609  11115837         NaN  instructions     9903360
...            ...       ...         ...           ...         ...
193631  506.512141   5408444         NaN       l1i_tlb    10074280
193632  506.520935  21539537         NaN  instructions     8303120
193633  506.520935      1289         NaN     dtlb_walk     8303120
193634  506.520935         4         NaN     itlb_walk     8303120
193635  506.520935   4146793         NaN       l1i_tlb     8303120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
193631       100.0         NaN         NaN
193632       100.0         NaN         NaN
193633       100.0         NaN         NaN
193634       100.0         NaN         NaN
193635       100.0         NaN         NaN

[193636 rows x 8 columns]
          time     value       counter
4         0.02  11115837  instructions
8         0.03  17793717  instructions
12        0.04  17031407  instructions
16        0.05  18848317  instructions
20        0.06  19089216  instructions
...        ...       ...           ...
193616  506.48  11826483  instructions
193620  506.49  18493385  instructions
193624  506.50  11227573  instructions
193628  506.51  20122623  instructions
193632  506.52  21539537  instructions

[48408 rows x 3 columns]
instructions
          time instructions
4         0.02     11115837
8         0.03     17793717
12        0.04     17031407
16        0.05     18848317
20        0.06     19089216
...        ...          ...
193616  506.48     11826483
193620  506.49     18493385
193624  506.50     11227573
193628  506.51     20122623
193632  506.52     21539537

[48408 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     16432
5         0.02      9781
9         0.03      2058
13        0.04      2325
17        0.05      2313
...        ...       ...
193617  506.48     13375
193621  506.49     13504
193625  506.50     29037
193629  506.51     23011
193633  506.52      1289

[48409 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1399
6         0.02      1175
10        0.03       654
14        0.04       630
18        0.05       586
...        ...       ...
193618  506.48      1327
193622  506.49       906
193626  506.50       235
193630  506.51       218
193634  506.52         4

[48409 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  3090475
7         0.02  3749748
11        0.03  5945992
15        0.04  5819414
19        0.05  6256502
...        ...      ...
193619  506.48  3665060
193623  506.49  4610157
193627  506.50  3595053
193631  506.51  5408444
193635  506.52  4146793

[48409 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     11115837      9781
1        0.03     17793717      2058
2        0.04     17031407      2325
3        0.05     18848317      2313
4        0.06     19089216      3135
...       ...          ...       ...
48403  506.48     11826483     13375
48404  506.49     18493385     13504
48405  506.50     11227573     29037
48406  506.51     20122623     23011
48407  506.52     21539537      1289

[48408 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1399  3090475
1        0.02      1175  3749748
2        0.03       654  5945992
3        0.04       630  5819414
4        0.05       586  6256502
...       ...       ...      ...
48404  506.48      1327  3665060
48405  506.49       906  4610157
48406  506.50       235  3595053
48407  506.51       218  5408444
48408  506.52         4  4146793

[48409 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010139   8957232         NaN  instructions    11027080
1         0.010139     61497         NaN       l2d_tlb    11027080
2         0.010139     51353         NaN    l2d_tlb_rd    11027080
3         0.010139     10144         NaN    l2d_tlb_wr    11027080
4         0.020681  10300112         NaN  instructions     9786960
...            ...       ...         ...           ...         ...
193235  505.956642     16255         NaN    l2d_tlb_wr    10107200
193236  505.960216   7730759         NaN  instructions     3167320
193237  505.960216     18352         NaN       l2d_tlb     3167320
193238  505.960216     10876         NaN    l2d_tlb_rd     3167320
193239  505.960216      7476         NaN    l2d_tlb_wr     3167320

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
193235       100.0         NaN         NaN
193236       100.0         NaN         NaN
193237       100.0         NaN         NaN
193238       100.0         NaN         NaN
193239       100.0         NaN         NaN

[193240 rows x 8 columns]
          time     value       counter
4         0.02  10300112  instructions
8         0.03  18017374  instructions
12        0.04  16383567  instructions
16        0.05  17386839  instructions
20        0.06  19891000  instructions
...        ...       ...           ...
193220  505.93  17857481  instructions
193224  505.94  12301131  instructions
193228  505.95  14367332  instructions
193232  505.96  25521204  instructions
193236  505.96   7730759  instructions

[48309 rows x 3 columns]
instructions
          time instructions
4         0.02     10300112
8         0.03     18017374
12        0.04     16383567
16        0.05     17386839
20        0.06     19891000
...        ...          ...
193220  505.93     17857481
193224  505.94     12301131
193228  505.95     14367332
193232  505.96     25521204
193236  505.96      7730759

[48309 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   61497
5         0.02   73998
9         0.03  152088
13        0.04  165465
17        0.05  160060
...        ...     ...
193221  505.93  148441
193225  505.94  135469
193229  505.95  102328
193233  505.96   51663
193237  505.96   18352

[48310 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      51353
6         0.02      65392
10        0.03     144418
14        0.04     157754
18        0.05     152124
...        ...        ...
193222  505.93     137208
193226  505.94     125954
193230  505.95      98002
193234  505.96      35408
193238  505.96      10876

[48310 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      10144
7         0.02       8606
11        0.03       7670
15        0.04       7711
19        0.05       7936
...        ...        ...
193223  505.93      11233
193227  505.94       9515
193231  505.95       4326
193235  505.96      16255
193239  505.96       7476

[48310 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     10300112   73998
1        0.03     18017374  152088
2        0.04     16383567  165465
3        0.05     17386839  160060
4        0.06     19891000  165779
...       ...          ...     ...
48306  505.95     14367332  102328
48307  505.96     25521204   51663
48308  505.96     25521204   18352
48309  505.96      7730759   51663
48310  505.96      7730759   18352

[48311 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      51353      10144
1        0.02      65392       8606
2        0.03     144418       7670
3        0.04     157754       7711
4        0.05     152124       7936
...       ...        ...        ...
48307  505.95      98002       4326
48308  505.96      35408      16255
48309  505.96      35408       7476
48310  505.96      10876      16255
48311  505.96      10876       7476

[48312 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010108   8652158         NaN  instructions    10247720
1         0.010108        12         NaN      vfp_spec    10247720
2         0.010108  10417988         NaN     inst_spec    10247720
3         0.010108      5673         NaN      ase_spec    10247720
4         0.020572  11441123         NaN  instructions     9865840
...            ...       ...         ...           ...         ...
193199  505.749929         0         NaN      ase_spec    10402520
193200  505.752765   5909623         NaN  instructions     2451720
193201  505.752765         0         NaN      vfp_spec     2451720
193202  505.752765   6116306         NaN     inst_spec     2451720
193203  505.752765         0         NaN      ase_spec     2451720

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
193199       100.0         NaN         NaN
193200       100.0         NaN         NaN
193201       100.0         NaN         NaN
193202       100.0         NaN         NaN
193203       100.0         NaN         NaN

[193204 rows x 8 columns]
          time     value       counter
4         0.02  11441123  instructions
8         0.03  18610203  instructions
12        0.04  17613617  instructions
16        0.05  18650479  instructions
20        0.06  19431641  instructions
...        ...       ...           ...
193184  505.72  17282105  instructions
193188  505.73  13262132  instructions
193192  505.74  14937736  instructions
193196  505.75  26621123  instructions
193200  505.75   5909623  instructions

[48300 rows x 3 columns]
instructions
          time instructions
4         0.02     11441123
8         0.03     18610203
12        0.04     17613617
16        0.05     18650479
20        0.06     19431641
...        ...          ...
193184  505.72     17282105
193188  505.73     13262132
193192  505.74     14937736
193196  505.75     26621123
193200  505.75      5909623

[48300 rows x 2 columns]
df3
          time vfp_spec
1         0.01       12
5         0.02      281
9         0.03     2980
13        0.04     1023
17        0.05      709
...        ...      ...
193185  505.72        0
193189  505.73        0
193193  505.74        0
193197  505.75        2
193201  505.75        0

[48301 rows x 2 columns]
df4
          time inst_spec
2         0.01  10417988
6         0.02  14061082
10        0.03  23228655
14        0.04  22193828
18        0.05  23217392
...        ...       ...
193186  505.72  18529320
193190  505.73  14879773
193194  505.74  19406503
193198  505.75  26971190
193202  505.75   6116306

[48301 rows x 2 columns]
df5
          time ase_spec
3         0.01     5673
7         0.02    11659
11        0.03    27485
15        0.04    13242
19        0.05    12004
...        ...      ...
193187  505.72     2251
193191  505.73      751
193195  505.74        0
193199  505.75        0
193203  505.75        0

[48301 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     11441123      281
1        0.03     18610203     2980
2        0.04     17613617     1023
3        0.05     18650479      709
4        0.06     19431641      388
...       ...          ...      ...
48297  505.74     14937736        0
48298  505.75     26621123        2
48299  505.75     26621123        0
48300  505.75      5909623        2
48301  505.75      5909623        0

[48302 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  10417988     5673
1        0.02  14061082    11659
2        0.03  23228655    27485
3        0.04  22193828    13242
4        0.05  23217392    12004
...       ...       ...      ...
48298  505.74  19406503        0
48299  505.75  26971190        0
48300  505.75  26971190        0
48301  505.75   6116306        0
48302  505.75   6116306        0

[48303 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010099   8369002         NaN      instructions     9672640
1         0.010099   4977340         NaN     stall_backend     9672640
2         0.010099   6314026         NaN    stall_frontend     9672640
3         0.010099    144963         NaN  ll_cache_miss_rd     9672640
4         0.020528  10686483         NaN      instructions     9732000
...            ...       ...         ...               ...         ...
193535  505.928007    564723         NaN  ll_cache_miss_rd    11065600
193536  505.935827  18779379         NaN      instructions     7388080
193537  505.935827   4980638         NaN     stall_backend     7388080
193538  505.935827    463914         NaN    stall_frontend     7388080
193539  505.935827     82289         NaN  ll_cache_miss_rd     7388080

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
193535       100.0         NaN         NaN
193536       100.0         NaN         NaN
193537       100.0         NaN         NaN
193538       100.0         NaN         NaN
193539       100.0         NaN         NaN

[193540 rows x 8 columns]
          time     value       counter
4         0.02  10686483  instructions
8         0.03  18563201  instructions
12        0.04  21042479  instructions
16        0.05  17923593  instructions
20        0.06  19477547  instructions
...        ...       ...           ...
193520  505.90  12565615  instructions
193524  505.91  18124636  instructions
193528  505.92  11453222  instructions
193532  505.93  22997504  instructions
193536  505.94  18779379  instructions

[48384 rows x 3 columns]
instructions
          time instructions
4         0.02     10686483
8         0.03     18563201
12        0.04     21042479
16        0.05     17923593
20        0.06     19477547
...        ...          ...
193520  505.90     12565615
193524  505.91     18124636
193528  505.92     11453222
193532  505.93     22997504
193536  505.94     18779379

[48384 rows x 2 columns]
df3
          time stall_backend
1         0.01       4977340
5         0.02       4463150
9         0.03       2340221
13        0.04       2749638
17        0.05       2297188
...        ...           ...
193521  505.90       8304333
193525  505.91       7769872
193529  505.92      10042402
193533  505.93       7886058
193537  505.94       4980638

[48385 rows x 2 columns]
df4
          time stall_frontend
2         0.01        6314026
6         0.02        6006455
10        0.03        5152516
14        0.04        6608458
18        0.05        5359894
...        ...            ...
193522  505.90        2975065
193526  505.91        1149387
193530  505.92         714654
193534  505.93         706017
193538  505.94         463914

[48385 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           144963
7         0.02           132524
11        0.03            94231
15        0.04           111697
19        0.05            98951
...        ...              ...
193523  505.90            87586
193527  505.91           156735
193531  505.92           333806
193535  505.93           564723
193539  505.94            82289

[48385 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     10686483       4463150
1        0.03     18563201       2340221
2        0.04     21042479       2749638
3        0.05     17923593       2297188
4        0.06     19477547       2430167
...       ...          ...           ...
48379  505.90     12565615       8304333
48380  505.91     18124636       7769872
48381  505.92     11453222      10042402
48382  505.93     22997504       7886058
48383  505.94     18779379       4980638

[48384 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        6314026           144963
1        0.02        6006455           132524
2        0.03        5152516            94231
3        0.04        6608458           111697
4        0.05        5359894            98951
...       ...            ...              ...
48380  505.90        2975065            87586
48381  505.91        1149387           156735
48382  505.92         714654           333806
48383  505.93         706017           564723
48384  505.94         463914            82289

[48385 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010152   8022051         NaN   instructions     9807080
1         0.010152   2509587         NaN     mem_access     9807080
2         0.010152   1548122         NaN  mem_access_rd     9807080
3         0.010152    961465         NaN  mem_access_wr     9807080
4         0.020642  10108534         NaN   instructions     9783280
...            ...       ...         ...            ...         ...
193207  505.498159   2831475         NaN  mem_access_wr    10005600
193208  505.499134   1137479         NaN   instructions      655560
193209  505.499134    335337         NaN     mem_access      655560
193210  505.499134    207631         NaN  mem_access_rd      655560
193211  505.499134    127706         NaN  mem_access_wr      655560

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
193207       100.0         NaN         NaN
193208       100.0         NaN         NaN
193209       100.0         NaN         NaN
193210       100.0         NaN         NaN
193211       100.0         NaN         NaN

[193212 rows x 8 columns]
          time     value       counter
4         0.02  10108534  instructions
8         0.03  18491567  instructions
12        0.04  20091547  instructions
16        0.05  18526311  instructions
20        0.06  19335504  instructions
...        ...       ...           ...
193192  505.47  15924125  instructions
193196  505.48  13931808  instructions
193200  505.49  17359174  instructions
193204  505.50  26626163  instructions
193208  505.50   1137479  instructions

[48302 rows x 3 columns]
instructions
          time instructions
4         0.02     10108534
8         0.03     18491567
12        0.04     20091547
16        0.05     18526311
20        0.06     19335504
...        ...          ...
193192  505.47     15924125
193196  505.48     13931808
193200  505.49     17359174
193204  505.50     26626163
193208  505.50      1137479

[48302 rows x 2 columns]
df3
          time mem_access
1         0.01    2509587
5         0.02    3280250
9         0.03    7021822
13        0.04    7745334
17        0.05    7148374
...        ...        ...
193193  505.47    5492467
193197  505.48    4551268
193201  505.49    3996586
193205  505.50    7644959
193209  505.50     335337

[48303 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1548122
6         0.02       2022937
10        0.03       4457037
14        0.04       4893601
18        0.05       4539109
...        ...           ...
193194  505.47       3627864
193198  505.48       3035317
193202  505.49       3004616
193206  505.50       4813484
193210  505.50        207631

[48303 rows x 2 columns]
df5
          time mem_access_wr
3         0.01        961465
7         0.02       1257313
11        0.03       2564785
15        0.04       2851733
19        0.05       2609265
...        ...           ...
193195  505.47       1864603
193199  505.48       1515951
193203  505.49        991970
193207  505.50       2831475
193211  505.50        127706

[48303 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     10108534    3280250
1        0.03     18491567    7021822
2        0.04     20091547    7745334
3        0.05     18526311    7148374
4        0.06     19335504    7409545
...       ...          ...        ...
48299  505.49     17359174    3996586
48300  505.50     26626163    7644959
48301  505.50     26626163     335337
48302  505.50      1137479    7644959
48303  505.50      1137479     335337

[48304 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1548122        961465
1        0.02       2022937       1257313
2        0.03       4457037       2564785
3        0.04       4893601       2851733
4        0.05       4539109       2609265
...       ...           ...           ...
48300  505.49       3004616        991970
48301  505.50       4813484       2831475
48302  505.50       4813484        127706
48303  505.50        207631       2831475
48304  505.50        207631        127706

[48305 rows x 3 columns]
merged_df
         time instructions cpu-cycles  br_pred br_mis_pred l1d_cache_rd  \
0        0.02     12919016   14738831  2597011      103776      2229784
1        0.03     18600905   14670464  4262102      180066      4469991
2        0.04     17181860   14795096  3858530      165117      4652712
3        0.06     19957888   14953428  4505963      150229      4765340
4        0.09     28627113   17126443  7155437      171360      5393930
...       ...          ...        ...      ...         ...          ...
32045  505.41     34131371   17818004  7121260       88606      7553966
32046  505.43     27428489   14921688  5678737       42674      7652854
32047  505.47     32451873   14932176  7197257       58705      7679397
32048  505.48     27709432   14901664  6262877       80422      7180109
32049  505.49     35088865   16182134  7866345       51565      7923584

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ...     l2d_tlb_wr  \
0          1367489   3597273   4801060           294274  ...           8606
1          2581781   7051772   7721349           381284  ...           7670
2          2706218   7358930   7007819           426466  ...           7711
3          2739390   7504730   9862221           567796  ...           8074
4          2284872   7678802   9550191           282872  ...           7297
...            ...       ...       ...              ...  ...            ...
32045      4302927  11856893  10703908            91875  ...          18858
32046      4354008  12006862   9199887           139251  ...  <not counted>
32047      4345695  12025092  10528327           117004  ...  <not counted>
32048      4003018  11183127  11839395           208214  ...  <not counted>
32049      4497925  12421509   9237998           142181  ...            444

            vfp_spec      inst_spec       ase_spec  stall_backend  \
0                281       14061082          11659        4463150
1               2980       23228655          27485        2340221
2               1023       22193828          13242        2749638
3                388       23755116          13862        2430167
4                178       45204946          22553        2183616
...              ...            ...            ...            ...
32045  <not counted>  <not counted>  <not counted>         399848
32046             22         186032             25  <not counted>
32047             12       10397438             99  <not counted>
32048            191       12388332            622  <not counted>
32049              0       21100124              0         229099

      stall_frontend ll_cache_miss_rd     mem_access  mem_access_rd  \
0            6006455           132524        3280250        2022937
1            5152516            94231        7021822        4457037
2            6608458           111697        7745334        4893601
3            5076364           109138        7409545        4702968
4            3625047            55056        7850192        5592584
...              ...              ...            ...            ...
32045         346370            12655          56765          36705
32046  <not counted>    <not counted>  <not counted>  <not counted>
32047  <not counted>    <not counted>        5492467        3627864
32048  <not counted>    <not counted>        4551268        3035317
32049         222700             7908        3996586        3004616

       mem_access_wr
0            1257313
1            2564785
2            2851733
3            2706577
4            2257608
...              ...
32045          20060
32046  <not counted>
32047        1864603
32048        1515951
32049         991970

[32050 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010111   9058572         NaN  instructions    10656680
1         0.010111  15825260         NaN    cpu-cycles    10656680
2         0.010111   1667935         NaN       br_pred    10656680
3         0.010111     67521         NaN   br_mis_pred    10656680
4         0.020626  11223372         NaN  instructions     9768520
...            ...       ...         ...           ...         ...
323735  855.637049     60881         NaN   br_mis_pred     9856080
323736  855.644356  17450868         NaN  instructions     6908200
323737  855.644356  10302782         NaN    cpu-cycles     6908200
323738  855.644356   2524043         NaN       br_pred     6908200
323739  855.644356      4960         NaN   br_mis_pred     6908200

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.57  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.77  insn per cycle
...            ...         ...             ...
323735       100.0         NaN             NaN
323736       100.0        1.69  insn per cycle
323737       100.0         NaN             NaN
323738       100.0         NaN             NaN
323739       100.0         NaN             NaN

[323740 rows x 8 columns]
          time     value       counter
4         0.02  11223372  instructions
8         0.03  19028652  instructions
12        0.04  17374090  instructions
16        0.05  18340981  instructions
20        0.06  19573825  instructions
...        ...       ...           ...
323720  855.61  13652457  instructions
323724  855.62  17142847  instructions
323728  855.63  10782154  instructions
323732  855.64  22590758  instructions
323736  855.64  17450868  instructions

[80934 rows x 3 columns]
instructions
          time instructions
4         0.02     11223372
8         0.03     19028652
12        0.04     17374090
16        0.05     18340981
20        0.06     19573825
...        ...          ...
323720  855.61     13652457
323724  855.62     17142847
323728  855.63     10782154
323732  855.64     22590758
323736  855.64     17450868

[80934 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   15825260
5         0.02   14549435
9         0.03   14812939
13        0.04   14785045
17        0.05   14675815
...        ...        ...
323721  855.61   14759890
323725  855.62   14937381
323729  855.63   14888944
323733  855.64   14685100
323737  855.64   10302782

[80935 rows x 2 columns]
df4
          time  br_pred
2         0.01  1667935
6         0.02  2230239
10        0.03  4346206
14        0.04  3912988
18        0.05  4156315
...        ...      ...
323722  855.61  3095945
323726  855.62  3925619
323730  855.63  2922526
323734  855.64  4506251
323738  855.64  2524043

[80935 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       67521
7         0.02       97949
11        0.03      173514
15        0.04      166961
19        0.05      165812
...        ...         ...
323723  855.61       46534
323727  855.62       26149
323731  855.63       68425
323735  855.64       60881
323739  855.64        4960

[80935 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     11223372   14549435
1        0.03     19028652   14812939
2        0.04     17374090   14785045
3        0.05     18340981   14675815
4        0.06     19573825   14820297
...       ...          ...        ...
80931  855.63     10782154   14888944
80932  855.64     22590758   14685100
80933  855.64     22590758   10302782
80934  855.64     17450868   14685100
80935  855.64     17450868   10302782

[80936 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1667935       67521
1        0.02  2230239       97949
2        0.03  4346206      173514
3        0.04  3912988      166961
4        0.05  4156315      165812
...       ...      ...         ...
80932  855.63  2922526       68425
80933  855.64  4506251       60881
80934  855.64  4506251        4960
80935  855.64  2524043       60881
80936  855.64  2524043        4960

[80937 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010132   9633613         NaN  instructions    11073080
1         0.010132   1849589         NaN  l1d_cache_rd    11073080
2         0.010132   1151104         NaN  l1d_cache_wr    11073080
3         0.010132   3000693         NaN     l1d_cache    11073080
4         0.020562  14019754         NaN  instructions     9925640
...            ...       ...         ...           ...         ...
323727  854.208977   6793470         NaN     l1d_cache    10128480
323728  854.213442  10450458         NaN  instructions     4031880
323729  854.213442   1881269         NaN  l1d_cache_rd     4031880
323730  854.213442   1119591         NaN  l1d_cache_wr     4031880
323731  854.213442   3000860         NaN     l1d_cache     4031880

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
323727       100.0         NaN         NaN
323728       100.0         NaN         NaN
323729       100.0         NaN         NaN
323730       100.0         NaN         NaN
323731       100.0         NaN         NaN

[323732 rows x 8 columns]
          time     value       counter
4         0.02  14019754  instructions
8         0.03  18148617  instructions
12        0.04  16774510  instructions
16        0.05  18719157  instructions
20        0.06  19845534  instructions
...        ...       ...           ...
323712  854.18  17172848  instructions
323716  854.19  13118050  instructions
323720  854.20  13006305  instructions
323724  854.21  24948693  instructions
323728  854.21  10450458  instructions

[80932 rows x 3 columns]
instructions
          time instructions
4         0.02     14019754
8         0.03     18148617
12        0.04     16774510
16        0.05     18719157
20        0.06     19845534
...        ...          ...
323712  854.18     17172848
323716  854.19     13118050
323720  854.20     13006305
323724  854.21     24948693
323728  854.21     10450458

[80932 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1849589
5         0.02      2994391
9         0.03      4453857
13        0.04      4060295
17        0.05      4604156
...        ...          ...
323713  854.18      3920186
323717  854.19      2815684
323721  854.20      2429998
323725  854.21      4443787
323729  854.21      1881269

[80933 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1151104
6         0.02      1796156
10        0.03      2556371
14        0.04      2388275
18        0.05      2640914
...        ...          ...
323714  854.18      2077425
323718  854.19      1427220
323722  854.20       819689
323726  854.21      2349683
323730  854.21      1119591

[80933 rows x 2 columns]
df5
          time l1d_cache
3         0.01   3000693
7         0.02   4790547
11        0.03   7010228
15        0.04   6448570
19        0.05   7245070
...        ...       ...
323715  854.18   5997611
323719  854.19   4242904
323723  854.20   3249687
323727  854.21   6793470
323731  854.21   3000860

[80933 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     14019754      2994391
1        0.03     18148617      4453857
2        0.04     16774510      4060295
3        0.05     18719157      4604156
4        0.06     19845534      4816451
...       ...          ...          ...
80929  854.20     13006305      2429998
80930  854.21     24948693      4443787
80931  854.21     24948693      1881269
80932  854.21     10450458      4443787
80933  854.21     10450458      1881269

[80934 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      1151104   3000693
1        0.02      1796156   4790547
2        0.03      2556371   7010228
3        0.04      2388275   6448570
4        0.05      2640914   7245070
...       ...          ...       ...
80930  854.20       819689   3249687
80931  854.21      2349683   6793470
80932  854.21      2349683   3000860
80933  854.21      1119591   6793470
80934  854.21      1119591   3000860

[80935 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010115   8565335         NaN      instructions    10527360
1         0.010115   3102583         NaN         l1i_cache    10527360
2         0.010115    211324         NaN  l1i_cache_refill    10527360
3         0.010115     75581         NaN     remote_access    10527360
4         0.020608  11202357         NaN      instructions     9853840
...            ...       ...         ...               ...         ...
323979  855.064146      5432         NaN     remote_access    10901680
323980  855.073069  21992520         NaN      instructions     8448120
323981  855.073069   5921947         NaN         l1i_cache     8448120
323982  855.073069      7543         NaN  l1i_cache_refill     8448120
323983  855.073069      4941         NaN     remote_access     8448120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
323979       100.0         NaN         NaN
323980       100.0         NaN         NaN
323981       100.0         NaN         NaN
323982       100.0         NaN         NaN
323983       100.0         NaN         NaN

[323984 rows x 8 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

          time     value       counter
4         0.02  11202357  instructions
8         0.03  17639523  instructions
12        0.04  17040679  instructions
16        0.05  18274303  instructions
20        0.06  19385011  instructions
...        ...       ...           ...
323964  855.03  11402018  instructions
323968  855.04  18226627  instructions
323972  855.05  10700488  instructions
323976  855.06  21622016  instructions
323980  855.07  21992520  instructions

[80995 rows x 3 columns]
instructions
          time instructions
4         0.02     11202357
8         0.03     17639523
12        0.04     17040679
16        0.05     18274303
20        0.06     19385011
...        ...          ...
323964  855.03     11402018
323968  855.04     18226627
323972  855.05     10700488
323976  855.06     21622016
323980  855.07     21992520

[80995 rows x 2 columns]
df3
          time l1i_cache
1         0.01   3102583
5         0.02   4260146
9         0.03   7047064
13        0.04   6922795
17        0.05   7362121
...        ...       ...
323965  855.03   4197900
323969  855.04   5556164
323973  855.05   3720750
323977  855.06   7226756
323981  855.07   5921947

[80996 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           211324
6         0.02           256348
10        0.03           354134
14        0.04           441749
18        0.05           397009
...        ...              ...
323966  855.03           199046
323970  855.04            90993
323974  855.05            22011
323978  855.06            11224
323982  855.07             7543

[80996 rows x 2 columns]
df5
          time remote_access
3         0.01         75581
7         0.02         51567
11        0.03         24097
15        0.04         23518
19        0.05         21401
...        ...           ...
323967  855.03         14955
323971  855.04          5054
323975  855.05          3392
323979  855.06          5432
323983  855.07          4941

[80996 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     11202357   4260146
1        0.03     17639523   7047064
2        0.04     17040679   6922795
3        0.05     18274303   7362121
4        0.06     19385011   7480515
...       ...          ...       ...
80990  855.03     11402018   4197900
80991  855.04     18226627   5556164
80992  855.05     10700488   3720750
80993  855.06     21622016   7226756
80994  855.07     21992520   5921947

[80995 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           211324         75581
1        0.02           256348         51567
2        0.03           354134         24097
3        0.04           441749         23518
4        0.05           397009         21401
...       ...              ...           ...
80991  855.03           199046         14955
80992  855.04            90993          5054
80993  855.05            22011          3392
80994  855.06            11224          5432
80995  855.07             7543          4941

[80996 rows x 3 columns]
              time    value  Unnamed: 2       counter  Unnamed: 4  Unnamed: 5  \
0         0.010150  7506821         NaN  instructions     9413440       100.0
1         0.010150   292055         NaN  l2d_cache_rd     9413440       100.0
2         0.010150   102705         NaN  l2d_cache_wr     9413440       100.0
3         0.010150   394760         NaN     l2d_cache     9413440       100.0
4         0.020666  9587103         NaN  instructions     9830960       100.0
...            ...      ...         ...           ...         ...         ...
323523  854.772212   240664         NaN     l2d_cache    10054080       100.0
323524  854.774003  3195470         NaN  instructions     1419880       100.0
323525  854.774003    22504         NaN  l2d_cache_rd     1419880       100.0
323526  854.774003    17713         NaN  l2d_cache_wr     1419880       100.0
323527  854.774003    40217         NaN     l2d_cache     1419880       100.0

        Unnamed: 6  Unnamed: 7
0              NaN         NaN
1              NaN         NaN
2              NaN         NaN
3              NaN         NaN
4              NaN         NaN
...            ...         ...
323523         NaN         NaN
323524         NaN         NaN
323525         NaN         NaN
323526         NaN         NaN
323527         NaN         NaN

[323528 rows x 8 columns]
          time     value       counter
4         0.02   9587103  instructions
8         0.03  19439052  instructions
12        0.04  16910084  instructions
16        0.05  17465570  instructions
20        0.06  19828811  instructions
...        ...       ...           ...
323508  854.74  18389929  instructions
323512  854.75  11492165  instructions
323516  854.76  16075299  instructions
323520  854.77  26690401  instructions
323524  854.77   3195470  instructions

[80881 rows x 3 columns]
instructions
          time instructions
4         0.02      9587103
8         0.03     19439052
12        0.04     16910084
16        0.05     17465570
20        0.06     19828811
...        ...          ...
323508  854.74     18389929
323512  854.75     11492165
323516  854.76     16075299
323520  854.77     26690401
323524  854.77      3195470

[80881 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       292055
5         0.02       322515
9         0.03       516852
13        0.04       544218
17        0.05       508448
...        ...          ...
323509  854.74       283711
323513  854.75       319547
323517  854.76       582310
323521  854.77       123365
323525  854.77        22504

[80882 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       102705
6         0.02       111174
10        0.03       121358
14        0.04       110033
18        0.05       117782
...        ...          ...
323510  854.74       161330
323514  854.75       215095
323518  854.76       530004
323522  854.77       117299
323526  854.77        17713

[80882 rows x 2 columns]
df5
          time l2d_cache
3         0.01    394760
7         0.02    433689
11        0.03    638210
15        0.04    654251
19        0.05    626230
...        ...       ...
323511  854.74    445041
323515  854.75    534642
323519  854.76   1112314
323523  854.77    240664
323527  854.77     40217

[80882 rows x 2 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

df6
         time instructions l2d_cache_rd
0        0.02      9587103       322515
1        0.03     19439052       516852
2        0.04     16910084       544218
3        0.05     17465570       508448
4        0.06     19828811       475344
...       ...          ...          ...
80878  854.76     16075299       582310
80879  854.77     26690401       123365
80880  854.77     26690401        22504
80881  854.77      3195470       123365
80882  854.77      3195470        22504

[80883 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       102705    394760
1        0.02       111174    433689
2        0.03       121358    638210
3        0.04       110033    654251
4        0.05       117782    626230
...       ...          ...       ...
80879  854.76       530004   1112314
80880  854.77       117299    240664
80881  854.77       117299     40217
80882  854.77        17713    240664
80883  854.77        17713     40217

[80884 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010114   8641770         NaN  instructions    10366880
1         0.010114   3689328         NaN       l1d_tlb    10366880
2         0.010114   2443799         NaN    l1d_tlb_rd    10366880
3         0.010114   1245529         NaN    l1d_tlb_wr    10366880
4         0.020586  11187284         NaN  instructions     9826200
...            ...       ...         ...           ...         ...
323691  854.200949   2860833         NaN    l1d_tlb_wr    10053600
323692  854.201476    186789         NaN  instructions      211960
323693  854.201476     69108         NaN       l1d_tlb      211960
323694  854.201476     47723         NaN    l1d_tlb_rd      211960
323695  854.201476     21385         NaN    l1d_tlb_wr      211960

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
323691       100.0         NaN         NaN
323692       100.0         NaN         NaN
323693       100.0         NaN         NaN
323694       100.0         NaN         NaN
323695       100.0         NaN         NaN

[323696 rows x 8 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

          time     value       counter
4         0.02  11187284  instructions
8         0.03  18137494  instructions
12        0.04  17151323  instructions
16        0.05  18791077  instructions
20        0.06  19222804  instructions
...        ...       ...           ...
323676  854.17  21744767  instructions
323680  854.18  10519386  instructions
323684  854.19  17765308  instructions
323688  854.20  26608763  instructions
323692  854.20    186789  instructions

[80923 rows x 3 columns]
instructions
          time instructions
4         0.02     11187284
8         0.03     18137494
12        0.04     17151323
16        0.05     18791077
20        0.06     19222804
...        ...          ...
323676  854.17     21744767
323680  854.18     10519386
323684  854.19     17765308
323688  854.20     26608763
323692  854.20       186789

[80923 rows x 2 columns]
df3
          time  l1d_tlb
1         0.01  3689328
5         0.02  4589577
9         0.03  7628085
13        0.04  7308200
17        0.05  7980847
...        ...      ...
323677  854.17  8151406
323681  854.18  3837936
323685  854.19  5029037
323689  854.20  9860724
323693  854.20    69108

[80924 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2443799
6         0.02    3000096
10        0.03    4929076
14        0.04    4698253
18        0.05    5147861
...        ...        ...
323678  854.17    5460092
323682  854.18    2663458
323686  854.19    4014543
323690  854.20    6999891
323694  854.20      47723

[80924 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1245529
7         0.02    1589481
11        0.03    2699009
15        0.04    2609947
19        0.05    2832986
...        ...        ...
323679  854.17    2691314
323683  854.18    1174478
323687  854.19    1014494
323691  854.20    2860833
323695  854.20      21385

[80924 rows x 2 columns]
df6
         time instructions  l1d_tlb
0        0.02     11187284  4589577
1        0.03     18137494  7628085
2        0.04     17151323  7308200
3        0.05     18791077  7980847
4        0.06     19222804  8140452
...       ...          ...      ...
80920  854.19     17765308  5029037
80921  854.20     26608763  9860724
80922  854.20     26608763    69108
80923  854.20       186789  9860724
80924  854.20       186789    69108

[80925 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2443799    1245529
1        0.02    3000096    1589481
2        0.03    4929076    2699009
3        0.04    4698253    2609947
4        0.05    5147861    2832986
...       ...        ...        ...
80921  854.19    4014543    1014494
80922  854.20    6999891    2860833
80923  854.20    6999891      21385
80924  854.20      47723    2860833
80925  854.20      47723      21385

[80926 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010280   7716038         NaN  instructions     8908280
1         0.010280     14475         NaN     dtlb_walk     8908280
2         0.010280      1185         NaN     itlb_walk     8908280
3         0.010280   2590440         NaN       l1i_tlb     8908280
4         0.020756  11139013         NaN  instructions     9841000
...            ...       ...         ...           ...         ...
324347  856.526444   5134720         NaN       l1i_tlb    10064760
324348  856.527389    704215         NaN  instructions      528400
324349  856.527389       605         NaN     dtlb_walk      528400
324350  856.527389         3         NaN     itlb_walk      528400
324351  856.527389    155044         NaN       l1i_tlb      528400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
324347       100.0         NaN         NaN
324348       100.0         NaN         NaN
324349       100.0         NaN         NaN
324350       100.0         NaN         NaN
324351       100.0         NaN         NaN

[324352 rows x 8 columns]
          time     value       counter
4         0.02  11139013  instructions
8         0.03  18474696  instructions
12        0.04  17601397  instructions
16        0.05  18954728  instructions
20        0.06  20991413  instructions
...        ...       ...           ...
324332  856.50  20608196  instructions
324336  856.51  11013220  instructions
324340  856.52  17425662  instructions
324344  856.53  26904334  instructions
324348  856.53    704215  instructions

[81087 rows x 3 columns]
instructions
          time instructions
4         0.02     11139013
8         0.03     18474696
12        0.04     17601397
16        0.05     18954728
20        0.06     20991413
...        ...          ...
324332  856.50     20608196
324336  856.51     11013220
324340  856.52     17425662
324344  856.53     26904334
324348  856.53       704215

[81087 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     14475
5         0.02     13022
9         0.03      2315
13        0.04      2573
17        0.05      2578
...        ...       ...
324333  856.50     14858
324337  856.51     27247
324341  856.52     29623
324345  856.53       524
324349  856.53       605

[81088 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1185
6         0.02      1391
10        0.03       727
14        0.04       734
18        0.05       628
...        ...       ...
324334  856.50       954
324338  856.51       586
324342  856.52       275
324346  856.53         0
324350  856.53         3

[81088 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  2590440
7         0.02  3715416
11        0.03  6170781
15        0.04  6021536
19        0.05  6306946
...        ...      ...
324335  856.50  5227404
324339  856.51  3373012
324343  856.52  5408913
324347  856.53  5134720
324351  856.53   155044

[81088 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     11139013     13022
1        0.03     18474696      2315
2        0.04     17601397      2573
3        0.05     18954728      2578
4        0.06     20991413      3336
...       ...          ...       ...
81084  856.52     17425662     29623
81085  856.53     26904334       524
81086  856.53     26904334       605
81087  856.53       704215       524
81088  856.53       704215       605

[81089 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1185  2590440
1        0.02      1391  3715416
2        0.03       727  6170781
3        0.04       734  6021536
4        0.05       628  6306946
...       ...       ...      ...
81085  856.52       275  5408913
81086  856.53         0  5134720
81087  856.53         0   155044
81088  856.53         3  5134720
81089  856.53         3   155044

[81090 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010117   8888147         NaN  instructions    10502840
1         0.010117     60777         NaN       l2d_tlb    10502840
2         0.010117     50080         NaN    l2d_tlb_rd    10502840
3         0.010117     10697         NaN    l2d_tlb_wr    10502840
4         0.020590  11448094         NaN  instructions     9824600
...            ...       ...         ...           ...         ...
323559  852.908055     16163         NaN    l2d_tlb_wr    10547120
323560  852.911823   8460068         NaN  instructions     3385000
323561  852.911823     19835         NaN       l2d_tlb     3385000
323562  852.911823     11511         NaN    l2d_tlb_rd     3385000
323563  852.911823      8324         NaN    l2d_tlb_wr     3385000

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
323559       100.0         NaN         NaN
323560       100.0         NaN         NaN
323561       100.0         NaN         NaN
323562       100.0         NaN         NaN
323563       100.0         NaN         NaN

[323564 rows x 8 columns]
          time     value       counter
4         0.02  11448094  instructions
8         0.03  18936777  instructions
12        0.04  17442220  instructions
16        0.05  19215619  instructions
20        0.06  20164170  instructions
...        ...       ...           ...
323544  852.88  15079232  instructions
323548  852.89  15055772  instructions
323552  852.90  13079016  instructions
323556  852.91  26778136  instructions
323560  852.91   8460068  instructions

[80890 rows x 3 columns]
instructions
          time instructions
4         0.02     11448094
8         0.03     18936777
12        0.04     17442220
16        0.05     19215619
20        0.06     20164170
...        ...          ...
323544  852.88     15079232
323548  852.89     15055772
323552  852.90     13079016
323556  852.91     26778136
323560  852.91      8460068

[80890 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   60777
5         0.02   85268
9         0.03  164516
13        0.04  169121
17        0.05  183217
...        ...     ...
323545  852.88  156956
323549  852.89  127294
323553  852.90  108977
323557  852.91   55467
323561  852.91   19835

[80891 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      50080
6         0.02      76841
10        0.03     156327
14        0.04     160773
18        0.05     174254
...        ...        ...
323546  852.88     144864
323550  852.89     118223
323554  852.90     104141
323558  852.91      39304
323562  852.91      11511

[80891 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      10697
7         0.02       8427
11        0.03       8189
15        0.04       8348
19        0.05       8963
...        ...        ...
323547  852.88      12092
323551  852.89       9071
323555  852.90       4836
323559  852.91      16163
323563  852.91       8324

[80891 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     11448094   85268
1        0.03     18936777  164516
2        0.04     17442220  169121
3        0.05     19215619  183217
4        0.06     20164170  160127
...       ...          ...     ...
80887  852.90     13079016  108977
80888  852.91     26778136   55467
80889  852.91     26778136   19835
80890  852.91      8460068   55467
80891  852.91      8460068   19835

[80892 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      50080      10697
1        0.02      76841       8427
2        0.03     156327       8189
3        0.04     160773       8348
4        0.05     174254       8963
...       ...        ...        ...
80888  852.90     104141       4836
80889  852.91      39304      16163
80890  852.91      39304       8324
80891  852.91      11511      16163
80892  852.91      11511       8324

[80893 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010167   7986354         NaN  instructions     8943200
1         0.010167        13         NaN      vfp_spec     8943200
2         0.010167   9579026         NaN     inst_spec     8943200
3         0.010167      5033         NaN      ase_spec     8943200
4         0.023327  16241438         NaN  instructions    12233280
...            ...       ...         ...           ...         ...
323707  854.895295         0         NaN      ase_spec    12768920
323708  854.901693  15417874         NaN  instructions     6017120
323709  854.901693         0         NaN      vfp_spec     6017120
323710  854.901693  15694283         NaN     inst_spec     6017120
323711  854.901693         0         NaN      ase_spec     6017120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
323707       100.0         NaN         NaN
323708       100.0         NaN         NaN
323709       100.0         NaN         NaN
323710       100.0         NaN         NaN
323711       100.0         NaN         NaN

[323712 rows x 8 columns]
          time     value       counter
4         0.02  16241438  instructions
8         0.03  17490277  instructions
12        0.04  17690312  instructions
16        0.05  18847887  instructions
20        0.06  20258172  instructions
...        ...       ...           ...
323692  854.86  11615902  instructions
323696  854.87  16889600  instructions
323700  854.88  12637135  instructions
323704  854.90  27190108  instructions
323708  854.90  15417874  instructions

[80927 rows x 3 columns]
instructions
          time instructions
4         0.02     16241438
8         0.03     17490277
12        0.04     17690312
16        0.05     18847887
20        0.06     20258172
...        ...          ...
323692  854.86     11615902
323696  854.87     16889600
323700  854.88     12637135
323704  854.90     27190108
323708  854.90     15417874

[80927 rows x 2 columns]
df3
          time vfp_spec
1         0.01       13
5         0.02     2702
9         0.03      926
13        0.04      780
17        0.05      762
...        ...      ...
323693  854.86      125
323697  854.87        0
323701  854.88        0
323705  854.90        0
323709  854.90        0

[80928 rows x 2 columns]
df4
          time inst_spec
2         0.01   9579026
6         0.02  19485365
10        0.03  22539451
14        0.04  22072122
18        0.05  23666318
...        ...       ...
323694  854.86  13409670
323698  854.87  18146146
323702  854.88  14756882
323706  854.90  30825276
323710  854.90  15694283

[80928 rows x 2 columns]
df5
          time ase_spec
3         0.01     5033
7         0.02    28458
11        0.03    14511
15        0.04    11874
19        0.05    13193
...        ...      ...
323695  854.86     2234
323699  854.87     1186
323703  854.88       36
323707  854.90        0
323711  854.90        0

[80928 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     16241438     2702
1        0.03     17490277      926
2        0.04     17690312      780
3        0.05     18847887      762
4        0.06     20258172      303
...       ...          ...      ...
80924  854.88     12637135        0
80925  854.90     27190108        0
80926  854.90     27190108        0
80927  854.90     15417874        0
80928  854.90     15417874        0

[80929 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01   9579026     5033
1        0.02  19485365    28458
2        0.03  22539451    14511
3        0.04  22072122    11874
4        0.05  23666318    13193
...       ...       ...      ...
80925  854.88  14756882       36
80926  854.90  30825276        0
80927  854.90  30825276        0
80928  854.90  15694283        0
80929  854.90  15694283        0

[80930 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010103   9684315         NaN      instructions    11019760
1         0.010103   6113574         NaN     stall_backend    11019760
2         0.010103   6670700         NaN    stall_frontend    11019760
3         0.010103    163161         NaN  ll_cache_miss_rd    11019760
4         0.020456  14329381         NaN      instructions     9919920
...            ...       ...         ...               ...         ...
324263  856.201929    475339         NaN  ll_cache_miss_rd     9953360
324264  856.208187  15122653         NaN      instructions     5846680
324265  856.208187   3831443         NaN     stall_backend     5846680
324266  856.208187    375411         NaN    stall_frontend     5846680
324267  856.208187     60823         NaN  ll_cache_miss_rd     5846680

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
324263       100.0         NaN         NaN
324264       100.0         NaN         NaN
324265       100.0         NaN         NaN
324266       100.0         NaN         NaN
324267       100.0         NaN         NaN

[324268 rows x 8 columns]
          time     value       counter
4         0.02  14329381  instructions
8         0.03  18346256  instructions
12        0.04  17033703  instructions
16        0.05  18715483  instructions
20        0.06  20302032  instructions
...        ...       ...           ...
324248  856.17  15103211  instructions
324252  856.18  15411984  instructions
324256  856.19  10742466  instructions
324260  856.20  23853350  instructions
324264  856.21  15122653  instructions

[81066 rows x 3 columns]
instructions
          time instructions
4         0.02     14329381
8         0.03     18346256
12        0.04     17033703
16        0.05     18715483
20        0.06     20302032
...        ...          ...
324248  856.17     15103211
324252  856.18     15411984
324256  856.19     10742466
324260  856.20     23853350
324264  856.21     15122653

[81066 rows x 2 columns]
df3
          time stall_backend
1         0.01       6113574
5         0.02       4162350
9         0.03       2458219
13        0.04       2527561
17        0.05       2402373
...        ...           ...
324249  856.17       8352914
324253  856.18       8702213
324257  856.19      10158993
324261  856.20       6477915
324265  856.21       3831443

[81067 rows x 2 columns]
df4
          time stall_frontend
2         0.01        6670700
6         0.02        5318721
10        0.03        4902189
14        0.04        5552387
18        0.05        5171314
...        ...            ...
324250  856.17        1382279
324254  856.18        1117514
324258  856.19         558319
324262  856.20         584372
324266  856.21         375411

[81067 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           163161
7         0.02           116000
11        0.03            86623
15        0.04           103261
19        0.05            93469
...        ...              ...
324251  856.17           100660
324255  856.18           200344
324259  856.19           343240
324263  856.20           475339
324267  856.21            60823

[81067 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     14329381       4162350
1        0.03     18346256       2458219
2        0.04     17033703       2527561
3        0.05     18715483       2402373
4        0.06     20302032       2536719
...       ...          ...           ...
81061  856.17     15103211       8352914
81062  856.18     15411984       8702213
81063  856.19     10742466      10158993
81064  856.20     23853350       6477915
81065  856.21     15122653       3831443

[81066 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        6670700           163161
1        0.02        5318721           116000
2        0.03        4902189            86623
3        0.04        5552387           103261
4        0.05        5171314            93469
...       ...            ...              ...
81062  856.17        1382279           100660
81063  856.18        1117514           200344
81064  856.19         558319           343240
81065  856.20         584372           475339
81066  856.21         375411            60823

[81067 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010098   9651432         NaN   instructions    11133200
1         0.010098   3013683         NaN     mem_access    11133200
2         0.010098   1853355         NaN  mem_access_rd    11133200
3         0.010098   1160328         NaN  mem_access_wr    11133200
4         0.020557  13242832         NaN   instructions     9880840
...            ...       ...         ...            ...         ...
323543  854.596057   2271046         NaN  mem_access_wr    10554840
323544  854.600754  11387029         NaN   instructions     4315240
323545  854.600754   3280431         NaN     mem_access     4315240
323546  854.600754   2059095         NaN  mem_access_rd     4315240
323547  854.600754   1221336         NaN  mem_access_wr     4315240

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
323543       100.0         NaN         NaN
323544       100.0         NaN         NaN
323545       100.0         NaN         NaN
323546       100.0         NaN         NaN
323547       100.0         NaN         NaN

[323548 rows x 8 columns]
          time     value       counter
4         0.02  13242832  instructions
8         0.03  18221101  instructions
12        0.04  17762979  instructions
16        0.05  19081880  instructions
20        0.06  19908180  instructions
...        ...       ...           ...
323528  854.56  14591276  instructions
323532  854.57  15826451  instructions
323536  854.59  11788343  instructions
323540  854.60  25856674  instructions
323544  854.60  11387029  instructions

[80886 rows x 3 columns]
instructions
          time instructions
4         0.02     13242832
8         0.03     18221101
12        0.04     17762979
16        0.05     19081880
20        0.06     19908180
...        ...          ...
323528  854.56     14591276
323532  854.57     15826451
323536  854.59     11788343
323540  854.60     25856674
323544  854.60     11387029

[80886 rows x 2 columns]
df3
          time mem_access
1         0.01    3013683
5         0.02    4513023
9         0.03    7001572
13        0.04    6818476
17        0.05    7383932
...        ...        ...
323529  854.56    5221867
323533  854.57    5134988
323537  854.59    3151761
323541  854.60    6802846
323545  854.60    3280431

[80887 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1853355
6         0.02       2810741
10        0.03       4448308
14        0.04       4298211
18        0.05       4697879
...        ...           ...
323530  854.56       3358074
323534  854.57       3435380
323538  854.59       2295182
323542  854.60       4531800
323546  854.60       2059095

[80887 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1160328
7         0.02       1702282
11        0.03       2553264
15        0.04       2520265
19        0.05       2686053
...        ...           ...
323531  854.56       1863793
323535  854.57       1699608
323539  854.59        856579
323543  854.60       2271046
323547  854.60       1221336

[80887 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     13242832    4513023
1        0.03     18221101    7001572
2        0.04     17762979    6818476
3        0.05     19081880    7383932
4        0.06     19908180    7593592
...       ...          ...        ...
80883  854.59     11788343    3151761
80884  854.60     25856674    6802846
80885  854.60     25856674    3280431
80886  854.60     11387029    6802846
80887  854.60     11387029    3280431

[80888 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1853355       1160328
1        0.02       2810741       1702282
2        0.03       4448308       2553264
3        0.04       4298211       2520265
4        0.05       4697879       2686053
...       ...           ...           ...
80884  854.59       2295182        856579
80885  854.60       4531800       2271046
80886  854.60       4531800       1221336
80887  854.60       2059095       2271046
80888  854.60       2059095       1221336

[80889 rows x 3 columns]
merged_df
         time instructions cpu-cycles  br_pred br_mis_pred l1d_cache_rd  \
0        0.02     11223372   14549435  2230239       97949      2994391
1        0.03     19028652   14812939  4346206      173514      4453857
2        0.04     17374090   14785045  3912988      166961      4060295
3        0.05     18340981   14675815  4156315      165812      4604156
4        0.06     19573825   14820297  4427138      150376      4816451
...       ...          ...        ...      ...         ...          ...
49350  852.91     32855874   14963803  6597827       36034      7180184
49351  852.91     32855874   14963803  6597827       36034      7180184
49352  852.91     32855874   14963803  6597827       36034      7180184
49353  852.91     32855874   14963803  6597827       36034      7180184
49354  852.91     32855874   14963803  6597827       36034      7180184

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ... l2d_tlb_wr  \
0          1796156   4790547   4260146           256348  ...       8427
1          2556371   7010228   7047064           354134  ...       8189
2          2388275   6448570   6922795           441749  ...       8348
3          2640914   7245070   7362121           397009  ...       8963
4          2762797   7579248   7480515           343183  ...       7812
...            ...       ...       ...              ...  ...        ...
49350      4166430  11346614  11692867           320291  ...       8324
49351      4166430  11346614  11692867           320291  ...      16163
49352      4166430  11346614  11692867           320291  ...       8324
49353      4166430  11346614  11692867           320291  ...      16163
49354      4166430  11346614  11692867           320291  ...       8324

      vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0         2702  19485365    28458       4162350        5318721
1          926  22539451    14511       2458219        4902189
2          780  22072122    11874       2527561        5552387
3          762  23666318    13193       2402373        5171314
4          303  24647730    14983       2536719        4652910
...        ...       ...      ...           ...            ...
49350     2815  34957838     5081       1345749        2877508
49351     2815  34957838     5081       1345749        2877508
49352     2815  34957838     5081       1345749        2877508
49353     2815  34957838     5081       1345749        2877508
49354     2815  34957838     5081       1345749        2877508

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               116000    4513023       2810741       1702282
1                86623    7001572       4448308       2553264
2               103261    6818476       4298211       2520265
3                93469    7383932       4697879       2686053
4                99591    7593592       4823584       2770008
...                ...        ...           ...           ...
49350            11857   11549593       7370694       4178899
49351            11857   11549593       7370694       4178899
49352            11857   11549593       7370694       4178899
49353            11857   11549593       7370694       4178899
49354            11857   11549593       7370694       4178899

[49355 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010114   8934593         NaN  instructions    10381640
1         0.010114  15425328         NaN    cpu-cycles    10381640
2         0.010114   1647811         NaN       br_pred    10381640
3         0.010114     67523         NaN   br_mis_pred    10381640
4         0.020579  11325237         NaN  instructions     9829880
...            ...       ...         ...           ...         ...
370643  954.691614      6229         NaN   br_mis_pred    10085080
370644  954.694601   6376561         NaN  instructions     2599120
370645  954.694601   3855976         NaN    cpu-cycles     2599120
370646  954.694601    933763         NaN       br_pred     2599120
370647  954.694601      3077         NaN   br_mis_pred     2599120

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.58  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.77  insn per cycle
...            ...         ...             ...
370643       100.0         NaN             NaN
370644       100.0        1.65  insn per cycle
370645       100.0         NaN             NaN
370646       100.0         NaN             NaN
370647       100.0         NaN             NaN

[370648 rows x 8 columns]
          time     value       counter
4         0.02  11325237  instructions
8         0.03  16941257  instructions
12        0.04  17461699  instructions
16        0.05  18843802  instructions
20        0.06  25378196  instructions
...        ...       ...           ...
370628  954.66  15573992  instructions
370632  954.67  13032144  instructions
370636  954.68  14777269  instructions
370640  954.69  25862079  instructions
370644  954.69   6376561  instructions

[92661 rows x 3 columns]
instructions
          time instructions
4         0.02     11325237
8         0.03     16941257
12        0.04     17461699
16        0.05     18843802
20        0.06     25378196
...        ...          ...
370628  954.66     15573992
370632  954.67     13032144
370636  954.68     14777269
370640  954.69     25862079
370644  954.69      6376561

[92661 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   15425328
5         0.02   14630798
9         0.03   13735714
13        0.04   14898222
17        0.05   14916507
...        ...        ...
370629  954.66   14779885
370633  954.67   14928639
370637  954.68   14914382
370641  954.69   15036075
370645  954.69    3855976

[92662 rows x 2 columns]
df4
          time  br_pred
2         0.01  1647811
6         0.02  2248035
10        0.03  3861259
14        0.04  3929992
18        0.05  4279046
...        ...      ...
370630  954.66  3486427
370634  954.67  3093518
370638  954.68  4395271
370642  954.69  3753060
370646  954.69   933763

[92662 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       67523
7         0.02       99163
11        0.03      153386
15        0.04      171555
19        0.05      166375
...        ...         ...
370631  954.66       41638
370635  954.67       25569
370639  954.68      110851
370643  954.69        6229
370647  954.69        3077

[92662 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     11325237   14630798
1        0.03     16941257   13735714
2        0.04     17461699   14898222
3        0.05     18843802   14916507
4        0.06     25378196   19597271
...       ...          ...        ...
92658  954.68     14777269   14914382
92659  954.69     25862079   15036075
92660  954.69     25862079    3855976
92661  954.69      6376561   15036075
92662  954.69      6376561    3855976

[92663 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1647811       67523
1        0.02  2248035       99163
2        0.03  3861259      153386
3        0.04  3929992      171555
4        0.05  4279046      166375
...       ...      ...         ...
92659  954.68  4395271      110851
92660  954.69  3753060        6229
92661  954.69  3753060        3077
92662  954.69   933763        6229
92663  954.69   933763        3077

[92664 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time    value  Unnamed: 2       counter  Unnamed: 4  Unnamed: 5  \
0         0.010115  8085528         NaN  instructions     9998760       100.0
1         0.010115  1558730         NaN  l1d_cache_rd     9998760       100.0
2         0.010115   962650         NaN  l1d_cache_wr     9998760       100.0
3         0.010115  2521380         NaN     l1d_cache     9998760       100.0
4         0.020633  9867816         NaN  instructions     9872640       100.0
...            ...      ...         ...           ...         ...         ...
368547  949.254985  7620164         NaN     l1d_cache    10084200       100.0
368548  949.255380    90274         NaN  instructions       90720       100.0
368549  949.255380    16768         NaN  l1d_cache_rd       90720       100.0
368550  949.255380    11789         NaN  l1d_cache_wr       90720       100.0
368551  949.255380    28557         NaN     l1d_cache       90720       100.0

        Unnamed: 6  Unnamed: 7
0              NaN         NaN
1              NaN         NaN
2              NaN         NaN
3              NaN         NaN
4              NaN         NaN
...            ...         ...
368547         NaN         NaN
368548         NaN         NaN
368549         NaN         NaN
368550         NaN         NaN
368551         NaN         NaN

[368552 rows x 8 columns]
          time     value       counter
4         0.02   9867816  instructions
8         0.03  18246024  instructions
12        0.04  16973571  instructions
16        0.05  24080503  instructions
20        0.07  19190632  instructions
...        ...       ...           ...
368532  949.22  21281105  instructions
368536  949.23  10876809  instructions
368540  949.24  17994071  instructions
368544  949.25  26590536  instructions
368548  949.26     90274  instructions

[92137 rows x 3 columns]
instructions
          time instructions
4         0.02      9867816
8         0.03     18246024
12        0.04     16973571
16        0.05     24080503
20        0.07     19190632
...        ...          ...
368532  949.22     21281105
368536  949.23     10876809
368540  949.24     17994071
368544  949.25     26590536
368548  949.26        90274

[92137 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1558730
5         0.02      1959804
9         0.03      4390746
13        0.04      4099314
17        0.05      5923762
...        ...          ...
368533  949.22      4896770
368537  949.23      2285921
368541  949.24      3102062
368545  949.25      4796616
368549  949.26        16768

[92138 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01       962650
6         0.02      1214063
10        0.03      2529533
14        0.04      2404844
18        0.05      3412484
...        ...          ...
368534  949.22      2542692
368538  949.23      1138515
368542  949.24      1020028
368546  949.25      2823548
368550  949.26        11789

[92138 rows x 2 columns]
df5
          time l1d_cache
3         0.01   2521380
7         0.02   3173867
11        0.03   6920279
15        0.04   6504158
19        0.05   9336246
...        ...       ...
368535  949.22   7439462
368539  949.23   3424436
368543  949.24   4122090
368547  949.25   7620164
368551  949.26     28557

[92138 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02      9867816      1959804
1        0.03     18246024      4390746
2        0.04     16973571      4099314
3        0.05     24080503      5923762
4        0.07     19190632      4661054
...       ...          ...          ...
92132  949.22     21281105      4896770
92133  949.23     10876809      2285921
92134  949.24     17994071      3102062
92135  949.25     26590536      4796616
92136  949.26        90274        16768

[92137 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01       962650   2521380
1        0.02      1214063   3173867
2        0.03      2529533   6920279
3        0.04      2404844   6504158
4        0.05      3412484   9336246
...       ...          ...       ...
92133  949.22      2542692   7439462
92134  949.23      1138515   3424436
92135  949.24      1020028   4122090
92136  949.25      2823548   7620164
92137  949.26        11789     28557

[92138 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010114   7458594         NaN      instructions     8912120
1         0.010114   2704473         NaN         l1i_cache     8912120
2         0.010114    188604         NaN  l1i_cache_refill     8912120
3         0.010114     60674         NaN     remote_access     8912120
4         0.022682  13240798         NaN      instructions    11889800
...            ...       ...         ...               ...         ...
369351  950.571586      4304         NaN     remote_access    10072480
369352  950.580889  23136958         NaN      instructions     8825040
369353  950.580889   6215771         NaN         l1i_cache     8825040
369354  950.580889      7578         NaN  l1i_cache_refill     8825040
369355  950.580889      4707         NaN     remote_access     8825040

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
369351       100.0         NaN         NaN
369352       100.0         NaN         NaN
369353       100.0         NaN         NaN
369354       100.0         NaN         NaN
369355       100.0         NaN         NaN

[369356 rows x 8 columns]
          time     value       counter
4         0.02  13240798  instructions
8         0.03  18923056  instructions
12        0.04  17557568  instructions
16        0.05  18561652  instructions
20        0.06  19371363  instructions
...        ...       ...           ...
369336  950.54  14360441  instructions
369340  950.55  18178731  instructions
369344  950.56  11050302  instructions
369348  950.57  19612977  instructions
369352  950.58  23136958  instructions

[92338 rows x 3 columns]
instructions
          time instructions
4         0.02     13240798
8         0.03     18923056
12        0.04     17557568
16        0.05     18561652
20        0.06     19371363
...        ...          ...
369336  950.54     14360441
369340  950.55     18178731
369344  950.56     11050302
369348  950.57     19612977
369352  950.58     23136958

[92338 rows x 2 columns]
df3
          time l1i_cache
1         0.01   2704473
5         0.02   5023988
9         0.03   7579411
13        0.04   7109278
17        0.05   7457482
...        ...       ...
369337  950.54   5257238
369341  950.55   5523190
369345  950.56   3905763
369349  950.57   6623492
369353  950.58   6215771

[92339 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           188604
6         0.02           309049
10        0.03           379263
14        0.04           428997
18        0.05           429718
...        ...              ...
369338  950.54           208175
369342  950.55            88944
369346  950.56            27336
369350  950.57            11134
369354  950.58             7578

[92339 rows x 2 columns]
df5
          time remote_access
3         0.01         60674
7         0.02         62300
11        0.03         17200
15        0.04         21089
19        0.05         17457
...        ...           ...
369339  950.54         14732
369343  950.55          3403
369347  950.56          2798
369351  950.57          4304
369355  950.58          4707

[92339 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     13240798   5023988
1        0.03     18923056   7579411
2        0.04     17557568   7109278
3        0.05     18561652   7457482
4        0.06     19371363   7495062
...       ...          ...       ...
92333  950.54     14360441   5257238
92334  950.55     18178731   5523190
92335  950.56     11050302   3905763
92336  950.57     19612977   6623492
92337  950.58     23136958   6215771

[92338 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           188604         60674
1        0.02           309049         62300
2        0.03           379263         17200
3        0.04           428997         21089
4        0.05           429718         17457
...       ...              ...           ...
92334  950.54           208175         14732
92335  950.55            88944          3403
92336  950.56            27336          2798
92337  950.57            11134          4304
92338  950.58             7578          4707

[92339 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010134   9657650         NaN  instructions    11086480
1         0.010134    367391         NaN  l2d_cache_rd    11086480
2         0.010134    130631         NaN  l2d_cache_wr    11086480
3         0.010134    498022         NaN     l2d_cache    11086480
4         0.020577  13174057         NaN  instructions     9779680
...            ...       ...         ...           ...         ...
370915  954.203130   1131907         NaN     l2d_cache    12098280
370916  954.210968  19058061         NaN  instructions     7401840
370917  954.210968     91555         NaN  l2d_cache_rd     7401840
370918  954.210968     82815         NaN  l2d_cache_wr     7401840
370919  954.210968    174370         NaN     l2d_cache     7401840

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
370915       100.0         NaN         NaN
370916       100.0         NaN         NaN
370917       100.0         NaN         NaN
370918       100.0         NaN         NaN
370919       100.0         NaN         NaN

[370920 rows x 8 columns]
          time     value       counter
4         0.02  13174057  instructions
8         0.03  18284415  instructions
12        0.04  17714929  instructions
16        0.05  18805255  instructions
20        0.06  20119412  instructions
...        ...       ...           ...
370900  954.17  11997358  instructions
370904  954.18  18271501  instructions
370908  954.19  10449970  instructions
370912  954.20  24743535  instructions
370916  954.21  19058061  instructions

[92729 rows x 3 columns]
instructions
          time instructions
4         0.02     13174057
8         0.03     18284415
12        0.04     17714929
16        0.05     18805255
20        0.06     20119412
...        ...          ...
370900  954.17     11997358
370904  954.18     18271501
370908  954.19     10449970
370912  954.20     24743535
370916  954.21     19058061

[92729 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       367391
5         0.02       392633
9         0.03       500844
13        0.04       559461
17        0.05       543897
...        ...          ...
370901  954.17       320931
370905  954.18       272382
370909  954.19       282141
370913  954.20       587709
370917  954.21        91555

[92730 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       130631
6         0.02       116382
10        0.03       112586
14        0.04       117680
18        0.05       117130
...        ...          ...
370902  954.17       105320
370906  954.18       168319
370910  954.19       214576
370914  954.20       544198
370918  954.21        82815

[92730 rows x 2 columns]
df5
          time l2d_cache
3         0.01    498022
7         0.02    509015
11        0.03    613430
15        0.04    677141
19        0.05    661027
...        ...       ...
370903  954.17    426251
370907  954.18    440701
370911  954.19    496717
370915  954.20   1131907
370919  954.21    174370

[92730 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     13174057       392633
1        0.03     18284415       500844
2        0.04     17714929       559461
3        0.05     18805255       543897
4        0.06     20119412       466661
...       ...          ...          ...
92724  954.17     11997358       320931
92725  954.18     18271501       272382
92726  954.19     10449970       282141
92727  954.20     24743535       587709
92728  954.21     19058061        91555

[92729 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       130631    498022
1        0.02       116382    509015
2        0.03       112586    613430
3        0.04       117680    677141
4        0.05       117130    661027
...       ...          ...       ...
92725  954.17       105320    426251
92726  954.18       168319    440701
92727  954.19       214576    496717
92728  954.20       544198   1131907
92729  954.21        82815    174370

[92730 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010110   8048090         NaN  instructions     9767560
1         0.010110   3376057         NaN       l1d_tlb     9767560
2         0.010110   2246743         NaN    l1d_tlb_rd     9767560
3         0.010110   1129314         NaN    l1d_tlb_wr     9767560
4         0.020635  10230043         NaN  instructions     9874160
...            ...       ...         ...           ...         ...
368067  947.506122   1783059         NaN    l1d_tlb_wr    12099280
368068  947.513590  18373803         NaN  instructions     7065120
368069  947.513590   6841824         NaN       l1d_tlb     7065120
368070  947.513590   4874295         NaN    l1d_tlb_rd     7065120
368071  947.513590   1967529         NaN    l1d_tlb_wr     7065120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
368067       100.0         NaN         NaN
368068       100.0         NaN         NaN
368069       100.0         NaN         NaN
368070       100.0         NaN         NaN
368071       100.0         NaN         NaN

[368072 rows x 8 columns]
          time     value       counter
4         0.02  10230043  instructions
8         0.03  19353005  instructions
12        0.04  17325698  instructions
16        0.05  18498665  instructions
20        0.06  19104503  instructions
...        ...       ...           ...
368052  947.47  11428988  instructions
368056  947.48  18222509  instructions
368060  947.49  10631270  instructions
368064  947.51  25041991  instructions
368068  947.51  18373803  instructions

[92017 rows x 3 columns]
instructions
          time instructions
4         0.02     10230043
8         0.03     19353005
12        0.04     17325698
16        0.05     18498665
20        0.06     19104503
...        ...          ...
368052  947.47     11428988
368056  947.48     18222509
368060  947.49     10631270
368064  947.51     25041991
368068  947.51     18373803

[92017 rows x 2 columns]
df3
          time  l1d_tlb
1         0.01  3376057
5         0.02  4205254
9         0.03  8113930
13        0.04  7380050
17        0.05  7862442
...        ...      ...
368053  947.47  4757072
368057  947.48  6653953
368061  947.49  4018619
368065  947.51  7596632
368069  947.51  6841824

[92018 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2246743
6         0.02    2762199
10        0.03    5218905
14        0.04    4734430
18        0.05    5071332
...        ...        ...
368054  947.47    3073555
368058  947.48    4496466
368062  947.49    2797703
368066  947.51    5813573
368070  947.51    4874295

[92018 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1129314
7         0.02    1443055
11        0.03    2895025
15        0.04    2645620
19        0.05    2791110
...        ...        ...
368055  947.47    1683517
368059  947.48    2157487
368063  947.49    1220916
368067  947.51    1783059
368071  947.51    1967529

[92018 rows x 2 columns]
df6
         time instructions  l1d_tlb
0        0.02     10230043  4205254
1        0.03     19353005  8113930
2        0.04     17325698  7380050
3        0.05     18498665  7862442
4        0.06     19104503  8103611
...       ...          ...      ...
92014  947.49     10631270  4018619
92015  947.51     25041991  7596632
92016  947.51     25041991  6841824
92017  947.51     18373803  7596632
92018  947.51     18373803  6841824

[92019 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2246743    1129314
1        0.02    2762199    1443055
2        0.03    5218905    2895025
3        0.04    4734430    2645620
4        0.05    5071332    2791110
...       ...        ...        ...
92015  947.49    2797703    1220916
92016  947.51    5813573    1783059
92017  947.51    5813573    1967529
92018  947.51    4874295    1783059
92019  947.51    4874295    1967529

[92020 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010106   8748327         NaN  instructions    10468800
1         0.010106     16459         NaN     dtlb_walk    10468800
2         0.010106      1412         NaN     itlb_walk    10468800
3         0.010106   2974398         NaN       l1i_tlb    10468800
4         0.020552  11369085         NaN  instructions     9787920
...            ...       ...         ...           ...         ...
368351  948.783122   5420689         NaN       l1i_tlb     9970960
368352  948.789430  15207718         NaN  instructions     5909720
368353  948.789430      1324         NaN     dtlb_walk     5909720
368354  948.789430         5         NaN     itlb_walk     5909720
368355  948.789430   2949037         NaN       l1i_tlb     5909720

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
368351       100.0         NaN         NaN
368352       100.0         NaN         NaN
368353       100.0         NaN         NaN
368354       100.0         NaN         NaN
368355       100.0         NaN         NaN

[368356 rows x 8 columns]
          time     value       counter
4         0.02  11369085  instructions
8         0.03  18767432  instructions
12        0.04  17692518  instructions
16        0.05  19139436  instructions
20        0.06  19823916  instructions
...        ...       ...           ...
368336  948.75  15345481  instructions
368340  948.76  15608747  instructions
368344  948.77  10610763  instructions
368348  948.78  24014781  instructions
368352  948.79  15207718  instructions

[92088 rows x 3 columns]
instructions
          time instructions
4         0.02     11369085
8         0.03     18767432
12        0.04     17692518
16        0.05     19139436
20        0.06     19823916
...        ...          ...
368336  948.75     15345481
368340  948.76     15608747
368344  948.77     10610763
368348  948.78     24014781
368352  948.79     15207718

[92088 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     16459
5         0.02     11098
9         0.03      1828
13        0.04      2475
17        0.05      2308
...        ...       ...
368337  948.75     11408
368341  948.76     18951
368345  948.77     31133
368349  948.78     15066
368353  948.79      1324

[92089 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1412
6         0.02      1247
10        0.03       705
14        0.04       769
18        0.05       606
...        ...       ...
368338  948.75       716
368342  948.76      1176
368346  948.77       247
368350  948.78       188
368354  948.79         5

[92089 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  2974398
7         0.02  3826560
11        0.03  6261056
15        0.04  6051507
19        0.05  6369656
...        ...      ...
368339  948.75  4182270
368343  948.76  4172333
368347  948.77  3868294
368351  948.78  5420689
368355  948.79  2949037

[92089 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     11369085     11098
1        0.03     18767432      1828
2        0.04     17692518      2475
3        0.05     19139436      2308
4        0.06     19823916      3065
...       ...          ...       ...
92083  948.75     15345481     11408
92084  948.76     15608747     18951
92085  948.77     10610763     31133
92086  948.78     24014781     15066
92087  948.79     15207718      1324

[92088 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1412  2974398
1        0.02      1247  3826560
2        0.03       705  6261056
3        0.04       769  6051507
4        0.05       606  6369656
...       ...       ...      ...
92084  948.75       716  4182270
92085  948.76      1176  4172333
92086  948.77       247  3868294
92087  948.78       188  5420689
92088  948.79         5  2949037

[92089 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010118   8187363         NaN  instructions     9407720
1         0.010118     55425         NaN       l2d_tlb     9407720
2         0.010118     46338         NaN    l2d_tlb_rd     9407720
3         0.010118      9087         NaN    l2d_tlb_wr     9407720
4         0.020564  11273188         NaN  instructions     9873360
...            ...       ...         ...           ...         ...
369559  950.884229      8058         NaN    l2d_tlb_wr    10013120
369560  950.893093  22022194         NaN  instructions     8434680
369561  950.893093     48032         NaN       l2d_tlb     8434680
369562  950.893093     30143         NaN    l2d_tlb_rd     8434680
369563  950.893093     17889         NaN    l2d_tlb_wr     8434680

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
369559       100.0         NaN         NaN
369560       100.0         NaN         NaN
369561       100.0         NaN         NaN
369562       100.0         NaN         NaN
369563       100.0         NaN         NaN

[369564 rows x 8 columns]
          time     value       counter
4         0.02  11273188  instructions
8         0.03  19155329  instructions
12        0.04  17449246  instructions
16        0.05  19487903  instructions
20        0.06  19788046  instructions
...        ...       ...           ...
369544  950.85  11638513  instructions
369548  950.86  18541220  instructions
369552  950.87  11374222  instructions
369556  950.88  20041187  instructions
369560  950.89  22022194  instructions

[92390 rows x 3 columns]
instructions
          time instructions
4         0.02     11273188
8         0.03     19155329
12        0.04     17449246
16        0.05     19487903
20        0.06     19788046
...        ...          ...
369544  950.85     11638513
369548  950.86     18541220
369552  950.87     11374222
369556  950.88     20041187
369560  950.89     22022194

[92390 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   55425
5         0.02   81511
9         0.03  163010
13        0.04  171800
17        0.05  185676
...        ...     ...
369545  950.85  151333
369549  950.86  112792
369553  950.87  127772
369557  950.88   69587
369561  950.89   48032

[92391 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      46338
6         0.02      72113
10        0.03     154803
14        0.04     163617
18        0.05     176625
...        ...        ...
369546  950.85     139392
369550  950.86     104426
369554  950.87     119916
369558  950.88      61529
369562  950.89      30143

[92391 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01       9087
7         0.02       9398
11        0.03       8207
15        0.04       8183
19        0.05       9051
...        ...        ...
369547  950.85      11941
369551  950.86       8366
369555  950.87       7856
369559  950.88       8058
369563  950.89      17889

[92391 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     11273188   81511
1        0.03     19155329  163010
2        0.04     17449246  171800
3        0.05     19487903  185676
4        0.06     19788046  159438
...       ...          ...     ...
92385  950.85     11638513  151333
92386  950.86     18541220  112792
92387  950.87     11374222  127772
92388  950.88     20041187   69587
92389  950.89     22022194   48032

[92390 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      46338       9087
1        0.02      72113       9398
2        0.03     154803       8207
3        0.04     163617       8183
4        0.05     176625       9051
...       ...        ...        ...
92386  950.85     139392      11941
92387  950.86     104426       8366
92388  950.87     119916       7856
92389  950.88      61529       8058
92390  950.89      30143      17889

[92391 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010138   7745505         NaN  instructions     9602320
1         0.010138        12         NaN      vfp_spec     9602320
2         0.010138   9334148         NaN     inst_spec     9602320
3         0.010138      4942         NaN      ase_spec     9602320
4         0.020767   9708893         NaN  instructions     9820280
...            ...       ...         ...           ...         ...
370671  954.926322         0         NaN      ase_spec    10211920
370672  954.931053  11413498         NaN  instructions     4275560
370673  954.931053         0         NaN      vfp_spec     4275560
370674  954.931053  11659291         NaN     inst_spec     4275560
370675  954.931053         0         NaN      ase_spec     4275560

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
370671       100.0         NaN         NaN
370672       100.0         NaN         NaN
370673       100.0         NaN         NaN
370674       100.0         NaN         NaN
370675       100.0         NaN         NaN

[370676 rows x 8 columns]
          time     value       counter
4         0.02   9708893  instructions
8         0.03  25204743  instructions
12        0.05  16744656  instructions
16        0.06  18374375  instructions
20        0.07  19405975  instructions
...        ...       ...           ...
370656  954.90  16672498  instructions
370660  954.91  14011691  instructions
370664  954.92  12260928  instructions
370668  954.93  25334424  instructions
370672  954.93  11413498  instructions

[92668 rows x 3 columns]
instructions
          time instructions
4         0.02      9708893
8         0.03     25204743
12        0.05     16744656
16        0.06     18374375
20        0.07     19405975
...        ...          ...
370656  954.90     16672498
370660  954.91     14011691
370664  954.92     12260928
370668  954.93     25334424
370672  954.93     11413498

[92668 rows x 2 columns]
df3
          time vfp_spec
1         0.01       12
5         0.02      228
9         0.03     3369
13        0.05      792
17        0.06      709
...        ...      ...
370657  954.90        0
370661  954.91        0
370665  954.92        0
370669  954.93        0
370673  954.93        0

[92669 rows x 2 columns]
df4
          time inst_spec
2         0.01   9334148
6         0.02  11618281
10        0.03  31777183
14        0.05  20885783
18        0.06  23001126
...        ...       ...
370658  954.90  17941777
370662  954.91  15621675
370666  954.92  15608783
370670  954.93  27053324
370674  954.93  11659291

[92669 rows x 2 columns]
df5
          time ase_spec
3         0.01     4942
7         0.02    10050
11        0.03    33264
15        0.05    11225
19        0.06    13034
...        ...      ...
370659  954.90     1880
370663  954.91     1147
370667  954.92        0
370671  954.93        0
370675  954.93        0

[92669 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02      9708893      228
1        0.03     25204743     3369
2        0.05     16744656      792
3        0.06     18374375      709
4        0.07     19405975      302
...       ...          ...      ...
92665  954.92     12260928        0
92666  954.93     25334424        0
92667  954.93     25334424        0
92668  954.93     11413498        0
92669  954.93     11413498        0

[92670 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01   9334148     4942
1        0.02  11618281    10050
2        0.03  31777183    33264
3        0.05  20885783    11225
4        0.06  23001126    13034
...       ...       ...      ...
92666  954.92  15608783        0
92667  954.93  27053324        0
92668  954.93  27053324        0
92669  954.93  11659291        0
92670  954.93  11659291        0

[92671 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010110   8903589         NaN      instructions    10068000
1         0.010110   5374418         NaN     stall_backend    10068000
2         0.010110   6306222         NaN    stall_frontend    10068000
3         0.010110    151678         NaN  ll_cache_miss_rd    10068000
4         0.020497  11958592         NaN      instructions     9870160
...            ...       ...         ...               ...         ...
368835  948.968511    116922         NaN  ll_cache_miss_rd    10317800
368836  948.969669   1411611         NaN      instructions      791960
368837  948.969669    535651         NaN     stall_backend      791960
368838  948.969669    183698         NaN    stall_frontend      791960
368839  948.969669      9906         NaN  ll_cache_miss_rd      791960

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
368835       100.0         NaN         NaN
368836       100.0         NaN         NaN
368837       100.0         NaN         NaN
368838       100.0         NaN         NaN
368839       100.0         NaN         NaN

[368840 rows x 8 columns]
          time     value       counter
4         0.02  11958592  instructions
8         0.03  18487902  instructions
12        0.04  17582608  instructions
16        0.05  18854090  instructions
20        0.06  26969627  instructions
...        ...       ...           ...
368820  948.94  18365674  instructions
368824  948.95  11185439  instructions
368828  948.96  16413026  instructions
368832  948.97  27608238  instructions
368836  948.97   1411611  instructions

[92209 rows x 3 columns]
instructions
          time instructions
4         0.02     11958592
8         0.03     18487902
12        0.04     17582608
16        0.05     18854090
20        0.06     26969627
...        ...          ...
368820  948.94     18365674
368824  948.95     11185439
368828  948.96     16413026
368832  948.97     27608238
368836  948.97      1411611

[92209 rows x 2 columns]
df3
          time stall_backend
1         0.01       5374418
5         0.02       4506512
9         0.03       2508334
13        0.04       2463465
17        0.05       2401683
...        ...           ...
368821  948.94       7646670
368825  948.95      10279854
368829  948.96       7718890
368833  948.97       6959880
368837  948.97        535651

[92210 rows x 2 columns]
df4
          time stall_frontend
2         0.01        6306222
6         0.02        5652503
10        0.03        4702215
14        0.04        5323033
18        0.05        5074422
...        ...            ...
368822  948.94        1349514
368826  948.95         742953
368830  948.96         683493
368834  948.97         322253
368838  948.97         183698

[92210 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           151678
7         0.02           128714
11        0.03            89463
15        0.04            97670
19        0.05            98329
...        ...              ...
368823  948.94           127390
368827  948.95           238247
368831  948.96           656509
368835  948.97           116922
368839  948.97             9906

[92210 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     11958592       4506512
1        0.03     18487902       2508334
2        0.04     17582608       2463465
3        0.05     18854090       2401683
4        0.06     26969627       3430166
...       ...          ...           ...
92206  948.96     16413026       7718890
92207  948.97     27608238       6959880
92208  948.97     27608238        535651
92209  948.97      1411611       6959880
92210  948.97      1411611        535651

[92211 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        6306222           151678
1        0.02        5652503           128714
2        0.03        4702215            89463
3        0.04        5323033            97670
4        0.05        5074422            98329
...       ...            ...              ...
92207  948.96         683493           656509
92208  948.97         322253           116922
92209  948.97         322253             9906
92210  948.97         183698           116922
92211  948.97         183698             9906

[92212 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010115   9073829         NaN   instructions    11187640
1         0.010115   2833100         NaN     mem_access    11187640
2         0.010115   1742885         NaN  mem_access_rd    11187640
3         0.010115   1090215         NaN  mem_access_wr    11187640
4         0.020620  11267863         NaN   instructions     9927680
...            ...       ...         ...            ...         ...
368555  949.288097   1780449         NaN  mem_access_wr    10377880
368556  949.295290  17459204         NaN   instructions     6789360
368557  949.295290   5018544         NaN     mem_access     6789360
368558  949.295290   3163727         NaN  mem_access_rd     6789360
368559  949.295290   1854817         NaN  mem_access_wr     6789360

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
368555       100.0         NaN         NaN
368556       100.0         NaN         NaN
368557       100.0         NaN         NaN
368558       100.0         NaN         NaN
368559       100.0         NaN         NaN

[368560 rows x 8 columns]
          time     value       counter
4         0.02  11267863  instructions
8         0.03  17898455  instructions
12        0.04  17201867  instructions
16        0.05  18371952  instructions
20        0.06  19230474  instructions
...        ...       ...           ...
368540  949.26  13806964  instructions
368544  949.27  17930870  instructions
368548  949.28  11117073  instructions
368552  949.29  23124553  instructions
368556  949.30  17459204  instructions

[92139 rows x 3 columns]
instructions
          time instructions
4         0.02     11267863
8         0.03     17898455
12        0.04     17201867
16        0.05     18371952
20        0.06     19230474
...        ...          ...
368540  949.26     13806964
368544  949.27     17930870
368548  949.28     11117073
368552  949.29     23124553
368556  949.30     17459204

[92139 rows x 2 columns]
df3
          time mem_access
1         0.01    2833100
5         0.02    3788726
9         0.03    6805978
13        0.04    6617717
17        0.05    7076926
...        ...        ...
368541  949.26    5031749
368545  949.27    6151373
368549  949.28    3128908
368553  949.29    5731070
368557  949.30    5018544

[92140 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1742885
6         0.02       2356176
10        0.03       4323917
14        0.04       4176964
18        0.05       4500751
...        ...           ...
368542  949.26       3156637
368546  949.27       4083665
368550  949.28       2215746
368554  949.29       3950621
368558  949.30       3163727

[92140 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1090215
7         0.02       1432550
11        0.03       2482061
15        0.04       2440753
19        0.05       2576175
...        ...           ...
368543  949.26       1875112
368547  949.27       2067708
368551  949.28        913162
368555  949.29       1780449
368559  949.30       1854817

[92140 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     11267863    3788726
1        0.03     17898455    6805978
2        0.04     17201867    6617717
3        0.05     18371952    7076926
4        0.06     19230474    7394180
...       ...          ...        ...
92134  949.26     13806964    5031749
92135  949.27     17930870    6151373
92136  949.28     11117073    3128908
92137  949.29     23124553    5731070
92138  949.30     17459204    5018544

[92139 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1742885       1090215
1        0.02       2356176       1432550
2        0.03       4323917       2482061
3        0.04       4176964       2440753
4        0.05       4500751       2576175
...       ...           ...           ...
92135  949.26       3156637       1875112
92136  949.27       4083665       2067708
92137  949.28       2215746        913162
92138  949.29       3950621       1780449
92139  949.30       3163727       1854817

[92140 rows x 3 columns]
merged_df
         time instructions cpu-cycles  br_pred br_mis_pred l1d_cache_rd  \
0        0.02     11325237   14630798  2248035       99163      1959804
1        0.03     16941257   13735714  3861259      153386      4390746
2        0.05     18843802   14916507  4279046      166375      5923762
3        0.08     25939670   14905874  6334494      130942      5673239
4        0.09     28688295   14982194  7335765      125389      5907954
...       ...          ...        ...      ...         ...          ...
70732  947.51     29088584   14913414  6429580       59172      4704253
70733  947.51     29088584   14913414  6429580       59172      4704253
70734  947.51     29088584   14913414  6429580       59172      4704253
70735  947.51     29088584   14913414  6429580       59172      4704253
70736  947.51     29088584   14913414  6429580       59172      4704253

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ... l2d_tlb_wr  \
0          1214063   3173867   5023988           309049  ...       9398
1          2529533   6920279   7579411           379263  ...       8207
2          3412484   9336246   7457482           429718  ...       9051
3          2712373   8385612   9672633           279808  ...       7636
4          2285548   8193502   9285039           315933  ...       7331
...            ...       ...       ...              ...  ...        ...
70732      2744207   7448460  10419499           285000  ...      20111
70733      2744207   7448460  10419499           285000  ...      20111
70734      2744207   7448460  10419499           285000  ...      20111
70735      2744207   7448460  10419499           285000  ...      20111
70736      2744207   7448460  10419499           285000  ...      20111

      vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0          228  11618281    10050       4506512        5652503
1         3369  31777183    33264       2508334        4702215
2          792  20885783    11225       2401683        5074422
3          323  29008489    17748       2077840        3366441
4          123  31953282    15874       2110722        3184778
...        ...       ...      ...           ...            ...
70732        0  39038570   595600       3111682        2112039
70733        0  39038570   595600       3111682        2112039
70734        0  39038570   595600       3111682        2112039
70735        0  39038570   595600       3111682        2112039
70736        0  39038570   595600       3111682        2112039

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               128714    3788726       2356176       1432550
1                89463    6805978       4323917       2482061
2                98329    7076926       4500751       2576175
3                45558    8270812       5961960       2308852
4                46160    7946096       5672434       2273662
...                ...        ...           ...           ...
70732           133192   12389391       7837499       4551892
70733           133192   12389391       7837499       4551892
70734           133192   12389391       7837499       4551892
70735           133192   12389391       7837499       4551892
70736           133192   12389391       7837499       4551892

[70737 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010117   9559091         NaN  instructions    11268880
1         0.010117  16733462         NaN    cpu-cycles    11268880
2         0.010117   1759974         NaN       br_pred    11268880
3         0.010117     70302         NaN   br_mis_pred    11268880
4         0.020635  11670801         NaN  instructions     9879440
...            ...       ...         ...           ...         ...
190835  505.456296     85890         NaN   br_mis_pred    12785800
190836  505.462559  15000882         NaN  instructions     5844800
190837  505.462559   8708129         NaN    cpu-cycles     5844800
190838  505.462559   2163629         NaN       br_pred     5844800
190839  505.462559      4780         NaN   br_mis_pred     5844800

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.57  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.79  insn per cycle
...            ...         ...             ...
190835       100.0         NaN             NaN
190836       100.0        1.72  insn per cycle
190837       100.0         NaN             NaN
190838       100.0         NaN             NaN
190839       100.0         NaN             NaN

[190840 rows x 8 columns]
          time     value       counter
4         0.02  11670801  instructions
8         0.03  18357903  instructions
12        0.04  17305362  instructions
16        0.05  21906982  instructions
20        0.06  20401167  instructions
...        ...       ...           ...
190820  505.42  11652721  instructions
190824  505.43  18794510  instructions
190828  505.44  10885190  instructions
190832  505.46  27314180  instructions
190836  505.46  15000882  instructions

[47709 rows x 3 columns]
instructions
          time instructions
4         0.02     11670801
8         0.03     18357903
12        0.04     17305362
16        0.05     21906982
20        0.06     20401167
...        ...          ...
190820  505.42     11652721
190824  505.43     18794510
190828  505.44     10885190
190832  505.46     27314180
190836  505.46     15000882

[47709 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   16733462
5         0.02   14718853
9         0.03   14594391
13        0.04   14848045
17        0.05   17675541
...        ...        ...
190821  505.42   14754063
190825  505.43   14942170
190829  505.44   14966828
190833  505.46   19093401
190837  505.46    8708129

[47710 rows x 2 columns]
df4
          time  br_pred
2         0.01  1759974
6         0.02  2335297
10        0.03  4199418
14        0.04  3899172
18        0.05  4967992
...        ...      ...
190822  505.42  2568332
190826  505.43  4239679
190830  505.44  2812925
190834  505.46  5618631
190838  505.46  2163629

[47710 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       70302
7         0.02      101265
11        0.03      169400
15        0.04      166234
19        0.05      203427
...        ...         ...
190823  505.42       51874
190827  505.43       28231
190831  505.44       54080
190835  505.46       85890
190839  505.46        4780

[47710 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     11670801   14718853
1        0.03     18357903   14594391
2        0.04     17305362   14848045
3        0.05     21906982   17675541
4        0.06     20401167   14925797
...       ...          ...        ...
47706  505.44     10885190   14966828
47707  505.46     27314180   19093401
47708  505.46     27314180    8708129
47709  505.46     15000882   19093401
47710  505.46     15000882    8708129

[47711 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1759974       70302
1        0.02  2335297      101265
2        0.03  4199418      169400
3        0.04  3899172      166234
4        0.05  4967992      203427
...       ...      ...         ...
47707  505.44  2812925       54080
47708  505.46  5618631       85890
47709  505.46  5618631        4780
47710  505.46  2163629       85890
47711  505.46  2163629        4780

[47712 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010101   8855476         NaN  instructions    10455400
1         0.010101   1707011         NaN  l1d_cache_rd    10455400
2         0.010101   1067278         NaN  l1d_cache_wr    10455400
3         0.010101   2774289         NaN     l1d_cache    10455400
4         0.020576  11655789         NaN  instructions     9887600
...            ...       ...         ...           ...         ...
190691  505.189533   4217466         NaN     l1d_cache    10029760
190692  505.199452  25004818         NaN  instructions     9531320
190693  505.199452   4512494         NaN  l1d_cache_rd     9531320
190694  505.199452   2658083         NaN  l1d_cache_wr     9531320
190695  505.199452   7170577         NaN     l1d_cache     9531320

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
190691       100.0         NaN         NaN
190692       100.0         NaN         NaN
190693       100.0         NaN         NaN
190694       100.0         NaN         NaN
190695       100.0         NaN         NaN

[190696 rows x 8 columns]
          time     value       counter
4         0.02  11655789  instructions
8         0.03  18304483  instructions
12        0.04  17907829  instructions
16        0.05  18596543  instructions
20        0.06  19206108  instructions
...        ...       ...           ...
190676  505.16  10042254  instructions
190680  505.17  22452854  instructions
190684  505.18  10476039  instructions
190688  505.19  18707771  instructions
190692  505.20  25004818  instructions

[47673 rows x 3 columns]
instructions
          time instructions
4         0.02     11655789
8         0.03     18304483
12        0.04     17907829
16        0.05     18596543
20        0.06     19206108
...        ...          ...
190676  505.16     10042254
190680  505.17     22452854
190684  505.18     10476039
190688  505.19     18707771
190692  505.20     25004818

[47673 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1707011
5         0.02      2424705
9         0.03      4417735
13        0.04      4370632
17        0.05      4555244
...        ...          ...
190677  505.16      2254516
190681  505.17      5163440
190685  505.18      2227587
190689  505.19      3132135
190693  505.20      4512494

[47674 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1067278
6         0.02      1476025
10        0.03      2534441
14        0.04      2535914
18        0.05      2615221
...        ...          ...
190678  505.16      1463435
190682  505.17      2665636
190686  505.18      1096227
190690  505.19      1085331
190694  505.20      2658083

[47674 rows x 2 columns]
df5
          time l1d_cache
3         0.01   2774289
7         0.02   3900730
11        0.03   6952176
15        0.04   6906546
19        0.05   7170465
...        ...       ...
190679  505.16   3717951
190683  505.17   7829076
190687  505.18   3323814
190691  505.19   4217466
190695  505.20   7170577

[47674 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     11655789      2424705
1        0.03     18304483      4417735
2        0.04     17907829      4370632
3        0.05     18596543      4555244
4        0.06     19206108      4674256
...       ...          ...          ...
47668  505.16     10042254      2254516
47669  505.17     22452854      5163440
47670  505.18     10476039      2227587
47671  505.19     18707771      3132135
47672  505.20     25004818      4512494

[47673 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      1067278   2774289
1        0.02      1476025   3900730
2        0.03      2534441   6952176
3        0.04      2535914   6906546
4        0.05      2615221   7170465
...       ...          ...       ...
47669  505.16      1463435   3717951
47670  505.17      2665636   7829076
47671  505.18      1096227   3323814
47672  505.19      1085331   4217466
47673  505.20      2658083   7170577

[47674 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010106   9627066         NaN      instructions    11164880
1         0.010106   3474784         NaN         l1i_cache    11164880
2         0.010106    230212         NaN  l1i_cache_refill    11164880
3         0.010106     77623         NaN     remote_access    11164880
4         0.020631  12946225         NaN      instructions     9919840
...            ...       ...         ...               ...         ...
190835  505.822564      3959         NaN     remote_access    10015480
190836  505.826344   8707706         NaN      instructions     3394840
190837  505.826344   2373986         NaN         l1i_cache     3394840
190838  505.826344      5566         NaN  l1i_cache_refill     3394840
190839  505.826344      3897         NaN     remote_access     3394840

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
190835       100.0         NaN         NaN
190836       100.0         NaN         NaN
190837       100.0         NaN         NaN
190838       100.0         NaN         NaN
190839       100.0         NaN         NaN

[190840 rows x 8 columns]
          time     value       counter
4         0.02  12946225  instructions
8         0.03  18169958  instructions
12        0.04  17447448  instructions
16        0.05  18512851  instructions
20        0.06  19726390  instructions
...        ...       ...           ...
190820  505.79  14938466  instructions
190824  505.80  14917416  instructions
190828  505.81  14040005  instructions
190832  505.82  25015429  instructions
190836  505.83   8707706  instructions

[47709 rows x 3 columns]
instructions
          time instructions
4         0.02     12946225
8         0.03     18169958
12        0.04     17447448
16        0.05     18512851
20        0.06     19726390
...        ...          ...
190820  505.79     14938466
190824  505.80     14917416
190828  505.81     14040005
190832  505.82     25015429
190836  505.83      8707706

[47709 rows x 2 columns]
df3
          time l1i_cache
1         0.01   3474784
5         0.02   4865112
9         0.03   7413194
13        0.04   7042378
17        0.05   7437787
...        ...       ...
190821  505.79   4844784
190825  505.80   4701710
190829  505.81   5401956
190833  505.82   6821386
190837  505.83   2373986

[47710 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           230212
6         0.02           278190
10        0.03           382544
14        0.04           431973
18        0.05           434552
...        ...              ...
190822  505.79           156161
190826  505.80            48036
190830  505.81            10026
190834  505.82             9821
190838  505.83             5566

[47710 rows x 2 columns]
df5
          time remote_access
3         0.01         77623
7         0.02         43137
11        0.03         20045
15        0.04         22747
19        0.05         18764
...        ...           ...
190823  505.79          3080
190827  505.80          3377
190831  505.81          2616
190835  505.82          3959
190839  505.83          3897

[47710 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     12946225   4865112
1        0.03     18169958   7413194
2        0.04     17447448   7042378
3        0.05     18512851   7437787
4        0.06     19726390   7611536
...       ...          ...       ...
47704  505.79     14938466   4844784
47705  505.80     14917416   4701710
47706  505.81     14040005   5401956
47707  505.82     25015429   6821386
47708  505.83      8707706   2373986

[47709 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           230212         77623
1        0.02           278190         43137
2        0.03           382544         20045
3        0.04           431973         22747
4        0.05           434552         18764
...       ...              ...           ...
47705  505.79           156161          3080
47706  505.80            48036          3377
47707  505.81            10026          2616
47708  505.82             9821          3959
47709  505.83             5566          3897

[47710 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010128   8047790         NaN  instructions     9523400
1         0.010128    311430         NaN  l2d_cache_rd     9523400
2         0.010128    107128         NaN  l2d_cache_wr     9523400
3         0.010128    418558         NaN     l2d_cache     9523400
4         0.020612  10874876         NaN  instructions     9889920
...            ...       ...         ...           ...         ...
190791  505.510112    794164         NaN     l2d_cache     9840680
190792  505.516421  15108283         NaN  instructions     5899520
190793  505.516421     78885         NaN  l2d_cache_rd     5899520
190794  505.516421     69933         NaN  l2d_cache_wr     5899520
190795  505.516421    148818         NaN     l2d_cache     5899520

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
190791       100.0         NaN         NaN
190792       100.0         NaN         NaN
190793       100.0         NaN         NaN
190794       100.0         NaN         NaN
190795       100.0         NaN         NaN

[190796 rows x 8 columns]
          time     value       counter
4         0.02  10874876  instructions
8         0.03  18857240  instructions
12        0.04  18539656  instructions
16        0.05  18812240  instructions
20        0.06  19709910  instructions
...        ...       ...           ...
190776  505.48  13973334  instructions
190780  505.49  16797271  instructions
190784  505.50  10801587  instructions
190788  505.51  23895820  instructions
190792  505.52  15108283  instructions

[47698 rows x 3 columns]
instructions
          time instructions
4         0.02     10874876
8         0.03     18857240
12        0.04     18539656
16        0.05     18812240
20        0.06     19709910
...        ...          ...
190776  505.48     13973334
190780  505.49     16797271
190784  505.50     10801587
190788  505.51     23895820
190792  505.52     15108283

[47698 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       311430
5         0.02       365570
9         0.03       498847
13        0.04       584951
17        0.05       543096
...        ...          ...
190777  505.48       301925
190781  505.49       287878
190785  505.50       349027
190789  505.51       410519
190793  505.52        78885

[47699 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       107128
6         0.02       117227
10        0.03       122117
14        0.04       120170
18        0.05       122446
...        ...          ...
190778  505.48       128223
190782  505.49       208682
190786  505.50       294083
190790  505.51       383645
190794  505.52        69933

[47699 rows x 2 columns]
df5
          time l2d_cache
3         0.01    418558
7         0.02    482797
11        0.03    620964
15        0.04    705121
19        0.05    665542
...        ...       ...
190779  505.48    430148
190783  505.49    496560
190787  505.50    643110
190791  505.51    794164
190795  505.52    148818

[47699 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     10874876       365570
1        0.03     18857240       498847
2        0.04     18539656       584951
3        0.05     18812240       543096
4        0.06     19709910       470625
...       ...          ...          ...
47693  505.48     13973334       301925
47694  505.49     16797271       287878
47695  505.50     10801587       349027
47696  505.51     23895820       410519
47697  505.52     15108283        78885

[47698 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       107128    418558
1        0.02       117227    482797
2        0.03       122117    620964
3        0.04       120170    705121
4        0.05       122446    665542
...       ...          ...       ...
47694  505.48       128223    430148
47695  505.49       208682    496560
47696  505.50       294083    643110
47697  505.51       383645    794164
47698  505.52        69933    148818

[47699 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010129   9399021         NaN  instructions    11186960
1         0.010129   3957740         NaN       l1d_tlb    11186960
2         0.010129   2605539         NaN    l1d_tlb_rd    11186960
3         0.010129   1352201         NaN    l1d_tlb_wr    11186960
4         0.020627  11282365         NaN  instructions     9878680
...            ...       ...         ...           ...         ...
190887  505.445664   1871344         NaN    l1d_tlb_wr     9995840
190888  505.452413  16295192         NaN  instructions     6286120
190889  505.452413   6079977         NaN       l1d_tlb     6286120
190890  505.452413   4334039         NaN    l1d_tlb_rd     6286120
190891  505.452413   1745938         NaN    l1d_tlb_wr     6286120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
190887       100.0         NaN         NaN
190888       100.0         NaN         NaN
190889       100.0         NaN         NaN
190890       100.0         NaN         NaN
190891       100.0         NaN         NaN

[190892 rows x 8 columns]
          time     value       counter
4         0.02  11282365  instructions
8         0.03  18549773  instructions
12        0.04  17500073  instructions
16        0.05  18695847  instructions
20        0.06  18540500  instructions
...        ...       ...           ...
190872  505.41  14693126  instructions
190876  505.43  16847052  instructions
190880  505.44  11266357  instructions
190884  505.45  23424984  instructions
190888  505.45  16295192  instructions

[47722 rows x 3 columns]
instructions
          time instructions
4         0.02     11282365
8         0.03     18549773
12        0.04     17500073
16        0.05     18695847
20        0.06     18540500
...        ...          ...
190872  505.41     14693126
190876  505.43     16847052
190880  505.44     11266357
190884  505.45     23424984
190888  505.45     16295192

[47722 rows x 2 columns]
df3
          time  l1d_tlb
1         0.01  3957740
5         0.02  4609001
9         0.03  7759038
13        0.04  7489181
17        0.05  7961157
...        ...      ...
190873  505.41  5865430
190877  505.43  6144678
190881  505.44  3725284
190885  505.45  7340935
190889  505.45  6079977

[47723 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2605539
6         0.02    3005058
10        0.03    5005105
14        0.04    4813676
18        0.05    5118841
...        ...        ...
190874  505.41    3839038
190878  505.43    4161395
190882  505.44    2761346
190886  505.45    5469591
190890  505.45    4334039

[47723 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1352201
7         0.02    1603943
11        0.03    2753933
15        0.04    2675505
19        0.05    2842316
...        ...        ...
190875  505.41    2026392
190879  505.43    1983283
190883  505.44     963938
190887  505.45    1871344
190891  505.45    1745938

[47723 rows x 2 columns]
df6
         time instructions  l1d_tlb
0        0.02     11282365  4609001
1        0.03     18549773  7759038
2        0.04     17500073  7489181
3        0.05     18695847  7961157
4        0.06     18540500  7828272
...       ...          ...      ...
47719  505.44     11266357  3725284
47720  505.45     23424984  7340935
47721  505.45     23424984  6079977
47722  505.45     16295192  7340935
47723  505.45     16295192  6079977

[47724 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2605539    1352201
1        0.02    3005058    1603943
2        0.03    5005105    2753933
3        0.04    4813676    2675505
4        0.05    5118841    2842316
...       ...        ...        ...
47720  505.44    2761346     963938
47721  505.45    5469591    1871344
47722  505.45    5469591    1745938
47723  505.45    4334039    1871344
47724  505.45    4334039    1745938

[47725 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010119   9426835         NaN  instructions    11118920
1         0.010119     17592         NaN     dtlb_walk    11118920
2         0.010119      1489         NaN     itlb_walk    11118920
3         0.010119   3149669         NaN       l1i_tlb    11118920
4         0.020614  12248899         NaN  instructions     9897920
...            ...       ...         ...           ...         ...
190915  505.940950   6521444         NaN       l1i_tlb    12167200
190916  505.945931  11615313         NaN  instructions     4488120
190917  505.945931      1278         NaN     dtlb_walk     4488120
190918  505.945931         5         NaN     itlb_walk     4488120
190919  505.945931   2225430         NaN       l1i_tlb     4488120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
190915       100.0         NaN         NaN
190916       100.0         NaN         NaN
190917       100.0         NaN         NaN
190918       100.0         NaN         NaN
190919       100.0         NaN         NaN

[190920 rows x 8 columns]
          time     value       counter
4         0.02  12248899  instructions
8         0.03  18652314  instructions
12        0.04  17114024  instructions
16        0.05  18514218  instructions
20        0.06  19399477  instructions
...        ...       ...           ...
190900  505.91  14180641  instructions
190904  505.92  16941605  instructions
190908  505.93  11204803  instructions
190912  505.94  28523200  instructions
190916  505.95  11615313  instructions

[47729 rows x 3 columns]
instructions
          time instructions
4         0.02     12248899
8         0.03     18652314
12        0.04     17114024
16        0.05     18514218
20        0.06     19399477
...        ...          ...
190900  505.91     14180641
190904  505.92     16941605
190908  505.93     11204803
190912  505.94     28523200
190916  505.95     11615313

[47729 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     17592
5         0.02      8845
9         0.03      1892
13        0.04      2694
17        0.05      2507
...        ...       ...
190901  505.91     13328
190905  505.92     14211
190909  505.93     32463
190913  505.94     17421
190917  505.95      1278

[47730 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1489
6         0.02      1232
10        0.03       598
14        0.04       806
18        0.05       668
...        ...       ...
190902  505.91       940
190906  505.92       914
190910  505.93       264
190914  505.94       193
190918  505.95         5

[47730 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  3149669
7         0.02  4114429
11        0.03  6277038
15        0.04  5861251
19        0.05  6186496
...        ...      ...
190903  505.91  4167960
190907  505.92  4311211
190911  505.93  3973362
190915  505.94  6521444
190919  505.95  2225430

[47730 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     12248899      8845
1        0.03     18652314      1892
2        0.04     17114024      2694
3        0.05     18514218      2507
4        0.06     19399477      3149
...       ...          ...       ...
47724  505.91     14180641     13328
47725  505.92     16941605     14211
47726  505.93     11204803     32463
47727  505.94     28523200     17421
47728  505.95     11615313      1278

[47729 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1489  3149669
1        0.02      1232  4114429
2        0.03       598  6277038
3        0.04       806  5861251
4        0.05       668  6186496
...       ...       ...      ...
47725  505.91       940  4167960
47726  505.92       914  4311211
47727  505.93       264  3973362
47728  505.94       193  6521444
47729  505.95         5  2225430

[47730 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010139   8013864         NaN  instructions     9369960
1         0.010139     55343         NaN       l2d_tlb     9369960
2         0.010139     46366         NaN    l2d_tlb_rd     9369960
3         0.010139      8977         NaN    l2d_tlb_wr     9369960
4         0.022989  15859772         NaN  instructions    12214000
...            ...       ...         ...           ...         ...
190835  505.532148      8491         NaN    l2d_tlb_wr    10130800
190836  505.541008  21337273         NaN  instructions     8264360
190837  505.541008     47221         NaN       l2d_tlb     8264360
190838  505.541008     29859         NaN    l2d_tlb_rd     8264360
190839  505.541008     17362         NaN    l2d_tlb_wr     8264360

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
190835       100.0         NaN         NaN
190836       100.0         NaN         NaN
190837       100.0         NaN         NaN
190838       100.0         NaN         NaN
190839       100.0         NaN         NaN

[190840 rows x 8 columns]
          time     value       counter
4         0.02  15859772  instructions
8         0.03  18022436  instructions
12        0.04  17087391  instructions
16        0.05  18710840  instructions
20        0.06  19773655  instructions
...        ...       ...           ...
190820  505.50  13587370  instructions
190824  505.51  17339300  instructions
190828  505.52  11453363  instructions
190832  505.53  20329391  instructions
190836  505.54  21337273  instructions

[47709 rows x 3 columns]
instructions
          time instructions
4         0.02     15859772
8         0.03     18022436
12        0.04     17087391
16        0.05     18710840
20        0.06     19773655
...        ...          ...
190820  505.50     13587370
190824  505.51     17339300
190828  505.52     11453363
190832  505.53     20329391
190836  505.54     21337273

[47709 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   55343
5         0.02  113780
9         0.03  169814
13        0.04  163348
17        0.05  177781
...        ...     ...
190821  505.50  163108
190825  505.51  120592
190829  505.52  122394
190833  505.53   68973
190837  505.54   47221

[47710 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      46366
6         0.02     102292
10        0.03     161822
14        0.04     155318
18        0.05     169241
...        ...        ...
190822  505.50     150161
190826  505.51     111679
190830  505.52     114837
190834  505.53      60482
190838  505.54      29859

[47710 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01       8977
7         0.02      11488
11        0.03       7992
15        0.04       8030
19        0.05       8540
...        ...        ...
190823  505.50      12947
190827  505.51       8913
190831  505.52       7557
190835  505.53       8491
190839  505.54      17362

[47710 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     15859772  113780
1        0.03     18022436  169814
2        0.04     17087391  163348
3        0.05     18710840  177781
4        0.06     19773655  160240
...       ...          ...     ...
47704  505.50     13587370  163108
47705  505.51     17339300  120592
47706  505.52     11453363  122394
47707  505.53     20329391   68973
47708  505.54     21337273   47221

[47709 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      46366       8977
1        0.02     102292      11488
2        0.03     161822       7992
3        0.04     155318       8030
4        0.05     169241       8540
...       ...        ...        ...
47705  505.50     150161      12947
47706  505.51     111679       8913
47707  505.52     114837       7557
47708  505.53      60482       8491
47709  505.54      29859      17362

[47710 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010104   8794663         NaN  instructions    10656560
1         0.010104        12         NaN      vfp_spec    10656560
2         0.010104  10560397         NaN     inst_spec    10656560
3         0.010104      5763         NaN      ase_spec    10656560
4         0.020599  10903498         NaN  instructions     9933640
...            ...       ...         ...           ...         ...
190731  505.625743         0         NaN      ase_spec    10006520
190732  505.628495   5467736         NaN  instructions     2336960
190733  505.628495         0         NaN      vfp_spec     2336960
190734  505.628495   5657064         NaN     inst_spec     2336960
190735  505.628495         0         NaN      ase_spec     2336960

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
190731       100.0         NaN         NaN
190732       100.0         NaN         NaN
190733       100.0         NaN         NaN
190734       100.0         NaN         NaN
190735       100.0         NaN         NaN

[190736 rows x 8 columns]
          time     value       counter
4         0.02  10903498  instructions
8         0.03  17668450  instructions
12        0.04  17484879  instructions
16        0.05  18451776  instructions
20        0.06  19092805  instructions
...        ...       ...           ...
190716  505.59  19451662  instructions
190720  505.61  11642721  instructions
190724  505.62  14875467  instructions
190728  505.63  26606900  instructions
190732  505.63   5467736  instructions

[47683 rows x 3 columns]
instructions
          time instructions
4         0.02     10903498
8         0.03     17668450
12        0.04     17484879
16        0.05     18451776
20        0.06     19092805
...        ...          ...
190716  505.59     19451662
190720  505.61     11642721
190724  505.62     14875467
190728  505.63     26606900
190732  505.63      5467736

[47683 rows x 2 columns]
df3
          time vfp_spec
1         0.01       12
5         0.02      276
9         0.03     2851
13        0.04     1021
17        0.05      800
...        ...      ...
190717  505.59        0
190721  505.61        0
190725  505.62        0
190729  505.63        0
190733  505.63        0

[47684 rows x 2 columns]
df4
          time inst_spec
2         0.01  10560397
6         0.02  13391107
10        0.03  22020517
14        0.04  22007338
18        0.05  22967003
...        ...       ...
190718  505.59  20863765
190722  505.61  13296240
190726  505.62  19319973
190730  505.63  26918687
190734  505.63   5657064

[47684 rows x 2 columns]
df5
          time ase_spec
3         0.01     5763
7         0.02    11477
11        0.03    26954
15        0.04    13464
19        0.05    11260
...        ...      ...
190719  505.59     2428
190723  505.61      624
190727  505.62        0
190731  505.63        0
190735  505.63        0

[47684 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     10903498      276
1        0.03     17668450     2851
2        0.04     17484879     1021
3        0.05     18451776      800
4        0.06     19092805      386
...       ...          ...      ...
47680  505.62     14875467        0
47681  505.63     26606900        0
47682  505.63     26606900        0
47683  505.63      5467736        0
47684  505.63      5467736        0

[47685 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  10560397     5763
1        0.02  13391107    11477
2        0.03  22020517    26954
3        0.04  22007338    13464
4        0.05  22967003    11260
...       ...       ...      ...
47681  505.62  19319973        0
47682  505.63  26918687        0
47683  505.63  26918687        0
47684  505.63   5657064        0
47685  505.63   5657064        0

[47686 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010131   8394263         NaN      instructions    10039680
1         0.010131   5067530         NaN     stall_backend    10039680
2         0.010131   6745006         NaN    stall_frontend    10039680
3         0.010131    149489         NaN  ll_cache_miss_rd    10039680
4         0.020675  10259284         NaN      instructions     9861840
...            ...       ...         ...               ...         ...
190887  505.326151    413666         NaN  ll_cache_miss_rd     9909280
190888  505.331700  13473412         NaN      instructions     5149800
190889  505.331700   3355986         NaN     stall_backend     5149800
190890  505.331700    319134         NaN    stall_frontend     5149800
190891  505.331700     63354         NaN  ll_cache_miss_rd     5149800

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
190887       100.0         NaN         NaN
190888       100.0         NaN         NaN
190889       100.0         NaN         NaN
190890       100.0         NaN         NaN
190891       100.0         NaN         NaN

[190892 rows x 8 columns]
          time     value       counter
4         0.02  10259284  instructions
8         0.03  18295478  instructions
12        0.04  17588922  instructions
16        0.05  21454341  instructions
20        0.06  19640529  instructions
...        ...       ...           ...
190872  505.30  14731547  instructions
190876  505.31  15164478  instructions
190880  505.32  11325401  instructions
190884  505.33  24473098  instructions
190888  505.33  13473412  instructions

[47722 rows x 3 columns]
instructions
          time instructions
4         0.02     10259284
8         0.03     18295478
12        0.04     17588922
16        0.05     21454341
20        0.06     19640529
...        ...          ...
190872  505.30     14731547
190876  505.31     15164478
190880  505.32     11325401
190884  505.33     24473098
190888  505.33     13473412

[47722 rows x 2 columns]
df3
          time stall_backend
1         0.01       5067530
5         0.02       4803254
9         0.03       2419150
13        0.04       2399671
17        0.05       2720486
...        ...           ...
190873  505.30       8381236
190877  505.31       8929660
190881  505.32       9968399
190885  505.33       6454596
190889  505.33       3355986

[47723 rows x 2 columns]
df4
          time stall_frontend
2         0.01        6745006
6         0.02        6037397
10        0.03        5101091
14        0.04        5566357
18        0.05        6024499
...        ...            ...
190874  505.30        1480433
190878  505.31         977788
190882  505.32         544965
190886  505.33         513934
190890  505.33         319134

[47723 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           149489
7         0.02           132521
11        0.03            92889
15        0.04            91753
19        0.05           113379
...        ...              ...
190875  505.30            95165
190879  505.31           205976
190883  505.32           398780
190887  505.33           413666
190891  505.33            63354

[47723 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     10259284       4803254
1        0.03     18295478       2419150
2        0.04     17588922       2399671
3        0.05     21454341       2720486
4        0.06     19640529       2485495
...       ...          ...           ...
47719  505.32     11325401       9968399
47720  505.33     24473098       6454596
47721  505.33     24473098       3355986
47722  505.33     13473412       6454596
47723  505.33     13473412       3355986

[47724 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        6745006           149489
1        0.02        6037397           132521
2        0.03        5101091            92889
3        0.04        5566357            91753
4        0.05        6024499           113379
...       ...            ...              ...
47720  505.32         544965           398780
47721  505.33         513934           413666
47722  505.33         513934            63354
47723  505.33         319134           413666
47724  505.33         319134            63354

[47725 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.011896   9179920         NaN   instructions    10539360
1         0.011896   2875078         NaN     mem_access    10539360
2         0.011896   1765420         NaN  mem_access_rd    10539360
3         0.011896   1109658         NaN  mem_access_wr    10539360
4         0.024173  16831634         NaN   instructions    11694720
...            ...       ...         ...            ...         ...
190511  504.203258   1672601         NaN  mem_access_wr    11876960
190512  504.211289  19286873         NaN   instructions     7490720
190513  504.211289   5547661         NaN     mem_access     7490720
190514  504.211289   3493396         NaN  mem_access_rd     7490720
190515  504.211289   2054265         NaN  mem_access_wr     7490720

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
190511       100.0         NaN         NaN
190512       100.0         NaN         NaN
190513       100.0         NaN         NaN
190514       100.0         NaN         NaN
190515       100.0         NaN         NaN

[190516 rows x 8 columns]
          time     value       counter
4         0.02  16831634  instructions
8         0.03  17755750  instructions
12        0.04  17688150  instructions
16        0.05  18214039  instructions
20        0.07  20695490  instructions
...        ...       ...           ...
190496  504.17  10895057  instructions
190500  504.18  15415865  instructions
190504  504.19  12514742  instructions
190508  504.20  24033467  instructions
190512  504.21  19286873  instructions

[47628 rows x 3 columns]
instructions
          time instructions
4         0.02     16831634
8         0.03     17755750
12        0.04     17688150
16        0.05     18214039
20        0.07     20695490
...        ...          ...
190496  504.17     10895057
190500  504.18     15415865
190504  504.19     12514742
190508  504.20     24033467
190512  504.21     19286873

[47628 rows x 2 columns]
df3
          time mem_access
1         0.01    2875078
5         0.02    5774424
9         0.03    6895339
13        0.04    6799352
17        0.05    7073569
...        ...        ...
190497  504.17    4018429
190501  504.18    5297333
190505  504.19    3971847
190509  504.20    5779908
190513  504.21    5547661

[47629 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1765420
6         0.02       3628143
10        0.03       4372030
14        0.04       4279170
18        0.05       4500535
...        ...           ...
190498  504.17       2491926
190502  504.18       3511940
190506  504.19       2717111
190510  504.20       4107307
190514  504.21       3493396

[47629 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1109658
7         0.02       2146281
11        0.03       2523309
15        0.04       2520182
19        0.05       2573034
...        ...           ...
190499  504.17       1526503
190503  504.18       1785393
190507  504.19       1254736
190511  504.20       1672601
190515  504.21       2054265

[47629 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     16831634    5774424
1        0.03     17755750    6895339
2        0.04     17688150    6799352
3        0.05     18214039    7073569
4        0.07     20695490    7904015
...       ...          ...        ...
47623  504.17     10895057    4018429
47624  504.18     15415865    5297333
47625  504.19     12514742    3971847
47626  504.20     24033467    5779908
47627  504.21     19286873    5547661

[47628 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1765420       1109658
1        0.02       3628143       2146281
2        0.03       4372030       2523309
3        0.04       4279170       2520182
4        0.05       4500535       2573034
...       ...           ...           ...
47624  504.17       2491926       1526503
47625  504.18       3511940       1785393
47626  504.19       2717111       1254736
47627  504.20       4107307       1672601
47628  504.21       3493396       2054265

[47629 rows x 3 columns]
merged_df
         time instructions cpu-cycles  br_pred br_mis_pred l1d_cache_rd  \
0        0.02     11670801   14718853  2335297      101265      2424705
1        0.03     18357903   14594391  4199418      169400      4417735
2        0.04     17305362   14848045  3899172      166234      4370632
3        0.05     21906982   17675541  4967992      203427      4555244
4        0.07     26415262   14898743  6460910      128253      6239331
...       ...          ...        ...      ...         ...          ...
28378  504.15     39623916   15003816  8942856       28081      7972530
28379  504.16     22598526   14978655  4984803       87483      9149283
28380  504.17     21774853   14892889  4808369       85976      8260376
28381  504.18     23176207   14867701  4947023       76841      8139662
28382  504.21     26234723   16114049  5421483       69604      8106618

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ... l2d_tlb_wr  \
0          1476025   3900730   4865112           278190  ...      11488
1          2534441   6952176   7413194           382544  ...       7992
2          2535914   6906546   7042378           431973  ...       8030
3          2615221   7170465   7437787           434552  ...       8540
4          2999923   9239254   9030298           344484  ...       8280
...            ...       ...       ...              ...  ...        ...
28378      4520305  12492835   6863107           395811  ...      14327
28379      5167231  14316514   7829913           416405  ...      12736
28380      4660523  12920899   9749670            84078  ...      13287
28381      4602280  12741942  10193088            84947  ...      17519
28382      4611281  12717899   7227368           161773  ...      12674

      vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0          276  13391107    11477       4803254        6037397
1         2851  22020517    26954       2419150        5101091
2         1021  22007338    13464       2399671        5566357
3          800  22967003    11260       2720486        6024499
4          296  27723240    18305       2083140        3919947
...        ...       ...      ...           ...            ...
28378    23526  26935524     2503       2645513        1920914
28379    46336  29141983     6067       3397963        2315405
28380    35912  41704002     4826       2667394        1623411
28381     5923  35691954      506       3444668        1943940
28382    18032  31943079      942       2496047        1416341

      ll_cache_miss_rd     mem_access  mem_access_rd  mem_access_wr
0               132521        5774424        3628143        2146281
1                92889        6895339        4372030        2523309
2                91753        6799352        4279170        2520182
3               113379        7073569        4500535        2573034
4                58340        7904015        5035595        2868420
...                ...            ...            ...            ...
28378           109374  <not counted>  <not counted>  <not counted>
28379           138900        2787967        1760729        1027238
28380            89976        4018429        2491926        1526503
28381           137696        5297333        3511940        1785393
28382            81935        5547661        3493396        2054265

[28383 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010129   8425617         NaN  instructions    10464480
1         0.010129  15542036         NaN    cpu-cycles    10464480
2         0.010129   1555556         NaN       br_pred    10464480
3         0.010129     63719         NaN   br_mis_pred    10464480
4         0.020578  10173711         NaN  instructions     9866160
...            ...       ...         ...           ...         ...
274563  720.820678    102433         NaN   br_mis_pred    10387920
274564  720.830413  24292587         NaN  instructions     9295480
274565  720.830413  13888331         NaN    cpu-cycles     9295480
274566  720.830413   3493887         NaN       br_pred     9295480
274567  720.830413      5882         NaN   br_mis_pred     9295480

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.54  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.69  insn per cycle
...            ...         ...             ...
274563       100.0         NaN             NaN
274564       100.0        1.75  insn per cycle
274565       100.0         NaN             NaN
274566       100.0         NaN             NaN
274567       100.0         NaN             NaN

[274568 rows x 8 columns]
          time     value       counter
4         0.02  10173711  instructions
8         0.03  18190011  instructions
12        0.04  16986145  instructions
16        0.05  17942102  instructions
20        0.06  19939172  instructions
...        ...       ...           ...
274548  720.79  11542530  instructions
274552  720.80  18412709  instructions
274556  720.81  10195327  instructions
274560  720.82  19759106  instructions
274564  720.83  24292587  instructions

[68641 rows x 3 columns]
instructions
          time instructions
4         0.02     10173711
8         0.03     18190011
12        0.04     16986145
16        0.05     17942102
20        0.06     19939172
...        ...          ...
274548  720.79     11542530
274552  720.80     18412709
274556  720.81     10195327
274560  720.82     19759106
274564  720.83     24292587

[68641 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   15542036
5         0.02   14691004
9         0.03   14657556
13        0.04   14722706
17        0.05   14913138
...        ...        ...
274549  720.79   14920691
274553  720.80   14949814
274557  720.81   14922982
274561  720.82   15523400
274565  720.83   13888331

[68642 rows x 2 columns]
df4
          time  br_pred
2         0.01  1555556
6         0.02  1965755
10        0.03  4143340
14        0.04  3812984
18        0.05  4066718
...        ...      ...
274550  720.79  2534705
274554  720.80  4131593
274558  720.81  2552235
274562  720.82  4800659
274566  720.83  3493887

[68642 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       63719
7         0.02       80791
11        0.03      163788
15        0.04      164664
19        0.05      167173
...        ...         ...
274551  720.79       53828
274555  720.80       27956
274559  720.81       39696
274563  720.82      102433
274567  720.83        5882

[68642 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     10173711   14691004
1        0.03     18190011   14657556
2        0.04     16986145   14722706
3        0.05     17942102   14913138
4        0.06     19939172   15028624
...       ...          ...        ...
68636  720.79     11542530   14920691
68637  720.80     18412709   14949814
68638  720.81     10195327   14922982
68639  720.82     19759106   15523400
68640  720.83     24292587   13888331

[68641 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1555556       63719
1        0.02  1965755       80791
2        0.03  4143340      163788
3        0.04  3812984      164664
4        0.05  4066718      167173
...       ...      ...         ...
68637  720.79  2534705       53828
68638  720.80  4131593       27956
68639  720.81  2552235       39696
68640  720.82  4800659      102433
68641  720.83  3493887        5882

[68642 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010218   7999162         NaN  instructions     9570960
1         0.010218   1540771         NaN  l1d_cache_rd     9570960
2         0.010218    949741         NaN  l1d_cache_wr     9570960
3         0.010218   2490512         NaN     l1d_cache     9570960
4         0.020723  10343313         NaN  instructions     9836640
...            ...       ...         ...           ...         ...
274423  719.028309   6005001         NaN     l1d_cache    11450400
274424  719.035513  17454073         NaN  instructions     6787400
274425  719.035513   3168929         NaN  l1d_cache_rd     6787400
274426  719.035513   1859080         NaN  l1d_cache_wr     6787400
274427  719.035513   5028009         NaN     l1d_cache     6787400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
274423       100.0         NaN         NaN
274424       100.0         NaN         NaN
274425       100.0         NaN         NaN
274426       100.0         NaN         NaN
274427       100.0         NaN         NaN

[274428 rows x 8 columns]
          time     value       counter
4         0.02  10343313  instructions
8         0.03  18235543  instructions
12        0.04  16945616  instructions
16        0.05  17438259  instructions
20        0.06  23280107  instructions
...        ...       ...           ...
274408  719.00  12862853  instructions
274412  719.01  17598270  instructions
274416  719.02  11395842  instructions
274420  719.03  24213568  instructions
274424  719.04  17454073  instructions

[68606 rows x 3 columns]
instructions
          time instructions
4         0.02     10343313
8         0.03     18235543
12        0.04     16945616
16        0.05     17438259
20        0.06     23280107
...        ...          ...
274408  719.00     12862853
274412  719.01     17598270
274416  719.02     11395842
274420  719.03     24213568
274424  719.04     17454073

[68606 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1540771
5         0.02      2084028
9         0.03      4390800
13        0.04      4101045
17        0.05      4302748
...        ...          ...
274409  719.00      2927734
274413  719.01      4021019
274417  719.02      2316754
274421  719.03      4167939
274425  719.04      3168929

[68607 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01       949741
6         0.02      1282429
10        0.03      2531154
14        0.04      2400584
18        0.05      2500112
...        ...          ...
274410  719.00      1733379
274414  719.01      2056929
274418  719.02      1008709
274422  719.03      1837062
274426  719.04      1859080

[68607 rows x 2 columns]
df5
          time l1d_cache
3         0.01   2490512
7         0.02   3366457
11        0.03   6921954
15        0.04   6501629
19        0.05   6802860
...        ...       ...
274411  719.00   4661113
274415  719.01   6077948
274419  719.02   3325463
274423  719.03   6005001
274427  719.04   5028009

[68607 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     10343313      2084028
1        0.03     18235543      4390800
2        0.04     16945616      4101045
3        0.05     17438259      4302748
4        0.06     23280107      5656917
...       ...          ...          ...
68601  719.00     12862853      2927734
68602  719.01     17598270      4021019
68603  719.02     11395842      2316754
68604  719.03     24213568      4167939
68605  719.04     17454073      3168929

[68606 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01       949741   2490512
1        0.02      1282429   3366457
2        0.03      2531154   6921954
3        0.04      2400584   6501629
4        0.05      2500112   6802860
...       ...          ...       ...
68602  719.00      1733379   4661113
68603  719.01      2056929   6077948
68604  719.02      1008709   3325463
68605  719.03      1837062   6005001
68606  719.04      1859080   5028009

[68607 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010123   8764528         NaN      instructions    10065600
1         0.010123   3181463         NaN         l1i_cache    10065600
2         0.010123    213007         NaN  l1i_cache_refill    10065600
3         0.010123     66778         NaN     remote_access    10065600
4         0.020554  11680201         NaN      instructions     9848720
...            ...       ...         ...               ...         ...
284383  745.084453      4932         NaN     remote_access    10017320
284384  745.084862     89559         NaN      instructions       80520
284385  745.084862     29124         NaN         l1i_cache       80520
284386  745.084862       789         NaN  l1i_cache_refill       80520
284387  745.084862       276         NaN     remote_access       80520

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
284383       100.0         NaN         NaN
284384       100.0         NaN         NaN
284385       100.0         NaN         NaN
284386       100.0         NaN         NaN
284387       100.0         NaN         NaN

[284388 rows x 8 columns]
          time     value       counter
4         0.02  11680201  instructions
8         0.03  19292460  instructions
12        0.04  17385248  instructions
16        0.05  21774691  instructions
20        0.06  20199664  instructions
...        ...       ...           ...
284368  745.05  18642163  instructions
284372  745.06  10960144  instructions
284376  745.07  18173608  instructions
284380  745.08  26546398  instructions
284384  745.08     89559  instructions

[71096 rows x 3 columns]
instructions
          time instructions
4         0.02     11680201
8         0.03     19292460
12        0.04     17385248
16        0.05     21774691
20        0.06     20199664
...        ...          ...
284368  745.05     18642163
284372  745.06     10960144
284376  745.07     18173608
284380  745.08     26546398
284384  745.08        89559

[71096 rows x 2 columns]
df3
          time l1i_cache
1         0.01   3181463
5         0.02   4468434
9         0.03   7739384
13        0.04   7044336
17        0.05   8769103
...        ...       ...
284369  745.05   5734068
284373  745.06   3790444
284377  745.07   6429015
284381  745.08   7100915
284385  745.08     29124

[71097 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           213007
6         0.02           273638
10        0.03           385299
14        0.04           433060
18        0.05           506236
...        ...              ...
284370  745.05           118604
284374  745.06            39799
284378  745.07            12303
284382  745.08             7760
284386  745.08              789

[71097 rows x 2 columns]
df5
          time remote_access
3         0.01         66778
7         0.02         45082
11        0.03         15911
15        0.04         19317
19        0.05         21238
...        ...           ...
284371  745.05          4808
284375  745.06          3980
284379  745.07          5522
284383  745.08          4932
284387  745.08           276

[71097 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     11680201   4468434
1        0.03     19292460   7739384
2        0.04     17385248   7044336
3        0.05     21774691   8769103
4        0.06     20199664   7848359
...       ...          ...       ...
71093  745.07     18173608   6429015
71094  745.08     26546398   7100915
71095  745.08     26546398     29124
71096  745.08        89559   7100915
71097  745.08        89559     29124

[71098 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           213007         66778
1        0.02           273638         45082
2        0.03           385299         15911
3        0.04           433060         19317
4        0.05           506236         21238
...       ...              ...           ...
71094  745.07            12303          5522
71095  745.08             7760          4932
71096  745.08             7760           276
71097  745.08              789          4932
71098  745.08              789           276

[71099 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010110   9019599         NaN  instructions    11134560
1         0.010110    345256         NaN  l2d_cache_rd    11134560
2         0.010110    118861         NaN  l2d_cache_wr    11134560
3         0.010110    464117         NaN     l2d_cache    11134560
4         0.020620  10856461         NaN  instructions     9782360
...            ...       ...         ...           ...         ...
284163  745.480960    842299         NaN     l2d_cache    11729440
284164  745.485605  10944573         NaN  instructions     4219240
284165  745.485605     61305         NaN  l2d_cache_rd     4219240
284166  745.485605     53886         NaN  l2d_cache_wr     4219240
284167  745.485605    115191         NaN     l2d_cache     4219240

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
284163       100.0         NaN         NaN
284164       100.0         NaN         NaN
284165       100.0         NaN         NaN
284166       100.0         NaN         NaN
284167       100.0         NaN         NaN

[284168 rows x 8 columns]
          time     value       counter
4         0.02  10856461  instructions
8         0.03  18253355  instructions
12        0.04  16520896  instructions
16        0.05  18362519  instructions
20        0.06  19359991  instructions
...        ...       ...           ...
284148  745.45  13532297  instructions
284152  745.46  17185037  instructions
284156  745.47  10732732  instructions
284160  745.48  28250216  instructions
284164  745.49  10944573  instructions

[71041 rows x 3 columns]
instructions
          time instructions
4         0.02     10856461
8         0.03     18253355
12        0.04     16520896
16        0.05     18362519
20        0.06     19359991
...        ...          ...
284148  745.45     13532297
284152  745.46     17185037
284156  745.47     10732732
284160  745.48     28250216
284164  745.49     10944573

[71041 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       345256
5         0.02       365656
9         0.03       476188
13        0.04       535034
17        0.05       517335
...        ...          ...
284149  745.45       312663
284153  745.46       279661
284157  745.47       342138
284161  745.48       434921
284165  745.49        61305

[71042 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       118861
6         0.02       113642
10        0.03       110445
14        0.04       108696
18        0.05       116261
...        ...          ...
284150  745.45       123655
284154  745.46       207962
284158  745.47       287587
284162  745.48       407378
284166  745.49        53886

[71042 rows x 2 columns]
df5
          time l2d_cache
3         0.01    464117
7         0.02    479298
11        0.03    586633
15        0.04    643730
19        0.05    633596
...        ...       ...
284151  745.45    436318
284155  745.46    487623
284159  745.47    629725
284163  745.48    842299
284167  745.49    115191

[71042 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     10856461       365656
1        0.03     18253355       476188
2        0.04     16520896       535034
3        0.05     18362519       517335
4        0.06     19359991       470635
...       ...          ...          ...
71036  745.45     13532297       312663
71037  745.46     17185037       279661
71038  745.47     10732732       342138
71039  745.48     28250216       434921
71040  745.49     10944573        61305

[71041 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

df7
         time l2d_cache_wr l2d_cache
0        0.01       118861    464117
1        0.02       113642    479298
2        0.03       110445    586633
3        0.04       108696    643730
4        0.05       116261    633596
...       ...          ...       ...
71037  745.45       123655    436318
71038  745.46       207962    487623
71039  745.47       287587    629725
71040  745.48       407378    842299
71041  745.49        53886    115191

[71042 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010111   8472653         NaN  instructions    10602400
1         0.010111   3559756         NaN       l1d_tlb    10602400
2         0.010111   2357948         NaN    l1d_tlb_rd    10602400
3         0.010111   1201808         NaN    l1d_tlb_wr    10602400
4         0.020526  10103157         NaN  instructions     9860760
...            ...       ...         ...           ...         ...
274651  720.556130   2110694         NaN    l1d_tlb_wr     9988520
274652  720.561700  13321929         NaN  instructions     5152080
274653  720.561700   4878652         NaN       l1d_tlb     5152080
274654  720.561700   3430983         NaN    l1d_tlb_rd     5152080
274655  720.561700   1447669         NaN    l1d_tlb_wr     5152080

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
274651       100.0         NaN         NaN
274652       100.0         NaN         NaN
274653       100.0         NaN         NaN
274654       100.0         NaN         NaN
274655       100.0         NaN         NaN

[274656 rows x 8 columns]
          time     value       counter
4         0.02  10103157  instructions
8         0.03  18466798  instructions
12        0.04  16675871  instructions
16        0.05  17909745  instructions
20        0.06  19896337  instructions
...        ...       ...           ...
274636  720.53  15345482  instructions
274640  720.54  15360352  instructions
274644  720.55  11841047  instructions
274648  720.56  24279868  instructions
274652  720.56  13321929  instructions

[68663 rows x 3 columns]
instructions
          time instructions
4         0.02     10103157
8         0.03     18466798
12        0.04     16675871
16        0.05     17909745
20        0.06     19896337
...        ...          ...
274636  720.53     15345482
274640  720.54     15360352
274644  720.55     11841047
274648  720.56     24279868
274652  720.56     13321929

[68663 rows x 2 columns]
df3
          time  l1d_tlb
1         0.01  3559756
5         0.02  4149125
9         0.03  7721699
13        0.04  7094612
17        0.05  7725820
...        ...      ...
274637  720.53  5833444
274641  720.54  5509205
274645  720.55  3802289
274649  720.56  8205396
274653  720.56  4878652

[68664 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2357948
6         0.02    2729189
10        0.03    4971686
14        0.04    4554778
18        0.05    4965422
...        ...        ...
274638  720.53    3892284
274642  720.54    3713926
274646  720.55    2858008
274650  720.56    6094702
274654  720.56    3430983

[68664 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1201808
7         0.02    1419936
11        0.03    2750013
15        0.04    2539834
19        0.05    2760398
...        ...        ...
274639  720.53    1941160
274643  720.54    1795279
274647  720.55     944281
274651  720.56    2110694
274655  720.56    1447669

[68664 rows x 2 columns]
df6
         time instructions  l1d_tlb
0        0.02     10103157  4149125
1        0.03     18466798  7721699
2        0.04     16675871  7094612
3        0.05     17909745  7725820
4        0.06     19896337  8326275
...       ...          ...      ...
68660  720.55     11841047  3802289
68661  720.56     24279868  8205396
68662  720.56     24279868  4878652
68663  720.56     13321929  8205396
68664  720.56     13321929  4878652

[68665 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2357948    1201808
1        0.02    2729189    1419936
2        0.03    4971686    2750013
3        0.04    4554778    2539834
4        0.05    4965422    2760398
...       ...        ...        ...
68661  720.55    2858008     944281
68662  720.56    6094702    2110694
68663  720.56    6094702    1447669
68664  720.56    3430983    2110694
68665  720.56    3430983    1447669

[68666 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010133   8032666         NaN  instructions     9756920
1         0.010133     14992         NaN     dtlb_walk     9756920
2         0.010133      1223         NaN     itlb_walk     9756920
3         0.010133   2686389         NaN       l1i_tlb     9756920
4         0.020620  10138364         NaN  instructions     9876280
...            ...       ...         ...           ...         ...
284683  745.824167   5483669         NaN       l1i_tlb    10208080
284684  745.832797  21388835         NaN  instructions     8235320
284685  745.832797      1368         NaN     dtlb_walk     8235320
284686  745.832797         4         NaN     itlb_walk     8235320
284687  745.832797   4147028         NaN       l1i_tlb     8235320

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
284683       100.0         NaN         NaN
284684       100.0         NaN         NaN
284685       100.0         NaN         NaN
284686       100.0         NaN         NaN
284687       100.0         NaN         NaN

[284688 rows x 8 columns]
          time     value       counter
4         0.02  10138364  instructions
8         0.03  18479196  instructions
12        0.04  17820930  instructions
16        0.05  18904152  instructions
20        0.06  19029581  instructions
...        ...       ...           ...
284668  745.79  11812584  instructions
284672  745.80  18831684  instructions
284676  745.81  11146031  instructions
284680  745.82  20436696  instructions
284684  745.83  21388835  instructions

[71171 rows x 3 columns]
instructions
          time instructions
4         0.02     10138364
8         0.03     18479196
12        0.04     17820930
16        0.05     18904152
20        0.06     19029581
...        ...          ...
284668  745.79     11812584
284672  745.80     18831684
284676  745.81     11146031
284680  745.82     20436696
284684  745.83     21388835

[71171 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     14992
5         0.02     12237
9         0.03      1811
13        0.04      2684
17        0.05      2352
...        ...       ...
284669  745.79     13222
284673  745.80     14025
284677  745.81     29169
284681  745.82     23453
284685  745.83      1368

[71172 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1223
6         0.02      1314
10        0.03       479
14        0.04       740
18        0.05       607
...        ...       ...
284670  745.79      1134
284674  745.80      1040
284678  745.81       347
284682  745.82       239
284686  745.83         4

[71172 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  2686389
7         0.02  3377777
11        0.03  6181094
15        0.04  6081775
19        0.05  6259662
...        ...      ...
284671  745.79  3651029
284675  745.80  4713412
284679  745.81  3587017
284683  745.82  5483669
284687  745.83  4147028

[71172 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     10138364     12237
1        0.03     18479196      1811
2        0.04     17820930      2684
3        0.05     18904152      2352
4        0.06     19029581      3082
...       ...          ...       ...
71166  745.79     11812584     13222
71167  745.80     18831684     14025
71168  745.81     11146031     29169
71169  745.82     20436696     23453
71170  745.83     21388835      1368

[71171 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1223  2686389
1        0.02      1314  3377777
2        0.03       479  6181094
3        0.04       740  6081775
4        0.05       607  6259662
...       ...       ...      ...
71167  745.79      1134  3651029
71168  745.80      1040  4713412
71169  745.81       347  3587017
71170  745.82       239  5483669
71171  745.83         4  4147028

[71172 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010179   7966530         NaN  instructions     8900840
1         0.010179     52530         NaN       l2d_tlb     8900840
2         0.010179     43570         NaN    l2d_tlb_rd     8900840
3         0.010179      8960         NaN    l2d_tlb_wr     8900840
4         0.023140  16598440         NaN  instructions    12330560
...            ...       ...         ...           ...         ...
275143  721.223199      8119         NaN    l2d_tlb_wr     9946720
275144  721.232136  22007145         NaN  instructions     8500200
275145  721.232136     49217         NaN       l2d_tlb     8500200
275146  721.232136     31189         NaN    l2d_tlb_rd     8500200
275147  721.232136     18028         NaN    l2d_tlb_wr     8500200

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
275143       100.0         NaN         NaN
275144       100.0         NaN         NaN
275145       100.0         NaN         NaN
275146       100.0         NaN         NaN
275147       100.0         NaN         NaN

[275148 rows x 8 columns]
          time     value       counter
4         0.02  16598440  instructions
8         0.03  18169667  instructions
12        0.04  17251120  instructions
16        0.05  18509116  instructions
20        0.06  20434763  instructions
...        ...       ...           ...
275128  721.19  11686887  instructions
275132  721.20  18443976  instructions
275136  721.21  11163775  instructions
275140  721.22  19792909  instructions
275144  721.23  22007145  instructions

[68786 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

instructions
          time instructions
4         0.02     16598440
8         0.03     18169667
12        0.04     17251120
16        0.05     18509116
20        0.06     20434763
...        ...          ...
275128  721.19     11686887
275132  721.20     18443976
275136  721.21     11163775
275140  721.22     19792909
275144  721.23     22007145

[68786 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   52530
5         0.02  119229
9         0.03  171060
13        0.04  167344
17        0.05  178549
...        ...     ...
275129  721.19  150021
275133  721.20  114498
275137  721.21  125919
275141  721.22   68419
275145  721.23   49217

[68787 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      43570
6         0.02     107540
10        0.03     163024
14        0.04     159060
18        0.05     169987
...        ...        ...
275130  721.19     138122
275134  721.20     105824
275138  721.21     118064
275142  721.22      60300
275146  721.23      31189

[68787 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01       8960
7         0.02      11689
11        0.03       8036
15        0.04       8284
19        0.05       8562
...        ...        ...
275131  721.19      11899
275135  721.20       8674
275139  721.21       7855
275143  721.22       8119
275147  721.23      18028

[68787 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     16598440  119229
1        0.03     18169667  171060
2        0.04     17251120  167344
3        0.05     18509116  178549
4        0.06     20434763  165346
...       ...          ...     ...
68781  721.19     11686887  150021
68782  721.20     18443976  114498
68783  721.21     11163775  125919
68784  721.22     19792909   68419
68785  721.23     22007145   49217

[68786 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      43570       8960
1        0.02     107540      11689
2        0.03     163024       8036
3        0.04     159060       8284
4        0.05     169987       8562
...       ...        ...        ...
68782  721.19     138122      11899
68783  721.20     105824       8674
68784  721.21     118064       7855
68785  721.22      60300       8119
68786  721.23      31189      18028

[68787 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010112   9374672         NaN  instructions    10685720
1         0.010112        12         NaN      vfp_spec    10685720
2         0.010112  11283725         NaN     inst_spec    10685720
3         0.010112      5810         NaN      ase_spec    10685720
4         0.020562  12778359         NaN  instructions     9944920
...            ...       ...         ...           ...         ...
274743  720.343279         3         NaN      ase_spec    10122720
274744  720.348277  11841880         NaN  instructions     4616680
274745  720.348277         0         NaN      vfp_spec     4616680
274746  720.348277  12158372         NaN     inst_spec     4616680
274747  720.348277         0         NaN      ase_spec     4616680

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
274743       100.0         NaN         NaN
274744       100.0         NaN         NaN
274745       100.0         NaN         NaN
274746       100.0         NaN         NaN
274747       100.0         NaN         NaN

[274748 rows x 8 columns]
          time     value       counter
4         0.02  12778359  instructions
8         0.03  18248442  instructions
12        0.04  17813165  instructions
16        0.05  18969550  instructions
20        0.06  19885829  instructions
...        ...       ...           ...
274728  720.31  17216026  instructions
274732  720.32  13226381  instructions
274736  720.33  12375227  instructions
274740  720.34  24921970  instructions
274744  720.35  11841880  instructions

[68686 rows x 3 columns]
instructions
          time instructions
4         0.02     12778359
8         0.03     18248442
12        0.04     17813165
16        0.05     18969550
20        0.06     19885829
...        ...          ...
274728  720.31     17216026
274732  720.32     13226381
274736  720.33     12375227
274740  720.34     24921970
274744  720.35     11841880

[68686 rows x 2 columns]
df3
          time vfp_spec
1         0.01       12
5         0.02     1245
9         0.03     2315
13        0.04      787
17        0.05      824
...        ...      ...
274729  720.31        0
274733  720.32        0
274737  720.33        0
274741  720.34        6
274745  720.35        0

[68687 rows x 2 columns]
df4
          time inst_spec
2         0.01  11283725
6         0.02  15491592
10        0.03  23058437
14        0.04  22279574
18        0.05  23724845
...        ...       ...
274730  720.31  18442285
274734  720.32  14861064
274738  720.33  15769393
274742  720.34  26591539
274746  720.35  12158372

[68687 rows x 2 columns]
df5
          time ase_spec
3         0.01     5810
7         0.02    18167
11        0.03    21881
15        0.04    12723
19        0.05    13203
...        ...      ...
274731  720.31     1595
274735  720.32     1553
274739  720.33        0
274743  720.34        3
274747  720.35        0

[68687 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     12778359     1245
1        0.03     18248442     2315
2        0.04     17813165      787
3        0.05     18969550      824
4        0.06     19885829      340
...       ...          ...      ...
68681  720.31     17216026        0
68682  720.32     13226381        0
68683  720.33     12375227        0
68684  720.34     24921970        6
68685  720.35     11841880        0

[68686 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  11283725     5810
1        0.02  15491592    18167
2        0.03  23058437    21881
3        0.04  22279574    12723
4        0.05  23724845    13203
...       ...       ...      ...
68682  720.31  18442285     1595
68683  720.32  14861064     1553
68684  720.33  15769393        0
68685  720.34  26591539        3
68686  720.35  12158372        0

[68687 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010115   9435793         NaN      instructions    11122440
1         0.010115   5758973         NaN     stall_backend    11122440
2         0.010115   7283077         NaN    stall_frontend    11122440
3         0.010115    165137         NaN  ll_cache_miss_rd    11122440
4         0.020607  11834268         NaN      instructions     9905760
...            ...       ...         ...               ...         ...
274115  719.162048    468752         NaN  ll_cache_miss_rd     9987880
274116  719.168288  14813426         NaN      instructions     5807520
274117  719.168288   3828548         NaN     stall_backend     5807520
274118  719.168288    403627         NaN    stall_frontend     5807520
274119  719.168288     69730         NaN  ll_cache_miss_rd     5807520

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
274115       100.0         NaN         NaN
274116       100.0         NaN         NaN
274117       100.0         NaN         NaN
274118       100.0         NaN         NaN
274119       100.0         NaN         NaN

[274120 rows x 8 columns]
          time     value       counter
4         0.02  11834268  instructions
8         0.03  18889501  instructions
12        0.04  17278493  instructions
16        0.05  18602907  instructions
20        0.06  19564394  instructions
...        ...       ...           ...
274100  719.13  17379671  instructions
274104  719.14  15523815  instructions
274108  719.15  10743368  instructions
274112  719.16  24250467  instructions
274116  719.17  14813426  instructions

[68529 rows x 3 columns]
instructions
          time instructions
4         0.02     11834268
8         0.03     18889501
12        0.04     17278493
16        0.05     18602907
20        0.06     19564394
...        ...          ...
274100  719.13     17379671
274104  719.14     15523815
274108  719.15     10743368
274112  719.16     24250467
274116  719.17     14813426

[68529 rows x 2 columns]
df3
          time stall_backend
1         0.01       5758973
5         0.02       4438920
9         0.03       2253202
13        0.04       2504881
17        0.05       2380953
...        ...           ...
274101  719.13       9794838
274105  719.14       8562181
274109  719.15      10048504
274113  719.16       6432099
274117  719.17       3828548

[68530 rows x 2 columns]
df4
          time stall_frontend
2         0.01        7283077
6         0.02        5846299
10        0.03        4930410
14        0.04        5545595
18        0.05        5306837
...        ...            ...
274102  719.13        2659602
274106  719.14        1222480
274110  719.15         663199
274114  719.16         599855
274118  719.17         403627

[68530 rows x 2 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

df5
          time ll_cache_miss_rd
3         0.01           165137
7         0.02           122307
11        0.03            86241
15        0.04            99629
19        0.05            95456
...        ...              ...
274103  719.13           122839
274107  719.14           208502
274111  719.15           347634
274115  719.16           468752
274119  719.17            69730

[68530 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     11834268       4438920
1        0.03     18889501       2253202
2        0.04     17278493       2504881
3        0.05     18602907       2380953
4        0.06     19564394       2479264
...       ...          ...           ...
68524  719.13     17379671       9794838
68525  719.14     15523815       8562181
68526  719.15     10743368      10048504
68527  719.16     24250467       6432099
68528  719.17     14813426       3828548

[68529 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        7283077           165137
1        0.02        5846299           122307
2        0.03        4930410            86241
3        0.04        5545595            99629
4        0.05        5306837            95456
...       ...            ...              ...
68525  719.13        2659602           122839
68526  719.14        1222480           208502
68527  719.15         663199           347634
68528  719.16         599855           468752
68529  719.17         403627            69730

[68530 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010183   7718370         NaN   instructions     9666320
1         0.010183   2414106         NaN     mem_access     9666320
2         0.010183   1489065         NaN  mem_access_rd     9666320
3         0.010183    925041         NaN  mem_access_wr     9666320
4         0.020690   9505234         NaN   instructions     9823360
...            ...       ...         ...            ...         ...
283619  743.111566   2086057         NaN  mem_access_wr     9984560
283620  743.117012  13105750         NaN   instructions     4951360
283621  743.117012   3782504         NaN     mem_access     4951360
283622  743.117012   2378545         NaN  mem_access_rd     4951360
283623  743.117012   1403959         NaN  mem_access_wr     4951360

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
283619       100.0         NaN         NaN
283620       100.0         NaN         NaN
283621       100.0         NaN         NaN
283622       100.0         NaN         NaN
283623       100.0         NaN         NaN

[283624 rows x 8 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

          time     value       counter
4         0.02   9505234  instructions
8         0.03  18103960  instructions
12        0.04  16612626  instructions
16        0.05  17527778  instructions
20        0.06  22311004  instructions
...        ...       ...           ...
283604  743.08  11629837  instructions
283608  743.09  22197912  instructions
283612  743.10  11517179  instructions
283616  743.11  24327744  instructions
283620  743.12  13105750  instructions

[70905 rows x 3 columns]
instructions
          time instructions
4         0.02      9505234
8         0.03     18103960
12        0.04     16612626
16        0.05     17527778
20        0.06     22311004
...        ...          ...
283604  743.08     11629837
283608  743.09     22197912
283612  743.10     11517179
283616  743.11     24327744
283620  743.12     13105750

[70905 rows x 2 columns]
df3
          time mem_access
1         0.01    2414106
5         0.02    3005967
9         0.03    6849102
13        0.04    6391699
17        0.05    6819289
...        ...        ...
283605  743.08    4233511
283609  743.09    7382582
283613  743.10    3133857
283617  743.11    6314008
283621  743.12    3782504

[70906 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1489065
6         0.02       1855022
10        0.03       4343631
14        0.04       4029144
18        0.05       4302513
...        ...           ...
283606  743.08       2635602
283610  743.09       4922031
283614  743.10       2268800
283618  743.11       4227951
283622  743.12       2378545

[70906 rows x 2 columns]
df5
          time mem_access_wr
3         0.01        925041
7         0.02       1150945
11        0.03       2505471
15        0.04       2362555
19        0.05       2516776
...        ...           ...
283607  743.08       1597909
283611  743.09       2460551
283615  743.10        865057
283619  743.11       2086057
283623  743.12       1403959

[70906 rows x 2 columns]
df6
         time instructions mem_access
0        0.02      9505234    3005967
1        0.03     18103960    6849102
2        0.04     16612626    6391699
3        0.05     17527778    6819289
4        0.06     22311004    8503340
...       ...          ...        ...
70900  743.08     11629837    4233511
70901  743.09     22197912    7382582
70902  743.10     11517179    3133857
70903  743.11     24327744    6314008
70904  743.12     13105750    3782504

[70905 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1489065        925041
1        0.02       1855022       1150945
2        0.03       4343631       2505471
3        0.04       4029144       2362555
4        0.05       4302513       2516776
...       ...           ...           ...
70901  743.08       2635602       1597909
70902  743.09       4922031       2460551
70903  743.10       2268800        865057
70904  743.11       4227951       2086057
70905  743.12       2378545       1403959

[70906 rows x 3 columns]
merged_df
         time instructions cpu-cycles  br_pred br_mis_pred   l1d_cache_rd  \
0        0.02     10173711   14691004  1965755       80791        2084028
1        0.03     18190011   14657556  4143340      163788        4390800
2        0.04     16986145   14722706  3812984      164664        4101045
3        0.05     17942102   14913138  4066718      167173        4302748
4        0.06     19939172   15028624  4524680      144050        5656917
...       ...          ...        ...      ...         ...            ...
44608  718.96     31445530   14902378  6379798       43729  <not counted>
44609  718.97     27676118   14918926  5847970       70600  <not counted>
44610  719.00     36186342   14975237  5402392       65475        2927734
44611  719.01     25160454   14935752  4247580      196605        4021019
44612  719.02     28241966   14955910  4614398      190432        2316754

        l1d_cache_wr      l1d_cache l1i_cache l1i_cache_refill  ...  \
0            1282429        3366457   4468434           273638  ...
1            2531154        6921954   7739384           385299  ...
2            2400584        6501629   7044336           433060  ...
3            2500112        6802860   8769103           506236  ...
4            3226382        8883299   7848359           335378  ...
...              ...            ...       ...              ...  ...
44608  <not counted>  <not counted>   8548501            15102  ...
44609  <not counted>  <not counted>   8741457             8334  ...
44610        1733379        4661113   8436349             8086  ...
44611        2056929        6077948   8402258             9028  ...
44612        1008709        3325463   8286148             8648  ...

      l2d_tlb_wr vfp_spec inst_spec ase_spec  stall_backend stall_frontend  \
0          11689     1245  15491592    18167        4438920        5846299
1           8036     2315  23058437    21881        2253202        4930410
2           8284      787  22279574    12723        2504881        5545595
3           8562      824  23724845    13203        2380953        5306837
4           7803      340  24293340    14593        2479264        4972438
...          ...      ...       ...      ...            ...            ...
44608      24262     9939  35489067      577        6857338         386124
44609      25058    19827  32707894     1852        2360538         534201
44610      24896    84604  28571055    15758  <not counted>  <not counted>
44611      25128    72920  27797832    13244  <not counted>  <not counted>
44612      25255    58407  27346975     9667  <not counted>  <not counted>

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               122307    3005967       1855022       1150945
1                86241    6849102       4343631       2505471
2                99629    6391699       4029144       2362555
3                95456    6819289       4302513       2516776
4               107692    8503340       5434480       3068860
...                ...        ...           ...           ...
44608           125162   11795411       8492573       3302838
44609            44367   13951570      10025011       3926559
44610    <not counted>   11647236       8354505       3292731
44611    <not counted>   11426866       8198640       3228226
44612    <not counted>   11649005       8373276       3275729

[44613 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010111   8279500         NaN  instructions    10010480
1         0.010111  14863477         NaN    cpu-cycles    10010480
2         0.010111   1527018         NaN       br_pred    10010480
3         0.010111     63814         NaN   br_mis_pred    10010480
4         0.020596  10901249         NaN  instructions     9879160
...            ...       ...         ...           ...         ...
242231  639.746952     45589         NaN   br_mis_pred     9928560
242232  639.752550  13581236         NaN  instructions     5207240
242233  639.752550   7773791         NaN    cpu-cycles     5207240
242234  639.752550   1962886         NaN       br_pred     5207240
242235  639.752550      5536         NaN   br_mis_pred     5207240

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.56  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.74  insn per cycle
...            ...         ...             ...
242231       100.0         NaN             NaN
242232       100.0        1.75  insn per cycle
242233       100.0         NaN             NaN
242234       100.0         NaN             NaN
242235       100.0         NaN             NaN

[242236 rows x 8 columns]
          time     value       counter
4         0.02  10901249  instructions
8         0.03  18421545  instructions
12        0.04  16880592  instructions
16        0.05  19870175  instructions
20        0.06  19524659  instructions
...        ...       ...           ...
242216  639.72  15227173  instructions
242220  639.73  15158878  instructions
242224  639.74  11498513  instructions
242228  639.75  24405416  instructions
242232  639.75  13581236  instructions

[60558 rows x 3 columns]
instructions
          time instructions
4         0.02     10901249
8         0.03     18421545
12        0.04     16880592
16        0.05     19870175
20        0.06     19524659
...        ...          ...
242216  639.72     15227173
242220  639.73     15158878
242224  639.74     11498513
242228  639.75     24405416
242232  639.75     13581236

[60558 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   14863477
5         0.02   14709309
9         0.03   14532178
13        0.04   14564783
17        0.05   15806392
...        ...        ...
242217  639.72   14754682
242221  639.73   14886605
242225  639.74   14949739
242229  639.75   14809605
242233  639.75    7773791

[60559 rows x 2 columns]
df4
          time  br_pred
2         0.01  1527018
6         0.02  2122371
10        0.03  4203954
14        0.04  3801255
18        0.05  4513847
...        ...      ...
242218  639.72  3450422
242222  639.73  3509152
242226  639.74  3140458
242230  639.75  4539242
242234  639.75  1962886

[60559 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       63814
7         0.02       89399
11        0.03      169767
15        0.04      163234
19        0.05      177815
...        ...         ...
242219  639.72       37010
242223  639.73       33144
242227  639.74       80325
242231  639.75       45589
242235  639.75        5536

[60559 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     10901249   14709309
1        0.03     18421545   14532178
2        0.04     16880592   14564783
3        0.05     19870175   15806392
4        0.06     19524659   14958815
...       ...          ...        ...
60555  639.74     11498513   14949739
60556  639.75     24405416   14809605
60557  639.75     24405416    7773791
60558  639.75     13581236   14809605
60559  639.75     13581236    7773791

[60560 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1527018       63814
1        0.02  2122371       89399
2        0.03  4203954      169767
3        0.04  3801255      163234
4        0.05  4513847      177815
...       ...      ...         ...
60556  639.74  3140458       80325
60557  639.75  4539242       45589
60558  639.75  4539242        5536
60559  639.75  1962886       45589
60560  639.75  1962886        5536

[60561 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010119   9667950         NaN  instructions    11109240
1         0.010119   1853003         NaN  l1d_cache_rd    11109240
2         0.010119   1157465         NaN  l1d_cache_wr    11109240
3         0.010119   3010468         NaN     l1d_cache    11109240
4         0.020614  12795457         NaN  instructions     9820880
...            ...       ...         ...           ...         ...
242051  638.956794   6884332         NaN     l1d_cache    10035840
242052  638.961146  10045367         NaN  instructions     3971480
242053  638.961146   1811875         NaN  l1d_cache_rd     3971480
242054  638.961146   1088138         NaN  l1d_cache_wr     3971480
242055  638.961146   2900013         NaN     l1d_cache     3971480

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
242051       100.0         NaN         NaN
242052       100.0         NaN         NaN
242053       100.0         NaN         NaN
242054       100.0         NaN         NaN
242055       100.0         NaN         NaN

[242056 rows x 8 columns]
          time     value       counter
4         0.02  12795457  instructions
8         0.03  18696708  instructions
12        0.04  17125925  instructions
16        0.05  18715249  instructions
20        0.06  19488260  instructions
...        ...       ...           ...
242036  638.93  16346995  instructions
242040  638.94  13857184  instructions
242044  638.95  12835235  instructions
242048  638.96  25388577  instructions
242052  638.96  10045367  instructions

[60513 rows x 3 columns]
instructions
          time instructions
4         0.02     12795457
8         0.03     18696708
12        0.04     17125925
16        0.05     18715249
20        0.06     19488260
...        ...          ...
242036  638.93     16346995
242040  638.94     13857184
242044  638.95     12835235
242048  638.96     25388577
242052  638.96     10045367

[60513 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1853003
5         0.02      2721952
9         0.03      4561389
13        0.04      4160580
17        0.05      4597700
...        ...          ...
242037  638.93      3741691
242041  638.94      2987692
242045  638.95      2388445
242049  638.96      4510441
242053  638.96      1811875

[60514 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1157465
6         0.02      1642450
10        0.03      2611618
14        0.04      2429502
18        0.05      2638158
...        ...          ...
242038  638.93      1927229
242042  638.94      1579015
242046  638.95       802242
242050  638.96      2373891
242054  638.96      1088138

[60514 rows x 2 columns]
df5
          time l1d_cache
3         0.01   3010468
7         0.02   4364402
11        0.03   7173007
15        0.04   6590082
19        0.05   7235858
...        ...       ...
242039  638.93   5668920
242043  638.94   4566707
242047  638.95   3190687
242051  638.96   6884332
242055  638.96   2900013

[60514 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     12795457      2721952
1        0.03     18696708      4561389
2        0.04     17125925      4160580
3        0.05     18715249      4597700
4        0.06     19488260      4728763
...       ...          ...          ...
60510  638.95     12835235      2388445
60511  638.96     25388577      4510441
60512  638.96     25388577      1811875
60513  638.96     10045367      4510441
60514  638.96     10045367      1811875

[60515 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      1157465   3010468
1        0.02      1642450   4364402
2        0.03      2611618   7173007
3        0.04      2429502   6590082
4        0.05      2638158   7235858
...       ...          ...       ...
60511  638.95       802242   3190687
60512  638.96      2373891   6884332
60513  638.96      2373891   2900013
60514  638.96      1088138   6884332
60515  638.96      1088138   2900013

[60516 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010124   7929773         NaN      instructions     9533360
1         0.010124   2878672         NaN         l1i_cache     9533360
2         0.010124    196446         NaN  l1i_cache_refill     9533360
3         0.010124     67007         NaN     remote_access     9533360
4         0.020611   9647658         NaN      instructions     9731280
...            ...       ...         ...               ...         ...
242259  639.573674      4709         NaN     remote_access    10071000
242260  639.578629  11433608         NaN      instructions     4537160
242261  639.578629   3115465         NaN         l1i_cache     4537160
242262  639.578629      5875         NaN  l1i_cache_refill     4537160
242263  639.578629      4200         NaN     remote_access     4537160

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
242259       100.0         NaN         NaN
242260       100.0         NaN         NaN
242261       100.0         NaN         NaN
242262       100.0         NaN         NaN
242263       100.0         NaN         NaN

[242264 rows x 8 columns]
          time     value       counter
4         0.02   9647658  instructions
8         0.03  20596464  instructions
12        0.04  17406702  instructions
16        0.05  18761632  instructions
20        0.06  19482644  instructions
...        ...       ...           ...
242244  639.54  14742731  instructions
242248  639.55  14820647  instructions
242252  639.56  12558729  instructions
242256  639.57  24935964  instructions
242260  639.58  11433608  instructions

[60565 rows x 3 columns]
instructions
          time instructions
4         0.02      9647658
8         0.03     20596464
12        0.04     17406702
16        0.05     18761632
20        0.06     19482644
...        ...          ...
242244  639.54     14742731
242248  639.55     14820647
242252  639.56     12558729
242256  639.57     24935964
242260  639.58     11433608

[60565 rows x 2 columns]
df3
          time l1i_cache
1         0.01   2878672
5         0.02   3521008
9         0.03   8343809
13        0.04   7055579
17        0.05   7505314
...        ...       ...
242245  639.54   4774048
242249  639.55   4665630
242253  639.56   4891045
242257  639.57   7048083
242261  639.58   3115465

[60566 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           196446
6         0.02           216280
10        0.03           426529
14        0.04           440045
18        0.05           416052
...        ...              ...
242246  639.54           161991
242250  639.55            55667
242254  639.56            11835
242258  639.57            10181
242262  639.58             5875

[60566 rows x 2 columns]
df5
          time remote_access
3         0.01         67007
7         0.02         58200
11        0.03         21967
15        0.04         20533
19        0.05         18872
...        ...           ...
242247  639.54          4381
242251  639.55          4306
242255  639.56          3568
242259  639.57          4709
242263  639.58          4200

[60566 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02      9647658   3521008
1        0.03     20596464   8343809
2        0.04     17406702   7055579
3        0.05     18761632   7505314
4        0.06     19482644   7567435
...       ...          ...       ...
60560  639.54     14742731   4774048
60561  639.55     14820647   4665630
60562  639.56     12558729   4891045
60563  639.57     24935964   7048083
60564  639.58     11433608   3115465

[60565 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           196446         67007
1        0.02           216280         58200
2        0.03           426529         21967
3        0.04           440045         20533
4        0.05           416052         18872
...       ...              ...           ...
60561  639.54           161991          4381
60562  639.55            55667          4306
60563  639.56            11835          3568
60564  639.57            10181          4709
60565  639.58             5875          4200

[60566 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010115   9319878         NaN  instructions    11246440
1         0.010115    352262         NaN  l2d_cache_rd    11246440
2         0.010115    125957         NaN  l2d_cache_wr    11246440
3         0.010115    478219         NaN     l2d_cache    11246440
4         0.020576  10746569         NaN  instructions     9869560
...            ...       ...         ...           ...         ...
243003  640.930799    248499         NaN     l2d_cache     9985640
243004  640.932505   1507498         NaN  instructions     1047960
243005  640.932505     20655         NaN  l2d_cache_rd     1047960
243006  640.932505     15003         NaN  l2d_cache_wr     1047960
243007  640.932505     35658         NaN     l2d_cache     1047960

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
243003       100.0         NaN         NaN
243004       100.0         NaN         NaN
243005       100.0         NaN         NaN
243006       100.0         NaN         NaN
243007       100.0         NaN         NaN

[243008 rows x 8 columns]
          time     value       counter
4         0.02  10746569  instructions
8         0.03  18229394  instructions
12        0.04  16756214  instructions
16        0.05  18656361  instructions
20        0.06  18976211  instructions
...        ...       ...           ...
242988  640.90  18100811  instructions
242992  640.91  11045735  instructions
242996  640.92  17404551  instructions
243000  640.93  26722945  instructions
243004  640.93   1507498  instructions

[60751 rows x 3 columns]
instructions
          time instructions
4         0.02     10746569
8         0.03     18229394
12        0.04     16756214
16        0.05     18656361
20        0.06     18976211
...        ...          ...
242988  640.90     18100811
242992  640.91     11045735
242996  640.92     17404551
243000  640.93     26722945
243004  640.93      1507498

[60751 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       352262
5         0.02       358316
9         0.03       476501
13        0.04       538480
17        0.05       527071
...        ...          ...
242989  640.90       297494
242993  640.91       281230
242997  640.92       568517
243001  640.93       127647
243005  640.93        20655

[60752 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       125957
6         0.02       107780
10        0.03       113632
14        0.04       114655
18        0.05       125288
...        ...          ...
242990  640.90       161661
242994  640.91       219248
242998  640.92       519864
243002  640.93       120852
243006  640.93        15003

[60752 rows x 2 columns]
df5
          time l2d_cache
3         0.01    478219
7         0.02    466096
11        0.03    590133
15        0.04    653135
19        0.05    652359
...        ...       ...
242991  640.90    459155
242995  640.91    500478
242999  640.92   1088381
243003  640.93    248499
243007  640.93     35658

[60752 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     10746569       358316
1        0.03     18229394       476501
2        0.04     16756214       538480
3        0.05     18656361       527071
4        0.06     18976211       465928
...       ...          ...          ...
60748  640.92     17404551       568517
60749  640.93     26722945       127647
60750  640.93     26722945        20655
60751  640.93      1507498       127647
60752  640.93      1507498        20655

[60753 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       125957    478219
1        0.02       107780    466096
2        0.03       113632    590133
3        0.04       114655    653135
4        0.05       125288    652359
...       ...          ...       ...
60749  640.92       519864   1088381
60750  640.93       120852    248499
60751  640.93       120852     35658
60752  640.93        15003    248499
60753  640.93        15003     35658

[60754 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010121   8266179         NaN  instructions    10389280
1         0.010121   3455556         NaN       l1d_tlb    10389280
2         0.010121   2285071         NaN    l1d_tlb_rd    10389280
3         0.010121   1170485         NaN    l1d_tlb_wr    10389280
4         0.020622   9950277         NaN  instructions     9866600
...            ...       ...         ...           ...         ...
242283  639.938819   2116437         NaN    l1d_tlb_wr    10003600
242284  639.944969  13448627         NaN  instructions     5331000
242285  639.944969   5018340         NaN       l1d_tlb     5331000
242286  639.944969   3552934         NaN    l1d_tlb_rd     5331000
242287  639.944969   1465406         NaN    l1d_tlb_wr     5331000

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
242283       100.0         NaN         NaN
242284       100.0         NaN         NaN
242285       100.0         NaN         NaN
242286       100.0         NaN         NaN
242287       100.0         NaN         NaN

[242288 rows x 8 columns]
          time     value       counter
4         0.02   9950277  instructions
8         0.03  18282576  instructions
12        0.04  16914707  instructions
16        0.05  17661521  instructions
20        0.06  20272192  instructions
...        ...       ...           ...
242268  639.91  17284215  instructions
242272  639.92  15571573  instructions
242276  639.93  11548356  instructions
242280  639.94  24602610  instructions
242284  639.94  13448627  instructions

[60571 rows x 3 columns]
instructions
          time instructions
4         0.02      9950277
8         0.03     18282576
12        0.04     16914707
16        0.05     17661521
20        0.06     20272192
...        ...          ...
242268  639.91     17284215
242272  639.92     15571573
242276  639.93     11548356
242280  639.94     24602610
242284  639.94     13448627

[60571 rows x 2 columns]
df3
          time  l1d_tlb
1         0.01  3455556
5         0.02  4043234
9         0.03  7639617
13        0.04  7224712
17        0.05  7599720
...        ...      ...
242269  639.91  6725079
242273  639.92  5508310
242277  639.93  3797820
242281  639.94  8167746
242285  639.94  5018340

[60572 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2285071
6         0.02    2646545
10        0.03    4920274
14        0.04    4642322
18        0.05    4877359
...        ...        ...
242270  639.91    4444861
242274  639.92    3732798
242278  639.93    2842544
242282  639.94    6051309
242286  639.94    3552934

[60572 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1170485
7         0.02    1396689
11        0.03    2719343
15        0.04    2582390
19        0.05    2722361
...        ...        ...
242271  639.91    2280218
242275  639.92    1775512
242279  639.93     955276
242283  639.94    2116437
242287  639.94    1465406

[60572 rows x 2 columns]
df6
         time instructions  l1d_tlb
0        0.02      9950277  4043234
1        0.03     18282576  7639617
2        0.04     16914707  7224712
3        0.05     17661521  7599720
4        0.06     20272192  8459141
...       ...          ...      ...
60568  639.93     11548356  3797820
60569  639.94     24602610  8167746
60570  639.94     24602610  5018340
60571  639.94     13448627  8167746
60572  639.94     13448627  5018340

[60573 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2285071    1170485
1        0.02    2646545    1396689
2        0.03    4920274    2719343
3        0.04    4642322    2582390
4        0.05    4877359    2722361
...       ...        ...        ...
60569  639.93    2842544     955276
60570  639.94    6051309    2116437
60571  639.94    6051309    1465406
60572  639.94    3552934    2116437
60573  639.94    3552934    1465406

[60574 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010114   9011777         NaN  instructions    11207000
1         0.010114     16913         NaN     dtlb_walk    11207000
2         0.010114      1371         NaN     itlb_walk    11207000
3         0.010114   3021024         NaN       l1i_tlb    11207000
4         0.020854  11201179         NaN  instructions     9922400
...            ...       ...         ...           ...         ...
242423  639.958230   5726607         NaN       l1i_tlb    10380280
242424  639.967896  23851241         NaN  instructions     9207320
242425  639.967896      1333         NaN     dtlb_walk     9207320
242426  639.967896         5         NaN     itlb_walk     9207320
242427  639.967896   4599277         NaN       l1i_tlb     9207320

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
242423       100.0         NaN         NaN
242424       100.0         NaN         NaN
242425       100.0         NaN         NaN
242426       100.0         NaN         NaN
242427       100.0         NaN         NaN

[242428 rows x 8 columns]
          time     value       counter
4         0.02  11201179  instructions
8         0.03  18047711  instructions
12        0.04  17283122  instructions
16        0.05  18285204  instructions
20        0.06  18928424  instructions
...        ...       ...           ...
242408  639.93  11739344  instructions
242412  639.94  17927942  instructions
242416  639.95   9626713  instructions
242420  639.96  19992658  instructions
242424  639.97  23851241  instructions

[60606 rows x 3 columns]
instructions
          time instructions
4         0.02     11201179
8         0.03     18047711
12        0.04     17283122
16        0.05     18285204
20        0.06     18928424
...        ...          ...
242408  639.93     11739344
242412  639.94     17927942
242416  639.95      9626713
242420  639.96     19992658
242424  639.97     23851241

[60606 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     16913
5         0.02      9824
9         0.03      2467
13        0.04      2515
17        0.05      2475
...        ...       ...
242409  639.93     12957
242413  639.94     13036
242417  639.95     26376
242421  639.96     26636
242425  639.97      1333

[60607 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1371
6         0.02      1182
10        0.03       617
14        0.04       643
18        0.05       662
...        ...       ...
242410  639.93      1112
242414  639.94      1024
242418  639.95       265
242422  639.96       230
242426  639.97         5

[60607 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  3021024
7         0.02  3783912
11        0.03  6016949
15        0.04  5895349
19        0.05  6080911
...        ...      ...
242411  639.93  3611137
242415  639.94  4483056
242419  639.95  3007499
242423  639.96  5726607
242427  639.97  4599277

[60607 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     11201179      9824
1        0.03     18047711      2467
2        0.04     17283122      2515
3        0.05     18285204      2475
4        0.06     18928424      3070
...       ...          ...       ...
60601  639.93     11739344     12957
60602  639.94     17927942     13036
60603  639.95      9626713     26376
60604  639.96     19992658     26636
60605  639.97     23851241      1333

[60606 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1371  3021024
1        0.02      1182  3783912
2        0.03       617  6016949
3        0.04       643  5895349
4        0.05       662  6080911
...       ...       ...      ...
60602  639.93      1112  3611137
60603  639.94      1024  4483056
60604  639.95       265  3007499
60605  639.96       230  5726607
60606  639.97         5  4599277

[60607 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010123   8249581         NaN  instructions    10098480
1         0.010123     54920         NaN       l2d_tlb    10098480
2         0.010123     45986         NaN    l2d_tlb_rd    10098480
3         0.010123      8934         NaN    l2d_tlb_wr    10098480
4         0.020632  10047625         NaN  instructions     9829400
...            ...       ...         ...           ...         ...
242011  639.693178      6195         NaN    l2d_tlb_wr    10022920
242012  639.702780  23843500         NaN  instructions     9125040
242013  639.702780     54281         NaN       l2d_tlb     9125040
242014  639.702780     33736         NaN    l2d_tlb_rd     9125040
242015  639.702780     20545         NaN    l2d_tlb_wr     9125040

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
242011       100.0         NaN         NaN
242012       100.0         NaN         NaN
242013       100.0         NaN         NaN
242014       100.0         NaN         NaN
242015       100.0         NaN         NaN

[242016 rows x 8 columns]
          time     value       counter
4         0.02  10047625  instructions
8         0.03  17967193  instructions
12        0.04  17247693  instructions
16        0.05  17401833  instructions
20        0.06  21516575  instructions
...        ...       ...           ...
241996  639.66  11216282  instructions
242000  639.67  18533865  instructions
242004  639.68  10547706  instructions
242008  639.69  19226485  instructions
242012  639.70  23843500  instructions

[60503 rows x 3 columns]
instructions
          time instructions
4         0.02     10047625
8         0.03     17967193
12        0.04     17247693
16        0.05     17401833
20        0.06     21516575
...        ...          ...
241996  639.66     11216282
242000  639.67     18533865
242004  639.68     10547706
242008  639.69     19226485
242012  639.70     23843500

[60503 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   54920
5         0.02   71254
9         0.03  152474
13        0.04  175369
17        0.05  164526
...        ...     ...
241997  639.66  150658
242001  639.67  120027
242005  639.68  125032
242009  639.69   70643
242013  639.70   54281

[60504 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      45986
6         0.02      62485
10        0.03     144777
14        0.04     167060
18        0.05     156476
...        ...        ...
241998  639.66     138619
242002  639.67     111226
242006  639.68     116423
242010  639.69      64448
242014  639.70      33736

[60504 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01       8934
7         0.02       8769
11        0.03       7697
15        0.04       8309
19        0.05       8050
...        ...        ...
241999  639.66      12039
242003  639.67       8801
242007  639.68       8609
242011  639.69       6195
242015  639.70      20545

[60504 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     10047625   71254
1        0.03     17967193  152474
2        0.04     17247693  175369
3        0.05     17401833  164526
4        0.06     21516575  173950
...       ...          ...     ...
60498  639.66     11216282  150658
60499  639.67     18533865  120027
60500  639.68     10547706  125032
60501  639.69     19226485   70643
60502  639.70     23843500   54281

[60503 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      45986       8934
1        0.02      62485       8769
2        0.03     144777       7697
3        0.04     167060       8309
4        0.05     156476       8050
...       ...        ...        ...
60499  639.66     138619      12039
60500  639.67     111226       8801
60501  639.68     116423       8609
60502  639.69      64448       6195
60503  639.70      33736      20545

[60504 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010123   8250378         NaN  instructions    10100240
1         0.010123        13         NaN      vfp_spec    10100240
2         0.010123   9955991         NaN     inst_spec    10100240
3         0.010123      5469         NaN      ase_spec    10100240
4         0.020600  10376890         NaN  instructions     9853040
...            ...       ...         ...           ...         ...
243091  641.733258         0         NaN      ase_spec    10017360
243092  641.739190  14114422         NaN  instructions     5532760
243093  641.739190         0         NaN      vfp_spec     5532760
243094  641.739190  14430068         NaN     inst_spec     5532760
243095  641.739190         0         NaN      ase_spec     5532760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
243091       100.0         NaN         NaN
243092       100.0         NaN         NaN
243093       100.0         NaN         NaN
243094       100.0         NaN         NaN
243095       100.0         NaN         NaN

[243096 rows x 8 columns]
          time     value       counter
4         0.02  10376890  instructions
8         0.03  18237146  instructions
12        0.04  17333993  instructions
16        0.05  18230485  instructions
20        0.06  21595966  instructions
...        ...       ...           ...
243076  641.70  12350040  instructions
243080  641.71  18236833  instructions
243084  641.72  14631782  instructions
243088  641.73  24794057  instructions
243092  641.74  14114422  instructions

[60773 rows x 3 columns]
instructions
          time instructions
4         0.02     10376890
8         0.03     18237146
12        0.04     17333993
16        0.05     18230485
20        0.06     21595966
...        ...          ...
243076  641.70     12350040
243080  641.71     18236833
243084  641.72     14631782
243088  641.73     24794057
243092  641.74     14114422

[60773 rows x 2 columns]
df3
          time vfp_spec
1         0.01       13
5         0.02      241
9         0.03     2702
13        0.04     1294
17        0.05      763
...        ...      ...
243077  641.70      218
243081  641.71        0
243085  641.72        0
243089  641.73        0
243093  641.74        0

[60774 rows x 2 columns]
df4
          time inst_spec
2         0.01   9955991
6         0.02  12593133
10        0.03  22757268
14        0.04  21795408
18        0.05  22806593
...        ...       ...
243078  641.70  14271715
243082  641.71  19418114
243086  641.72  18201491
243090  641.73  26948950
243094  641.74  14430068

[60774 rows x 2 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]

df5
          time ase_spec
3         0.01     5469
7         0.02    10725
11        0.03    27096
15        0.04    13706
19        0.05    11241
...        ...      ...
243079  641.70     2380
243083  641.71     1126
243087  641.72      105
243091  641.73        0
243095  641.74        0

[60774 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     10376890      241
1        0.03     18237146     2702
2        0.04     17333993     1294
3        0.05     18230485      763
4        0.06     21595966      469
...       ...          ...      ...
60768  641.70     12350040      218
60769  641.71     18236833        0
60770  641.72     14631782        0
60771  641.73     24794057        0
60772  641.74     14114422        0

[60773 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01   9955991     5469
1        0.02  12593133    10725
2        0.03  22757268    27096
3        0.04  21795408    13706
4        0.05  22806593    11241
...       ...       ...      ...
60769  641.70  14271715     2380
60770  641.71  19418114     1126
60771  641.72  18201491      105
60772  641.73  26948950        0
60773  641.74  14430068        0

[60774 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010104   7132443         NaN      instructions     8905480
1         0.010104   4395781         NaN     stall_backend     8905480
2         0.010104   6167567         NaN    stall_frontend     8905480
3         0.010104    133967         NaN  ll_cache_miss_rd     8905480
4         0.023127  13162893         NaN      instructions    12340720
...            ...       ...         ...               ...         ...
242463  640.010603    554223         NaN  ll_cache_miss_rd    10224360
242464  640.019040  20691974         NaN      instructions     7971920
242465  640.019040   5326939         NaN     stall_backend     7971920
242466  640.019040    426115         NaN    stall_frontend     7971920
242467  640.019040     87467         NaN  ll_cache_miss_rd     7971920

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
242463       100.0         NaN         NaN
242464       100.0         NaN         NaN
242465       100.0         NaN         NaN
242466       100.0         NaN         NaN
242467       100.0         NaN         NaN

[242468 rows x 8 columns]
          time     value       counter
4         0.02  13162893  instructions
8         0.03  18015375  instructions
12        0.04  17540057  instructions
16        0.05  18406291  instructions
20        0.06  19172690  instructions
...        ...       ...           ...
242448  639.98  11798310  instructions
242452  639.99  18059063  instructions
242456  640.00  11189537  instructions
242460  640.01  20742936  instructions
242464  640.02  20691974  instructions

[60616 rows x 3 columns]
instructions
          time instructions
4         0.02     13162893
8         0.03     18015375
12        0.04     17540057
16        0.05     18406291
20        0.06     19172690
...        ...          ...
242448  639.98     11798310
242452  639.99     18059063
242456  640.00     11189537
242460  640.01     20742936
242464  640.02     20691974

[60616 rows x 2 columns]
df3
          time stall_backend
1         0.01       4395781
5         0.02       5732838
9         0.03       2362011
13        0.04       2366466
17        0.05       2350126
...        ...           ...
242449  639.98       7967620
242453  639.99       7971745
242457  640.00      10257484
242461  640.01       7378386
242465  640.02       5326939

[60617 rows x 2 columns]
df4
          time stall_frontend
2         0.01        6167567
6         0.02        7705460
10        0.03        5088537
14        0.04        5711592
18        0.05        5406784
...        ...            ...
242450  639.98        2526871
242454  639.99        1150015
242458  640.00         655812
242462  640.01         650498
242466  640.02         426115

[60617 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           133967
7         0.02           162817
11        0.03            91559
15        0.04            96609
19        0.05            99773
...        ...              ...
242451  639.98            79443
242455  639.99           167195
242459  640.00           320222
242463  640.01           554223
242467  640.02            87467

[60617 rows x 2 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]

df6
         time instructions stall_backend
0        0.02     13162893       5732838
1        0.03     18015375       2362011
2        0.04     17540057       2366466
3        0.05     18406291       2350126
4        0.06     19172690       2448725
...       ...          ...           ...
60611  639.98     11798310       7967620
60612  639.99     18059063       7971745
60613  640.00     11189537      10257484
60614  640.01     20742936       7378386
60615  640.02     20691974       5326939

[60616 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        6167567           133967
1        0.02        7705460           162817
2        0.03        5088537            91559
3        0.04        5711592            96609
4        0.05        5406784            99773
...       ...            ...              ...
60612  639.98        2526871            79443
60613  639.99        1150015           167195
60614  640.00         655812           320222
60615  640.01         650498           554223
60616  640.02         426115            87467

[60617 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010114   6953102         NaN   instructions     8843680
1         0.010114   2159024         NaN     mem_access     8843680
2         0.010114   1327954         NaN  mem_access_rd     8843680
3         0.010114    831070         NaN  mem_access_wr     8843680
4         0.021175  10018438         NaN   instructions    10183560
...            ...       ...         ...            ...         ...
242203  640.141064   2781711         NaN  mem_access_wr     9855040
242204  640.143059   3622959         NaN   instructions     1552760
242205  640.143059   1044435         NaN     mem_access     1552760
242206  640.143059    653554         NaN  mem_access_rd     1552760
242207  640.143059    390881         NaN  mem_access_wr     1552760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
242203       100.0         NaN         NaN
242204       100.0         NaN         NaN
242205       100.0         NaN         NaN
242206       100.0         NaN         NaN
242207       100.0         NaN         NaN

[242208 rows x 8 columns]
          time     value       counter
4         0.02  10018438  instructions
8         0.03  19450513  instructions
12        0.04  17121527  instructions
16        0.05  17805160  instructions
20        0.07  23478122  instructions
...        ...       ...           ...
242188  640.11  17953493  instructions
242192  640.12  12652076  instructions
242196  640.13  16215685  instructions
242200  640.14  26123281  instructions
242204  640.14   3622959  instructions

[60551 rows x 3 columns]
instructions
          time instructions
4         0.02     10018438
8         0.03     19450513
12        0.04     17121527
16        0.05     17805160
20        0.07     23478122
...        ...          ...
242188  640.11     17953493
242192  640.12     12652076
242196  640.13     16215685
242200  640.14     26123281
242204  640.14      3622959

[60551 rows x 2 columns]
df3
          time mem_access
1         0.01    2159024
5         0.02    3168260
9         0.03    7392206
13        0.04    6573705
17        0.05    6958048
...        ...        ...
242189  640.11    6277688
242193  640.12    4089542
242197  640.13    3636892
242201  640.14    7513875
242205  640.14    1044435

[60552 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1327954
6         0.02       1963494
10        0.03       4683617
14        0.04       4146581
18        0.05       4401254
...        ...           ...
242190  640.11       4154277
242194  640.12       2696374
242198  640.13       2801509
242202  640.14       4732164
242206  640.14        653554

[60552 rows x 2 columns]
df5
          time mem_access_wr
3         0.01        831070
7         0.02       1204766
11        0.03       2708589
15        0.04       2427124
19        0.05       2556794
...        ...           ...
242191  640.11       2123411
242195  640.12       1393168
242199  640.13        835383
242203  640.14       2781711
242207  640.14        390881

[60552 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     10018438    3168260
1        0.03     19450513    7392206
2        0.04     17121527    6573705
3        0.05     17805160    6958048
4        0.07     23478122    8947762
...       ...          ...        ...
60548  640.13     16215685    3636892
60549  640.14     26123281    7513875
60550  640.14     26123281    1044435
60551  640.14      3622959    7513875
60552  640.14      3622959    1044435

[60553 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

df7
         time mem_access_rd mem_access_wr
0        0.01       1327954        831070
1        0.02       1963494       1204766
2        0.03       4683617       2708589
3        0.04       4146581       2427124
4        0.05       4401254       2556794
...       ...           ...           ...
60549  640.13       2801509        835383
60550  640.14       4732164       2781711
60551  640.14       4732164        390881
60552  640.14        653554       2781711
60553  640.14        653554        390881

[60554 rows x 3 columns]
merged_df
         time instructions cpu-cycles  br_pred br_mis_pred l1d_cache_rd  \
0        0.02     10901249   14709309  2122371       89399      2721952
1        0.03     18421545   14532178  4203954      169767      4561389
2        0.04     16880592   14564783  3801255      163234      4160580
3        0.05     19870175   15806392  4513847      177815      4597700
4        0.07     24062163   14899420  5743471      145297      5649829
...       ...          ...        ...      ...         ...          ...
37113  638.96     32326026   16526987  6703588       65896      4510441
37114  638.96     32326026   16526987  6703588       65896      1811875
37115  638.96     32326026   16526987  6703588       65896      1811875
37116  638.96     32326026   16526987  6703588       65896      1811875
37117  638.96     32326026   16526987  6703588       65896      1811875

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ... l2d_tlb_wr  \
0          1642450   4364402   3521008           216280  ...       8769
1          2611618   7173007   8343809           426529  ...       7697
2          2429502   6590082   7055579           440045  ...       8309
3          2638158   7235858   7505314           416052  ...       8050
4          2681434   8331263   8849835           356478  ...       8563
...            ...       ...       ...              ...  ...        ...
37113      1088138   2900013   5431967           111027  ...      25187
37114      2373891   6884332   5431967           111027  ...      25187
37115      2373891   2900013   5431967           111027  ...      25187
37116      1088138   6884332   5431967           111027  ...      25187
37117      1088138   2900013   5431967           111027  ...      25187

      vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0          241  12593133    10725       5732838        7705460
1         2702  22757268    27096       2362011        5088537
2         1294  21795408    13706       2366466        5711592
3          763  22806593    11241       2350126        5406784
4          269  28484869    18150       2110820        4062855
...        ...       ...      ...           ...            ...
37113     2836  35021544     5237       3001007        2097500
37114     2836  35021544     5237       3001007        2097500
37115     2836  35021544     5237       3001007        2097500
37116     2836  35021544     5237       3001007        2097500
37117     2836  35021544     5237       3001007        2097500

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               162817    3168260       1963494       1204766
1                91559    7392206       4683617       2708589
2                96609    6573705       4146581       2427124
3                99773    6958048       4401254       2556794
4                63200    8947762       5695307       3252455
...                ...        ...           ...           ...
37113           116700   13079297       8353727       4725570
37114           116700   13079297       8353727       4725570
37115           116700   13079297       8353727       4725570
37116           116700   13079297       8353727       4725570
37117           116700   13079297       8353727       4725570

[37118 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

               time     value  Unnamed: 2       counter  Unnamed: 4  \
0          0.010188   9435939         NaN  instructions    11184400
1          0.010188  16592868         NaN    cpu-cycles    11184400
2          0.010188   1738736         NaN       br_pred    11184400
3          0.010188     70476         NaN   br_mis_pred    11184400
4          0.020692  11415758         NaN  instructions     9858440
...             ...       ...         ...           ...         ...
433247  1116.482377     93426         NaN   br_mis_pred    10082520
433248  1116.491867  23363654         NaN  instructions     9048120
433249  1116.491867  13511409         NaN    cpu-cycles     9048120
433250  1116.491867   3357041         NaN       br_pred     9048120
433251  1116.491867      5810         NaN   br_mis_pred     9048120

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.57  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.78  insn per cycle
...            ...         ...             ...
433247       100.0         NaN             NaN
433248       100.0        1.73  insn per cycle
433249       100.0         NaN             NaN
433250       100.0         NaN             NaN
433251       100.0         NaN             NaN

[433252 rows x 8 columns]
           time     value       counter
4          0.02  11415758  instructions
8          0.03  18908730  instructions
12         0.04  17339848  instructions
16         0.05  18790089  instructions
20         0.06  19516091  instructions
...         ...       ...           ...
433232  1116.45  11693097  instructions
433236  1116.46  18707673  instructions
433240  1116.47  10391946  instructions
433244  1116.48  19531592  instructions
433248  1116.49  23363654  instructions

[108312 rows x 3 columns]
instructions
           time instructions
4          0.02     11415758
8          0.03     18908730
12         0.04     17339848
16         0.05     18790089
20         0.06     19516091
...         ...          ...
433232  1116.45     11693097
433236  1116.46     18707673
433240  1116.47     10391946
433244  1116.48     19531592
433248  1116.49     23363654

[108312 rows x 2 columns]
df3
           time cpu-cycles
1          0.01   16592868
5          0.02   14672265
9          0.03   14691857
13         0.04   14678211
17         0.05   14920062
...         ...        ...
433233  1116.45   14750988
433237  1116.46   14868649
433241  1116.47   14871515
433245  1116.48   15016243
433249  1116.49   13511409

[108313 rows x 2 columns]
df4
           time  br_pred
2          0.01  1738736
6          0.02  2266619
10         0.03  4328677
14         0.04  3911290
18         0.05  4263492
...         ...      ...
433234  1116.45  2583075
433238  1116.46  4218762
433242  1116.47  2632165
433246  1116.48  4615554
433250  1116.49  3357041

[108313 rows x 2 columns]
df5
           time br_mis_pred
3          0.01       70476
7          0.02       99376
11         0.03      172326
15         0.04      165770
19         0.05      170152
...         ...         ...
433235  1116.45       52097
433239  1116.46       28080
433243  1116.47       45926
433247  1116.48       93426
433251  1116.49        5810

[108313 rows x 2 columns]
df6
           time instructions cpu-cycles
0          0.02     11415758   14672265
1          0.03     18908730   14691857
2          0.04     17339848   14678211
3          0.05     18790089   14920062
4          0.06     19516091   14842896
...         ...          ...        ...
108307  1116.45     11693097   14750988
108308  1116.46     18707673   14868649
108309  1116.47     10391946   14871515
108310  1116.48     19531592   15016243
108311  1116.49     23363654   13511409

[108312 rows x 3 columns]
df7
           time  br_pred br_mis_pred
0          0.01  1738736       70476
1          0.02  2266619       99376
2          0.03  4328677      172326
3          0.04  3911290      165770
4          0.05  4263492      170152
...         ...      ...         ...
108308  1116.45  2583075       52097
108309  1116.46  4218762       28080
108310  1116.47  2632165       45926
108311  1116.48  4615554       93426
108312  1116.49  3357041        5810

[108313 rows x 3 columns]
               time     value  Unnamed: 2       counter  Unnamed: 4  \
0          0.010131   8079200         NaN  instructions     9904040
1          0.010131   1553713         NaN  l1d_cache_rd     9904040
2          0.010131    958376         NaN  l1d_cache_wr     9904040
3          0.010131   2512089         NaN     l1d_cache     9904040
4          0.020632  10330629         NaN  instructions     9884880
...             ...       ...         ...           ...         ...
433239  1116.613887   5084092         NaN     l1d_cache    10054680
433240  1116.622203  20222179         NaN  instructions     7867240
433241  1116.622203   3670141         NaN  l1d_cache_rd     7867240
433242  1116.622203   2155206         NaN  l1d_cache_wr     7867240
433243  1116.622203   5825347         NaN     l1d_cache     7867240

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
433239       100.0         NaN         NaN
433240       100.0         NaN         NaN
433241       100.0         NaN         NaN
433242       100.0         NaN         NaN
433243       100.0         NaN         NaN

[433244 rows x 8 columns]
           time     value       counter
4          0.02  10330629  instructions
8          0.03  18254864  instructions
12         0.04  18123751  instructions
16         0.05  18692561  instructions
20         0.06  18872098  instructions
...         ...       ...           ...
433224  1116.58  13979672  instructions
433228  1116.59  17509286  instructions
433232  1116.60  11421993  instructions
433236  1116.61  20903487  instructions
433240  1116.62  20222179  instructions

[108310 rows x 3 columns]
instructions
           time instructions
4          0.02     10330629
8          0.03     18254864
12         0.04     18123751
16         0.05     18692561
20         0.06     18872098
...         ...          ...
433224  1116.58     13979672
433228  1116.59     17509286
433232  1116.60     11421993
433236  1116.61     20903487
433240  1116.62     20222179

[108310 rows x 2 columns]
df3
           time l1d_cache_rd
1          0.01      1553713
5          0.02      2077624
9          0.03      4397053
13         0.04      4378976
17         0.05      4601041
...         ...          ...
433225  1116.58      3211244
433229  1116.59      3999560
433233  1116.60      2289524
433237  1116.61      3585353
433241  1116.62      3670141

[108311 rows x 2 columns]
df4
           time l1d_cache_wr
2          0.01       958376
6          0.02      1281350
10         0.03      2529277
14         0.04      2566729
18         0.05      2620499
...         ...          ...
433226  1116.58      1899470
433230  1116.59      2018521
433234  1116.60      1017119
433238  1116.61      1498739
433242  1116.62      2155206

[108311 rows x 2 columns]
df5
           time l1d_cache
3          0.01   2512089
7          0.02   3358974
11         0.03   6926330
15         0.04   6945705
19         0.05   7221540
...         ...       ...
433227  1116.58   5110714
433231  1116.59   6018081
433235  1116.60   3306643
433239  1116.61   5084092
433243  1116.62   5825347

[108311 rows x 2 columns]
df6
           time instructions l1d_cache_rd
0          0.02     10330629      2077624
1          0.03     18254864      4397053
2          0.04     18123751      4378976
3          0.05     18692561      4601041
4          0.06     18872098      4597498
...         ...          ...          ...
108305  1116.58     13979672      3211244
108306  1116.59     17509286      3999560
108307  1116.60     11421993      2289524
108308  1116.61     20903487      3585353
108309  1116.62     20222179      3670141

[108310 rows x 3 columns]
df7
           time l1d_cache_wr l1d_cache
0          0.01       958376   2512089
1          0.02      1281350   3358974
2          0.03      2529277   6926330
3          0.04      2566729   6945705
4          0.05      2620499   7221540
...         ...          ...       ...
108306  1116.58      1899470   5110714
108307  1116.59      2018521   6018081
108308  1116.60      1017119   3306643
108309  1116.61      1498739   5084092
108310  1116.62      2155206   5825347

[108311 rows x 3 columns]
               time     value  Unnamed: 2           counter  Unnamed: 4  \
0          0.010111   6975833         NaN      instructions     8886000
1          0.010111   2527520         NaN         l1i_cache     8886000
2          0.010111    178493         NaN  l1i_cache_refill     8886000
3          0.010111     64172         NaN     remote_access     8886000
4          0.021590  10276256         NaN      instructions    10681960
...             ...       ...         ...               ...         ...
433435  1115.845937      3718         NaN     remote_access    10160200
433436  1115.853164  17495708         NaN      instructions     6806000
433437  1115.853164   4728472         NaN         l1i_cache     6806000
433438  1115.853164      7625         NaN  l1i_cache_refill     6806000
433439  1115.853164      4129         NaN     remote_access     6806000

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
433435       100.0         NaN         NaN
433436       100.0         NaN         NaN
433437       100.0         NaN         NaN
433438       100.0         NaN         NaN
433439       100.0         NaN         NaN

[433440 rows x 8 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

           time     value       counter
4          0.02  10276256  instructions
8          0.03  17843562  instructions
12         0.04  17398977  instructions
16         0.05  17535889  instructions
20         0.06  21580800  instructions
...         ...       ...           ...
433420  1115.81  14541072  instructions
433424  1115.83  16131236  instructions
433428  1115.84  10121651  instructions
433432  1115.85  22928980  instructions
433436  1115.85  17495708  instructions

[108359 rows x 3 columns]
instructions
           time instructions
4          0.02     10276256
8          0.03     17843562
12         0.04     17398977
16         0.05     17535889
20         0.06     21580800
...         ...          ...
433420  1115.81     14541072
433424  1115.83     16131236
433428  1115.84     10121651
433432  1115.85     22928980
433436  1115.85     17495708

[108359 rows x 2 columns]
df3
           time l1i_cache
1          0.01   2527520
5          0.02   3718142
9          0.03   7131143
13         0.04   7141295
17         0.05   7092355
...         ...       ...
433421  1115.81   4844286
433425  1115.83   5106175
433429  1115.84   3936161
433433  1115.85   6974326
433437  1115.85   4728472

[108360 rows x 2 columns]
df4
           time l1i_cache_refill
2          0.01           178493
6          0.02           225812
10         0.03           361137
14         0.04           443574
18         0.05           405025
...         ...              ...
433422  1115.81           137893
433426  1115.83            82122
433430  1115.84            16471
433434  1115.85            10006
433438  1115.85             7625

[108360 rows x 2 columns]
df5
           time remote_access
3          0.01         64172
7          0.02         65299
11         0.03         23301
15         0.04         20885
19         0.05         23806
...         ...           ...
433423  1115.81          4223
433427  1115.83          3567
433431  1115.84          3963
433435  1115.85          3718
433439  1115.85          4129

[108360 rows x 2 columns]
df6
           time instructions l1i_cache
0          0.02     10276256   3718142
1          0.03     17843562   7131143
2          0.04     17398977   7141295
3          0.05     17535889   7092355
4          0.06     21580800   8322404
...         ...          ...       ...
108356  1115.84     10121651   3936161
108357  1115.85     22928980   6974326
108358  1115.85     22928980   4728472
108359  1115.85     17495708   6974326
108360  1115.85     17495708   4728472

[108361 rows x 3 columns]
df7
           time l1i_cache_refill remote_access
0          0.01           178493         64172
1          0.02           225812         65299
2          0.03           361137         23301
3          0.04           443574         20885
4          0.05           405025         23806
...         ...              ...           ...
108357  1115.84            16471          3963
108358  1115.85            10006          3718
108359  1115.85            10006          4129
108360  1115.85             7625          3718
108361  1115.85             7625          4129

[108362 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

               time     value  Unnamed: 2       counter  Unnamed: 4  \
0          0.010117   9409651         NaN  instructions    11131200
1          0.010117    355351         NaN  l2d_cache_rd    11131200
2          0.010117    126978         NaN  l2d_cache_wr    11131200
3          0.010117    482329         NaN     l2d_cache    11131200
4          0.020613  12592485         NaN  instructions     9934080
...             ...       ...         ...           ...         ...
433323  1116.424142    916041         NaN     l2d_cache    10151880
433324  1116.432396  20210641         NaN  instructions     7802320
433325  1116.432396     97799         NaN  l2d_cache_rd     7802320
433326  1116.432396     87883         NaN  l2d_cache_wr     7802320
433327  1116.432396    185682         NaN     l2d_cache     7802320

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
433323       100.0         NaN         NaN
433324       100.0         NaN         NaN
433325       100.0         NaN         NaN
433326       100.0         NaN         NaN
433327       100.0         NaN         NaN

[433328 rows x 8 columns]
           time     value       counter
4          0.02  12592485  instructions
8          0.03  18249434  instructions
12         0.04  17740417  instructions
16         0.05  18669782  instructions
20         0.06  19766706  instructions
...         ...       ...           ...
433308  1116.39  12403642  instructions
433312  1116.40  17444692  instructions
433316  1116.41  11234073  instructions
433320  1116.42  21089045  instructions
433324  1116.43  20210641  instructions

[108331 rows x 3 columns]
instructions
           time instructions
4          0.02     12592485
8          0.03     18249434
12         0.04     17740417
16         0.05     18669782
20         0.06     19766706
...         ...          ...
433308  1116.39     12403642
433312  1116.40     17444692
433316  1116.41     11234073
433320  1116.42     21089045
433324  1116.43     20210641

[108331 rows x 2 columns]
df3
           time l2d_cache_rd
1          0.01       355351
5          0.02       389087
9          0.03       492410
13         0.04       551122
17         0.05       556042
...         ...          ...
433309  1116.39       319652
433313  1116.40       251251
433317  1116.41       346891
433321  1116.42       475930
433325  1116.43        97799

[108332 rows x 2 columns]
df4
           time l2d_cache_wr
2          0.01       126978
6          0.02       116403
10         0.03       112236
14         0.04       116985
18         0.05       123287
...         ...          ...
433310  1116.39       112779
433314  1116.40       170733
433318  1116.41       293450
433322  1116.42       440111
433326  1116.43        87883

[108332 rows x 2 columns]
df5
           time l2d_cache
3          0.01    482329
7          0.02    505490
11         0.03    604646
15         0.04    668107
19         0.05    679329
...         ...       ...
433311  1116.39    432431
433315  1116.40    421984
433319  1116.41    640341
433323  1116.42    916041
433327  1116.43    185682

[108332 rows x 2 columns]
df6
           time instructions l2d_cache_rd
0          0.02     12592485       389087
1          0.03     18249434       492410
2          0.04     17740417       551122
3          0.05     18669782       556042
4          0.06     19766706       464840
...         ...          ...          ...
108326  1116.39     12403642       319652
108327  1116.40     17444692       251251
108328  1116.41     11234073       346891
108329  1116.42     21089045       475930
108330  1116.43     20210641        97799

[108331 rows x 3 columns]
df7
           time l2d_cache_wr l2d_cache
0          0.01       126978    482329
1          0.02       116403    505490
2          0.03       112236    604646
3          0.04       116985    668107
4          0.05       123287    679329
...         ...          ...       ...
108327  1116.39       112779    432431
108328  1116.40       170733    421984
108329  1116.41       293450    640341
108330  1116.42       440111    916041
108331  1116.43        87883    185682

[108332 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

               time     value  Unnamed: 2       counter  Unnamed: 4  \
0          0.010140   8251091         NaN  instructions    10111040
1          0.010140   3457965         NaN       l1d_tlb    10111040
2          0.010140   2289427         NaN    l1d_tlb_rd    10111040
3          0.010140   1168538         NaN    l1d_tlb_wr    10111040
4          0.020637  10843119         NaN  instructions     9859840
...             ...       ...         ...           ...         ...
431407  1111.438493   1887657         NaN    l1d_tlb_wr     9967040
431408  1111.445243  16095567         NaN  instructions     6316400
431409  1111.445243   6036289         NaN       l1d_tlb     6316400
431410  1111.445243   4304073         NaN    l1d_tlb_rd     6316400
431411  1111.445243   1732216         NaN    l1d_tlb_wr     6316400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
431407       100.0         NaN         NaN
431408       100.0         NaN         NaN
431409       100.0         NaN         NaN
431410       100.0         NaN         NaN
431411       100.0         NaN         NaN

[431412 rows x 8 columns]
           time     value       counter
4          0.02  10843119  instructions
8          0.03  18078763  instructions
12         0.04  17327762  instructions
16         0.05  18874820  instructions
20         0.06  21354927  instructions
...         ...       ...           ...
431392  1111.41  15674748  instructions
431396  1111.42  15024375  instructions
431400  1111.43  10595662  instructions
431404  1111.44  23517177  instructions
431408  1111.45  16095567  instructions

[107852 rows x 3 columns]
instructions
           time instructions
4          0.02     10843119
8          0.03     18078763
12         0.04     17327762
16         0.05     18874820
20         0.06     21354927
...         ...          ...
431392  1111.41     15674748
431396  1111.42     15024375
431400  1111.43     10595662
431404  1111.44     23517177
431408  1111.45     16095567

[107852 rows x 2 columns]
df3
           time  l1d_tlb
1          0.01  3457965
5          0.02  4432967
9          0.03  7541512
13         0.04  7413260
17         0.05  8013401
...         ...      ...
431393  1111.41  5908453
431397  1111.42  5530853
431401  1111.43  3676333
431405  1111.44  7514288
431409  1111.45  6036289

[107853 rows x 2 columns]
df4
           time l1d_tlb_rd
2          0.01    2289427
6          0.02    2895443
10         0.03    4855210
14         0.04    4775250
18         0.05    5165154
...         ...        ...
431394  1111.41    3942536
431398  1111.42    3732668
431402  1111.43    2704120
431406  1111.44    5626631
431410  1111.45    4304073

[107853 rows x 2 columns]
df5
           time l1d_tlb_wr
3          0.01    1168538
7          0.02    1537524
11         0.03    2686302
15         0.04    2638010
19         0.05    2848247
...         ...        ...
431395  1111.41    1965917
431399  1111.42    1798185
431403  1111.43     972213
431407  1111.44    1887657
431411  1111.45    1732216

[107853 rows x 2 columns]
df6
           time instructions  l1d_tlb
0          0.02     10843119  4432967
1          0.03     18078763  7541512
2          0.04     17327762  7413260
3          0.05     18874820  8013401
4          0.06     21354927  9078779
...         ...          ...      ...
107847  1111.41     15674748  5908453
107848  1111.42     15024375  5530853
107849  1111.43     10595662  3676333
107850  1111.44     23517177  7514288
107851  1111.45     16095567  6036289

[107852 rows x 3 columns]
df7
           time l1d_tlb_rd l1d_tlb_wr
0          0.01    2289427    1168538
1          0.02    2895443    1537524
2          0.03    4855210    2686302
3          0.04    4775250    2638010
4          0.05    5165154    2848247
...         ...        ...        ...
107848  1111.41    3942536    1965917
107849  1111.42    3732668    1798185
107850  1111.43    2704120     972213
107851  1111.44    5626631    1887657
107852  1111.45    4304073    1732216

[107853 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

               time     value  Unnamed: 2       counter  Unnamed: 4  \
0          0.010099   8157686         NaN  instructions    10237920
1          0.010099     15074         NaN     dtlb_walk    10237920
2          0.010099      1298         NaN     itlb_walk    10237920
3          0.010099   2741694         NaN       l1i_tlb    10237920
4          0.020630  10053565         NaN  instructions     9885480
...             ...       ...         ...           ...         ...
432711  1115.749859   5058787         NaN       l1i_tlb    10247040
432712  1115.753556   8222711         NaN  instructions     3277120
432713  1115.753556      1265         NaN     dtlb_walk     3277120
432714  1115.753556         5         NaN     itlb_walk     3277120
432715  1115.753556   1621196         NaN       l1i_tlb     3277120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
432711       100.0         NaN         NaN
432712       100.0         NaN         NaN
432713       100.0         NaN         NaN
432714       100.0         NaN         NaN
432715       100.0         NaN         NaN

[432716 rows x 8 columns]
           time     value       counter
4          0.02  10053565  instructions
8          0.03  18030753  instructions
12         0.04  17125842  instructions
16         0.05  17476983  instructions
20         0.06  21720844  instructions
...         ...       ...           ...
432696  1115.72  16346278  instructions
432700  1115.73  13669160  instructions
432704  1115.74  13941365  instructions
432708  1115.75  25535349  instructions
432712  1115.75   8222711  instructions

[108178 rows x 3 columns]
instructions
           time instructions
4          0.02     10053565
8          0.03     18030753
12         0.04     17125842
16         0.05     17476983
20         0.06     21720844
...         ...          ...
432696  1115.72     16346278
432700  1115.73     13669160
432704  1115.74     13941365
432708  1115.75     25535349
432712  1115.75      8222711

[108178 rows x 2 columns]
df3
           time dtlb_walk
1          0.01     15074
5          0.02     11973
9          0.03      2105
13         0.04      2443
17         0.05      2589
...         ...       ...
432697  1115.72     12861
432701  1115.73     21511
432705  1115.74     36353
432709  1115.75      3053
432713  1115.75      1265

[108179 rows x 2 columns]
df4
           time itlb_walk
2          0.01      1298
6          0.02      1325
10         0.03       626
14         0.04       666
18         0.05       736
...         ...       ...
432698  1115.72       621
432702  1115.73       773
432706  1115.74       243
432710  1115.75       186
432714  1115.75         5

[108179 rows x 2 columns]
df5
           time  l1i_tlb
3          0.01  2741694
7          0.02  3338032
11         0.03  6036376
15         0.04  5860042
19         0.05  5959839
...         ...      ...
432699  1115.72  4312149
432703  1115.73  3775373
432707  1115.74  4903903
432711  1115.75  5058787
432715  1115.75  1621196

[108179 rows x 2 columns]
df6
           time instructions dtlb_walk
0          0.02     10053565     11973
1          0.03     18030753      2105
2          0.04     17125842      2443
3          0.05     17476983      2589
4          0.06     21720844      3439
...         ...          ...       ...
108175  1115.74     13941365     36353
108176  1115.75     25535349      3053
108177  1115.75     25535349      1265
108178  1115.75      8222711      3053
108179  1115.75      8222711      1265

[108180 rows x 3 columns]
df7
           time itlb_walk  l1i_tlb
0          0.01      1298  2741694
1          0.02      1325  3338032
2          0.03       626  6036376
3          0.04       666  5860042
4          0.05       736  5959839
...         ...       ...      ...
108176  1115.74       243  4903903
108177  1115.75       186  5058787
108178  1115.75       186  1621196
108179  1115.75         5  5058787
108180  1115.75         5  1621196

[108181 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

               time     value  Unnamed: 2       counter  Unnamed: 4  \
0          0.010114   8470572         NaN  instructions    10509120
1          0.010114     58139         NaN       l2d_tlb    10509120
2          0.010114     48353         NaN    l2d_tlb_rd    10509120
3          0.010114      9786         NaN    l2d_tlb_wr    10509120
4          0.020625  10607237         NaN  instructions     9865360
...             ...       ...         ...           ...         ...
432475  1114.925278      7635         NaN    l2d_tlb_wr    10096160
432476  1114.934513  22253927         NaN  instructions     8693120
432477  1114.934513     49299         NaN       l2d_tlb     8693120
432478  1114.934513     30861         NaN    l2d_tlb_rd     8693120
432479  1114.934513     18438         NaN    l2d_tlb_wr     8693120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
432475       100.0         NaN         NaN
432476       100.0         NaN         NaN
432477       100.0         NaN         NaN
432478       100.0         NaN         NaN
432479       100.0         NaN         NaN

[432480 rows x 8 columns]
           time     value       counter
4          0.02  10607237  instructions
8          0.03  18285360  instructions
12         0.04  17087232  instructions
16         0.05  18381117  instructions
20         0.06  19340572  instructions
...         ...       ...           ...
432460  1114.89  11733817  instructions
432464  1114.90  18416300  instructions
432468  1114.91  10969378  instructions
432472  1114.93  20150125  instructions
432476  1114.93  22253927  instructions

[108119 rows x 3 columns]
instructions
           time instructions
4          0.02     10607237
8          0.03     18285360
12         0.04     17087232
16         0.05     18381117
20         0.06     19340572
...         ...          ...
432460  1114.89     11733817
432464  1114.90     18416300
432468  1114.91     10969378
432472  1114.93     20150125
432476  1114.93     22253927

[108119 rows x 2 columns]
df3
           time l2d_tlb
1          0.01   58139
5          0.02   76023
9          0.03  155212
13         0.04  172651
17         0.05  170912
...         ...     ...
432461  1114.89  152515
432465  1114.90  125737
432469  1114.91  129164
432473  1114.93   71097
432477  1114.93   49299

[108120 rows x 2 columns]
df4
           time l2d_tlb_rd
2          0.01      48353
6          0.02      67626
10         0.03     147541
14         0.04     164445
18         0.05     162596
...         ...        ...
432462  1114.89     140426
432466  1114.90     116582
432470  1114.91     121045
432474  1114.93      63462
432478  1114.93      30861

[108120 rows x 2 columns]
df5
           time l2d_tlb_wr
3          0.01       9786
7          0.02       8397
11         0.03       7671
15         0.04       8206
19         0.05       8316
...         ...        ...
432463  1114.89      12089
432467  1114.90       9155
432471  1114.91       8119
432475  1114.93       7635
432479  1114.93      18438

[108120 rows x 2 columns]
df6
           time instructions l2d_tlb
0          0.02     10607237   76023
1          0.03     18285360  155212
2          0.04     17087232  172651
3          0.05     18381117  170912
4          0.06     19340572  152002
...         ...          ...     ...
108116  1114.91     10969378  129164
108117  1114.93     20150125   71097
108118  1114.93     20150125   49299
108119  1114.93     22253927   71097
108120  1114.93     22253927   49299

[108121 rows x 3 columns]
df7
           time l2d_tlb_rd l2d_tlb_wr
0          0.01      48353       9786
1          0.02      67626       8397
2          0.03     147541       7671
3          0.04     164445       8206
4          0.05     162596       8316
...         ...        ...        ...
108117  1114.91     121045       8119
108118  1114.93      63462       7635
108119  1114.93      63462      18438
108120  1114.93      30861       7635
108121  1114.93      30861      18438

[108122 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

               time     value  Unnamed: 2       counter  Unnamed: 4  \
0          0.010159   9363279         NaN  instructions    11230960
1          0.010159         8         NaN      vfp_spec    11230960
2          0.010159  11215852         NaN     inst_spec    11230960
3          0.010159      5805         NaN      ase_spec    11230960
4          0.020683  11209654         NaN  instructions     9921960
...             ...       ...         ...           ...         ...
433323  1116.270565         0         NaN      ase_spec    10102480
433324  1116.274533   8941953         NaN  instructions     3565320
433325  1116.274533         0         NaN      vfp_spec     3565320
433326  1116.274533   9269181         NaN     inst_spec     3565320
433327  1116.274533         0         NaN      ase_spec     3565320

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
433323       100.0         NaN         NaN
433324       100.0         NaN         NaN
433325       100.0         NaN         NaN
433326       100.0         NaN         NaN
433327       100.0         NaN         NaN

[433328 rows x 8 columns]
           time     value       counter
4          0.02  11209654  instructions
8          0.03  18285553  instructions
12         0.04  17105445  instructions
16         0.05  18397521  instructions
20         0.06  18989791  instructions
...         ...       ...           ...
433308  1116.24  16180566  instructions
433312  1116.25  13987306  instructions
433316  1116.26  13476530  instructions
433320  1116.27  25711762  instructions
433324  1116.27   8941953  instructions

[108331 rows x 3 columns]
instructions
           time instructions
4          0.02     11209654
8          0.03     18285553
12         0.04     17105445
16         0.05     18397521
20         0.06     18989791
...         ...          ...
433308  1116.24     16180566
433312  1116.25     13987306
433316  1116.26     13476530
433320  1116.27     25711762
433324  1116.27      8941953

[108331 rows x 2 columns]
df3
           time vfp_spec
1          0.01        8
5          0.02      296
9          0.03     2953
13         0.04      964
17         0.05      762
...         ...      ...
433309  1116.24        0
433313  1116.25        0
433317  1116.26        0
433321  1116.27        0
433325  1116.27        0

[108332 rows x 2 columns]
df4
           time inst_spec
2          0.01  11215852
6          0.02  13838200
10         0.03  22794153
14         0.04  21526847
18         0.05  22899890
...         ...       ...
433310  1116.24  17578073
433314  1116.25  15453515
433318  1116.26  17535089
433322  1116.27  26640630
433326  1116.27   9269181

[108332 rows x 2 columns]
df5
           time ase_spec
3          0.01     5805
7          0.02    11785
11         0.03    27439
15         0.04    13209
19         0.05    11409
...         ...      ...
433311  1116.24     2497
433315  1116.25      582
433319  1116.26       42
433323  1116.27        0
433327  1116.27        0

[108332 rows x 2 columns]
df6
           time instructions vfp_spec
0          0.02     11209654      296
1          0.03     18285553     2953
2          0.04     17105445      964
3          0.05     18397521      762
4          0.06     18989791      393
...         ...          ...      ...
108328  1116.26     13476530        0
108329  1116.27     25711762        0
108330  1116.27     25711762        0
108331  1116.27      8941953        0
108332  1116.27      8941953        0

[108333 rows x 3 columns]
df7
           time inst_spec ase_spec
0          0.01  11215852     5805
1          0.02  13838200    11785
2          0.03  22794153    27439
3          0.04  21526847    13209
4          0.05  22899890    11409
...         ...       ...      ...
108329  1116.26  17535089       42
108330  1116.27  26640630        0
108331  1116.27  26640630        0
108332  1116.27   9269181        0
108333  1116.27   9269181        0

[108334 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

               time     value  Unnamed: 2           counter  Unnamed: 4  \
0          0.010118   7184899         NaN      instructions     8888200
1          0.010118   4428478         NaN     stall_backend     8888200
2          0.010118   6124802         NaN    stall_frontend     8888200
3          0.010118    134084         NaN  ll_cache_miss_rd     8888200
4          0.021778  10645741         NaN      instructions    10927560
...             ...       ...         ...               ...         ...
433299  1116.182365    107064         NaN  ll_cache_miss_rd    10011720
433300  1116.185093   5494243         NaN      instructions     2336680
433301  1116.185093   1523031         NaN     stall_backend     2336680
433302  1116.185093    282752         NaN    stall_frontend     2336680
433303  1116.185093     31633         NaN  ll_cache_miss_rd     2336680

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
433299       100.0         NaN         NaN
433300       100.0         NaN         NaN
433301       100.0         NaN         NaN
433302       100.0         NaN         NaN
433303       100.0         NaN         NaN

[433304 rows x 8 columns]
           time     value       counter
4          0.02  10645741  instructions
8          0.03  18017976  instructions
12         0.04  17405507  instructions
16         0.05  17602858  instructions
20         0.07  24667762  instructions
...         ...       ...           ...
433284  1116.15  16838296  instructions
433288  1116.16  14258315  instructions
433292  1116.17  14917289  instructions
433296  1116.18  26535971  instructions
433300  1116.19   5494243  instructions

[108325 rows x 3 columns]
instructions
           time instructions
4          0.02     10645741
8          0.03     18017976
12         0.04     17405507
16         0.05     17602858
20         0.07     24667762
...         ...          ...
433284  1116.15     16838296
433288  1116.16     14258315
433292  1116.17     14917289
433296  1116.18     26535971
433300  1116.19      5494243

[108325 rows x 2 columns]
df3
           time stall_backend
1          0.01       4428478
5          0.02       5318983
9          0.03       2338415
13         0.04       2335513
17         0.05       2369381
...         ...           ...
433285  1116.15       7839000
433289  1116.16      10468230
433293  1116.17       8316226
433297  1116.18       6781167
433301  1116.19       1523031

[108326 rows x 2 columns]
df4
           time stall_frontend
2          0.01        6124802
6          0.02        7020938
10         0.03        5176531
14         0.04        5627404
18         0.05        5599251
...         ...            ...
433286  1116.15        1467031
433290  1116.16        1225913
433294  1116.17         740794
433298  1116.18         338402
433302  1116.19         282752

[108326 rows x 2 columns]
df5
           time ll_cache_miss_rd
3          0.01           134084
7          0.02           150760
11         0.03            89816
15         0.04            91417
19         0.05           105473
...         ...              ...
433287  1116.15           103041
433291  1116.16           235074
433295  1116.17           695536
433299  1116.18           107064
433303  1116.19            31633

[108326 rows x 2 columns]
df6
           time instructions stall_backend
0          0.02     10645741       5318983
1          0.03     18017976       2338415
2          0.04     17405507       2335513
3          0.05     17602858       2369381
4          0.07     24667762       3184939
...         ...          ...           ...
108320  1116.15     16838296       7839000
108321  1116.16     14258315      10468230
108322  1116.17     14917289       8316226
108323  1116.18     26535971       6781167
108324  1116.19      5494243       1523031

[108325 rows x 3 columns]
df7
           time stall_frontend ll_cache_miss_rd
0          0.01        6124802           134084
1          0.02        7020938           150760
2          0.03        5176531            89816
3          0.04        5627404            91417
4          0.05        5599251           105473
...         ...            ...              ...
108321  1116.15        1467031           103041
108322  1116.16        1225913           235074
108323  1116.17         740794           695536
108324  1116.18         338402           107064
108325  1116.19         282752            31633

[108326 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

               time     value  Unnamed: 2        counter  Unnamed: 4  \
0          0.010111   8041479         NaN   instructions    10036000
1          0.010111   2508805         NaN     mem_access    10036000
2          0.010111   1549591         NaN  mem_access_rd    10036000
3          0.010111    959214         NaN  mem_access_wr    10036000
4          0.020636   9992413         NaN   instructions     9888440
...             ...       ...         ...            ...         ...
433659  1117.300284   2233445         NaN  mem_access_wr    10027120
433660  1117.305302  11843454         NaN   instructions     4615400
433661  1117.305302   3413857         NaN     mem_access     4615400
433662  1117.305302   2134278         NaN  mem_access_rd     4615400
433663  1117.305302   1279579         NaN  mem_access_wr     4615400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
433659       100.0         NaN         NaN
433660       100.0         NaN         NaN
433661       100.0         NaN         NaN
433662       100.0         NaN         NaN
433663       100.0         NaN         NaN

[433664 rows x 8 columns]
           time     value       counter
4          0.02   9992413  instructions
8          0.03  18156222  instructions
12         0.04  17337132  instructions
16         0.05  17586265  instructions
20         0.06  21526340  instructions
...         ...       ...           ...
433644  1117.27  12449070  instructions
433648  1117.28  18213788  instructions
433652  1117.29  15566684  instructions
433656  1117.30  24704136  instructions
433660  1117.31  11843454  instructions

[108415 rows x 3 columns]
instructions
           time instructions
4          0.02      9992413
8          0.03     18156222
12         0.04     17337132
16         0.05     17586265
20         0.06     21526340
...         ...          ...
433644  1117.27     12449070
433648  1117.28     18213788
433652  1117.29     15566684
433656  1117.30     24704136
433660  1117.31     11843454

[108415 rows x 2 columns]
df3
           time mem_access
1          0.01    2508805
5          0.02    3237983
9          0.03    6880663
13         0.04    6659780
17         0.05    6858579
...         ...        ...
433645  1117.27    4511656
433649  1117.28    6256605
433653  1117.29    4049512
433657  1117.30    6596988
433661  1117.31    3413857

[108416 rows x 2 columns]
df4
           time mem_access_rd
2          0.01       1549591
6          0.02       2001995
10         0.03       4368147
14         0.04       4201138
18         0.05       4337821
...         ...           ...
433646  1117.27       2837444
433650  1117.28       4147750
433654  1117.29       2928126
433658  1117.30       4363543
433662  1117.31       2134278

[108416 rows x 2 columns]
df5
           time mem_access_wr
3          0.01        959214
7          0.02       1235988
11         0.03       2512516
15         0.04       2458642
19         0.05       2520758
...         ...           ...
433647  1117.27       1674212
433651  1117.28       2108855
433655  1117.29       1121386
433659  1117.30       2233445
433663  1117.31       1279579

[108416 rows x 2 columns]
df6
           time instructions mem_access
0          0.02      9992413    3237983
1          0.03     18156222    6880663
2          0.04     17337132    6659780
3          0.05     17586265    6858579
4          0.06     21526340    8204175
...         ...          ...        ...
108410  1117.27     12449070    4511656
108411  1117.28     18213788    6256605
108412  1117.29     15566684    4049512
108413  1117.30     24704136    6596988
108414  1117.31     11843454    3413857

[108415 rows x 3 columns]
df7
           time mem_access_rd mem_access_wr
0          0.01       1549591        959214
1          0.02       2001995       1235988
2          0.03       4368147       2512516
3          0.04       4201138       2458642
4          0.05       4337821       2520758
...         ...           ...           ...
108411  1117.27       2837444       1674212
108412  1117.28       4147750       2108855
108413  1117.29       2928126       1121386
108414  1117.30       4363543       2233445
108415  1117.31       2134278       1279579

[108416 rows x 3 columns]
merged_df
          time instructions cpu-cycles  br_pred br_mis_pred l1d_cache_rd  \
0         0.02     11415758   14672265  2266619       99376      2077624
1         0.03     18908730   14691857  4328677      172326      4397053
2         0.04     17339848   14678211  3911290      165770      4378976
3         0.05     18790089   14920062  4263492      170152      4601041
4         0.07     23069023   14169788  5531388      135913      5366033
...        ...          ...        ...      ...         ...          ...
82301  1111.40     27996457   14924954  5932400       59243      8165133
82302  1111.41     32462334   14931757  6674866       41408      8827032
82303  1111.42     32733755   14977245  6732615       41578      8924902
82304  1111.43     24334857   14885385  4789493       62193      8915053
82305  1111.44     24035711   17581459  5103699       65610      8873404

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ... l2d_tlb_wr  \
0          1281350   3358974   3718142           225812  ...       8397
1          2529277   6926330   7131143           361137  ...       7671
2          2566729   6945705   7141295           443574  ...       8206
3          2620499   7221540   7092355           405025  ...       8316
4          2746954   8112987   8144072           366541  ...       8939
...            ...       ...       ...              ...  ...        ...
82301      4135611  12300744  10594000           229681  ...       8584
82302      4482394  13309426  10366017           240738  ...       8653
82303      4520938  13445840  10528098           239774  ...      10896
82304      4500923  13415976  10418206           251476  ...      12964
82305      4483932  13357336  10428133           246011  ...      14758

      vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0          296  13838200    11785       5318983        7020938
1         2953  22794153    27439       2338415        5176531
2          964  21526847    13209       2335513        5627404
3          762  22899890    11409       2369381        5599251
4          279  26399446    17431       3184939        6615269
...        ...       ...      ...           ...            ...
82301       18  20916586    16902       6099424        3588571
82302       12  32398811    14071       1630335        2066717
82303      956  38284762    14075       4193441        3263856
82304     1888  35568911    10834       3295894        2755187
82305     1905  35702271    10824       3092925        2541297

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               150760    3237983       2001995       1235988
1                89816    6880663       4368147       2512516
2                91417    6659780       4201138       2458642
3               105473    6858579       4337821       2520758
4               136762    7990464       5287807       2702657
...                ...        ...           ...           ...
82301           139159    6959662       4429338       2530324
82302            74168    4725660       2997128       1728532
82303           190261    9828863       6494750       3334113
82304            64615   12693624       8417923       4275701
82305            30681   13377689       8876948       4500741

[82306 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010117   8435302         NaN  instructions    10496040
1         0.010117  15595724         NaN    cpu-cycles    10496040
2         0.010117   1555907         NaN       br_pred    10496040
3         0.010117     65080         NaN   br_mis_pred    10496040
4         0.020626  10413681         NaN  instructions     9645680
...            ...       ...         ...           ...         ...
320079  834.861028     85240         NaN   br_mis_pred    10021440
320080  834.870007  22017140         NaN  instructions     8452000
320081  834.870007  12609369         NaN    cpu-cycles     8452000
320082  834.870007   3171445         NaN       br_pred     8452000
320083  834.870007      5139         NaN   br_mis_pred     8452000

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.54  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.72  insn per cycle
...            ...         ...             ...
320079       100.0         NaN             NaN
320080       100.0        1.75  insn per cycle
320081       100.0         NaN             NaN
320082       100.0         NaN             NaN
320083       100.0         NaN             NaN

[320084 rows x 8 columns]
          time     value       counter
4         0.02  10413681  instructions
8         0.03  18398832  instructions
12        0.04  17136459  instructions
16        0.05  18768702  instructions
20        0.06  25135842  instructions
...        ...       ...           ...
320064  834.83  14260777  instructions
320068  834.84  18204927  instructions
320072  834.85  11236819  instructions
320076  834.86  19872835  instructions
320080  834.87  22017140  instructions

[80020 rows x 3 columns]
instructions
          time instructions
4         0.02     10413681
8         0.03     18398832
12        0.04     17136459
16        0.05     18768702
20        0.06     25135842
...        ...          ...
320064  834.83     14260777
320068  834.84     18204927
320072  834.85     11236819
320076  834.86     19872835
320080  834.87     22017140

[80020 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   15595724
5         0.02   14394167
9         0.03   14695809
13        0.04   14888565
17        0.05   14925501
...        ...        ...
320065  834.83   18572608
320069  834.84   14629351
320073  834.85   14970696
320077  834.86   14931211
320081  834.87   12609369

[80021 rows x 2 columns]
df4
          time  br_pred
2         0.01  1555907
6         0.02  2024434
10        0.03  4194700
14        0.04  3858223
18        0.05  4268312
...        ...      ...
320066  834.83  3122050
320070  834.84  4098797
320074  834.85  2916808
320078  834.86  4520261
320082  834.87  3171445

[80021 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       65080
7         0.02       84284
11        0.03      167652
15        0.04      167974
19        0.05      164809
...        ...         ...
320067  834.83       62553
320071  834.84       27174
320075  834.85       54686
320079  834.86       85240
320083  834.87        5139

[80021 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     10413681   14394167
1        0.03     18398832   14695809
2        0.04     17136459   14888565
3        0.05     18768702   14925501
4        0.06     25135842   19526776
...       ...          ...        ...
80015  834.83     14260777   18572608
80016  834.84     18204927   14629351
80017  834.85     11236819   14970696
80018  834.86     19872835   14931211
80019  834.87     22017140   12609369

[80020 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1555907       65080
1        0.02  2024434       84284
2        0.03  4194700      167652
3        0.04  3858223      167974
4        0.05  4268312      164809
...       ...      ...         ...
80016  834.83  3122050       62553
80017  834.84  4098797       27174
80018  834.85  2916808       54686
80019  834.86  4520261       85240
80020  834.87  3171445        5139

[80021 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010116   9168497         NaN  instructions    11178600
1         0.010116   1762968         NaN  l1d_cache_rd    11178600
2         0.010116   1101833         NaN  l1d_cache_wr    11178600
3         0.010116   2864801         NaN     l1d_cache    11178600
4         0.020663  11239830         NaN  instructions     9926520
...            ...       ...         ...           ...         ...
318247  830.688481   5211069         NaN     l1d_cache    10036040
318248  830.696557  19727247         NaN  instructions     7605280
318249  830.696557   3576957         NaN  l1d_cache_rd     7605280
318250  830.696557   2100426         NaN  l1d_cache_wr     7605280
318251  830.696557   5677383         NaN     l1d_cache     7605280

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
318247       100.0         NaN         NaN
318248       100.0         NaN         NaN
318249       100.0         NaN         NaN
318250       100.0         NaN         NaN
318251       100.0         NaN         NaN

[318252 rows x 8 columns]
          time     value       counter
4         0.02  11239830  instructions
8         0.03  18434875  instructions
12        0.04  16981363  instructions
16        0.05  18002422  instructions
20        0.06  19337363  instructions
...        ...       ...           ...
318232  830.66  13505282  instructions
318236  830.67  17582791  instructions
318240  830.68  11096721  instructions
318244  830.69  21331836  instructions
318248  830.70  19727247  instructions

[79562 rows x 3 columns]
instructions
          time instructions
4         0.02     11239830
8         0.03     18434875
12        0.04     16981363
16        0.05     18002422
20        0.06     19337363
...        ...          ...
318232  830.66     13505282
318236  830.67     17582791
318240  830.68     11096721
318244  830.69     21331836
318248  830.70     19727247

[79562 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1762968
5         0.02      2348329
9         0.03      4451382
13        0.04      4134455
17        0.05      4410766
...        ...          ...
318233  830.66      3087164
318237  830.67      4011367
318241  830.68      2206068
318245  830.69      3655998
318249  830.70      3576957

[79563 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1101833
6         0.02      1425213
10        0.03      2553637
14        0.04      2413489
18        0.05      2520146
...        ...          ...
318234  830.66      1828672
318238  830.67      2017085
318242  830.68       948761
318246  830.69      1555071
318250  830.70      2100426

[79563 rows x 2 columns]
df5
          time l1d_cache
3         0.01   2864801
7         0.02   3773542
11        0.03   7005019
15        0.04   6547944
19        0.05   6930912
...        ...       ...
318235  830.66   4915836
318239  830.67   6028452
318243  830.68   3154829
318247  830.69   5211069
318251  830.70   5677383

[79563 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     11239830      2348329
1        0.03     18434875      4451382
2        0.04     16981363      4134455
3        0.05     18002422      4410766
4        0.06     19337363      4718249
...       ...          ...          ...
79557  830.66     13505282      3087164
79558  830.67     17582791      4011367
79559  830.68     11096721      2206068
79560  830.69     21331836      3655998
79561  830.70     19727247      3576957

[79562 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      1101833   2864801
1        0.02      1425213   3773542
2        0.03      2553637   7005019
3        0.04      2413489   6547944
4        0.05      2520146   6930912
...       ...          ...       ...
79558  830.66      1828672   4915836
79559  830.67      2017085   6028452
79560  830.68       948761   3154829
79561  830.69      1555071   5211069
79562  830.70      2100426   5677383

[79563 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010172   8037791         NaN      instructions     9745520
1         0.010172   2901927         NaN         l1i_cache     9745520
2         0.010172    197604         NaN  l1i_cache_refill     9745520
3         0.010172     68636         NaN     remote_access     9745520
4         0.020682   9740080         NaN      instructions     9878680
...            ...       ...         ...               ...         ...
318247  830.865404      4840         NaN     remote_access    10195600
318248  830.875758  26068139         NaN      instructions     9918680
318249  830.875758   6971534         NaN         l1i_cache     9918680
318250  830.875758      8297         NaN  l1i_cache_refill     9918680
318251  830.875758      5314         NaN     remote_access     9918680

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
318247       100.0         NaN         NaN
318248       100.0         NaN         NaN
318249       100.0         NaN         NaN
318250       100.0         NaN         NaN
318251       100.0         NaN         NaN

[318252 rows x 8 columns]
          time     value       counter
4         0.02   9740080  instructions
8         0.03  18119434  instructions
12        0.04  18579494  instructions
16        0.05  18378352  instructions
20        0.06  19357164  instructions
...        ...       ...           ...
318232  830.83  11069332  instructions
318236  830.84  18449442  instructions
318240  830.85  10263042  instructions
318244  830.87  18543278  instructions
318248  830.88  26068139  instructions

[79562 rows x 3 columns]
instructions
          time instructions
4         0.02      9740080
8         0.03     18119434
12        0.04     18579494
16        0.05     18378352
20        0.06     19357164
...        ...          ...
318232  830.83     11069332
318236  830.84     18449442
318240  830.85     10263042
318244  830.87     18543278
318248  830.88     26068139

[79562 rows x 2 columns]
df3
          time l1i_cache
1         0.01   2901927
5         0.02   3569717
9         0.03   7299724
13        0.04   7564540
17        0.05   7392841
...        ...       ...
318233  830.83   4122549
318237  830.84   5624467
318241  830.85   3568789
318245  830.87   6508721
318249  830.88   6971534

[79563 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           197604
6         0.02           216473
10        0.03           365395
14        0.04           475239
18        0.05           397563
...        ...              ...
318234  830.83           186732
318238  830.84            99899
318242  830.85            35066
318246  830.87            11872
318250  830.88             8297

[79563 rows x 2 columns]
df5
          time remote_access
3         0.01         68636
7         0.02         57199
11        0.03         21833
15        0.04         23882
19        0.05         21295
...        ...           ...
318235  830.83         13835
318239  830.84          3942
318243  830.85          3839
318247  830.87          4840
318251  830.88          5314

[79563 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02      9740080   3569717
1        0.03     18119434   7299724
2        0.04     18579494   7564540
3        0.05     18378352   7392841
4        0.06     19357164   7483230
...       ...          ...       ...
79557  830.83     11069332   4122549
79558  830.84     18449442   5624467
79559  830.85     10263042   3568789
79560  830.87     18543278   6508721
79561  830.88     26068139   6971534

[79562 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           197604         68636
1        0.02           216473         57199
2        0.03           365395         21833
3        0.04           475239         23882
4        0.05           397563         21295
...       ...              ...           ...
79558  830.83           186732         13835
79559  830.84            99899          3942
79560  830.85            35066          3839
79561  830.87            11872          4840
79562  830.88             8297          5314

[79563 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010138   9172068         NaN  instructions    11080920
1         0.010138    351700         NaN  l2d_cache_rd    11080920
2         0.010138    124412         NaN  l2d_cache_wr    11080920
3         0.010138    476112         NaN     l2d_cache    11080920
4         0.020621  11062726         NaN  instructions     9886920
...            ...       ...         ...           ...         ...
320167  835.148499    513997         NaN     l2d_cache    10030880
320168  835.152907  10012865         NaN  instructions     3967200
320169  835.152907     58120         NaN  l2d_cache_rd     3967200
320170  835.152907     51040         NaN  l2d_cache_wr     3967200
320171  835.152907    109160         NaN     l2d_cache     3967200

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
320167       100.0         NaN         NaN
320168       100.0         NaN         NaN
320169       100.0         NaN         NaN
320170       100.0         NaN         NaN
320171       100.0         NaN         NaN

[320172 rows x 8 columns]
          time     value       counter
4         0.02  11062726  instructions
8         0.03  18370399  instructions
12        0.04  17052510  instructions
16        0.05  18078365  instructions
20        0.06  19032355  instructions
...        ...       ...           ...
320152  835.12  17406623  instructions
320156  835.13  12662589  instructions
320160  835.14  12859721  instructions
320164  835.15  25303461  instructions
320168  835.15  10012865  instructions

[80042 rows x 3 columns]
instructions
          time instructions
4         0.02     11062726
8         0.03     18370399
12        0.04     17052510
16        0.05     18078365
20        0.06     19032355
...        ...          ...
320152  835.12     17406623
320156  835.13     12662589
320160  835.14     12859721
320164  835.15     25303461
320168  835.15     10012865

[80042 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       351700
5         0.02       368238
9         0.03       473480
13        0.04       537342
17        0.05       507265
...        ...          ...
320153  835.12       304984
320157  835.13       300665
320161  835.14       473315
320165  835.15       265416
320169  835.15        58120

[80043 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       124412
6         0.02       111187
10        0.03       109944
14        0.04       110525
18        0.05       113966
...        ...          ...
320154  835.12       147490
320158  835.13       197888
320162  835.14       417609
320166  835.15       248581
320170  835.15        51040

[80043 rows x 2 columns]
df5
          time l2d_cache
3         0.01    476112
7         0.02    479425
11        0.03    583424
15        0.04    647867
19        0.05    621231
...        ...       ...
320155  835.12    452474
320159  835.13    498553
320163  835.14    890924
320167  835.15    513997
320171  835.15    109160

[80043 rows x 2 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

df6
         time instructions l2d_cache_rd
0        0.02     11062726       368238
1        0.03     18370399       473480
2        0.04     17052510       537342
3        0.05     18078365       507265
4        0.06     19032355       465191
...       ...          ...          ...
80039  835.14     12859721       473315
80040  835.15     25303461       265416
80041  835.15     25303461        58120
80042  835.15     10012865       265416
80043  835.15     10012865        58120

[80044 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       124412    476112
1        0.02       111187    479425
2        0.03       109944    583424
3        0.04       110525    647867
4        0.05       113966    621231
...       ...          ...       ...
80040  835.14       417609    890924
80041  835.15       248581    513997
80042  835.15       248581    109160
80043  835.15        51040    513997
80044  835.15        51040    109160

[80045 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010186   7975886         NaN  instructions     9803120
1         0.010186   3348062         NaN       l1d_tlb     9803120
2         0.010186   2229040         NaN    l1d_tlb_rd     9803120
3         0.010186   1119022         NaN    l1d_tlb_wr     9803120
4         0.020683   9262981         NaN  instructions     9762520
...            ...       ...         ...           ...         ...
318063  829.672386   1954390         NaN    l1d_tlb_wr     9869960
318064  829.678663  15006081         NaN  instructions     5834080
318065  829.678663   5578412         NaN       l1d_tlb     5834080
318066  829.678663   3961808         NaN    l1d_tlb_rd     5834080
318067  829.678663   1616604         NaN    l1d_tlb_wr     5834080

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
318063       100.0         NaN         NaN
318064       100.0         NaN         NaN
318065       100.0         NaN         NaN
318066       100.0         NaN         NaN
318067       100.0         NaN         NaN

[318068 rows x 8 columns]
          time     value       counter
4         0.02   9262981  instructions
8         0.03  23461598  instructions
12        0.04  16990024  instructions
16        0.05  18174715  instructions
20        0.06  19271797  instructions
...        ...       ...           ...
318048  829.64  14071276  instructions
318052  829.65  15932355  instructions
318056  829.66  10623344  instructions
318060  829.67  23902424  instructions
318064  829.68  15006081  instructions

[79516 rows x 3 columns]
instructions
          time instructions
4         0.02      9262981
8         0.03     23461598
12        0.04     16990024
16        0.05     18174715
20        0.06     19271797
...        ...          ...
318048  829.64     14071276
318052  829.65     15932355
318056  829.66     10623344
318060  829.67     23902424
318064  829.68     15006081

[79516 rows x 2 columns]
df3
          time  l1d_tlb
1         0.01  3348062
5         0.02  3822223
9         0.03  9877888
13        0.04  7256269
17        0.05  7732951
...        ...      ...
318049  829.64  5520694
318053  829.65  5579350
318057  829.66  3640243
318061  829.67  7758425
318065  829.68  5578412

[79517 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2229040
6         0.02    2535350
10        0.03    6358444
14        0.04    4663925
18        0.05    4976466
...        ...        ...
318050  829.64    3645009
318054  829.65    3809620
318058  829.66    2695802
318062  829.67    5804035
318066  829.68    3961808

[79517 rows x 2 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]

df5
          time l1d_tlb_wr
3         0.01    1119022
7         0.02    1286873
11        0.03    3519444
15        0.04    2592344
19        0.05    2756485
...        ...        ...
318051  829.64    1875685
318055  829.65    1769730
318059  829.66     944441
318063  829.67    1954390
318067  829.68    1616604

[79517 rows x 2 columns]
df6
         time instructions  l1d_tlb
0        0.02      9262981  3822223
1        0.03     23461598  9877888
2        0.04     16990024  7256269
3        0.05     18174715  7732951
4        0.06     19271797  8115040
...       ...          ...      ...
79511  829.64     14071276  5520694
79512  829.65     15932355  5579350
79513  829.66     10623344  3640243
79514  829.67     23902424  7758425
79515  829.68     15006081  5578412

[79516 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2229040    1119022
1        0.02    2535350    1286873
2        0.03    6358444    3519444
3        0.04    4663925    2592344
4        0.05    4976466    2756485
...       ...        ...        ...
79512  829.64    3645009    1875685
79513  829.65    3809620    1769730
79514  829.66    2695802     944441
79515  829.67    5804035    1954390
79516  829.68    3961808    1616604

[79517 rows x 3 columns]
              time    value  Unnamed: 2       counter  Unnamed: 4  Unnamed: 5  \
0         0.010105  8200455         NaN  instructions    10288200       100.0
1         0.010105    15528         NaN     dtlb_walk    10288200       100.0
2         0.010105     1305         NaN     itlb_walk    10288200       100.0
3         0.010105  2768329         NaN       l1i_tlb    10288200       100.0
4         0.020606  9826584         NaN  instructions     9862520       100.0
...            ...      ...         ...           ...         ...         ...
318095  830.016837  5101575         NaN       l1i_tlb     9998960       100.0
318096  830.018071  1325309         NaN  instructions      715720       100.0
318097  830.018071     1108         NaN     dtlb_walk      715720       100.0
318098  830.018071        4         NaN     itlb_walk      715720       100.0
318099  830.018071   311987         NaN       l1i_tlb      715720       100.0

        Unnamed: 6  Unnamed: 7
0              NaN         NaN
1              NaN         NaN
2              NaN         NaN
3              NaN         NaN
4              NaN         NaN
...            ...         ...
318095         NaN         NaN
318096         NaN         NaN
318097         NaN         NaN
318098         NaN         NaN
318099         NaN         NaN

[318100 rows x 8 columns]
          time     value       counter
4         0.02   9826584  instructions
8         0.03  18396921  instructions
12        0.04  16941741  instructions
16        0.05  17520180  instructions
20        0.06  21608025  instructions
...        ...       ...           ...
318080  829.99  20220495  instructions
318084  830.00  11591644  instructions
318088  830.01  16873316  instructions
318092  830.02  26895493  instructions
318096  830.02   1325309  instructions

[79524 rows x 3 columns]
instructions
          time instructions
4         0.02      9826584
8         0.03     18396921
12        0.04     16941741
16        0.05     17520180
20        0.06     21608025
...        ...          ...
318080  829.99     20220495
318084  830.00     11591644
318088  830.01     16873316
318092  830.02     26895493
318096  830.02      1325309

[79524 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     15528
5         0.02     11590
9         0.03      2097
13        0.04      2404
17        0.05      2570
...        ...       ...
318081  829.99     15364
318085  830.00     24916
318089  830.01     30863
318093  830.02       358
318097  830.02      1108

[79525 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1305
6         0.02      1269
10        0.03       566
14        0.04       579
18        0.05       587
...        ...       ...
318082  829.99       785
318086  830.00       551
318090  830.01       267
318094  830.02         0
318098  830.02         4

[79525 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  2768329
7         0.02  3262738
11        0.03  6119244
15        0.04  5806806
19        0.05  5978768
...        ...      ...
318083  829.99  5311811
318087  830.00  3323154
318091  830.01  5337429
318095  830.02  5101575
318099  830.02   311987

[79525 rows x 2 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

df6
         time instructions dtlb_walk
0        0.02      9826584     11590
1        0.03     18396921      2097
2        0.04     16941741      2404
3        0.05     17520180      2570
4        0.06     21608025      3556
...       ...          ...       ...
79521  830.01     16873316     30863
79522  830.02     26895493       358
79523  830.02     26895493      1108
79524  830.02      1325309       358
79525  830.02      1325309      1108

[79526 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1305  2768329
1        0.02      1269  3262738
2        0.03       566  6119244
3        0.04       579  5806806
4        0.05       587  5978768
...       ...       ...      ...
79522  830.01       267  5337429
79523  830.02         0  5101575
79524  830.02         0   311987
79525  830.02         4  5101575
79526  830.02         4   311987

[79527 rows x 3 columns]
              time    value  Unnamed: 2       counter  Unnamed: 4  Unnamed: 5  \
0         0.010121  7669893         NaN  instructions     9560240       100.0
1         0.010121    52765         NaN       l2d_tlb     9560240       100.0
2         0.010121    43957         NaN    l2d_tlb_rd     9560240       100.0
3         0.010121     8808         NaN    l2d_tlb_wr     9560240       100.0
4         0.020635  9631769         NaN  instructions     9819520       100.0
...            ...      ...         ...           ...         ...         ...
320099  834.185431    16329         NaN    l2d_tlb_wr    10018920       100.0
320100  834.189534  9086899         NaN  instructions     3720520       100.0
320101  834.189534    23263         NaN       l2d_tlb     3720520       100.0
320102  834.189534    13919         NaN    l2d_tlb_rd     3720520       100.0
320103  834.189534     9344         NaN    l2d_tlb_wr     3720520       100.0

        Unnamed: 6  Unnamed: 7
0              NaN         NaN
1              NaN         NaN
2              NaN         NaN
3              NaN         NaN
4              NaN         NaN
...            ...         ...
320099         NaN         NaN
320100         NaN         NaN
320101         NaN         NaN
320102         NaN         NaN
320103         NaN         NaN

[320104 rows x 8 columns]
          time     value       counter
4         0.02   9631769  instructions
8         0.03  19692890  instructions
12        0.04  16801594  instructions
16        0.05  17820739  instructions
20        0.06  19980914  instructions
...        ...       ...           ...
320084  834.15  17211443  instructions
320088  834.16  12269455  instructions
320092  834.18  13326856  instructions
320096  834.19  25692613  instructions
320100  834.19   9086899  instructions

[80025 rows x 3 columns]
instructions
          time instructions
4         0.02      9631769
8         0.03     19692890
12        0.04     16801594
16        0.05     17820739
20        0.06     19980914
...        ...          ...
320084  834.15     17211443
320088  834.16     12269455
320092  834.18     13326856
320096  834.19     25692613
320100  834.19      9086899

[80025 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   52765
5         0.02   63801
9         0.03  168804
13        0.04  170227
17        0.05  165053
...        ...     ...
320085  834.15  139166
320089  834.16  139176
320093  834.18  106477
320097  834.19   57150
320101  834.19   23263

[80026 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      43957
6         0.02      55198
10        0.03     160255
14        0.04     161972
18        0.05     156732
...        ...        ...
320086  834.15     128624
320090  834.16     129562
320094  834.18     101725
320098  834.19      40821
320102  834.19      13919

[80026 rows x 2 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

df5
          time l2d_tlb_wr
3         0.01       8808
7         0.02       8603
11        0.03       8549
15        0.04       8255
19        0.05       8321
...        ...        ...
320087  834.15      10542
320091  834.16       9614
320095  834.18       4752
320099  834.19      16329
320103  834.19       9344

[80026 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02      9631769   63801
1        0.03     19692890  168804
2        0.04     16801594  170227
3        0.05     17820739  165053
4        0.06     19980914  158569
...       ...          ...     ...
80022  834.18     13326856  106477
80023  834.19     25692613   57150
80024  834.19     25692613   23263
80025  834.19      9086899   57150
80026  834.19      9086899   23263

[80027 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      43957       8808
1        0.02      55198       8603
2        0.03     160255       8549
3        0.04     161972       8255
4        0.05     156732       8321
...       ...        ...        ...
80023  834.18     101725       4752
80024  834.19      40821      16329
80025  834.19      40821       9344
80026  834.19      13919      16329
80027  834.19      13919       9344

[80028 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010102   8775341         NaN  instructions    10379720
1         0.010102         8         NaN      vfp_spec    10379720
2         0.010102  10561032         NaN     inst_spec    10379720
3         0.010102      5807         NaN      ase_spec    10379720
4         0.020566  11718976         NaN  instructions     9867840
...            ...       ...         ...           ...         ...
319919  834.434109         0         NaN      ase_spec     9994600
319920  834.439589  13213548         NaN  instructions     5098600
319921  834.439589         0         NaN      vfp_spec     5098600
319922  834.439589  13528836         NaN     inst_spec     5098600
319923  834.439589         0         NaN      ase_spec     5098600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
319919       100.0         NaN         NaN
319920       100.0         NaN         NaN
319921       100.0         NaN         NaN
319922       100.0         NaN         NaN
319923       100.0         NaN         NaN

[319924 rows x 8 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

          time     value       counter
4         0.02  11718976  instructions
8         0.03  19237022  instructions
12        0.04  17413052  instructions
16        0.05  18984805  instructions
20        0.06  19990435  instructions
...        ...       ...           ...
319904  834.40  16788252  instructions
319908  834.41  13400514  instructions
319912  834.42  11515889  instructions
319916  834.43  24629576  instructions
319920  834.44  13213548  instructions

[79980 rows x 3 columns]
instructions
          time instructions
4         0.02     11718976
8         0.03     19237022
12        0.04     17413052
16        0.05     18984805
20        0.06     19990435
...        ...          ...
319904  834.40     16788252
319908  834.41     13400514
319912  834.42     11515889
319916  834.43     24629576
319920  834.44     13213548

[79980 rows x 2 columns]
df3
          time vfp_spec
1         0.01        8
5         0.02      314
9         0.03     3136
13        0.04      838
17        0.05      834
...        ...      ...
319905  834.40        0
319909  834.41        0
319913  834.42        0
319917  834.43        0
319921  834.44        0

[79981 rows x 2 columns]
df4
          time inst_spec
2         0.01  10561032
6         0.02  14405134
10        0.03  24004084
14        0.04  21926222
18        0.05  23640307
...        ...       ...
319906  834.40  17998970
319910  834.41  15066668
319914  834.42  14835740
319918  834.43  26368919
319922  834.44  13528836

[79981 rows x 2 columns]
df5
          time ase_spec
3         0.01     5807
7         0.02    11831
11        0.03    27923
15        0.04    12423
19        0.05    12450
...        ...      ...
319907  834.40     1683
319911  834.41     1393
319915  834.42        0
319919  834.43        0
319923  834.44        0

[79981 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     11718976      314
1        0.03     19237022     3136
2        0.04     17413052      838
3        0.05     18984805      834
4        0.06     19990435      328
...       ...          ...      ...
79975  834.40     16788252        0
79976  834.41     13400514        0
79977  834.42     11515889        0
79978  834.43     24629576        0
79979  834.44     13213548        0

[79980 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  10561032     5807
1        0.02  14405134    11831
2        0.03  24004084    27923
3        0.04  21926222    12423
4        0.05  23640307    12450
...       ...       ...      ...
79976  834.40  17998970     1683
79977  834.41  15066668     1393
79978  834.42  14835740        0
79979  834.43  26368919        0
79980  834.44  13528836        0

[79981 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010158   9177708         NaN      instructions    10536160
1         0.010158   5768524         NaN     stall_backend    10536160
2         0.010158   6480271         NaN    stall_frontend    10536160
3         0.010158    156593         NaN  ll_cache_miss_rd    10536160
4         0.020553  12506395         NaN      instructions     9919280
...            ...       ...         ...               ...         ...
320091  834.443531    104574         NaN  ll_cache_miss_rd    10046680
320092  834.446375   5922755         NaN      instructions     2474000
320093  834.446375   1589585         NaN     stall_backend     2474000
320094  834.446375    294278         NaN    stall_frontend     2474000
320095  834.446375     31431         NaN  ll_cache_miss_rd     2474000

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
320091       100.0         NaN         NaN
320092       100.0         NaN         NaN
320093       100.0         NaN         NaN
320094       100.0         NaN         NaN
320095       100.0         NaN         NaN

[320096 rows x 8 columns]
          time     value       counter
4         0.02  12506395  instructions
8         0.03  19155480  instructions
12        0.04  17339545  instructions
16        0.05  18881768  instructions
20        0.06  19635010  instructions
...        ...       ...           ...
320076  834.41  17017260  instructions
320080  834.42  13167974  instructions
320084  834.43  14923323  instructions
320088  834.44  26223434  instructions
320092  834.45   5922755  instructions

[80023 rows x 3 columns]
instructions
          time instructions
4         0.02     12506395
8         0.03     19155480
12        0.04     17339545
16        0.05     18881768
20        0.06     19635010
...        ...          ...
320076  834.41     17017260
320080  834.42     13167974
320084  834.43     14923323
320088  834.44     26223434
320092  834.45      5922755

[80023 rows x 2 columns]
df3
          time stall_backend
1         0.01       5768524
5         0.02       4613706
9         0.03       2395927
13        0.04       2554115
17        0.05       2368862
...        ...           ...
320077  834.41       7855290
320081  834.42       9387766
320085  834.43       8317378
320089  834.44       6816803
320093  834.45       1589585

[80024 rows x 2 columns]
df4
          time stall_frontend
2         0.01        6480271
6         0.02        5450308
10        0.03        4811722
14        0.04        5348485
18        0.05        5150924
...        ...            ...
320078  834.41        1469085
320082  834.42         989357
320086  834.43         682452
320090  834.44         440395
320094  834.45         294278

[80024 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           156593
7         0.02           123214
11        0.03            87077
15        0.04            97905
19        0.05            94014
...        ...              ...
320079  834.41           101233
320083  834.42           226276
320087  834.43           698626
320091  834.44           104574
320095  834.45            31431

[80024 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     12506395       4613706
1        0.03     19155480       2395927
2        0.04     17339545       2554115
3        0.05     18881768       2368862
4        0.06     19635010       2531260
...       ...          ...           ...
80018  834.41     17017260       7855290
80019  834.42     13167974       9387766
80020  834.43     14923323       8317378
80021  834.44     26223434       6816803
80022  834.45      5922755       1589585

[80023 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        6480271           156593
1        0.02        5450308           123214
2        0.03        4811722            87077
3        0.04        5348485            97905
4        0.05        5150924            94014
...       ...            ...              ...
80019  834.41        1469085           101233
80020  834.42         989357           226276
80021  834.43         682452           698626
80022  834.44         440395           104574
80023  834.45         294278            31431

[80024 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010098   8678747         NaN   instructions    10368280
1         0.010098   2729014         NaN     mem_access    10368280
2         0.010098   1678484         NaN  mem_access_rd    10368280
3         0.010098   1050530         NaN  mem_access_wr    10368280
4         0.020608  11483097         NaN   instructions     9834800
...            ...       ...         ...            ...         ...
319855  835.243123   2806936         NaN  mem_access_wr    10010960
319856  835.245205   4116094         NaN   instructions     1721240
319857  835.245205   1189558         NaN     mem_access     1721240
319858  835.245205    746011         NaN  mem_access_rd     1721240
319859  835.245205    443547         NaN  mem_access_wr     1721240

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
319855       100.0         NaN         NaN
319856       100.0         NaN         NaN
319857       100.0         NaN         NaN
319858       100.0         NaN         NaN
319859       100.0         NaN         NaN

[319860 rows x 8 columns]
          time     value       counter
4         0.02  11483097  instructions
8         0.03  18432606  instructions
12        0.04  17506434  instructions
16        0.05  18630335  instructions
20        0.06  20026734  instructions
...        ...       ...           ...
319840  835.21  17838733  instructions
319844  835.22  11499905  instructions
319848  835.23  15805725  instructions
319852  835.24  26463183  instructions
319856  835.25   4116094  instructions

[79964 rows x 3 columns]
instructions
          time instructions
4         0.02     11483097
8         0.03     18432606
12        0.04     17506434
16        0.05     18630335
20        0.06     20026734
...        ...          ...
319840  835.21     17838733
319844  835.22     11499905
319848  835.23     15805725
319852  835.24     26463183
319856  835.25      4116094

[79964 rows x 2 columns]
df3
          time mem_access
1         0.01    2729014
5         0.02    3835202
9         0.03    7004109
13        0.04    6745624
17        0.05    7185342
...        ...        ...
319841  835.21    6222633
319845  835.22    3734949
319849  835.23    3513386
319853  835.24    7600366
319857  835.25    1189558

[79965 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1678484
6         0.02       2382770
10        0.03       4443925
14        0.04       4256848
18        0.05       4568687
...        ...           ...
319842  835.21       4101616
319846  835.22       2470801
319850  835.23       2735503
319854  835.24       4793430
319858  835.25        746011

[79965 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1050530
7         0.02       1452432
11        0.03       2560184
15        0.04       2488776
19        0.05       2616655
...        ...           ...
319843  835.21       2121017
319847  835.22       1264148
319851  835.23        777883
319855  835.24       2806936
319859  835.25        443547

[79965 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     11483097    3835202
1        0.03     18432606    7004109
2        0.04     17506434    6745624
3        0.05     18630335    7185342
4        0.06     20026734    7690684
...       ...          ...        ...
79959  835.21     17838733    6222633
79960  835.22     11499905    3734949
79961  835.23     15805725    3513386
79962  835.24     26463183    7600366
79963  835.25      4116094    1189558

[79964 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1678484       1050530
1        0.02       2382770       1452432
2        0.03       4443925       2560184
3        0.04       4256848       2488776
4        0.05       4568687       2616655
...       ...           ...           ...
79960  835.21       4101616       2121017
79961  835.22       2470801       1264148
79962  835.23       2735503        777883
79963  835.24       4793430       2806936
79964  835.25        746011        443547

[79965 rows x 3 columns]
merged_df
         time instructions cpu-cycles  br_pred br_mis_pred l1d_cache_rd  \
0        0.02     10413681   14394167  2024434       84284      2348329
1        0.03     18398832   14695809  4194700      167652      4451382
2        0.04     17136459   14888565  3858223      167974      4134455
3        0.05     18768702   14925501  4268312      164809      4410766
4        0.06     25135842   19526776  5679078      200122      4718249
...       ...          ...        ...      ...         ...          ...
54200  829.64     34311495   14967021  7079007       32993      7791671
54201  829.65     39755658   17228004  8202241       36055      8162363
54202  829.66     33199401   14947384  6854562       41877      8347379
54203  829.67     33353827   14956160  6872426       35887      8171778
54204  829.68     34211232   14974832  7050625       32753      9401750

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ... l2d_tlb_wr  \
0          1425213   3773542   3569717           216473  ...       8603
1          2553637   7005019   7299724           365395  ...       8549
2          2413489   6547944   7564540           475239  ...       8255
3          2520146   6930912   7392841           397563  ...       8321
4          2720777   7439026   7483230           342498  ...       7623
...            ...       ...       ...              ...  ...        ...
54200      4395475  12187146   8179963           258839  ...      15540
54201      4627968  12790331   8441121           343340  ...      15734
54202      4719525  13066904   8926278           207158  ...      17220
54203      4606069  12777847  10573052           170514  ...      16161
54204      5358864  14760614  10169915            70828  ...      16241

      vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0          314  14405134    11831       4613706        5450308
1         3136  24004084    27923       2395927        4811722
2          838  21926222    12423       2554115        5348485
3          834  23640307    12450       2368862        5150924
4          328  24409987    14654       2531260        4789487
...        ...       ...      ...           ...            ...
54200       36  40624272    21715       2012805        2453964
54201       17  34292017    15223       1860577        2420802
54202       39  33333708    17018       1816555        2629521
54203        8  33623788    18259       1814709        2657349
54204        3  33218901    18122       1897942        2733677

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               123214    3835202       2382770       1452432
1                87077    7004109       4443925       2560184
2                97905    6745624       4256848       2488776
3                94014    7185342       4568687       2616655
4               102821    7690684       4880160       2810524
...                ...        ...           ...           ...
54200            23302    4061646       2518704       1542942
54201            19010    7697800       4966490       2731310
54202            18468    5293241       3336978       1956263
54203            18199    5624447       3534955       2089492
54204            24648    6920023       4501901       2418122

[54205 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010310   7310184         NaN  instructions     9067320
1         0.010310  13459827         NaN    cpu-cycles     9067320
2         0.010310   1346438         NaN       br_pred     9067320
3         0.010310     55197         NaN   br_mis_pred     9067320
4         0.020823   8402970         NaN  instructions     9192360
...            ...       ...         ...           ...         ...
238835  633.448004     84618         NaN   br_mis_pred    10332600
238836  633.456326  20679466         NaN  instructions     7821760
238837  633.456326  11661712         NaN    cpu-cycles     7821760
238838  633.456326   2989424         NaN       br_pred     7821760
238839  633.456326      5138         NaN   br_mis_pred     7821760

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.54  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.62  insn per cycle
...            ...         ...             ...
238835       100.0         NaN             NaN
238836       100.0        1.77  insn per cycle
238837       100.0         NaN             NaN
238838       100.0         NaN             NaN
238839       100.0         NaN             NaN

[238840 rows x 8 columns]
          time     value       counter
4         0.02   8402970  instructions
8         0.03  17808722  instructions
12        0.04  20510844  instructions
16        0.05  17738069  instructions
20        0.06  19800340  instructions
...        ...       ...           ...
238820  633.42  11926609  instructions
238824  633.43  18499705  instructions
238828  633.44  11273848  instructions
238832  633.45  20978295  instructions
238836  633.46  20679466  instructions

[59709 rows x 3 columns]
instructions
          time instructions
4         0.02      8402970
8         0.03     17808722
12        0.04     20510844
16        0.05     17738069
20        0.06     19800340
...        ...          ...
238820  633.42     11926609
238824  633.43     18499705
238828  633.44     11273848
238832  633.45     20978295
238836  633.46     20679466

[59709 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   13459827
5         0.02   13655349
9         0.03   14775320
13        0.04   17501306
17        0.05   14907258
...        ...        ...
238821  633.42   14855916
238825  633.43   14749659
238829  633.44   14925166
238833  633.45   15411435
238837  633.46   11661712

[59710 rows x 2 columns]
df4
          time  br_pred
2         0.01  1346438
6         0.02  1563774
10        0.03  4010047
14        0.04  4638940
18        0.05  4011369
...        ...      ...
238822  633.42  2633726
238826  633.43  4172686
238830  633.44  2934654
238834  633.45  4639454
238838  633.46  2989424

[59710 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       55197
7         0.02       58652
11        0.03      160855
15        0.04      202202
19        0.05      166998
...        ...         ...
238823  633.42       52309
238827  633.43       31349
238831  633.44       53225
238835  633.45       84618
238839  633.46        5138

[59710 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02      8402970   13655349
1        0.03     17808722   14775320
2        0.04     20510844   17501306
3        0.05     17738069   14907258
4        0.06     19800340   14903704
...       ...          ...        ...
59704  633.42     11926609   14855916
59705  633.43     18499705   14749659
59706  633.44     11273848   14925166
59707  633.45     20978295   15411435
59708  633.46     20679466   11661712

[59709 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1346438       55197
1        0.02  1563774       58652
2        0.03  4010047      160855
3        0.04  4638940      202202
4        0.05  4011369      166998
...       ...      ...         ...
59705  633.42  2633726       52309
59706  633.43  4172686       31349
59707  633.44  2934654       53225
59708  633.45  4639454       84618
59709  633.46  2989424        5138

[59710 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010104   8724924         NaN  instructions     9888200
1         0.010104   1682509         NaN  l1d_cache_rd     9888200
2         0.010104   1051815         NaN  l1d_cache_wr     9888200
3         0.010104   2734324         NaN     l1d_cache     9888200
4         0.020647  11715127         NaN  instructions     9889240
...            ...       ...         ...           ...         ...
240543  637.043502   6502098         NaN     l1d_cache     9989960
240544  637.048851  12690892         NaN  instructions     4951200
240545  637.048851   2286796         NaN  l1d_cache_rd     4951200
240546  637.048851   1362263         NaN  l1d_cache_wr     4951200
240547  637.048851   3649059         NaN     l1d_cache     4951200

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
240543       100.0         NaN         NaN
240544       100.0         NaN         NaN
240545       100.0         NaN         NaN
240546       100.0         NaN         NaN
240547       100.0         NaN         NaN

[240548 rows x 8 columns]
          time     value       counter
4         0.02  11715127  instructions
8         0.03  21224184  instructions
12        0.04  17240233  instructions
16        0.05  18698296  instructions
20        0.06  19745485  instructions
...        ...       ...           ...
240528  637.01  16411358  instructions
240532  637.02  14067105  instructions
240536  637.03  12292414  instructions
240540  637.04  24275339  instructions
240544  637.05  12690892  instructions

[60136 rows x 3 columns]
instructions
          time instructions
4         0.02     11715127
8         0.03     21224184
12        0.04     17240233
16        0.05     18698296
20        0.06     19745485
...        ...          ...
240528  637.01     16411358
240532  637.02     14067105
240536  637.03     12292414
240540  637.04     24275339
240544  637.05     12690892

[60136 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1682509
5         0.02      2430050
9         0.03      5129103
13        0.04      4174564
17        0.05      4604050
...        ...          ...
240529  637.01      3754668
240533  637.02      3033858
240537  637.03      2355137
240541  637.04      4307345
240545  637.05      2286796

[60137 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1051815
6         0.02      1484261
10        0.03      2946650
14        0.04      2452038
18        0.05      2637070
...        ...          ...
240530  637.01      1939948
240534  637.02      1620709
240538  637.03       854804
240542  637.04      2194753
240546  637.05      1362263

[60137 rows x 2 columns]
df5
          time l1d_cache
3         0.01   2734324
7         0.02   3914311
11        0.03   8075753
15        0.04   6626602
19        0.05   7241120
...        ...       ...
240531  637.01   5694616
240535  637.02   4654567
240539  637.03   3209941
240543  637.04   6502098
240547  637.05   3649059

[60137 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     11715127      2430050
1        0.03     21224184      5129103
2        0.04     17240233      4174564
3        0.05     18698296      4604050
4        0.06     19745485      4791786
...       ...          ...          ...
60131  637.01     16411358      3754668
60132  637.02     14067105      3033858
60133  637.03     12292414      2355137
60134  637.04     24275339      4307345
60135  637.05     12690892      2286796

[60136 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      1051815   2734324
1        0.02      1484261   3914311
2        0.03      2946650   8075753
3        0.04      2452038   6626602
4        0.05      2637070   7241120
...       ...          ...       ...
60132  637.01      1939948   5694616
60133  637.02      1620709   4654567
60134  637.03       854804   3209941
60135  637.04      2194753   6502098
60136  637.05      1362263   3649059

[60137 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time    value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010323  7482048         NaN      instructions     9095120
1         0.010323  2721190         NaN         l1i_cache     9095120
2         0.010323   185541         NaN  l1i_cache_refill     9095120
3         0.010323    65199         NaN     remote_access     9095120
4         0.020836  9970557         NaN      instructions     9775440
...            ...      ...         ...               ...         ...
241819  640.202440     2026         NaN     remote_access    10047720
241820  640.205013  5483324         NaN      instructions     2240880
241821  640.205013  1504574         NaN         l1i_cache     2240880
241822  640.205013     3491         NaN  l1i_cache_refill     2240880
241823  640.205013     3061         NaN     remote_access     2240880

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
241819       100.0         NaN         NaN
241820       100.0         NaN         NaN
241821       100.0         NaN         NaN
241822       100.0         NaN         NaN
241823       100.0         NaN         NaN

[241824 rows x 8 columns]
          time     value       counter
4         0.02   9970557  instructions
8         0.03  17763939  instructions
12        0.04  17460222  instructions
16        0.05  22275596  instructions
20        0.06  18854754  instructions
...        ...       ...           ...
241804  640.17  17993692  instructions
241808  640.18  12252270  instructions
241812  640.19  15699093  instructions
241816  640.20  26654046  instructions
241820  640.21   5483324  instructions

[60455 rows x 3 columns]
instructions
          time instructions
4         0.02      9970557
8         0.03     17763939
12        0.04     17460222
16        0.05     22275596
20        0.06     18854754
...        ...          ...
241804  640.17     17993692
241808  640.18     12252270
241812  640.19     15699093
241816  640.20     26654046
241820  640.21      5483324

[60455 rows x 2 columns]
df3
          time l1i_cache
1         0.01   2721190
5         0.02   3633749
9         0.03   7107984
13        0.04   7153062
17        0.05   8932609
...        ...       ...
241805  640.17   5561832
241809  640.18   4133226
241813  640.19   5982971
241817  640.20   7125063
241821  640.21   1504574

[60456 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           185541
6         0.02           220825
10        0.03           359208
14        0.04           441221
18        0.05           504995
...        ...              ...
241806  640.17           144664
241810  640.18            69003
241814  640.19            14700
241818  640.20             5108
241822  640.21             3491

[60456 rows x 2 columns]
df5
          time remote_access
3         0.01         65199
7         0.02         58040
11        0.03         23322
15        0.04         20679
19        0.05         30123
...        ...           ...
241807  640.17          3060
241811  640.18          3539
241815  640.19          4237
241819  640.20          2026
241823  640.21          3061

[60456 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02      9970557   3633749
1        0.03     17763939   7107984
2        0.04     17460222   7153062
3        0.05     22275596   8932609
4        0.06     18854754   7309720
...       ...          ...       ...
60450  640.17     17993692   5561832
60451  640.18     12252270   4133226
60452  640.19     15699093   5982971
60453  640.20     26654046   7125063
60454  640.21      5483324   1504574

[60455 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           185541         65199
1        0.02           220825         58040
2        0.03           359208         23322
3        0.04           441221         20679
4        0.05           504995         30123
...       ...              ...           ...
60451  640.17           144664          3060
60452  640.18            69003          3539
60453  640.19            14700          4237
60454  640.20             5108          2026
60455  640.21             3491          3061

[60456 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010126   8038747         NaN  instructions     9576840
1         0.010126    311553         NaN  l2d_cache_rd     9576840
2         0.010126    106680         NaN  l2d_cache_wr     9576840
3         0.010126    418233         NaN     l2d_cache     9576840
4         0.020609  10607618         NaN  instructions     9768080
...            ...       ...         ...           ...         ...
241679  640.865507   1083258         NaN     l2d_cache    10285600
241680  640.875229  24285413         NaN  instructions     9281200
241681  640.875229    119608         NaN  l2d_cache_rd     9281200
241682  640.875229    108862         NaN  l2d_cache_wr     9281200
241683  640.875229    228470         NaN     l2d_cache     9281200

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
241679       100.0         NaN         NaN
241680       100.0         NaN         NaN
241681       100.0         NaN         NaN
241682       100.0         NaN         NaN
241683       100.0         NaN         NaN

[241684 rows x 8 columns]
          time     value       counter
4         0.02  10607618  instructions
8         0.03  20569743  instructions
12        0.04  17021677  instructions
16        0.05  18448094  instructions
20        0.06  19584995  instructions
...        ...       ...           ...
241664  640.83  11547669  instructions
241668  640.84  18543523  instructions
241672  640.85  10276810  instructions
241676  640.87  19717102  instructions
241680  640.88  24285413  instructions

[60420 rows x 3 columns]
instructions
          time instructions
4         0.02     10607618
8         0.03     20569743
12        0.04     17021677
16        0.05     18448094
20        0.06     19584995
...        ...          ...
241664  640.83     11547669
241668  640.84     18543523
241672  640.85     10276810
241676  640.87     19717102
241680  640.88     24285413

[60420 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       311553
5         0.02       354730
9         0.03       546255
13        0.04       535156
17        0.05       534134
...        ...          ...
241665  640.83       305291
241669  640.84       285824
241673  640.85       276098
241677  640.87       563414
241681  640.88       119608

[60421 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       106680
6         0.02       114679
10        0.03       125530
14        0.04       112836
18        0.05       119700
...        ...          ...
241666  640.83       101205
241670  640.84       170753
241674  640.85       212787
241678  640.87       519844
241682  640.88       108862

[60421 rows x 2 columns]
df5
          time l2d_cache
3         0.01    418233
7         0.02    469409
11        0.03    671785
15        0.04    647992
19        0.05    653834
...        ...       ...
241667  640.83    406496
241671  640.84    456577
241675  640.85    488885
241679  640.87   1083258
241683  640.88    228470

[60421 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     10607618       354730
1        0.03     20569743       546255
2        0.04     17021677       535156
3        0.05     18448094       534134
4        0.06     19584995       468035
...       ...          ...          ...
60415  640.83     11547669       305291
60416  640.84     18543523       285824
60417  640.85     10276810       276098
60418  640.87     19717102       563414
60419  640.88     24285413       119608

[60420 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       106680    418233
1        0.02       114679    469409
2        0.03       125530    671785
3        0.04       112836    647992
4        0.05       119700    653834
...       ...          ...       ...
60416  640.83       101205    406496
60417  640.84       170753    456577
60418  640.85       212787    488885
60419  640.87       519844   1083258
60420  640.88       108862    228470

[60421 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010108   8086908         NaN  instructions     9850160
1         0.010108   3358364         NaN       l1d_tlb     9850160
2         0.010108   2230651         NaN    l1d_tlb_rd     9850160
3         0.010108   1127713         NaN    l1d_tlb_wr     9850160
4         0.020638   9901282         NaN  instructions     9732600
...            ...       ...         ...           ...         ...
239051  633.770085   1903161         NaN    l1d_tlb_wr     9989320
239052  633.776607  15627205         NaN  instructions     6116080
239053  633.776607   5739462         NaN       l1d_tlb     6116080
239054  633.776607   4059265         NaN    l1d_tlb_rd     6116080
239055  633.776607   1680197         NaN    l1d_tlb_wr     6116080

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
239051       100.0         NaN         NaN
239052       100.0         NaN         NaN
239053       100.0         NaN         NaN
239054       100.0         NaN         NaN
239055       100.0         NaN         NaN

[239056 rows x 8 columns]
          time     value       counter
4         0.02   9901282  instructions
8         0.03  18462471  instructions
12        0.04  21691971  instructions
16        0.05  18047778  instructions
20        0.06  19140858  instructions
...        ...       ...           ...
239036  633.74  15003944  instructions
239040  633.75  15770248  instructions
239044  633.76  10673789  instructions
239048  633.77  23779340  instructions
239052  633.78  15627205  instructions

[59763 rows x 3 columns]
instructions
          time instructions
4         0.02      9901282
8         0.03     18462471
12        0.04     21691971
16        0.05     18047778
20        0.06     19140858
...        ...          ...
239036  633.74     15003944
239040  633.75     15770248
239044  633.76     10673789
239048  633.77     23779340
239052  633.78     15627205

[59763 rows x 2 columns]
df3
          time  l1d_tlb
1         0.01  3358364
5         0.02  4062970
9         0.03  7740844
13        0.04  9255022
17        0.05  7688643
...        ...      ...
239037  633.74  5704490
239041  633.75  5791700
239045  633.76  3728699
239049  633.77  7519995
239053  633.78  5739462

[59764 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2230651
6         0.02    2666137
10        0.03    4991206
14        0.04    5952817
18        0.05    4947294
...        ...        ...
239038  633.74    3804573
239042  633.75    3896993
239046  633.76    2739779
239050  633.77    5616834
239054  633.78    4059265

[59764 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1127713
7         0.02    1396833
11        0.03    2749638
15        0.04    3302205
19        0.05    2741349
...        ...        ...
239039  633.74    1899917
239043  633.75    1894707
239047  633.76     988920
239051  633.77    1903161
239055  633.78    1680197

[59764 rows x 2 columns]
df6
         time instructions  l1d_tlb
0        0.02      9901282  4062970
1        0.03     18462471  7740844
2        0.04     21691971  9255022
3        0.05     18047778  7688643
4        0.06     19140858  8072319
...       ...          ...      ...
59758  633.74     15003944  5704490
59759  633.75     15770248  5791700
59760  633.76     10673789  3728699
59761  633.77     23779340  7519995
59762  633.78     15627205  5739462

[59763 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2230651    1127713
1        0.02    2666137    1396833
2        0.03    4991206    2749638
3        0.04    5952817    3302205
4        0.05    4947294    2741349
...       ...        ...        ...
59759  633.74    3804573    1899917
59760  633.75    3896993    1894707
59761  633.76    2739779     988920
59762  633.77    5616834    1903161
59763  633.78    4059265    1680197

[59764 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010117   7440423         NaN  instructions     8948920
1         0.010117     13514         NaN     dtlb_walk     8948920
2         0.010117      1160         NaN     itlb_walk     8948920
3         0.010117   2509643         NaN       l1i_tlb     8948920
4         0.023017  14600139         NaN  instructions    12286720
...            ...       ...         ...           ...         ...
241047  638.613229   5401386         NaN       l1i_tlb     9984440
241048  638.618886  13673509         NaN  instructions     5239440
241049  638.618886      1288         NaN     dtlb_walk     5239440
241050  638.618886         5         NaN     itlb_walk     5239440
241051  638.618886   2641594         NaN       l1i_tlb     5239440

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
241047       100.0         NaN         NaN
241048       100.0         NaN         NaN
241049       100.0         NaN         NaN
241050       100.0         NaN         NaN
241051       100.0         NaN         NaN

[241052 rows x 8 columns]
          time     value       counter
4         0.02  14600139  instructions
8         0.03  18372319  instructions
12        0.04  17413742  instructions
16        0.05  18442957  instructions
20        0.06  19497189  instructions
...        ...       ...           ...
241032  638.58  15281615  instructions
241036  638.59  15605165  instructions
241040  638.60  11423788  instructions
241044  638.61  24321737  instructions
241048  638.62  13673509  instructions

[60262 rows x 3 columns]
instructions
          time instructions
4         0.02     14600139
8         0.03     18372319
12        0.04     17413742
16        0.05     18442957
20        0.06     19497189
...        ...          ...
241032  638.58     15281615
241036  638.59     15605165
241040  638.60     11423788
241044  638.61     24321737
241048  638.62     13673509

[60262 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     13514
5         0.02     12772
9         0.03      1907
13        0.04      2501
17        0.05      2293
...        ...       ...
241033  638.58     12539
241037  638.59     17827
241041  638.60     32928
241045  638.61     12995
241049  638.62      1288

[60263 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1160
6         0.02      1508
10        0.03       546
14        0.04       610
18        0.05       567
...        ...       ...
241034  638.58       724
241038  638.59      1009
241042  638.60       229
241046  638.61       196
241050  638.62         5

[60263 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  2509643
7         0.02  4820971
11        0.03  6229839
15        0.04  5968444
19        0.05  6188468
...        ...      ...
241035  638.58  4181563
241039  638.59  4125799
241043  638.60  4101151
241047  638.61  5401386
241051  638.62  2641594

[60263 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     14600139     12772
1        0.03     18372319      1907
2        0.04     17413742      2501
3        0.05     18442957      2293
4        0.06     19497189      3111
...       ...          ...       ...
60257  638.58     15281615     12539
60258  638.59     15605165     17827
60259  638.60     11423788     32928
60260  638.61     24321737     12995
60261  638.62     13673509      1288

[60262 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1160  2509643
1        0.02      1508  4820971
2        0.03       546  6229839
3        0.04       610  5968444
4        0.05       567  6188468
...       ...       ...      ...
60258  638.58       724  4181563
60259  638.59      1009  4125799
60260  638.60       229  4101151
60261  638.61       196  5401386
60262  638.62         5  2641594

[60263 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010257   7680086         NaN  instructions     9078960
1         0.010257     52129         NaN       l2d_tlb     9078960
2         0.010257     43316         NaN    l2d_tlb_rd     9078960
3         0.010257      8813         NaN    l2d_tlb_wr     9078960
4         0.020748  10342246         NaN  instructions     9662560
...            ...       ...         ...           ...         ...
241343  639.381683      6709         NaN    l2d_tlb_wr    10092440
241344  639.390881  22953278         NaN  instructions     8722920
241345  639.390881     57081         NaN       l2d_tlb     8722920
241346  639.390881     36548         NaN    l2d_tlb_rd     8722920
241347  639.390881     20533         NaN    l2d_tlb_wr     8722920

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
241343       100.0         NaN         NaN
241344       100.0         NaN         NaN
241345       100.0         NaN         NaN
241346       100.0         NaN         NaN
241347       100.0         NaN         NaN

[241348 rows x 8 columns]
          time     value       counter
4         0.02  10342246  instructions
8         0.03  18893400  instructions
12        0.04  17583866  instructions
16        0.05  19496665  instructions
20        0.06  19350070  instructions
...        ...       ...           ...
241328  639.35  11739888  instructions
241332  639.36  17583949  instructions
241336  639.37  11354304  instructions
241340  639.38  19587279  instructions
241344  639.39  22953278  instructions

[60336 rows x 3 columns]
instructions
          time instructions
4         0.02     10342246
8         0.03     18893400
12        0.04     17583866
16        0.05     19496665
20        0.06     19350070
...        ...          ...
241328  639.35     11739888
241332  639.36     17583949
241336  639.37     11354304
241340  639.38     19587279
241344  639.39     22953278

[60336 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   52129
5         0.02   70749
9         0.03  164390
13        0.04  176083
17        0.05  184901
...        ...     ...
241329  639.35  148859
241333  639.36  116825
241337  639.37  135519
241341  639.38   70903
241345  639.39   57081

[60337 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      43316
6         0.02      61746
10        0.03     155395
14        0.04     167250
18        0.05     175252
...        ...        ...
241330  639.35     136536
241334  639.36     107169
241338  639.37     126650
241342  639.38      64194
241346  639.39      36548

[60337 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01       8813
7         0.02       9003
11        0.03       8995
15        0.04       8833
19        0.05       9649
...        ...        ...
241331  639.35      12323
241335  639.36       9656
241339  639.37       8869
241343  639.38       6709
241347  639.39      20533

[60337 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     10342246   70749
1        0.03     18893400  164390
2        0.04     17583866  176083
3        0.05     19496665  184901
4        0.06     19350070  158437
...       ...          ...     ...
60331  639.35     11739888  148859
60332  639.36     17583949  116825
60333  639.37     11354304  135519
60334  639.38     19587279   70903
60335  639.39     22953278   57081

[60336 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      43316       8813
1        0.02      61746       9003
2        0.03     155395       8995
3        0.04     167250       8833
4        0.05     175252       9649
...       ...        ...        ...
60332  639.35     136536      12323
60333  639.36     107169       9656
60334  639.37     126650       8869
60335  639.38      64194       6709
60336  639.39      36548      20533

[60337 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010120   9494327         NaN  instructions    11158440
1         0.010120        12         NaN      vfp_spec    11158440
2         0.010120  11380597         NaN     inst_spec    11158440
3         0.010120      5995         NaN      ase_spec    11158440
4         0.020599  11924949         NaN  instructions     9899520
...            ...       ...         ...           ...         ...
239495  634.012333         0         NaN      ase_spec    10063280
239496  634.020492  20199028         NaN  instructions     7750800
239497  634.020492         0         NaN      vfp_spec     7750800
239498  634.020492  20531285         NaN     inst_spec     7750800
239499  634.020492         0         NaN      ase_spec     7750800

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
239495       100.0         NaN         NaN
239496       100.0         NaN         NaN
239497       100.0         NaN         NaN
239498       100.0         NaN         NaN
239499       100.0         NaN         NaN

[239500 rows x 8 columns]
          time     value       counter
4         0.02  11924949  instructions
8         0.03  19041860  instructions
12        0.04  17410374  instructions
16        0.05  18686927  instructions
20        0.06  19741086  instructions
...        ...       ...           ...
239480  633.98  10116747  instructions
239484  633.99  16182134  instructions
239488  634.00  18897104  instructions
239492  634.01  21038556  instructions
239496  634.02  20199028  instructions

[59874 rows x 3 columns]
instructions
          time instructions
4         0.02     11924949
8         0.03     19041860
12        0.04     17410374
16        0.05     18686927
20        0.06     19741086
...        ...          ...
239480  633.98     10116747
239484  633.99     16182134
239488  634.00     18897104
239492  634.01     21038556
239496  634.02     20199028

[59874 rows x 2 columns]
df3
          time vfp_spec
1         0.01       12
5         0.02      523
9         0.03     3036
13        0.04      780
17        0.05      853
...        ...      ...
239481  633.98      235
239485  633.99        0
239489  634.00        0
239493  634.01        0
239497  634.02        0

[59875 rows x 2 columns]
df4
          time inst_spec
2         0.01  11380597
6         0.02  14620761
10        0.03  23861923
14        0.04  21817211
18        0.05  23308688
...        ...       ...
239482  633.98  11925606
239486  633.99  17629458
239490  634.00  21427467
239494  634.01  24355844
239498  634.02  20531285

[59875 rows x 2 columns]
df5
          time ase_spec
3         0.01     5995
7         0.02    13510
11        0.03    26514
15        0.04    12548
19        0.05    12709
...        ...      ...
239483  633.98     1887
239487  633.99     2318
239491  634.00      258
239495  634.01        0
239499  634.02        0

[59875 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     11924949      523
1        0.03     19041860     3036
2        0.04     17410374      780
3        0.05     18686927      853
4        0.06     19741086      327
...       ...          ...      ...
59869  633.98     10116747      235
59870  633.99     16182134        0
59871  634.00     18897104        0
59872  634.01     21038556        0
59873  634.02     20199028        0

[59874 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  11380597     5995
1        0.02  14620761    13510
2        0.03  23861923    26514
3        0.04  21817211    12548
4        0.05  23308688    12709
...       ...       ...      ...
59870  633.98  11925606     1887
59871  633.99  17629458     2318
59872  634.00  21427467      258
59873  634.01  24355844        0
59874  634.02  20531285        0

[59875 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010158   7993405         NaN      instructions     9045480
1         0.010158   4846225         NaN     stall_backend     9045480
2         0.010158   5650900         NaN    stall_frontend     9045480
3         0.010158    132888         NaN  ll_cache_miss_rd     9045480
4         0.023019  16300203         NaN      instructions    12245600
...            ...       ...         ...               ...         ...
241295  639.233865    111830         NaN  ll_cache_miss_rd    10295480
241296  639.236710   5956628         NaN      instructions     2461720
241297  639.236710   1608329         NaN     stall_backend     2461720
241298  639.236710    248484         NaN    stall_frontend     2461720
241299  639.236710     31498         NaN  ll_cache_miss_rd     2461720

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
241295       100.0         NaN         NaN
241296       100.0         NaN         NaN
241297       100.0         NaN         NaN
241298       100.0         NaN         NaN
241299       100.0         NaN         NaN

[241300 rows x 8 columns]
          time     value       counter
4         0.02  16300203  instructions
8         0.03  17684641  instructions
12        0.04  17144569  instructions
16        0.05  18767049  instructions
20        0.06  19846764  instructions
...        ...       ...           ...
241280  639.20  14877340  instructions
241284  639.21  16212842  instructions
241288  639.22  14812070  instructions
241292  639.23  26602831  instructions
241296  639.24   5956628  instructions

[60324 rows x 3 columns]
instructions
          time instructions
4         0.02     16300203
8         0.03     17684641
12        0.04     17144569
16        0.05     18767049
20        0.06     19846764
...        ...          ...
241280  639.20     14877340
241284  639.21     16212842
241288  639.22     14812070
241292  639.23     26602831
241296  639.24      5956628

[60324 rows x 2 columns]
df3
          time stall_backend
1         0.01       4846225
5         0.02       5432094
9         0.03       2376041
13        0.04       2531891
17        0.05       2358306
...        ...           ...
241281  639.20       7669906
241285  639.21      10482098
241289  639.22       8400873
241293  639.23       7086779
241297  639.24       1608329

[60325 rows x 2 columns]
df4
          time stall_frontend
2         0.01        5650900
6         0.02        6800932
10        0.03        4971398
14        0.04        5631330
18        0.05        5173628
...        ...            ...
241282  639.20        1759578
241286  639.21         841543
241290  639.22         582221
241294  639.23         429085
241298  639.24         248484

[60325 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           132888
7         0.02           150689
11        0.03            88110
15        0.04           103218
19        0.05            92570
...        ...              ...
241283  639.20            80783
241287  639.21           250936
241291  639.22           692517
241295  639.23           111830
241299  639.24            31498

[60325 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     16300203       5432094
1        0.03     17684641       2376041
2        0.04     17144569       2531891
3        0.05     18767049       2358306
4        0.06     19846764       2548475
...       ...          ...           ...
60319  639.20     14877340       7669906
60320  639.21     16212842      10482098
60321  639.22     14812070       8400873
60322  639.23     26602831       7086779
60323  639.24      5956628       1608329

[60324 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        5650900           132888
1        0.02        6800932           150689
2        0.03        4971398            88110
3        0.04        5631330           103218
4        0.05        5173628            92570
...       ...            ...              ...
60320  639.20        1759578            80783
60321  639.21         841543           250936
60322  639.22         582221           692517
60323  639.23         429085           111830
60324  639.24         248484            31498

[60325 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010160   9099993         NaN   instructions    10939760
1         0.010160   2855584         NaN     mem_access    10939760
2         0.010160   1755897         NaN  mem_access_rd    10939760
3         0.010160   1099687         NaN  mem_access_wr    10939760
4         0.020631  11099186         NaN   instructions     9903800
...            ...       ...         ...            ...         ...
239703  635.210490   2102602         NaN  mem_access_wr    10004600
239704  635.216282  13898658         NaN   instructions     5370080
239705  635.216282   4003094         NaN     mem_access     5370080
239706  635.216282   2516684         NaN  mem_access_rd     5370080
239707  635.216282   1486410         NaN  mem_access_wr     5370080

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
239703       100.0         NaN         NaN
239704       100.0         NaN         NaN
239705       100.0         NaN         NaN
239706       100.0         NaN         NaN
239707       100.0         NaN         NaN

[239708 rows x 8 columns]
          time     value       counter
4         0.02  11099186  instructions
8         0.03  18138227  instructions
12        0.04  17207957  instructions
16        0.05  18463088  instructions
20        0.06  19066473  instructions
...        ...       ...           ...
239688  635.18  14828503  instructions
239692  635.19  16042598  instructions
239696  635.20  11922437  instructions
239700  635.21  23792482  instructions
239704  635.22  13898658  instructions

[59926 rows x 3 columns]
instructions
          time instructions
4         0.02     11099186
8         0.03     18138227
12        0.04     17207957
16        0.05     18463088
20        0.06     19066473
...        ...          ...
239688  635.18     14828503
239692  635.19     16042598
239696  635.20     11922437
239700  635.21     23792482
239704  635.22     13898658

[59926 rows x 2 columns]
df3
          time mem_access
1         0.01    2855584
5         0.02    3736644
9         0.03    6874125
13        0.04    6604458
17        0.05    7133510
...        ...        ...
239689  635.18    5333853
239693  635.19    5185741
239697  635.20    3177209
239701  635.21    6279080
239705  635.22    4003094

[59927 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1755897
6         0.02       2321588
10        0.03       4360170
14        0.04       4164975
18        0.05       4540582
...        ...           ...
239690  635.18       3422028
239694  635.19       3470175
239698  635.20       2317561
239702  635.21       4176478
239706  635.22       2516684

[59927 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1099687
7         0.02       1415056
11        0.03       2513955
15        0.04       2439483
19        0.05       2592928
...        ...           ...
239691  635.18       1911825
239695  635.19       1715566
239699  635.20        859648
239703  635.21       2102602
239707  635.22       1486410

[59927 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     11099186    3736644
1        0.03     18138227    6874125
2        0.04     17207957    6604458
3        0.05     18463088    7133510
4        0.06     19066473    7308314
...       ...          ...        ...
59921  635.18     14828503    5333853
59922  635.19     16042598    5185741
59923  635.20     11922437    3177209
59924  635.21     23792482    6279080
59925  635.22     13898658    4003094

[59926 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1755897       1099687
1        0.02       2321588       1415056
2        0.03       4360170       2513955
3        0.04       4164975       2439483
4        0.05       4540582       2592928
...       ...           ...           ...
59922  635.18       3422028       1911825
59923  635.19       3470175       1715566
59924  635.20       2317561        859648
59925  635.21       4176478       2102602
59926  635.22       2516684       1486410

[59927 rows x 3 columns]
merged_df
         time   instructions     cpu-cycles        br_pred    br_mis_pred  \
0        0.02        8402970       13655349        1563774          58652
1        0.03       17808722       14775320        4010047         160855
2        0.04       20510844       17501306        4638940         202202
3        0.05       17738069       14907258        4011369         166998
4        0.06       19800340       14903704        4494901         144374
...       ...            ...            ...            ...            ...
35286  633.38  <not counted>  <not counted>  <not counted>  <not counted>
35287  633.41        9836063       12121069        1720287          18392
35288  633.42       11926609       14855916        2633726          52309
35289  633.43       18499705       14749659        4172686          31349
35290  633.44       11273848       14925166        2934654          53225

      l1d_cache_rd l1d_cache_wr l1d_cache      l1i_cache l1i_cache_refill  \
0          2430050      1484261   3914311        3633749           220825
1          5129103      2946650   8075753        7107984           359208
2          4174564      2452038   6626602        7153062           441221
3          4604050      2637070   7241120        8932609           504995
4          4791786      2752465   7544251        7309720           325538
...            ...          ...       ...            ...              ...
35286      8740655      4419649  13160304       11358894           252185
35287      8252784      4276783  12529567       10531085           223760
35288      3190768      1805798   4996566        2756597            34381
35289      5093704      2546570   7640274  <not counted>    <not counted>
35290      7981820      3971620  11953440  <not counted>    <not counted>

       ... l2d_tlb_wr vfp_spec inst_spec ase_spec stall_backend  \
0      ...       9003      523  14620761    13510       5432094
1      ...       8995     3036  23861923    26514       2376041
2      ...       8833      780  21817211    12548       2531891
3      ...       9649      853  23308688    12709       2358306
4      ...       8254      327  24051455    14616       2548475
...    ...        ...      ...       ...      ...           ...
35286  ...       8477     4394  27405525     9333       1877336
35287  ...      11643      920  20688700     4603       2227801
35288  ...      10509       96  17140916      124       2255224
35289  ...       8791        0  12226854        0       3348850
35290  ...      11383        0  15460722        0       2900591

      stall_frontend ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0            6800932           150689    3736644       2321588       1415056
1            4971398            88110    6874125       4360170       2513955
2            5631330           103218    6604458       4164975       2439483
3            5173628            92570    7133510       4540582       2592928
4            4841122           103194    7308314       4628974       2679340
...              ...              ...        ...           ...           ...
35286         959577            32578   13247629       8677894       4569735
35287         214817            23935   10100090       6659383       3440707
35288         378766            28823   12531715       7873250       4658465
35289        1112105            88315   10942801       7875527       3067274
35290        1311448            47017   10523505       6650879       3872626

[35291 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010618   7605799         NaN  instructions     9398080
1         0.010618  13954198         NaN    cpu-cycles     9398080
2         0.010618   1399294         NaN       br_pred     9398080
3         0.010618     58366         NaN   br_mis_pred     9398080
4         0.021148  10211891         NaN  instructions     9837320
...            ...       ...         ...           ...         ...
234643  621.561654    103944         NaN   br_mis_pred    12992600
234644  621.568459  16493312         NaN  instructions     6399600
234645  621.568459   9549111         NaN    cpu-cycles     6399600
234646  621.568459   2382129         NaN       br_pred     6399600
234647  621.568459      4923         NaN   br_mis_pred     6399600

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.55  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.70  insn per cycle
...            ...         ...             ...
234643       100.0         NaN             NaN
234644       100.0        1.73  insn per cycle
234645       100.0         NaN             NaN
234646       100.0         NaN             NaN
234647       100.0         NaN             NaN

[234648 rows x 8 columns]
          time     value       counter
4         0.02  10211891  instructions
8         0.03  18527327  instructions
12        0.04  17275091  instructions
16        0.05  17867536  instructions
20        0.06  21906586  instructions
...        ...       ...           ...
234628  621.53  10981514  instructions
234632  621.54  18973406  instructions
234636  621.55  10414918  instructions
234640  621.56  27295159  instructions
234644  621.57  16493312  instructions

[58661 rows x 3 columns]
instructions
          time instructions
4         0.02     10211891
8         0.03     18527327
12        0.04     17275091
16        0.05     17867536
20        0.06     21906586
...        ...          ...
234628  621.53     10981514
234632  621.54     18973406
234636  621.55     10414918
234640  621.56     27295159
234644  621.57     16493312

[58661 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   13954198
5         0.02   14658230
9         0.03   14839728
13        0.04   14625007
17        0.05   14908352
...        ...        ...
234629  621.53   14375214
234633  621.54   14927304
234637  621.55   14935893
234641  621.56   19378631
234645  621.57    9549111

[58662 rows x 2 columns]
df4
          time  br_pred
2         0.01  1399294
6         0.02  1925690
10        0.03  4217356
14        0.04  3884291
18        0.05  4038364
...        ...      ...
234630  621.53  2413605
234634  621.54  4243469
234638  621.55  2615871
234642  621.56  5885484
234646  621.57  2382129

[58662 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       58366
7         0.02       74895
11        0.03      172387
15        0.04      169627
19        0.05      170262
...        ...         ...
234631  621.53       53248
234635  621.54       31559
234639  621.55       37869
234643  621.56      103944
234647  621.57        4923

[58662 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     10211891   14658230
1        0.03     18527327   14839728
2        0.04     17275091   14625007
3        0.05     17867536   14908352
4        0.06     21906586   16756979
...       ...          ...        ...
58656  621.53     10981514   14375214
58657  621.54     18973406   14927304
58658  621.55     10414918   14935893
58659  621.56     27295159   19378631
58660  621.57     16493312    9549111

[58661 rows x 3 columns]
df7
         time  br_pred br_mis_pred
0        0.01  1399294       58366
1        0.02  1925690       74895
2        0.03  4217356      172387
3        0.04  3884291      169627
4        0.05  4038364      170262
...       ...      ...         ...
58657  621.53  2413605       53248
58658  621.54  4243469       31559
58659  621.55  2615871       37869
58660  621.56  5885484      103944
58661  621.57  2382129        4923

[58662 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010141   9110749         NaN  instructions    10734080
1         0.010141   1756773         NaN  l1d_cache_rd    10734080
2         0.010141   1099017         NaN  l1d_cache_wr    10734080
3         0.010141   2855790         NaN     l1d_cache    10734080
4         0.020587  11500023         NaN  instructions     9847320
...            ...       ...         ...           ...         ...
234259  620.087986   4744677         NaN     l1d_cache     9936560
234260  620.096719  21987825         NaN  instructions     8272600
234261  620.096719   3980193         NaN  l1d_cache_rd     8272600
234262  620.096719   2339968         NaN  l1d_cache_wr     8272600
234263  620.096719   6320161         NaN     l1d_cache     8272600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
234259       100.0         NaN         NaN
234260       100.0         NaN         NaN
234261       100.0         NaN         NaN
234262       100.0         NaN         NaN
234263       100.0         NaN         NaN

[234264 rows x 8 columns]
          time     value       counter
4         0.02  11500023  instructions
8         0.03  18993344  instructions
12        0.04  17244406  instructions
16        0.05  18715684  instructions
20        0.06  19520408  instructions
...        ...       ...           ...
234244  620.06  15362400  instructions
234248  620.07  18190498  instructions
234252  620.08  11278548  instructions
234256  620.09  19813889  instructions
234260  620.10  21987825  instructions

[58565 rows x 3 columns]
instructions
          time instructions
4         0.02     11500023
8         0.03     18993344
12        0.04     17244406
16        0.05     18715684
20        0.06     19520408
...        ...          ...
234244  620.06     15362400
234248  620.07     18190498
234252  620.08     11278548
234256  620.09     19813889
234260  620.10     21987825

[58565 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1756773
5         0.02      2394843
9         0.03      4598032
13        0.04      4201684
17        0.05      4596829
...        ...          ...
234245  620.06      3478839
234249  620.07      4166958
234253  620.08      2283610
234257  620.09      3380557
234261  620.10      3980193

[58566 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1099017
6         0.02      1464078
10        0.03      2635324
14        0.04      2448169
18        0.05      2637545
...        ...          ...
234246  620.06      2148964
234250  620.07      2111420
234254  620.08      1008473
234258  620.09      1364120
234262  620.10      2339968

[58566 rows x 2 columns]
df5
          time l1d_cache
3         0.01   2855790
7         0.02   3858921
11        0.03   7233356
15        0.04   6649853
19        0.05   7234374
...        ...       ...
234247  620.06   5627803
234251  620.07   6278378
234255  620.08   3292083
234259  620.09   4744677
234263  620.10   6320161

[58566 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     11500023      2394843
1        0.03     18993344      4598032
2        0.04     17244406      4201684
3        0.05     18715684      4596829
4        0.06     19520408      4747905
...       ...          ...          ...
58560  620.06     15362400      3478839
58561  620.07     18190498      4166958
58562  620.08     11278548      2283610
58563  620.09     19813889      3380557
58564  620.10     21987825      3980193

[58565 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      1099017   2855790
1        0.02      1464078   3858921
2        0.03      2635324   7233356
3        0.04      2448169   6649853
4        0.05      2637545   7234374
...       ...          ...       ...
58561  620.06      2148964   5627803
58562  620.07      2111420   6278378
58563  620.08      1008473   3292083
58564  620.09      1364120   4744677
58565  620.10      2339968   6320161

[58566 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010113   9092549         NaN      instructions    11134120
1         0.010113   3298648         NaN         l1i_cache    11134120
2         0.010113    221011         NaN  l1i_cache_refill    11134120
3         0.010113     78690         NaN     remote_access    11134120
4         0.020591  10839981         NaN      instructions     9831960
...            ...       ...         ...               ...         ...
234855  622.202602      3870         NaN     remote_access    10171360
234856  622.207045  10458015         NaN      instructions     4022840
234857  622.207045   2835637         NaN         l1i_cache     4022840
234858  622.207045      4744         NaN  l1i_cache_refill     4022840
234859  622.207045      3632         NaN     remote_access     4022840

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
234855       100.0         NaN         NaN
234856       100.0         NaN         NaN
234857       100.0         NaN         NaN
234858       100.0         NaN         NaN
234859       100.0         NaN         NaN

[234860 rows x 8 columns]
          time     value       counter
4         0.02  10839981  instructions
8         0.03  18153487  instructions
12        0.04  16607636  instructions
16        0.05  18763336  instructions
20        0.06  18879592  instructions
...        ...       ...           ...
234840  622.17  15438606  instructions
234844  622.18  14393764  instructions
234848  622.19  12550483  instructions
234852  622.20  25560139  instructions
234856  622.21  10458015  instructions

[58714 rows x 3 columns]
instructions
          time instructions
4         0.02     10839981
8         0.03     18153487
12        0.04     16607636
16        0.05     18763336
20        0.06     18879592
...        ...          ...
234840  622.17     15438606
234844  622.18     14393764
234848  622.19     12550483
234852  622.20     25560139
234856  622.21     10458015

[58714 rows x 2 columns]
df3
          time l1i_cache
1         0.01   3298648
5         0.02   4124575
9         0.03   7282870
13        0.04   6735025
17        0.05   7495047
...        ...       ...
234841  622.17   4959083
234845  622.18   4572766
234849  622.19   4880622
234853  622.20   7189575
234857  622.21   2835637

[58715 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           221011
6         0.02           251026
10        0.03           367815
14        0.04           429007
18        0.05           403246
...        ...              ...
234842  622.17           162739
234846  622.18            50771
234850  622.19            11126
234854  622.20             9640
234858  622.21             4744

[58715 rows x 2 columns]
df5
          time remote_access
3         0.01         78690
7         0.02         52494
11        0.03         22854
15        0.04         22949
19        0.05         20190
...        ...           ...
234843  622.17          3084
234847  622.18          3475
234851  622.19          2490
234855  622.20          3870
234859  622.21          3632

[58715 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     10839981   4124575
1        0.03     18153487   7282870
2        0.04     16607636   6735025
3        0.05     18763336   7495047
4        0.06     18879592   7316368
...       ...          ...       ...
58709  622.17     15438606   4959083
58710  622.18     14393764   4572766
58711  622.19     12550483   4880622
58712  622.20     25560139   7189575
58713  622.21     10458015   2835637

[58714 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           221011         78690
1        0.02           251026         52494
2        0.03           367815         22854
3        0.04           429007         22949
4        0.05           403246         20190
...       ...              ...           ...
58710  622.17           162739          3084
58711  622.18            50771          3475
58712  622.19            11126          2490
58713  622.20             9640          3870
58714  622.21             4744          3632

[58715 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010121   8537284         NaN  instructions    10414960
1         0.010121    325917         NaN  l2d_cache_rd    10414960
2         0.010121    114125         NaN  l2d_cache_wr    10414960
3         0.010121    440042         NaN     l2d_cache    10414960
4         0.020608  10486236         NaN  instructions     9846680
...            ...       ...         ...           ...         ...
234987  622.717502    549055         NaN     l2d_cache    10065120
234988  622.722031  10467193         NaN  instructions     4082120
234989  622.722031     58894         NaN  l2d_cache_rd     4082120
234990  622.722031     51775         NaN  l2d_cache_wr     4082120
234991  622.722031    110669         NaN     l2d_cache     4082120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
234987       100.0         NaN         NaN
234988       100.0         NaN         NaN
234989       100.0         NaN         NaN
234990       100.0         NaN         NaN
234991       100.0         NaN         NaN

[234992 rows x 8 columns]
          time     value       counter
4         0.02  10486236  instructions
8         0.03  18309878  instructions
12        0.04  17131024  instructions
16        0.05  18547977  instructions
20        0.06  21303092  instructions
...        ...       ...           ...
234972  622.69  16963980  instructions
234976  622.70  12995707  instructions
234980  622.71  12631915  instructions
234984  622.72  25315878  instructions
234988  622.72  10467193  instructions

[58747 rows x 3 columns]
instructions
          time instructions
4         0.02     10486236
8         0.03     18309878
12        0.04     17131024
16        0.05     18547977
20        0.06     21303092
...        ...          ...
234972  622.69     16963980
234976  622.70     12995707
234980  622.71     12631915
234984  622.72     25315878
234988  622.72     10467193

[58747 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       325917
5         0.02       349650
9         0.03       470871
13        0.04       543671
17        0.05       511676
...        ...          ...
234973  622.69       298239
234977  622.70       303797
234981  622.71       461727
234985  622.72       283183
234989  622.72        58894

[58748 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       114125
6         0.02       111384
10        0.03       112587
14        0.04       107551
18        0.05       116698
...        ...          ...
234974  622.69       140218
234978  622.70       201656
234982  622.71       406452
234986  622.72       265872
234990  622.72        51775

[58748 rows x 2 columns]
df5
          time l2d_cache
3         0.01    440042
7         0.02    461034
11        0.03    583458
15        0.04    651222
19        0.05    628374
...        ...       ...
234975  622.69    438457
234979  622.70    505453
234983  622.71    868179
234987  622.72    549055
234991  622.72    110669

[58748 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     10486236       349650
1        0.03     18309878       470871
2        0.04     17131024       543671
3        0.05     18547977       511676
4        0.06     21303092       534034
...       ...          ...          ...
58744  622.71     12631915       461727
58745  622.72     25315878       283183
58746  622.72     25315878        58894
58747  622.72     10467193       283183
58748  622.72     10467193        58894

[58749 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       114125    440042
1        0.02       111384    461034
2        0.03       112587    583458
3        0.04       107551    651222
4        0.05       116698    628374
...       ...          ...       ...
58745  622.71       406452    868179
58746  622.72       265872    549055
58747  622.72       265872    110669
58748  622.72        51775    549055
58749  622.72        51775    110669

[58750 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010109   8929894         NaN  instructions    10925120
1         0.010109   3736112         NaN       l1d_tlb    10925120
2         0.010109   2467487         NaN    l1d_tlb_rd    10925120
3         0.010109   1268625         NaN    l1d_tlb_wr    10925120
4         0.020607  10624083         NaN  instructions     9862960
...            ...       ...         ...           ...         ...
235075  623.121979   1570331         NaN    l1d_tlb_wr    11629000
235076  623.130316  20644268         NaN  instructions     7907040
235077  623.130316   7641223         NaN       l1d_tlb     7907040
235078  623.130316   5428880         NaN    l1d_tlb_rd     7907040
235079  623.130316   2212343         NaN    l1d_tlb_wr     7907040

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
235075       100.0         NaN         NaN
235076       100.0         NaN         NaN
235077       100.0         NaN         NaN
235078       100.0         NaN         NaN
235079       100.0         NaN         NaN

[235080 rows x 8 columns]
          time     value       counter
4         0.02  10624083  instructions
8         0.03  18279922  instructions
12        0.04  17058530  instructions
16        0.05  18781225  instructions
20        0.06  18899581  instructions
...        ...       ...           ...
235060  623.09  10780828  instructions
235064  623.10  18550708  instructions
235068  623.11  10595951  instructions
235072  623.12  23029340  instructions
235076  623.13  20644268  instructions

[58769 rows x 3 columns]
instructions
          time instructions
4         0.02     10624083
8         0.03     18279922
12        0.04     17058530
16        0.05     18781225
20        0.06     18899581
...        ...          ...
235060  623.09     10780828
235064  623.10     18550708
235068  623.11     10595951
235072  623.12     23029340
235076  623.13     20644268

[58769 rows x 2 columns]
df3
          time  l1d_tlb
1         0.01  3736112
5         0.02  4391640
9         0.03  7645366
13        0.04  7258049
17        0.05  7971377
...        ...      ...
235061  623.09  4485165
235065  623.10  6813393
235069  623.11  4041283
235073  623.12  6918086
235077  623.13  7641223

[58770 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    2467487
6         0.02    2880946
10        0.03    4922610
14        0.04    4660812
18        0.05    5139817
...        ...        ...
235062  623.09    2900508
235066  623.10    4595660
235070  623.11    2820127
235074  623.12    5347755
235078  623.13    5428880

[58770 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1268625
7         0.02    1510694
11        0.03    2722756
15        0.04    2597237
19        0.05    2831560
...        ...        ...
235063  623.09    1584657
235067  623.10    2217733
235071  623.11    1221156
235075  623.12    1570331
235079  623.13    2212343

[58770 rows x 2 columns]
df6
         time instructions  l1d_tlb
0        0.02     10624083  4391640
1        0.03     18279922  7645366
2        0.04     17058530  7258049
3        0.05     18781225  7971377
4        0.06     18899581  8020835
...       ...          ...      ...
58764  623.09     10780828  4485165
58765  623.10     18550708  6813393
58766  623.11     10595951  4041283
58767  623.12     23029340  6918086
58768  623.13     20644268  7641223

[58769 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    2467487    1268625
1        0.02    2880946    1510694
2        0.03    4922610    2722756
3        0.04    4660812    2597237
4        0.05    5139817    2831560
...       ...        ...        ...
58765  623.09    2900508    1584657
58766  623.10    4595660    2217733
58767  623.11    2820127    1221156
58768  623.12    5347755    1570331
58769  623.13    5428880    2212343

[58770 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010121   8085334         NaN  instructions     9714360
1         0.010121     15412         NaN     dtlb_walk     9714360
2         0.010121      1247         NaN     itlb_walk     9714360
3         0.010121   2690829         NaN       l1i_tlb     9714360
4         0.020567  10153004         NaN  instructions     9894920
...            ...       ...         ...           ...         ...
234111  619.869211   5449939         NaN       l1i_tlb    10114240
234112  619.877785  21394488         NaN  instructions     8151720
234113  619.877785      1404         NaN     dtlb_walk     8151720
234114  619.877785         4         NaN     itlb_walk     8151720
234115  619.877785   4129551         NaN       l1i_tlb     8151720

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
234111       100.0         NaN         NaN
234112       100.0         NaN         NaN
234113       100.0         NaN         NaN
234114       100.0         NaN         NaN
234115       100.0         NaN         NaN

[234116 rows x 8 columns]
          time     value       counter
4         0.02  10153004  instructions
8         0.03  18219691  instructions
12        0.04  22111071  instructions
16        0.05  18318186  instructions
20        0.06  19405946  instructions
...        ...       ...           ...
234096  619.84  11892323  instructions
234100  619.85  18295075  instructions
234104  619.86  11329773  instructions
234108  619.87  20336476  instructions
234112  619.88  21394488  instructions

[58528 rows x 3 columns]
instructions
          time instructions
4         0.02     10153004
8         0.03     18219691
12        0.04     22111071
16        0.05     18318186
20        0.06     19405946
...        ...          ...
234096  619.84     11892323
234100  619.85     18295075
234104  619.86     11329773
234108  619.87     20336476
234112  619.88     21394488

[58528 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     15412
5         0.02     12110
9         0.03      1981
13        0.04      3361
17        0.05      2428
...        ...       ...
234097  619.84     12853
234101  619.85     13358
234105  619.86     30134
234109  619.87     23425
234113  619.88      1404

[58529 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1247
6         0.02      1286
10        0.03       556
14        0.04       798
18        0.05       584
...        ...       ...
234098  619.84      1150
234102  619.85       987
234106  619.86       275
234110  619.87       239
234114  619.88         4

[58529 rows x 2 columns]
df5
          time  l1i_tlb
3         0.01  2690829
7         0.02  3367987
11        0.03  6078022
15        0.04  7539465
19        0.05  6133768
...        ...      ...
234099  619.84  3642119
234103  619.85  4586857
234107  619.86  3623954
234111  619.87  5449939
234115  619.88  4129551

[58529 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     10153004     12110
1        0.03     18219691      1981
2        0.04     22111071      3361
3        0.05     18318186      2428
4        0.06     19405946      3299
...       ...          ...       ...
58523  619.84     11892323     12853
58524  619.85     18295075     13358
58525  619.86     11329773     30134
58526  619.87     20336476     23425
58527  619.88     21394488      1404

[58528 rows x 3 columns]
df7
         time itlb_walk  l1i_tlb
0        0.01      1247  2690829
1        0.02      1286  3367987
2        0.03       556  6078022
3        0.04       798  7539465
4        0.05       584  6133768
...       ...       ...      ...
58524  619.84      1150  3642119
58525  619.85       987  4586857
58526  619.86       275  3623954
58527  619.87       239  5449939
58528  619.88         4  4129551

[58529 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010111   7611810         NaN  instructions     8875480
1         0.010111     52732         NaN       l2d_tlb     8875480
2         0.010111     43873         NaN    l2d_tlb_rd     8875480
3         0.010111      8859         NaN    l2d_tlb_wr     8875480
4         0.022785  15191061         NaN  instructions    12016920
...            ...       ...         ...           ...         ...
234303  620.711206     23708         NaN    l2d_tlb_wr    10140720
234304  620.713172   3646810         NaN  instructions     1609400
234305  620.713172     10708         NaN       l2d_tlb     1609400
234306  620.713172      7032         NaN    l2d_tlb_rd     1609400
234307  620.713172      3676         NaN    l2d_tlb_wr     1609400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
234303       100.0         NaN         NaN
234304       100.0         NaN         NaN
234305       100.0         NaN         NaN
234306       100.0         NaN         NaN
234307       100.0         NaN         NaN

[234308 rows x 8 columns]
          time     value       counter
4         0.02  15191061  instructions
8         0.03  18420724  instructions
12        0.04  17363293  instructions
16        0.05  18944215  instructions
20        0.06  19090508  instructions
...        ...       ...           ...
234288  620.68  14863844  instructions
234292  620.69  14899813  instructions
234296  620.70  18086237  instructions
234300  620.71  26769137  instructions
234304  620.71   3646810  instructions

[58576 rows x 3 columns]
instructions
          time instructions
4         0.02     15191061
8         0.03     18420724
12        0.04     17363293
16        0.05     18944215
20        0.06     19090508
...        ...          ...
234288  620.68     14863844
234292  620.69     14899813
234296  620.70     18086237
234300  620.71     26769137
234304  620.71      3646810

[58576 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   52732
5         0.02  109833
9         0.03  168443
13        0.04  172046
17        0.05  181493
...        ...     ...
234289  620.68  157580
234293  620.69  119861
234297  620.70  121487
234301  620.71   64891
234305  620.71   10708

[58577 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      43873
6         0.02      98825
10        0.03     160354
14        0.04     163643
18        0.05     172731
...        ...        ...
234290  620.68     145984
234294  620.69     111316
234298  620.70     116093
234302  620.71      41183
234306  620.71       7032

[58577 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01       8859
7         0.02      11008
11        0.03       8089
15        0.04       8403
19        0.05       8762
...        ...        ...
234291  620.68      11596
234295  620.69       8545
234299  620.70       5394
234303  620.71      23708
234307  620.71       3676

[58577 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     15191061  109833
1        0.03     18420724  168443
2        0.04     17363293  172046
3        0.05     18944215  181493
4        0.06     19090508  151023
...       ...          ...     ...
58573  620.70     18086237  121487
58574  620.71     26769137   64891
58575  620.71     26769137   10708
58576  620.71      3646810   64891
58577  620.71      3646810   10708

[58578 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      43873       8859
1        0.02      98825      11008
2        0.03     160354       8089
3        0.04     163643       8403
4        0.05     172731       8762
...       ...        ...        ...
58574  620.70     116093       5394
58575  620.71      41183      23708
58576  620.71      41183       3676
58577  620.71       7032      23708
58578  620.71       7032       3676

[58579 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010114   8497201         NaN  instructions    10390200
1         0.010114         8         NaN      vfp_spec    10390200
2         0.010114  10239574         NaN     inst_spec    10390200
3         0.010114      5325         NaN      ase_spec    10390200
4         0.020677  10527637         NaN  instructions     9813080
...            ...       ...         ...           ...         ...
234523  620.752824         3         NaN      ase_spec    10185240
234524  620.762748  24295480         NaN  instructions     9297120
234525  620.762748         0         NaN      vfp_spec     9297120
234526  620.762748  24655055         NaN     inst_spec     9297120
234527  620.762748         0         NaN      ase_spec     9297120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
234523       100.0         NaN         NaN
234524       100.0         NaN         NaN
234525       100.0         NaN         NaN
234526       100.0         NaN         NaN
234527       100.0         NaN         NaN

[234528 rows x 8 columns]
          time     value       counter
4         0.02  10527637  instructions
8         0.03  18076438  instructions
12        0.04  17297449  instructions
16        0.05  18391587  instructions
20        0.06  20776693  instructions
...        ...       ...           ...
234508  620.72   9899418  instructions
234512  620.73  22440665  instructions
234516  620.74  10510519  instructions
234520  620.75  19396654  instructions
234524  620.76  24295480  instructions

[58631 rows x 3 columns]
instructions
          time instructions
4         0.02     10527637
8         0.03     18076438
12        0.04     17297449
16        0.05     18391587
20        0.06     20776693
...        ...          ...
234508  620.72      9899418
234512  620.73     22440665
234516  620.74     10510519
234520  620.75     19396654
234524  620.76     24295480

[58631 rows x 2 columns]
df3
          time vfp_spec
1         0.01        8
5         0.02      262
9         0.03     2756
13        0.04     1187
17        0.05      771
...        ...      ...
234509  620.72      219
234513  620.73        0
234517  620.74        2
234521  620.75        0
234525  620.76        0

[58632 rows x 2 columns]
df4
          time inst_spec
2         0.01  10239574
6         0.02  12837164
10        0.03  22527289
14        0.04  21716345
18        0.05  22936313
...        ...       ...
234510  620.72  11664456
234514  620.73  24090066
234518  620.74  12256580
234522  620.75  23340832
234526  620.76  24655055

[58632 rows x 2 columns]
df5
          time ase_spec
3         0.01     5325
7         0.02    11178
11        0.03    27495
15        0.04    13250
19        0.05    11125
...        ...      ...
234511  620.72     2045
234515  620.73     2489
234519  620.74      104
234523  620.75        3
234527  620.76        0

[58632 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     10527637      262
1        0.03     18076438     2756
2        0.04     17297449     1187
3        0.05     18391587      771
4        0.06     20776693      469
...       ...          ...      ...
58626  620.72      9899418      219
58627  620.73     22440665        0
58628  620.74     10510519        2
58629  620.75     19396654        0
58630  620.76     24295480        0

[58631 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  10239574     5325
1        0.02  12837164    11178
2        0.03  22527289    27495
3        0.04  21716345    13250
4        0.05  22936313    11125
...       ...       ...      ...
58627  620.72  11664456     2045
58628  620.73  24090066     2489
58629  620.74  12256580      104
58630  620.75  23340832        3
58631  620.76  24655055        0

[58632 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010142   8708032         NaN      instructions    10682200
1         0.010142   5284039         NaN     stall_backend    10682200
2         0.010142   7375866         NaN    stall_frontend    10682200
3         0.010142    158807         NaN  ll_cache_miss_rd    10682200
4         0.020657  10553011         NaN      instructions     9872280
...            ...       ...         ...               ...         ...
233975  619.756395    339179         NaN  ll_cache_miss_rd    10020840
233976  619.761186  11171380         NaN      instructions     4370840
233977  619.761186   2821938         NaN     stall_backend     4370840
233978  619.761186    350190         NaN    stall_frontend     4370840
233979  619.761186     55047         NaN  ll_cache_miss_rd     4370840

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
233975       100.0         NaN         NaN
233976       100.0         NaN         NaN
233977       100.0         NaN         NaN
233978       100.0         NaN         NaN
233979       100.0         NaN         NaN

[233980 rows x 8 columns]
          time     value       counter
4         0.02  10553011  instructions
8         0.03  18282172  instructions
12        0.04  16899672  instructions
16        0.05  18567779  instructions
20        0.06  19174871  instructions
...        ...       ...           ...
233960  619.73  17098836  instructions
233964  619.74  13047776  instructions
233968  619.75  12360039  instructions
233972  619.76  25201622  instructions
233976  619.76  11171380  instructions

[58494 rows x 3 columns]
instructions
          time instructions
4         0.02     10553011
8         0.03     18282172
12        0.04     16899672
16        0.05     18567779
20        0.06     19174871
...        ...          ...
233960  619.73     17098836
233964  619.74     13047776
233968  619.75     12360039
233972  619.76     25201622
233976  619.76     11171380

[58494 rows x 2 columns]
df3
          time stall_backend
1         0.01       5284039
5         0.02       4469917
9         0.03       2377689
13        0.04       2324317
17        0.05       2314135
...        ...           ...
233961  619.73       7765904
233965  619.74       9167804
233969  619.75       9464810
233973  619.76       6514888
233977  619.76       2821938

[58495 rows x 2 columns]
df4
          time stall_frontend
2         0.01        7375866
6         0.02        6258255
10        0.03        5274365
14        0.04        5664664
18        0.05        5360658
...        ...            ...
233962  619.73        1379376
233966  619.74        1276027
233970  619.75         643280
233974  619.76         543105
233978  619.76         350190

[58495 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           158807
7         0.02           132393
11        0.03            94492
15        0.04            92012
19        0.05           102169
...        ...              ...
233963  619.73           120307
233967  619.74           183380
233971  619.75           471401
233975  619.76           339179
233979  619.76            55047

[58495 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     10553011       4469917
1        0.03     18282172       2377689
2        0.04     16899672       2324317
3        0.05     18567779       2314135
4        0.06     19174871       2446407
...       ...          ...           ...
58491  619.75     12360039       9464810
58492  619.76     25201622       6514888
58493  619.76     25201622       2821938
58494  619.76     11171380       6514888
58495  619.76     11171380       2821938

[58496 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01        7375866           158807
1        0.02        6258255           132393
2        0.03        5274365            94492
3        0.04        5664664            92012
4        0.05        5360658           102169
...       ...            ...              ...
58492  619.75         643280           471401
58493  619.76         543105           339179
58494  619.76         543105            55047
58495  619.76         350190           339179
58496  619.76         350190            55047

[58497 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010114   9268028         NaN   instructions    11189360
1         0.010114   2899413         NaN     mem_access    11189360
2         0.010114   1781075         NaN  mem_access_rd    11189360
3         0.010114   1118338         NaN  mem_access_wr    11189360
4         0.020625  11059530         NaN   instructions     9799680
...            ...       ...         ...            ...         ...
234643  621.616289   1954135         NaN  mem_access_wr    12167680
234644  621.623055  16498066         NaN   instructions     6348280
234645  621.623055   4750845         NaN     mem_access     6348280
234646  621.623055   2994034         NaN  mem_access_rd     6348280
234647  621.623055   1756811         NaN  mem_access_wr     6348280

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
234643       100.0         NaN         NaN
234644       100.0         NaN         NaN
234645       100.0         NaN         NaN
234646       100.0         NaN         NaN
234647       100.0         NaN         NaN

[234648 rows x 8 columns]
          time     value       counter
4         0.02  11059530  instructions
8         0.03  17830798  instructions
12        0.04  17059373  instructions
16        0.05  18389566  instructions
20        0.06  19029622  instructions
...        ...       ...           ...
234628  621.58  12964521  instructions
234632  621.59  18328284  instructions
234636  621.60  11161048  instructions
234640  621.62  25396574  instructions
234644  621.62  16498066  instructions

[58661 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

instructions
          time instructions
4         0.02     11059530
8         0.03     17830798
12        0.04     17059373
16        0.05     18389566
20        0.06     19029622
...        ...          ...
234628  621.58     12964521
234632  621.59     18328284
234636  621.60     11161048
234640  621.62     25396574
234644  621.62     16498066

[58661 rows x 2 columns]
df3
          time mem_access
1         0.01    2899413
5         0.02    3716603
9         0.03    6769400
13        0.04    6556065
17        0.05    7096385
...        ...        ...
234629  621.58    4771631
234633  621.59    6336902
234637  621.60    3265809
234641  621.62    6334064
234645  621.62    4750845

[58662 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1781075
6         0.02       2310696
10        0.03       4296012
14        0.04       4138396
18        0.05       4520319
...        ...           ...
234630  621.58       2979998
234634  621.59       4204331
234638  621.60       2256991
234642  621.62       4379929
234646  621.62       2994034

[58662 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1118338
7         0.02       1405907
11        0.03       2473388
15        0.04       2417669
19        0.05       2576066
...        ...           ...
234631  621.58       1791633
234635  621.59       2132571
234639  621.60       1008818
234643  621.62       1954135
234647  621.62       1756811

[58662 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     11059530    3716603
1        0.03     17830798    6769400
2        0.04     17059373    6556065
3        0.05     18389566    7096385
4        0.06     19029622    7315738
...       ...          ...        ...
58658  621.60     11161048    3265809
58659  621.62     25396574    6334064
58660  621.62     25396574    4750845
58661  621.62     16498066    6334064
58662  621.62     16498066    4750845

[58663 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1781075       1118338
1        0.02       2310696       1405907
2        0.03       4296012       2473388
3        0.04       4138396       2417669
4        0.05       4520319       2576066
...       ...           ...           ...
58659  621.60       2256991       1008818
58660  621.62       4379929       1954135
58661  621.62       4379929       1756811
58662  621.62       2994034       1954135
58663  621.62       2994034       1756811

[58664 rows x 3 columns]
merged_df
         time instructions cpu-cycles  br_pred br_mis_pred   l1d_cache_rd  \
0        0.02     10211891   14658230  1925690       74895        2394843
1        0.03     18527327   14839728  4217356      172387        4598032
2        0.04     17275091   14625007  3884291      169627        4201684
3        0.05     17867536   14908352  4038364      170262        4596829
4        0.06     21906586   16756979  4959261      166496        4747905
...       ...          ...        ...      ...         ...            ...
34786  619.76     31144563   14948392  6334634       52550  <not counted>
34787  619.76     31144563   14948392  6334634       52550  <not counted>
34788  619.76     31144563   14948392  6334634       52550  <not counted>
34789  619.76     31144563   14948392  6334634       52550  <not counted>
34790  619.76     31144563   14948392  6334634       52550  <not counted>

        l1d_cache_wr      l1d_cache l1i_cache l1i_cache_refill  ...  \
0            1464078        3858921   4124575           251026  ...
1            2635324        7233356   7282870           367815  ...
2            2448169        6649853   6735025           429007  ...
3            2637545        7234374   7495047           403246  ...
4            2730987        7478892   7316368           333325  ...
...              ...            ...       ...              ...  ...
34786  <not counted>  <not counted>  10532149           284296  ...
34787  <not counted>  <not counted>  10532149           284296  ...
34788  <not counted>  <not counted>  10532149           284296  ...
34789  <not counted>  <not counted>  10532149           284296  ...
34790  <not counted>  <not counted>  10532149           284296  ...

      l2d_tlb_wr vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0          11008      262  12837164    11178       4469917        6258255
1           8089     2756  22527289    27495       2377689        5274365
2           8403     1187  21716345    13250       2324317        5664664
3           8762      771  22936313    11125       2314135        5360658
4           7388      469  25423596    14875       2446407        5177284
...          ...      ...       ...      ...           ...            ...
34786      14075    22786  30348846     1730       6514888         350190
34787      14075    22786  30348846     1730       2821938         543105
34788      14075    22786  30348846     1730       2821938         543105
34789      14075    22786  30348846     1730       2821938         350190
34790      14075    22786  30348846     1730       2821938         350190

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               132393    3716603       2310696       1405907
1                94492    6769400       4296012       2473388
2                92012    6556065       4138396       2417669
3               102169    7096385       4520319       2576066
4               108059    7315738       4639417       2676321
...                ...        ...           ...           ...
34786            55047   15655462      10260174       5395288
34787           339179   15655462      10260174       5395288
34788            55047   15655462      10260174       5395288
34789           339179   15655462      10260174       5395288
34790            55047   15655462      10260174       5395288

[34791 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010889  13187452         NaN  instructions    11858800
1         0.010889  35351806         NaN    cpu-cycles    11858800
2         0.010889   2447012         NaN       br_pred    11858800
3         0.010889     93037         NaN   br_mis_pred    11858800
4         0.021257  27050768         NaN  instructions     9948040
...            ...       ...         ...           ...         ...
163871  428.457482    117136         NaN   br_mis_pred    10077000
163872  428.463827  34453674         NaN  instructions     5879560
163873  428.463827  17606599         NaN    cpu-cycles     5879560
163874  428.463827   5309548         NaN       br_pred     5879560
163875  428.463827     33855         NaN   br_mis_pred     5879560

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.37  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.91  insn per cycle
...            ...         ...             ...
163871       100.0         NaN             NaN
163872       100.0        1.96  insn per cycle
163873       100.0         NaN             NaN
163874       100.0         NaN             NaN
163875       100.0         NaN             NaN

[163876 rows x 8 columns]
          time     value       counter
4         0.02  27050768  instructions
8         0.03  30207668  instructions
12        0.04  35565905  instructions
16        0.05  56227206  instructions
20        0.06  33525321  instructions
...        ...       ...           ...
163856  428.43   2624305  instructions
163860  428.44  16537834  instructions
163864  428.45  23186244  instructions
163868  428.46  17063153  instructions
163872  428.46  34453674  instructions

[40968 rows x 3 columns]
instructions
          time instructions
4         0.02     27050768
8         0.03     30207668
12        0.04     35565905
16        0.05     56227206
20        0.06     33525321
...        ...          ...
163856  428.43      2624305
163860  428.44     16537834
163864  428.45     23186244
163868  428.46     17063153
163872  428.46     34453674

[40968 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   35351806
5         0.02   29777690
9         0.03   29641703
13        0.04   30054508
17        0.05   30144773
...        ...        ...
163857  428.43    2062260
163861  428.44   31646380
163865  428.45   30168997
163869  428.46   30189686
163873  428.46   17606599

[40969 rows x 2 columns]
df4
          time   br_pred
2         0.01   2447012
6         0.02   6023184
10        0.03   6821339
14        0.04   8160018
18        0.05  14227329
...        ...       ...
163858  428.43    424340
163862  428.44   3377588
163866  428.45   5280085
163870  428.46   4886915
163874  428.46   5309548

[40969 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       93037
7         0.02      249273
11        0.03      279050
15        0.04      276810
19        0.05      241071
...        ...         ...
163859  428.43        2396
163863  428.44       60028
163867  428.45       42470
163871  428.46      117136
163875  428.46       33855

[40969 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     27050768   29777690
1        0.03     30207668   29641703
2        0.04     35565905   30054508
3        0.05     56227206   30144773
4        0.06     33525321   30155951
...       ...          ...        ...
40965  428.45     23186244   30168997
40966  428.46     17063153   30189686
40967  428.46     17063153   17606599
40968  428.46     34453674   30189686
40969  428.46     34453674   17606599

[40970 rows x 3 columns]
df7
         time   br_pred br_mis_pred
0        0.01   2447012       93037
1        0.02   6023184      249273
2        0.03   6821339      279050
3        0.04   8160018      276810
4        0.05  14227329      241071
...       ...       ...         ...
40966  428.45   5280085       42470
40967  428.46   4886915      117136
40968  428.46   4886915       33855
40969  428.46   5309548      117136
40970  428.46   5309548       33855

[40971 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014977  18731957         NaN  instructions    14241240
1         0.014977   3733928         NaN  l1d_cache_rd    14241240
2         0.014977   2295111         NaN  l1d_cache_wr    14241240
3         0.014977   6029039         NaN     l1d_cache    14241240
4         0.025395  33000830         NaN  instructions     9955760
...            ...       ...         ...           ...         ...
164139  429.124485   4399519         NaN     l1d_cache    10072480
164140  429.133988  41579543         NaN  instructions     8990120
164141  429.133988   7353196         NaN  l1d_cache_rd     8990120
164142  429.133988   3816509         NaN  l1d_cache_wr     8990120
164143  429.133988  11169705         NaN     l1d_cache     8990120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
164139       100.0         NaN         NaN
164140       100.0         NaN         NaN
164141       100.0         NaN         NaN
164142       100.0         NaN         NaN
164143       100.0         NaN         NaN

[164144 rows x 8 columns]
          time          value       counter
4         0.03       33000830  instructions
8         0.04       32797007  instructions
12        0.05       46483670  instructions
16        0.06       49453638  instructions
20        0.07       33266556  instructions
...        ...            ...           ...
164124  429.09  <not counted>  instructions
164128  429.10       14559027  instructions
164132  429.11       23209913  instructions
164136  429.12       14621235  instructions
164140  429.13       41579543  instructions

[41035 rows x 3 columns]
instructions
          time   instructions
4         0.03       33000830
8         0.04       32797007
12        0.05       46483670
16        0.06       49453638
20        0.07       33266556
...        ...            ...
164124  429.09  <not counted>
164128  429.10       14559027
164132  429.11       23209913
164136  429.12       14621235
164140  429.13       41579543

[41035 rows x 2 columns]
df3
          time   l1d_cache_rd
1         0.01        3733928
5         0.03        7982548
9         0.04        8029349
13        0.05       10525354
17        0.06       10632377
...        ...            ...
164125  429.09  <not counted>
164129  429.10        3011062
164133  429.11        5323188
164137  429.12        2980614
164141  429.13        7353196

[41036 rows x 2 columns]
df4
          time   l1d_cache_wr
2         0.01        2295111
6         0.03        4623434
10        0.04        4606021
14        0.05        5088587
18        0.06        4525121
...        ...            ...
164126  429.09  <not counted>
164130  429.10        1883710
164134  429.11        2861431
164138  429.12        1418905
164142  429.13        3816509

[41036 rows x 2 columns]
df5
          time      l1d_cache
3         0.01        6029039
7         0.03       12605982
11        0.04       12635370
15        0.05       15613941
19        0.06       15157498
...        ...            ...
164127  429.09  <not counted>
164131  429.10        4894772
164135  429.11        8184619
164139  429.12        4399519
164143  429.13       11169705

[41036 rows x 2 columns]
df6
         time   instructions   l1d_cache_rd
0        0.03       33000830        7982548
1        0.04       32797007        8029349
2        0.05       46483670       10525354
3        0.06       49453638       10632377
4        0.07       33266556        8135409
...       ...            ...            ...
41030  429.09  <not counted>  <not counted>
41031  429.10       14559027        3011062
41032  429.11       23209913        5323188
41033  429.12       14621235        2980614
41034  429.13       41579543        7353196

[41035 rows x 3 columns]
df7
         time   l1d_cache_wr      l1d_cache
0        0.01        2295111        6029039
1        0.03        4623434       12605982
2        0.04        4606021       12635370
3        0.05        5088587       15613941
4        0.06        4525121       15157498
...       ...            ...            ...
41031  429.09  <not counted>  <not counted>
41032  429.10        1883710        4894772
41033  429.11        2861431        8184619
41034  429.12        1418905        4399519
41035  429.13        3816509       11169705

[41036 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.013536  16742339         NaN      instructions    14336400
1         0.013536   6060278         NaN         l1i_cache    14336400
2         0.013536    374950         NaN  l1i_cache_refill    14336400
3         0.013536    108410         NaN     remote_access    14336400
4         0.023941  32249070         NaN      instructions     9911800
...            ...       ...         ...               ...         ...
164423  429.944145      5529         NaN     remote_access    10062680
164424  429.947531  16295715         NaN      instructions     3016560
164425  429.947531   4629113         NaN         l1i_cache     3016560
164426  429.947531      5031         NaN  l1i_cache_refill     3016560
164427  429.947531      4483         NaN     remote_access     3016560

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
164423       100.0         NaN         NaN
164424       100.0         NaN         NaN
164425       100.0         NaN         NaN
164426       100.0         NaN         NaN
164427       100.0         NaN         NaN

[164428 rows x 8 columns]
          time     value       counter
4         0.02  32249070  instructions
8         0.03  31188093  instructions
12        0.04  43185518  instructions
16        0.05  51395784  instructions
20        0.06  31555685  instructions
...        ...       ...           ...
164408  429.91   9917790  instructions
164412  429.92  17690242  instructions
164416  429.93  18978659  instructions
164420  429.94  30447907  instructions
164424  429.95  16295715  instructions

[41106 rows x 3 columns]
instructions
          time instructions
4         0.02     32249070
8         0.03     31188093
12        0.04     43185518
16        0.05     51395784
20        0.06     31555685
...        ...          ...
164408  429.91      9917790
164412  429.92     17690242
164416  429.93     18978659
164420  429.94     30447907
164424  429.95     16295715

[41106 rows x 2 columns]
df3
          time l1i_cache
1         0.01   6060278
5         0.02  13083625
9         0.03  12542479
13        0.04  15791566
17        0.05  17691567
...        ...       ...
164409  429.91   3135813
164413  429.92   6183296
164417  429.93   5951583
164421  429.94   9925036
164425  429.95   4629113

[41107 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           374950
6         0.02           700272
10        0.03           724788
14        0.04           572601
18        0.05           546872
...        ...              ...
164410  429.91            52867
164414  429.92           231786
164418  429.93            42727
164422  429.94            11258
164426  429.95             5031

[41107 rows x 2 columns]
df5
          time remote_access
3         0.01        108410
7         0.02         26095
11        0.03         27900
15        0.04         18879
19        0.05         11767
...        ...           ...
164411  429.91         11221
164415  429.92         12860
164419  429.93          4258
164423  429.94          5529
164427  429.95          4483

[41107 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     32249070  13083625
1        0.03     31188093  12542479
2        0.04     43185518  15791566
3        0.05     51395784  17691567
4        0.06     31555685  12798649
...       ...          ...       ...
41101  429.91      9917790   3135813
41102  429.92     17690242   6183296
41103  429.93     18978659   5951583
41104  429.94     30447907   9925036
41105  429.95     16295715   4629113

[41106 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           374950        108410
1        0.02           700272         26095
2        0.03           724788         27900
3        0.04           572601         18879
4        0.05           546872         11767
...       ...              ...           ...
41102  429.91            52867         11221
41103  429.92           231786         12860
41104  429.93            42727          4258
41105  429.94            11258          5529
41106  429.95             5031          4483

[41107 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011844  14753932         NaN  instructions    12628000
1         0.011844    530925         NaN  l2d_cache_rd    12628000
2         0.011844    185642         NaN  l2d_cache_wr    12628000
3         0.011844    716567         NaN     l2d_cache    12628000
4         0.022252  31090732         NaN  instructions     9838280
...            ...       ...         ...           ...         ...
163879  428.808637   1233340         NaN     l2d_cache    10073680
163880  428.811928  13985776         NaN  instructions     2882600
163881  428.811928     65117         NaN  l2d_cache_rd     2882600
163882  428.811928     58692         NaN  l2d_cache_wr     2882600
163883  428.811928    123809         NaN     l2d_cache     2882600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
163879       100.0         NaN         NaN
163880       100.0         NaN         NaN
163881       100.0         NaN         NaN
163882       100.0         NaN         NaN
163883       100.0         NaN         NaN

[163884 rows x 8 columns]
          time     value       counter
4         0.02  31090732  instructions
8         0.03  31897189  instructions
12        0.04  41289099  instructions
16        0.06  62643395  instructions
20        0.07  31961092  instructions
...        ...       ...           ...
163864  428.78  10861950  instructions
163868  428.79  21021308  instructions
163872  428.80  15668035  instructions
163876  428.81  32494650  instructions
163880  428.81  13985776  instructions

[40970 rows x 3 columns]
instructions
          time instructions
4         0.02     31090732
8         0.03     31897189
12        0.04     41289099
16        0.06     62643395
20        0.07     31961092
...        ...          ...
163864  428.78     10861950
163868  428.79     21021308
163872  428.80     15668035
163876  428.81     32494650
163880  428.81     13985776

[40970 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       530925
5         0.02       837492
9         0.03       945965
13        0.04       832912
17        0.06      1195582
...        ...          ...
163865  428.78       168841
163869  428.79       380753
163873  428.80       369217
163877  428.81       640955
163881  428.81        65117

[40971 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       185642
6         0.02       199181
10        0.03       207141
14        0.04       243089
18        0.06       453426
...        ...          ...
163866  428.78        96896
163870  428.79       177480
163874  428.80       254105
163878  428.81       592385
163882  428.81        58692

[40971 rows x 2 columns]
df5
          time l2d_cache
3         0.01    716567
7         0.02   1036673
11        0.03   1153106
15        0.04   1076001
19        0.06   1649008
...        ...       ...
163867  428.78    265737
163871  428.79    558233
163875  428.80    623322
163879  428.81   1233340
163883  428.81    123809

[40971 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     31090732       837492
1        0.03     31897189       945965
2        0.04     41289099       832912
3        0.06     62643395      1195582
4        0.07     31961092       937149
...       ...          ...          ...
40967  428.80     15668035       369217
40968  428.81     32494650       640955
40969  428.81     32494650        65117
40970  428.81     13985776       640955
40971  428.81     13985776        65117

[40972 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       185642    716567
1        0.02       199181   1036673
2        0.03       207141   1153106
3        0.04       243089   1076001
4        0.06       453426   1649008
...       ...          ...       ...
40968  428.80       254105    623322
40969  428.81       592385   1233340
40970  428.81       592385    123809
40971  428.81        58692   1233340
40972  428.81        58692    123809

[40973 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014878  18548833         NaN  instructions    15780680
1         0.014878   8350770         NaN       l1d_tlb    15780680
2         0.014878   5692832         NaN    l1d_tlb_rd    15780680
3         0.014878   2657938         NaN    l1d_tlb_wr    15780680
4         0.025393  29889292         NaN  instructions     9915080
...            ...       ...         ...           ...         ...
164039  428.874764   3778145         NaN    l1d_tlb_wr    10069560
164040  428.875261     89531         NaN  instructions       75760
164041  428.875261     35878         NaN       l1d_tlb       75760
164042  428.875261     23995         NaN    l1d_tlb_rd       75760
164043  428.875261     11883         NaN    l1d_tlb_wr       75760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
164039       100.0         NaN         NaN
164040       100.0         NaN         NaN
164041       100.0         NaN         NaN
164042       100.0         NaN         NaN
164043       100.0         NaN         NaN

[164044 rows x 8 columns]
          time     value       counter
4         0.03  29889292  instructions
8         0.04  29324678  instructions
12        0.05  38496169  instructions
16        0.06  52863217  instructions
20        0.07  28651247  instructions
...        ...       ...           ...
164024  428.84  13824987  instructions
164028  428.85  22568153  instructions
164032  428.86  15770054  instructions
164036  428.87  41476431  instructions
164040  428.88     89531  instructions

[41010 rows x 3 columns]
instructions
          time instructions
4         0.03     29889292
8         0.04     29324678
12        0.05     38496169
16        0.06     52863217
20        0.07     28651247
...        ...          ...
164024  428.84     13824987
164028  428.85     22568153
164032  428.86     15770054
164036  428.87     41476431
164040  428.88        89531

[41010 rows x 2 columns]
df3
          time   l1d_tlb
1         0.01   8350770
5         0.03  12772861
9         0.04  12717986
13        0.05  15381913
17        0.06  16778503
...        ...       ...
164025  428.84   5443855
164029  428.85   8600008
164033  428.86   5762580
164037  428.87  14596405
164041  428.88     35878

[41011 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    5692832
6         0.03    8255694
10        0.04    8235573
14        0.05   10165328
18        0.06   12103758
...        ...        ...
164026  428.84    3597859
164030  428.85    5749358
164034  428.86    4017494
164038  428.87   10818260
164042  428.88      23995

[41011 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    2657938
7         0.03    4517167
11        0.04    4482413
15        0.05    5216585
19        0.06    4674745
...        ...        ...
164027  428.84    1845996
164031  428.85    2850650
164035  428.86    1745086
164039  428.87    3778145
164043  428.88      11883

[41011 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.03     29889292  12772861
1        0.04     29324678  12717986
2        0.05     38496169  15381913
3        0.06     52863217  16778503
4        0.07     28651247  12059632
...       ...          ...       ...
41005  428.84     13824987   5443855
41006  428.85     22568153   8600008
41007  428.86     15770054   5762580
41008  428.87     41476431  14596405
41009  428.88        89531     35878

[41010 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    5692832    2657938
1        0.03    8255694    4517167
2        0.04    8235573    4482413
3        0.05   10165328    5216585
4        0.06   12103758    4674745
...       ...        ...        ...
41006  428.84    3597859    1845996
41007  428.85    5749358    2850650
41008  428.86    4017494    1745086
41009  428.87   10818260    3778145
41010  428.88      23995      11883

[41011 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014146  18531929         NaN  instructions    14967480
1         0.014146     24754         NaN     dtlb_walk    14967480
2         0.014146      2527         NaN     itlb_walk    14967480
3         0.014146   6170107         NaN       l1i_tlb    14967480
4         0.024607  30560343         NaN  instructions     9856040
...            ...       ...         ...           ...         ...
163999  428.614709   4847641         NaN       l1i_tlb    10070040
164000  428.624350  39448381         NaN  instructions     9145760
164001  428.624350     15629         NaN     dtlb_walk     9145760
164002  428.624350       216         NaN     itlb_walk     9145760
164003  428.624350   8719713         NaN       l1i_tlb     9145760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
163999       100.0         NaN         NaN
164000       100.0         NaN         NaN
164001       100.0         NaN         NaN
164002       100.0         NaN         NaN
164003       100.0         NaN         NaN

[164004 rows x 8 columns]
          time          value       counter
4         0.02       30560343  instructions
8         0.03       31038279  instructions
12        0.05       42295159  instructions
16        0.06       52052056  instructions
20        0.07       30783068  instructions
...        ...            ...           ...
163984  428.58  <not counted>  instructions
163988  428.59       16266115  instructions
163992  428.60       24108023  instructions
163996  428.61       13631365  instructions
164000  428.62       39448381  instructions

[41000 rows x 3 columns]
instructions
          time   instructions
4         0.02       30560343
8         0.03       31038279
12        0.05       42295159
16        0.06       52052056
20        0.07       30783068
...        ...            ...
163984  428.58  <not counted>
163988  428.59       16266115
163992  428.60       24108023
163996  428.61       13631365
164000  428.62       39448381

[41000 rows x 2 columns]
df3
          time      dtlb_walk
1         0.01          24754
5         0.02           3027
9         0.03           3746
13        0.05           3397
17        0.06           2258
...        ...            ...
163985  428.58  <not counted>
163989  428.59          14119
163993  428.60          18592
163997  428.61          36790
164001  428.62          15629

[41001 rows x 2 columns]
df4
          time      itlb_walk
2         0.01           2527
6         0.02            989
10        0.03           1007
14        0.05            724
18        0.06            362
...        ...            ...
163986  428.58  <not counted>
163990  428.59           1469
163994  428.60           1373
163998  428.61            401
164002  428.62            216

[41001 rows x 2 columns]
df5
          time        l1i_tlb
3         0.01        6170107
7         0.02       10349193
11        0.03       10417308
15        0.05       12398747
19        0.06       13644745
...        ...            ...
163987  428.58  <not counted>
163991  428.59        4674073
163995  428.60        6185568
163999  428.61        4847641
164003  428.62        8719713

[41001 rows x 2 columns]
df6
         time   instructions      dtlb_walk
0        0.02       30560343           3027
1        0.03       31038279           3746
2        0.05       42295159           3397
3        0.06       52052056           2258
4        0.07       30783068           4526
...       ...            ...            ...
40995  428.58  <not counted>  <not counted>
40996  428.59       16266115          14119
40997  428.60       24108023          18592
40998  428.61       13631365          36790
40999  428.62       39448381          15629

[41000 rows x 3 columns]
df7
         time      itlb_walk        l1i_tlb
0        0.01           2527        6170107
1        0.02            989       10349193
2        0.03           1007       10417308
3        0.05            724       12398747
4        0.06            362       13644745
...       ...            ...            ...
40996  428.58  <not counted>  <not counted>
40997  428.59           1469        4674073
40998  428.60           1373        6185568
40999  428.61            401        4847641
41000  428.62            216        8719713

[41001 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011834  13109827         NaN  instructions    12804720
1         0.011834     82964         NaN       l2d_tlb    12804720
2         0.011834     68861         NaN    l2d_tlb_rd    12804720
3         0.011834     14103         NaN    l2d_tlb_wr    12804720
4         0.022316  26071055         NaN  instructions    10010360
...            ...       ...         ...           ...         ...
163967  428.664305      5950         NaN    l2d_tlb_wr    10114280
163968  428.669792  26030676         NaN  instructions     5089960
163969  428.669792      8551         NaN       l2d_tlb     5089960
163970  428.669792      6158         NaN    l2d_tlb_rd     5089960
163971  428.669792      2393         NaN    l2d_tlb_wr     5089960

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
163967       100.0         NaN         NaN
163968       100.0         NaN         NaN
163969       100.0         NaN         NaN
163970       100.0         NaN         NaN
163971       100.0         NaN         NaN

[163972 rows x 8 columns]
          time     value       counter
4         0.02  26071055  instructions
8         0.03  28645660  instructions
12        0.04  32943597  instructions
16        0.05  52134202  instructions
20        0.06  36118334  instructions
...        ...       ...           ...
163952  428.63     78680  instructions
163956  428.64  23995110  instructions
163960  428.65  21099704  instructions
163964  428.66  22966377  instructions
163968  428.67  26030676  instructions

[40992 rows x 3 columns]
instructions
          time instructions
4         0.02     26071055
8         0.03     28645660
12        0.04     32943597
16        0.05     52134202
20        0.06     36118334
...        ...          ...
163952  428.63        78680
163956  428.64     23995110
163960  428.65     21099704
163964  428.66     22966377
163968  428.67     26030676

[40992 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   82964
5         0.02  220389
9         0.03  275774
13        0.04  283954
17        0.05  412605
...        ...     ...
163953  428.63     967
163957  428.64  223008
163961  428.65  142447
163965  428.66  118616
163969  428.67    8551

[40993 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      68861
6         0.02     208362
10        0.03     262760
14        0.04     270993
18        0.05     398387
...        ...        ...
163954  428.63        905
163958  428.64     204772
163962  428.65     131717
163966  428.66     112666
163970  428.67       6158

[40993 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      14103
7         0.02      12027
11        0.03      13014
15        0.04      12961
19        0.05      14218
...        ...        ...
163955  428.63         62
163959  428.64      18236
163963  428.65      10730
163967  428.66       5950
163971  428.67       2393

[40993 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     26071055  220389
1        0.03     28645660  275774
2        0.04     32943597  283954
3        0.05     52134202  412605
4        0.06     36118334  322397
...       ...          ...     ...
40987  428.63        78680     967
40988  428.64     23995110  223008
40989  428.65     21099704  142447
40990  428.66     22966377  118616
40991  428.67     26030676    8551

[40992 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      68861      14103
1        0.02     208362      12027
2        0.03     262760      13014
3        0.04     270993      12961
4        0.05     398387      14218
...       ...        ...        ...
40988  428.63        905         62
40989  428.64     204772      18236
40990  428.65     131717      10730
40991  428.66     112666       5950
40992  428.67       6158       2393

[40993 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014531  18930903         NaN  instructions    15347080
1         0.014531       263         NaN      vfp_spec    15347080
2         0.014531  22891287         NaN     inst_spec    15347080
3         0.014531     16462         NaN      ase_spec    15347080
4         0.024930  31686500         NaN  instructions    10057400
...            ...       ...         ...           ...         ...
164159  429.234316         0         NaN      ase_spec    10073240
164160  429.237688  14065500         NaN  instructions     2995440
164161  429.237688         0         NaN      vfp_spec     2995440
164162  429.237688  14952732         NaN     inst_spec     2995440
164163  429.237688         0         NaN      ase_spec     2995440

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
164159       100.0         NaN         NaN
164160       100.0         NaN         NaN
164161       100.0         NaN         NaN
164162       100.0         NaN         NaN
164163       100.0         NaN         NaN

[164164 rows x 8 columns]
          time     value       counter
4         0.02  31686500  instructions
8         0.04  29027489  instructions
12        0.05  41766441  instructions
16        0.06  52682135  instructions
20        0.07  29151649  instructions
...        ...       ...           ...
164144  429.20  10436180  instructions
164148  429.21  19347746  instructions
164152  429.22  17756670  instructions
164156  429.23  31909813  instructions
164160  429.24  14065500  instructions

[41040 rows x 3 columns]
instructions
          time instructions
4         0.02     31686500
8         0.04     29027489
12        0.05     41766441
16        0.06     52682135
20        0.07     29151649
...        ...          ...
164144  429.20     10436180
164148  429.21     19347746
164152  429.22     17756670
164156  429.23     31909813
164160  429.24     14065500

[41040 rows x 2 columns]
df3
          time vfp_spec
1         0.01      263
5         0.02     3846
9         0.04     1121
13        0.05      540
17        0.06      330
...        ...      ...
164145  429.20      181
164149  429.21      130
164153  429.22        0
164157  429.23        0
164161  429.24        0

[41041 rows x 2 columns]
df4
          time inst_spec
2         0.01  22891287
6         0.02  39735510
10        0.04  36315235
14        0.05  49407926
18        0.06  60594642
...        ...       ...
164146  429.20  11513571
164150  429.21  21560107
164154  429.22  19646088
164158  429.23  36690959
164162  429.24  14952732

[41041 rows x 2 columns]
df5
          time ase_spec
3         0.01    16462
7         0.02    38225
11        0.04    19189
15        0.05    30448
19        0.06    30510
...        ...      ...
164147  429.20     1121
164151  429.21     2769
164155  429.22      761
164159  429.23        0
164163  429.24        0

[41041 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     31686500     3846
1        0.04     29027489     1121
2        0.05     41766441      540
3        0.06     52682135      330
4        0.07     29151649      848
...       ...          ...      ...
41035  429.20     10436180      181
41036  429.21     19347746      130
41037  429.22     17756670        0
41038  429.23     31909813        0
41039  429.24     14065500        0

[41040 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  22891287    16462
1        0.02  39735510    38225
2        0.04  36315235    19189
3        0.05  49407926    30448
4        0.06  60594642    30510
...       ...       ...      ...
41036  429.20  11513571     1121
41037  429.21  21560107     2769
41038  429.22  19646088      761
41039  429.23  36690959        0
41040  429.24  14952732        0

[41041 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.014461  18451909         NaN      instructions    15339680
1         0.014461  16664537         NaN     stall_backend    15339680
2         0.014461  22242598         NaN    stall_frontend    15339680
3         0.014461    264499         NaN  ll_cache_miss_rd    15339680
4         0.024868  30233908         NaN      instructions     9883400
...            ...       ...         ...               ...         ...
164475  429.652065    750072         NaN  ll_cache_miss_rd    10059280
164476  429.658515  29709018         NaN      instructions     6067280
164477  429.658515   8435897         NaN     stall_backend     6067280
164478  429.658515    734512         NaN    stall_frontend     6067280
164479  429.658515    148790         NaN  ll_cache_miss_rd     6067280

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
164475       100.0         NaN         NaN
164476       100.0         NaN         NaN
164477       100.0         NaN         NaN
164478       100.0         NaN         NaN
164479       100.0         NaN         NaN

[164480 rows x 8 columns]
          time     value       counter
4         0.02  30233908  instructions
8         0.04  29579409  instructions
12        0.05  39836219  instructions
16        0.06  53440110  instructions
20        0.07  29659278  instructions
...        ...       ...           ...
164460  429.62     14961  instructions
164464  429.63  21239737  instructions
164468  429.64  22568129  instructions
164472  429.65  19810885  instructions
164476  429.66  29709018  instructions

[41119 rows x 3 columns]
instructions
          time instructions
4         0.02     30233908
8         0.04     29579409
12        0.05     39836219
16        0.06     53440110
20        0.07     29659278
...        ...          ...
164460  429.62        14961
164464  429.63     21239737
164468  429.64     22568129
164472  429.65     19810885
164476  429.66     29709018

[41119 rows x 2 columns]
df3
          time stall_backend
1         0.01      16664537
5         0.02       5362576
9         0.04       5486648
13        0.05       5103732
17        0.06       4387245
...        ...           ...
164461  429.62         18825
164465  429.63      24875433
164469  429.64      21114689
164473  429.65      21398526
164477  429.66       8435897

[41120 rows x 2 columns]
df4
          time stall_frontend
2         0.01       22242598
6         0.02       12295472
10        0.04       12980471
14        0.05       10402792
18        0.06        7534724
...        ...            ...
164462  429.62          36639
164466  429.63        5519589
164470  429.64        1746964
164474  429.65        1207856
164478  429.66         734512

[41120 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           264499
7         0.02           143659
11        0.04           163042
15        0.05           138244
19        0.06            77590
...        ...              ...
164463  429.62             1339
164467  429.63           162394
164471  429.64           254265
164475  429.65           750072
164479  429.66           148790

[41120 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     30233908       5362576
1        0.04     29579409       5486648
2        0.05     39836219       5103732
3        0.06     53440110       4387245
4        0.07     29659278       5620129
...       ...          ...           ...
41114  429.62        14961         18825
41115  429.63     21239737      24875433
41116  429.64     22568129      21114689
41117  429.65     19810885      21398526
41118  429.66     29709018       8435897

[41119 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01       22242598           264499
1        0.02       12295472           143659
2        0.04       12980471           163042
3        0.05       10402792           138244
4        0.06        7534724            77590
...       ...            ...              ...
41115  429.62          36639             1339
41116  429.63        5519589           162394
41117  429.64        1746964           254265
41118  429.65        1207856           750072
41119  429.66         734512           148790

[41120 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010108   8858855         NaN   instructions     8915800
1         0.010108   2781452         NaN     mem_access     8915800
2         0.010108   1707480         NaN  mem_access_rd     8915800
3         0.010108   1073972         NaN  mem_access_wr     8915800
4         0.024639  32187230         NaN   instructions    13881160
...            ...       ...         ...            ...         ...
164039  427.944159   1241730         NaN  mem_access_wr    10068400
164040  427.953448  39028467         NaN   instructions     8813120
164041  427.953448  10519018         NaN     mem_access     8813120
164042  427.953448   6906314         NaN  mem_access_rd     8813120
164043  427.953448   3612704         NaN  mem_access_wr     8813120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
164039       100.0         NaN         NaN
164040       100.0         NaN         NaN
164041       100.0         NaN         NaN
164042       100.0         NaN         NaN
164043       100.0         NaN         NaN

[164044 rows x 8 columns]
          time          value       counter
4         0.02       32187230  instructions
8         0.03       29104894  instructions
12        0.05       33336097  instructions
16        0.06       54168364  instructions
20        0.07       33905733  instructions
...        ...            ...           ...
164024  427.91  <not counted>  instructions
164028  427.92       16316202  instructions
164032  427.93       22048822  instructions
164036  427.94       14058133  instructions
164040  427.95       39028467  instructions

[41010 rows x 3 columns]
instructions
          time   instructions
4         0.02       32187230
8         0.03       29104894
12        0.05       33336097
16        0.06       54168364
20        0.07       33905733
...        ...            ...
164024  427.91  <not counted>
164028  427.92       16316202
164032  427.93       22048822
164036  427.94       14058133
164040  427.95       39028467

[41010 rows x 2 columns]
df3
          time     mem_access
1         0.01        2781452
5         0.02       11746805
9         0.03       11259935
13        0.05       12746371
17        0.06       16054621
...        ...            ...
164025  427.91  <not counted>
164029  427.92        5515075
164033  427.93        7671495
164037  427.94        4056739
164041  427.95       10519018

[41011 rows x 2 columns]
df4
          time  mem_access_rd
2         0.01        1707480
6         0.02        7411567
10        0.03        7110014
14        0.05        8147278
18        0.06       11439167
...        ...            ...
164026  427.91  <not counted>
164030  427.92        3380954
164034  427.93        5051297
164038  427.94        2815009
164042  427.95        6906314

[41011 rows x 2 columns]
df5
          time  mem_access_wr
3         0.01        1073972
7         0.02        4335238
11        0.03        4149921
15        0.05        4599093
19        0.06        4615454
...        ...            ...
164027  427.91  <not counted>
164031  427.92        2134121
164035  427.93        2620198
164039  427.94        1241730
164043  427.95        3612704

[41011 rows x 2 columns]
df6
         time   instructions     mem_access
0        0.02       32187230       11746805
1        0.03       29104894       11259935
2        0.05       33336097       12746371
3        0.06       54168364       16054621
4        0.07       33905733       11686902
...       ...            ...            ...
41005  427.91  <not counted>  <not counted>
41006  427.92       16316202        5515075
41007  427.93       22048822        7671495
41008  427.94       14058133        4056739
41009  427.95       39028467       10519018

[41010 rows x 3 columns]
df7
         time  mem_access_rd  mem_access_wr
0        0.01        1707480        1073972
1        0.02        7411567        4335238
2        0.03        7110014        4149921
3        0.05        8147278        4599093
4        0.06       11439167        4615454
...       ...            ...            ...
41006  427.91  <not counted>  <not counted>
41007  427.92        3380954        2134121
41008  427.93        5051297        2620198
41009  427.94        2815009        1241730
41010  427.95        6906314        3612704

[41011 rows x 3 columns]
merged_df
         time instructions cpu-cycles   br_pred br_mis_pred l1d_cache_rd  \
0        0.06     33525321   30155951   7842067      284314     10632377
1        0.08     34950981   30172571   7919732      279421      8643415
2        0.09     31441330   30056490   7198888      294326      8262822
3        0.10     32833921   30132842   7444778      299907      8295059
4        0.12     43198279   30144407   9962842      343936     11719537
...       ...          ...        ...       ...         ...          ...
27519  427.87     47774839   30152206  10597001      111590     18191938
27520  427.89     16406193   30172316   4294791       89416     17559036
27521  427.90     16693261   30113887   3695356       12797     18271929
27522  427.93     24824547   37767963   5568471       14497     14520024
27523  427.94     29119750   30134114   7651216      104727     13103705

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ... l2d_tlb_wr  \
0          4525121  15157498  12798649           763413  ...      13231
1          4846390  13489805  13894809           753444  ...      16640
2          4650527  12913349  13402605           734797  ...      15686
3          4704255  12999314  13565195           692562  ...      15534
4          6559458  18278995  19107189           251864  ...      13831
...            ...       ...       ...              ...  ...        ...
27519      9488563  27680501  18036745           135642  ...      24765
27520      9191965  26751001   8197862           139945  ...      24877
27521      9523514  27795443   9923089           235138  ...      27621
27522      7428408  21948432  16035503           151322  ...      31150
27523      7499153  20602858  19480511           322258  ...      27461

      vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0          330  60594642    30510       4387245        7534724
1         1246  41242165    20482       5496576       11031089
2         1630  41530681    24485       5437166       11451468
3         2736  40246328    25332       5368664       12102385
4         4311  60196265   124737       5484606        6135680
...        ...       ...      ...           ...            ...
27519     5854  70412060    10563       2772028        5363135
27520     5858  70557475    10707       2775292        5474668
27521     5801  70505237    10867       2795195        5455999
27522     5701  69424272    10475       2787403        5291493
27523     5751  70667500    10637       2856799        5433852

      ll_cache_miss_rd     mem_access  mem_access_rd  mem_access_wr
0                77590       16054621       11439167        4615454
1               137233       13158944        8406005        4752939
2               145392       12735254        8175075        4560179
3               146257       12196781        7781123        4415658
4               210381       17634391       11316344        6318047
...                ...            ...            ...            ...
27519            12537  <not counted>  <not counted>  <not counted>
27520            13421  <not counted>  <not counted>  <not counted>
27521            13306  <not counted>  <not counted>  <not counted>
27522            10701        7671495        5051297        2620198
27523            19075        4056739        2815009        1241730

[27524 rows x 32 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011657  12817024         NaN  instructions    12544600
1         0.011657  37398159         NaN    cpu-cycles    12544600
2         0.011657   2379163         NaN       br_pred    12544600
3         0.011657     93891         NaN   br_mis_pred    12544600
4         0.022244  24957832         NaN  instructions     9911880
...            ...       ...         ...           ...         ...
130483  343.485152    124950         NaN   br_mis_pred    10065320
130484  343.492082  30722473         NaN  instructions     6521440
130485  343.492082  19529594         NaN    cpu-cycles     6521440
130486  343.492082   4485470         NaN       br_pred     6521440
130487  343.492082     16519         NaN   br_mis_pred     6521440

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.34  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.84  insn per cycle
...            ...         ...             ...
130483       100.0         NaN             NaN
130484       100.0        1.57  insn per cycle
130485       100.0         NaN             NaN
130486       100.0         NaN             NaN
130487       100.0         NaN             NaN

[130488 rows x 8 columns]
          time     value       counter
4         0.02  24957832  instructions
8         0.03  29239431  instructions
12        0.04  32930207  instructions
16        0.05  53182632  instructions
20        0.06  36111957  instructions
...        ...       ...           ...
130468  343.45   6499636  instructions
130472  343.46  14127733  instructions
130476  343.47  22689191  instructions
130480  343.49  18896733  instructions
130484  343.49  30722473  instructions

[32621 rows x 3 columns]
instructions
          time instructions
4         0.02     24957832
8         0.03     29239431
12        0.04     32930207
16        0.05     53182632
20        0.06     36111957
...        ...          ...
130468  343.45      6499636
130472  343.46     14127733
130476  343.47     22689191
130480  343.49     18896733
130484  343.49     30722473

[32621 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   37398159
5         0.02   29647197
9         0.03   29889893
13        0.04   30157436
17        0.05   30156387
...        ...        ...
130469  343.45    7193593
130473  343.46   30198525
130477  343.47   29952657
130481  343.49   30161318
130485  343.49   19529594

[32622 rows x 2 columns]
df4
          time   br_pred
2         0.01   2379163
6         0.02   5522334
10        0.03   6597072
14        0.04   7526477
18        0.05  13308455
...        ...       ...
130470  343.45   1056141
130474  343.46   3082650
130478  343.47   5241181
130482  343.49   5275001
130486  343.49   4485470

[32622 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       93891
7         0.02      224784
11        0.03      275394
15        0.04      267527
19        0.05      228001
...        ...         ...
130471  343.45        5428
130475  343.46       60640
130479  343.47       41974
130483  343.49      124950
130487  343.49       16519

[32622 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     24957832   29647197
1        0.03     29239431   29889893
2        0.04     32930207   30157436
3        0.05     53182632   30156387
4        0.06     36111957   30166024
...       ...          ...        ...
32618  343.47     22689191   29952657
32619  343.49     18896733   30161318
32620  343.49     18896733   19529594
32621  343.49     30722473   30161318
32622  343.49     30722473   19529594

[32623 rows x 3 columns]
df7
         time   br_pred br_mis_pred
0        0.01   2379163       93891
1        0.02   5522334      224784
2        0.03   6597072      275394
3        0.04   7526477      267527
4        0.05  13308455      228001
...       ...       ...         ...
32619  343.47   5241181       41974
32620  343.49   5275001      124950
32621  343.49   5275001       16519
32622  343.49   4485470      124950
32623  343.49   4485470       16519

[32624 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.015060  18766639         NaN  instructions    15945280
1         0.015060   3738573         NaN  l1d_cache_rd    15945280
2         0.015060   2297250         NaN  l1d_cache_wr    15945280
3         0.015060   6035823         NaN     l1d_cache    15945280
4         0.025548  29429818         NaN  instructions     9848320
...            ...       ...         ...           ...         ...
130723  343.969848   7956433         NaN     l1d_cache    10065080
130724  343.974075  15359832         NaN  instructions     3724440
130725  343.974075   2806704         NaN  l1d_cache_rd     3724440
130726  343.974075   1682608         NaN  l1d_cache_wr     3724440
130727  343.974075   4489312         NaN     l1d_cache     3724440

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
130723       100.0         NaN         NaN
130724       100.0         NaN         NaN
130725       100.0         NaN         NaN
130726       100.0         NaN         NaN
130727       100.0         NaN         NaN

[130728 rows x 8 columns]
          time     value       counter
4         0.03  29429818  instructions
8         0.04  29608080  instructions
12        0.05  37920766  instructions
16        0.06  53794347  instructions
20        0.07  28692274  instructions
...        ...       ...           ...
130708  343.94  10693281  instructions
130712  343.95  19603362  instructions
130716  343.96  17155545  instructions
130720  343.97  30777331  instructions
130724  343.97  15359832  instructions

[32681 rows x 3 columns]
instructions
          time instructions
4         0.03     29429818
8         0.04     29608080
12        0.05     37920766
16        0.06     53794347
20        0.07     28692274
...        ...          ...
130708  343.94     10693281
130712  343.95     19603362
130716  343.96     17155545
130720  343.97     30777331
130724  343.97     15359832

[32681 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.02      3738573
5         0.03      7094925
9         0.04      7271942
13        0.05      8964968
17        0.06     11239607
...        ...          ...
130709  343.94      2145522
130713  343.95      4480018
130717  343.96      3710959
130721  343.97      5488621
130725  343.97      2806704

[32682 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.02      2297250
6         0.03      4111452
10        0.04      4183978
14        0.05      4789409
18        0.06      4394567
...        ...          ...
130710  343.94      1297290
130714  343.95      2519410
130718  343.96      1953344
130722  343.97      2467812
130726  343.97      1682608

[32682 rows x 2 columns]
df5
          time l1d_cache
3         0.02   6035823
7         0.03  11206377
11        0.04  11455920
15        0.05  13754377
19        0.06  15634174
...        ...       ...
130711  343.94   3442812
130715  343.95   6999428
130719  343.96   5664303
130723  343.97   7956433

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]

          time          value       counter
4         0.02       22307954  instructions
8         0.03       27950692  instructions
12        0.04       32220073  instructions
16        0.05       48537630  instructions
20        0.06       48320123  instructions
...        ...            ...           ...
131788  346.80  <not counted>  instructions
131792  346.81       14741921  instructions
131796  346.82       25476620  instructions
131800  346.83       13779823  instructions
131804  346.84       39682479  instructions

[32951 rows x 3 columns]
instructions
          time   instructions
4         0.02       22307954
8         0.03       27950692
12        0.04       32220073
16        0.05       48537630
20        0.06       48320123
...        ...            ...
131788  346.80  <not counted>
131792  346.81       14741921
131796  346.82       25476620
131800  346.83       13779823
131804  346.84       39682479

[32951 rows x 2 columns]
df3
          time      l1i_cache
1         0.01        3765441
5         0.02        8631471
9         0.03       11384808
13        0.04       12635055
17        0.05       16989464
...        ...            ...
131789  346.80  <not counted>
131793  346.81        5020779
131797  346.82        7986485
131801  346.83        5248082
131805  346.84       11638850

[32952 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           252159
6         0.02           443489
10        0.03           674456
14        0.04           612460
18        0.05           578184
...        ...              ...
131790  346.80    <not counted>
131794  346.81           108144
131798  346.82           197087
131802  346.83            23512
131806  346.84            10497

[32952 rows x 2 columns]
df5
          time  remote_access
3         0.01          94126
7         0.02          53956
11        0.03          36822
15        0.04          40784
19        0.05          15663
...        ...            ...
131791  346.80  <not counted>
131795  346.81          20635
131799  346.82           6754
131803  346.83           4075
131807  346.84           6831

[32952 rows x 2 columns]
df6
         time   instructions      l1i_cache
0        0.02       22307954        8631471
1        0.03       27950692       11384808
2        0.04       32220073       12635055
3        0.05       48537630       16989464
4        0.06       48320123       17823346
...       ...            ...            ...
32946  346.80  <not counted>  <not counted>
32947  346.81       14741921        5020779
32948  346.82       25476620        7986485
32949  346.83       13779823        5248082
32950  346.84       39682479       11638850

[32951 rows x 3 columns]
df7
         time l1i_cache_refill  remote_access
0        0.01           252159          94126
1        0.02           443489          53956
2        0.03           674456          36822
3        0.04           612460          40784
4        0.05           578184          15663
...       ...              ...            ...
32947  346.80    <not counted>  <not counted>
32948  346.81           108144          20635
32949  346.82           197087           6754
32950  346.83            23512           4075
32951  346.84            10497           6831

[32952 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011646  12922877         NaN  instructions    12624400
1         0.011646    473075         NaN  l2d_cache_rd    12624400
2         0.011646    168077         NaN  l2d_cache_wr    12624400
3         0.011646    641152         NaN     l2d_cache    12624400
4         0.022116  25261184         NaN  instructions     9891800
...            ...       ...         ...           ...         ...
131403  345.919133    790481         NaN     l2d_cache    10065880
131404  345.929554  39686442         NaN  instructions     9944760
131405  345.929554    510528         NaN  l2d_cache_rd     9944760
131406  345.929554    484102         NaN  l2d_cache_wr     9944760
131407  345.929554    994630         NaN     l2d_cache     9944760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
131403       100.0         NaN         NaN
131404       100.0         NaN         NaN
131405       100.0         NaN         NaN
131406       100.0         NaN         NaN
131407       100.0         NaN         NaN

[131408 rows x 8 columns]
          time          value       counter
4         0.02       25261184  instructions
8         0.03       28756230  instructions
12        0.04       32263076  instructions
16        0.05       51777302  instructions
20        0.06       37484152  instructions
...        ...            ...           ...
131388  345.89  <not counted>  instructions
131392  345.90       15303752  instructions
131396  345.91       23820372  instructions
131400  345.92       14445328  instructions
131404  345.93       39686442  instructions

[32851 rows x 3 columns]
instructions
          time   instructions
4         0.02       25261184
8         0.03       28756230
12        0.04       32263076
16        0.05       51777302
20        0.06       37484152
...        ...            ...
131388  345.89  <not counted>
131392  345.90       15303752
131396  345.91       23820372
131400  345.92       14445328
131404  345.93       39686442

[32851 rows x 2 columns]
df3
          time   l2d_cache_rd
1         0.01         473075
5         0.02         683317
9         0.03         871887
13        0.04         800615
17        0.05         888055
...        ...            ...
131389  345.89  <not counted>
131393  345.90         266858
131397  345.91         433597
131401  345.92         423582
131405  345.93         510528

[32852 rows x 2 columns]
df4
          time   l2d_cache_wr
2         0.01         168077
6         0.02         171590
10        0.03         181758
14        0.04         211074
18        0.05         351428
...        ...            ...
131390  345.89  <not counted>
131394  345.90         138242
131398  345.91         219685
131402  345.92         366899
131406  345.93         484102

[32852 rows x 2 columns]
df5
          time      l2d_cache
3         0.01         641152
7         0.02         854907
11        0.03        1053645
15        0.04        1011689
19        0.05        1239483
...        ...            ...
131391  345.89  <not counted>
131395  345.90         405100
131399  345.91         653282
131403  345.92         790481
131407  345.93         994630

[32852 rows x 2 columns]
df6
         time   instructions   l2d_cache_rd
0        0.02       25261184         683317
1        0.03       28756230         871887
2        0.04       32263076         800615
3        0.05       51777302         888055
4        0.06       37484152         893426
...       ...            ...            ...
32846  345.89  <not counted>  <not counted>
32847  345.90       15303752         266858
32848  345.91       23820372         433597
32849  345.92       14445328         423582
32850  345.93       39686442         510528

[32851 rows x 3 columns]
df7
         time   l2d_cache_wr      l2d_cache
0        0.01         168077         641152
1        0.02         171590         854907
2        0.03         181758        1053645
3        0.04         211074        1011689
4        0.05         351428        1239483
...       ...            ...            ...
32847  345.89  <not counted>  <not counted>
32848  345.90         138242         405100
32849  345.91         219685         653282
32850  345.92         366899         790481
32851  345.93         484102         994630

[32852 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.015125  18219167         NaN  instructions    15858600
1         0.015125   8314361         NaN       l1d_tlb    15858600
2         0.015125   5698732         NaN    l1d_tlb_rd    15858600
3         0.015125   2615629         NaN    l1d_tlb_wr    15858600
4         0.025607  29145459         NaN  instructions     9813480
...            ...       ...         ...           ...         ...
130987  344.919733   2574202         NaN    l1d_tlb_wr    10062560
130988  344.923436  13117440         NaN  instructions     3309120
130989  344.923436   6425151         NaN       l1d_tlb     3309120
130990  344.923436   4988702         NaN    l1d_tlb_rd     3309120
130991  344.923436   1436449         NaN    l1d_tlb_wr     3309120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
130987       100.0         NaN         NaN
130988       100.0         NaN         NaN
130989       100.0         NaN         NaN
130990       100.0         NaN         NaN
130991       100.0         NaN         NaN

[130992 rows x 8 columns]
          time     value       counter
4         0.03  29145459  instructions
8         0.04  30109382  instructions
12        0.05  35624744  instructions
16        0.06  53128602  instructions
20        0.07  29437301  instructions
...        ...       ...           ...
130972  344.89  10691975  instructions
130976  344.90  21872575  instructions
130980  344.91  15560700  instructions
130984  344.92  32110667  instructions
130988  344.92  13117440  instructions

[32747 rows x 3 columns]
instructions
          time instructions
4         0.03     29145459
8         0.04     30109382
12        0.05     35624744
16        0.06     53128602
20        0.07     29437301
...        ...          ...
130972  344.89     10691975
130976  344.90     21872575
130980  344.91     15560700
130984  344.92     32110667
130988  344.92     13117440

[32747 rows x 2 columns]
df3
          time   l1d_tlb
1         0.02   8314361
5         0.03  12457771
9         0.04  13010622
13        0.05  14544139
17        0.06  16872937
...        ...       ...
130973  344.89   4076383
130977  344.90   8489067
130981  344.91   5901251
130985  344.92  11221850
130989  344.92   6425151

[32748 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.02    5698732
6         0.03    8062754
10        0.04    8409925
14        0.05    9572045
18        0.06   12170966
...        ...        ...
130974  344.89    2717131
130978  344.90    5594268
130982  344.91    4023877
130986  344.92    8647648
130990  344.92    4988702

[32748 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.02    2615629
7         0.03    4395017
11        0.04    4600697
15        0.05    4972094
19        0.06    4701971
...        ...        ...
130975  344.89    1359252
130979  344.90    2894799
130983  344.91    1877374
130987  344.92    2574202
130991  344.92    1436449

[32748 rows x 2 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

df6
         time instructions   l1d_tlb
0        0.03     29145459  12457771
1        0.04     30109382  13010622
2        0.05     35624744  14544139
3        0.06     53128602  16872937
4        0.07     29437301  12090499
...       ...          ...       ...
32744  344.91     15560700   5901251
32745  344.92     32110667  11221850
32746  344.92     32110667   6425151
32747  344.92     13117440  11221850
32748  344.92     13117440   6425151

[32749 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.02    5698732    2615629
1        0.03    8062754    4395017
2        0.04    8409925    4600697
3        0.05    9572045    4972094
4        0.06   12170966    4701971
...       ...        ...        ...
32745  344.91    4023877    1877374
32746  344.92    8647648    2574202
32747  344.92    8647648    1436449
32748  344.92    4988702    2574202
32749  344.92    4988702    1436449

[32750 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011678  13075488         NaN  instructions    12591600
1         0.011678     20853         NaN     dtlb_walk    12591600
2         0.011678      1870         NaN     itlb_walk    12591600
3         0.011678   4309296         NaN       l1i_tlb    12591600
4         0.022137  25133324         NaN  instructions     9889600
...            ...       ...         ...           ...         ...
130911  344.772843   7007281         NaN       l1i_tlb    10100320
130912  344.779570  25785891         NaN  instructions     6330240
130913  344.779570      1192         NaN     dtlb_walk     6330240
130914  344.779570         6         NaN     itlb_walk     6330240
130915  344.779570   5223587         NaN       l1i_tlb     6330240

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
130911       100.0         NaN         NaN
130912       100.0         NaN         NaN
130913       100.0         NaN         NaN
130914       100.0         NaN         NaN
130915       100.0         NaN         NaN

[130916 rows x 8 columns]
          time     value       counter
4         0.02  25133324  instructions
8         0.03  28597659  instructions
12        0.04  32024964  instructions
16        0.05  50597887  instructions
20        0.06  38193427  instructions
...        ...       ...           ...
130896  344.74   6789018  instructions
130900  344.75  15081275  instructions
130904  344.76  21093150  instructions
130908  344.77  23188852  instructions
130912  344.78  25785891  instructions

[32728 rows x 3 columns]
instructions
          time instructions
4         0.02     25133324
8         0.03     28597659
12        0.04     32024964
16        0.05     50597887
20        0.06     38193427
...        ...          ...
130896  344.74      6789018
130900  344.75     15081275
130904  344.76     21093150
130908  344.77     23188852
130912  344.78     25785891

[32728 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     20853
5         0.02      6088
9         0.03      3620
13        0.04      4120
17        0.05      2499
...        ...       ...
130897  344.74      1842
130901  344.75     16864
130905  344.76     21411
130909  344.77     41163
130913  344.78      1192

[32729 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1870
6         0.02      1029
10        0.03       860
14        0.04       888
18        0.05       339
...        ...       ...
130898  344.74       124
130902  344.75      1691
130906  344.76       630
130910  344.77       322
130914  344.78         6

[32729 rows x 2 columns]
df5
          time   l1i_tlb
3         0.01   4309296
7         0.02   8445343
11        0.03   9683230
15        0.04  10439594
19        0.05  13459630
...        ...       ...
130899  344.74   1511235
130903  344.75   4694632
130907  344.76   5606336
130911  344.77   7007281
130915  344.78   5223587

[32729 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     25133324      6088
1        0.03     28597659      3620
2        0.04     32024964      4120
3        0.05     50597887      2499
4        0.06     38193427      3909
...       ...          ...       ...
32723  344.74      6789018      1842
32724  344.75     15081275     16864
32725  344.76     21093150     21411
32726  344.77     23188852     41163
32727  344.78     25785891      1192

[32728 rows x 3 columns]
df7
         time itlb_walk   l1i_tlb
0        0.01      1870   4309296
1        0.02      1029   8445343
2        0.03       860   9683230
3        0.04       888  10439594
4        0.05       339  13459630
...       ...       ...       ...
32724  344.74       124   1511235
32725  344.75      1691   4694632
32726  344.76       630   5606336
32727  344.77       322   7007281
32728  344.78         6   5223587

[32729 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011403  12576363         NaN  instructions    12345920
1         0.011403     80542         NaN       l2d_tlb    12345920
2         0.011403     66767         NaN    l2d_tlb_rd    12345920
3         0.011403     13775         NaN    l2d_tlb_wr    12345920
4         0.021874  24311702         NaN  instructions     9602800
...            ...       ...         ...           ...         ...
132311  348.287313      5370         NaN    l2d_tlb_wr    10067840
132312  348.287682     76270         NaN  instructions       57320
132313  348.287682       185         NaN       l2d_tlb       57320
132314  348.287682       166         NaN    l2d_tlb_rd       57320
132315  348.287682        19         NaN    l2d_tlb_wr       57320

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
132311       100.0         NaN         NaN
132312       100.0         NaN         NaN
132313       100.0         NaN         NaN
132314       100.0         NaN         NaN
132315       100.0         NaN         NaN

[132316 rows x 8 columns]
          time     value       counter
4         0.02  24311702  instructions
8         0.03  28248307  instructions
12        0.04  32542172  instructions
16        0.05  50701573  instructions
20        0.06  38658948  instructions
...        ...       ...           ...
132296  348.26  15204491  instructions
132300  348.27  21833236  instructions
132304  348.28  16538340  instructions
132308  348.29  39774147  instructions
132312  348.29     76270  instructions

[33078 rows x 3 columns]
instructions

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

          time instructions
4         0.02     24311702
8         0.03     28248307
12        0.04     32542172
16        0.05     50701573
20        0.06     38658948
...        ...          ...
132296  348.26     15204491
132300  348.27     21833236
132304  348.28     16538340
132308  348.29     39774147
132312  348.29        76270

[33078 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   80542
5         0.02  199089
9         0.03  272263
13        0.04  275787
17        0.05  409483
...        ...     ...
132297  348.26  115748
132301  348.27  212248
132305  348.28  141832
132309  348.29   38899
132313  348.29     185

[33079 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      66767
6         0.02     188102
10        0.03     259390
14        0.04     263031
18        0.05     395381
...        ...        ...
132298  348.26     104922
132302  348.27     196673
132306  348.28     133460
132310  348.29      33529
132314  348.29        166

[33079 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      13775
7         0.02      10987
11        0.03      12873
15        0.04      12756
19        0.05      14102
...        ...        ...
132299  348.26      10826
132303  348.27      15575
132307  348.28       8372
132311  348.29       5370
132315  348.29         19

[33079 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     24311702  199089
1        0.03     28248307  272263
2        0.04     32542172  275787
3        0.05     50701573  409483
4        0.06     38658948  343022
...       ...          ...     ...
33075  348.28     16538340  141832
33076  348.29     39774147   38899
33077  348.29     39774147     185
33078  348.29        76270   38899
33079  348.29        76270     185

[33080 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      66767      13775
1        0.02     188102      10987
2        0.03     259390      12873
3        0.04     263031      12756
4        0.05     395381      14102
...       ...        ...        ...
33076  348.28     133460       8372
33077  348.29      33529       5370
33078  348.29      33529         19
33079  348.29        166       5370
33080  348.29        166         19

[33081 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014651  17827870         NaN  instructions    15527720
1         0.014651       237         NaN      vfp_spec    15527720
2         0.014651  21483696         NaN     inst_spec    15527720
3         0.014651     15872         NaN      ase_spec    15527720
4         0.025139  29660780         NaN  instructions     9932720
...            ...       ...         ...           ...         ...
130687  344.044929       122         NaN      ase_spec     9799320
130688  344.054141  35673473         NaN  instructions     8779120
130689  344.054141         0         NaN      vfp_spec     8779120
130690  344.054141  37683873         NaN     inst_spec     8779120
130691  344.054141         0         NaN      ase_spec     8779120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
130687       100.0         NaN         NaN
130688       100.0         NaN         NaN
130689       100.0         NaN         NaN
130690       100.0         NaN         NaN
130691       100.0         NaN         NaN

[130692 rows x 8 columns]
          time     value       counter
4         0.03  29660780  instructions
8         0.04  28925958  instructions
12        0.05  34739837  instructions
16        0.06  53179668  instructions
20        0.07  30749185  instructions
...        ...       ...           ...
130672  344.01     17309  instructions
130676  344.02  14819390  instructions
130680  344.03  26856608  instructions
130684  344.04  15966168  instructions
130688  344.05  35673473  instructions

[32672 rows x 3 columns]
instructions
          time instructions
4         0.03     29660780
8         0.04     28925958
12        0.05     34739837
16        0.06     53179668
20        0.07     30749185
...        ...          ...
130672  344.01        17309
130676  344.02     14819390
130680  344.03     26856608
130684  344.04     15966168
130688  344.05     35673473

[32672 rows x 2 columns]
df3
          time vfp_spec
1         0.01      237
5         0.03     3800
9         0.04     1113
13        0.05      508
17        0.06      355
...        ...      ...
130673  344.01        9
130677  344.02      254
130681  344.03        0
130685  344.04        0
130689  344.05        0

[32673 rows x 2 columns]
df4
          time inst_spec
2         0.01  21483696
6         0.03  37311127
10        0.04  36167574
14        0.05  42130583
18        0.06  60853374
...        ...       ...
130674  344.01     31031
130678  344.02  16730570
130682  344.03  29129935
130686  344.04  20288080
130690  344.05  37683873

[32673 rows x 2 columns]
df5
          time ase_spec
3         0.01    15872
7         0.03    35975
11        0.04    19825
15        0.05    26114
19        0.06    30948
...        ...      ...
130675  344.01        0
130679  344.02     1476
130683  344.03     3098
130687  344.04      122
130691  344.05        0

[32673 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.03     29660780     3800
1        0.04     28925958     1113
2        0.05     34739837      508
3        0.06     53179668      355
4        0.07     30749185      714
...       ...          ...      ...
32667  344.01        17309        9
32668  344.02     14819390      254
32669  344.03     26856608        0
32670  344.04     15966168        0
32671  344.05     35673473        0

[32672 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  21483696    15872
1        0.03  37311127    35975
2        0.04  36167574    19825
3        0.05  42130583    26114
4        0.06  60853374    30948
...       ...       ...      ...
32668  344.01     31031        0
32669  344.02  16730570     1476
32670  344.03  29129935     3098
32671  344.04  20288080      122
32672  344.05  37683873        0

[32673 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010124  10049849         NaN      instructions    10595320
1         0.010124  11124707         NaN     stall_backend    10595320
2         0.010124  16685637         NaN    stall_frontend    10595320
3         0.010124    186334         NaN  ll_cache_miss_rd    10595320
4         0.020649  22485387         NaN      instructions     9995160
...            ...       ...         ...               ...         ...
130607  343.721926    749207         NaN  ll_cache_miss_rd    10063360
130608  343.729292  29415625         NaN      instructions     6956880
130609  343.729292  11108749         NaN     stall_backend     6956880
130610  343.729292    778558         NaN    stall_frontend     6956880
130611  343.729292    167812         NaN  ll_cache_miss_rd     6956880

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
130607       100.0         NaN         NaN
130608       100.0         NaN         NaN
130609       100.0         NaN         NaN
130610       100.0         NaN         NaN
130611       100.0         NaN         NaN

[130612 rows x 8 columns]
          time     value       counter
4         0.02  22485387  instructions
8         0.03  27227765  instructions
12        0.04  42220878  instructions
16        0.05  52614292  instructions
20        0.06  35003567  instructions
...        ...       ...           ...
130592  343.69   6357875  instructions
130596  343.70  14368530  instructions
130600  343.71  23007946  instructions
130604  343.72  20468989  instructions
130608  343.73  29415625  instructions

[32652 rows x 3 columns]
instructions
          time instructions
4         0.02     22485387
8         0.03     27227765
12        0.04     42220878
16        0.05     52614292
20        0.06     35003567
...        ...          ...
130592  343.69      6357875
130596  343.70     14368530
130600  343.71     23007946
130604  343.72     20468989
130608  343.73     29415625

[32652 rows x 2 columns]
df3
          time stall_backend
1         0.01      11124707
5         0.02       7873241
9         0.03       5255889
13        0.04       6969802
17        0.05       4517152
...        ...           ...
130593  343.69       4549685
130597  343.70      19460064
130601  343.71      20627664
130605  343.72      21127057
130609  343.73      11108749

[32653 rows x 2 columns]
df4
          time stall_frontend
2         0.01       16685637
6         0.02       13482799
10        0.03       13544283
14        0.04       16364641
18        0.05        7715079
...        ...            ...
130594  343.69         594542
130598  343.70        5307058
130602  343.71        2117162
130606  343.72        1292437
130610  343.73         778558

[32653 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           186334
7         0.02           157841
11        0.03           156463
15        0.04           215593
19        0.05            79466
...        ...              ...
130595  343.69            52472
130599  343.70            99594
130603  343.71           262706
130607  343.72           749207
130611  343.73           167812

[32653 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     22485387       7873241
1        0.03     27227765       5255889
2        0.04     42220878       6969802
3        0.05     52614292       4517152
4        0.06     35003567       5211712
...       ...          ...           ...
32647  343.69      6357875       4549685
32648  343.70     14368530      19460064
32649  343.71     23007946      20627664
32650  343.72     20468989      21127057
32651  343.73     29415625      11108749

[32652 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01       16685637           186334
1        0.02       13482799           157841
2        0.03       13544283           156463
3        0.04       16364641           215593
4        0.05        7715079            79466
...       ...            ...              ...
32648  343.69         594542            52472
32649  343.70        5307058            99594
32650  343.71        2117162           262706
32651  343.72        1292437           749207
32652  343.73         778558           167812

[32653 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.012975  14121030         NaN   instructions    13860000
1         0.012975   4393681         NaN     mem_access    13860000
2         0.012975   2722237         NaN  mem_access_rd    13860000
3         0.012975   1671444         NaN  mem_access_wr    13860000
4         0.023444  28703683         NaN   instructions    10061720
...            ...       ...         ...            ...         ...
130815  344.269711   3540737         NaN  mem_access_wr    10064160
130816  344.270702   1320195         NaN   instructions      534920
130817  344.270702    388044         NaN     mem_access      534920
130818  344.270702    241223         NaN  mem_access_rd      534920
130819  344.270702    146821         NaN  mem_access_wr      534920

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
130815       100.0         NaN         NaN
130816       100.0         NaN         NaN
130817       100.0         NaN         NaN
130818       100.0         NaN         NaN
130819       100.0         NaN         NaN

[130820 rows x 8 columns]
          time     value       counter
4         0.02  28703683  instructions
8         0.03  27214006  instructions
12        0.04  32337115  instructions
16        0.05  52785287  instructions
20        0.07  44239478  instructions
...        ...       ...           ...
130800  344.24  15025629  instructions
130804  344.25  23888311  instructions
130808  344.26  14157273  instructions
130812  344.27  38947233  instructions
130816  344.27   1320195  instructions

[32704 rows x 3 columns]
instructions
          time instructions
4         0.02     28703683
8         0.03     27214006
12        0.04     32337115
16        0.05     52785287
20        0.07     44239478
...        ...          ...
130800  344.24     15025629
130804  344.25     23888311
130808  344.26     14157273
130812  344.27     38947233
130816  344.27      1320195

[32704 rows x 2 columns]
df3
          time mem_access
1         0.01    4393681
5         0.02   10808771
9         0.03   10525161
13        0.04   12376083
17        0.05   15750676
...        ...        ...
130801  344.24    5065298
130805  344.25    8391585
130809  344.26    4172636
130813  344.27   10403381
130817  344.27     388044

[32705 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       2722237
6         0.02       6832785
10        0.03       6631870
14        0.04       7902160
18        0.05      11180411
...        ...           ...
130802  344.24       3116369
130806  344.25       5464529
130810  344.26       2870652
130814  344.27       6862644
130818  344.27        241223

[32705 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1671444
7         0.02       3975986
11        0.03       3893291
15        0.04       4473923
19        0.05       4570265
...        ...           ...
130803  344.24       1948929
130807  344.25       2927056
130811  344.26       1301984
130815  344.27       3540737
130819  344.27        146821

[32705 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     28703683   10808771
1        0.03     27214006   10525161
2        0.04     32337115   12376083
3        0.05     52785287   15750676
4        0.07     44239478   15426198
...       ...          ...        ...
32701  344.26     14157273    4172636
32702  344.27     38947233   10403381
32703  344.27     38947233     388044
32704  344.27      1320195   10403381
32705  344.27      1320195     388044

[32706 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       2722237       1671444
1        0.02       6832785       3975986
2        0.03       6631870       3893291
3        0.04       7902160       4473923
4        0.05      11180411       4570265
...       ...           ...           ...
32702  344.26       2870652       1301984
32703  344.27       6862644       3540737
32704  344.27       6862644        146821
32705  344.27        241223       3540737
32706  344.27        241223        146821

[32707 rows x 3 columns]
merged_df
         time instructions cpu-cycles   br_pred br_mis_pred   l1d_cache_rd  \
0        0.03     29239431   29889893   6597072      275394        7094925
1        0.04     32930207   30157436   7526477      267527        7271942
2        0.05     53182632   30156387  13308455      228001        8964968
3        0.08     34472369   30148133   7774283      257881        8602474
4        0.10     31362317   30177186   7171387      279149        7318305
...       ...          ...        ...       ...         ...            ...
20589  343.49     30722473   30161318   4485470       16519  <not counted>
20590  343.49     30722473   19529594   5275001      124950  <not counted>
20591  343.49     30722473   19529594   5275001       16519  <not counted>
20592  343.49     30722473   19529594   4485470      124950  <not counted>
20593  343.49     30722473   19529594   4485470       16519  <not counted>

        l1d_cache_wr      l1d_cache l1i_cache l1i_cache_refill  ...  \
0            4111452       11206377  11384808           674456  ...
1            4183978       11455920  12635055           612460  ...
2            4789409       13754377  16989464           578184  ...
3            4864938       13467412  13188521           708450  ...
4            4186988       11505293  11993006           660673  ...
...              ...            ...       ...              ...  ...
20589  <not counted>  <not counted>  19584033           381456  ...
20590  <not counted>  <not counted>  19584033           381456  ...
20591  <not counted>  <not counted>  19584033           381456  ...
20592  <not counted>  <not counted>  19584033           381456  ...
20593  <not counted>  <not counted>  19584033           381456  ...

      l2d_tlb_wr vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0          12873     3800  37311127    35975       5255889       13544283
1          12756     1113  36167574    19825       6969802       16364641
2          14102      508  42130583    26114       4517152        7715079
3          14923      956  42478505    21937       5226378       12847781
4          16198     2714  38234119    25357       5564501       12900066
...          ...      ...       ...      ...           ...            ...
20589      10821        0  17776680        0      18492713        3738128
20590      10821        0  17776680        0      18492713        3738128
20591      10821        0  17776680        0      18492713        3738128
20592      10821        0  17776680        0      18492713        3738128
20593      10821        0  17776680        0      18492713        3738128

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               156463   10525161       6631870       3893291
1               215593   12376083       7902160       4473923
2                79466   15750676      11180411       4570265
3               153797   13229358       8453104       4776254
4               158418   11457803       7286030       4171773
...                ...        ...           ...           ...
20589           130602   23823788      15215753       8608035
20590           130602   23823788      15215753       8608035
20591           130602   23823788      15215753       8608035
20592           130602   23823788      15215753       8608035
20593           130602   23823788      15215753       8608035

[20594 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.015037  18565943         NaN  instructions    15908520
1         0.015037  47485799         NaN    cpu-cycles    15908520
2         0.015037   3532817         NaN       br_pred    15908520
3         0.015037    142801         NaN   br_mis_pred    15908520
4         0.025569  30281091         NaN  instructions    10009560
...            ...       ...         ...           ...         ...
146223  386.054595     80773         NaN   br_mis_pred    10078640
146224  386.065127  39296105         NaN  instructions     9968120
146225  386.065127  29873118         NaN    cpu-cycles     9968120
146226  386.065127   6942413         NaN       br_pred     9968120
146227  386.065127     65110         NaN   br_mis_pred     9968120

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.39  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        1.01  insn per cycle
...            ...         ...             ...
146223       100.0         NaN             NaN
146224       100.0        1.32  insn per cycle
146225       100.0         NaN             NaN
146226       100.0         NaN             NaN
146227       100.0         NaN             NaN

[146228 rows x 8 columns]
          time     value       counter
4         0.03  30281091  instructions
8         0.04  28894729  instructions
12        0.05  36458277  instructions
16        0.06  52599442  instructions
20        0.07  29664887  instructions
...        ...       ...           ...
146208  386.02     78763  instructions
146212  386.03  15545378  instructions
146216  386.04  24158016  instructions
146220  386.05  14107804  instructions
146224  386.07  39296105  instructions

[36556 rows x 3 columns]
instructions
          time instructions
4         0.03     30281091
8         0.04     28894729
12        0.05     36458277
16        0.06     52599442
20        0.07     29664887
...        ...          ...
146208  386.02        78763
146212  386.03     15545378
146216  386.04     24158016
146220  386.05     14107804
146224  386.07     39296105

[36556 rows x 2 columns]
df3
          time cpu-cycles
1         0.02   47485799
5         0.03   29956325
9         0.04   29644759
13        0.05   30154715
17        0.06   29836985
...        ...        ...
146209  386.02     189127
146213  386.03   30601877
146217  386.04   29867520
146221  386.05   30199593
146225  386.07   29873118

[36557 rows x 2 columns]
df4
          time   br_pred
2         0.02   3532817
6         0.03   6893267
10        0.04   6533753
14        0.05   8474982
18        0.06  13408089
...        ...       ...
146210  386.02     17946
146214  386.03   3018537
146218  386.04   5394321
146222  386.05   3768631
146226  386.07   6942413

[36557 rows x 2 columns]
df5
          time br_mis_pred
3         0.02      142801
7         0.03      285567
11        0.04      258745
15        0.05      243014
19        0.06      236042
...        ...         ...
146211  386.02        1184
146215  386.03       51705
146219  386.04       44569
146223  386.05       80773
146227  386.07       65110

[36557 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.03     30281091   29956325
1        0.04     28894729   29644759
2        0.05     36458277   30154715
3        0.06     52599442   29836985
4        0.07     29664887   30177628
...       ...          ...        ...
36551  386.02        78763     189127
36552  386.03     15545378   30601877
36553  386.04     24158016   29867520
36554  386.05     14107804   30199593
36555  386.07     39296105   29873118

[36556 rows x 3 columns]
df7
         time   br_pred br_mis_pred
0        0.02   3532817      142801
1        0.03   6893267      285567
2        0.04   6533753      258745
3        0.05   8474982      243014
4        0.06  13408089      236042
...       ...       ...         ...
36552  386.02     17946        1184
36553  386.03   3018537       51705
36554  386.04   5394321       44569
36555  386.05   3768631       80773
36556  386.07   6942413       65110

[36557 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011472  12617405         NaN  instructions    12452880
1         0.011472   2441689         NaN  l1d_cache_rd    12452880
2         0.011472   1506650         NaN  l1d_cache_wr    12452880
3         0.011472   3948339         NaN     l1d_cache    12452880
4         0.021951  24863157         NaN  instructions     9865600
...            ...       ...         ...           ...         ...
146459  386.350127   8062850         NaN     l1d_cache    10065920
146460  386.353776  12765884         NaN  instructions     3177960
146461  386.353776   2303461         NaN  l1d_cache_rd     3177960
146462  386.353776   1360990         NaN  l1d_cache_wr     3177960
146463  386.353776   3664451         NaN     l1d_cache     3177960

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
146459       100.0         NaN         NaN
146460       100.0         NaN         NaN
146461       100.0         NaN         NaN
146462       100.0         NaN         NaN
146463       100.0         NaN         NaN

[146464 rows x 8 columns]
          time     value       counter
4         0.02  24863157  instructions
8         0.03  29064103  instructions
12        0.04  31916475  instructions
16        0.05  50618773  instructions
20        0.06  38460776  instructions
...        ...       ...           ...
146444  386.32  10810006  instructions
146448  386.33  20805080  instructions
146452  386.34  16701560  instructions
146456  386.35  31714449  instructions
146460  386.35  12765884  instructions

[36615 rows x 3 columns]
instructions
          time instructions
4         0.02     24863157
8         0.03     29064103
12        0.04     31916475
16        0.05     50618773
20        0.06     38460776
...        ...          ...
146444  386.32     10810006
146448  386.33     20805080
146452  386.34     16701560
146456  386.35     31714449
146460  386.35     12765884

[36615 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      2441689
5         0.02      5793323
9         0.03      7104923
13        0.04      7792450
17        0.05     10897483
...        ...          ...
146445  386.32      2152296
146449  386.33      4771675
146453  386.34      3618250
146457  386.35      5581635
146461  386.35      2303461

[36616 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1506650
6         0.02      3390210
10        0.03      4148580
14        0.04      4430320
18        0.05      4607436
...        ...          ...
146446  386.32      1318176
146450  386.33      2638748
146454  386.34      1939135
146458  386.35      2481215
146462  386.35      1360990

[36616 rows x 2 columns]
df5
          time l1d_cache
3         0.01   3948339
7         0.02   9183533
11        0.03  11253503
15        0.04  12222770
19        0.05  15504919
...        ...       ...
146447  386.32   3470472
146451  386.33   7410423
146455  386.34   5557385
146459  386.35   8062850
146463  386.35   3664451

[36616 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     24863157      5793323
1        0.03     29064103      7104923
2        0.04     31916475      7792450
3        0.05     50618773     10897483
4        0.06     38460776      8588922
...       ...          ...          ...
36612  386.34     16701560      3618250
36613  386.35     31714449      5581635
36614  386.35     31714449      2303461
36615  386.35     12765884      5581635
36616  386.35     12765884      2303461

[36617 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      1506650   3948339
1        0.02      3390210   9183533
2        0.03      4148580  11253503
3        0.04      4430320  12222770
4        0.05      4607436  15504919
...       ...          ...       ...
36613  386.34      1939135   5557385
36614  386.35      2481215   8062850
36615  386.35      2481215   3664451
36616  386.35      1360990   8062850
36617  386.35      1360990   3664451

[36618 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.014766  18587403         NaN      instructions    15680320
1         0.014766   6851837         NaN         l1i_cache    15680320
2         0.014766    429288         NaN  l1i_cache_refill    15680320
3         0.014766    122787         NaN     remote_access    15680320
4         0.025361  29667964         NaN      instructions     9917800
...            ...       ...         ...               ...         ...
146631  387.093034      4042         NaN     remote_access    10070600
146632  387.102141  34452538         NaN      instructions     8542480
146633  387.102141   9505080         NaN         l1i_cache     8542480
146634  387.102141     11946         NaN  l1i_cache_refill     8542480
146635  387.102141      7405         NaN     remote_access     8542480

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
146631       100.0         NaN         NaN
146632       100.0         NaN         NaN
146633       100.0         NaN         NaN
146634       100.0         NaN         NaN
146635       100.0         NaN         NaN

[146636 rows x 8 columns]
          time     value       counter
4         0.03  29667964  instructions
8         0.04  29524178  instructions
12        0.05  38646860  instructions
16        0.06  53342232  instructions
20        0.07  28337291  instructions
...        ...       ...           ...
146616  387.06     20189  instructions
146620  387.07  15190389  instructions
146624  387.08  26096202  instructions
146628  387.09  16813903  instructions
146632  387.10  34452538  instructions

[36658 rows x 3 columns]
instructions
          time instructions
4         0.03     29667964
8         0.04     29524178
12        0.05     38646860
16        0.06     53342232
20        0.07     28337291
...        ...          ...
146616  387.06        20189
146620  387.07     15190389
146624  387.08     26096202
146628  387.09     16813903
146632  387.10     34452538

[36658 rows x 2 columns]
df3
          time l1i_cache
1         0.01   6851837
5         0.03  11957233
9         0.04  11867721
13        0.05  14466968
17        0.06  18159438
...        ...       ...
146617  387.06     11359
146621  387.07   5186836
146625  387.08   8225679
146629  387.09   6358999
146633  387.10   9505080

[36659 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           429288
6         0.03           633815
10        0.04           684453
14        0.05           574225
18        0.06           527677
...        ...              ...
146618  387.06             1991
146622  387.07           111106
146626  387.08           189389
146630  387.09            12180
146634  387.10            11946

[36659 rows x 2 columns]
df5
          time remote_access
3         0.01        122787
7         0.03         34771
11        0.04         37128
15        0.05         27197
19        0.06         11649
...        ...           ...
146619  387.06           325
146623  387.07         20656
146627  387.08          6365
146631  387.09          4042
146635  387.10          7405

[36659 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.03     29667964  11957233
1        0.04     29524178  11867721
2        0.05     38646860  14466968
3        0.06     53342232  18159438
4        0.07     28337291  11433474
...       ...          ...       ...
36653  387.06        20189     11359
36654  387.07     15190389   5186836
36655  387.08     26096202   8225679
36656  387.09     16813903   6358999
36657  387.10     34452538   9505080

[36658 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           429288        122787
1        0.03           633815         34771
2        0.04           684453         37128
3        0.05           574225         27197
4        0.06           527677         11649
...       ...              ...           ...
36654  387.06             1991           325
36655  387.07           111106         20656
36656  387.08           189389          6365
36657  387.09            12180          4042
36658  387.10            11946          7405

[36659 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011426  12714081         NaN  instructions    12363360
1         0.011426    471205         NaN  l2d_cache_rd    12363360
2         0.011426    165806         NaN  l2d_cache_wr    12363360
3         0.011426    637011         NaN     l2d_cache    12363360
4         0.021877  25818311         NaN  instructions     9921520
...            ...       ...         ...           ...         ...
147775  390.231987   1188841         NaN     l2d_cache    10121800
147776  390.235206  10893967         NaN  instructions     2828600
147777  390.235206     62673         NaN  l2d_cache_rd     2828600
147778  390.235206     56507         NaN  l2d_cache_wr     2828600
147779  390.235206    119180         NaN     l2d_cache     2828600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
147775       100.0         NaN         NaN
147776       100.0         NaN         NaN
147777       100.0         NaN         NaN
147778       100.0         NaN         NaN
147779       100.0         NaN         NaN

[147780 rows x 8 columns]
          time     value       counter
4         0.02  25818311  instructions
8         0.03  28326113  instructions
12        0.04  32506120  instructions
16        0.05  52077976  instructions
20        0.06  36588059  instructions
...        ...       ...           ...
147760  390.20   6538596  instructions
147764  390.21  26672269  instructions
147768  390.22  15420654  instructions
147772  390.23  33421905  instructions
147776  390.24  10893967  instructions

[36944 rows x 3 columns]
instructions
          time instructions
4         0.02     25818311
8         0.03     28326113
12        0.04     32506120
16        0.05     52077976
20        0.06     36588059
...        ...          ...
147760  390.20      6538596
147764  390.21     26672269
147768  390.22     15420654
147772  390.23     33421905
147776  390.24     10893967

[36944 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       471205
5         0.02       703259
9         0.03       859349
13        0.04       812002
17        0.05       859715
...        ...          ...
147761  390.20        76989
147765  390.21       507506
147769  390.22       369314
147773  390.23       615841
147777  390.24        62673

[36945 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       165806
6         0.02       177418
10        0.03       180489
14        0.04       215902
18        0.05       318328
...        ...          ...
147762  390.20        64114
147766  390.21       221968
147770  390.22       271879
147774  390.23       573000
147778  390.24        56507

[36945 rows x 2 columns]
df5
          time l2d_cache
3         0.01    637011
7         0.02    880677
11        0.03   1039838
15        0.04   1027904
19        0.05   1178043
...        ...       ...
147763  390.20    141103
147767  390.21    729474
147771  390.22    641193
147775  390.23   1188841
147779  390.24    119180

[36945 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     25818311       703259
1        0.03     28326113       859349
2        0.04     32506120       812002
3        0.05     52077976       859715
4        0.06     36588059       861439
...       ...          ...          ...
36939  390.20      6538596        76989
36940  390.21     26672269       507506
36941  390.22     15420654       369314
36942  390.23     33421905       615841
36943  390.24     10893967        62673

[36944 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       165806    637011
1        0.02       177418    880677
2        0.03       180489   1039838
3        0.04       215902   1027904
4        0.05       318328   1178043
...       ...          ...       ...
36940  390.20        64114    141103
36941  390.21       221968    729474
36942  390.22       271879    641193
36943  390.23       573000   1188841
36944  390.24        56507    119180

[36945 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010131  10613674         NaN  instructions    10770520
1         0.010131   4976897         NaN       l1d_tlb    10770520
2         0.010131   3442429         NaN    l1d_tlb_rd    10770520
3         0.010131   1534468         NaN    l1d_tlb_wr    10770520
4         0.020627  23014073         NaN  instructions     9986920
...            ...       ...         ...           ...         ...
146531  385.496372   3482712         NaN    l1d_tlb_wr    12453200
146532  385.497976   4567485         NaN  instructions     1253280
146533  385.497976   2035526         NaN       l1d_tlb     1253280
146534  385.497976   1542921         NaN    l1d_tlb_rd     1253280
146535  385.497976    492605         NaN    l1d_tlb_wr     1253280

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
146531       100.0         NaN         NaN
146532       100.0         NaN         NaN
146533       100.0         NaN         NaN
146534       100.0         NaN         NaN
146535       100.0         NaN         NaN

[146536 rows x 8 columns]
          time     value       counter
4         0.02  23014073  instructions
8         0.03  28122002  instructions
12        0.04  32170024  instructions
16        0.05  58236314  instructions
20        0.06  36291014  instructions
...        ...       ...           ...
146516  385.46  10610352  instructions
146520  385.47  20013171  instructions
146524  385.48  17603957  instructions
146528  385.50  40558201  instructions
146532  385.50   4567485  instructions

[36633 rows x 3 columns]
instructions
          time instructions
4         0.02     23014073
8         0.03     28122002
12        0.04     32170024
16        0.05     58236314
20        0.06     36291014
...        ...          ...
146516  385.46     10610352
146520  385.47     20013171
146524  385.48     17603957
146528  385.50     40558201
146532  385.50      4567485

[36633 rows x 2 columns]
df3
          time   l1d_tlb
1         0.01   4976897
5         0.02   9801963
9         0.03  12220383
13        0.04  13844099
17        0.05  19846163
...        ...       ...
146517  385.46   4156555
146521  385.47   7914391
146525  385.48   6660192
146529  385.50  14194567
146533  385.50   2035526

[36634 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    3442429
6         0.02    6430446
10        0.03    7891182
14        0.04    8979003
18        0.05   13919930
...        ...        ...
146518  385.46    2827235
146522  385.47    5209901
146526  385.48    4538331
146530  385.50   10711855
146534  385.50    1542921

[36634 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1534468
7         0.02    3371517
11        0.03    4329201
15        0.04    4865096
19        0.05    5926233
...        ...        ...
146519  385.46    1329320
146523  385.47    2704490
146527  385.48    2121861
146531  385.50    3482712
146535  385.50     492605

[36634 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.02     23014073   9801963
1        0.03     28122002  12220383
2        0.04     32170024  13844099
3        0.05     58236314  19846163
4        0.06     36291014  13466864
...       ...          ...       ...
36630  385.48     17603957   6660192
36631  385.50     40558201  14194567
36632  385.50     40558201   2035526
36633  385.50      4567485  14194567
36634  385.50      4567485   2035526

[36635 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    3442429    1534468
1        0.02    6430446    3371517
2        0.03    7891182    4329201
3        0.04    8979003    4865096
4        0.05   13919930    5926233
...       ...        ...        ...
36631  385.48    4538331    2121861
36632  385.50   10711855    3482712
36633  385.50   10711855     492605
36634  385.50    1542921    3482712
36635  385.50    1542921     492605

[36636 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.015253  19910930         NaN  instructions    15991760
1         0.015253     25085         NaN     dtlb_walk    15991760
2         0.015253      2521         NaN     itlb_walk    15991760
3         0.015253   6697155         NaN       l1i_tlb    15991760
4         0.025733  29360129         NaN  instructions     9812560
...            ...       ...         ...           ...         ...
146923  387.237001   7972416         NaN       l1i_tlb    10063600
146924  387.241012  14862095         NaN  instructions     3639360
146925  387.241012      1199         NaN     dtlb_walk     3639360
146926  387.241012         5         NaN     itlb_walk     3639360
146927  387.241012   2883038         NaN       l1i_tlb     3639360

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
146923       100.0         NaN         NaN
146924       100.0         NaN         NaN
146925       100.0         NaN         NaN
146926       100.0         NaN         NaN
146927       100.0         NaN         NaN

[146928 rows x 8 columns]
          time     value       counter
4         0.03  29360129  instructions
8         0.04  30539929  instructions
12        0.05  43014172  instructions
16        0.06  52003271  instructions
20        0.07  30244442  instructions
...        ...       ...           ...
146908  387.21  10145575  instructions
146912  387.22  21140788  instructions
146916  387.23  16266636  instructions
146920  387.24  30340981  instructions
146924  387.24  14862095  instructions

[36731 rows x 3 columns]
instructions
          time instructions
4         0.03     29360129
8         0.04     30539929
12        0.05     43014172
16        0.06     52003271
20        0.07     30244442
...        ...          ...
146908  387.21     10145575
146912  387.22     21140788
146916  387.23     16266636
146920  387.24     30340981
146924  387.24     14862095

[36731 rows x 2 columns]
df3
          time dtlb_walk
1         0.02     25085
5         0.03      4116
9         0.04      3996
13        0.05      3673
17        0.06      2401
...        ...       ...
146909  387.21      7826
146913  387.22     15537
146917  387.23     29997
146921  387.24     30589
146925  387.24      1199

[36732 rows x 2 columns]
df4
          time itlb_walk
2         0.02      2521
6         0.03      1076
10        0.04      1068
14        0.05       681
18        0.06       332
...        ...       ...
146910  387.21       781
146914  387.22      1220
146918  387.23       812
146922  387.24       311
146926  387.24         5

[36732 rows x 2 columns]
df5
          time   l1i_tlb
3         0.02   6697155
7         0.03   9905429
11        0.04  10261318
15        0.05  12586411
19        0.06  13664251
...        ...       ...
146911  387.21   2648189
146915  387.22   5780786
146919  387.23   4733401
146923  387.24   7972416
146927  387.24   2883038

[36732 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.03     29360129      4116
1        0.04     30539929      3996
2        0.05     43014172      3673
3        0.06     52003271      2401
4        0.07     30244442      5113
...       ...          ...       ...
36728  387.23     16266636     29997
36729  387.24     30340981     30589
36730  387.24     30340981      1199
36731  387.24     14862095     30589
36732  387.24     14862095      1199

[36733 rows x 3 columns]
df7
         time itlb_walk   l1i_tlb
0        0.02      2521   6697155
1        0.03      1076   9905429
2        0.04      1068  10261318
3        0.05       681  12586411
4        0.06       332  13664251
...       ...       ...       ...
36729  387.23       812   4733401
36730  387.24       311   7972416
36731  387.24       311   2883038
36732  387.24         5   7972416
36733  387.24         5   2883038

[36734 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011628  12850474         NaN  instructions    12569960
1         0.011628     81466         NaN       l2d_tlb    12569960
2         0.011628     67331         NaN    l2d_tlb_rd    12569960
3         0.011628     14135         NaN    l2d_tlb_wr    12569960
4         0.022086  25346449         NaN  instructions     9897880
...            ...       ...         ...           ...         ...
146139  385.766253      6535         NaN    l2d_tlb_wr    10066760
146140  385.770366  14872529         NaN  instructions     3645760
146141  385.770366     11137         NaN       l2d_tlb     3645760
146142  385.770366      7699         NaN    l2d_tlb_rd     3645760
146143  385.770366      3438         NaN    l2d_tlb_wr     3645760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
146139       100.0         NaN         NaN
146140       100.0         NaN         NaN
146141       100.0         NaN         NaN
146142       100.0         NaN         NaN
146143       100.0         NaN         NaN

[146144 rows x 8 columns]
          time     value       counter
4         0.02  25346449  instructions
8         0.03  29086309  instructions
12        0.04  32908715  instructions
16        0.05  52362938  instructions
20        0.06  36247721  instructions
...        ...       ...           ...
146124  385.74  10323190  instructions
146128  385.75  19275444  instructions
146132  385.76  18294773  instructions
146136  385.77  30357369  instructions
146140  385.77  14872529  instructions

[36535 rows x 3 columns]
instructions
          time instructions
4         0.02     25346449
8         0.03     29086309
12        0.04     32908715
16        0.05     52362938
20        0.06     36247721
...        ...          ...
146124  385.74     10323190
146128  385.75     19275444
146132  385.76     18294773
146136  385.77     30357369
146140  385.77     14872529

[36535 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   81466
5         0.02  210379
9         0.03  280221
13        0.04  284875
17        0.05  409187
...        ...     ...
146125  385.74   62553
146129  385.75  205335
146133  385.76  149211
146137  385.77   82395
146141  385.77   11137

[36536 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      67331
6         0.02     198658
10        0.03     266807
14        0.04     271677
18        0.05     394631
...        ...        ...
146126  385.74      56696
146130  385.75     189753
146134  385.76     138475
146138  385.77      75860
146142  385.77       7699

[36536 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      14135
7         0.02      11721
11        0.03      13414
15        0.04      13198
19        0.05      14556
...        ...        ...
146127  385.74       5857
146131  385.75      15582
146135  385.76      10736
146139  385.77       6535
146143  385.77       3438

[36536 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     25346449  210379
1        0.03     29086309  280221
2        0.04     32908715  284875
3        0.05     52362938  409187
4        0.06     36247721  316566
...       ...          ...     ...
36532  385.76     18294773  149211
36533  385.77     30357369   82395
36534  385.77     30357369   11137
36535  385.77     14872529   82395
36536  385.77     14872529   11137

[36537 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      67331      14135
1        0.02     198658      11721
2        0.03     266807      13414
3        0.04     271677      13198
4        0.05     394631      14556
...       ...        ...        ...
36533  385.76     138475      10736
36534  385.77      75860       6535
36535  385.77      75860       3438
36536  385.77       7699       6535
36537  385.77       7699       3438

[36538 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.015361  19318489         NaN  instructions    16223520
1         0.015361       308         NaN      vfp_spec    16223520
2         0.015361  23485408         NaN     inst_spec    16223520
3         0.015361     17490         NaN      ase_spec    16223520
4         0.025868  29320453         NaN  instructions     9813360
...            ...       ...         ...           ...         ...
147139  388.461919         3         NaN      ase_spec    10062880
147140  388.468849  27731604         NaN  instructions     6561400
147141  388.468849         0         NaN      vfp_spec     6561400
147142  388.468849  28231948         NaN     inst_spec     6561400
147143  388.468849         0         NaN      ase_spec     6561400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
147139       100.0         NaN         NaN
147140       100.0         NaN         NaN
147141       100.0         NaN         NaN
147142       100.0         NaN         NaN
147143       100.0         NaN         NaN

[147144 rows x 8 columns]
          time          value       counter
4         0.03       29320453  instructions
8         0.04       29167072  instructions
12        0.05       38452242  instructions
16        0.06       53280754  instructions
20        0.07       28124155  instructions
...        ...            ...           ...
147124  388.43  <not counted>  instructions
147128  388.44       21880883  instructions
147132  388.45       22613698  instructions
147136  388.46       20856406  instructions
147140  388.47       27731604  instructions

[36785 rows x 3 columns]
instructions
          time   instructions
4         0.03       29320453
8         0.04       29167072
12        0.05       38452242
16        0.06       53280754
20        0.07       28124155
...        ...            ...
147124  388.43  <not counted>
147128  388.44       21880883
147132  388.45       22613698
147136  388.46       20856406
147140  388.47       27731604

[36785 rows x 2 columns]
df3
          time       vfp_spec
1         0.02            308
5         0.03           3654
9         0.04           1107
13        0.05            544
17        0.06            317
...        ...            ...
147125  388.43  <not counted>
147129  388.44            249
147133  388.45              0
147137  388.46              0
147141  388.47              0

[36786 rows x 2 columns]
df4
          time      inst_spec
2         0.02       23485408
6         0.03       36867780
10        0.04       36440227
14        0.05       46062777
18        0.06       61041087
...        ...            ...
147126  388.43  <not counted>
147130  388.44       24581467
147134  388.45       24465195
147138  388.46       25614603
147142  388.47       28231948

[36786 rows x 2 columns]
df5
          time       ase_spec
3         0.02          17490
7         0.03          35398
11        0.04          20102
15        0.05          28392
19        0.06          30744
...        ...            ...
147127  388.43  <not counted>
147131  388.44           3516
147135  388.45           1208
147139  388.46              3
147143  388.47              0

[36786 rows x 2 columns]
df6
         time   instructions       vfp_spec
0        0.03       29320453           3654
1        0.04       29167072           1107
2        0.05       38452242            544
3        0.06       53280754            317
4        0.07       28124155            788
...       ...            ...            ...
36780  388.43  <not counted>  <not counted>
36781  388.44       21880883            249
36782  388.45       22613698              0
36783  388.46       20856406              0
36784  388.47       27731604              0

[36785 rows x 3 columns]
df7
         time      inst_spec       ase_spec
0        0.02       23485408          17490
1        0.03       36867780          35398
2        0.04       36440227          20102
3        0.05       46062777          28392
4        0.06       61041087          30744
...       ...            ...            ...
36781  388.43  <not counted>  <not counted>
36782  388.44       24581467           3516
36783  388.45       24465195           1208
36784  388.46       25614603              3
36785  388.47       28231948              0

[36786 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.015220  18454634         NaN      instructions    16112840
1         0.015220  17362919         NaN     stall_backend    16112840
2         0.015220  23874679         NaN    stall_frontend    16112840
3         0.015220    274742         NaN  ll_cache_miss_rd    16112840
4         0.025727  29237123         NaN      instructions     9837600
...            ...       ...         ...               ...         ...
147479  389.683126    548484         NaN  ll_cache_miss_rd    10067840
147480  389.683558     35299         NaN      instructions       32600
147481  389.683558     31078         NaN     stall_backend       32600
147482  389.683558     18603         NaN    stall_frontend       32600
147483  389.683558       261         NaN  ll_cache_miss_rd       32600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
147479       100.0         NaN         NaN
147480       100.0         NaN         NaN
147481       100.0         NaN         NaN
147482       100.0         NaN         NaN
147483       100.0         NaN         NaN

[147484 rows x 8 columns]
          time     value       counter
4         0.03  29237123  instructions
8         0.04  29499117  instructions
12        0.05  36458044  instructions
16        0.06  53163526  instructions
20        0.07  29447806  instructions
...        ...       ...           ...
147464  389.65  15254606  instructions
147468  389.66  23992722  instructions
147472  389.67  14288349  instructions
147476  389.68  39250509  instructions
147480  389.68     35299  instructions

[36870 rows x 3 columns]
instructions
          time instructions
4         0.03     29237123
8         0.04     29499117
12        0.05     36458044
16        0.06     53163526
20        0.07     29447806
...        ...          ...
147464  389.65     15254606
147468  389.66     23992722
147472  389.67     14288349
147476  389.68     39250509
147480  389.68        35299

[36870 rows x 2 columns]
df3
          time stall_backend
1         0.02      17362919
5         0.03       5334602
9         0.04       5270281
13        0.05       5277069
17        0.06       4406061
...        ...           ...
147465  389.65      19457293
147469  389.66      19548609
147473  389.67      23417256
147477  389.68      16373687
147481  389.68         31078

[36871 rows x 2 columns]
df4
          time stall_frontend
2         0.02       23874679
6         0.03       12585818
10        0.04       13076430
14        0.05       11244526
18        0.06        7687212
...        ...            ...
147466  389.65        4896691
147470  389.66        2704476
147474  389.67        1302757
147478  389.68        1396570
147482  389.68          18603

[36871 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.02           274742
7         0.03           143702
11        0.04           158283
15        0.05           147759
19        0.06            81468
...        ...              ...
147467  389.65           128156
147471  389.66           170153
147475  389.67           435580
147479  389.68           548484
147483  389.68              261

[36871 rows x 2 columns]
df6
         time instructions stall_backend
0        0.03     29237123       5334602
1        0.04     29499117       5270281
2        0.05     36458044       5277069
3        0.06     53163526       4406061
4        0.07     29447806       5636292
...       ...          ...           ...
36867  389.67     14288349      23417256
36868  389.68     39250509      16373687
36869  389.68     39250509         31078
36870  389.68        35299      16373687
36871  389.68        35299         31078

[36872 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.02       23874679           274742
1        0.03       12585818           143702
2        0.04       13076430           158283
3        0.05       11244526           147759
4        0.06        7687212            81468
...       ...            ...              ...
36868  389.67        1302757           435580
36869  389.68        1396570           548484
36870  389.68        1396570              261
36871  389.68          18603           548484
36872  389.68          18603              261

[36873 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.015325  18884240         NaN   instructions    16228960
1         0.015325   6078558         NaN     mem_access    16228960
2         0.015325   3755055         NaN  mem_access_rd    16228960
3         0.015325   2323503         NaN  mem_access_wr    16228960
4         0.025828  30133802         NaN   instructions     9977000
...            ...       ...         ...            ...         ...
146443  386.619941   1713048         NaN  mem_access_wr    10094200
146444  386.625909  23669446         NaN   instructions     5607920
146445  386.625909   6809667         NaN     mem_access     5607920
146446  386.625909   4290847         NaN  mem_access_rd     5607920
146447  386.625909   2518820         NaN  mem_access_wr     5607920

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
146443       100.0         NaN         NaN
146444       100.0         NaN         NaN
146445       100.0         NaN         NaN
146446       100.0         NaN         NaN
146447       100.0         NaN         NaN

[146448 rows x 8 columns]
          time     value       counter
4         0.03  30133802  instructions
8         0.04  28660249  instructions
12        0.05  37252260  instructions
16        0.06  52939917  instructions
20        0.07  28581007  instructions
...        ...       ...           ...
146428  386.59   6314844  instructions
146432  386.60  16733799  instructions
146436  386.61  20052466  instructions
146440  386.62  24088601  instructions
146444  386.63  23669446  instructions

[36611 rows x 3 columns]
instructions
          time instructions
4         0.03     30133802
8         0.04     28660249
12        0.05     37252260
16        0.06     52939917
20        0.07     28581007
...        ...          ...
146428  386.59      6314844
146432  386.60     16733799
146436  386.61     20052466
146440  386.62     24088601
146444  386.63     23669446

[36611 rows x 2 columns]
df3
          time mem_access
1         0.02    6078558
5         0.03   11505875
9         0.04   11083468
13        0.05   13547272
17        0.06   15407128
...        ...        ...
146429  386.59    1758664
146433  386.60    6197114
146437  386.61    6641786
146441  386.62    6032241
146445  386.63    6809667

[36612 rows x 2 columns]
df4
          time mem_access_rd
2         0.02       3755055
6         0.03       7288058
10        0.04       7032870
14        0.05       8818269
18        0.06      11073077
...        ...           ...
146430  386.59       1152846
146434  386.60       3797564
146438  386.61       4423998
146442  386.62       4319193
146446  386.63       4290847

[36612 rows x 2 columns]
df5
          time mem_access_wr
3         0.02       2323503
7         0.03       4217817
11        0.04       4050598
15        0.05       4729003
19        0.06       4334051
...        ...           ...
146431  386.59        605818
146435  386.60       2399550
146439  386.61       2217788
146443  386.62       1713048
146447  386.63       2518820

[36612 rows x 2 columns]
df6
         time instructions mem_access
0        0.03     30133802   11505875
1        0.04     28660249   11083468
2        0.05     37252260   13547272
3        0.06     52939917   15407128
4        0.07     28581007   10568041
...       ...          ...        ...
36606  386.59      6314844    1758664
36607  386.60     16733799    6197114
36608  386.61     20052466    6641786
36609  386.62     24088601    6032241
36610  386.63     23669446    6809667

[36611 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.02       3755055       2323503
1        0.03       7288058       4217817
2        0.04       7032870       4050598
3        0.05       8818269       4729003
4        0.06      11073077       4334051
...       ...           ...           ...
36607  386.59       1152846        605818
36608  386.60       3797564       2399550
36609  386.61       4423998       2217788
36610  386.62       4319193       1713048
36611  386.63       4290847       2518820

[36612 rows x 3 columns]
merged_df
         time instructions cpu-cycles   br_pred br_mis_pred l1d_cache_rd  \
0        0.03     30281091   29956325   6893267      285567      7104923
1        0.04     28894729   29644759   6533753      258745      7792450
2        0.05     36458277   30154715   8474982      243014     10897483
3        0.06     52599442   29836985  13408089      236042      8588922
4        0.07     29664887   30177628   6841063      269450      7622110
...       ...          ...        ...       ...         ...          ...
22583  385.43     56769006   30159738  12519221      120120     14069692
22584  385.44     51449984   30148673  11264464      129239     11913626
22585  385.45     65234784   30177317  14027148      153487     14938839
22586  385.46     58063291   33369763  12628789      173064     14328659
22587  385.47     46554071   30149729  10319573      112804     13905205

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ...     l2d_tlb_wr  \
0          4148580  11253503  11957233           633815  ...          13414
1          4430320  12222770  11867721           684453  ...          13198
2          4607436  15504919  14466968           574225  ...          14556
3          4061983  12650905  18159438           527677  ...          12883
4          4346782  11968892  11433474           664502  ...          15250
...            ...       ...       ...              ...  ...            ...
22583      8346253  22415945  12494735           683094  ...  <not counted>
22584      6822380  18736006  15588824           678907  ...  <not counted>
22585      8243901  23182740  16859694           545281  ...             78
22586      8257211  22585870  16068509           552959  ...  <not counted>
22587      7816257  21721462  17813781           502015  ...  <not counted>

      vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0         3654  36867780    35398       5334602       12585818
1         1107  36440227    20102       5270281       13076430
2          544  46062777    28392       5277069       11244526
3          317  61041087    30744       4406061        7687212
4          788  35425430    23961       5636292       13137257
...        ...       ...      ...           ...            ...
22583     2881  63998017    28654       6044471       12348190
22584      303  24654971    85870       6137408       12426540
22585     2952  73453985    24022       5674434       11836028
22586     1834  41079052    29164       5586170       11102314
22587      373  28911189   128831       5221373        9846256

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               143702   11505875       7288058       4217817
1               158283   11083468       7032870       4050598
2               147759   13547272       8818269       4729003
3                81468   15407128      11073077       4334051
4               157027   10568041       6802096       3765945
...                ...        ...           ...           ...
22583           149080   20136652      13090567       7046085
22584           162155   20677067      13346917       7330150
22585           144156   13610549       8723977       4886572
22586           132712   13278560       8513760       4764800
22587           101036   17735928      11327387       6408541

[22588 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011786  12793020         NaN  instructions    12624680
1         0.011786  37622284         NaN    cpu-cycles    12624680
2         0.011786   2360004         NaN       br_pred    12624680
3         0.011786     93044         NaN   br_mis_pred    12624680
4         0.022260  25903085         NaN  instructions     9988080
...            ...       ...         ...           ...         ...
185711  490.003177    123707         NaN   br_mis_pred    10058920
185712  490.010722  29726828         NaN  instructions     7148280
185713  490.010722  21414011         NaN    cpu-cycles     7148280
185714  490.010722   4302214         NaN       br_pred     7148280
185715  490.010722     11378         NaN   br_mis_pred     7148280

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.34  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.87  insn per cycle
...            ...         ...             ...
185711       100.0         NaN             NaN
185712       100.0        1.39  insn per cycle
185713       100.0         NaN             NaN
185714       100.0         NaN             NaN
185715       100.0         NaN             NaN

[185716 rows x 8 columns]
          time          value       counter
4         0.02       25903085  instructions
8         0.03       28413086  instructions
12        0.04       32250616  instructions
16        0.05       51826182  instructions
20        0.06       37142451  instructions
...        ...            ...           ...
185696  489.97  <not counted>  instructions
185700  489.98       21370045  instructions
185704  489.99       22363764  instructions
185708  490.00       19652389  instructions
185712  490.01       29726828  instructions

[46428 rows x 3 columns]
instructions
          time   instructions
4         0.02       25903085
8         0.03       28413086
12        0.04       32250616
16        0.05       51826182
20        0.06       37142451
...        ...            ...
185696  489.97  <not counted>
185700  489.98       21370045
185704  489.99       22363764
185708  490.00       19652389
185712  490.01       29726828

[46428 rows x 2 columns]
df3
          time     cpu-cycles
1         0.01       37622284
5         0.02       29918648
9         0.03       29503449
13        0.04       30163130
17        0.05       30163924
...        ...            ...
185697  489.97  <not counted>
185701  489.98       39315933
185705  489.99       29955238
185709  490.00       30138838
185713  490.01       21414011

[46429 rows x 2 columns]
df4
          time        br_pred
2         0.01        2360004
6         0.02        5740304
10        0.03        6396777
14        0.04        7368636
18        0.05       12960825
...        ...            ...
185698  489.97  <not counted>
185702  489.98        4305761
185706  489.99        5171985
185710  490.00        5372331
185714  490.01        4302214

[46429 rows x 2 columns]
df5
          time    br_mis_pred
3         0.01          93044
7         0.02         233669
11        0.03         264947
15        0.04         261270
19        0.05         229844
...        ...            ...
185699  489.97  <not counted>
185703  489.98          68016
185707  489.99          42097
185711  490.00         123707
185715  490.01          11378

[46429 rows x 2 columns]
df6
         time   instructions     cpu-cycles
0        0.02       25903085       29918648
1        0.03       28413086       29503449
2        0.04       32250616       30163130
3        0.05       51826182       30163924
4        0.06       37142451       30161609
...       ...            ...            ...
46423  489.97  <not counted>  <not counted>
46424  489.98       21370045       39315933
46425  489.99       22363764       29955238
46426  490.00       19652389       30138838
46427  490.01       29726828       21414011

[46428 rows x 3 columns]
df7
         time        br_pred    br_mis_pred
0        0.01        2360004          93044
1        0.02        5740304         233669
2        0.03        6396777         264947
3        0.04        7368636         261270
4        0.05       12960825         229844
...       ...            ...            ...
46424  489.97  <not counted>  <not counted>
46425  489.98        4305761          68016
46426  489.99        5171985          42097
46427  490.00        5372331         123707
46428  490.01        4302214          11378

[46429 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014974  18544119         NaN  instructions    15871440
1         0.014974   3687882         NaN  l1d_cache_rd    15871440
2         0.014974   2269873         NaN  l1d_cache_wr    15871440
3         0.014974   5957755         NaN     l1d_cache    15871440
4         0.025474  29208508         NaN  instructions     9880760
...            ...       ...         ...           ...         ...
186847  492.417918   9757956         NaN     l1d_cache    10136520
186848  492.419434   3672007         NaN  instructions     1139800
186849  492.419434    673604         NaN  l1d_cache_rd     1139800
186850  492.419434    406615         NaN  l1d_cache_wr     1139800
186851  492.419434   1080219         NaN     l1d_cache     1139800

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
186847       100.0         NaN         NaN
186848       100.0         NaN         NaN
186849       100.0         NaN         NaN
186850       100.0         NaN         NaN
186851       100.0         NaN         NaN

[186852 rows x 8 columns]
          time     value       counter
4         0.03  29208508  instructions
8         0.04  30003226  instructions
12        0.05  37314758  instructions
16        0.06  53491084  instructions
20        0.07  28602438  instructions
...        ...       ...           ...
186832  492.39  14998182  instructions
186836  492.40  23067933  instructions
186840  492.41  14486407  instructions
186844  492.42  36946852  instructions
186848  492.42   3672007  instructions

[46712 rows x 3 columns]
instructions
          time instructions
4         0.03     29208508
8         0.04     30003226
12        0.05     37314758
16        0.06     53491084
20        0.07     28602438
...        ...          ...
186832  492.39     14998182
186836  492.40     23067933
186840  492.41     14486407
186844  492.42     36946852
186848  492.42      3672007

[46712 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      3687882
5         0.03      7039323
9         0.04      7375477
13        0.05      8828780
17        0.06     11177391
...        ...          ...
186833  492.39      3110915
186837  492.40      5301435
186841  492.41      2952237
186845  492.42      6487166
186849  492.42       673604

[46713 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      2269873
6         0.03      4078799
10        0.04      4246173
14        0.05      4731424
18        0.06      4375341
...        ...          ...
186834  492.39      1952890
186838  492.40      2845685
186842  492.41      1344572
186846  492.42      3270790
186850  492.42       406615

[46713 rows x 2 columns]
df5
          time l1d_cache
3         0.01   5957755
7         0.03  11118122
11        0.04  11621650
15        0.05  13560204
19        0.06  15552732
...        ...       ...
186835  492.39   5063805
186839  492.40   8147120
186843  492.41   4296809
186847  492.42   9757956
186851  492.42   1080219

[46713 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.03     29208508      7039323
1        0.04     30003226      7375477
2        0.05     37314758      8828780
3        0.06     53491084     11177391
4        0.07     28602438      6831674
...       ...          ...          ...
46709  492.41     14486407      2952237
46710  492.42     36946852      6487166
46711  492.42     36946852       673604
46712  492.42      3672007      6487166
46713  492.42      3672007       673604

[46714 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      2269873   5957755
1        0.03      4078799  11118122
2        0.04      4246173  11621650
3        0.05      4731424  13560204
4        0.06      4375341  15552732
...       ...          ...       ...
46710  492.41      1344572   4296809
46711  492.42      3270790   9757956
46712  492.42      3270790   1080219
46713  492.42       406615   9757956
46714  492.42       406615   1080219

[46715 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.014707  18932455         NaN      instructions    15606360
1         0.014707   6971794         NaN         l1i_cache    15606360
2         0.014707    431553         NaN  l1i_cache_refill    15606360
3         0.014707    116982         NaN     remote_access    15606360
4         0.025117  30321365         NaN      instructions     9942040
...            ...       ...         ...               ...         ...
186019  490.584316      4554         NaN     remote_access    10058600
186020  490.591335  27819394         NaN      instructions     6674240
186021  490.591335   7533031         NaN         l1i_cache     6674240
186022  490.591335      5734         NaN  l1i_cache_refill     6674240
186023  490.591335      4984         NaN     remote_access     6674240

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
186019       100.0         NaN         NaN
186020       100.0         NaN         NaN
186021       100.0         NaN         NaN
186022       100.0         NaN         NaN
186023       100.0         NaN         NaN

[186024 rows x 8 columns]
          time          value       counter
4         0.03       30321365  instructions
8         0.04       30359360  instructions
12        0.05       41723450  instructions
16        0.06       52643555  instructions
20        0.07       29452087  instructions
...        ...            ...           ...
186004  490.55  <not counted>  instructions
186008  490.56       22171599  instructions
186012  490.57       22065837  instructions
186016  490.58       20789121  instructions
186020  490.59       27819394  instructions

[46505 rows x 3 columns]
instructions
          time   instructions
4         0.03       30321365
8         0.04       30359360
12        0.05       41723450
16        0.06       52643555
20        0.07       29452087
...        ...            ...
186004  490.55  <not counted>
186008  490.56       22171599
186012  490.57       22065837
186016  490.58       20789121
186020  490.59       27819394

[46505 rows x 2 columns]
df3
          time      l1i_cache
1         0.01        6971794
5         0.03       12256979
9         0.04       12174077
13        0.05       15318191
17        0.06       18030551
...        ...            ...
186005  490.55  <not counted>
186009  490.56        7555425
186013  490.57        6862505
186017  490.58        7461028
186021  490.59        7533031

[46506 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           431553
6         0.03           647315
10        0.04           701029
14        0.05           567624
18        0.06           535692
...        ...              ...
186006  490.55    <not counted>
186010  490.56           238651
186014  490.57            76862
186018  490.58            12514
186022  490.59             5734

[46506 rows x 2 columns]
df5
          time  remote_access
3         0.01         116982
7         0.03          32561
11        0.04          31289
15        0.05          22688
19        0.06          12583
...        ...            ...
186007  490.55  <not counted>
186011  490.56          23446
186015  490.57           4588
186019  490.58           4554
186023  490.59           4984

[46506 rows x 2 columns]
df6
         time   instructions      l1i_cache
0        0.03       30321365       12256979
1        0.04       30359360       12174077
2        0.05       41723450       15318191
3        0.06       52643555       18030551
4        0.07       29452087       11985849
...       ...            ...            ...
46500  490.55  <not counted>  <not counted>
46501  490.56       22171599        7555425
46502  490.57       22065837        6862505
46503  490.58       20789121        7461028
46504  490.59       27819394        7533031

[46505 rows x 3 columns]
df7
         time l1i_cache_refill  remote_access
0        0.01           431553         116982
1        0.03           647315          32561
2        0.04           701029          31289
3        0.05           567624          22688
4        0.06           535692          12583
...       ...              ...            ...
46501  490.55    <not counted>  <not counted>
46502  490.56           238651          23446
46503  490.57            76862           4588
46504  490.58            12514           4554
46505  490.59             5734           4984

[46506 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014608  17817077         NaN  instructions    15491040
1         0.014608    627104         NaN  l2d_cache_rd    15491040
2         0.014608    214828         NaN  l2d_cache_wr    15491040
3         0.014608    841932         NaN     l2d_cache    15491040
4         0.025103  30349264         NaN  instructions     9941880
...            ...       ...         ...           ...         ...
185287  487.198792   1263057         NaN     l2d_cache    10056120
185288  487.206236  29342482         NaN  instructions     7088240
185289  487.206236    135111         NaN  l2d_cache_rd     7088240
185290  487.206236    128596         NaN  l2d_cache_wr     7088240
185291  487.206236    263707         NaN     l2d_cache     7088240

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
185287       100.0         NaN         NaN
185288       100.0         NaN         NaN
185289       100.0         NaN         NaN
185290       100.0         NaN         NaN
185291       100.0         NaN         NaN

[185292 rows x 8 columns]
          time     value       counter
4         0.03  30349264  instructions
8         0.04  29481013  instructions
12        0.05  37862652  instructions
16        0.06  51268360  instructions
20        0.07  30383695  instructions
...        ...       ...           ...
185272  487.16     17341  instructions
185276  487.17  14978184  instructions
185280  487.19  29249664  instructions
185284  487.20  19763895  instructions
185288  487.21  29342482  instructions

[46322 rows x 3 columns]
instructions
          time instructions
4         0.03     30349264
8         0.04     29481013
12        0.05     37862652
16        0.06     51268360
20        0.07     30383695
...        ...          ...
185272  487.16        17341
185276  487.17     14978184
185280  487.19     29249664
185284  487.20     19763895
185288  487.21     29342482

[46322 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       627104
5         0.03       828968
9         0.04       865969
13        0.05       793884
17        0.06       903933
...        ...          ...
185273  487.16         2790
185277  487.17       253149
185281  487.19       569781
185285  487.20       663959
185289  487.21       135111

[46323 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       214828
6         0.03       188700
10        0.04       187933
14        0.05       232879
18        0.06       401162
...        ...          ...
185274  487.16          429
185278  487.17       131735
185282  487.19       326746
185286  487.20       599098
185290  487.21       128596

[46323 rows x 2 columns]
df5
          time l2d_cache
3         0.01    841932
7         0.03   1017668
11        0.04   1053902
15        0.05   1026763
19        0.06   1305095
...        ...       ...
185275  487.16      3219
185279  487.17    384884
185283  487.19    896527
185287  487.20   1263057
185291  487.21    263707

[46323 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.03     30349264       828968
1        0.04     29481013       865969
2        0.05     37862652       793884
3        0.06     51268360       903933
4        0.07     30383695       884997
...       ...          ...          ...
46317  487.16        17341         2790
46318  487.17     14978184       253149
46319  487.19     29249664       569781
46320  487.20     19763895       663959
46321  487.21     29342482       135111

[46322 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       214828    841932
1        0.03       188700   1017668
2        0.04       187933   1053902
3        0.05       232879   1026763
4        0.06       401162   1305095
...       ...          ...       ...
46318  487.16          429      3219
46319  487.17       131735    384884
46320  487.19       326746    896527
46321  487.20       599098   1263057
46322  487.21       128596    263707

[46323 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014667  17728620         NaN  instructions    15595960
1         0.014667   8122697         NaN       l1d_tlb    15595960
2         0.014667   5569964         NaN    l1d_tlb_rd    15595960
3         0.014667   2552733         NaN    l1d_tlb_wr    15595960
4         0.025165  29973514         NaN  instructions     9901880
...            ...       ...         ...           ...         ...
185471  488.965699   1197041         NaN    l1d_tlb_wr    10076320
185472  488.973723  31438836         NaN  instructions     7593600
185473  488.973723  11837091         NaN       l1d_tlb     7593600
185474  488.973723   8479290         NaN    l1d_tlb_rd     7593600
185475  488.973723   3357801         NaN    l1d_tlb_wr     7593600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
185471       100.0         NaN         NaN
185472       100.0         NaN         NaN
185473       100.0         NaN         NaN
185474       100.0         NaN         NaN
185475       100.0         NaN         NaN

[185476 rows x 8 columns]
          time     value       counter
4         0.03  29973514  instructions
8         0.04  27684959  instructions
12        0.05  35825748  instructions
16        0.06  53820067  instructions
20        0.07  30804038  instructions
...        ...       ...           ...
185456  488.93   6803293  instructions
185460  488.95  14097234  instructions
185464  488.96  22861858  instructions
185468  488.97  18184151  instructions
185472  488.97  31438836  instructions

[46368 rows x 3 columns]
instructions
          time instructions
4         0.03     29973514
8         0.04     27684959
12        0.05     35825748
16        0.06     53820067
20        0.07     30804038
...        ...          ...
185456  488.93      6803293
185460  488.95     14097234
185464  488.96     22861858
185468  488.97     18184151
185472  488.97     31438836

[46368 rows x 2 columns]
df3
          time   l1d_tlb
1         0.01   8122697
5         0.03  12808860
9         0.04  12004731
13        0.05  14825129
17        0.06  17134486
...        ...       ...
185457  488.93   2392974
185461  488.95   5962565
185465  488.96   8415358
185469  488.97   5327494
185473  488.97  11837091

[46369 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    5569964
6         0.03    8274886
10        0.04    7775190
14        0.05    9724255
18        0.06   12332604
...        ...        ...
185458  488.93    1716183
185462  488.95    3814683
185466  488.96    5654535
185470  488.97    4130453
185474  488.97    8479290

[46369 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    2552733
7         0.03    4533974
11        0.04    4229541
15        0.05    5100874
19        0.06    4801882
...        ...        ...
185459  488.93     676791
185463  488.95    2147882
185467  488.96    2760823
185471  488.97    1197041
185475  488.97    3357801

[46369 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.03     29973514  12808860
1        0.04     27684959  12004731
2        0.05     35825748  14825129
3        0.06     53820067  17134486
4        0.07     30804038  12592164
...       ...          ...       ...
46365  488.96     22861858   8415358
46366  488.97     18184151   5327494
46367  488.97     18184151  11837091
46368  488.97     31438836   5327494
46369  488.97     31438836  11837091

[46370 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    5569964    2552733
1        0.03    8274886    4533974
2        0.04    7775190    4229541
3        0.05    9724255    5100874
4        0.06   12332604    4801882
...       ...        ...        ...
46366  488.96    5654535    2760823
46367  488.97    4130453    1197041
46368  488.97    4130453    3357801
46369  488.97    8479290    1197041
46370  488.97    8479290    3357801

[46371 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014957  18744527         NaN  instructions    15818360
1         0.014957     24171         NaN     dtlb_walk    15818360
2         0.014957      2484         NaN     itlb_walk    15818360
3         0.014957   6240697         NaN       l1i_tlb    15818360
4         0.025453  29310118         NaN  instructions     9933400
...            ...       ...         ...           ...         ...
187203  493.893462   6144471         NaN       l1i_tlb    10068800
187204  493.901498  31683061         NaN  instructions     7699480
187205  493.901498      1108         NaN     dtlb_walk     7699480
187206  493.901498         4         NaN     itlb_walk     7699480
187207  493.901498   6198357         NaN       l1i_tlb     7699480

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
187203       100.0         NaN         NaN
187204       100.0         NaN         NaN
187205       100.0         NaN         NaN
187206       100.0         NaN         NaN
187207       100.0         NaN         NaN

[187208 rows x 8 columns]
          time          value       counter
4         0.03       29310118  instructions
8         0.04       29576450  instructions
12        0.05       33309241  instructions
16        0.06       53108448  instructions
20        0.07       30400455  instructions
...        ...            ...           ...
187188  493.86  <not counted>  instructions
187192  493.87       20456260  instructions
187196  493.88       22950403  instructions
187200  493.89       18029895  instructions
187204  493.90       31683061  instructions

[46801 rows x 3 columns]
instructions
          time   instructions
4         0.03       29310118
8         0.04       29576450
12        0.05       33309241
16        0.06       53108448
20        0.07       30400455
...        ...            ...
187188  493.86  <not counted>
187192  493.87       20456260
187196  493.88       22950403
187200  493.89       18029895
187204  493.90       31683061

[46801 rows x 2 columns]
df3
          time      dtlb_walk
1         0.01          24171
5         0.03           3375
9         0.04           4178
13        0.05           4107
17        0.06           1833
...        ...            ...
187189  493.86  <not counted>
187193  493.87          18710
187197  493.88          20650
187201  493.89          44692
187205  493.90           1108

[46802 rows x 2 columns]
df4
          time      itlb_walk
2         0.01           2484
6         0.03           1055
10        0.04            974
14        0.05            896
18        0.06            263
...        ...            ...
187190  493.86  <not counted>
187194  493.87           1616
187198  493.88            955
187202  493.89            323
187206  493.90              4

[46802 rows x 2 columns]
df5
          time        l1i_tlb
3         0.01        6240697
7         0.03        9895227
11        0.04        9940936
15        0.05       10469247
19        0.06       13704740
...        ...            ...
187191  493.86  <not counted>
187195  493.87        5884865
187199  493.88        5921559
187203  493.89        6144471
187207  493.90        6198357

[46802 rows x 2 columns]
df6
         time   instructions      dtlb_walk
0        0.03       29310118           3375
1        0.04       29576450           4178
2        0.05       33309241           4107
3        0.06       53108448           1833
4        0.07       30400455           4956
...       ...            ...            ...
46796  493.86  <not counted>  <not counted>
46797  493.87       20456260          18710
46798  493.88       22950403          20650
46799  493.89       18029895          44692
46800  493.90       31683061           1108

[46801 rows x 3 columns]
df7
         time      itlb_walk        l1i_tlb
0        0.01           2484        6240697
1        0.03           1055        9895227
2        0.04            974        9940936
3        0.05            896       10469247
4        0.06            263       13704740
...       ...            ...            ...
46797  493.86  <not counted>  <not counted>
46798  493.87           1616        5884865
46799  493.88            955        5921559
46800  493.89            323        6144471
46801  493.90              4        6198357

[46802 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014743  18810477         NaN  instructions    15500760
1         0.014743    127296         NaN       l2d_tlb    15500760
2         0.014743    109274         NaN    l2d_tlb_rd    15500760
3         0.014743     18022         NaN    l2d_tlb_wr    15500760
4         0.025227  30513012         NaN  instructions     9914320
...            ...       ...         ...           ...         ...
185495  489.976511      8146         NaN    l2d_tlb_wr    10098120
185496  489.978135   4555467         NaN  instructions     1224880
185497  489.978135      5654         NaN       l2d_tlb     1224880
185498  489.978135      4274         NaN    l2d_tlb_rd     1224880
185499  489.978135      1380         NaN    l2d_tlb_wr     1224880

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
185495       100.0         NaN         NaN
185496       100.0         NaN         NaN
185497       100.0         NaN         NaN
185498       100.0         NaN         NaN
185499       100.0         NaN         NaN

[185500 rows x 8 columns]
          time     value       counter
4         0.03  30513012  instructions
8         0.04  30131864  instructions
12        0.05  41446427  instructions
16        0.06  52712807  instructions
20        0.07  29094149  instructions
...        ...       ...           ...
185480  489.95  14002418  instructions
185484  489.96  23289489  instructions
185488  489.97  14471750  instructions
185492  489.98  36104792  instructions
185496  489.98   4555467  instructions

[46374 rows x 3 columns]
instructions
          time instructions
4         0.03     30513012
8         0.04     30131864
12        0.05     41446427
16        0.06     52712807
20        0.07     29094149
...        ...          ...
185480  489.95     14002418
185484  489.96     23289489
185488  489.97     14471750
185492  489.98     36104792
185496  489.98      4555467

[46374 rows x 2 columns]
df3
          time l2d_tlb
1         0.01  127296
5         0.03  272817
9         0.04  292484
13        0.05  336649
17        0.06  418458
...        ...     ...
185481  489.95   98454
185485  489.96  192636
185489  489.97  156941
185493  489.98   59563
185497  489.98    5654

[46375 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01     109274
6         0.03     259623
10        0.04     278794
14        0.05     322237
18        0.06     404679
...        ...        ...
185482  489.95      89453
185486  489.96     178217
185490  489.97     147126
185494  489.98      51417
185498  489.98       4274

[46375 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      18022
7         0.03      13194
11        0.04      13690
15        0.05      14412
19        0.06      13779
...        ...        ...
185483  489.95       9001
185487  489.96      14419
185491  489.97       9815
185495  489.98       8146
185499  489.98       1380

[46375 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.03     30513012  272817
1        0.04     30131864  292484
2        0.05     41446427  336649
3        0.06     52712807  418458
4        0.07     29094149  291663
...       ...          ...     ...
46371  489.97     14471750  156941
46372  489.98     36104792   59563
46373  489.98     36104792    5654
46374  489.98      4555467   59563
46375  489.98      4555467    5654

[46376 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01     109274      18022
1        0.03     259623      13194
2        0.04     278794      13690
3        0.05     322237      14412
4        0.06     404679      13779
...       ...        ...        ...
46372  489.97     147126       9815
46373  489.98      51417       8146
46374  489.98      51417       1380
46375  489.98       4274       8146
46376  489.98       4274       1380

[46377 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014756  17660878         NaN  instructions    15602040
1         0.014756       247         NaN      vfp_spec    15602040
2         0.014756  21186638         NaN     inst_spec    15602040
3         0.014756     15177         NaN      ase_spec    15602040
4         0.025236  30547933         NaN  instructions     9999600
...            ...       ...         ...           ...         ...
185771  489.751609         0         NaN      ase_spec    10073240
185772  489.752216    155186         NaN  instructions      163760
185773  489.752216         0         NaN      vfp_spec      163760
185774  489.752216    176391         NaN     inst_spec      163760
185775  489.752216         0         NaN      ase_spec      163760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
185771       100.0         NaN         NaN
185772       100.0         NaN         NaN
185773       100.0         NaN         NaN
185774       100.0         NaN         NaN
185775       100.0         NaN         NaN

[185776 rows x 8 columns]
          time     value       counter
4         0.03  30547933  instructions
8         0.04  29317386  instructions
12        0.05  36305148  instructions
16        0.06  52850058  instructions
20        0.07  29596976  instructions
...        ...       ...           ...
185756  489.72  15191115  instructions
185760  489.73  24112549  instructions
185764  489.74  14060345  instructions
185768  489.75  39219291  instructions
185772  489.75    155186  instructions

[46443 rows x 3 columns]
instructions
          time instructions
4         0.03     30547933
8         0.04     29317386
12        0.05     36305148
16        0.06     52850058
20        0.07     29596976
...        ...          ...
185756  489.72     15191115
185760  489.73     24112549
185764  489.74     14060345
185768  489.75     39219291
185772  489.75       155186

[46443 rows x 2 columns]
df3
          time vfp_spec
1         0.01      247
5         0.03     3735
9         0.04     1148
13        0.05      504
17        0.06      334
...        ...      ...
185757  489.72      281
185761  489.73        0
185765  489.74        2
185769  489.75        0
185773  489.75        0

[46444 rows x 2 columns]
df4
          time inst_spec
2         0.01  21186638
6         0.03  38328474
10        0.04  36553301
14        0.05  43644986
18        0.06  60511952
...        ...       ...
185758  489.72  17169562
185762  489.73  25946134
185766  489.74  17390458
185770  489.75  42024791
185774  489.75    176391

[46444 rows x 2 columns]
df5
          time ase_spec
3         0.01    15177
7         0.03    36294
11        0.04    20145
15        0.05    27420
19        0.06    30436
...        ...      ...
185759  489.72     1703
185763  489.73     2838
185767  489.74       75
185771  489.75        0
185775  489.75        0

[46444 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.03     30547933     3735
1        0.04     29317386     1148
2        0.05     36305148      504
3        0.06     52850058      334
4        0.07     29596976      738
...       ...          ...      ...
46440  489.74     14060345        2
46441  489.75     39219291        0
46442  489.75     39219291        0
46443  489.75       155186        0
46444  489.75       155186        0

[46445 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  21186638    15177
1        0.03  38328474    36294
2        0.04  36553301    20145
3        0.05  43644986    27420
4        0.06  60511952    30436
...       ...       ...      ...
46441  489.74  17390458       75
46442  489.75  42024791        0
46443  489.75  42024791        0
46444  489.75    176391        0
46445  489.75    176391        0

[46446 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010714  11211773         NaN      instructions    11517200
1         0.010714  12698105         NaN     stall_backend    11517200
2         0.010714  17494979         NaN    stall_frontend    11517200
3         0.010714    196837         NaN  ll_cache_miss_rd    11517200
4         0.021196  23296646         NaN      instructions     9855160
...            ...       ...         ...               ...         ...
186539  491.574968    437377         NaN  ll_cache_miss_rd    10075560
186540  491.585187  38751140         NaN      instructions     9779240
186541  491.585187  15821583         NaN     stall_backend     9779240
186542  491.585187   1324623         NaN    stall_frontend     9779240
186543  491.585187    529354         NaN  ll_cache_miss_rd     9779240

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
186539       100.0         NaN         NaN
186540       100.0         NaN         NaN
186541       100.0         NaN         NaN
186542       100.0         NaN         NaN
186543       100.0         NaN         NaN

[186544 rows x 8 columns]
          time     value       counter
4         0.02  23296646  instructions
8         0.03  28742884  instructions
12        0.04  31303258  instructions
16        0.05  49623589  instructions
20        0.06  40235693  instructions
...        ...       ...           ...
186524  491.54     17339  instructions
186528  491.55  16194337  instructions
186532  491.56  23792918  instructions
186536  491.57  13861272  instructions
186540  491.59  38751140  instructions

[46635 rows x 3 columns]
instructions
          time instructions
4         0.02     23296646
8         0.03     28742884
12        0.04     31303258
16        0.05     49623589
20        0.06     40235693
...        ...          ...
186524  491.54        17339
186528  491.55     16194337
186532  491.56     23792918
186536  491.57     13861272
186540  491.59     38751140

[46635 rows x 2 columns]
df3
          time stall_backend
1         0.01      12698105
5         0.02       7500682
9         0.03       5681394
13        0.04       5610558
17        0.05       4605103
...        ...           ...
186525  491.54         32251
186529  491.55      22326438
186533  491.56      19451620
186537  491.57      23716200
186541  491.59      15821583

[46636 rows x 2 columns]
df4
          time stall_frontend
2         0.01       17494979
6         0.02       12997682
10        0.03       12874411
14        0.04       12518086
18        0.05        8303798
...        ...            ...
186526  491.54          77004
186530  491.55        5005322
186534  491.56        2705039
186538  491.57        1143139
186542  491.59        1324623

[46636 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           196837
7         0.02           154945
11        0.03           152980
15        0.04           168261
19        0.05            92844
...        ...              ...
186527  491.54             1152
186531  491.55           126402
186535  491.56           182068
186539  491.57           437377
186543  491.59           529354

[46636 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     23296646       7500682
1        0.03     28742884       5681394
2        0.04     31303258       5610558
3        0.05     49623589       4605103
4        0.06     40235693       5145719
...       ...          ...           ...
46630  491.54        17339         32251
46631  491.55     16194337      22326438
46632  491.56     23792918      19451620
46633  491.57     13861272      23716200
46634  491.59     38751140      15821583

[46635 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01       17494979           196837
1        0.02       12997682           154945
2        0.03       12874411           152980
3        0.04       12518086           168261
4        0.05        8303798            92844
...       ...            ...              ...
46631  491.54          77004             1152
46632  491.55        5005322           126402
46633  491.56        2705039           182068
46634  491.57        1143139           437377
46635  491.59        1324623           529354

[46636 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010198  10764962         NaN   instructions    11168880
1         0.010198   3352239         NaN     mem_access    11168880
2         0.010198   2068105         NaN  mem_access_rd    11168880
3         0.010198   1284134         NaN  mem_access_wr    11168880
4         0.020642  22685599         NaN   instructions     9957200
...            ...       ...         ...            ...         ...
186723  492.135816   1238604         NaN  mem_access_wr    10052720
186724  492.143219  29724366         NaN   instructions     7075000
186725  492.143219   8590393         NaN     mem_access     7075000
186726  492.143219   5402232         NaN  mem_access_rd     7075000
186727  492.143219   3188161         NaN  mem_access_wr     7075000

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
186723       100.0         NaN         NaN
186724       100.0         NaN         NaN
186725       100.0         NaN         NaN
186726       100.0         NaN         NaN
186727       100.0         NaN         NaN

[186728 rows x 8 columns]
          time          value       counter
4         0.02       22685599  instructions
8         0.03       27749578  instructions
12        0.04       31310925  instructions
16        0.05       60136094  instructions
20        0.06       36112376  instructions
...        ...            ...           ...
186708  492.10  <not counted>  instructions
186712  492.11       14835286  instructions
186716  492.13       28828062  instructions
186720  492.14       19365401  instructions
186724  492.14       29724366  instructions

[46681 rows x 3 columns]
instructions
          time   instructions
4         0.02       22685599
8         0.03       27749578
12        0.04       31310925
16        0.05       60136094
20        0.06       36112376
...        ...            ...
186708  492.10  <not counted>
186712  492.11       14835286
186716  492.13       28828062
186720  492.14       19365401
186724  492.14       29724366

[46681 rows x 2 columns]
df3
          time     mem_access
1         0.01        3352239
5         0.02        8211784
9         0.03       10715278
13        0.04       12044046
17        0.05       18816250
...        ...            ...
186709  492.10  <not counted>
186713  492.11        5018922
186717  492.13        9847336
186721  492.14        4770872
186725  492.14        8590393

[46682 rows x 2 columns]
df4
          time  mem_access_rd
2         0.01        2068105
6         0.02        5177303
10        0.03        6767823
14        0.04        7658792
18        0.05       13090249
...        ...            ...
186710  492.10  <not counted>
186714  492.11        3077781
186718  492.13        6419525
186722  492.14        3532268
186726  492.14        5402232

[46682 rows x 2 columns]
df5
          time  mem_access_wr
3         0.01        1284134
7         0.02        3034481
11        0.03        3947455
15        0.04        4385254
19        0.05        5726001
...        ...            ...
186711  492.10  <not counted>
186715  492.11        1941141
186719  492.13        3427811
186723  492.14        1238604
186727  492.14        3188161

[46682 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     22685599    8211784
1        0.03     27749578   10715278
2        0.04     31310925   12044046
3        0.05     60136094   18816250
4        0.06     36112376   12071934
...       ...          ...        ...
46678  492.13     28828062    9847336
46679  492.14     19365401    4770872
46680  492.14     19365401    8590393
46681  492.14     29724366    4770872
46682  492.14     29724366    8590393

[46683 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       2068105       1284134
1        0.02       5177303       3034481
2        0.03       6767823       3947455
3        0.04       7658792       4385254
4        0.05      13090249       5726001
...       ...           ...           ...
46679  492.13       6419525       3427811
46680  492.14       3532268       1238604
46681  492.14       3532268       3188161
46682  492.14       5402232       1238604
46683  492.14       5402232       3188161

[46684 rows x 3 columns]
merged_df
         time instructions cpu-cycles   br_pred br_mis_pred l1d_cache_rd  \
0        0.03     28413086   29503449   6396777      264947      7039323
1        0.04     32250616   30163130   7368636      261270      7375477
2        0.05     51826182   30163924  12960825      229844      8828780
3        0.06     37142451   30161609   9014035      271405     11177391
4        0.07     31368823   30184265   7046266      265655      6831674
...       ...          ...        ...       ...         ...          ...
28656  487.13     66376135   30153497  13666896       67484     20356326
28657  487.16     68446216   30148626  14089505       60694     20112457
28658  487.17     65995910   30133524  13601949       63267     20318255
28659  487.20     67309090   30151819  13848687       60760     20319176
28660  487.21     67323952   30156626  13844907       60335     20327136

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ... l2d_tlb_wr  \
0          4078799  11118122  12256979           647315  ...      13194
1          4246173  11621650  12174077           701029  ...      13690
2          4731424  13560204  15318191           567624  ...      14412
3          4375341  15552732  18030551           535692  ...      13779
4          3793913  10625587  11985849           717639  ...      14112
...            ...       ...       ...              ...  ...        ...
28656     10756298  31112624  23358667            43699  ...      35831
28657     10627892  30740349  16519559           257360  ...      31430
28658     10733661  31051916  14804461           741891  ...      32476
28659     10735230  31054406  14168602           617969  ...      31225
28660     10756320  31083456  20020664           746885  ...      31432

      vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0         3735  38328474    36294       5681394       12874411
1         1148  36553301    20145       5610558       12518086
2          504  43644986    27420       4605103        8303798
3          334  60511952    30436       5145719       10604179
4          738  36917220    24899       5302057       12728507
...        ...       ...      ...           ...            ...
28656     1041  63941996    28945       1279546        3972173
28657     3164  52737901    23638       1122839        3780373
28658      463  21745389    23286       1108926        3910661
28659      340  29423242   143755       1123064        3835898
28660       20  32316823    26202       1106132        3815699

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               152980   10715278       6767823       3947455
1               168261   12044046       7658792       4385254
2                92844   18816250      13090249       5726001
3               121232   12071934       8134488       3937446
4               149749   12022133       7660710       4361423
...                ...        ...           ...           ...
28656             9757   31143858      20379535      10764323
28657             3937   31015225      20286769      10728456
28658             4395   30735743      20115104      10620639
28659             3913   31034386      20305824      10728562
28660             4150   31049992      20318681      10731311

[28661 rows x 32 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014993  18456447         NaN  instructions    15649680
1         0.014993  46685841         NaN    cpu-cycles    15649680
2         0.014993   3490936         NaN       br_pred    15649680
3         0.014993    139834         NaN   br_mis_pred    15649680
4         0.025391  30621034         NaN  instructions    10004200
...            ...       ...         ...           ...         ...
114783  302.096609    128760         NaN   br_mis_pred    10073840
114784  302.105047  32274777         NaN  instructions     7935440
114785  302.105047  23775757         NaN    cpu-cycles     7935440
114786  302.105047   4654305         NaN       br_pred     7935440
114787  302.105047      9579         NaN   br_mis_pred     7935440

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.40  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        1.02  insn per cycle
...            ...         ...             ...
114783       100.0         NaN             NaN
114784       100.0        1.36  insn per cycle
114785       100.0         NaN             NaN
114786       100.0         NaN             NaN
114787       100.0         NaN             NaN

[114788 rows x 8 columns]
          time          value       counter
4         0.03       30621034  instructions
8         0.04       30022783  instructions
12        0.05       39950422  instructions
16        0.06       52734363  instructions
20        0.07       28798635  instructions
...        ...            ...           ...
114768  302.06  <not counted>  instructions
114772  302.08       21257310  instructions
114776  302.09       21917606  instructions
114780  302.10       18029731  instructions
114784  302.11       32274777  instructions

[28696 rows x 3 columns]
instructions
          time   instructions
4         0.03       30621034
8         0.04       30022783
12        0.05       39950422
16        0.06       52734363
20        0.07       28798635
...        ...            ...
114768  302.06  <not counted>
114772  302.08       21257310
114776  302.09       21917606
114780  302.10       18029731
114784  302.11       32274777

[28696 rows x 2 columns]
df3
          time     cpu-cycles
1         0.01       46685841
5         0.03       29937974
9         0.04       29706727
13        0.05       30072672
17        0.06       30136684
...        ...            ...
114769  302.06  <not counted>
114773  302.08       40224379
114777  302.09       29291100
114781  302.10       30181474
114785  302.11       23775757

[28697 rows x 2 columns]
df4
          time        br_pred
2         0.01        3490936
6         0.03        6953400
10        0.04        6796588
14        0.05        9365122
18        0.06       13453760
...        ...            ...
114770  302.06  <not counted>
114774  302.08        4272820
114778  302.09        5081465
114782  302.10        5207242
114786  302.11        4654305

[28697 rows x 2 columns]
df5
          time    br_mis_pred
3         0.01         139834
7         0.03         288255
11        0.04         269465
15        0.05         243343
19        0.06         245922
...        ...            ...
114771  302.06  <not counted>
114775  302.08          68568
114779  302.09          39418
114783  302.10         128760
114787  302.11           9579

[28697 rows x 2 columns]
df6
         time   instructions     cpu-cycles
0        0.03       30621034       29937974
1        0.04       30022783       29706727
2        0.05       39950422       30072672
3        0.06       52734363       30136684
4        0.07       28798635       30146867
...       ...            ...            ...
28691  302.06  <not counted>  <not counted>
28692  302.08       21257310       40224379
28693  302.09       21917606       29291100
28694  302.10       18029731       30181474
28695  302.11       32274777       23775757

[28696 rows x 3 columns]
df7
         time        br_pred    br_mis_pred
0        0.01        3490936         139834
1        0.03        6953400         288255
2        0.04        6796588         269465
3        0.05        9365122         243343
4        0.06       13453760         245922
...       ...            ...            ...
28692  302.06  <not counted>  <not counted>
28693  302.08        4272820          68568
28694  302.09        5081465          39418
28695  302.10        5207242         128760
28696  302.11        4654305           9579

[28697 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011724  12827684         NaN  instructions    12570720
1         0.011724   2479087         NaN  l1d_cache_rd    12570720
2         0.011724   1528813         NaN  l1d_cache_wr    12570720
3         0.011724   4007900         NaN     l1d_cache    12570720
4         0.022187  26395263         NaN  instructions     9985560
...            ...       ...         ...           ...         ...
114983  302.420181   7965020         NaN     l1d_cache    10064920
114984  302.423768  12997946         NaN  instructions     3209440
114985  302.423768   2351545         NaN  l1d_cache_rd     3209440
114986  302.423768   1400934         NaN  l1d_cache_wr     3209440
114987  302.423768   3752479         NaN     l1d_cache     3209440

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
114983       100.0         NaN         NaN
114984       100.0         NaN         NaN
114985       100.0         NaN         NaN
114986       100.0         NaN         NaN
114987       100.0         NaN         NaN

[114988 rows x 8 columns]
          time     value       counter
4         0.02  26395263  instructions
8         0.03  28411256  instructions
12        0.04  32737611  instructions
16        0.05  52524202  instructions
20        0.06  35734087  instructions
...        ...       ...           ...
114968  302.39  10458593  instructions
114972  302.40  23247661  instructions
114976  302.41  14819838  instructions
114980  302.42  31406520  instructions
114984  302.42  12997946  instructions

[28746 rows x 3 columns]
instructions
          time instructions
4         0.02     26395263
8         0.03     28411256
12        0.04     32737611
16        0.05     52524202
20        0.06     35734087
...        ...          ...
114968  302.39     10458593
114972  302.40     23247661
114976  302.41     14819838
114980  302.42     31406520
114984  302.42     12997946

[28746 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      2479087
5         0.02      6193620
9         0.03      6946045
13        0.04      8011158
17        0.05     11200099
...        ...          ...
114969  302.39      2091146
114973  302.40      5302948
114977  302.41      3206363
114981  302.42      5512467
114985  302.42      2351545

[28747 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1528813
6         0.02      3614611
10        0.03      4065039
14        0.04      4537094
18        0.05      4652572
...        ...          ...
114970  302.39      1282618
114974  302.40      2970729
114978  302.41      1674407
114982  302.42      2452553
114986  302.42      1400934

[28747 rows x 2 columns]
df5
          time l1d_cache
3         0.01   4007900

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011485  12559389         NaN  instructions    12440360
1         0.011485    467361         NaN  l2d_cache_rd    12440360
2         0.011485    162268         NaN  l2d_cache_wr    12440360
3         0.011485    629629         NaN     l2d_cache    12440360
4         0.021957  25251803         NaN  instructions     9905720
...            ...       ...         ...           ...         ...
114399  300.232230   1253943         NaN     l2d_cache    10075080
114400  300.238405  24229563         NaN  instructions     5722480
114401  300.238405    112355         NaN  l2d_cache_rd     5722480
114402  300.238405    106097         NaN  l2d_cache_wr     5722480
114403  300.238405    218452         NaN     l2d_cache     5722480

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
114399       100.0         NaN         NaN
114400       100.0         NaN         NaN
114401       100.0         NaN         NaN
114402       100.0         NaN         NaN
114403       100.0         NaN         NaN

[114404 rows x 8 columns]
          time     value       counter
4         0.02  25251803  instructions
8         0.03  28061091  instructions
12        0.04  32245869  instructions
16        0.05  50700915  instructions
20        0.06  38072490  instructions
...        ...       ...           ...
114384  300.20   6512125  instructions
114388  300.21  18544229  instructions
114392  300.22  20381694  instructions
114396  300.23  23423633  instructions
114400  300.24  24229563  instructions

[28600 rows x 3 columns]
instructions
          time instructions
4         0.02     25251803
8         0.03     28061091
12        0.04     32245869
16        0.05     50700915
20        0.06     38072490
...        ...          ...
114384  300.20      6512125
114388  300.21     18544229
114392  300.22     20381694
114396  300.23     23423633
114400  300.24     24229563

[28600 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       467361
5         0.02       681004
9         0.03       855165
13        0.04       798873
17        0.05       878414
...        ...          ...
114385  300.20        71910
114389  300.21       409076
114393  300.22       375673
114397  300.23       656905
114401  300.24       112355

[28601 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       162268
6         0.02       173383
10        0.03       177472
14        0.04       206212
18        0.05       340579
...        ...          ...
114386  300.20        64147
114390  300.21       158931
114394  300.22       260668
114398  300.23       597038
114402  300.24       106097

[28601 rows x 2 columns]
df5
          time l2d_cache
3         0.01    629629
7         0.02    854387
11        0.03   1032637
15        0.04   1005085
19        0.05   1218993
...        ...       ...
114387  300.20    136057
114391  300.21    568007
114395  300.22    636341
114399  300.23   1253943
114403  300.24    218452

[28601 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     25251803       681004
1        0.03     28061091       855165
2        0.04     32245869       798873
3        0.05     50700915       878414
4        0.06     38072490       897215
...       ...          ...          ...
28595  300.20      6512125        71910
28596  300.21     18544229       409076
28597  300.22     20381694       375673
28598  300.23     23423633       656905
28599  300.24     24229563       112355

[28600 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       162268    629629
1        0.02       173383    854387
2        0.03       177472   1032637
3        0.04       206212   1005085
4        0.05       340579   1218993
...       ...          ...       ...
28596  300.20        64147    136057
28597  300.21       158931    568007
28598  300.22       260668    636341
28599  300.23       597038   1253943
28600  300.24       106097    218452

[28601 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014920  17868342         NaN  instructions    15851040
1         0.014920   8167888         NaN       l1d_tlb    15851040
2         0.014920   5595596         NaN    l1d_tlb_rd    15851040
3         0.014920   2572292         NaN    l1d_tlb_wr    15851040
4         0.025434  30502984         NaN  instructions     9988160
...            ...       ...         ...           ...         ...
113119  297.594521   1356264         NaN    l1d_tlb_wr    10059440
113120  297.601987  29276879         NaN  instructions     7068440
113121  297.601987  11201759         NaN       l1d_tlb     7068440
113122  297.601987   8059995         NaN    l1d_tlb_rd     7068440
113123  297.601987   3141764         NaN    l1d_tlb_wr     7068440

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
113119       100.0         NaN         NaN
113120       100.0         NaN         NaN
113121       100.0         NaN         NaN
113122       100.0         NaN         NaN
113123       100.0         NaN         NaN

[113124 rows x 8 columns]
          time          value       counter
4         0.03       30502984  instructions
8         0.04       29151156  instructions
12        0.05       36647664  instructions
16        0.06       52774676  instructions
20        0.07       29020826  instructions
...        ...            ...           ...
113104  297.56  <not counted>  instructions
113108  297.57       21071182  instructions
113112  297.58       22606826  instructions
113116  297.59       19769628  instructions
113120  297.60       29276879  instructions

[28280 rows x 3 columns]
instructions
          time   instructions
4         0.03       30502984
8         0.04       29151156
12        0.05       36647664
16        0.06       52774676
20        0.07       29020826
...        ...            ...
113104  297.56  <not counted>
113108  297.57       21071182
113112  297.58       22606826
113116  297.59       19769628
113120  297.60       29276879

[28280 rows x 2 columns]
df3
          time        l1d_tlb
1         0.01        8167888
5         0.03       13029223
9         0.04       12727930
13        0.05       14820787
17        0.06       16779933
...        ...            ...
113105  297.56  <not counted>
113109  297.57        8419404
113113  297.58        8271655
113117  297.59        6033554
113121  297.60       11201759

[28281 rows x 2 columns]
df4
          time     l1d_tlb_rd
2         0.01        5595596
6         0.03        8417252
10        0.04        8272487
14        0.05        9784385
18        0.06       12121249
...        ...            ...
113106  297.56  <not counted>
113110  297.57        5536121
113114  297.58        5584984
113118  297.59        4677290
113122  297.60        8059995

[28281 rows x 2 columns]
df5
          time     l1d_tlb_wr
3         0.01        2572292
7         0.03        4611971
11        0.04        4455443
15        0.05        5036402
19        0.06        4658684
...        ...            ...
113107  297.56  <not counted>
113111  297.57        2883283
113115  297.58        2686671
113119  297.59        1356264
113123  297.60        3141764

[28281 rows x 2 columns]
df6
         time   instructions        l1d_tlb
0        0.03       30502984       13029223
1        0.04       29151156       12727930
2        0.05       36647664       14820787
3        0.06       52774676       16779933
4        0.07       29020826       12055378
...       ...            ...            ...
28275  297.56  <not counted>  <not counted>
28276  297.57       21071182        8419404
28277  297.58       22606826        8271655
28278  297.59       19769628        6033554
28279  297.60       29276879       11201759

[28280 rows x 3 columns]
df7
         time     l1d_tlb_rd     l1d_tlb_wr
0        0.01        5595596        2572292
1        0.03        8417252        4611971
2        0.04        8272487        4455443
3        0.05        9784385        5036402
4        0.06       12121249        4658684
...       ...            ...            ...
28276  297.56  <not counted>  <not counted>
28277  297.57        5536121        2883283
28278  297.58        5584984        2686671
28279  297.59        4677290        1356264
28280  297.60        8059995        3141764

[28281 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010129  10736241         NaN  instructions    11109680
1         0.010129     20675         NaN     dtlb_walk    11109680
2         0.010129      1609         NaN     itlb_walk    11109680
3         0.010129   3579832         NaN       l1i_tlb    11109680
4         0.020624  22772515         NaN  instructions     9987040
...            ...       ...         ...           ...         ...
113915  300.005912   4952484         NaN       l1i_tlb    10069640
113916  300.016110  38765750         NaN  instructions     9751560
113917  300.016110     14631         NaN     dtlb_walk     9751560
113918  300.016110       214         NaN     itlb_walk     9751560
113919  300.016110   8293505         NaN       l1i_tlb     9751560

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
113915       100.0         NaN         NaN
113916       100.0         NaN         NaN
113917       100.0         NaN         NaN
113918       100.0         NaN         NaN
113919       100.0         NaN         NaN

[113920 rows x 8 columns]
          time     value       counter
4         0.02  22772515  instructions
8         0.03  27994569  instructions
12        0.04  35626772  instructions
16        0.05  50103026  instructions
20        0.06  38167016  instructions
...        ...       ...           ...
113900  299.97     17315  instructions
113904  299.99  16230226  instructions
113908  300.00  24047151  instructions
113912  300.01  13861029  instructions
113916  300.02  38765750  instructions

[28479 rows x 3 columns]
instructions
          time instructions
4         0.02     22772515
8         0.03     27994569
12        0.04     35626772
16        0.05     50103026
20        0.06     38167016
...        ...          ...
113900  299.97        17315
113904  299.99     16230226
113908  300.00     24047151
113912  300.01     13861029
113916  300.02     38765750

[28479 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     20675
5         0.02      7778
9         0.03      3761
13        0.04      4724
17        0.05      2393
...        ...       ...
113901  299.97       140
113905  299.99     14472
113909  300.00     17299
113913  300.01     37951
113917  300.02     14631

[28480 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1609
6         0.02      1196
10        0.03      1053
14        0.04      1215
18        0.05       374
...        ...       ...
113902  299.97        74
113906  299.99      1425
113910  300.00      1022
113914  300.01       366
113918  300.02       214

[28480 rows x 2 columns]
df5
          time   l1i_tlb
3         0.01   3579832
7         0.02   7521954
11        0.03   9527734
15        0.04  11733161
19        0.05  13385916
...        ...       ...
113903  299.97     12422
113907  299.99   4653152
113911  300.00   6142507
113915  300.01   4952484
113919  300.02   8293505

[28480 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     22772515      7778
1        0.03     27994569      3761
2        0.04     35626772      4724
3        0.05     50103026      2393
4        0.06     38167016      4388
...       ...          ...       ...
28474  299.97        17315       140
28475  299.99     16230226     14472
28476  300.00     24047151     17299
28477  300.01     13861029     37951
28478  300.02     38765750     14631

[28479 rows x 3 columns]
df7
         time itlb_walk   l1i_tlb
0        0.01      1609   3579832
1        0.02      1196   7521954
2        0.03      1053   9527734
3        0.04      1215  11733161
4        0.05       374  13385916
...       ...       ...       ...
28475  299.97        74     12422
28476  299.99      1425   4653152
28477  300.00      1022   6142507
28478  300.01       366   4952484
28479  300.02       214   8293505

[28480 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010156  10701127         NaN  instructions    11139920
1         0.010156     70252         NaN       l2d_tlb    11139920
2         0.010156     57693         NaN    l2d_tlb_rd    11139920
3         0.010156     12559         NaN    l2d_tlb_wr    11139920
4         0.020632  21912472         NaN  instructions     9957840
...            ...       ...         ...           ...         ...
113931  299.859861      6623         NaN    l2d_tlb_wr    10062560
113932  299.863717  14279809         NaN  instructions     3500960
113933  299.863717     13529         NaN       l2d_tlb     3500960
113934  299.863717      8713         NaN    l2d_tlb_rd     3500960
113935  299.863717      4816         NaN    l2d_tlb_wr     3500960

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
113931       100.0         NaN         NaN
113932       100.0         NaN         NaN
113933       100.0         NaN         NaN
113934       100.0         NaN         NaN
113935       100.0         NaN         NaN

[113936 rows x 8 columns]
          time     value       counter
4         0.02  21912472  instructions
8         0.03  28144733  instructions
12        0.05  45451860  instructions
16        0.06  53286614  instructions
20        0.07  32516129  instructions
...        ...       ...           ...
113916  299.83  10733682  instructions
113920  299.84  21902355  instructions
113924  299.85  15619899  instructions
113928  299.86  30550615  instructions
113932  299.86  14279809  instructions

[28483 rows x 3 columns]
instructions
          time instructions
4         0.02     21912472
8         0.03     28144733
12        0.05     45451860
16        0.06     53286614
20        0.07     32516129
...        ...          ...
113916  299.83     10733682
113920  299.84     21902355
113924  299.85     15619899
113928  299.86     30550615
113932  299.86     14279809

[28483 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   70252
5         0.02  169520
9         0.03  273898
13        0.05  401319
17        0.06  419303
...        ...     ...
113917  299.83   69697
113921  299.84  179296
113925  299.85  179851
113929  299.86   79323
113933  299.86   13529

[28484 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      57693
6         0.02     158554
10        0.03     259917
14        0.05     382416
18        0.06     403940
...        ...        ...
113918  299.83      63085
113922  299.84     164764
113926  299.85     167881
113930  299.86      72700
113934  299.86       8713

[28484 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      12559
7         0.02      10966
11        0.03      13981
15        0.05      18903
19        0.06      15363
...        ...        ...
113919  299.83       6612
113923  299.84      14532
113927  299.85      11970
113931  299.86       6623
113935  299.86       4816

[28484 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     21912472  169520
1        0.03     28144733  273898
2        0.05     45451860  401319
3        0.06     53286614  419303
4        0.07     32516129  297522
...       ...          ...     ...
28480  299.85     15619899  179851
28481  299.86     30550615   79323
28482  299.86     30550615   13529
28483  299.86     14279809   79323
28484  299.86     14279809   13529

[28485 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      57693      12559
1        0.02     158554      10966
2        0.03     259917      13981
3        0.05     382416      18903
4        0.06     403940      15363
...       ...        ...        ...
28481  299.85     167881      11970
28482  299.86      72700       6623
28483  299.86      72700       4816
28484  299.86       8713       6623
28485  299.86       8713       4816

[28486 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011589  12470999         NaN  instructions    12565000
1         0.011589        21         NaN      vfp_spec    12565000
2         0.011589  14961732         NaN     inst_spec    12565000
3         0.011589      9366         NaN      ase_spec    12565000
4         0.022030  24762537         NaN  instructions     9872800
...            ...       ...         ...           ...         ...
114199  300.487103         0         NaN      ase_spec    10071200
114200  300.491719  16976483         NaN  instructions     4245080
114201  300.491719         0         NaN      vfp_spec     4245080
114202  300.491719  17316093         NaN     inst_spec     4245080
114203  300.491719         0         NaN      ase_spec     4245080

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
114199       100.0         NaN         NaN
114200       100.0         NaN         NaN
114201       100.0         NaN         NaN
114202       100.0         NaN         NaN
114203       100.0         NaN         NaN

[114204 rows x 8 columns]
          time     value       counter
4         0.02  24762537  instructions
8         0.03  28654466  instructions
12        0.04  32225182  instructions
16        0.05  50855169  instructions
20        0.06  37742675  instructions
...        ...       ...           ...
114184  300.45   6341088  instructions
114188  300.47  25066410  instructions
114192  300.48  15702444  instructions
114196  300.49  28884144  instructions
114200  300.49  16976483  instructions

[28550 rows x 3 columns]
instructions
          time instructions
4         0.02     24762537
8         0.03     28654466
12        0.04     32225182
16        0.05     50855169
20        0.06     37742675
...        ...          ...
114184  300.45      6341088
114188  300.47     25066410
114192  300.48     15702444
114196  300.49     28884144
114200  300.49     16976483

[28550 rows x 2 columns]
df3
          time vfp_spec
1         0.01       21
5         0.02     3120
9         0.03     1625
13        0.04      664
17        0.05      416
...        ...      ...
114185  300.45        8
114189  300.47      235
114193  300.48        0
114197  300.49        0
114201  300.49        0

[28551 rows x 2 columns]
df4
          time inst_spec
2         0.01  14961732
6         0.02  30739826
10        0.03  35963547
14        0.04  39555410
18        0.05  58538101
...        ...       ...
114186  300.45   6659306
114190  300.47  27699898
114194  300.48  17885503
114198  300.49  33459471
114202  300.49  17316093

[28551 rows x 2 columns]
df5
          time ase_spec
3         0.01     9366
7         0.02    34661
11        0.03    19876
15        0.04    23993
19        0.05    32148
...        ...      ...
114187  300.45        0
114191  300.47     3307
114195  300.48     1156
114199  300.49        0
114203  300.49        0

[28551 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     24762537     3120
1        0.03     28654466     1625
2        0.04     32225182      664
3        0.05     50855169      416
4        0.06     37742675      566
...       ...          ...      ...
28547  300.48     15702444        0
28548  300.49     28884144        0
28549  300.49     28884144        0
28550  300.49     16976483        0
28551  300.49     16976483        0

[28552 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  14961732     9366
1        0.02  30739826    34661
2        0.03  35963547    19876
3        0.04  39555410    23993
4        0.05  58538101    32148
...       ...       ...      ...
28548  300.48  17885503     1156
28549  300.49  33459471        0
28550  300.49  33459471        0
28551  300.49  17316093        0
28552  300.49  17316093        0

[28553 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010144  10753803         NaN      instructions    11113520
1         0.010144  12438006         NaN     stall_backend    11113520
2         0.010144  16719944         NaN    stall_frontend    11113520
3         0.010144    190498         NaN  ll_cache_miss_rd    11113520
4         0.020634  22371790         NaN      instructions     9885680
...            ...       ...         ...               ...         ...
114491  301.471160    711850         NaN  ll_cache_miss_rd    10070960
114492  301.475494  15997080         NaN      instructions     3945800
114493  301.475494   6437445         NaN     stall_backend     3945800
114494  301.475494    622817         NaN    stall_frontend     3945800
114495  301.475494     68717         NaN  ll_cache_miss_rd     3945800

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
114491       100.0         NaN         NaN
114492       100.0         NaN         NaN
114493       100.0         NaN         NaN
114494       100.0         NaN         NaN
114495       100.0         NaN         NaN

[114496 rows x 8 columns]
          time     value       counter
4         0.02  22371790  instructions
8         0.03  28809362  instructions
12        0.04  35749236  instructions
16        0.05  50587899  instructions
20        0.06  37704233  instructions
...        ...       ...           ...
114476  301.44  10460592  instructions
114480  301.45  21349390  instructions
114484  301.46  15655249  instructions
114488  301.47  29439207  instructions
114492  301.48  15997080  instructions

[28623 rows x 3 columns]
instructions
          time instructions
4         0.02     22371790
8         0.03     28809362
12        0.04     35749236
16        0.05     50587899
20        0.06     37704233
...        ...          ...
114476  301.44     10460592
114480  301.45     21349390
114484  301.46     15655249
114488  301.47     29439207
114492  301.48     15997080

[28623 rows x 2 columns]
df3
          time stall_backend
1         0.01      12438006
5         0.02       7757517
9         0.03       5512967
13        0.04       6314127
17        0.05       4695645
...        ...           ...
114477  301.44      13917734
114481  301.45      18804763
114485  301.46      23049967
114489  301.47      18977509
114493  301.48       6437445

[28624 rows x 2 columns]
df4
          time stall_frontend
2         0.01       16719944
6         0.02       13264482
10        0.03       12964762
14        0.04       13923534
18        0.05        8020284
...        ...            ...
114478  301.44        2363841
114482  301.45        3769112
114486  301.46        1675686
114490  301.47        1097873
114494  301.48         622817

[28624 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           190498
7         0.02           153694
11        0.03           153495
15        0.04           180023
19        0.05            89758
...        ...              ...
114479  301.44            75663
114483  301.45           157444
114487  301.46           266319
114491  301.47           711850
114495  301.48            68717

[28624 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     22371790       7757517
1        0.03     28809362       5512967
2        0.04     35749236       6314127
3        0.05     50587899       4695645
4        0.06     37704233       5117500
...       ...          ...           ...
28618  301.44     10460592      13917734
28619  301.45     21349390      18804763
28620  301.46     15655249      23049967
28621  301.47     29439207      18977509
28622  301.48     15997080       6437445

[28623 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01       16719944           190498
1        0.02       13264482           153694
2        0.03       12964762           153495
3        0.04       13923534           180023
4        0.05        8020284            89758
...       ...            ...              ...
28619  301.44        2363841            75663
28620  301.45        3769112           157444
28621  301.46        1675686           266319
28622  301.47        1097873           711850
28623  301.48         622817            68717

[28624 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.014474  18107658         NaN   instructions    15328680
1         0.014474   5788377         NaN     mem_access    15328680
2         0.014474   3580941         NaN  mem_access_rd    15328680
3         0.014474   2207436         NaN  mem_access_wr    15328680
4         0.024957  30511081         NaN   instructions     9923800
...            ...       ...         ...            ...         ...
113379  297.879539   2255585         NaN  mem_access_wr    10237520
113380  297.884026  16788358         NaN   instructions     4144120
113381  297.884026   4849377         NaN     mem_access     4144120
113382  297.884026   3056866         NaN  mem_access_rd     4144120
113383  297.884026   1792511         NaN  mem_access_wr     4144120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
113379       100.0         NaN         NaN
113380       100.0         NaN         NaN
113381       100.0         NaN         NaN
113382       100.0         NaN         NaN
113383       100.0         NaN         NaN

[113384 rows x 8 columns]
          time     value       counter
4         0.02  30511081  instructions
8         0.04  29327078  instructions
12        0.05  37570612  instructions
16        0.06  53040032  instructions
20        0.07  30283878  instructions
...        ...       ...           ...
113364  297.85   9988763  instructions
113368  297.86  21033204  instructions
113372  297.87  16075396  instructions
113376  297.88  29190450  instructions
113380  297.88  16788358  instructions

[28345 rows x 3 columns]
instructions
          time instructions
4         0.02     30511081
8         0.04     29327078
12        0.05     37570612
16        0.06     53040032
20        0.07     30283878
...        ...          ...
113364  297.85      9988763
113368  297.86     21033204
113372  297.87     16075396
113376  297.88     29190450
113380  297.88     16788358

[28345 rows x 2 columns]
df3
          time mem_access
1         0.01    5788377
5         0.02   11637089
9         0.04   11337971
13        0.05   13640204
17        0.06   15420600
...        ...        ...
113365  297.85    3163545
113369  297.86    7526073
113373  297.87    5374603
113377  297.88    7416964
113381  297.88    4849377

[28346 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       3580941
6         0.02       7368223
10        0.04       7197459
14        0.05       8887851
18        0.06      11082920
...        ...           ...
113366  297.85       1972373
113370  297.86       4799931
113374  297.87       3512833
113378  297.88       5161379
113382  297.88       3056866

[28346 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       2207436
7         0.02       4268866
11        0.04       4140512
15        0.05       4752353
19        0.06       4337680
...        ...           ...
113367  297.85       1191172
113371  297.86       2726142
113375  297.87       1861770
113379  297.88       2255585
113383  297.88       1792511

[28346 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     30511081   11637089
1        0.04     29327078   11337971
2        0.05     37570612   13640204
3        0.06     53040032   15420600
4        0.07     30283878   11264104
...       ...          ...        ...
28342  297.87     16075396    5374603
28343  297.88     29190450    7416964
28344  297.88     29190450    4849377
28345  297.88     16788358    7416964
28346  297.88     16788358    4849377

[28347 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       3580941       2207436
1        0.02       7368223       4268866
2        0.04       7197459       4140512
3        0.05       8887851       4752353
4        0.06      11082920       4337680
...       ...           ...           ...
28343  297.87       3512833       1861770
28344  297.88       5161379       2255585
28345  297.88       5161379       1792511
28346  297.88       3056866       2255585
28347  297.88       3056866       1792511

[28348 rows x 3 columns]
merged_df
         time   instructions     cpu-cycles        br_pred    br_mis_pred  \
0        0.06       52734363       30136684       13453760         245922
1        0.07       28798635       30146867        6525829         278219
2        0.08       34929614       30156886        7841171         269272
3        0.09       34387807       30156631        7824930         272025
4        0.11       30631732       30195177        6939939         281388
...       ...            ...            ...            ...            ...
17891  297.51       27626767       30136291        6181125          70325
17892  297.56       61275619       30554283        8859741          20093
17893  297.57       12542038       10544564        1859449          13537
17894  297.59  <not counted>  <not counted>  <not counted>  <not counted>
17895  297.60  <not counted>  <not counted>  <not counted>  <not counted>

      l1d_cache_rd l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ...  \
0          8050836      3905766  11956602  17967804           545164  ...
1          7785673      4422289  12207962  13484880           611900  ...
2          8290687      4623126  12913813  12573898           729968  ...
3          7515058      4265249  11780307  13326176           707165  ...
4          9951678      5563876  15515554  12763124           660285  ...
...            ...          ...       ...       ...              ...  ...
17891     14040430      3244922  17285352  11679034            15085  ...
17892     11468730      5051562  16520292  14620988            28557  ...
17893      6690057      3858364  10548421  13117365            14619  ...
17894      5683656      2015702   7699358  12497657            29732  ...
17895      6906131      2355130   9261261  11620102            24859  ...

      l2d_tlb_wr vfp_spec inst_spec ase_spec  stall_backend stall_frontend  \
0          15363      566  45466295    26012        5117500       10953517
1          13797      935  38455450    23373        5315989       12683299
2          15242     1252  40400607    22124        5429451       11904238
3          17072     2705  37374764    24461        5575557       12880639
4          15338      845  42211875    51597        6345867       13849004
...          ...      ...       ...      ...            ...            ...
17891      36384       54  50739055    15431  <not counted>  <not counted>
17892      45002      812  63579795    29632       14166513        2736357
17893      46402     5977  97145143    25112       14071696        5880344
17894      33193     3814  72201707    19236        7261465        2419953
17895      33293     3668  69123611    18969        7983332        5304313

      ll_cache_miss_rd     mem_access  mem_access_rd  mem_access_wr
0               125621       15420600       11082920        4337680
1               149482       11264104        7238039        4026065
2               141575       13929690        8898868        5030822
3               157093       13284239        8555511        4728728
4               166951       11950857        7591253        4359604
...                ...            ...            ...            ...
17891    <not counted>          68752          43804          24948
17892            85219  <not counted>  <not counted>  <not counted>
17893           108800  <not counted>  <not counted>  <not counted>
17894            72422  <not counted>  <not counted>  <not counted>
17895            79444  <not counted>  <not counted>  <not counted>

[17896 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014499  18201050         NaN  instructions    15346720
1         0.014499  45814930         NaN    cpu-cycles    15346720
2         0.014499   3434864         NaN       br_pred    15346720
3         0.014499    137277         NaN   br_mis_pred    15346720
4         0.025006  29377940         NaN  instructions     9810360
...            ...       ...         ...           ...         ...
123135  322.703057    120429         NaN   br_mis_pred    10064520
123136  322.709926  27313350         NaN  instructions     6535800
123137  322.709926  19577779         NaN    cpu-cycles     6535800
123138  322.709926   3925137         NaN       br_pred     6535800
123139  322.709926      7394         NaN   br_mis_pred     6535800

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0         0.4  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0         1.0  insn per cycle
...            ...         ...             ...
123135       100.0         NaN             NaN
123136       100.0         1.4  insn per cycle
123137       100.0         NaN             NaN
123138       100.0         NaN             NaN
123139       100.0         NaN             NaN

[123140 rows x 8 columns]
          time          value       counter
4         0.03       29377940  instructions
8         0.04       30855037  instructions
12        0.05       40603705  instructions
16        0.06       53151169  instructions
20        0.07       29738280  instructions
...        ...            ...           ...
123120  322.67  <not counted>  instructions
123124  322.68       22392983  instructions
123128  322.69       21778175  instructions
123132  322.70       21125141  instructions
123136  322.71       27313350  instructions

[30784 rows x 3 columns]
instructions
          time   instructions
4         0.03       29377940
8         0.04       30855037
12        0.05       40603705
16        0.06       53151169
20        0.07       29738280
...        ...            ...
123120  322.67  <not counted>
123124  322.68       22392983
123128  322.69       21778175
123132  322.70       21125141
123136  322.71       27313350

[30784 rows x 2 columns]
df3
          time     cpu-cycles
1         0.01       45814930
5         0.03       29320923
9         0.04       30133603
13        0.05       30167576
17        0.06       30126120
...        ...            ...
123121  322.67  <not counted>
123125  322.68       41103445
123129  322.69       30130034
123133  322.70       30154031
123137  322.71       19577779

[30785 rows x 2 columns]
df4
          time        br_pred
2         0.01        3434864
6         0.03        6678796
10        0.04        6984619
14        0.05        9517606
18        0.06       13555089
...        ...            ...
123122  322.67  <not counted>
123126  322.68        4519279
123130  322.69        5062022
123134  322.70        5502890
123138  322.71        3925137

[30785 rows x 2 columns]
df5
          time    br_mis_pred
3         0.01         137277
7         0.03         275567
11        0.04         282878
15        0.05         248347
19        0.06         244036
...        ...            ...
123123  322.67  <not counted>
123127  322.68          70697
123131  322.69          39648
123135  322.70         120429
123139  322.71           7394

[30785 rows x 2 columns]
df6
         time   instructions     cpu-cycles
0        0.03       29377940       29320923
1        0.04       30855037       30133603
2        0.05       40603705       30167576
3        0.06       53151169       30126120
4        0.07       29738280       30156192
...       ...            ...            ...
30779  322.67  <not counted>  <not counted>
30780  322.68       22392983       41103445
30781  322.69       21778175       30130034
30782  322.70       21125141       30154031
30783  322.71       27313350       19577779

[30784 rows x 3 columns]
df7
         time        br_pred    br_mis_pred
0        0.01        3434864         137277
1        0.03        6678796         275567
2        0.04        6984619         282878
3        0.05        9517606         248347
4        0.06       13555089         244036
...       ...            ...            ...
30780  322.67  <not counted>  <not counted>
30781  322.68        4519279          70697
30782  322.69        5062022          39648
30783  322.70        5502890         120429
30784  322.71        3925137           7394

[30785 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.015419  19078138         NaN  instructions    16210080
1         0.015419   3797229         NaN  l1d_cache_rd    16210080
2         0.015419   2345052         NaN  l1d_cache_wr    16210080
3         0.015419   6142281         NaN     l1d_cache    16210080
4         0.025903  30477256         NaN  instructions     9928960
...            ...       ...         ...           ...         ...
123051  322.312237   4570388         NaN     l1d_cache    10072360
123052  322.320204  30960422         NaN  instructions     7500560
123053  322.320204   5613793         NaN  l1d_cache_rd     7500560
123054  322.320204   3300532         NaN  l1d_cache_wr     7500560
123055  322.320204   8914325         NaN     l1d_cache     7500560

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
123051       100.0         NaN         NaN
123052       100.0         NaN         NaN
123053       100.0         NaN         NaN
123054       100.0         NaN         NaN
123055       100.0         NaN         NaN

[123056 rows x 8 columns]
          time     value       counter
4         0.03  30477256  instructions
8         0.04  29482144  instructions
12        0.05  39102333  instructions
16        0.06  53055536  instructions
20        0.07  28986647  instructions
...        ...       ...           ...
123036  322.28   6688605  instructions
123040  322.29  13696216  instructions
123044  322.30  23129857  instructions
123048  322.31  18638316  instructions
123052  322.32  30960422  instructions

[30763 rows x 3 columns]
instructions
          time instructions
4         0.03     30477256
8         0.04     29482144
12        0.05     39102333
16        0.06     53055536
20        0.07     28986647
...        ...          ...
123036  322.28      6688605
123040  322.29     13696216
123044  322.30     23129857
123048  322.31     18638316
123052  322.32     30960422

[30763 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.02      3797229
5         0.03      7368061
9         0.04      7242489
13        0.05      9177263
17        0.06     11099382
...        ...          ...
123037  322.28      1221180
123041  322.29      3098915
123045  322.30      5147720
123049  322.31      3402203
123053  322.32      5613793

[30764 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.02      2345052
6         0.03      4265488
10        0.04      4165705
14        0.05      4839269
18        0.06      4357139
...        ...          ...
123038  322.28       647841
123042  322.29      2027926
123046  322.30      2654640
123050  322.31      1168185
123054  322.32      3300532

[30764 rows x 2 columns]
df5
          time l1d_cache
3         0.02   6142281
7         0.03  11633549
11        0.04  11408194
15        0.05  14016532
19        0.06  15456521
...        ...       ...
123039  322.28   1869021
123043  322.29   5126841
123047  322.30   7802360
123051  322.31   4570388
123055  322.32   8914325

[30764 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.03     30477256      7368061
1        0.04     29482144      7242489
2        0.05     39102333      9177263
3        0.06     53055536     11099382
4        0.07     28986647      6991461
...       ...          ...          ...
30758  322.28      6688605      1221180
30759  322.29     13696216      3098915
30760  322.30     23129857      5147720
30761  322.31     18638316      3402203
30762  322.32     30960422      5613793

[30763 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.02      2345052   6142281
1        0.03      4265488  11633549
2        0.04      4165705  11408194
3        0.05      4839269  14016532
4        0.06      4357139  15456521
...       ...          ...       ...
30759  322.28       647841   1869021
30760  322.29      2027926   5126841
30761  322.30      2654640   7802360
30762  322.31      1168185   4570388
30763  322.32      3300532   8914325

[30764 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010130   9483376         NaN      instructions     9767960
1         0.010130   3410759         NaN         l1i_cache     9767960
2         0.010130    225899         NaN  l1i_cache_refill     9767960
3         0.010130     85750         NaN     remote_access     9767960
4         0.020541  21141063         NaN      instructions     9919240
...            ...       ...         ...               ...         ...
123095  322.176335      6103         NaN     remote_access    10062880
123096  322.176626     40959         NaN      instructions       33120
123097  322.176626     13225         NaN         l1i_cache       33120
123098  322.176626       540         NaN  l1i_cache_refill       33120
123099  322.176626        72         NaN     remote_access       33120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
123095       100.0         NaN         NaN
123096       100.0         NaN         NaN
123097       100.0         NaN         NaN
123098       100.0         NaN         NaN
123099       100.0         NaN         NaN

[123100 rows x 8 columns]
          time     value       counter
4         0.02  21141063  instructions
8         0.03  26802729  instructions
12        0.04  36459447  instructions
16        0.05  49266716  instructions
20        0.06  40823180  instructions
...        ...       ...           ...
123080  322.14  10679266  instructions
123084  322.16  29095306  instructions
123088  322.17  14071524  instructions
123092  322.18  39287285  instructions
123096  322.18     40959  instructions

[30774 rows x 3 columns]
instructions
          time instructions
4         0.02     21141063
8         0.03     26802729
12        0.04     36459447
16        0.05     49266716
20        0.06     40823180
...        ...          ...
123080  322.14     10679266
123084  322.16     29095306
123088  322.17     14071524
123092  322.18     39287285
123096  322.18        40959

[30774 rows x 2 columns]
df3
          time l1i_cache
1         0.01   3410759
5         0.02   8097152
9         0.03  11007071
13        0.04  14333955
17        0.05  17242016
...        ...       ...
123081  322.14   3396130
123085  322.16   9465534
123089  322.17   5309871
123093  322.18  11319395
123097  322.18     13225

[30775 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           225899
6         0.02           420546
10        0.03           640341
14        0.04           709737
18        0.05           575412
...        ...              ...
123082  322.14            61159
123086  322.16           235149
123090  322.17            27397
123094  322.18            10875
123098  322.18              540

[30775 rows x 2 columns]
df5
          time remote_access
3         0.01         85750
7         0.02         56797
11        0.03         40058
15        0.04         43016
19        0.05         14734
...        ...           ...
123083  322.14         11090
123087  322.16         13138
123091  322.17          3502
123095  322.18          6103
123099  322.18            72

[30775 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     21141063   8097152
1        0.03     26802729  11007071
2        0.04     36459447  14333955
3        0.05     49266716  17242016
4        0.06     40823180  14957865
...       ...          ...       ...
30771  322.17     14071524   5309871
30772  322.18     39287285  11319395
30773  322.18     39287285     13225
30774  322.18        40959  11319395
30775  322.18        40959     13225

[30776 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           225899         85750
1        0.02           420546         56797
2        0.03           640341         40058
3        0.04           709737         43016
4        0.05           575412         14734
...       ...              ...           ...
30772  322.17            27397          3502
30773  322.18            10875          6103
30774  322.18            10875            72
30775  322.18              540          6103
30776  322.18              540            72

[30777 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014575  17960622         NaN  instructions    15433640
1         0.014575    629767         NaN  l2d_cache_rd    15433640
2         0.014575    217394         NaN  l2d_cache_wr    15433640
3         0.014575    847161         NaN     l2d_cache    15433640
4         0.025067  29758228         NaN  instructions     9921760
...            ...       ...         ...           ...         ...
123051  322.652116   1277696         NaN     l2d_cache    10071960
123052  322.660275  32081068         NaN  instructions     7817160
123053  322.660275    142523         NaN  l2d_cache_rd     7817160
123054  322.660275    136148         NaN  l2d_cache_wr     7817160
123055  322.660275    278671         NaN     l2d_cache     7817160

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
123051       100.0         NaN         NaN
123052       100.0         NaN         NaN
123053       100.0         NaN         NaN
123054       100.0         NaN         NaN
123055       100.0         NaN         NaN

[123056 rows x 8 columns]
          time     value       counter
4         0.03  29758228  instructions
8         0.04  29946727  instructions
12        0.05  37003942  instructions
16        0.06  53167741  instructions
20        0.07  29115470  instructions
...        ...       ...           ...
123036  322.62     17343  instructions
123040  322.63  20107041  instructions
123044  322.64  22961750  instructions
123048  322.65  17697959  instructions
123052  322.66  32081068  instructions

[30763 rows x 3 columns]
instructions
          time instructions
4         0.03     29758228
8         0.04     29946727
12        0.05     37003942
16        0.06     53167741
20        0.07     29115470
...        ...          ...
123036  322.62        17343
123040  322.63     20107041
123044  322.64     22961750
123048  322.65     17697959
123052  322.66     32081068

[30763 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       629767
5         0.03       808843
9         0.04       885900
13        0.05       792872
17        0.06       948657
...        ...          ...
123037  322.62         2858
123041  322.63       400066
123045  322.64       399623
123049  322.65       673321
123053  322.66       142523

[30764 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       217394
6         0.03       184902
10        0.04       195834
14        0.05       231335
18        0.06       428127
...        ...          ...
123038  322.62          448
123042  322.63       172146
123046  322.64       267348
123050  322.65       604375
123054  322.66       136148

[30764 rows x 2 columns]
df5
          time l2d_cache
3         0.01    847161
7         0.03    993745
11        0.04   1081734
15        0.05   1024207
19        0.06   1376784
...        ...       ...
123039  322.62      3306
123043  322.63    572212
123047  322.64    666971
123051  322.65   1277696
123055  322.66    278671

[30764 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.03     29758228       808843
1        0.04     29946727       885900
2        0.05     37003942       792872
3        0.06     53167741       948657
4        0.07     29115470       859562
...       ...          ...          ...
30758  322.62        17343         2858
30759  322.63     20107041       400066
30760  322.64     22961750       399623
30761  322.65     17697959       673321
30762  322.66     32081068       142523

[30763 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       217394    847161
1        0.03       184902    993745
2        0.04       195834   1081734
3        0.05       231335   1024207
4        0.06       428127   1376784
...       ...          ...       ...
30759  322.62          448      3306
30760  322.63       172146    572212
30761  322.64       267348    666971
30762  322.65       604375   1277696
30763  322.66       136148    278671

[30764 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014159  18712268         NaN  instructions    15241280
1         0.014159   8489292         NaN       l1d_tlb    15241280
2         0.014159   5782521         NaN    l1d_tlb_rd    15241280
3         0.014159   2706771         NaN    l1d_tlb_wr    15241280
4         0.024537  30680843         NaN  instructions     9906320
...            ...       ...         ...           ...         ...
122935  322.263174   3480627         NaN    l1d_tlb_wr    10224440
122936  322.264088   1425856         NaN  instructions      578840
122937  322.264088    564232         NaN       l1d_tlb      578840
122938  322.264088    404932         NaN    l1d_tlb_rd      578840
122939  322.264088    159300         NaN    l1d_tlb_wr      578840

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
122935       100.0         NaN         NaN
122936       100.0         NaN         NaN
122937       100.0         NaN         NaN
122938       100.0         NaN         NaN
122939       100.0         NaN         NaN

[122940 rows x 8 columns]
          time     value       counter
4         0.02  30680843  instructions
8         0.03  30648413  instructions
12        0.05  42558921  instructions
16        0.06  51156408  instructions
20        0.07  29515736  instructions
...        ...       ...           ...
122920  322.23  15310105  instructions
122924  322.24  23559780  instructions
122928  322.25  14289488  instructions
122932  322.26  38546770  instructions
122936  322.26   1425856  instructions

[30734 rows x 3 columns]
instructions
          time instructions
4         0.02     30680843
8         0.03     30648413
12        0.05     42558921
16        0.06     51156408
20        0.07     29515736
...        ...          ...
122920  322.23     15310105
122924  322.24     23559780
122928  322.25     14289488
122932  322.26     38546770
122936  322.26      1425856

[30734 rows x 2 columns]
df3
          time   l1d_tlb
1         0.01   8489292
5         0.02  13134091
9         0.03  13286236
13        0.05  16349779
17        0.06  16336172
...        ...       ...
122921  322.23   6100352
122925  322.24   8879591
122929  322.25   5036918
122933  322.26  13138065
122937  322.26    564232

[30735 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    5782521
6         0.02    8501517
10        0.03    8608988
14        0.05   10938824
18        0.06   11774123
...        ...        ...
122922  322.23    4035946
122926  322.24    5912743
122930  322.25    3602060
122934  322.26    9657438
122938  322.26     404932

[30735 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    2706771
7         0.02    4632574
11        0.03    4677248
15        0.05    5410955
19        0.06    4562049
...        ...        ...
122923  322.23    2064406
122927  322.24    2966848
122931  322.25    1434858
122935  322.26    3480627
122939  322.26     159300

[30735 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.02     30680843  13134091
1        0.03     30648413  13286236
2        0.05     42558921  16349779
3        0.06     51156408  16336172
4        0.07     29515736  12833142
...       ...          ...       ...
30731  322.25     14289488   5036918
30732  322.26     38546770  13138065
30733  322.26     38546770    564232
30734  322.26      1425856  13138065
30735  322.26      1425856    564232

[30736 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    5782521    2706771
1        0.02    8501517    4632574
2        0.03    8608988    4677248
3        0.05   10938824    5410955
4        0.06   11774123    4562049
...       ...        ...        ...
30732  322.25    3602060    1434858
30733  322.26    9657438    3480627
30734  322.26    9657438     159300
30735  322.26     404932    3480627
30736  322.26     404932     159300

[30737 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011390  12798044         NaN  instructions    12337520
1         0.011390     20548         NaN     dtlb_walk    12337520
2         0.011390      1879         NaN     itlb_walk    12337520
3         0.011390   4237579         NaN       l1i_tlb    12337520
4         0.021786  25067291         NaN  instructions     9882000
...            ...       ...         ...           ...         ...
123403  323.156741   4986303         NaN       l1i_tlb    10066160
123404  323.167222  38915384         NaN  instructions     9945760
123405  323.167222     16192         NaN     dtlb_walk     9945760
123406  323.167222       226         NaN     itlb_walk     9945760
123407  323.167222   8369021         NaN       l1i_tlb     9945760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
123403       100.0         NaN         NaN
123404       100.0         NaN         NaN
123405       100.0         NaN         NaN
123406       100.0         NaN         NaN
123407       100.0         NaN         NaN

[123408 rows x 8 columns]
          time          value       counter
4         0.02       25067291  instructions
8         0.03       28942443  instructions
12        0.04       32176333  instructions
16        0.05       50169624  instructions
20        0.06       38374474  instructions
...        ...            ...           ...
123388  323.12  <not counted>  instructions
123392  323.14       16319588  instructions
123396  323.15       23615077  instructions
123400  323.16       14148462  instructions
123404  323.17       38915384  instructions

[30851 rows x 3 columns]
instructions
          time   instructions
4         0.02       25067291
8         0.03       28942443
12        0.04       32176333
16        0.05       50169624
20        0.06       38374474
...        ...            ...
123388  323.12  <not counted>
123392  323.14       16319588
123396  323.15       23615077
123400  323.16       14148462
123404  323.17       38915384

[30851 rows x 2 columns]
df3
          time      dtlb_walk
1         0.01          20548
5         0.02           6934
9         0.03           3887
13        0.04           4718
17        0.05           2370
...        ...            ...
123389  323.12  <not counted>
123393  323.14          14223
123397  323.15          19072
123401  323.16          37543
123405  323.17          16192

[30852 rows x 2 columns]
df4
          time      itlb_walk
2         0.01           1879
6         0.02           1237
10        0.03           1055
14        0.04           1132
18        0.05            423
...        ...            ...
123390  323.12  <not counted>
123394  323.14           1530
123398  323.15           1056
123402  323.16            258
123406  323.17            226

[30852 rows x 2 columns]
df5
          time        l1i_tlb
3         0.01        4237579
7         0.02        8411028
11        0.03        9807936
15        0.04       10569412
19        0.05       13218904
...        ...            ...
123391  323.12  <not counted>
123395  323.14        4685286
123399  323.15        6055745
123403  323.16        4986303
123407  323.17        8369021

[30852 rows x 2 columns]
df6
         time   instructions      dtlb_walk
0        0.02       25067291           6934
1        0.03       28942443           3887
2        0.04       32176333           4718
3        0.05       50169624           2370
4        0.06       38374474           4141
...       ...            ...            ...
30846  323.12  <not counted>  <not counted>
30847  323.14       16319588          14223
30848  323.15       23615077          19072
30849  323.16       14148462          37543
30850  323.17       38915384          16192

[30851 rows x 3 columns]
df7
         time      itlb_walk        l1i_tlb
0        0.01           1879        4237579
1        0.02           1237        8411028
2        0.03           1055        9807936
3        0.04           1132       10569412
4        0.05            423       13218904
...       ...            ...            ...
30847  323.12  <not counted>  <not counted>
30848  323.14           1530        4685286
30849  323.15           1056        6055745
30850  323.16            258        4986303
30851  323.17            226        8369021

[30852 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011619  12910467         NaN  instructions    12410480
1         0.011619     82169         NaN       l2d_tlb    12410480
2         0.011619     68010         NaN    l2d_tlb_rd    12410480
3         0.011619     14159         NaN    l2d_tlb_wr    12410480
4         0.022087  26008754         NaN  instructions     9978720
...            ...       ...         ...           ...         ...
123527  323.745725      8496         NaN    l2d_tlb_wr    10067640
123528  323.755978  38166482         NaN  instructions     9807360
123529  323.755978     47419         NaN       l2d_tlb     9807360
123530  323.755978     36582         NaN    l2d_tlb_rd     9807360
123531  323.755978     10837         NaN    l2d_tlb_wr     9807360

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
123527       100.0         NaN         NaN
123528       100.0         NaN         NaN
123529       100.0         NaN         NaN
123530       100.0         NaN         NaN
123531       100.0         NaN         NaN

[123532 rows x 8 columns]
          time     value       counter
4         0.02  26008754  instructions
8         0.03  28067031  instructions
12        0.04  32133713  instructions
16        0.05  51943779  instructions
20        0.06  37212047  instructions
...        ...       ...           ...
123512  323.71     98678  instructions
123516  323.72  13791187  instructions
123520  323.74  27018633  instructions
123524  323.75  14342141  instructions
123528  323.76  38166482  instructions

[30882 rows x 3 columns]
instructions
          time instructions
4         0.02     26008754
8         0.03     28067031
12        0.04     32133713
16        0.05     51943779
20        0.06     37212047
...        ...          ...
123512  323.71        98678
123516  323.72     13791187
123520  323.74     27018633
123524  323.75     14342141
123528  323.76     38166482

[30882 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   82169
5         0.02  218811
9         0.03  269191
13        0.04  282537
17        0.05  418726
...        ...     ...
123513  323.71    1391
123517  323.72   97429
123521  323.74  239601
123525  323.75  146163
123529  323.76   47419

[30883 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      68010
6         0.02     206584
10        0.03     256502
14        0.04     269043
18        0.05     404526
...        ...        ...
123514  323.71       1303
123518  323.72      88002
123522  323.74     221860
123526  323.75     137667
123530  323.76      36582

[30883 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      14159
7         0.02      12227
11        0.03      12689
15        0.04      13494
19        0.05      14200
...        ...        ...
123515  323.71         88
123519  323.72       9427
123523  323.74      17741
123527  323.75       8496
123531  323.76      10837

[30883 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     26008754  218811
1        0.03     28067031  269191
2        0.04     32133713  282537
3        0.05     51943779  418726
4        0.06     37212047  329294
...       ...          ...     ...
30877  323.71        98678    1391
30878  323.72     13791187   97429
30879  323.74     27018633  239601
30880  323.75     14342141  146163
30881  323.76     38166482   47419

[30882 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      68010      14159
1        0.02     206584      12227
2        0.03     256502      12689
3        0.04     269043      13494
4        0.05     404526      14200
...       ...        ...        ...
30878  323.71       1303         88
30879  323.72      88002       9427
30880  323.74     221860      17741
30881  323.75     137667       8496
30882  323.76      36582      10837

[30883 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.013076  14229031         NaN  instructions    13824520
1         0.013076        54         NaN      vfp_spec    13824520
2         0.013076  17004870         NaN     inst_spec    13824520
3         0.013076     11189         NaN      ase_spec    13824520
4         0.023553  29141215         NaN  instructions     9995440
...            ...       ...         ...           ...         ...
123279  322.629765         3         NaN      ase_spec    10285920
123280  322.636167  24740156         NaN  instructions     6009720
123281  322.636167         0         NaN      vfp_spec     6009720
123282  322.636167  25180919         NaN     inst_spec     6009720
123283  322.636167         0         NaN      ase_spec     6009720

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
123279       100.0         NaN         NaN
123280       100.0         NaN         NaN
123281       100.0         NaN         NaN
123282       100.0         NaN         NaN
123283       100.0         NaN         NaN

[123284 rows x 8 columns]
          time     value       counter
4         0.02  29141215  instructions
8         0.03  27668487  instructions
12        0.04  33171177  instructions
16        0.05  53236088  instructions
20        0.07  39818771  instructions
...        ...       ...           ...
123264  322.60   6652159  instructions
123268  322.61  18418352  instructions
123272  322.62  19955476  instructions
123276  322.63  23165395  instructions
123280  322.64  24740156  instructions

[30820 rows x 3 columns]
instructions
          time instructions
4         0.02     29141215
8         0.03     27668487
12        0.04     33171177
16        0.05     53236088
20        0.07     39818771
...        ...          ...
123264  322.60      6652159
123268  322.61     18418352
123272  322.62     19955476
123276  322.63     23165395
123280  322.64     24740156

[30820 rows x 2 columns]
df3
          time vfp_spec
1         0.01       54
5         0.02     3511
9         0.03     1351
13        0.04      607
17        0.05      370
...        ...      ...
123265  322.60        8
123269  322.61      247
123273  322.62        0
123277  322.63        0
123281  322.64        0

[30821 rows x 2 columns]
df4
          time inst_spec
2         0.01  17004870
6         0.02  36527399
10        0.03  34712757
14        0.04  40736109
18        0.05  60731796
...        ...       ...
123266  322.60   7008994
123270  322.61  21122982
123274  322.62  21641149
123278  322.63  27859298
123282  322.64  25180919

[30821 rows x 2 columns]
df5
          time ase_spec
3         0.01    11189
7         0.02    37597
11        0.03    18461
15        0.04    24781
19        0.05    32684
...        ...      ...
123267  322.60        3
123271  322.61     3666
123275  322.62      832
123279  322.63        3
123283  322.64        0

[30821 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     29141215     3511
1        0.03     27668487     1351
2        0.04     33171177      607
3        0.05     53236088      370
4        0.07     39818771      848
...       ...          ...      ...
30815  322.60      6652159        8
30816  322.61     18418352      247
30817  322.62     19955476        0
30818  322.63     23165395        0
30819  322.64     24740156        0

[30820 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  17004870    11189
1        0.02  36527399    37597
2        0.03  34712757    18461
3        0.04  40736109    24781
4        0.05  60731796    32684
...       ...       ...      ...
30816  322.60   7008994        3
30817  322.61  21122982     3666
30818  322.62  21641149      832
30819  322.63  27859298        3
30820  322.64  25180919        0

[30821 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.011723  13102586         NaN      instructions    12650960
1         0.011723  13880310         NaN     stall_backend    12650960
2         0.011723  19036090         NaN    stall_frontend    12650960
3         0.011723    219525         NaN  ll_cache_miss_rd    12650960
4         0.022219  25561674         NaN      instructions     9977440
...            ...       ...         ...               ...         ...
123295  322.772180    542540         NaN  ll_cache_miss_rd    10074520
123296  322.782149  37149918         NaN      instructions     9545400
123297  322.782149  15827539         NaN     stall_backend     9545400
123298  322.782149   1240046         NaN    stall_frontend     9545400
123299  322.782149    425356         NaN  ll_cache_miss_rd     9545400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
123295       100.0         NaN         NaN
123296       100.0         NaN         NaN
123297       100.0         NaN         NaN
123298       100.0         NaN         NaN
123299       100.0         NaN         NaN

[123300 rows x 8 columns]
          time          value       counter
4         0.02       25561674  instructions
8         0.03       27524748  instructions
12        0.04       32036049  instructions
16        0.05       50088914  instructions
20        0.06       38026267  instructions
...        ...            ...           ...
123280  322.74  <not counted>  instructions
123284  322.75       16743576  instructions
123288  322.76       23919592  instructions
123292  322.77       15313382  instructions
123296  322.78       37149918  instructions

[30824 rows x 3 columns]
instructions
          time   instructions
4         0.02       25561674
8         0.03       27524748
12        0.04       32036049
16        0.05       50088914
20        0.06       38026267
...        ...            ...
123280  322.74  <not counted>
123284  322.75       16743576
123288  322.76       23919592
123292  322.77       15313382
123296  322.78       37149918

[30824 rows x 2 columns]
df3
          time  stall_backend
1         0.01       13880310
5         0.02        6989617
9         0.03        5558032
13        0.04        5684153
17        0.05        4750640
...        ...            ...
123281  322.74  <not counted>
123285  322.75       22680355
123289  322.76       19735808
123293  322.77       23186301
123297  322.78       15827539

[30825 rows x 2 columns]
df4
          time stall_frontend
2         0.01       19036090
6         0.02       12907787
10        0.03       13100087
14        0.04       12143033
18        0.05        8106455
...        ...            ...
123282  322.74  <not counted>
123286  322.75        4798865
123290  322.76        2337898
123294  322.77        1081005
123298  322.78        1240046

[30825 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           219525
7         0.02           155719
11        0.03           151507
15        0.04           165591
19        0.05            90912
...        ...              ...
123283  322.74    <not counted>
123287  322.75           127298
123291  322.76           186870
123295  322.77           542540
123299  322.78           425356

[30825 rows x 2 columns]
df6
         time   instructions  stall_backend
0        0.02       25561674        6989617
1        0.03       27524748        5558032
2        0.04       32036049        5684153
3        0.05       50088914        4750640
4        0.06       38026267        5410817
...       ...            ...            ...
30819  322.74  <not counted>  <not counted>
30820  322.75       16743576       22680355
30821  322.76       23919592       19735808
30822  322.77       15313382       23186301
30823  322.78       37149918       15827539

[30824 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01       19036090           219525
1        0.02       12907787           155719
2        0.03       13100087           151507
3        0.04       12143033           165591
4        0.05        8106455            90912
...       ...            ...              ...
30820  322.74  <not counted>    <not counted>
30821  322.75        4798865           127298
30822  322.76        2337898           186870
30823  322.77        1081005           542540
30824  322.78        1240046           425356

[30825 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.011586  12840243         NaN   instructions    12538800
1         0.011586   4016149         NaN     mem_access    12538800
2         0.011586   2482469         NaN  mem_access_rd    12538800
3         0.011586   1533680         NaN  mem_access_wr    12538800
4         0.022050  24443108         NaN   instructions     9617680
...            ...       ...         ...            ...         ...
123255  323.053065   1220665         NaN  mem_access_wr    10066360
123256  323.060782  30010833         NaN   instructions     7362520
123257  323.060782   8632105         NaN     mem_access     7362520
123258  323.060782   5430817         NaN  mem_access_rd     7362520
123259  323.060782   3201288         NaN  mem_access_wr     7362520

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
123255       100.0         NaN         NaN
123256       100.0         NaN         NaN
123257       100.0         NaN         NaN
123258       100.0         NaN         NaN
123259       100.0         NaN         NaN

[123260 rows x 8 columns]
          time          value       counter
4         0.02       24443108  instructions
8         0.03       28326408  instructions
12        0.04       32194905  instructions
16        0.05       50605455  instructions
20        0.06       38748371  instructions
...        ...            ...           ...
123240  323.02  <not counted>  instructions
123244  323.03       21480610  instructions
123248  323.04       22708937  instructions
123252  323.05       19217814  instructions
123256  323.06       30010833  instructions

[30814 rows x 3 columns]
instructions
          time   instructions
4         0.02       24443108
8         0.03       28326408
12        0.04       32194905
16        0.05       50605455
20        0.06       38748371
...        ...            ...
123240  323.02  <not counted>
123244  323.03       21480610
123248  323.04       22708937
123252  323.05       19217814
123256  323.06       30010833

[30814 rows x 2 columns]
df3
          time     mem_access
1         0.01        4016149
5         0.02        9035608
9         0.03       10944361
13        0.04       12361139
17        0.05       15553536
...        ...            ...
123241  323.02  <not counted>
123245  323.03        7407180
123249  323.04        7659156
123253  323.05        4714245
123257  323.06        8632105

[30815 rows x 2 columns]
df4
          time  mem_access_rd
2         0.01        2482469
6         0.02        5700207
10        0.03        6906700
14        0.04        7881309
18        0.05       10909924
...        ...            ...
123242  323.02  <not counted>
123246  323.03        4575268
123250  323.04        5045308
123254  323.05        3493580
123258  323.06        5430817

[30815 rows x 2 columns]
df5
          time  mem_access_wr
3         0.01        1533680
7         0.02        3335401
11        0.03        4037661
15        0.04        4479830
19        0.05        4643612
...        ...            ...
123243  323.02  <not counted>
123247  323.03        2831912
123251  323.04        2613848
123255  323.05        1220665
123259  323.06        3201288

[30815 rows x 2 columns]
df6
         time   instructions     mem_access
0        0.02       24443108        9035608
1        0.03       28326408       10944361
2        0.04       32194905       12361139
3        0.05       50605455       15553536
4        0.06       38748371       12694617
...       ...            ...            ...
30809  323.02  <not counted>  <not counted>
30810  323.03       21480610        7407180
30811  323.04       22708937        7659156
30812  323.05       19217814        4714245
30813  323.06       30010833        8632105

[30814 rows x 3 columns]
df7
         time  mem_access_rd  mem_access_wr
0        0.01        2482469        1533680
1        0.02        5700207        3335401
2        0.03        6906700        4037661
3        0.04        7881309        4479830
4        0.05       10909924        4643612
...       ...            ...            ...
30810  323.02  <not counted>  <not counted>
30811  323.03        4575268        2831912
30812  323.04        5045308        2613848
30813  323.05        3493580        1220665
30814  323.06        5430817        3201288

[30815 rows x 3 columns]
merged_df
         time instructions cpu-cycles   br_pred br_mis_pred   l1d_cache_rd  \
0        0.03     29377940   29320923   6678796      275567        7368061
1        0.05     40603705   30167576   9517606      248347        9177263
2        0.07     29738280   30156192   6737614      287904        6991461
3        0.08     35664082   30153419   8009385      272818        8811723
4        0.09     33684914   30153529   7648265      269816        8514839
...       ...          ...        ...       ...         ...            ...
20242  322.09     55509857   29805608  11987013      132499        6907774
20243  322.10     67348213   30199615  14559710      113587        3268834
20244  322.11     52696290   32278851  11496449      186607        5306503
20245  322.16     16504781   30143225   3704195       22317  <not counted>
20246  322.17     20374433   30169324   5120949       55950  <not counted>

        l1d_cache_wr      l1d_cache      l1i_cache l1i_cache_refill  ...  \
0            4265488       11633549       11007071           640341  ...
1            4839269       14016532       17242016           575412  ...
2            3945698       10937159       12302195           712529  ...
3            4975364       13787087       12607687           680118  ...
4            4712219       13227058       12084802           665698  ...
...              ...            ...            ...              ...  ...
20242        3156308       10064082  <not counted>    <not counted>  ...
20243        1694443        4963277  <not counted>    <not counted>  ...
20244        2555506        7862009  <not counted>    <not counted>  ...
20245  <not counted>  <not counted>        9465534           235149  ...
20246  <not counted>  <not counted>        5309871            27397  ...

      l2d_tlb_wr       vfp_spec      inst_spec       ase_spec stall_backend  \
0          12689           1351       34712757          18461       5558032
1          14200            370       60731796          32684       4750640
2          14455            848       49056487          30707       5465083
3          17066            873       42778534          21892       5630273
4          15682           1649       39253461          22767       5652239
...          ...            ...            ...            ...           ...
20242      47799              0       20376993              0       8585965
20243      47000              0       36693670              0       7566381
20244      47776             28       29630263              0       6195013
20245      51316  <not counted>  <not counted>  <not counted>       6406665
20246      47028  <not counted>  <not counted>  <not counted>       3611451

      stall_frontend ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0           13100087           151507   10944361       6906700       4037661
1            8106455            90912   15553536      10909924       4643612
2           12772406           150691   11946244       7607656       4338588
3           11752634           143658   12286205       7873235       4412970
4           12942991           159305   11472133       7341707       4130426
...              ...              ...        ...           ...           ...
20242        4667499           230478   20885099      13375176       7509923
20243        6248024           150321   24908762      15911688       8997074
20244        6696936            81451   22274837      14227237       8047600
20245        4642999           126366   21222654      13804997       7417657
20246        4361675            49633   21346334      13463546       7882788

[20247 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014940  17620602         NaN  instructions    15940120
1         0.014940  47542850         NaN    cpu-cycles    15940120
2         0.014940   3285476         NaN       br_pred    15940120
3         0.014940    125201         NaN   br_mis_pred    15940120
4         0.025404  30084524         NaN  instructions     9963160
...            ...       ...         ...           ...         ...
119783  314.753569     97829         NaN   br_mis_pred    10069640
119784  314.763255  37271005         NaN  instructions     9335000
119785  314.763255  27975104         NaN    cpu-cycles     9335000
119786  314.763255   6369067         NaN       br_pred     9335000
119787  314.763255     46924         NaN   br_mis_pred     9335000

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.37  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        1.01  insn per cycle
...            ...         ...             ...
119783       100.0         NaN             NaN
119784       100.0        1.33  insn per cycle
119785       100.0         NaN             NaN
119786       100.0         NaN             NaN
119787       100.0         NaN             NaN

[119788 rows x 8 columns]
          time          value       counter
4         0.03       30084524  instructions
8         0.04       29053460  instructions
12        0.05       35979504  instructions
16        0.06       53092477  instructions
20        0.07       29478797  instructions
...        ...            ...           ...
119768  314.72  <not counted>  instructions
119772  314.73       16186769  instructions
119776  314.74       23998906  instructions
119780  314.75       15112770  instructions
119784  314.76       37271005  instructions

[29946 rows x 3 columns]
instructions
          time   instructions
4         0.03       30084524
8         0.04       29053460
12        0.05       35979504
16        0.06       53092477
20        0.07       29478797
...        ...            ...
119768  314.72  <not counted>
119772  314.73       16186769
119776  314.74       23998906
119780  314.75       15112770
119784  314.76       37271005

[29946 rows x 2 columns]
df3
          time     cpu-cycles
1         0.01       47542850
5         0.03       29818862
9         0.04       29893352
13        0.05       30173712
17        0.06       30165937
...        ...            ...
119769  314.72  <not counted>
119773  314.73       31353640
119777  314.74       30135830
119781  314.75       30172423
119785  314.76       27975104

[29947 rows x 2 columns]
df4
          time        br_pred
2         0.01        3285476
6         0.03        6853639
10        0.04        6565363
14        0.05        8332174
18        0.06       13502569
...        ...            ...
119770  314.72  <not counted>
119774  314.73        3180997
119778  314.74        5358690
119782  314.75        4122726
119786  314.76        6369067

[29947 rows x 2 columns]
df5
          time    br_mis_pred
3         0.01         125201
7         0.03         286889
11        0.04         263080
15        0.05         248438
19        0.06         234348
...        ...            ...
119771  314.72  <not counted>
119775  314.73          54497
119779  314.74          40652
119783  314.75          97829
119787  314.76          46924

[29947 rows x 2 columns]
df6
         time   instructions     cpu-cycles
0        0.03       30084524       29818862
1        0.04       29053460       29893352
2        0.05       35979504       30173712
3        0.06       53092477       30165937
4        0.07       29478797       30200834
...       ...            ...            ...
29941  314.72  <not counted>  <not counted>
29942  314.73       16186769       31353640
29943  314.74       23998906       30135830
29944  314.75       15112770       30172423
29945  314.76       37271005       27975104

[29946 rows x 3 columns]
df7
         time        br_pred    br_mis_pred
0        0.01        3285476         125201
1        0.03        6853639         286889
2        0.04        6565363         263080
3        0.05        8332174         248438
4        0.06       13502569         234348
...       ...            ...            ...
29942  314.72  <not counted>  <not counted>
29943  314.73        3180997          54497
29944  314.74        5358690          40652
29945  314.75        4122726          97829
29946  314.76        6369067          46924

[29947 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010091   8635218         NaN  instructions     9082600
1         0.010091   1667112         NaN  l1d_cache_rd     9082600
2         0.010091   1041009         NaN  l1d_cache_wr     9082600
3         0.010091   2708121         NaN     l1d_cache     9082600
4         0.022525  22422793         NaN  instructions    11637320
...            ...       ...         ...           ...         ...
119691  315.042307  10246505         NaN     l1d_cache    10066320
119692  315.043108    861802         NaN  instructions      404480
119693  315.043108    157863         NaN  l1d_cache_rd      404480
119694  315.043108     98789         NaN  l1d_cache_wr      404480
119695  315.043108    256652         NaN     l1d_cache      404480

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
119691       100.0         NaN         NaN
119692       100.0         NaN         NaN
119693       100.0         NaN         NaN
119694       100.0         NaN         NaN
119695       100.0         NaN         NaN

[119696 rows x 8 columns]
          time     value       counter
4         0.02  22422793  instructions
8         0.03  28576857  instructions
12        0.04  31071089  instructions
16        0.05  42665944  instructions
20        0.06  47023952  instructions
...        ...       ...           ...
119676  315.01  15366406  instructions
119680  315.02  23326732  instructions
119684  315.03  14471330  instructions
119688  315.04  38674141  instructions
119692  315.04    861802  instructions

[29923 rows x 3 columns]
instructions
          time instructions
4         0.02     22422793
8         0.03     28576857
12        0.04     31071089
16        0.05     42665944
20        0.06     47023952
...        ...          ...
119676  315.01     15366406
119680  315.02     23326732
119684  315.03     14471330
119688  315.04     38674141
119692  315.04       861802

[29923 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      1667112
5         0.02      4944635
9         0.03      6990497
13        0.04      7528012
17        0.05      9616928
...        ...          ...
119677  315.01      3193662
119681  315.02      5305328
119685  315.03      2958760
119689  315.04      6772406
119693  315.04       157863

[29924 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1041009
6         0.02      2934693
10        0.03      4067004
14        0.04      4326610
18        0.05      4529927
...        ...          ...
119678  315.01      2001843
119682  315.02      2838481
119686  315.03      1332522
119690  315.04      3474099
119694  315.04        98789

[29924 rows x 2 columns]
df5
          time l1d_cache
3         0.01   2708121
7         0.02   7879328
11        0.03  11057501
15        0.04  11854622
19        0.05  14146855
...        ...       ...
119679  315.01   5195505
119683  315.02   8143809
119687  315.03   4291282
119691  315.04  10246505
119695  315.04    256652

[29924 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     22422793      4944635
1        0.03     28576857      6990497
2        0.04     31071089      7528012
3        0.05     42665944      9616928
4        0.06     47023952     10058024
...       ...          ...          ...
29920  315.03     14471330      2958760
29921  315.04     38674141      6772406
29922  315.04     38674141       157863
29923  315.04       861802      6772406
29924  315.04       861802       157863

[29925 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      1041009   2708121
1        0.02      2934693   7879328
2        0.03      4067004  11057501
3        0.04      4326610  11854622
4        0.05      4529927  14146855
...       ...          ...       ...
29921  315.03      1332522   4291282
29922  315.04      3474099  10246505
29923  315.04      3474099    256652
29924  315.04        98789  10246505
29925  315.04        98789    256652

[29926 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.014321  17940746         NaN      instructions    15158240
1         0.014321   6572717         NaN         l1i_cache    15158240
2         0.014321    412249         NaN  l1i_cache_refill    15158240
3         0.014321    114997         NaN     remote_access    15158240
4         0.024796  29337490         NaN      instructions     9802040
...            ...       ...         ...               ...         ...
119751  315.464847      4005         NaN     remote_access    10068040
119752  315.475346  39094970         NaN      instructions    10001920
119753  315.475346  11178244         NaN         l1i_cache    10001920
119754  315.475346     10274         NaN  l1i_cache_refill    10001920
119755  315.475346      6281         NaN     remote_access    10001920

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
119751       100.0         NaN         NaN
119752       100.0         NaN         NaN
119753       100.0         NaN         NaN
119754       100.0         NaN         NaN
119755       100.0         NaN         NaN

[119756 rows x 8 columns]
          time          value       counter
4         0.02       29337490  instructions
8         0.04       30407231  instructions
12        0.05       37923998  instructions
16        0.06       53477235  instructions
20        0.07       29517907  instructions
...        ...            ...           ...
119736  315.43  <not counted>  instructions
119740  315.44       16607959  instructions
119744  315.45       23474576  instructions
119748  315.46       14117404  instructions
119752  315.48       39094970  instructions

[29938 rows x 3 columns]
instructions
          time   instructions
4         0.02       29337490
8         0.04       30407231
12        0.05       37923998
16        0.06       53477235
20        0.07       29517907
...        ...            ...
119736  315.43  <not counted>
119740  315.44       16607959
119744  315.45       23474576
119748  315.46       14117404
119752  315.48       39094970

[29938 rows x 2 columns]
df3
          time      l1i_cache
1         0.01        6572717
5         0.02       11849014
9         0.04       12189651
13        0.05       14225478
17        0.06       18203949
...        ...            ...
119737  315.43  <not counted>
119741  315.44        5689803
119745  315.45        7297932
119749  315.46        5336135
119753  315.48       11178244

[29939 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           412249
6         0.02           623286
10        0.04           708805
14        0.05           569757
18        0.06           528607
...        ...              ...
119738  315.43    <not counted>
119742  315.44           135837
119746  315.45           175069
119750  315.46            16711
119754  315.48            10274

[29939 rows x 2 columns]
df5
          time  remote_access
3         0.01         114997
7         0.02          33617
11        0.04          33707
15        0.05          26002
19        0.06          10908
...        ...            ...
119739  315.43  <not counted>
119743  315.44          22007
119747  315.45           5580
119751  315.46           4005
119755  315.48           6281

[29939 rows x 2 columns]
df6
         time   instructions      l1i_cache
0        0.02       29337490       11849014
1        0.04       30407231       12189651
2        0.05       37923998       14225478
3        0.06       53477235       18203949
4        0.07       29517907       11864672
...       ...            ...            ...
29933  315.43  <not counted>  <not counted>
29934  315.44       16607959        5689803
29935  315.45       23474576        7297932
29936  315.46       14117404        5336135
29937  315.48       39094970       11178244

[29938 rows x 3 columns]
df7
         time l1i_cache_refill  remote_access
0        0.01           412249         114997
1        0.02           623286          33617
2        0.04           708805          33707
3        0.05           569757          26002
4        0.06           528607          10908
...       ...              ...            ...
29934  315.43    <not counted>  <not counted>
29935  315.44           135837          22007
29936  315.45           175069           5580
29937  315.46            16711           4005
29938  315.48            10274           6281

[29939 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011933  13173000         NaN  instructions    12856240
1         0.011933    476590         NaN  l2d_cache_rd    12856240
2         0.011933    168018         NaN  l2d_cache_wr    12856240
3         0.011933    644608         NaN     l2d_cache    12856240
4         0.022416  25886130         NaN  instructions     9964960
...            ...       ...         ...           ...         ...
119791  314.982621   1272734         NaN     l2d_cache    10080920
119792  314.991476  32787999         NaN  instructions     8307320
119793  314.991476    172183         NaN  l2d_cache_rd     8307320
119794  314.991476    160055         NaN  l2d_cache_wr     8307320
119795  314.991476    332238         NaN     l2d_cache     8307320

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
119791       100.0         NaN         NaN
119792       100.0         NaN         NaN
119793       100.0         NaN         NaN
119794       100.0         NaN         NaN
119795       100.0         NaN         NaN

[119796 rows x 8 columns]
          time     value       counter
4         0.02  25886130  instructions
8         0.03  28460171  instructions
12        0.04  32638845  instructions
16        0.05  52233541  instructions
20        0.06  36327842  instructions
...        ...       ...           ...
119776  314.95   6710523  instructions
119780  314.96  13910487  instructions
119784  314.97  22861480  instructions
119788  314.98  17485133  instructions
119792  314.99  32787999  instructions

[29948 rows x 3 columns]
instructions
          time instructions
4         0.02     25886130
8         0.03     28460171
12        0.04     32638845
16        0.05     52233541
20        0.06     36327842
...        ...          ...
119776  314.95      6710523
119780  314.96     13910487
119784  314.97     22861480
119788  314.98     17485133
119792  314.99     32787999

[29948 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       476590
5         0.02       709735
9         0.03       870166
13        0.04       812824
17        0.05       892206
...        ...          ...
119777  314.95        74817
119781  314.96       354998
119785  314.97       389201
119789  314.98       670269
119793  314.99       172183

[29949 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       168018
6         0.02       178560
10        0.03       191095
14        0.04       216098
18        0.05       350840
...        ...          ...
119778  314.95        66147
119782  314.96       123556
119786  314.97       261257
119790  314.98       602465
119794  314.99       160055

[29949 rows x 2 columns]
df5
          time l2d_cache
3         0.01    644608
7         0.02    888295
11        0.03   1061261
15        0.04   1028922
19        0.05   1243046
...        ...       ...
119779  314.95    140964
119783  314.96    478554
119787  314.97    650458
119791  314.98   1272734
119795  314.99    332238

[29949 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     25886130       709735
1        0.03     28460171       870166
2        0.04     32638845       812824
3        0.05     52233541       892206
4        0.06     36327842       874087
...       ...          ...          ...
29943  314.95      6710523        74817
29944  314.96     13910487       354998
29945  314.97     22861480       389201
29946  314.98     17485133       670269
29947  314.99     32787999       172183

[29948 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       168018    644608
1        0.02       178560    888295
2        0.03       191095   1061261
3        0.04       216098   1028922
4        0.05       350840   1243046
...       ...          ...       ...
29944  314.95        66147    140964
29945  314.96       123556    478554
29946  314.97       261257    650458
29947  314.98       602465   1272734
29948  314.99       160055    332238

[29949 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011621  12831362         NaN  instructions    12581120
1         0.011621   5924238         NaN       l1d_tlb    12581120
2         0.011621   4086991         NaN    l1d_tlb_rd    12581120
3         0.011621   1837247         NaN    l1d_tlb_wr    12581120
4         0.022066  24195128         NaN  instructions     9777120
...            ...       ...         ...           ...         ...
119819  315.042235   2393453         NaN    l1d_tlb_wr    10062600
119820  315.046038  13959952         NaN  instructions     3455400
119821  315.046038   5272135         NaN       l1d_tlb     3455400
119822  315.046038   3775300         NaN    l1d_tlb_rd     3455400
119823  315.046038   1496835         NaN    l1d_tlb_wr     3455400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
119819       100.0         NaN         NaN
119820       100.0         NaN         NaN
119821       100.0         NaN         NaN
119822       100.0         NaN         NaN
119823       100.0         NaN         NaN

[119824 rows x 8 columns]
          time     value       counter
4         0.02  24195128  instructions
8         0.03  29080362  instructions
12        0.04  31858044  instructions
16        0.05  50529987  instructions
20        0.06  38260852  instructions
...        ...       ...           ...
119804  315.01  10815828  instructions
119808  315.02  20772816  instructions
119812  315.03  16263873  instructions
119816  315.04  30643437  instructions
119820  315.05  13959952  instructions

[29955 rows x 3 columns]
instructions
          time instructions
4         0.02     24195128
8         0.03     29080362
12        0.04     31858044
16        0.05     50529987
20        0.06     38260852
...        ...          ...
119804  315.01     10815828
119808  315.02     20772816
119812  315.03     16263873
119816  315.04     30643437
119820  315.05     13959952

[29955 rows x 2 columns]
df3
          time   l1d_tlb
1         0.01   5924238
5         0.02  10306575
9         0.03  12573446
13        0.04  13656633
17        0.05  16913406
...        ...       ...
119805  315.01   4152945
119809  315.02   8094638
119813  315.03   6112452
119817  315.04   9771632
119821  315.05   5272135

[29956 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    4086991
6         0.02    6724120
10        0.03    8098869
14        0.04    8870275
18        0.05   11909342
...        ...        ...
119806  315.01    2779660
119810  315.02    5353217
119814  315.03    4130253
119818  315.04    7378179
119822  315.05    3775300

[29956 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1837247
7         0.02    3582455
11        0.03    4474577
15        0.04    4786358
19        0.05    5004064
...        ...        ...
119807  315.01    1373285
119811  315.02    2741421
119815  315.03    1982199
119819  315.04    2393453
119823  315.05    1496835

[29956 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.02     24195128  10306575
1        0.03     29080362  12573446
2        0.04     31858044  13656633
3        0.05     50529987  16913406
4        0.06     38260852  13847307
...       ...          ...       ...
29950  315.01     10815828   4152945
29951  315.02     20772816   8094638
29952  315.03     16263873   6112452
29953  315.04     30643437   9771632
29954  315.05     13959952   5272135

[29955 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    4086991    1837247
1        0.02    6724120    3582455
2        0.03    8098869    4474577
3        0.04    8870275    4786358
4        0.05   11909342    5004064
...       ...        ...        ...
29951  315.01    2779660    1373285
29952  315.02    5353217    2741421
29953  315.03    4130253    1982199
29954  315.04    7378179    2393453
29955  315.05    3775300    1496835

[29956 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014308  16712401         NaN  instructions    15184920
1         0.014308     24883         NaN     dtlb_walk    15184920
2         0.014308      2240         NaN     itlb_walk    15184920
3         0.014308   5470288         NaN       l1i_tlb    15184920
4         0.024778  29013308         NaN  instructions     9840240
...            ...       ...         ...           ...         ...
119859  314.290682   6430184         NaN       l1i_tlb    10061000
119860  314.298113  28912398         NaN  instructions     7057600
119861  314.298113      1164         NaN     dtlb_walk     7057600
119862  314.298113         5         NaN     itlb_walk     7057600
119863  314.298113   5561010         NaN       l1i_tlb     7057600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
119859       100.0         NaN         NaN
119860       100.0         NaN         NaN
119861       100.0         NaN         NaN
119862       100.0         NaN         NaN
119863       100.0         NaN         NaN

[119864 rows x 8 columns]
          time     value       counter
4         0.02  29013308  instructions
8         0.04  29162092  instructions
12        0.05  35282547  instructions
16        0.06  53589228  instructions
20        0.07  30604334  instructions
...        ...       ...           ...
119844  314.26     22666  instructions
119848  314.27  21253734  instructions
119852  314.28  22729883  instructions
119856  314.29  19865591  instructions
119860  314.30  28912398  instructions

[29965 rows x 3 columns]
instructions
          time instructions
4         0.02     29013308
8         0.04     29162092
12        0.05     35282547
16        0.06     53589228
20        0.07     30604334
...        ...          ...
119844  314.26        22666
119848  314.27     21253734
119852  314.28     22729883
119856  314.29     19865591
119860  314.30     28912398

[29965 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     24883
5         0.02      3843
9         0.04      4012
13        0.05      4292
17        0.06      2106
...        ...       ...
119845  314.26       157
119849  314.27     20318
119853  314.28     22463
119857  314.29     42878
119861  314.30      1164

[29966 rows x 2 columns]
df4
          time itlb_walk
2         0.01      2240
6         0.02      1258
10        0.04      1055
14        0.05       876
18        0.06       308
...        ...       ...
119846  314.26        76
119850  314.27      1946
119854  314.28       955
119858  314.29       329
119862  314.30         5

[29966 rows x 2 columns]
df5
          time   l1i_tlb
3         0.01   5470288
7         0.02   9871244
11        0.04   9773600
15        0.05  11155787
19        0.06  13774341
...        ...       ...
119847  314.26     16534
119851  314.27   6061557
119855  314.28   5888072
119859  314.29   6430184
119863  314.30   5561010

[29966 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     29013308      3843
1        0.04     29162092      4012
2        0.05     35282547      4292
3        0.06     53589228      2106
4        0.07     30604334      5075
...       ...          ...       ...
29960  314.26        22666       157
29961  314.27     21253734     20318
29962  314.28     22729883     22463
29963  314.29     19865591     42878
29964  314.30     28912398      1164

[29965 rows x 3 columns]
df7
         time itlb_walk   l1i_tlb
0        0.01      2240   5470288
1        0.02      1258   9871244
2        0.04      1055   9773600
3        0.05       876  11155787
4        0.06       308  13774341
...       ...       ...       ...
29961  314.26        76     16534
29962  314.27      1946   6061557
29963  314.28       955   5888072
29964  314.29       329   6430184
29965  314.30         5   5561010

[29966 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011300  13180401         NaN  instructions    12203920
1         0.011300     83667         NaN       l2d_tlb    12203920
2         0.011300     69388         NaN    l2d_tlb_rd    12203920
3         0.011300     14279         NaN    l2d_tlb_wr    12203920
4         0.021757  27109744         NaN  instructions     9946120
...            ...       ...         ...           ...         ...
119855  314.038365      8704         NaN    l2d_tlb_wr    10061600
119856  314.048606  38879634         NaN  instructions     9825280
119857  314.048606     51986         NaN       l2d_tlb     9825280
119858  314.048606     40264         NaN    l2d_tlb_rd     9825280
119859  314.048606     11722         NaN    l2d_tlb_wr     9825280

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
119855       100.0         NaN         NaN
119856       100.0         NaN         NaN
119857       100.0         NaN         NaN
119858       100.0         NaN         NaN
119859       100.0         NaN         NaN

[119860 rows x 8 columns]
          time          value       counter
4         0.02       27109744  instructions
8         0.03       28920880  instructions
12        0.04       33927607  instructions
16        0.05       53642969  instructions
20        0.06       34740970  instructions
...        ...            ...           ...
119840  314.00  <not counted>  instructions
119844  314.01       10552972  instructions
119848  314.03       29240103  instructions
119852  314.04       13871699  instructions
119856  314.05       38879634  instructions

[29964 rows x 3 columns]
instructions
          time   instructions
4         0.02       27109744
8         0.03       28920880
12        0.04       33927607
16        0.05       53642969
20        0.06       34740970
...        ...            ...
119840  314.00  <not counted>
119844  314.01       10552972
119848  314.03       29240103
119852  314.04       13871699
119856  314.05       38879634

[29964 rows x 2 columns]
df3
          time        l2d_tlb
1         0.01          83667
5         0.02         230181
9         0.03         280129
13        0.04         294309
17        0.05         410127
...        ...            ...
119841  314.00  <not counted>
119845  314.01          75794
119849  314.03         263110
119853  314.04         148580
119857  314.05          51986

[29965 rows x 2 columns]
df4
          time     l2d_tlb_rd
2         0.01          69388
6         0.02         217600
10        0.03         266501
14        0.04         280981
18        0.05         395705
...        ...            ...
119842  314.00  <not counted>
119846  314.01          68720
119850  314.03         243065
119854  314.04         139876
119858  314.05          40264

[29965 rows x 2 columns]
df5
          time     l2d_tlb_wr
3         0.01          14279
7         0.02          12581
11        0.03          13628
15        0.04          13328
19        0.05          14422
...        ...            ...
119843  314.00  <not counted>
119847  314.01           7074
119851  314.03          20045
119855  314.04           8704
119859  314.05          11722

[29965 rows x 2 columns]
df6
         time   instructions        l2d_tlb
0        0.02       27109744         230181
1        0.03       28920880         280129
2        0.04       33927607         294309
3        0.05       53642969         410127
4        0.06       34740970         313045
...       ...            ...            ...
29959  314.00  <not counted>  <not counted>
29960  314.01       10552972          75794
29961  314.03       29240103         263110
29962  314.04       13871699         148580
29963  314.05       38879634          51986

[29964 rows x 3 columns]
df7
         time     l2d_tlb_rd     l2d_tlb_wr
0        0.01          69388          14279
1        0.02         217600          12581
2        0.03         266501          13628
3        0.04         280981          13328
4        0.05         395705          14422
...       ...            ...            ...
29960  314.00  <not counted>  <not counted>
29961  314.01          68720           7074
29962  314.03         243065          20045
29963  314.04         139876           8704
29964  314.05          40264          11722

[29965 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010125  11276089         NaN  instructions    10890120
1         0.010125         8         NaN      vfp_spec    10890120
2         0.010125  13492762         NaN     inst_spec    10890120
3         0.010125      7179         NaN      ase_spec    10890120
4         0.020560  24518853         NaN  instructions     9833160
...            ...       ...         ...           ...         ...
119883  314.589746         0         NaN      ase_spec    10071720
119884  314.590592    814149         NaN  instructions      384720
119885  314.590592         0         NaN      vfp_spec      384720
119886  314.590592    885968         NaN     inst_spec      384720
119887  314.590592         0         NaN      ase_spec      384720

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
119883       100.0         NaN         NaN
119884       100.0         NaN         NaN
119885       100.0         NaN         NaN
119886       100.0         NaN         NaN
119887       100.0         NaN         NaN

[119888 rows x 8 columns]
          time     value       counter
4         0.02  24518853  instructions
8         0.03  29373262  instructions
12        0.04  32967136  instructions
16        0.05  50074775  instructions
20        0.06  39291850  instructions
...        ...       ...           ...
119868  314.56  15330309  instructions
119872  314.57  24078154  instructions
119876  314.58  13986009  instructions
119880  314.59  38563832  instructions
119884  314.59    814149  instructions

[29971 rows x 3 columns]
instructions
          time instructions
4         0.02     24518853
8         0.03     29373262
12        0.04     32967136
16        0.05     50074775
20        0.06     39291850
...        ...          ...
119868  314.56     15330309
119872  314.57     24078154
119876  314.58     13986009
119880  314.59     38563832
119884  314.59       814149

[29971 rows x 2 columns]
df3
          time vfp_spec
1         0.01        8
5         0.02     2970
9         0.03     1721
13        0.04      719
17        0.05      393
...        ...      ...
119869  314.56      265
119873  314.57        0
119877  314.58        0
119881  314.59        0
119885  314.59        0

[29972 rows x 2 columns]
df4
          time inst_spec
2         0.01  13492762
6         0.02  30431655
10        0.03  36926991
14        0.04  40596197
18        0.05  57634587
...        ...       ...
119870  314.56  17383683
119874  314.57  25868137
119878  314.58  17387579
119882  314.59  41177582
119886  314.59    885968

[29972 rows x 2 columns]
df5
          time ase_spec
3         0.01     7179
7         0.02    35296
11        0.03    21026
15        0.04    24799
19        0.05    31818
...        ...      ...
119871  314.56     1532
119875  314.57     2878
119879  314.58       97
119883  314.59        0
119887  314.59        0

[29972 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     24518853     2970
1        0.03     29373262     1721
2        0.04     32967136      719
3        0.05     50074775      393
4        0.06     39291850      636
...       ...          ...      ...
29968  314.58     13986009        0
29969  314.59     38563832        0
29970  314.59     38563832        0
29971  314.59       814149        0
29972  314.59       814149        0

[29973 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  13492762     7179
1        0.02  30431655    35296
2        0.03  36926991    21026
3        0.04  40596197    24799
4        0.05  57634587    31818
...       ...       ...      ...
29969  314.58  17387579       97
29970  314.59  41177582        0
29971  314.59  41177582        0
29972  314.59    885968        0
29973  314.59    885968        0

[29974 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010134  10813399         NaN      instructions    11109280
1         0.010134  12454301         NaN     stall_backend    11109280
2         0.010134  16628409         NaN    stall_frontend    11109280
3         0.010134    189835         NaN  ll_cache_miss_rd    11109280
4         0.020624  22096667         NaN      instructions     9895560
...            ...       ...         ...               ...         ...
119775  315.178309    754371         NaN  ll_cache_miss_rd    10071160
119776  315.186392  31492554         NaN      instructions     7723000
119777  315.186392  13099389         NaN     stall_backend     7723000
119778  315.186392    756625         NaN    stall_frontend     7723000
119779  315.186392    130044         NaN  ll_cache_miss_rd     7723000

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
119775       100.0         NaN         NaN
119776       100.0         NaN         NaN
119777       100.0         NaN         NaN
119778       100.0         NaN         NaN
119779       100.0         NaN         NaN

[119780 rows x 8 columns]
          time     value       counter
4         0.02  22096667  instructions
8         0.03  28471076  instructions
12        0.04  36148866  instructions
16        0.05  50493835  instructions
20        0.06  38498925  instructions
...        ...       ...           ...
119760  315.15   6648378  instructions
119764  315.16  14322363  instructions
119768  315.17  22796626  instructions
119772  315.18  18204344  instructions
119776  315.19  31492554  instructions

[29944 rows x 3 columns]
instructions
          time instructions
4         0.02     22096667
8         0.03     28471076
12        0.04     36148866
16        0.05     50493835
20        0.06     38498925
...        ...          ...
119760  315.15      6648378
119764  315.16     14322363
119768  315.17     22796626
119772  315.18     18204344
119776  315.19     31492554

[29944 rows x 2 columns]
df3
          time stall_backend
1         0.01      12454301
5         0.02       7938029
9         0.03       5524097
13        0.04       6512728
17        0.05       4741708
...        ...           ...
119761  315.15       6914981
119765  315.16      19964678
119769  315.17      20720030
119773  315.18      21866231
119777  315.19      13099389

[29945 rows x 2 columns]
df4
          time stall_frontend
2         0.01       16628409
6         0.02       13217882
10        0.03       13006786
14        0.04       14257803
18        0.05        7985490
...        ...            ...
119762  315.15         777737
119766  315.16        4964103
119770  315.17        2067563
119774  315.18        1178655
119778  315.19         756625

[29945 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           189835
7         0.02           153690
11        0.03           155070
15        0.04           187535
19        0.05            91524
...        ...              ...
119763  315.15            42419
119767  315.16           101208
119771  315.17           257657
119775  315.18           754371
119779  315.19           130044

[29945 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     22096667       7938029
1        0.03     28471076       5524097
2        0.04     36148866       6512728
3        0.05     50493835       4741708
4        0.06     38498925       5280332
...       ...          ...           ...
29939  315.15      6648378       6914981
29940  315.16     14322363      19964678
29941  315.17     22796626      20720030
29942  315.18     18204344      21866231
29943  315.19     31492554      13099389

[29944 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01       16628409           189835
1        0.02       13217882           153690
2        0.03       13006786           155070
3        0.04       14257803           187535
4        0.05        7985490            91524
...       ...            ...              ...
29940  315.15         777737            42419
29941  315.16        4964103           101208
29942  315.17        2067563           257657
29943  315.18        1178655           754371
29944  315.19         756625           130044

[29945 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010128  10793709         NaN   instructions    11144320
1         0.010128   3370857         NaN     mem_access    11144320
2         0.010128   2078811         NaN  mem_access_rd    11144320
3         0.010128   1292046         NaN  mem_access_wr    11144320
4         0.020623  22578972         NaN   instructions     9982960
...            ...       ...         ...            ...         ...
119819  315.099415   1113321         NaN  mem_access_wr    10068800
119820  315.107430  31518230         NaN   instructions     7668600
119821  315.107430   9063780         NaN     mem_access     7668600
119822  315.107430   5711538         NaN  mem_access_rd     7668600
119823  315.107430   3352242         NaN  mem_access_wr     7668600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
119819       100.0         NaN         NaN
119820       100.0         NaN         NaN
119821       100.0         NaN         NaN
119822       100.0         NaN         NaN
119823       100.0         NaN         NaN

[119824 rows x 8 columns]
          time     value       counter
4         0.02  22578972  instructions
8         0.03  28043786  instructions
12        0.04  45295806  instructions
16        0.06  53229688  instructions
20        0.07  32138446  instructions
...        ...       ...           ...
119804  315.06     17455  instructions
119808  315.08  21182965  instructions
119812  315.09  22459046  instructions
119816  315.10  17997088  instructions
119820  315.11  31518230  instructions

[29955 rows x 3 columns]
instructions
          time instructions
4         0.02     22578972
8         0.03     28043786
12        0.04     45295806
16        0.06     53229688
20        0.07     32138446
...        ...          ...
119804  315.06        17455
119808  315.08     21182965
119812  315.09     22459046
119816  315.10     17997088
119820  315.11     31518230

[29955 rows x 2 columns]
df3
          time mem_access
1         0.01    3370857
5         0.02    8163643
9         0.03   10817370
13        0.04   17249446
17        0.06   15660725
...        ...        ...
119805  315.06       7637
119809  315.08    7287972
119813  315.09    7571909
119817  315.10    4396612
119821  315.11    9063780

[29956 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       2078811
6         0.02       5144617
10        0.03       6830573
14        0.04      11047094
18        0.06      11195941
...        ...           ...
119806  315.06          4767
119810  315.08       4502509
119814  315.09       4995271
119818  315.10       3283291
119822  315.11       5711538

[29956 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1292046
7         0.02       3019026
11        0.03       3986797
15        0.04       6202352
19        0.06       4464784
...        ...           ...
119807  315.06          2870
119811  315.08       2785463
119815  315.09       2576638
119819  315.10       1113321
119823  315.11       3352242

[29956 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     22578972    8163643
1        0.03     28043786   10817370
2        0.04     45295806   17249446
3        0.06     53229688   15660725
4        0.07     32138446   11195806
...       ...          ...        ...
29950  315.06        17455       7637
29951  315.08     21182965    7287972
29952  315.09     22459046    7571909
29953  315.10     17997088    4396612
29954  315.11     31518230    9063780

[29955 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       2078811       1292046
1        0.02       5144617       3019026
2        0.03       6830573       3986797
3        0.04      11047094       6202352
4        0.06      11195941       4464784
...       ...           ...           ...
29951  315.06          4767          2870
29952  315.08       4502509       2785463
29953  315.09       4995271       2576638
29954  315.10       3283291       1113321
29955  315.11       5711538       3352242

[29956 rows x 3 columns]
merged_df
         time instructions cpu-cycles   br_pred br_mis_pred l1d_cache_rd  \
0        0.04     29053460   29893352   6565363      263080      7528012
1        0.06     53092477   30165937  13502569      234348     10058024
2        0.07     29478797   30200834   6839319      262351      7568469
3        0.08     34649887   30170628   7793732      266375      8145142
4        0.11     30091911   30167099   6891943      276537     10155107
...       ...          ...        ...       ...         ...          ...
19032  313.94     66614697   30584157  14901436       66310      9063672
19033  313.95     50742169   30220818  11274728      128653      8913059
19034  313.97     64071808   30167302  14361715       72809     13529635
19035  314.03     57536588   30254509  12854949       88896     13963427
19036  314.04     47333431   30180708  10565061      111898     13259016

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ...     l2d_tlb_wr  \
0          4326610  11854622  12189651           708805  ...          13328
1          4225955  14283979  18203949           528607  ...          13751
2          4347722  11916191  11864672           677393  ...          15043
3          4600477  12745619  14000192           759686  ...          16400
4          5778339  15933446  12714506           622657  ...          13753
...            ...       ...       ...              ...  ...            ...
19032      5137411  14201083   6364480            73901  ...  <not counted>
19033      5062664  13975723   7467818            62263  ...  <not counted>
19034      7149352  20678987  17224267            67481  ...  <not counted>
19035      7936088  21899515  20407055           225357  ...          20045
19036      7525463  20784479  19706462           297794  ...           8704

      vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0          719  40596197    24799       6512728       14257803
1          636  47378645    27235       5280332       10854910
2          984  38619681    23283       5391227       12722114
3         1392  41482873    22101       5584520       11814695
4         1067  39979966    22425       5931458       11362399
...        ...       ...      ...           ...            ...
19032      645  56980020      269       3338117        5815197
19033    17528  58450910     9987       3287655        5680653
19034     1811  71003887    12160       6489927        5763368
19035        0  19868774        0      10728712       14022065
19036        0  26486789        0       6722288        8637240

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               187535   17249446      11047094       6202352
1               125572   15660725      11195941       4464784
2               151396   11195806       7371186       3824620
3               142763   12824226       8196075       4628151
4               155681   11745619       7496966       4248653
...                ...        ...           ...           ...
19032            24307   10319916       6525140       3794776
19033            23552   18028748      11580761       6447987
19034            78610   12597046       8080163       4516883
19035           206171   19958398      13006612       6951786
19036           141431   20188659      12903313       7285346

[19037 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011763  12923788         NaN  instructions    12681240
1         0.011763  37817222         NaN    cpu-cycles    12681240
2         0.011763   2396619         NaN       br_pred    12681240
3         0.011763     92802         NaN   br_mis_pred    12681240
4         0.022152  25419905         NaN  instructions     9887160
...            ...       ...         ...           ...         ...
182255  471.155988     80142         NaN   br_mis_pred    10072000
182256  471.167430  40092216         NaN  instructions    10997880
182257  471.167430  32964379         NaN    cpu-cycles    10997880
182258  471.167430   7107062         NaN       br_pred    10997880
182259  471.167430     67869         NaN   br_mis_pred    10997880

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.34  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.86  insn per cycle
...            ...         ...             ...
182255       100.0         NaN             NaN
182256       100.0        1.22  insn per cycle
182257       100.0         NaN             NaN
182258       100.0         NaN             NaN
182259       100.0         NaN             NaN

[182260 rows x 8 columns]
          time     value       counter
4         0.02  25419905  instructions
8         0.03  28722387  instructions
12        0.04  31931349  instructions
16        0.05  50602622  instructions
20        0.06  37369058  instructions
...        ...       ...           ...
182240  471.12     20201  instructions
182244  471.13  14565202  instructions
182248  471.15  24132532  instructions
182252  471.16  13995684  instructions
182256  471.17  40092216  instructions

[45564 rows x 3 columns]
instructions
          time instructions
4         0.02     25419905
8         0.03     28722387
12        0.04     31931349
16        0.05     50602622
20        0.06     37369058
...        ...          ...
182240  471.12        20201
182244  471.13     14565202
182248  471.15     24132532
182252  471.16     13995684
182256  471.17     40092216

[45564 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   37817222
5         0.02   29573175
9         0.03   29795759
13        0.04   30030778
17        0.05   30153646
...        ...        ...
182241  471.12     141610
182245  471.13   29743584
182249  471.15   31536763
182253  471.16   30181210
182257  471.17   32964379

[45565 rows x 2 columns]
df4
          time   br_pred
2         0.01   2396619
6         0.02   5623148
10        0.03   6465879
14        0.04   7259229
18        0.05  12676634
...        ...       ...
182242  471.12      4497
182246  471.13   2823988
182250  471.15   5397192
182254  471.16   3725273
182258  471.17   7107062

[45565 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       92802
7         0.02      229568
11        0.03      271179
15        0.04      252894
19        0.05      232485
...        ...         ...
182243  471.12         603
182247  471.13       47223
182251  471.15       46888
182255  471.16       80142
182259  471.17       67869

[45565 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     25419905   29573175
1        0.03     28722387   29795759
2        0.04     31931349   30030778
3        0.05     50602622   30153646
4        0.06     37369058   29802078
...       ...          ...        ...
45559  471.12        20201     141610
45560  471.13     14565202   29743584
45561  471.15     24132532   31536763
45562  471.16     13995684   30181210
45563  471.17     40092216   32964379

[45564 rows x 3 columns]
df7
         time   br_pred br_mis_pred
0        0.01   2396619       92802
1        0.02   5623148      229568
2        0.03   6465879      271179
3        0.04   7259229      252894
4        0.05  12676634      232485
...       ...       ...         ...
45560  471.12      4497         603
45561  471.13   2823988       47223
45562  471.15   5397192       46888
45563  471.16   3725273       80142
45564  471.17   7107062       67869

[45565 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011926  13234375         NaN  instructions    12921160
1         0.011926   2552449         NaN  l1d_cache_rd    12921160
2         0.011926   1572491         NaN  l1d_cache_wr    12921160
3         0.011926   4124940         NaN     l1d_cache    12921160
4         0.022411  25873806         NaN  instructions     9956200
...            ...       ...         ...           ...         ...
182335  471.375973  10466244         NaN     l1d_cache    12593760
182336  471.377833   5282424         NaN  instructions     1460880
182337  471.377833    958502         NaN  l1d_cache_rd     1460880
182338  471.377833    571604         NaN  l1d_cache_wr     1460880
182339  471.377833   1530106         NaN     l1d_cache     1460880

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
182335       100.0         NaN         NaN
182336       100.0         NaN         NaN
182337       100.0         NaN         NaN
182338       100.0         NaN         NaN
182339       100.0         NaN         NaN

[182340 rows x 8 columns]
          time     value       counter
4         0.02  25873806  instructions
8         0.03  27841411  instructions
12        0.04  31956456  instructions
16        0.05  50417145  instructions
20        0.06  37988145  instructions
...        ...       ...           ...
182320  471.34  10315760  instructions
182324  471.35  22233917  instructions
182328  471.36  15404967  instructions
182332  471.38  39942982  instructions
182336  471.38   5282424  instructions

[45584 rows x 3 columns]
instructions
          time instructions
4         0.02     25873806
8         0.03     27841411
12        0.04     31956456
16        0.05     50417145
20        0.06     37988145
...        ...          ...
182320  471.34     10315760
182324  471.35     22233917
182328  471.36     15404967
182332  471.38     39942982
182336  471.38      5282424

[45584 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      2552449
5         0.02      6080475
9         0.03      6789495
13        0.04      7804759
17        0.05     10846871
...        ...          ...
182321  471.34      2046502
182325  471.35      5080940
182329  471.36      3317705
182333  471.38      7091678
182337  471.38       958502

[45585 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1572491
6         0.02      3558560
10        0.03      3976669
14        0.04      4431032
18        0.05      4582107
...        ...          ...
182322  471.34      1232637
182326  471.35      2870781
182330  471.36      1734584
182334  471.38      3374566
182338  471.38       571604

[45585 rows x 2 columns]
df5
          time l1d_cache
3         0.01   4124940
7         0.02   9639035
11        0.03  10766164
15        0.04  12235791
19        0.05  15428978
...        ...       ...
182323  471.34   3279139
182327  471.35   7951721
182331  471.36   5052289
182335  471.38  10466244
182339  471.38   1530106

[45585 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     25873806      6080475
1        0.03     27841411      6789495
2        0.04     31956456      7804759
3        0.05     50417145     10846871
4        0.06     37988145      8462273
...       ...          ...          ...
45581  471.36     15404967      3317705
45582  471.38     39942982      7091678
45583  471.38     39942982       958502
45584  471.38      5282424      7091678
45585  471.38      5282424       958502

[45586 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      1572491   4124940
1        0.02      3558560   9639035
2        0.03      3976669  10766164
3        0.04      4431032  12235791
4        0.05      4582107  15428978
...       ...          ...       ...
45582  471.36      1734584   5052289
45583  471.38      3374566  10466244
45584  471.38      3374566   1530106
45585  471.38       571604  10466244
45586  471.38       571604   1530106

[45587 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.011557  12700805         NaN      instructions    12517160
1         0.011557   4586241         NaN         l1i_cache    12517160
2         0.011557    299567         NaN  l1i_cache_refill    12517160
3         0.011557    105441         NaN     remote_access    12517160
4         0.022033  25658942         NaN      instructions    10005960
...            ...       ...         ...               ...         ...
182287  470.620088      3078         NaN     remote_access    10065400
182288  470.632574  41834553         NaN      instructions    12038680
182289  470.632574  12477561         NaN         l1i_cache    12038680
182290  470.632574     11734         NaN  l1i_cache_refill    12038680
182291  470.632574      6996         NaN     remote_access    12038680

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
182287       100.0         NaN         NaN
182288       100.0         NaN         NaN
182289       100.0         NaN         NaN
182290       100.0         NaN         NaN
182291       100.0         NaN         NaN

[182292 rows x 8 columns]
          time          value       counter
4         0.02       25658942  instructions
8         0.03       28385039  instructions
12        0.04       30952199  instructions
16        0.05       50052996  instructions
20        0.06       38217019  instructions
...        ...            ...           ...
182272  470.59  <not counted>  instructions
182276  470.60       12976892  instructions
182280  470.61       23516926  instructions
182284  470.62       15016229  instructions
182288  470.63       41834553  instructions

[45572 rows x 3 columns]
instructions
          time   instructions
4         0.02       25658942
8         0.03       28385039
12        0.04       30952199
16        0.05       50052996
20        0.06       38217019
...        ...            ...
182272  470.59  <not counted>
182276  470.60       12976892
182280  470.61       23516926
182284  470.62       15016229
182288  470.63       41834553

[45572 rows x 2 columns]
df3
          time      l1i_cache
1         0.01        4586241
5         0.02       10171340
9         0.03       11468963
13        0.04       12153537
17        0.05       17314450
...        ...            ...
182273  470.59  <not counted>
182277  470.60        4302477
182281  470.61        7513619
182285  470.62        5238689
182289  470.63       12477561

[45573 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           299567
6         0.02           522059
10        0.03           685978
14        0.04           565405
18        0.05           551150
...        ...              ...
182274  470.59    <not counted>
182278  470.60           109516
182282  470.61           187016
182286  470.62            29634
182290  470.63            11734

[45573 rows x 2 columns]
df5
          time  remote_access
3         0.01         105441
7         0.02          45263
11        0.03          36809
15        0.04          38179
19        0.05          14554
...        ...            ...
182275  470.59  <not counted>
182279  470.60          20173
182283  470.61           3481
182287  470.62           3078
182291  470.63           6996

[45573 rows x 2 columns]
df6
         time   instructions      l1i_cache
0        0.02       25658942       10171340
1        0.03       28385039       11468963
2        0.04       30952199       12153537
3        0.05       50052996       17314450
4        0.06       38217019       14082336
...       ...            ...            ...
45567  470.59  <not counted>  <not counted>
45568  470.60       12976892        4302477
45569  470.61       23516926        7513619
45570  470.62       15016229        5238689
45571  470.63       41834553       12477561

[45572 rows x 3 columns]
df7
         time l1i_cache_refill  remote_access
0        0.01           299567         105441
1        0.02           522059          45263
2        0.03           685978          36809
3        0.04           565405          38179
4        0.05           551150          14554
...       ...              ...            ...
45568  470.59    <not counted>  <not counted>
45569  470.60           109516          20173
45570  470.61           187016           3481
45571  470.62            29634           3078
45572  470.63            11734           6996

[45573 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010125  10483612         NaN  instructions    10605720
1         0.010125    392215         NaN  l2d_cache_rd    10605720
2         0.010125    139302         NaN  l2d_cache_wr    10605720
3         0.010125    531517         NaN     l2d_cache    10605720
4         0.020606  22238757         NaN  instructions     9907480
...            ...       ...         ...           ...         ...
182391  471.127539   1272256         NaN     l2d_cache    10094960
182392  471.135423  31107197         NaN  instructions     7555040
182393  471.135423    140198         NaN  l2d_cache_rd     7555040
182394  471.135423    133654         NaN  l2d_cache_wr     7555040
182395  471.135423    273852         NaN     l2d_cache     7555040

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
182391       100.0         NaN         NaN
182392       100.0         NaN         NaN
182393       100.0         NaN         NaN
182394       100.0         NaN         NaN
182395       100.0         NaN         NaN

[182396 rows x 8 columns]
          time     value       counter
4         0.02  22238757  instructions
8         0.03  28551181  instructions
12        0.04  37177184  instructions
16        0.05  52140721  instructions
20        0.06  37991055  instructions
...        ...       ...           ...
182376  471.10   6728169  instructions
182380  471.11  13855209  instructions
182384  471.12  22640621  instructions
182388  471.13  18244573  instructions
182392  471.14  31107197  instructions

[45598 rows x 3 columns]
instructions
          time instructions
4         0.02     22238757
8         0.03     28551181
12        0.04     37177184
16        0.05     52140721
20        0.06     37991055
...        ...          ...
182376  471.10      6728169
182380  471.11     13855209
182384  471.12     22640621
182388  471.13     18244573
182392  471.14     31107197

[45598 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       392215
5         0.02       598635
9         0.03       867725
13        0.04       944852
17        0.05       876999
...        ...          ...
182377  471.10        74707
182381  471.11       339317
182385  471.12       397758
182389  471.13       670512
182393  471.14       140198

[45599 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       139302
6         0.02       162350
10        0.03       182524
14        0.04       240979
18        0.05       331073
...        ...          ...
182378  471.10        66058
182382  471.11       118320
182386  471.12       268648
182390  471.13       601744
182394  471.14       133654

[45599 rows x 2 columns]
df5
          time l2d_cache
3         0.01    531517
7         0.02    760985
11        0.03   1050249
15        0.04   1185831
19        0.05   1208072
...        ...       ...
182379  471.10    140765
182383  471.11    457637
182387  471.12    666406
182391  471.13   1272256
182395  471.14    273852

[45599 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     22238757       598635
1        0.03     28551181       867725
2        0.04     37177184       944852
3        0.05     52140721       876999
4        0.06     37991055       900413
...       ...          ...          ...
45593  471.10      6728169        74707
45594  471.11     13855209       339317
45595  471.12     22640621       397758
45596  471.13     18244573       670512
45597  471.14     31107197       140198

[45598 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       139302    531517
1        0.02       162350    760985
2        0.03       182524   1050249
3        0.04       240979   1185831
4        0.05       331073   1208072
...       ...          ...       ...
45594  471.10        66058    140765
45595  471.11       118320    457637
45596  471.12       268648    666406
45597  471.13       601744   1272256
45598  471.14       133654    273852

[45599 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014612  19272132         NaN  instructions    15423200
1         0.014612   8833719         NaN       l1d_tlb    15423200
2         0.014612   6035553         NaN    l1d_tlb_rd    15423200
3         0.014612   2798166         NaN    l1d_tlb_wr    15423200
4         0.025142  29828303         NaN  instructions     9893440
...            ...       ...         ...           ...         ...
182155  471.067208   2294781         NaN    l1d_tlb_wr    10067040
182156  471.071488  15540720         NaN  instructions     3905960
182157  471.071488   5892772         NaN       l1d_tlb     3905960
182158  471.071488   4230766         NaN    l1d_tlb_rd     3905960
182159  471.071488   1662006         NaN    l1d_tlb_wr     3905960

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
182155       100.0         NaN         NaN
182156       100.0         NaN         NaN
182157       100.0         NaN         NaN
182158       100.0         NaN         NaN
182159       100.0         NaN         NaN

[182160 rows x 8 columns]
          time     value       counter
4         0.03  29828303  instructions
8         0.04  30149425  instructions
12        0.05  39524065  instructions
16        0.06  52917128  instructions
20        0.07  27594220  instructions
...        ...       ...           ...
182140  471.04  10098067  instructions
182144  471.05  22983250  instructions
182148  471.06  15041927  instructions
182152  471.07  29519381  instructions
182156  471.07  15540720  instructions

[45539 rows x 3 columns]
instructions
          time instructions
4         0.03     29828303
8         0.04     30149425
12        0.05     39524065
16        0.06     52917128
20        0.07     27594220
...        ...          ...
182140  471.04     10098067
182144  471.05     22983250
182148  471.06     15041927
182152  471.07     29519381
182156  471.07     15540720

[45539 rows x 2 columns]
df3
          time   l1d_tlb
1         0.01   8833719
5         0.03  12800940
9         0.04  13074341
13        0.05  15581103
17        0.06  16847064
...        ...       ...
182141  471.04   3784710
182145  471.05   8980600
182149  471.06   5639721
182153  471.07   9405445
182157  471.07   5892772

[45540 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    6035553
6         0.03    8285588
10        0.04    8474739
14        0.05   10362603
18        0.06   12150457
...        ...        ...
182142  471.04    2543272
182146  471.05    5901751
182150  471.06    3831425
182154  471.07    7110664
182158  471.07    4230766

[45540 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    2798166
7         0.03    4515352
11        0.04    4599602
15        0.05    5218500
19        0.06    4696607
...        ...        ...
182143  471.04    1241438
182147  471.05    3078849
182151  471.06    1808296
182155  471.07    2294781
182159  471.07    1662006

[45540 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.03     29828303  12800940
1        0.04     30149425  13074341
2        0.05     39524065  15581103
3        0.06     52917128  16847064
4        0.07     27594220  11848073
...       ...          ...       ...
45536  471.06     15041927   5639721
45537  471.07     29519381   9405445
45538  471.07     29519381   5892772
45539  471.07     15540720   9405445
45540  471.07     15540720   5892772

[45541 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    6035553    2798166
1        0.03    8285588    4515352
2        0.04    8474739    4599602
3        0.05   10362603    5218500
4        0.06   12150457    4696607
...       ...        ...        ...
45537  471.06    3831425    1808296
45538  471.07    7110664    2294781
45539  471.07    7110664    1662006
45540  471.07    4230766    2294781
45541  471.07    4230766    1662006

[45542 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.015000  18176158         NaN  instructions    15861600
1         0.015000     24567         NaN     dtlb_walk    15861600
2         0.015000      2511         NaN     itlb_walk    15861600
3         0.015000   6049420         NaN       l1i_tlb    15861600
4         0.025482  29988164         NaN  instructions     9984520
...            ...       ...         ...           ...         ...
182207  470.512917   6088553         NaN       l1i_tlb    10070280
182208  470.521220  32016652         NaN  instructions     7851920
182209  470.521220      1196         NaN     dtlb_walk     7851920
182210  470.521220         4         NaN     itlb_walk     7851920
182211  470.521220   6185417         NaN       l1i_tlb     7851920

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
182207       100.0         NaN         NaN
182208       100.0         NaN         NaN
182209       100.0         NaN         NaN
182210       100.0         NaN         NaN
182211       100.0         NaN         NaN

[182212 rows x 8 columns]
          time     value       counter
4         0.03  29988164  instructions
8         0.04  28991414  instructions
12        0.05  34388966  instructions
16        0.06  53105306  instructions
20        0.07  30037752  instructions
...        ...       ...           ...
182192  470.48   6878671  instructions
182196  470.49  13383821  instructions
182200  470.50  23333848  instructions
182204  470.51  17594463  instructions
182208  470.52  32016652  instructions

[45552 rows x 3 columns]
instructions
          time instructions
4         0.03     29988164
8         0.04     28991414
12        0.05     34388966
16        0.06     53105306
20        0.07     30037752
...        ...          ...
182192  470.48      6878671
182196  470.49     13383821
182200  470.50     23333848
182204  470.51     17594463
182208  470.52     32016652

[45552 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     24567
5         0.03      3010
9         0.04      3565
13        0.05      3998
17        0.06      1976
...        ...       ...
182193  470.48      1002
182197  470.49     17453
182201  470.50     20056
182205  470.51     45634
182209  470.52      1196

[45553 rows x 2 columns]
df4
          time itlb_walk
2         0.01      2511
6         0.03       910
10        0.04       913
14        0.05       865
18        0.06       256
...        ...       ...
182194  470.48       115
182198  470.49      1792
182202  470.50      1147
182206  470.51       330
182210  470.52         4

[45553 rows x 2 columns]
df5
          time   l1i_tlb
3         0.01   6049420
7         0.03  10124250
11        0.04   9729963
15        0.05  10764443
19        0.06  13676582
...        ...       ...
182195  470.48   1542494
182199  470.49   4279449
182203  470.50   6009735
182207  470.51   6088553
182211  470.52   6185417

[45553 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.03     29988164      3010
1        0.04     28991414      3565
2        0.05     34388966      3998
3        0.06     53105306      1976
4        0.07     30037752      4989
...       ...          ...       ...
45547  470.48      6878671      1002
45548  470.49     13383821     17453
45549  470.50     23333848     20056
45550  470.51     17594463     45634
45551  470.52     32016652      1196

[45552 rows x 3 columns]
df7
         time itlb_walk   l1i_tlb
0        0.01      2511   6049420
1        0.03       910  10124250
2        0.04       913   9729963
3        0.05       865  10764443
4        0.06       256  13676582
...       ...       ...       ...
45548  470.48       115   1542494
45549  470.49      1792   4279449
45550  470.50      1147   6009735
45551  470.51       330   6088553
45552  470.52         4   6185417

[45553 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.015047  18459810         NaN  instructions    15874720
1         0.015047    124912         NaN       l2d_tlb    15874720
2         0.015047    106977         NaN    l2d_tlb_rd    15874720
3         0.015047     17935         NaN    l2d_tlb_wr    15874720
4         0.025647  30089868         NaN  instructions     9915120
...            ...       ...         ...           ...         ...
182303  470.582945     11682         NaN    l2d_tlb_wr    13203840
182304  470.587976  18291586         NaN  instructions     4653040
182305  470.587976     18509         NaN       l2d_tlb     4653040
182306  470.587976     11604         NaN    l2d_tlb_rd     4653040
182307  470.587976      6905         NaN    l2d_tlb_wr     4653040

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
182303       100.0         NaN         NaN
182304       100.0         NaN         NaN
182305       100.0         NaN         NaN
182306       100.0         NaN         NaN
182307       100.0         NaN         NaN

[182308 rows x 8 columns]
          time     value       counter
4         0.03  30089868  instructions
8         0.04  29219415  instructions
12        0.05  37508490  instructions
16        0.06  52802936  instructions
20        0.07  28455544  instructions
...        ...       ...           ...
182288  470.55   6788043  instructions
182292  470.56  13987425  instructions
182296  470.57  22881278  instructions
182300  470.58  31200565  instructions
182304  470.59  18291586  instructions

[45576 rows x 3 columns]
instructions
          time instructions
4         0.03     30089868
8         0.04     29219415
12        0.05     37508490
16        0.06     52802936
20        0.07     28455544
...        ...          ...
182288  470.55      6788043
182292  470.56     13987425
182296  470.57     22881278
182300  470.58     31200565
182304  470.59     18291586

[45576 rows x 2 columns]
df3
          time l2d_tlb
1         0.02  124912
5         0.03  270619
9         0.04  276535
13        0.05  306352
17        0.06  405956
...        ...     ...
182289  470.55   16259
182293  470.56  183836
182297  470.57  162231
182301  470.58  146454
182305  470.59   18509

[45577 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.02     106977
6         0.03     257432
10        0.04     263480
14        0.05     292428
18        0.06     392374
...        ...        ...
182290  470.55      14672
182294  470.56     168250
182298  470.57     150230
182302  470.58     134772
182306  470.59      11604

[45577 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.02      17935
7         0.03      13187
11        0.04      13055
15        0.05      13924
19        0.06      13582
...        ...        ...
182291  470.55       1587
182295  470.56      15586
182299  470.57      12001
182303  470.58      11682
182307  470.59       6905

[45577 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.03     30089868  270619
1        0.04     29219415  276535
2        0.05     37508490  306352
3        0.06     52802936  405956
4        0.07     28455544  276543
...       ...          ...     ...
45571  470.55      6788043   16259
45572  470.56     13987425  183836
45573  470.57     22881278  162231
45574  470.58     31200565  146454
45575  470.59     18291586   18509

[45576 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.02     106977      17935
1        0.03     257432      13187
2        0.04     263480      13055
3        0.05     292428      13924
4        0.06     392374      13582
...       ...        ...        ...
45572  470.55      14672       1587
45573  470.56     168250      15586
45574  470.57     150230      12001
45575  470.58     134772      11682
45576  470.59      11604       6905

[45577 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014893  19423570         NaN  instructions    15756840
1         0.014893       296         NaN      vfp_spec    15756840
2         0.014893  23599180         NaN     inst_spec    15756840
3         0.014893     17183         NaN      ase_spec    15756840
4         0.025365  29667960         NaN  instructions     9850840
...            ...       ...         ...           ...         ...
182279  470.800790         0         NaN      ase_spec    10126680
182280  470.801866   1445462         NaN  instructions      584840
182281  470.801866         0         NaN      vfp_spec      584840
182282  470.801866   1543074         NaN     inst_spec      584840
182283  470.801866         0         NaN      ase_spec      584840

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
182279       100.0         NaN         NaN
182280       100.0         NaN         NaN
182281       100.0         NaN         NaN
182282       100.0         NaN         NaN
182283       100.0         NaN         NaN

[182284 rows x 8 columns]
          time     value       counter
4         0.03  29667960  instructions
8         0.04  30239781  instructions
12        0.05  40283603  instructions
16        0.06  52872840  instructions
20        0.07  28457934  instructions
...        ...       ...           ...
182264  470.77  15682641  instructions
182268  470.78  23719859  instructions
182272  470.79  13844775  instructions
182276  470.80  38184888  instructions
182280  470.80   1445462  instructions

[45570 rows x 3 columns]
instructions
          time instructions
4         0.03     29667960
8         0.04     30239781
12        0.05     40283603
16        0.06     52872840
20        0.07     28457934
...        ...          ...
182264  470.77     15682641
182268  470.78     23719859
182272  470.79     13844775
182276  470.80     38184888
182280  470.80      1445462

[45570 rows x 2 columns]
df3
          time vfp_spec
1         0.01      296
5         0.03     3742
9         0.04     1212
13        0.05      515
17        0.06      320
...        ...      ...
182265  470.77      238
182269  470.78        0
182273  470.79        0
182277  470.80        0
182281  470.80        0

[45571 rows x 2 columns]
df4
          time inst_spec
2         0.01  23599180
6         0.03  37234589
10        0.04  37742086
14        0.05  47841835
18        0.06  60719002
...        ...       ...
182266  470.77  17695552
182270  470.78  25613737
182274  470.79  16999441
182278  470.80  40734938
182282  470.80   1543074

[45571 rows x 2 columns]
df5
          time ase_spec
3         0.01    17183
7         0.03    36133
11        0.04    20961
15        0.05    29598
19        0.06    30368
...        ...      ...
182267  470.77     1599
182271  470.78     2881
182275  470.79        0
182279  470.80        0
182283  470.80        0

[45571 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.03     29667960     3742
1        0.04     30239781     1212
2        0.05     40283603      515
3        0.06     52872840      320
4        0.07     28457934      814
...       ...          ...      ...
45567  470.79     13844775        0
45568  470.80     38184888        0
45569  470.80     38184888        0
45570  470.80      1445462        0
45571  470.80      1445462        0

[45572 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  23599180    17183
1        0.03  37234589    36133
2        0.04  37742086    20961
3        0.05  47841835    29598
4        0.06  60719002    30368
...       ...       ...      ...
45568  470.79  16999441        0
45569  470.80  40734938        0
45570  470.80  40734938        0
45571  470.80   1543074        0
45572  470.80   1543074        0

[45573 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.014797  18483279         NaN      instructions    15724400
1         0.014797  16799987         NaN     stall_backend    15724400
2         0.014797  23245770         NaN    stall_frontend    15724400
3         0.014797    271141         NaN  ll_cache_miss_rd    15724400
4         0.025296  29766029         NaN      instructions    10001280
...            ...       ...         ...               ...         ...
182267  471.191646    542809         NaN  ll_cache_miss_rd    10081520
182268  471.192377    411940         NaN      instructions      280680
182269  471.192377    458324         NaN     stall_backend      280680
182270  471.192377    211682         NaN    stall_frontend      280680
182271  471.192377      4408         NaN  ll_cache_miss_rd      280680

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
182267       100.0         NaN         NaN
182268       100.0         NaN         NaN
182269       100.0         NaN         NaN
182270       100.0         NaN         NaN
182271       100.0         NaN         NaN

[182272 rows x 8 columns]
          time     value       counter
4         0.03  29766029  instructions
8         0.04  29189380  instructions
12        0.05  36096189  instructions
16        0.06  52927445  instructions
20        0.07  29636195  instructions
...        ...       ...           ...
182252  471.16  15610216  instructions
182256  471.17  23805243  instructions
182260  471.18  13614063  instructions
182264  471.19  38837904  instructions
182268  471.19    411940  instructions

[45567 rows x 3 columns]
instructions
          time instructions
4         0.03     29766029
8         0.04     29189380
12        0.05     36096189
16        0.06     52927445
20        0.07     29636195
...        ...          ...
182252  471.16     15610216
182256  471.17     23805243
182260  471.18     13614063
182264  471.19     38837904
182268  471.19       411940

[45567 rows x 2 columns]
df3
          time stall_backend
1         0.01      16799987
5         0.03       5890107
9         0.04       5481335
13        0.05       5592910
17        0.06       4766301
...        ...           ...
182253  471.16      21412015
182257  471.17      19462178
182261  471.18      23848705
182265  471.19      16820864
182269  471.19        458324

[45568 rows x 2 columns]
df4
          time stall_frontend
2         0.01       23245770
6         0.03       12347102
10        0.04       12773017
14        0.05       11094957
18        0.06        7377845
...        ...            ...
182254  471.16        4859998
182258  471.17        2787320
182262  471.18        1144463
182266  471.19        1200087
182270  471.19         211682

[45568 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           271141
7         0.03           146799
11        0.04           158200
15        0.05           147474
19        0.06            79647
...        ...              ...
182255  471.16           124516
182259  471.17           182099
182263  471.18           418446
182267  471.19           542809
182271  471.19             4408

[45568 rows x 2 columns]
df6
         time instructions stall_backend
0        0.03     29766029       5890107
1        0.04     29189380       5481335
2        0.05     36096189       5592910
3        0.06     52927445       4766301
4        0.07     29636195       5773265
...       ...          ...           ...
45564  471.18     13614063      23848705
45565  471.19     38837904      16820864
45566  471.19     38837904        458324
45567  471.19       411940      16820864
45568  471.19       411940        458324

[45569 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01       23245770           271141
1        0.03       12347102           146799
2        0.04       12773017           158200
3        0.05       11094957           147474
4        0.06        7377845            79647
...       ...            ...              ...
45565  471.18        1144463           418446
45566  471.19        1200087           542809
45567  471.19        1200087             4408
45568  471.19         211682           542809
45569  471.19         211682             4408

[45570 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010126   9258548         NaN   instructions     9489040
1         0.010126   2903755         NaN     mem_access     9489040
2         0.010126   1785019         NaN  mem_access_rd     9489040
3         0.010126   1118736         NaN  mem_access_wr     9489040
4         0.021798  23530230         NaN   instructions    11208680
...            ...       ...         ...            ...         ...
182391  470.700659   1066605         NaN  mem_access_wr    10073240
182392  470.709415  32512666         NaN   instructions     8224320
182393  470.709415   9325494         NaN     mem_access     8224320
182394  470.709415   5886838         NaN  mem_access_rd     8224320
182395  470.709415   3438656         NaN  mem_access_wr     8224320

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
182391       100.0         NaN         NaN
182392       100.0         NaN         NaN
182393       100.0         NaN         NaN
182394       100.0         NaN         NaN
182395       100.0         NaN         NaN

[182396 rows x 8 columns]
          time     value       counter
4         0.02  23530230  instructions
8         0.03  28371184  instructions
12        0.04  30795176  instructions
16        0.05  45030051  instructions
20        0.06  45207990  instructions
...        ...       ...           ...
182376  470.67   6257064  instructions
182380  470.68  13306539  instructions
182384  470.69  23248553  instructions
182388  470.70  17441611  instructions
182392  470.71  32512666  instructions

[45598 rows x 3 columns]
instructions
          time instructions
4         0.02     23530230
8         0.03     28371184
12        0.04     30795176
16        0.05     45030051
20        0.06     45207990
...        ...          ...
182376  470.67      6257064
182380  470.68     13306539
182384  470.69     23248553
182388  470.70     17441611
182392  470.71     32512666

[45598 rows x 2 columns]
df3
          time mem_access
1         0.01    2903755
5         0.02    8399547
9         0.03   10975025
13        0.04   11848383
17        0.05   14509434
...        ...        ...
182377  470.67    1744363
182381  470.68    4972329
182385  470.69    7883794
182389  470.70    4240847
182393  470.71    9325494

[45599 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1785019
6         0.02       5296044
10        0.03       6931257
14        0.04       7538477
18        0.05       9967626
...        ...           ...
182378  470.67       1148654
182382  470.68       2986902
182386  470.69       5212150
182390  470.70       3174242
182394  470.71       5886838

[45599 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1118736
7         0.02       3103503
11        0.03       4043768
15        0.04       4309906
19        0.05       4541808
...        ...           ...
182379  470.67        595709
182383  470.68       1985427
182387  470.69       2671644
182391  470.70       1066605
182395  470.71       3438656

[45599 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     23530230    8399547
1        0.03     28371184   10975025
2        0.04     30795176   11848383
3        0.05     45030051   14509434
4        0.06     45207990   14076726
...       ...          ...        ...
45593  470.67      6257064    1744363
45594  470.68     13306539    4972329
45595  470.69     23248553    7883794
45596  470.70     17441611    4240847
45597  470.71     32512666    9325494

[45598 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1785019       1118736
1        0.02       5296044       3103503
2        0.03       6931257       4043768
3        0.04       7538477       4309906
4        0.05       9967626       4541808
...       ...           ...           ...
45594  470.67       1148654        595709
45595  470.68       2986902       1985427
45596  470.69       5212150       2671644
45597  470.70       3174242       1066605
45598  470.71       5886838       3438656

[45599 rows x 3 columns]
merged_df
         time instructions cpu-cycles   br_pred br_mis_pred l1d_cache_rd  \
0        0.03     28722387   29795759   6465879      271179      6789495
1        0.04     31931349   30030778   7259229      252894      7804759
2        0.05     50602622   30153646  12676634      232485     10846871
3        0.06     37369058   29802078   9117595      263604      8462273
4        0.07     31107751   30183565   6977031      266522      7401960
...       ...          ...        ...       ...         ...          ...
33957  470.42     62340945   30205611  13952270       78235     14128957
33958  470.43     60844177   30170283  13595166       80337     10130948
33959  470.44     49161005   30197598  10986231      105573     12779826
33960  470.51     58446844   30181918  12153500       92364     13288960
33961  470.52     48509305   30211937  10131759       90639     15430504

      l1d_cache_wr l1d_cache      l1i_cache l1i_cache_refill  ...  \
0          3976669  10766164       11468963           685978  ...
1          4431032  12235791       12153537           565405  ...
2          4582107  15428978       17314450           551150  ...
3          3991259  12453532       14082336           595686  ...
4          4237413  11639373       12295304           712818  ...
...            ...       ...            ...              ...  ...
33957      8001007  22129964        6922425            13487  ...
33958      5740802  15871750        7506748            11781  ...
33959      7096860  19876686       11508314             8122  ...
33960      7495944  20784904  <not counted>    <not counted>  ...
33961      8741915  24172419  <not counted>    <not counted>  ...

          l2d_tlb_wr       vfp_spec      inst_spec       ase_spec  \
0              13187           3742       37234589          36133
1              13055           1212       37742086          20961
2              13924            515       47841835          29598
3              13582            320       60719002          30368
4              13232            814       35934265          24705
...              ...            ...            ...            ...
33957  <not counted>             57         302942             43
33958  <not counted>             16          22296              0
33959  <not counted>  <not counted>  <not counted>  <not counted>
33960  <not counted>  <not counted>  <not counted>  <not counted>
33961             65             52         363061             65

      stall_backend stall_frontend ll_cache_miss_rd     mem_access  \
0           5890107       12347102           146799       10975025
1           5481335       12773017           158200       11848383
2           5592910       11094957           147474       14509434
3           4766301        7377845            79647       14076726
4           5773265       12936469           158214       11653746
...             ...            ...              ...            ...
33957       7224042        4279194           175496  <not counted>
33958       7957757        4477434           193817  <not counted>
33959       6192343        3166657           129580        4170265
33960       6338543        6071407            83242        4565890
33961       5451242        5262182            66484       11836591

       mem_access_rd  mem_access_wr
0            6931257        4043768
1            7538477        4309906
2            9967626        4541808
3            9804877        4271849
4            7399899        4253847
...              ...            ...
33957  <not counted>  <not counted>
33958  <not counted>  <not counted>
33959        2739368        1430897
33960        3351808        1214082
33961        7626760        4209831

[33962 rows x 32 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011529  12920493         NaN  instructions    12411680
1         0.011529  36999729         NaN    cpu-cycles    12411680
2         0.011529   2405078         NaN       br_pred    12411680
3         0.011529     94610         NaN   br_mis_pred    12411680
4         0.021954  27251151         NaN  instructions     9882480
...            ...       ...         ...           ...         ...
129143  328.767305     65065         NaN   br_mis_pred    10103520
129144  328.768483   2328431         NaN  instructions      715040
129145  328.768483   2110096         NaN    cpu-cycles      715040
129146  328.768483    361736         NaN       br_pred      715040
129147  328.768483      2217         NaN   br_mis_pred      715040

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.35  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.92  insn per cycle
...            ...         ...             ...
129143       100.0         NaN             NaN
129144       100.0        1.10  insn per cycle
129145       100.0         NaN             NaN
129146       100.0         NaN             NaN
129147       100.0         NaN             NaN

[129148 rows x 8 columns]
          time     value       counter
4         0.02  27251151  instructions
8         0.03  30400155  instructions
12        0.04  34933573  instructions
16        0.05  53524819  instructions
20        0.06  33284527  instructions
...        ...       ...           ...
129128  328.74  15646797  instructions
129132  328.75  23854077  instructions
129136  328.76  13840142  instructions
129140  328.77  37498519  instructions
129144  328.77   2328431  instructions

[32286 rows x 3 columns]
instructions
          time instructions
4         0.02     27251151
8         0.03     30400155
12        0.04     34933573
16        0.05     53524819
20        0.06     33284527
...        ...          ...
129128  328.74     15646797
129132  328.75     23854077
129136  328.76     13840142
129140  328.77     37498519
129144  328.77      2328431

[32286 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   36999729
5         0.02   29578577
9         0.03   29729241
13        0.04   30215855
17        0.05   30142399
...        ...        ...
129129  328.74   32979773
129133  328.75   29813022
129137  328.76   30185668
129141  328.77   30274520
129145  328.77    2110096

[32287 rows x 2 columns]
df4
          time   br_pred
2         0.01   2405078
6         0.02   6056710
10        0.03   6869076
14        0.04   8025640
18        0.05  13543680
...        ...       ...
129130  328.74   3044128
129134  328.75   5329281
129138  328.76   3687922
129142  328.77   6703190
129146  328.77    361736

[32287 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       94610
7         0.02      248995
11        0.03      281948
15        0.04      270088
19        0.05      228511
...        ...         ...
129131  328.74       52553
129135  328.75       44153
129139  328.76       80014
129143  328.77       65065
129147  328.77        2217

[32287 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     27251151   29578577
1        0.03     30400155   29729241
2        0.04     34933573   30215855
3        0.05     53524819   30142399
4        0.06     33284527   30153581
...       ...          ...        ...
32283  328.76     13840142   30185668
32284  328.77     37498519   30274520
32285  328.77     37498519    2110096
32286  328.77      2328431   30274520
32287  328.77      2328431    2110096

[32288 rows x 3 columns]
df7
         time   br_pred br_mis_pred
0        0.01   2405078       94610
1        0.02   6056710      248995
2        0.03   6869076      281948
3        0.04   8025640      270088
4        0.05  13543680      228511
...       ...       ...         ...
32284  328.76   3687922       80014
32285  328.77   6703190       65065
32286  328.77   6703190        2217
32287  328.77    361736       65065
32288  328.77    361736        2217

[32289 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011500  13191848         NaN  instructions    12400080
1         0.011500   2544342         NaN  l1d_cache_rd    12400080
2         0.011500   1569324         NaN  l1d_cache_wr    12400080
3         0.011500   4113666         NaN     l1d_cache    12400080
4         0.021918  28898237         NaN  instructions     9960880
...            ...       ...         ...           ...         ...
129131  328.843232  10369667         NaN     l1d_cache    10119600
129132  328.843686     89926         NaN  instructions       65880
129133  328.843686     16569         NaN  l1d_cache_rd       65880
129134  328.843686     11815         NaN  l1d_cache_wr       65880
129135  328.843686     28384         NaN     l1d_cache       65880

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
129131       100.0         NaN         NaN
129132       100.0         NaN         NaN
129133       100.0         NaN         NaN
129134       100.0         NaN         NaN
129135       100.0         NaN         NaN

[129136 rows x 8 columns]
          time     value       counter
4         0.02  28898237  instructions
8         0.03  30330280  instructions
12        0.04  35001526  instructions
16        0.05  54088845  instructions
20        0.06  32459214  instructions
...        ...       ...           ...
129116  328.81  16309904  instructions
129120  328.82  23565312  instructions
129124  328.83  13949036  instructions
129128  328.84  39081088  instructions
129132  328.84     89926  instructions

[32283 rows x 3 columns]
instructions
          time instructions
4         0.02     28898237
8         0.03     30330280
12        0.04     35001526
16        0.05     54088845
20        0.06     32459214
...        ...          ...
129116  328.81     16309904
129120  328.82     23565312
129124  328.83     13949036
129128  328.84     39081088
129132  328.84        89926

[32283 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      2544342
5         0.02      6827895
9         0.03      7412286
13        0.04      8470866
17        0.05     11360332
...        ...          ...
129117  328.81      3369744
129121  328.82      5389080
129125  328.83      2826114
129129  328.84      6848293
129133  328.84        16569

[32284 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1569324
6         0.02      3973317
10        0.03      4300859
14        0.04      4731872
18        0.05      4511829
...        ...          ...
129118  328.81      2129619
129122  328.82      2868742
129126  328.83      1267931
129130  328.84      3521374
129134  328.84        11815

[32284 rows x 2 columns]
df5
          time l1d_cache
3         0.01   4113666
7         0.02  10801212
11        0.03  11713145
15        0.04  13202738

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011192  13234662         NaN  instructions    12159680
1         0.011192    477113         NaN  l2d_cache_rd    12159680
2         0.011192    169440         NaN  l2d_cache_wr    12159680
3         0.011192    646553         NaN     l2d_cache    12159680
4         0.021604  26546331         NaN  instructions     9822800
...            ...       ...         ...           ...         ...
129163  329.038903   1241660         NaN     l2d_cache    10354320
129164  329.043854  18358141         NaN  instructions     4539240
129165  329.043854     83110         NaN  l2d_cache_rd     4539240
129166  329.043854     76934         NaN  l2d_cache_wr     4539240
129167  329.043854    160044         NaN     l2d_cache     4539240

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
129163       100.0         NaN         NaN
129164       100.0         NaN         NaN
129165       100.0         NaN         NaN
129166       100.0         NaN         NaN
129167       100.0         NaN         NaN

[129168 rows x 8 columns]
          time     value       counter
4         0.02  26546331  instructions
8         0.03  30940385  instructions
12        0.04  34025354  instructions
16        0.05  54153429  instructions
20        0.06  33409702  instructions
...        ...       ...           ...
129148  329.01  10031626  instructions
129152  329.02  21460347  instructions
129156  329.03  15632841  instructions
129160  329.04  27827294  instructions
129164  329.04  18358141  instructions

[32291 rows x 3 columns]
instructions
          time instructions
4         0.02     26546331
8         0.03     30940385
12        0.04     34025354
16        0.05     54153429
20        0.06     33409702
...        ...          ...
129148  329.01     10031626
129152  329.02     21460347
129156  329.03     15632841
129160  329.04     27827294
129164  329.04     18358141

[32291 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       477113
5         0.02       724134
9         0.03       916256
13        0.04       825971
17        0.05       918717
...        ...          ...
129149  329.01       142677
129153  329.02       386768
129157  329.03       384263
129161  329.04       645996
129165  329.04        83110

[32292 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       169440
6         0.02       183020
10        0.03       199951
14        0.04       219837
18        0.05       388010
...        ...          ...
129150  329.01        87566
129154  329.02       176776
129158  329.03       253822
129162  329.04       595664
129166  329.04        76934

[32292 rows x 2 columns]
df5
          time l2d_cache
3         0.01    646553
7         0.02    907154
11        0.03   1116207
15        0.04   1045808
19        0.05   1306727
...        ...       ...
129151  329.01    230243
129155  329.02    563544
129159  329.03    638085
129163  329.04   1241660
129167  329.04    160044

[32292 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     26546331       724134
1        0.03     30940385       916256
2        0.04     34025354       825971
3        0.05     54153429       918717
4        0.06     33409702       887636
...       ...          ...          ...
32288  329.03     15632841       384263
32289  329.04     27827294       645996
32290  329.04     27827294        83110
32291  329.04     18358141       645996
32292  329.04     18358141        83110

[32293 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       169440    646553
1        0.02       183020    907154
2        0.03       199951   1116207
3        0.04       219837   1045808
4        0.05       388010   1306727
...       ...          ...       ...
32289  329.03       253822    638085
32290  329.04       595664   1241660
32291  329.04       595664    160044
32292  329.04        76934   1241660
32293  329.04        76934    160044

[32294 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010120  10834081         NaN  instructions    11177120
1         0.010120   5183433         NaN       l1d_tlb    11177120
2         0.010120   3602088         NaN    l1d_tlb_rd    11177120
3         0.010120   1581345         NaN    l1d_tlb_wr    11177120
4         0.020564  24490645         NaN  instructions     9993200
...            ...       ...         ...           ...         ...
129147  328.666667   2086732         NaN    l1d_tlb_wr    10109520
129148  328.671734  18570456         NaN  instructions     4593080
129149  328.671734   7074017         NaN       l1d_tlb     4593080
129150  328.671734   5095588         NaN    l1d_tlb_rd     4593080
129151  328.671734   1978429         NaN    l1d_tlb_wr     4593080

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
129147       100.0         NaN         NaN
129148       100.0         NaN         NaN
129149       100.0         NaN         NaN
129150       100.0         NaN         NaN
129151       100.0         NaN         NaN

[129152 rows x 8 columns]
          time     value       counter
4         0.02  24490645  instructions
8         0.03  28767763  instructions
12        0.04  32233970  instructions
16        0.05  58864180  instructions
20        0.06  34887601  instructions
...        ...       ...           ...
129132  328.64  10115035  instructions
129136  328.65  17803092  instructions
129140  328.66  18841466  instructions
129144  328.67  27595871  instructions
129148  328.67  18570456  instructions

[32287 rows x 3 columns]
instructions
          time instructions
4         0.02     24490645
8         0.03     28767763
12        0.04     32233970
16        0.05     58864180
20        0.06     34887601
...        ...          ...
129132  328.64     10115035
129136  328.65     17803092
129140  328.66     18841466
129144  328.67     27595871
129148  328.67     18570456

[32287 rows x 2 columns]
df3
          time   l1d_tlb
1         0.01   5183433
5         0.02  10493995
9         0.03  12540118
13        0.04  13861003
17        0.05  19797052
...        ...       ...
129133  328.64   3827125
129137  328.65   7272036
129141  328.66   6952592
129145  328.67   8670592
129149  328.67   7074017

[32288 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    3602088
6         0.02    6877046
10        0.03    8106635
14        0.04    8996208
18        0.05   13961860
...        ...        ...
129134  328.64    2563527
129138  328.65    4746095
129142  328.66    4712476
129146  328.67    6583860
129150  328.67    5095588

[32288 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1581345
7         0.02    3616949
11        0.03    4433483
15        0.04    4864795
19        0.05    5835192
...        ...        ...
129135  328.64    1263598
129139  328.65    2525941
129143  328.66    2240116
129147  328.67    2086732
129151  328.67    1978429

[32288 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.02     24490645  10493995
1        0.03     28767763  12540118
2        0.04     32233970  13861003
3        0.05     58864180  19797052
4        0.06     34887601  13237905
...       ...          ...       ...
32284  328.66     18841466   6952592
32285  328.67     27595871   8670592
32286  328.67     27595871   7074017
32287  328.67     18570456   8670592
32288  328.67     18570456   7074017

[32289 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    3602088    1581345
1        0.02    6877046    3616949
2        0.03    8106635    4433483
3        0.04    8996208    4864795
4        0.05   13961860    5835192
...       ...        ...        ...
32285  328.66    4712476    2240116
32286  328.67    6583860    2086732
32287  328.67    6583860    1978429
32288  328.67    5095588    2086732
32289  328.67    5095588    1978429

[32290 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.015018  18855385         NaN  instructions    15958320
1         0.015018     25787         NaN     dtlb_walk    15958320
2         0.015018      2549         NaN     itlb_walk    15958320
3         0.015018   6297690         NaN       l1i_tlb    15958320
4         0.025478  30330431         NaN  instructions    10035800
...            ...       ...         ...           ...         ...
129231  329.119777   8263178         NaN       l1i_tlb    10125560
129232  329.120782   1451773         NaN  instructions      567680
129233  329.120782       952         NaN     dtlb_walk      567680
129234  329.120782         6         NaN     itlb_walk      567680
129235  329.120782    338732         NaN       l1i_tlb      567680

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
129231       100.0         NaN         NaN
129232       100.0         NaN         NaN
129233       100.0         NaN         NaN
129234       100.0         NaN         NaN
129235       100.0         NaN         NaN

[129236 rows x 8 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]

          time     value       counter
4         0.03  30330431  instructions
8         0.04  29933925  instructions
12        0.05  39978176  instructions
16        0.06  52910582  instructions
20        0.07  28731369  instructions
...        ...       ...           ...
129216  329.09  15711618  instructions
129220  329.10  23747370  instructions
129224  329.11  13602661  instructions
129228  329.12  38170590  instructions
129232  329.12   1451773  instructions

[32308 rows x 3 columns]
instructions
          time instructions
4         0.03     30330431
8         0.04     29933925
12        0.05     39978176
16        0.06     52910582
20        0.07     28731369
...        ...          ...
129216  329.09     15711618
129220  329.10     23747370
129224  329.11     13602661
129228  329.12     38170590
129232  329.12      1451773

[32308 rows x 2 columns]
df3
          time dtlb_walk
1         0.02     25787
5         0.03      3994
9         0.04      4011
13        0.05      3855
17        0.06      2162
...        ...       ...
129217  329.09     14298
129221  329.10     18474
129225  329.11     36326
129229  329.12     16352
129233  329.12       952

[32309 rows x 2 columns]
df4
          time itlb_walk
2         0.02      2549
6         0.03      1076
10        0.04      1012
14        0.05       765
18        0.06       323
...        ...       ...
129218  329.09      1482
129222  329.10      1317
129226  329.11       390
129230  329.12       199
129234  329.12         6

[32309 rows x 2 columns]
df5
          time   l1i_tlb
3         0.02   6297690
7         0.03  10262721
11        0.04  10045472
15        0.05  11950066
19        0.06  13725423
...        ...       ...
129219  329.09   4521430
129223  329.10   6072768
129227  329.11   4782638
129231  329.12   8263178
129235  329.12    338732

[32309 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.03     30330431      3994
1        0.04     29933925      4011
2        0.05     39978176      3855
3        0.06     52910582      2162
4        0.07     28731369      5116
...       ...          ...       ...
32305  329.11     13602661     36326
32306  329.12     38170590     16352
32307  329.12     38170590       952
32308  329.12      1451773     16352
32309  329.12      1451773       952

[32310 rows x 3 columns]
df7
         time itlb_walk   l1i_tlb
0        0.02      2549   6297690
1        0.03      1076  10262721
2        0.04      1012  10045472
3        0.05       765  11950066
4        0.06       323  13725423
...       ...       ...       ...
32306  329.11       390   4782638
32307  329.12       199   8263178
32308  329.12       199    338732
32309  329.12         6   8263178
32310  329.12         6    338732

[32311 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010128  10700545         NaN  instructions    11129400
1         0.010128     70773         NaN       l2d_tlb    11129400
2         0.010128     57972         NaN    l2d_tlb_rd    11129400
3         0.010128     12801         NaN    l2d_tlb_wr    11129400
4         0.020604  22172426         NaN  instructions     9935240
...            ...       ...         ...           ...         ...
129383  329.180363     13184         NaN    l2d_tlb_wr    10068560
129384  329.181265   1046581         NaN  instructions      573080
129385  329.181265      2924         NaN       l2d_tlb      573080
129386  329.181265      2213         NaN    l2d_tlb_rd      573080
129387  329.181265       711         NaN    l2d_tlb_wr      573080

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
129383       100.0         NaN         NaN
129384       100.0         NaN         NaN
129385       100.0         NaN         NaN
129386       100.0         NaN         NaN
129387       100.0         NaN         NaN

[129388 rows x 8 columns]
          time     value       counter
4         0.02  22172426  instructions
8         0.03  28455524  instructions
12        0.04  36060389  instructions
16        0.05  50193212  instructions
20        0.06  38383250  instructions
...        ...       ...           ...
129368  329.15  13269313  instructions
129372  329.16  25515373  instructions
129376  329.17  14496305  instructions
129380  329.18  38742873  instructions
129384  329.18   1046581  instructions

[32346 rows x 3 columns]
instructions
          time instructions
4         0.02     22172426
8         0.03     28455524
12        0.04     36060389
16        0.05     50193212
20        0.06     38383250
...        ...          ...
129368  329.15     13269313
129372  329.16     25515373
129376  329.17     14496305
129380  329.18     38742873
129384  329.18      1046581

[32346 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   70773
5         0.02  172489
9         0.03  274777
13        0.04  311579
17        0.05  397207
...        ...     ...
129369  329.15   99679
129373  329.16  216698
129377  329.17  153219
129381  329.18   59699
129385  329.18    2924

[32347 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      57972
6         0.02     161720
10        0.03     261656
14        0.04     296778
18        0.05     382771
...        ...        ...
129370  329.15      90486
129374  329.16     200159
129378  329.17     144441
129382  329.18      46515
129386  329.18       2213

[32347 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      12801
7         0.02      10769
11        0.03      13121
15        0.04      14801
19        0.05      14436
...        ...        ...
129371  329.15       9193
129375  329.16      16539
129379  329.17       8778
129383  329.18      13184
129387  329.18        711

[32347 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     22172426  172489
1        0.03     28455524  274777
2        0.04     36060389  311579
3        0.05     50193212  397207
4        0.06     38383250  331765
...       ...          ...     ...
32343  329.17     14496305  153219
32344  329.18     38742873   59699
32345  329.18     38742873    2924
32346  329.18      1046581   59699
32347  329.18      1046581    2924

[32348 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      57972      12801
1        0.02     161720      10769
2        0.03     261656      13121
3        0.04     296778      14801
4        0.05     382771      14436
...       ...        ...        ...
32344  329.17     144441       8778
32345  329.18      46515      13184
32346  329.18      46515        711
32347  329.18       2213      13184
32348  329.18       2213        711

[32349 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011687  12909930         NaN  instructions    12584440
1         0.011687        51         NaN      vfp_spec    12584440
2         0.011687  15495197         NaN     inst_spec    12584440
3         0.011687     10436         NaN      ase_spec    12584440
4         0.022147  25764404         NaN  instructions    10011800
...            ...       ...         ...           ...         ...
129187  328.753833         0         NaN      ase_spec    10062320
129188  328.763422  35886382         NaN  instructions     9143640
129189  328.763422         0         NaN      vfp_spec     9143640
129190  328.763422  37347491         NaN     inst_spec     9143640
129191  328.763422         0         NaN      ase_spec     9143640

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
129187       100.0         NaN         NaN
129188       100.0         NaN         NaN
129189       100.0         NaN         NaN
129190       100.0         NaN         NaN
129191       100.0         NaN         NaN

[129192 rows x 8 columns]
          time     value       counter
4         0.02  25764404  instructions
8         0.03  27057590  instructions
12        0.04  32051079  instructions
16        0.05  49534173  instructions
20        0.06  38548640  instructions
...        ...       ...           ...
129172  328.72     17343  instructions
129176  328.73  14076188  instructions
129180  328.74  27452266  instructions
129184  328.75  15468894  instructions
129188  328.76  35886382  instructions

[32297 rows x 3 columns]
instructions
          time instructions
4         0.02     25764404
8         0.03     27057590
12        0.04     32051079
16        0.05     49534173
20        0.06     38548640
...        ...          ...
129172  328.72        17343
129176  328.73     14076188
129180  328.74     27452266
129184  328.75     15468894
129188  328.76     35886382

[32297 rows x 2 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]

df3
          time vfp_spec
1         0.01       51
5         0.02     3206
9         0.03     1492
13        0.04      703
17        0.05      387
...        ...      ...
129173  328.72        5
129177  328.73      252
129181  328.74        0
129185  328.75        0
129189  328.76        0

[32298 rows x 2 columns]
df4
          time inst_spec
2         0.01  15495197
6         0.02  32117305
10        0.03  33925367
14        0.04  39449755
18        0.05  57074102
...        ...       ...
129174  328.72     31296
129178  328.73  15883599
129182  328.74  29878595
129186  328.75  19578422
129190  328.76  37347491

[32298 rows x 2 columns]
df5
          time ase_spec
3         0.01    10436
7         0.02    34545
11        0.03    18563
15        0.04    23301
19        0.05    31647
...        ...      ...
129175  328.72        0
129179  328.73     1501
129183  328.74     2980
129187  328.75        0
129191  328.76        0

[32298 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     25764404     3206
1        0.03     27057590     1492
2        0.04     32051079      703
3        0.05     49534173      387
4        0.06     38548640      579
...       ...          ...      ...
32292  328.72        17343        5
32293  328.73     14076188      252
32294  328.74     27452266        0
32295  328.75     15468894        0
32296  328.76     35886382        0

[32297 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  15495197    10436
1        0.02  32117305    34545
2        0.03  33925367    18563
3        0.04  39449755    23301
4        0.05  57074102    31647
...       ...       ...      ...
32293  328.72     31296        0
32294  328.73  15883599     1501
32295  328.74  29878595     2980
32296  328.75  19578422        0
32297  328.76  37347491        0

[32298 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010136  10810992         NaN      instructions    11104440
1         0.010136  12670689         NaN     stall_backend    11104440
2         0.010136  16445426         NaN    stall_frontend    11104440
3         0.010136    191741         NaN  ll_cache_miss_rd    11104440
4         0.020620  22231370         NaN      instructions     9948240
...            ...       ...         ...               ...         ...
129379  329.479362    557144         NaN  ll_cache_miss_rd    10280480
129380  329.480340   1404146         NaN      instructions      589920
129381  329.480340    918090         NaN     stall_backend      589920
129382  329.480340    373092         NaN    stall_frontend      589920
129383  329.480340      9663         NaN  ll_cache_miss_rd      589920

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
129379       100.0         NaN         NaN
129380       100.0         NaN         NaN
129381       100.0         NaN         NaN
129382       100.0         NaN         NaN
129383       100.0         NaN         NaN

[129384 rows x 8 columns]
          time     value       counter
4         0.02  22231370  instructions
8         0.03  28360473  instructions
12        0.04  41734248  instructions
16        0.05  52676290  instructions
20        0.06  34266152  instructions
...        ...       ...           ...
129364  329.45  15680758  instructions
129368  329.46  23748107  instructions
129372  329.47  13956159  instructions
129376  329.48  38447441  instructions
129380  329.48   1404146  instructions

[32345 rows x 3 columns]
instructions
          time instructions
4         0.02     22231370
8         0.03     28360473
12        0.04     41734248
16        0.05     52676290
20        0.06     34266152
...        ...          ...
129364  329.45     15680758
129368  329.46     23748107
129372  329.47     13956159
129376  329.48     38447441
129380  329.48      1404146

[32345 rows x 2 columns]
df3
          time stall_backend
1         0.01      12670689
5         0.02       7877450
9         0.03       5360790
13        0.04       7351933
17        0.05       4572472
...        ...           ...
129365  329.45      22318669
129369  329.46      20157796
129373  329.47      23663878
129377  329.48      17733973
129381  329.48        918090

[32346 rows x 2 columns]
df4
          time stall_frontend
2         0.01       16445426
6         0.02       13331221
10        0.03       12958899
14        0.04       16130807
18        0.05        7639067
...        ...            ...
129366  329.45        5060843
129370  329.46        2393537
129374  329.47        1092335
129378  329.48         983174
129382  329.48         373092

[32346 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           191741
7         0.02           154902
11        0.03           150716
15        0.04           210828
19        0.05            76168
...        ...              ...
129367  329.45           125901
129371  329.46           171571
129375  329.47           433338
129379  329.48           557144
129383  329.48             9663

[32346 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     22231370       7877450
1        0.03     28360473       5360790
2        0.04     41734248       7351933
3        0.05     52676290       4572472
4        0.06     34266152       5391358
...       ...          ...           ...
32342  329.47     13956159      23663878
32343  329.48     38447441      17733973
32344  329.48     38447441        918090
32345  329.48      1404146      17733973
32346  329.48      1404146        918090

[32347 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01       16445426           191741
1        0.02       13331221           154902
2        0.03       12958899           150716
3        0.04       16130807           210828
4        0.05        7639067            76168
...       ...            ...              ...
32343  329.47        1092335           433338
32344  329.48         983174           557144
32345  329.48         983174             9663
32346  329.48         373092           557144
32347  329.48         373092             9663

[32348 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.011893  13122439         NaN   instructions    12878040
1         0.011893   4098119         NaN     mem_access    12878040
2         0.011893   2533661         NaN  mem_access_rd    12878040
3         0.011893   1564458         NaN  mem_access_wr    12878040
4         0.022356  24514939         NaN   instructions     9906760
...            ...       ...         ...            ...         ...
129167  328.745673   3311976         NaN  mem_access_wr    10132320
129168  328.747070   2741849         NaN   instructions      984920
129169  328.747070    793553         NaN     mem_access      984920
129170  328.747070    492678         NaN  mem_access_rd      984920
129171  328.747070    300875         NaN  mem_access_wr      984920

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
129167       100.0         NaN         NaN
129168       100.0         NaN         NaN
129169       100.0         NaN         NaN
129170       100.0         NaN         NaN
129171       100.0         NaN         NaN

[129172 rows x 8 columns]
          time     value       counter
4         0.02  24514939  instructions
8         0.03  28404791  instructions
12        0.04  32071590  instructions
16        0.05  50823836  instructions
20        0.06  37956475  instructions
...        ...       ...           ...
129152  328.71  15809446  instructions
129156  328.73  23581715  instructions
129160  328.74  13588312  instructions
129164  328.75  37461574  instructions
129168  328.75   2741849  instructions

[32292 rows x 3 columns]
instructions
          time instructions
4         0.02     24514939
8         0.03     28404791
12        0.04     32071590
16        0.05     50823836
20        0.06     37956475
...        ...          ...
129152  328.71     15809446
129156  328.73     23581715
129160  328.74     13588312
129164  328.75     37461574
129168  328.75      2741849

[32292 rows x 2 columns]
df3
          time mem_access
1         0.01    4098119
5         0.02    9077583
9         0.03   10974706
13        0.04   12311496
17        0.05   15617180
...        ...        ...
129153  328.71    5328435
129157  328.73    8311691
129161  328.74    3982599
129165  328.75    9853335
129169  328.75     793553

[32293 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       2533661
6         0.02       5725719
10        0.03       6924927
14        0.04       7846146
18        0.05      10953341
...        ...           ...
129154  328.71       3268916
129158  328.73       5418655
129162  328.74       2744661
129166  328.75       6541359
129170  328.75        492678

[32293 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1564458
7         0.02       3351864
11        0.03       4049779
15        0.04       4465350
19        0.05       4663839
...        ...           ...
129155  328.71       2059519
129159  328.73       2893036
129163  328.74       1237938
129167  328.75       3311976
129171  328.75        300875

[32293 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     24514939    9077583
1        0.03     28404791   10974706
2        0.04     32071590   12311496
3        0.05     50823836   15617180
4        0.06     37956475   12402137
...       ...          ...        ...
32289  328.74     13588312    3982599
32290  328.75     37461574    9853335
32291  328.75     37461574     793553
32292  328.75      2741849    9853335
32293  328.75      2741849     793553

[32294 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       2533661       1564458
1        0.02       5725719       3351864
2        0.03       6924927       4049779
3        0.04       7846146       4465350
4        0.05      10953341       4663839
...       ...           ...           ...
32290  328.74       2744661       1237938
32291  328.75       6541359       3311976
32292  328.75       6541359        300875
32293  328.75        492678       3311976
32294  328.75        492678        300875

[32295 rows x 3 columns]
merged_df
         time   instructions     cpu-cycles        br_pred    br_mis_pred  \
0        0.04       34933573       30215855        8025640         270088
1        0.05       53524819       30142399       13543680         228511
2        0.06       33284527       30153581        7864314         266855
3        0.08       33735145       30159573        7627725         262342
4        0.09       30515320       30146333        6975240         286966
...       ...            ...            ...            ...            ...
27451  328.55       25363227       30149076        5850150          30390
27452  328.58         409880        1596420          67720           1874
27453  328.59        1621477        4938092         303764           9400
27454  328.60  <not counted>  <not counted>  <not counted>  <not counted>
27455  328.65  <not counted>  <not counted>  <not counted>  <not counted>

        l1d_cache_rd   l1d_cache_wr      l1d_cache      l1i_cache  \
0            8470866        4731872       13202738       12131616
1           11360332        4511829       15872161       14910857
2            7525930        3961108       11487038       17938020
3            8155789        4539767       12695556       13861329
4            7865003        4488579       12353582       13444291
...              ...            ...            ...            ...
27451  <not counted>  <not counted>  <not counted>  <not counted>
27452        2860719        1425825        4286544       17981721
27453       11922827        4233889       16156716       20462705
27454       11639842        4443245       16083087        7208539
27455        8062604        4144377       12206981        1432699

      l1i_cache_refill  ... l2d_tlb_wr       vfp_spec      inst_spec  \
0               700743  ...      14801            703       39449755
1               568312  ...      14436            387       57074102
2               530880  ...      13233            579       46270152
3               753705  ...      16212           1281       40940566
4               727215  ...      15834           1408       37276720
...                ...  ...        ...            ...            ...
27451    <not counted>  ...      42760              0       19053886
27452            68673  ...      16819  <not counted>  <not counted>
27453            35618  ...      10785  <not counted>  <not counted>
27454           102298  ...      10774  <not counted>  <not counted>
27455             7329  ...       2425  <not counted>  <not counted>

            ase_spec stall_backend stall_frontend ll_cache_miss_rd  \
0              23301       7351933       16130807           210828
1              31647       4572472        7639067            76168
2              25681       5391358       12016152           138962
3              22804       5357261       12619246           149863
4              20958       5661410       11748715           138708
...              ...           ...            ...              ...
27451              0       9129439        6658320           235930
27452  <not counted>       7628890        5994080           180141
27453  <not counted>       6657391        5395510           168241
27454  <not counted>       6794352        3743764           167218
27455  <not counted>       5713466        3065172           115420

          mem_access  mem_access_rd  mem_access_wr
0           12311496        7846146        4465350
1           15617180       10953341        4663839
2           12402137        8437406        3964731
3           12573919        8054854        4519065
4           11615351        7431145        4184206
...              ...            ...            ...
27451        5791399        3616423        2174976
27452  <not counted>  <not counted>  <not counted>
27453  <not counted>  <not counted>  <not counted>
27454  <not counted>  <not counted>  <not counted>
27455  <not counted>  <not counted>  <not counted>

[27456 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010118   8383546         NaN  instructions     9014120
1         0.010118  26881613         NaN    cpu-cycles     9014120
2         0.010118   1546333         NaN       br_pred     9014120
3         0.010118     63315         NaN   br_mis_pred     9014120
4         0.022435  23417991         NaN  instructions    11750840
...            ...       ...         ...           ...         ...
160539  423.427227     63421         NaN   br_mis_pred    10066560
160540  423.428054    807616         NaN  instructions      393080
160541  423.428054   1143789         NaN    cpu-cycles      393080
160542  423.428054    128744         NaN       br_pred      393080
160543  423.428054      1516         NaN   br_mis_pred      393080

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.31  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.67  insn per cycle
...            ...         ...             ...
160539       100.0         NaN             NaN
160540       100.0        0.71  insn per cycle
160541       100.0         NaN             NaN
160542       100.0         NaN             NaN
160543       100.0         NaN             NaN

[160544 rows x 8 columns]
          time     value       counter
4         0.02  23417991  instructions
8         0.03  26624704  instructions
12        0.04  30525786  instructions
16        0.05  43530871  instructions
20        0.06  46417878  instructions
...        ...       ...           ...
160524  423.40  16100645  instructions
160528  423.41  23546615  instructions
160532  423.42  14041453  instructions
160536  423.43  38581536  instructions
160540  423.43    807616  instructions

[40135 rows x 3 columns]
instructions
          time instructions
4         0.02     23417991
8         0.03     26624704
12        0.04     30525786
16        0.05     43530871
20        0.06     46417878
...        ...          ...
160524  423.40     16100645
160528  423.41     23546615
160532  423.42     14041453
160536  423.43     38581536
160540  423.43       807616

[40135 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   26881613
5         0.02   35147956
9         0.03   29558050
13        0.04   29627631
17        0.05   30166167
...        ...        ...
160525  423.40   32067312
160529  423.41   29863431
160533  423.42   30160672
160537  423.43   30163159
160541  423.43    1143789

[40136 rows x 2 columns]
df4
          time   br_pred
2         0.01   1546333
6         0.02   4988810
10        0.03   6014701
14        0.04   6945995
18        0.05  10544631
...        ...       ...
160526  423.40   3166537
160530  423.41   5256190
160534  423.42   3770534
160538  423.43   6791090
160542  423.43    128744

[40136 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       63315
7         0.02      184715
11        0.03      261869
15        0.04      251942
19        0.05      242659
...        ...         ...
160527  423.40       55271
160531  423.41       41381
160535  423.42       83526
160539  423.43       63421
160543  423.43        1516

[40136 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     23417991   35147956
1        0.03     26624704   29558050
2        0.04     30525786   29627631
3        0.05     43530871   30166167
4        0.06     46417878   30099669
...       ...          ...        ...
40132  423.42     14041453   30160672
40133  423.43     38581536   30163159
40134  423.43     38581536    1143789
40135  423.43       807616   30163159
40136  423.43       807616    1143789

[40137 rows x 3 columns]
df7
         time   br_pred br_mis_pred
0        0.01   1546333       63315
1        0.02   4988810      184715
2        0.03   6014701      261869
3        0.04   6945995      251942
4        0.05  10544631      242659
...       ...       ...         ...
40133  423.42   3770534       83526
40134  423.43   6791090       63421
40135  423.43   6791090        1516
40136  423.43    128744       63421
40137  423.43    128744        1516

[40138 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.015116  17864110         NaN  instructions    16014280
1         0.015116   3514521         NaN  l1d_cache_rd    16014280
2         0.015116   2174589         NaN  l1d_cache_wr    16014280
3         0.015116   5689110         NaN     l1d_cache    16014280
4         0.025721  29808746         NaN  instructions    10038240
...            ...       ...         ...           ...         ...
160663  422.695031  10221653         NaN     l1d_cache    10072000
160664  422.695928    873956         NaN  instructions      446840
160665  422.695928    160290         NaN  l1d_cache_rd      446840
160666  422.695928    100595         NaN  l1d_cache_wr      446840
160667  422.695928    260885         NaN     l1d_cache      446840

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
160663       100.0         NaN         NaN
160664       100.0         NaN         NaN
160665       100.0         NaN         NaN
160666       100.0         NaN         NaN
160667       100.0         NaN         NaN

[160668 rows x 8 columns]
          time     value       counter
4         0.03  29808746  instructions
8         0.04  28095081  instructions
12        0.05  34529858  instructions
16        0.06  53045140  instructions
20        0.07  30144267  instructions
...        ...       ...           ...
160648  422.66  15869026  instructions
160652  422.67  24465187  instructions
160656  422.68  13520521  instructions
160660  422.70  38569378  instructions
160664  422.70    873956  instructions

[40166 rows x 3 columns]
instructions
          time instructions
4         0.03     29808746
8         0.04     28095081
12        0.05     34529858
16        0.06     53045140
20        0.07     30144267
...        ...          ...
160648  422.66     15869026
160652  422.67     24465187
160656  422.68     13520521
160660  422.70     38569378
160664  422.70       873956

[40166 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.02      3514521
5         0.03      7186154
9         0.04      6874114
13        0.05      8306897
17        0.06     11110257
...        ...          ...
160649  422.66      3286766
160653  422.67      5618674
160657  422.68      2690826
160661  422.70      6751189
160665  422.70       160290

[40167 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.02      2174589
6         0.03      4171744
10        0.04      3968558
14        0.05      4592636
18        0.06      4382333
...        ...          ...
160650  422.66      2074012
160654  422.67      2975587
160658  422.68      1201667
160662  422.70      3470464
160666  422.70       100595

[40167 rows x 2 columns]
df5
          time l1d_cache
3         0.02   5689110
7         0.03  11357898
11        0.04  10842672
15        0.05  12899533
19        0.06  15492590
...        ...       ...
160651  422.66   5360778
160655  422.67   8594261
160659  422.68   3892493
160663  422.70  10221653
160667  422.70    260885

[40167 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.03     29808746      7186154
1        0.04     28095081      6874114
2        0.05     34529858      8306897
3        0.06     53045140     11110257
4        0.07     30144267      6972548
...       ...          ...          ...
40163  422.68     13520521      2690826
40164  422.70     38569378      6751189
40165  422.70     38569378       160290
40166  422.70       873956      6751189
40167  422.70       873956       160290

[40168 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.02      2174589   5689110
1        0.03      4171744  11357898
2        0.04      3968558  10842672
3        0.05      4592636  12899533
4        0.06      4382333  15492590
...       ...          ...       ...
40164  422.68      1201667   3892493
40165  422.70      3470464  10221653
40166  422.70      3470464    260885
40167  422.70       100595  10221653
40168  422.70       100595    260885

[40169 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010142  10621728         NaN      instructions    11158640
1         0.010142   3823048         NaN         l1i_cache    11158640
2         0.010142    251619         NaN  l1i_cache_refill    11158640
3         0.010142     95086         NaN     remote_access    11158640
4         0.020565  22129281         NaN      instructions     9978680
...            ...       ...         ...               ...         ...
160691  423.044562      5764         NaN     remote_access    10072400
160692  423.049376  16927041         NaN      instructions     4320960
160693  423.049376   4549900         NaN         l1i_cache     4320960
160694  423.049376      4270         NaN  l1i_cache_refill     4320960
160695  423.049376      4223         NaN     remote_access     4320960

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
160691       100.0         NaN         NaN
160692       100.0         NaN         NaN
160693       100.0         NaN         NaN
160694       100.0         NaN         NaN
160695       100.0         NaN         NaN

[160696 rows x 8 columns]
          time     value       counter
4         0.02  22129281  instructions
8         0.03  26618697  instructions
12        0.04  32248362  instructions
16        0.05  62401429  instructions
20        0.07  35445594  instructions
...        ...       ...           ...
160676  423.01  10807846  instructions
160680  423.02  21777128  instructions
160684  423.03  15318282  instructions
160688  423.04  28481661  instructions
160692  423.05  16927041  instructions

[40173 rows x 3 columns]
instructions
          time instructions
4         0.02     22129281
8         0.03     26618697
12        0.04     32248362
16        0.05     62401429
20        0.07     35445594
...        ...          ...
160676  423.01     10807846
160680  423.02     21777128
160684  423.03     15318282
160688  423.04     28481661
160692  423.05     16927041

[40173 rows x 2 columns]
df3
          time l1i_cache
1         0.01   3823048
5         0.02   8541152
9         0.03  10863133
13        0.04  12630734
17        0.05  21964971
...        ...       ...
160677  423.01   3467991
160681  423.02   7046853
160685  423.03   5232587
160689  423.04   9256523
160693  423.05   4549900

[40174 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           251619
6         0.02           438049
10        0.03           646677
14        0.04           601214
18        0.05           747747
...        ...              ...
160678  423.01            63292
160682  423.02           166785
160686  423.03            92866
160690  423.04            10579
160694  423.05             4270

[40174 rows x 2 columns]
df5
          time remote_access
3         0.01         95086
7         0.02         54126
11        0.03         41189
15        0.04         35908
19        0.05         25165
...        ...           ...
160679  423.01         14663
160683  423.02         13238
160687  423.03          4454
160691  423.04          5764
160695  423.05          4223

[40174 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     22129281   8541152
1        0.03     26618697  10863133
2        0.04     32248362  12630734
3        0.05     62401429  21964971
4        0.07     35445594  13333199
...       ...          ...       ...
40168  423.01     10807846   3467991
40169  423.02     21777128   7046853
40170  423.03     15318282   5232587
40171  423.04     28481661   9256523
40172  423.05     16927041   4549900

[40173 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           251619         95086
1        0.02           438049         54126
2        0.03           646677         41189
3        0.04           601214         35908
4        0.05           747747         25165
...       ...              ...           ...
40169  423.01            63292         14663
40170  423.02           166785         13238
40171  423.03            92866          4454
40172  423.04            10579          5764
40173  423.05             4270          4223

[40174 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011894  13225833         NaN  instructions    12897600
1         0.011894    479509         NaN  l2d_cache_rd    12897600
2         0.011894    170932         NaN  l2d_cache_wr    12897600
3         0.011894    650441         NaN     l2d_cache    12897600
4         0.022337  25422386         NaN  instructions     9886680
...            ...       ...         ...           ...         ...
160819  423.804253    942959         NaN     l2d_cache    10066280
160820  423.805122   1046180         NaN  instructions      511120
160821  423.805122     12514         NaN  l2d_cache_rd      511120
160822  423.805122      6933         NaN  l2d_cache_wr      511120
160823  423.805122     19447         NaN     l2d_cache      511120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
160819       100.0         NaN         NaN
160820       100.0         NaN         NaN
160821       100.0         NaN         NaN
160822       100.0         NaN         NaN
160823       100.0         NaN         NaN

[160824 rows x 8 columns]
          time     value       counter
4         0.02  25422386  instructions
8         0.03  28341863  instructions
12        0.04  31867465  instructions
16        0.05  49023848  instructions
20        0.06  38509284  instructions
...        ...       ...           ...
160804  423.77  14492714  instructions
160808  423.78  25741009  instructions
160812  423.79  13753342  instructions
160816  423.80  38526984  instructions
160820  423.81   1046180  instructions

[40205 rows x 3 columns]
instructions
          time instructions
4         0.02     25422386
8         0.03     28341863
12        0.04     31867465
16        0.05     49023848
20        0.06     38509284
...        ...          ...
160804  423.77     14492714
160808  423.78     25741009
160812  423.79     13753342
160816  423.80     38526984
160820  423.81      1046180

[40205 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       479509
5         0.02       692135
9         0.03       858574
13        0.04       789344
17        0.05       827125
...        ...          ...
160805  423.77       244960
160809  423.78       458229
160813  423.79       433077
160817  423.80       483652
160821  423.81        12514

[40206 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       170932
6         0.02       173178
10        0.03       183102
14        0.04       207386
18        0.05       313322
...        ...          ...
160806  423.77       127095
160810  423.78       235875
160814  423.79       364591
160818  423.80       459307
160822  423.81         6933

[40206 rows x 2 columns]
df5
          time l2d_cache
3         0.01    650441
7         0.02    865313
11        0.03   1041676
15        0.04    996730
19        0.05   1140447
...        ...       ...
160807  423.77    372055
160811  423.78    694104
160815  423.79    797668
160819  423.80    942959
160823  423.81     19447

[40206 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     25422386       692135
1        0.03     28341863       858574
2        0.04     31867465       789344
3        0.05     49023848       827125
4        0.06     38509284       884849
...       ...          ...          ...
40200  423.77     14492714       244960
40201  423.78     25741009       458229
40202  423.79     13753342       433077
40203  423.80     38526984       483652
40204  423.81      1046180        12514

[40205 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       170932    650441
1        0.02       173178    865313
2        0.03       183102   1041676
3        0.04       207386    996730
4        0.05       313322   1140447
...       ...          ...       ...
40201  423.77       127095    372055
40202  423.78       235875    694104
40203  423.79       364591    797668
40204  423.80       459307    942959
40205  423.81         6933     19447

[40206 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010151  10535759         NaN  instructions    10957880
1         0.010151   5000973         NaN       l1d_tlb    10957880
2         0.010151   3461651         NaN    l1d_tlb_rd    10957880
3         0.010151   1539322         NaN    l1d_tlb_wr    10957880
4         0.020659  22070827         NaN  instructions     9974800
...            ...       ...         ...           ...         ...
160723  423.363987   2944254         NaN    l1d_tlb_wr    10077320
160724  423.366338   7587284         NaN  instructions     1981760
160725  423.366338   2836671         NaN       l1d_tlb     1981760
160726  423.366338   2020500         NaN    l1d_tlb_rd     1981760
160727  423.366338    816171         NaN    l1d_tlb_wr     1981760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
160723       100.0         NaN         NaN
160724       100.0         NaN         NaN
160725       100.0         NaN         NaN
160726       100.0         NaN         NaN
160727       100.0         NaN         NaN

[160728 rows x 8 columns]
          time     value       counter
4         0.02  22070827  instructions
8         0.03  27758714  instructions
12        0.04  42761250  instructions
16        0.05  53025638  instructions
20        0.07  34135370  instructions
...        ...       ...           ...
160708  423.33  10462788  instructions
160712  423.34  18803788  instructions
160716  423.35  20181324  instructions
160720  423.36  34386548  instructions
160724  423.37   7587284  instructions

[40181 rows x 3 columns]
instructions

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

          time instructions
4         0.02     22070827
8         0.03     27758714
12        0.04     42761250
16        0.05     53025638
20        0.07     34135370
...        ...          ...
160708  423.33     10462788
160712  423.34     18803788
160716  423.35     20181324
160720  423.36     34386548
160724  423.37      7587284

[40181 rows x 2 columns]
df3
          time   l1d_tlb
1         0.01   5000973
5         0.02   9421258
9         0.03  12130141
13        0.04  18407234
17        0.05  17205502
...        ...       ...
160709  423.33   3974606
160713  423.34   7515679
160717  423.35   7091047
160721  423.36  11603594
160725  423.37   2836671

[40182 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    3461651
6         0.02    6196510
10        0.03    7860736
14        0.04   11971004
18        0.05   12270973
...        ...        ...
160710  423.33    2678941
160714  423.34    4896590
160718  423.35    4946289
160722  423.36    8659340
160726  423.37    2020500

[40182 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1539322
7         0.02    3224748
11        0.03    4269405
15        0.04    6436230
19        0.05    4934529
...        ...        ...
160711  423.33    1295665
160715  423.34    2619089
160719  423.35    2144758
160723  423.36    2944254
160727  423.37     816171

[40182 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.02     22070827   9421258
1        0.03     27758714  12130141
2        0.04     42761250  18407234
3        0.05     53025638  17205502
4        0.07     34135370  12984851
...       ...          ...       ...
40176  423.33     10462788   3974606
40177  423.34     18803788   7515679
40178  423.35     20181324   7091047
40179  423.36     34386548  11603594
40180  423.37      7587284   2836671

[40181 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    3461651    1539322
1        0.02    6196510    3224748
2        0.03    7860736    4269405
3        0.04   11971004    6436230
4        0.05   12270973    4934529
...       ...        ...        ...
40177  423.33    2678941    1295665
40178  423.34    4896590    2619089
40179  423.35    4946289    2144758
40180  423.36    8659340    2944254
40181  423.37    2020500     816171

[40182 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011902  13202225         NaN  instructions    12905240
1         0.011902     21888         NaN     dtlb_walk    12905240
2         0.011902      1908         NaN     itlb_walk    12905240
3         0.011902   4350319         NaN       l1i_tlb    12905240
4         0.022376  24467771         NaN  instructions     9947440
...            ...       ...         ...           ...         ...
160907  423.691826   7328483         NaN       l1i_tlb    10078440
160908  423.697406  20598522         NaN  instructions     5188880
160909  423.697406      1277         NaN     dtlb_walk     5188880
160910  423.697406         4         NaN     itlb_walk     5188880
160911  423.697406   3960123         NaN       l1i_tlb     5188880

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
160907       100.0         NaN         NaN
160908       100.0         NaN         NaN
160909       100.0         NaN         NaN
160910       100.0         NaN         NaN
160911       100.0         NaN         NaN

[160912 rows x 8 columns]
          time     value       counter
4         0.02  24467771  instructions
8         0.03  28564986  instructions
12        0.04  32300140  instructions
16        0.05  51006783  instructions
20        0.06  37841651  instructions
...        ...       ...           ...
160892  423.66   9426485  instructions
160896  423.67  20672607  instructions
160900  423.68  16549182  instructions
160904  423.69  26076758  instructions
160908  423.70  20598522  instructions

[40227 rows x 3 columns]
instructions
          time instructions
4         0.02     24467771
8         0.03     28564986
12        0.04     32300140
16        0.05     51006783
20        0.06     37841651
...        ...          ...
160892  423.66      9426485
160896  423.67     20672607
160900  423.68     16549182
160904  423.69     26076758
160908  423.70     20598522

[40227 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     21888
5         0.02      6349
9         0.03      3540
13        0.04      4255
17        0.05      2272
...        ...       ...
160893  423.66      6396
160897  423.67     15283
160901  423.68     29415
160905  423.69     34295
160909  423.70      1277

[40228 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1908
6         0.02      1103
10        0.03       937
14        0.04      1024
18        0.05       391
...        ...       ...
160894  423.66       633
160898  423.67      1348
160902  423.68      1056
160906  423.69       345
160910  423.70         4

[40228 rows x 2 columns]
df5
          time   l1i_tlb
3         0.01   4350319
7         0.02   8194658
11        0.03   9690103
15        0.04  10530314
19        0.05  13575058
...        ...       ...
160895  423.66   2394619
160899  423.67   5660842
160903  423.68   4805691
160907  423.69   7328483
160911  423.70   3960123

[40228 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     24467771      6349
1        0.03     28564986      3540
2        0.04     32300140      4255
3        0.05     51006783      2272
4        0.06     37841651      3891
...       ...          ...       ...
40222  423.66      9426485      6396
40223  423.67     20672607     15283
40224  423.68     16549182     29415
40225  423.69     26076758     34295
40226  423.70     20598522      1277

[40227 rows x 3 columns]
df7
         time itlb_walk   l1i_tlb
0        0.01      1908   4350319
1        0.02      1103   8194658
2        0.03       937   9690103
3        0.04      1024  10530314
4        0.05       391  13575058
...       ...       ...       ...
40223  423.66       633   2394619
40224  423.67      1348   5660842
40225  423.68      1056   4805691
40226  423.69       345   7328483
40227  423.70         4   3960123

[40228 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.015097  18697582         NaN  instructions    15940240
1         0.015097    128074         NaN       l2d_tlb    15940240
2         0.015097    109909         NaN    l2d_tlb_rd    15940240
3         0.015097     18165         NaN    l2d_tlb_wr    15940240
4         0.025610  30228505         NaN  instructions    10037840
...            ...       ...         ...           ...         ...
160535  423.272361      8470         NaN    l2d_tlb_wr    10057680
160536  423.276663  15459338         NaN  instructions     3891080
160537  423.276663     18427         NaN       l2d_tlb     3891080
160538  423.276663     11530         NaN    l2d_tlb_rd     3891080
160539  423.276663      6897         NaN    l2d_tlb_wr     3891080

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
160535       100.0         NaN         NaN
160536       100.0         NaN         NaN
160537       100.0         NaN         NaN
160538       100.0         NaN         NaN
160539       100.0         NaN         NaN

[160540 rows x 8 columns]
          time     value       counter
4         0.03  30228505  instructions
8         0.04  28709861  instructions
12        0.05  36815419  instructions
16        0.06  52829582  instructions
20        0.07  29032535  instructions
...        ...       ...           ...
160520  423.24   6666801  instructions
160524  423.25  14209945  instructions
160528  423.26  26863003  instructions
160532  423.27  30158830  instructions
160536  423.28  15459338  instructions

[40134 rows x 3 columns]
instructions
          time instructions
4         0.03     30228505
8         0.04     28709861
12        0.05     36815419
16        0.06     52829582
20        0.07     29032535
...        ...          ...
160520  423.24      6666801
160524  423.25     14209945
160528  423.26     26863003
160532  423.27     30158830
160536  423.28     15459338

[40134 rows x 2 columns]
df3
          time l2d_tlb
1         0.02  128074
5         0.03  270689
9         0.04  273165
13        0.05  303399
17        0.06  414565
...        ...     ...
160521  423.24   17706
160525  423.25  186975
160529  423.26  230727
160533  423.27   93076
160537  423.28   18427

[40135 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.02     109909
6         0.03     257325
10        0.04     260011
14        0.05     289638
18        0.06     401376
...        ...        ...
160522  423.24      16416
160526  423.25     171220
160530  423.26     214237
160534  423.27      84606
160538  423.28      11530

[40135 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.02      18165
7         0.03      13364
11        0.04      13154
15        0.05      13761
19        0.06      13189
...        ...        ...
160523  423.24       1290
160527  423.25      15755
160531  423.26      16490
160535  423.27       8470
160539  423.28       6897

[40135 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.03     30228505  270689
1        0.04     28709861  273165
2        0.05     36815419  303399
3        0.06     52829582  414565
4        0.07     29032535  282881
...       ...          ...     ...
40129  423.24      6666801   17706
40130  423.25     14209945  186975
40131  423.26     26863003  230727
40132  423.27     30158830   93076
40133  423.28     15459338   18427

[40134 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.02     109909      18165
1        0.03     257325      13364
2        0.04     260011      13154
3        0.05     289638      13761
4        0.06     401376      13189
...       ...        ...        ...
40130  423.24      16416       1290
40131  423.25     171220      15755
40132  423.26     214237      16490
40133  423.27      84606       8470
40134  423.28      11530       6897

[40135 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011733  12812050         NaN  instructions    12544200
1         0.011733        52         NaN      vfp_spec    12544200
2         0.011733  15379648         NaN     inst_spec    12544200
3         0.011733     10336         NaN      ase_spec    12544200
4         0.022210  25093476         NaN  instructions     9974880
...            ...       ...         ...           ...         ...
161011  423.987599        65         NaN      ase_spec    11561000
161012  423.996780  35088065         NaN  instructions     8741960
161013  423.996780         0         NaN      vfp_spec     8741960
161014  423.996780  36619306         NaN     inst_spec     8741960
161015  423.996780         0         NaN      ase_spec     8741960

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
161011       100.0         NaN         NaN
161012       100.0         NaN         NaN
161013       100.0         NaN         NaN
161014       100.0         NaN         NaN
161015       100.0         NaN         NaN

[161016 rows x 8 columns]
          time          value       counter
4         0.02       25093476  instructions
8         0.03       27668874  instructions
12        0.04       32224712  instructions
16        0.05       50847501  instructions
20        0.06       38199338  instructions
...        ...            ...           ...
160996  423.96  <not counted>  instructions
161000  423.97       15268683  instructions
161004  423.98       24110820  instructions
161008  423.99       18231110  instructions
161012  424.00       35088065  instructions

[40253 rows x 3 columns]
instructions
          time   instructions
4         0.02       25093476
8         0.03       27668874
12        0.04       32224712
16        0.05       50847501
20        0.06       38199338
...        ...            ...
160996  423.96  <not counted>
161000  423.97       15268683
161004  423.98       24110820
161008  423.99       18231110
161012  424.00       35088065

[40253 rows x 2 columns]
df3
          time       vfp_spec
1         0.01             52
5         0.02           3237
9         0.03           1463
13        0.04            663
17        0.05            413
...        ...            ...
160997  423.96  <not counted>
161001  423.97            246
161005  423.98              5
161009  423.99              0
161013  424.00              0

[40254 rows x 2 columns]
df4
          time      inst_spec
2         0.01       15379648
6         0.02       31297081
10        0.03       34679607
14        0.04       39674757
18        0.05       58534406
...        ...            ...
160998  423.96  <not counted>
161002  423.97       17257413
161006  423.98       26006623
161010  423.99       22856971
161014  424.00       36619306

[40254 rows x 2 columns]
df5
          time       ase_spec
3         0.01          10336
7         0.02          34077
11        0.03          19244
15        0.04          24109
19        0.05          32218
...        ...            ...
160999  423.96  <not counted>
161003  423.97           1522
161007  423.98           2917
161011  423.99             65
161015  424.00              0

[40254 rows x 2 columns]
df6
         time   instructions       vfp_spec
0        0.02       25093476           3237
1        0.03       27668874           1463
2        0.04       32224712            663
3        0.05       50847501            413
4        0.06       38199338            588
...       ...            ...            ...
40248  423.96  <not counted>  <not counted>
40249  423.97       15268683            246
40250  423.98       24110820              5
40251  423.99       18231110              0
40252  424.00       35088065              0

[40253 rows x 3 columns]
df7
         time      inst_spec       ase_spec
0        0.01       15379648          10336
1        0.02       31297081          34077
2        0.03       34679607          19244
3        0.04       39674757          24109
4        0.05       58534406          32218
...       ...            ...            ...
40249  423.96  <not counted>  <not counted>
40250  423.97       17257413           1522
40251  423.98       26006623           2917
40252  423.99       22856971             65
40253  424.00       36619306              0

[40254 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010351  11484893         NaN      instructions    11305800
1         0.010351  12204175         NaN     stall_backend    11305800
2         0.010351  17248270         NaN    stall_frontend    11305800
3         0.010351    199150         NaN  ll_cache_miss_rd    11305800
4         0.020811  23542863         NaN      instructions     9874200
...            ...       ...         ...               ...         ...
160747  423.026820    741462         NaN  ll_cache_miss_rd    10063400
160748  423.034274  29578216         NaN      instructions     7114640
160749  423.034274  11686198         NaN     stall_backend     7114640
160750  423.034274    804178         NaN    stall_frontend     7114640
160751  423.034274    126761         NaN  ll_cache_miss_rd     7114640

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
160747       100.0         NaN         NaN
160748       100.0         NaN         NaN
160749       100.0         NaN         NaN
160750       100.0         NaN         NaN
160751       100.0         NaN         NaN

[160752 rows x 8 columns]
          time          value       counter
4         0.02       23542863  instructions
8         0.03       28109560  instructions
12        0.04       31148761  instructions
16        0.05       49363391  instructions
20        0.06       40863597  instructions
...        ...            ...           ...
160732  422.99  <not counted>  instructions
160736  423.01       21288970  instructions
160740  423.02       22892813  instructions
160744  423.03       19606115  instructions
160748  423.03       29578216  instructions

[40187 rows x 3 columns]
instructions
          time   instructions
4         0.02       23542863
8         0.03       28109560
12        0.04       31148761
16        0.05       49363391
20        0.06       40863597
...        ...            ...
160732  422.99  <not counted>
160736  423.01       21288970
160740  423.02       22892813
160744  423.03       19606115
160748  423.03       29578216

[40187 rows x 2 columns]
df3
          time  stall_backend
1         0.01       12204175
5         0.02        7676624
9         0.03        5679786
13        0.04        5765573
17        0.05        4883432
...        ...            ...
160733  422.99  <not counted>
160737  423.01       27117977
160741  423.02       20636732
160745  423.03       21507068
160749  423.03       11686198

[40188 rows x 2 columns]
df4
          time stall_frontend
2         0.01       17248270
6         0.02       12814529
10        0.03       12819504
14        0.04       12394552
18        0.05        8020365
...        ...            ...
160734  422.99  <not counted>
160738  423.01        5338966
160742  423.02        1822988
160746  423.03        1202135
160750  423.03         804178

[40188 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           199150
7         0.02           151522
11        0.03           154409
15        0.04           168988
19        0.05            91261
...        ...              ...
160735  422.99    <not counted>
160739  423.01           141159
160743  423.02           266409
160747  423.03           741462
160751  423.03           126761

[40188 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     23542863       7676624
1        0.03     28109560       5679786
2        0.04     31148761       5765573
3        0.05     49363391       4883432
4        0.06     40863597       5287275
...       ...          ...           ...
40184  423.02     22892813      20636732
40185  423.03     19606115      21507068
40186  423.03     19606115      11686198
40187  423.03     29578216      21507068
40188  423.03     29578216      11686198

[40189 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01       17248270           199150
1        0.02       12814529           151522
2        0.03       12819504           154409
3        0.04       12394552           168988
4        0.05        8020365            91261
...       ...            ...              ...
40185  423.02        1822988           266409
40186  423.03        1202135           741462
40187  423.03        1202135           126761
40188  423.03         804178           741462
40189  423.03         804178           126761

[40190 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.015002  19769513         NaN   instructions    15827800
1         0.015002   6419801         NaN     mem_access    15827800
2         0.015002   3967313         NaN  mem_access_rd    15827800
3         0.015002   2452488         NaN  mem_access_wr    15827800
4         0.025485  29776269         NaN   instructions     9983080
...            ...       ...         ...            ...         ...
160775  424.104799   1646710         NaN  mem_access_wr    10255360
160776  424.111212  24249958         NaN   instructions     5955560
160777  424.111212   6984303         NaN     mem_access     5955560
160778  424.111212   4394295         NaN  mem_access_rd     5955560
160779  424.111212   2590008         NaN  mem_access_wr     5955560

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
160775       100.0         NaN         NaN
160776       100.0         NaN         NaN
160777       100.0         NaN         NaN
160778       100.0         NaN         NaN
160779       100.0         NaN         NaN

[160780 rows x 8 columns]
          time     value       counter
4         0.03  29776269  instructions
8         0.04  29271937  instructions
12        0.05  38545976  instructions
16        0.06  50242760  instructions
20        0.07  29169383  instructions
...        ...       ...           ...
160760  424.07   6614191  instructions
160764  424.08  18271131  instructions
160768  424.09  20700872  instructions
160772  424.10  23468388  instructions
160776  424.11  24249958  instructions

[40194 rows x 3 columns]
instructions
          time instructions
4         0.03     29776269
8         0.04     29271937
12        0.05     38545976
16        0.06     50242760
20        0.07     29169383
...        ...          ...
160760  424.07      6614191
160764  424.08     18271131
160768  424.09     20700872
160772  424.10     23468388
160776  424.11     24249958

[40194 rows x 2 columns]
df3
          time mem_access
1         0.02    6419801
5         0.03   11370815
9         0.04   11345050
13        0.05   13849944
17        0.06   14573945
...        ...        ...
160761  424.07    1852261
160765  424.08    6736782
160769  424.09    6904211
160773  424.10    5848105
160777  424.11    6984303

[40195 rows x 2 columns]
df4
          time mem_access_rd
2         0.02       3967313
6         0.03       7201127
10        0.04       7202633
14        0.05       9057881
18        0.06      10485009
...        ...           ...
160762  424.07       1210550
160766  424.08       4127779
160770  424.09       4560442
160774  424.10       4201395
160778  424.11       4394295

[40195 rows x 2 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

df5
          time mem_access_wr
3         0.02       2452488
7         0.03       4169688
11        0.04       4142417
15        0.05       4792063
19        0.06       4088936
...        ...           ...
160763  424.07        641711
160767  424.08       2609003
160771  424.09       2343769
160775  424.10       1646710
160779  424.11       2590008

[40195 rows x 2 columns]
df6
         time instructions mem_access
0        0.03     29776269   11370815
1        0.04     29271937   11345050
2        0.05     38545976   13849944
3        0.06     50242760   14573945
4        0.07     29169383   10767198
...       ...          ...        ...
40189  424.07      6614191    1852261
40190  424.08     18271131    6736782
40191  424.09     20700872    6904211
40192  424.10     23468388    5848105
40193  424.11     24249958    6984303

[40194 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.02       3967313       2452488
1        0.03       7201127       4169688
2        0.04       7202633       4142417
3        0.05       9057881       4792063
4        0.06      10485009       4088936
...       ...           ...           ...
40190  424.07       1210550        641711
40191  424.08       4127779       2609003
40192  424.09       4560442       2343769
40193  424.10       4201395       1646710
40194  424.11       4394295       2590008

[40195 rows x 3 columns]
merged_df
         time instructions cpu-cycles   br_pred br_mis_pred l1d_cache_rd  \
0        0.03     26624704   29558050   6014701      261869      7186154
1        0.04     30525786   29627631   6945995      251942      6874114
2        0.05     43530871   30166167  10544631      242659      8306897
3        0.07     29371147   30157926   6596220      266709      6972548
4        0.08     33455818   30175476   7519553      258434      8516860
...       ...          ...        ...       ...         ...          ...
25052  422.70     50726722   30167110  11342699      119270      6751189
25053  422.70     50726722   30167110  11342699      119270       160290
25054  422.70     50726722   30167110  11342699      119270       160290
25055  422.70     50726722   30167110  11342699      119270       160290
25056  422.70     50726722   30167110  11342699      119270       160290

      l1d_cache_wr l1d_cache      l1i_cache l1i_cache_refill  ... l2d_tlb_wr  \
0          4171744  11357898       10863133           646677  ...      13364
1          3968558  10842672       12630734           601214  ...      13154
2          4592636  12899533       21964971           747747  ...      13761
3          3705911  10678459       13333199           606917  ...      13681
4          4811324  13328184       12050293           711113  ...      17660
...            ...       ...            ...              ...  ...        ...
25052       100595    260885  <not counted>    <not counted>  ...      10729
25053      3470464  10221653  <not counted>    <not counted>  ...      10729
25054      3470464    260885  <not counted>    <not counted>  ...      10729
25055       100595  10221653  <not counted>    <not counted>  ...      10729
25056       100595    260885  <not counted>    <not counted>  ...      10729

      vfp_spec inst_spec ase_spec  stall_backend stall_frontend  \
0         1463  34679607    19244        5679786       12819504
1          663  39674757    24109        5765573       12394552
2          413  58534406    32218        4883432        8020365
3          964  37232540    22530        5645057       12391702
4         1448  40145319    22530        5809264       11468598
...        ...       ...      ...            ...            ...
25052     5557  69190455    11412  <not counted>  <not counted>
25053     5557  69190455    11412  <not counted>  <not counted>
25054     5557  69190455    11412  <not counted>  <not counted>
25055     5557  69190455    11412  <not counted>  <not counted>
25056     5557  69190455    11412  <not counted>  <not counted>

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               154409   11370815       7201127       4169688
1               168988   11345050       7202633       4142417
2                91261   13849944       9057881       4792063
3               149767   10767198       6936210       3830988
4               144288   14018652       8956243       5062409
...                ...        ...           ...           ...
25052    <not counted>   16907229      11426151       5481078
25053    <not counted>   16907229      11426151       5481078
25054    <not counted>   16907229      11426151       5481078
25055    <not counted>   16907229      11426151       5481078
25056    <not counted>   16907229      11426151       5481078

[25057 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014307  20443782         NaN  instructions    15124480
1         0.014307  45119313         NaN    cpu-cycles    15124480
2         0.014307   3928929         NaN       br_pred    15124480
3         0.014307    164006         NaN   br_mis_pred    15124480
4         0.024761  31820287         NaN  instructions     9978960
...            ...       ...         ...           ...         ...
183583  485.318064    107964         NaN   br_mis_pred    10063880
183584  485.322357  15438220         NaN  instructions     3865160
183585  485.322357  11562839         NaN    cpu-cycles     3865160
183586  485.322357   2235976         NaN       br_pred     3865160
183587  485.322357      5641         NaN   br_mis_pred     3865160

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.45  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        1.07  insn per cycle
...            ...         ...             ...
183583       100.0         NaN             NaN
183584       100.0        1.34  insn per cycle
183585       100.0         NaN             NaN
183586       100.0         NaN             NaN
183587       100.0         NaN             NaN

[183588 rows x 8 columns]
          time     value       counter
4         0.02  31820287  instructions
8         0.03  30180494  instructions
12        0.05  42312008  instructions
16        0.06  50504236  instructions
20        0.07  27988489  instructions
...        ...       ...           ...
183568  485.29  10523411  instructions
183572  485.30  19378519  instructions
183576  485.31  17874243  instructions
183580  485.32  29655214  instructions
183584  485.32  15438220  instructions

[45896 rows x 3 columns]
instructions
          time instructions
4         0.02     31820287
8         0.03     30180494
12        0.05     42312008
16        0.06     50504236
20        0.07     27988489
...        ...          ...
183568  485.29     10523411
183572  485.30     19378519
183576  485.31     17874243
183580  485.32     29655214
183584  485.32     15438220

[45896 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   45119313
5         0.02   29865781
9         0.03   29555022
13        0.05   30203344
17        0.06   30167147
...        ...        ...
183569  485.29   18561909
183573  485.30   29906722
183577  485.31   30157270
183581  485.32   30156242
183585  485.32   11562839

[45897 rows x 2 columns]
df4
          time   br_pred
2         0.01   3928929
6         0.02   7224726
10        0.03   6863773
14        0.05  10028318
18        0.06  12851583
...        ...       ...
183570  485.29   1892552
183574  485.30   4351100
183578  485.31   4254440
183582  485.32   6371510
183586  485.32   2235976

[45897 rows x 2 columns]
df5
          time br_mis_pred
3         0.01      164006
7         0.02      290576
11        0.03      273194
15        0.05      243296
19        0.06      247389
...        ...         ...
183571  485.29       26172
183575  485.30       57836
183579  485.31       45843
183583  485.32      107964
183587  485.32        5641

[45897 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     31820287   29865781
1        0.03     30180494   29555022
2        0.05     42312008   30203344
3        0.06     50504236   30167147
4        0.07     27988489   30164723
...       ...          ...        ...
45893  485.31     17874243   30157270
45894  485.32     29655214   30156242
45895  485.32     29655214   11562839
45896  485.32     15438220   30156242
45897  485.32     15438220   11562839

[45898 rows x 3 columns]
df7
         time   br_pred br_mis_pred
0        0.01   3928929      164006
1        0.02   7224726      290576
2        0.03   6863773      273194
3        0.05  10028318      243296
4        0.06  12851583      247389
...       ...       ...         ...
45894  485.31   4254440       45843
45895  485.32   6371510      107964
45896  485.32   6371510        5641
45897  485.32   2235976      107964
45898  485.32   2235976        5641

[45899 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014174  19423621         NaN  instructions    14999720
1         0.014174   3900428         NaN  l1d_cache_rd    14999720
2         0.014174   2398300         NaN  l1d_cache_wr    14999720
3         0.014174   6298728         NaN     l1d_cache    14999720
4         0.024639  30206678         NaN  instructions     9917720
...            ...       ...         ...           ...         ...
179927  475.513027   4473888         NaN     l1d_cache    10072120
179928  475.520957  31290017         NaN  instructions     7562400
179929  475.520957   5667637         NaN  l1d_cache_rd     7562400
179930  475.520957   3320847         NaN  l1d_cache_wr     7562400
179931  475.520957   8988484         NaN     l1d_cache     7562400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
179927       100.0         NaN         NaN
179928       100.0         NaN         NaN
179929       100.0         NaN         NaN
179930       100.0         NaN         NaN
179931       100.0         NaN         NaN

[179932 rows x 8 columns]
          time     value       counter
4         0.02  30206678  instructions
8         0.03  29826164  instructions
12        0.05  39339901  instructions
16        0.06  52905251  instructions
20        0.07  29496122  instructions
...        ...       ...           ...
179912  475.48   5996299  instructions
179916  475.49  13917574  instructions
179920  475.50  23345384  instructions
179924  475.51  18286654  instructions
179928  475.52  31290017  instructions

[44982 rows x 3 columns]
instructions
          time instructions
4         0.02     30206678
8         0.03     29826164
12        0.05     39339901
16        0.06     52905251
20        0.07     29496122
...        ...          ...
179912  475.48      5996299
179916  475.49     13917574
179920  475.50     23345384
179924  475.51     18286654
179928  475.52     31290017

[44982 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      3900428
5         0.02      7307712
9         0.03      7322799
13        0.05      9192966
17        0.06     11058116
...        ...          ...
179913  475.48      1097763
179917  475.49      3115714
179921  475.50      5210857
179925  475.51      3333356
179929  475.52      5667637

[44983 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      2398300
6         0.02      4231131
10        0.03      4222919
14        0.05      4799577
18        0.06      4347839
...        ...          ...
179914  475.48       564749
179918  475.49      2031143
179922  475.50      2701308
179926  475.51      1140532
179930  475.52      3320847

[44983 rows x 2 columns]
df5
          time l1d_cache
3         0.01   6298728
7         0.02  11538843
11        0.03  11545718
15        0.05  13992543
19        0.06  15405955
...        ...       ...
179915  475.48   1662512
179919  475.49   5146857
179923  475.50   7912165
179927  475.51   4473888
179931  475.52   8988484

[44983 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     30206678      7307712
1        0.03     29826164      7322799
2        0.05     39339901      9192966
3        0.06     52905251     11058116
4        0.07     29496122      7182914
...       ...          ...          ...
44977  475.48      5996299      1097763
44978  475.49     13917574      3115714
44979  475.50     23345384      5210857
44980  475.51     18286654      3333356
44981  475.52     31290017      5667637

[44982 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      2398300   6298728
1        0.02      4231131  11538843
2        0.03      4222919  11545718
3        0.05      4799577  13992543
4        0.06      4347839  15405955
...       ...          ...       ...
44978  475.48       564749   1662512
44979  475.49      2031143   5146857
44980  475.50      2701308   7912165
44981  475.51      1140532   4473888
44982  475.52      3320847   8988484

[44983 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010151  11141488         NaN      instructions    10683840
1         0.010151   4019231         NaN         l1i_cache    10683840
2         0.010151    261893         NaN  l1i_cache_refill    10683840
3         0.010151     89709         NaN     remote_access    10683840
4         0.020606  24958484         NaN      instructions     9929200
...            ...       ...         ...               ...         ...
183323  484.460765      5126         NaN     remote_access    10063000
183324  484.468558  30515917         NaN      instructions     7390640
183325  484.468558   8185290         NaN         l1i_cache     7390640
183326  484.468558      5270         NaN  l1i_cache_refill     7390640
183327  484.468558      4437         NaN     remote_access     7390640

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
183323       100.0         NaN         NaN
183324       100.0         NaN         NaN
183325       100.0         NaN         NaN
183326       100.0         NaN         NaN
183327       100.0         NaN         NaN

[183328 rows x 8 columns]
          time     value       counter
4         0.02  24958484  instructions
8         0.03  28653151  instructions
12        0.04  32860364  instructions
16        0.05  50857324  instructions
20        0.06  38858804  instructions
...        ...       ...           ...
183308  484.43   6623721  instructions
183312  484.44  13904987  instructions
183316  484.45  22754486  instructions
183320  484.46  18671352  instructions
183324  484.47  30515917  instructions

[45831 rows x 3 columns]
instructions
          time instructions
4         0.02     24958484
8         0.03     28653151
12        0.04     32860364
16        0.05     50857324
20        0.06     38858804
...        ...          ...
183308  484.43      6623721
183312  484.44     13904987
183316  484.45     22754486
183320  484.46     18671352
183324  484.47     30515917

[45831 rows x 2 columns]
df3
          time l1i_cache
1         0.01   4019231
5         0.02   9810694
9         0.03  11615933
13        0.04  12887258
17        0.05  17563170
...        ...       ...
183309  484.43   1895298
183313  484.44   5110855
183317  484.45   7087030
183321  484.46   6947644
183325  484.47   8185290

[45832 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           261893
6         0.02           499910
10        0.03           695518
14        0.04           607375
18        0.05           551804
...        ...              ...
183310  484.43            10933
183314  484.44           208221
183318  484.45            86523
183322  484.46            13969
183326  484.47             5270

[45832 rows x 2 columns]
df5
          time remote_access
3         0.01         89709
7         0.02         44051
11        0.03         34230
15        0.04         32656
19        0.05         12961
...        ...           ...
183311  484.43          5171
183315  484.44         17610
183319  484.45          5687
183323  484.46          5126
183327  484.47          4437

[45832 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     24958484   9810694
1        0.03     28653151  11615933
2        0.04     32860364  12887258
3        0.05     50857324  17563170
4        0.06     38858804  14453176
...       ...          ...       ...
45826  484.43      6623721   1895298
45827  484.44     13904987   5110855
45828  484.45     22754486   7087030
45829  484.46     18671352   6947644
45830  484.47     30515917   8185290

[45831 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           261893         89709
1        0.02           499910         44051
2        0.03           695518         34230
3        0.04           607375         32656
4        0.05           551804         12961
...       ...              ...           ...
45827  484.43            10933          5171
45828  484.44           208221         17610
45829  484.45            86523          5687
45830  484.46            13969          5126
45831  484.47             5270          4437

[45832 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011305  12848688         NaN  instructions    12261040
1         0.011305    470808         NaN  l2d_cache_rd    12261040
2         0.011305    165375         NaN  l2d_cache_wr    12261040
3         0.011305    636183         NaN     l2d_cache    12261040
4         0.021756  24763697         NaN  instructions     9857960
...            ...       ...         ...           ...         ...
183571  485.998325    982737         NaN     l2d_cache    10386560
183572  485.999357   1878687         NaN  instructions      650680
183573  485.999357     14751         NaN  l2d_cache_rd      650680
183574  485.999357      9277         NaN  l2d_cache_wr      650680
183575  485.999357     24028         NaN     l2d_cache      650680

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
183571       100.0         NaN         NaN
183572       100.0         NaN         NaN
183573       100.0         NaN         NaN
183574       100.0         NaN         NaN
183575       100.0         NaN         NaN

[183576 rows x 8 columns]
          time     value       counter
4         0.02  24763697  instructions
8         0.03  28245883  instructions
12        0.04  31978147  instructions
16        0.05  50169860  instructions
20        0.06  38401286  instructions
...        ...       ...           ...
183556  485.97  15525329  instructions
183560  485.98  23779037  instructions
183564  485.99  13899861  instructions
183568  486.00  38409666  instructions
183572  486.00   1878687  instructions

[45893 rows x 3 columns]
instructions
          time instructions
4         0.02     24763697
8         0.03     28245883
12        0.04     31978147
16        0.05     50169860
20        0.06     38401286
...        ...          ...
183556  485.97     15525329
183560  485.98     23779037
183564  485.99     13899861
183568  486.00     38409666
183572  486.00      1878687

[45893 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       470808
5         0.02       670567
9         0.03       854678
13        0.04       790707
17        0.05       909733
...        ...          ...
183557  485.97       279565
183561  485.98       436547
183565  485.99       424972
183569  486.00       504643
183573  486.00        14751

[45894 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       165375
6         0.02       171207
10        0.03       174205
14        0.04       206110
18        0.05       368865
...        ...          ...
183558  485.97       143802
183562  485.98       225963
183566  485.99       354101
183570  486.00       478094
183574  486.00         9277

[45894 rows x 2 columns]
df5
          time l2d_cache
3         0.01    636183
7         0.02    841774
11        0.03   1028883
15        0.04    996817
19        0.05   1278598
...        ...       ...
183559  485.97    423367
183563  485.98    662510
183567  485.99    779073
183571  486.00    982737
183575  486.00     24028

[45894 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     24763697       670567
1        0.03     28245883       854678
2        0.04     31978147       790707
3        0.05     50169860       909733
4        0.06     38401286       917877
...       ...          ...          ...
45890  485.99     13899861       424972
45891  486.00     38409666       504643
45892  486.00     38409666        14751
45893  486.00      1878687       504643
45894  486.00      1878687        14751

[45895 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       165375    636183
1        0.02       171207    841774
2        0.03       174205   1028883
3        0.04       206110    996817
4        0.05       368865   1278598
...       ...          ...       ...
45891  485.99       354101    779073
45892  486.00       478094    982737
45893  486.00       478094     24028
45894  486.00         9277    982737
45895  486.00         9277     24028

[45896 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014911  19322592         NaN  instructions    15772200
1         0.014911   8627976         NaN       l1d_tlb    15772200
2         0.014911   5844434         NaN    l1d_tlb_rd    15772200
3         0.014911   2783542         NaN    l1d_tlb_wr    15772200
4         0.025422  29728380         NaN  instructions     9981440
...            ...       ...         ...           ...         ...
186151  492.138033   3286700         NaN    l1d_tlb_wr    10332080
186152  492.139606   4114622         NaN  instructions     1216160
186153  492.139606   1685219         NaN       l1d_tlb     1216160
186154  492.139606   1232695         NaN    l1d_tlb_rd     1216160
186155  492.139606    452524         NaN    l1d_tlb_wr     1216160

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
186151       100.0         NaN         NaN
186152       100.0         NaN         NaN
186153       100.0         NaN         NaN
186154       100.0         NaN         NaN
186155       100.0         NaN         NaN

[186156 rows x 8 columns]
          time     value       counter
4         0.03  29728380  instructions
8         0.04  28997186  instructions
12        0.05  37954765  instructions
16        0.06  53246504  instructions
20        0.07  27841883  instructions
...        ...       ...           ...
186136  492.11  15101317  instructions
186140  492.12  23557757  instructions
186144  492.13  13997020  instructions
186148  492.14  36652296  instructions
186152  492.14   4114622  instructions

[46538 rows x 3 columns]
instructions
          time instructions
4         0.03     29728380
8         0.04     28997186
12        0.05     37954765
16        0.06     53246504
20        0.07     27841883
...        ...          ...
186136  492.11     15101317
186140  492.12     23557757
186144  492.13     13997020
186148  492.14     36652296
186152  492.14      4114622

[46538 rows x 2 columns]
df3
          time   l1d_tlb
1         0.01   8627976
5         0.03  12702241
9         0.04  12564576
13        0.05  15161551
17        0.06  16890683
...        ...       ...
186137  492.11   6016085
186141  492.12   8846787
186145  492.13   4977695
186149  492.14  12519936
186153  492.14   1685219

[46539 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    5844434
6         0.03    8214780
10        0.04    8133578
14        0.05   10021389
18        0.06   12184111
...        ...        ...
186138  492.11    3960868
186142  492.12    5883132
186146  492.13    3554416
186150  492.14    9233236
186154  492.14    1232695

[46539 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    2783542
7         0.03    4487461
11        0.04    4430998
15        0.05    5140162
19        0.06    4706572
...        ...        ...
186139  492.11    2055217
186143  492.12    2963655
186147  492.13    1423279
186151  492.14    3286700
186155  492.14     452524

[46539 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.03     29728380  12702241
1        0.04     28997186  12564576
2        0.05     37954765  15161551
3        0.06     53246504  16890683
4        0.07     27841883  11831032
...       ...          ...       ...
46535  492.13     13997020   4977695
46536  492.14     36652296  12519936
46537  492.14     36652296   1685219
46538  492.14      4114622  12519936
46539  492.14      4114622   1685219

[46540 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    5844434    2783542
1        0.03    8214780    4487461
2        0.04    8133578    4430998
3        0.05   10021389    5140162
4        0.06   12184111    4706572
...       ...        ...        ...
46536  492.13    3554416    1423279
46537  492.14    9233236    3286700
46538  492.14    9233236     452524
46539  492.14    1232695    3286700
46540  492.14    1232695     452524

[46541 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.015265  18950604         NaN  instructions    16171720
1         0.015265     27102         NaN     dtlb_walk    16171720
2         0.015265      2560         NaN     itlb_walk    16171720
3         0.015265   6342085         NaN       l1i_tlb    16171720
4         0.025741  30068956         NaN  instructions     9918160
...            ...       ...         ...           ...         ...
180927  478.078291   8072413         NaN       l1i_tlb    10162440
180928  478.080772   8169332         NaN  instructions     2126880
180929  478.080772      1201         NaN     dtlb_walk     2126880
180930  478.080772         4         NaN     itlb_walk     2126880
180931  478.080772   1582834         NaN       l1i_tlb     2126880

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
180927       100.0         NaN         NaN
180928       100.0         NaN         NaN
180929       100.0         NaN         NaN
180930       100.0         NaN         NaN
180931       100.0         NaN         NaN

[180932 rows x 8 columns]
          time     value       counter
4         0.03  30068956  instructions
8         0.04  29603455  instructions
12        0.05  38329987  instructions
16        0.06  52569040  instructions
20        0.07  28527524  instructions
...        ...       ...           ...
180912  478.05  13844889  instructions
180916  478.06  22122516  instructions
180920  478.07  16105284  instructions
180924  478.08  33662587  instructions
180928  478.08   8169332  instructions

[45232 rows x 3 columns]
instructions
          time instructions
4         0.03     30068956
8         0.04     29603455
12        0.05     38329987
16        0.06     52569040
20        0.07     28527524
...        ...          ...
180912  478.05     13844889
180916  478.06     22122516
180920  478.07     16105284
180924  478.08     33662587
180928  478.08      8169332

[45232 rows x 2 columns]
df3
          time dtlb_walk
1         0.02     27102
5         0.03      3435
9         0.04      4060
13        0.05      4013
17        0.06      2107
...        ...       ...
180913  478.05     11752
180917  478.06     16926
180921  478.07     34501
180925  478.08     24703
180929  478.08      1201

[45233 rows x 2 columns]
df4
          time itlb_walk
2         0.02      2560
6         0.03      1093
10        0.04      1135
14        0.05       859
18        0.06       381
...        ...       ...
180914  478.05      1292
180918  478.06       795
180922  478.07       745
180926  478.08       245
180930  478.08         4

[45233 rows x 2 columns]
df5
          time   l1i_tlb
3         0.02   6342085
7         0.03  10153633
11        0.04   9942844
15        0.05  11600935
19        0.06  13593343
...        ...       ...
180915  478.05   3921910
180919  478.06   5921708
180923  478.07   4865153
180927  478.08   8072413
180931  478.08   1582834

[45233 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.03     30068956      3435
1        0.04     29603455      4060
2        0.05     38329987      4013
3        0.06     52569040      2107
4        0.07     28527524      5504
...       ...          ...       ...
45229  478.07     16105284     34501
45230  478.08     33662587     24703
45231  478.08     33662587      1201
45232  478.08      8169332     24703
45233  478.08      8169332      1201

[45234 rows x 3 columns]
df7
         time itlb_walk   l1i_tlb
0        0.02      2560   6342085
1        0.03      1093  10153633
2        0.04      1135   9942844
3        0.05       859  11600935
4        0.06       381  13593343
...       ...       ...       ...
45230  478.07       745   4865153
45231  478.08       245   8072413
45232  478.08       245   1582834
45233  478.08         4   8072413
45234  478.08         4   1582834

[45235 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.015076  19423596         NaN  instructions    15931280
1         0.015076    132630         NaN       l2d_tlb    15931280
2         0.015076    114505         NaN    l2d_tlb_rd    15931280
3         0.015076     18125         NaN    l2d_tlb_wr    15931280
4         0.025572  29442842         NaN  instructions     9943160
...            ...       ...         ...           ...         ...
181907  481.601661      6952         NaN    l2d_tlb_wr    10075160
181908  481.609834  31913827         NaN  instructions     7747040
181909  481.609834     36040         NaN       l2d_tlb     7747040
181910  481.609834     22360         NaN    l2d_tlb_rd     7747040
181911  481.609834     13680         NaN    l2d_tlb_wr     7747040

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
181907       100.0         NaN         NaN
181908       100.0         NaN         NaN
181909       100.0         NaN         NaN
181910       100.0         NaN         NaN
181911       100.0         NaN         NaN

[181912 rows x 8 columns]
          time          value       counter
4         0.03       29442842  instructions
8         0.04       29384681  instructions
12        0.05       38385387  instructions
16        0.06       53392221  instructions
20        0.07       29000839  instructions
...        ...            ...           ...
181892  481.57  <not counted>  instructions
181896  481.58       20883410  instructions
181900  481.59       22455110  instructions
181904  481.60       17609326  instructions
181908  481.61       31913827  instructions

[45477 rows x 3 columns]
instructions
          time   instructions
4         0.03       29442842
8         0.04       29384681
12        0.05       38385387
16        0.06       53392221
20        0.07       29000839
...        ...            ...
181892  481.57  <not counted>
181896  481.58       20883410
181900  481.59       22455110
181904  481.60       17609326
181908  481.61       31913827

[45477 rows x 2 columns]
df3
          time        l2d_tlb
1         0.02         132630
5         0.03         260992
9         0.04         278653
13        0.05         312645
17        0.06         412979
...        ...            ...
181893  481.57  <not counted>
181897  481.58         188851
181901  481.59         168142
181905  481.60         136989
181909  481.61          36040

[45478 rows x 2 columns]
df4
          time     l2d_tlb_rd
2         0.02         114505
6         0.03         247918
10        0.04         265567
14        0.05         298759
18        0.06         399619
...        ...            ...
181894  481.57  <not counted>
181898  481.58         172604
181902  481.59         156122
181906  481.60         130037
181910  481.61          22360

[45478 rows x 2 columns]
df5
          time     l2d_tlb_wr
3         0.02          18125
7         0.03          13074
11        0.04          13086
15        0.05          13886
19        0.06          13360
...        ...            ...
181895  481.57  <not counted>
181899  481.58          16247
181903  481.59          12020
181907  481.60           6952
181911  481.61          13680

[45478 rows x 2 columns]
df6
         time   instructions        l2d_tlb
0        0.03       29442842         260992
1        0.04       29384681         278653
2        0.05       38385387         312645
3        0.06       53392221         412979
4        0.07       29000839         284487
...       ...            ...            ...
45472  481.57  <not counted>  <not counted>
45473  481.58       20883410         188851
45474  481.59       22455110         168142
45475  481.60       17609326         136989
45476  481.61       31913827          36040

[45477 rows x 3 columns]
df7
         time     l2d_tlb_rd     l2d_tlb_wr
0        0.02         114505          18125
1        0.03         247918          13074
2        0.04         265567          13086
3        0.05         298759          13886
4        0.06         399619          13360
...       ...            ...            ...
45473  481.57  <not counted>  <not counted>
45474  481.58         172604          16247
45475  481.59         156122          12020
45476  481.60         130037           6952
45477  481.61          22360          13680

[45478 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010141  10861653         NaN  instructions    11140520
1         0.010141         8         NaN      vfp_spec    11140520
2         0.010141  13021433         NaN     inst_spec    11140520
3         0.010141      7066         NaN      ase_spec    11140520
4         0.020651  22475181         NaN  instructions     9984600
...            ...       ...         ...           ...         ...
183783  486.048628         0         NaN      ase_spec    10078200
183784  486.049283    320074         NaN  instructions      231800
183785  486.049283         0         NaN      vfp_spec      231800
183786  486.049283    360836         NaN     inst_spec      231800
183787  486.049283         0         NaN      ase_spec      231800

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
183783       100.0         NaN         NaN
183784       100.0         NaN         NaN
183785       100.0         NaN         NaN
183786       100.0         NaN         NaN
183787       100.0         NaN         NaN

[183788 rows x 8 columns]
          time     value       counter
4         0.02  22475181  instructions
8         0.03  28437845  instructions
12        0.04  44000624  instructions
16        0.06  53579541  instructions
20        0.07  32528048  instructions
...        ...       ...           ...
183768  486.02  15726142  instructions
183772  486.03  23768565  instructions
183776  486.04  14034233  instructions
183780  486.05  38951678  instructions
183784  486.05    320074  instructions

[45946 rows x 3 columns]
instructions
          time instructions
4         0.02     22475181
8         0.03     28437845
12        0.04     44000624
16        0.06     53579541
20        0.07     32528048
...        ...          ...
183768  486.02     15726142
183772  486.03     23768565
183776  486.04     14034233
183780  486.05     38951678
183784  486.05       320074

[45946 rows x 2 columns]
df3
          time vfp_spec
1         0.01        8
5         0.02     2932
9         0.03     1600
13        0.04     1049
17        0.06      357
...        ...      ...
183769  486.02      278
183773  486.03        0
183777  486.04        0
183781  486.05        0
183785  486.05        0

[45947 rows x 2 columns]
df4
          time inst_spec
2         0.01  13021433
6         0.02  27568401
10        0.03  35769620
14        0.04  54350140
18        0.06  61081362
...        ...       ...
183770  486.02  17760188
183774  486.03  25575247
183778  486.04  17392775
183782  486.05  41565063
183786  486.05    360836

[45947 rows x 2 columns]
df5
          time ase_spec
3         0.01     7066
7         0.02    32946
11        0.03    20447
15        0.04    32322
19        0.06    32604
...        ...      ...
183771  486.02     1647
183775  486.03     2760
183779  486.04       98
183783  486.05        0
183787  486.05        0

[45947 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     22475181     2932
1        0.03     28437845     1600
2        0.04     44000624     1049
3        0.06     53579541      357
4        0.07     32528048      720
...       ...          ...      ...
45943  486.04     14034233        0
45944  486.05     38951678        0
45945  486.05     38951678        0
45946  486.05       320074        0
45947  486.05       320074        0

[45948 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  13021433     7066
1        0.02  27568401    32946
2        0.03  35769620    20447
3        0.04  54350140    32322
4        0.06  61081362    32604
...       ...       ...      ...
45944  486.04  17392775       98
45945  486.05  41565063        0
45946  486.05  41565063        0
45947  486.05    360836        0
45948  486.05    360836        0

[45949 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010127  10526332         NaN      instructions    10811240
1         0.010127  12169467         NaN     stall_backend    10811240
2         0.010127  16112245         NaN    stall_frontend    10811240
3         0.010127    185735         NaN  ll_cache_miss_rd    10811240
4         0.020649  22355637         NaN      instructions    10033200
...            ...       ...         ...               ...         ...
183607  486.009413    547037         NaN  ll_cache_miss_rd    10115320
183608  486.010027    414683         NaN      instructions      274120
183609  486.010027    449715         NaN     stall_backend      274120
183610  486.010027    199389         NaN    stall_frontend      274120
183611  486.010027      4456         NaN  ll_cache_miss_rd      274120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
183607       100.0         NaN         NaN
183608       100.0         NaN         NaN
183609       100.0         NaN         NaN
183610       100.0         NaN         NaN
183611       100.0         NaN         NaN

[183612 rows x 8 columns]
          time     value       counter
4         0.02  22355637  instructions
8         0.03  27673000  instructions
12        0.04  35880700  instructions
16        0.05  49860049  instructions
20        0.06  38954357  instructions
...        ...       ...           ...
183592  485.98  16063985  instructions
183596  485.99  23799484  instructions
183600  486.00  13896029  instructions
183604  486.01  38975628  instructions
183608  486.01    414683  instructions

[45902 rows x 3 columns]
instructions
          time instructions
4         0.02     22355637
8         0.03     27673000
12        0.04     35880700
16        0.05     49860049
20        0.06     38954357
...        ...          ...
183592  485.98     16063985
183596  485.99     23799484
183600  486.00     13896029
183604  486.01     38975628
183608  486.01       414683

[45902 rows x 2 columns]
df3
          time stall_backend
1         0.01      12169467
5         0.02       8247029
9         0.03       5725834
13        0.04       6477984
17        0.05       4822887
...        ...           ...
183593  485.98      22863013
183597  485.99      19708247
183601  486.00      23670621
183605  486.01      16922043
183609  486.01        449715

[45903 rows x 2 columns]
df4
          time stall_frontend
2         0.01       16112245
6         0.02       13263466
10        0.03       12624971
14        0.04       14195421
18        0.05        7989696
...        ...            ...
183594  485.98        4744778
183598  485.99        2563423
183602  486.00        1162728
183606  486.01        1164016
183610  486.01         199389

[45903 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           185735
7         0.02           155590
11        0.03           151401
15        0.04           185438
19        0.05            90179
...        ...              ...
183595  485.98           127754
183599  485.99           174185
183603  486.00           433491
183607  486.01           547037
183611  486.01             4456

[45903 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     22355637       8247029
1        0.03     27673000       5725834
2        0.04     35880700       6477984
3        0.05     49860049       4822887
4        0.06     38954357       5378102
...       ...          ...           ...
45899  486.00     13896029      23670621
45900  486.01     38975628      16922043
45901  486.01     38975628        449715
45902  486.01       414683      16922043
45903  486.01       414683        449715

[45904 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01       16112245           185735
1        0.02       13263466           155590
2        0.03       12624971           151401
3        0.04       14195421           185438
4        0.05        7989696            90179
...       ...            ...              ...
45900  486.00        1162728           433491
45901  486.01        1164016           547037
45902  486.01        1164016             4456
45903  486.01         199389           547037
45904  486.01         199389             4456

[45905 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.011137  12851428         NaN   instructions    12096080
1         0.011137   4017781         NaN     mem_access    12096080
2         0.011137   2483041         NaN  mem_access_rd    12096080
3         0.011137   1534740         NaN  mem_access_wr    12096080
4         0.021590  26538513         NaN   instructions    10009240
...            ...       ...         ...            ...         ...
181783  480.875133   3040943         NaN  mem_access_wr    10289480
181784  480.877121   5960574         NaN   instructions     1622440
181785  480.877121   1738055         NaN     mem_access     1622440
181786  480.877121   1084045         NaN  mem_access_rd     1622440
181787  480.877121    654010         NaN  mem_access_wr     1622440

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
181783       100.0         NaN         NaN
181784       100.0         NaN         NaN
181785       100.0         NaN         NaN
181786       100.0         NaN         NaN
181787       100.0         NaN         NaN

[181788 rows x 8 columns]
          time     value       counter
4         0.02  26538513  instructions
8         0.03  26660716  instructions
12        0.04  32737092  instructions
16        0.05  51422225  instructions
20        0.06  38404297  instructions
...        ...       ...           ...
181768  480.84  13261898  instructions
181772  480.85  23629022  instructions
181776  480.86  14716299  instructions
181780  480.88  35461747  instructions
181784  480.88   5960574  instructions

[45446 rows x 3 columns]
instructions
          time instructions
4         0.02     26538513
8         0.03     26660716
12        0.04     32737092
16        0.05     51422225
20        0.06     38404297
...        ...          ...
181768  480.84     13261898
181772  480.85     23629022
181776  480.86     14716299
181780  480.88     35461747
181784  480.88      5960574

[45446 rows x 2 columns]
df3
          time mem_access
1         0.01    4017781
5         0.02    9840943
9         0.03   10282540
13        0.04   12557634
17        0.05   15769410
...        ...        ...
181769  480.84    4390915
181773  480.85    8385823
181777  480.86    4465041
181781  480.88    9261687
181785  480.88    1738055

[45447 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       2483041
6         0.02       6202455
10        0.03       6478298
14        0.04       8001016
18        0.05      11071902
...        ...           ...
181770  480.84       2698782
181774  480.85       5422333
181778  480.86       3023875
181782  480.88       6220744
181786  480.88       1084045

[45447 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1534740
7         0.02       3638488
11        0.03       3804242
15        0.04       4556618
19        0.05       4697508
...        ...           ...
181771  480.84       1692133
181775  480.85       2963490
181779  480.86       1441166
181783  480.88       3040943
181787  480.88        654010

[45447 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     26538513    9840943
1        0.03     26660716   10282540
2        0.04     32737092   12557634
3        0.05     51422225   15769410
4        0.06     38404297   12670477
...       ...          ...        ...
45443  480.86     14716299    4465041
45444  480.88     35461747    9261687
45445  480.88     35461747    1738055
45446  480.88      5960574    9261687
45447  480.88      5960574    1738055

[45448 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       2483041       1534740
1        0.02       6202455       3638488
2        0.03       6478298       3804242
3        0.04       8001016       4556618
4        0.05      11071902       4697508
...       ...           ...           ...
45444  480.86       3023875       1441166
45445  480.88       6220744       3040943
45446  480.88       6220744        654010
45447  480.88       1084045       3040943
45448  480.88       1084045        654010

[45449 rows x 3 columns]
merged_df
         time instructions cpu-cycles   br_pred br_mis_pred   l1d_cache_rd  \
0        0.03     30180494   29555022   6863773      273194        7322799
1        0.06     50504236   30167147  12851583      247389       11058116
2        0.07     27988489   30164723   6284174      274549        7182914
3        0.08     34213756   30185758   7684559      263955        8751357
4        0.09     33549340   30198215   7630312      267445        8408053
...       ...          ...        ...       ...         ...            ...
27093  475.44     21808437   30153480     79896         496  <not counted>
27094  475.46     18894576   30147940     64391         467  <not counted>
27095  475.47     18877449   30144505     64373         410  <not counted>
27096  475.49     25213406   38136055   1638918        3785        3115714
27097  475.52     43582408   30143234   2609111        1009        5667637

        l1d_cache_wr      l1d_cache l1i_cache l1i_cache_refill  ...  \
0            4222919       11545718  11615933           695518  ...
1            4347839       15405955  14453176           627482  ...
2            4090480       11273394  16152699           906470  ...
3            4943697       13695054  12825973           710480  ...
4            4662271       13070324  12667374           687434  ...
...              ...            ...       ...              ...  ...
27093  <not counted>  <not counted>   6253675             1949  ...
27094  <not counted>  <not counted>   6051637             9300  ...
27095  <not counted>  <not counted>   6306920             1826  ...
27096        2031143        5146857   6285612             2246  ...
27097        3320847        8988484   8198919            11630  ...

      l2d_tlb_wr  vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0          13074      1600  35769620    20447       5725834       12624971
1          13360       357  61081362    32604       5378102       10646788
2          13602       720  39773855    24806       5478524       12600376
3          15699       934  39523689    21413       5652794       11879244
4          16744      1484  40962700    22809       5646410       12754986
...          ...       ...       ...      ...           ...            ...
27093        591  12493979  52100581   342672      17393467        1505721
27094        655  12110051  50785889   334199      13495802         933515
27095        672  11915374  50023887   330718       9500050        1508160
27096       2980  12545055  52330440   344470      13169572        1153334
27097       8575  12436418  51977385   343784      12482219        1303117

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               151401   10282540       6478298       3804242
1               122338   12670477       8580256       4090221
2               148383   12022578       7643404       4379174
3               142504   13232055       8495019       4737036
4               155850   11808191       7530104       4278087
...                ...        ...           ...           ...
27093          2047368   25173925      24138788       1035137
27094          1568106   25328327      24290311       1038016
27095          2284388   23110865      21560889       1549976
27096          1557292   25215421      24180546       1034875
27097          1777163   22737370      21031432       1705938

[27098 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010121  11072190         NaN  instructions    10978080
1         0.010121  32704715         NaN    cpu-cycles    10978080
2         0.010121   2040485         NaN       br_pred    10978080
3         0.010121     80221         NaN   br_mis_pred    10978080
4         0.020599  25174235         NaN  instructions     9989280
...            ...       ...         ...           ...         ...
155699  409.668424    114607         NaN   br_mis_pred    12138080
155700  409.672033  12958261         NaN  instructions     3238640
155701  409.672033   9680433         NaN    cpu-cycles     3238640
155702  409.672033   1877329         NaN       br_pred     3238640
155703  409.672033      4461         NaN   br_mis_pred     3238640

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.34  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.84  insn per cycle
...            ...         ...             ...
155699       100.0         NaN             NaN
155700       100.0        1.34  insn per cycle
155701       100.0         NaN             NaN
155702       100.0         NaN             NaN
155703       100.0         NaN             NaN

[155704 rows x 8 columns]
          time     value       counter
4         0.02  25174235  instructions
8         0.03  28720561  instructions
12        0.04  32760522  instructions
16        0.05  61694441  instructions
20        0.06  32661666  instructions
...        ...       ...           ...
155684  409.64   9651795  instructions
155688  409.65  17775972  instructions
155692  409.66  18580833  instructions
155696  409.67  33813802  instructions
155700  409.67  12958261  instructions

[38925 rows x 3 columns]
instructions
          time instructions
4         0.02     25174235
8         0.03     28720561
12        0.04     32760522
16        0.05     61694441
20        0.06     32661666
...        ...          ...
155684  409.64      9651795
155688  409.65     17775972
155692  409.66     18580833
155696  409.67     33813802
155700  409.67     12958261

[38925 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   32704715
5         0.02   29905680
9         0.03   29449486
13        0.04   30157540
17        0.05   36475654
...        ...        ...
155685  409.64   19364886
155689  409.65   29639930
155693  409.66   30194896
155697  409.67   36377241
155701  409.67    9680433

[38926 rows x 2 columns]
df4
          time   br_pred
2         0.01   2040485
6         0.02   5525553
10        0.03   6460831
14        0.04   7454881
18        0.05  15484054
...        ...       ...
155686  409.64   1708310
155690  409.65   3979614
155694  409.66   4347151
155698  409.67   7140436
155702  409.67   1877329

[38926 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       80221
7         0.02      218542
11        0.03      269921
15        0.04      263757
19        0.05      291268
...        ...         ...
155687  409.64       18526
155691  409.65       60826
155695  409.66       42569
155699  409.67      114607
155703  409.67        4461

[38926 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     25174235   29905680
1        0.03     28720561   29449486
2        0.04     32760522   30157540
3        0.05     61694441   36475654
4        0.06     32661666   30125758
...       ...          ...        ...
38922  409.66     18580833   30194896
38923  409.67     33813802   36377241
38924  409.67     33813802    9680433
38925  409.67     12958261   36377241
38926  409.67     12958261    9680433

[38927 rows x 3 columns]
df7
         time   br_pred br_mis_pred
0        0.01   2040485       80221
1        0.02   5525553      218542
2        0.03   6460831      269921
3        0.04   7454881      263757
4        0.05  15484054      291268
...       ...       ...         ...
38923  409.66   4347151       42569
38924  409.67   7140436      114607
38925  409.67   7140436        4461
38926  409.67   1877329      114607
38927  409.67   1877329        4461

[38928 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.015082  19398629         NaN  instructions    15937440
1         0.015082   3893090         NaN  l1d_cache_rd    15937440
2         0.015082   2390275         NaN  l1d_cache_wr    15937440
3         0.015082   6283365         NaN     l1d_cache    15937440
4         0.025553  29898264         NaN  instructions     9759400
...            ...       ...         ...           ...         ...
154319  404.906640   4068072         NaN     l1d_cache    10070880
154320  404.916927  38379492         NaN  instructions     9816920
154321  404.916927   6738925         NaN  l1d_cache_rd     9816920
154322  404.916927   3506522         NaN  l1d_cache_wr     9816920
154323  404.916927  10245447         NaN     l1d_cache     9816920

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
154319       100.0         NaN         NaN
154320       100.0         NaN         NaN
154321       100.0         NaN         NaN
154322       100.0         NaN         NaN
154323       100.0         NaN         NaN

[154324 rows x 8 columns]
          time          value       counter
4         0.03       29898264  instructions
8         0.04       30231751  instructions
12        0.05       40088964  instructions
16        0.06       52720664  instructions
20        0.07       28366994  instructions
...        ...            ...           ...
154304  404.87  <not counted>  instructions
154308  404.89       16071141  instructions
154312  404.90       23952370  instructions
154316  404.91       14261504  instructions
154320  404.92       38379492  instructions

[38580 rows x 3 columns]
instructions
          time   instructions
4         0.03       29898264
8         0.04       30231751
12        0.05       40088964
16        0.06       52720664
20        0.07       28366994
...        ...            ...
154304  404.87  <not counted>
154308  404.89       16071141
154312  404.90       23952370
154316  404.91       14261504
154320  404.92       38379492

[38580 rows x 2 columns]
df3
          time   l1d_cache_rd
1         0.02        3893090
5         0.03        7220744
9         0.04        7410646
13        0.05        9357778
17        0.06       11035015
...        ...            ...
154305  404.87  <not counted>
154309  404.89        3344659
154313  404.90        5481289
154317  404.91        2836012
154321  404.92        6738925

[38581 rows x 2 columns]
df4
          time   l1d_cache_wr
2         0.02        2390275
6         0.03        4185542
10        0.04        4272084
14        0.05        4892154
18        0.06        4329497
...        ...            ...
154306  404.87  <not counted>
154310  404.89        2092721
154314  404.90        2892012
154318  404.91        1232060
154322  404.92        3506522

[38581 rows x 2 columns]
df5
          time      l1d_cache
3         0.02        6283365
7         0.03       11406286
11        0.04       11682730
15        0.05       14249932
19        0.06       15364512
...        ...            ...
154307  404.87  <not counted>
154311  404.89        5437380
154315  404.90        8373301
154319  404.91        4068072
154323  404.92       10245447

[38581 rows x 2 columns]
df6
         time   instructions   l1d_cache_rd
0        0.03       29898264        7220744
1        0.04       30231751        7410646
2        0.05       40088964        9357778
3        0.06       52720664       11035015
4        0.07       28366994        6885621
...       ...            ...            ...
38575  404.87  <not counted>  <not counted>
38576  404.89       16071141        3344659
38577  404.90       23952370        5481289
38578  404.91       14261504        2836012
38579  404.92       38379492        6738925

[38580 rows x 3 columns]
df7
         time   l1d_cache_wr      l1d_cache
0        0.02        2390275        6283365
1        0.03        4185542       11406286
2        0.04        4272084       11682730
3        0.05        4892154       14249932
4        0.06        4329497       15364512
...       ...            ...            ...
38576  404.87  <not counted>  <not counted>
38577  404.89        2092721        5437380
38578  404.90        2892012        8373301
38579  404.91        1232060        4068072
38580  404.92        3506522       10245447

[38581 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.011437  13152488         NaN      instructions    12377960
1         0.011437   4729430         NaN         l1i_cache    12377960
2         0.011437    303010         NaN  l1i_cache_refill    12377960
3         0.011437    101763         NaN     remote_access    12377960
4         0.021907  27230791         NaN      instructions     9997320
...            ...       ...         ...               ...         ...
154991  407.146013      5078         NaN     remote_access    10106840
154992  407.151780  22393667         NaN      instructions     5413640
154993  407.151780   6006616         NaN         l1i_cache     5413640
154994  407.151780      5296         NaN  l1i_cache_refill     5413640
154995  407.151780      4849         NaN     remote_access     5413640

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
154991       100.0         NaN         NaN
154992       100.0         NaN         NaN
154993       100.0         NaN         NaN
154994       100.0         NaN         NaN
154995       100.0         NaN         NaN

[154996 rows x 8 columns]
          time     value       counter
4         0.02  27230791  instructions
8         0.03  27506139  instructions
12        0.04  33198922  instructions
16        0.05  52692377  instructions
20        0.06  36080785  instructions
...        ...       ...           ...
154976  407.11   6588799  instructions
154980  407.13  18254041  instructions
154984  407.14  20536392  instructions
154988  407.15  24826638  instructions
154992  407.15  22393667  instructions

[38748 rows x 3 columns]
instructions
          time instructions
4         0.02     27230791
8         0.03     27506139
12        0.04     33198922
16        0.05     52692377
20        0.06     36080785
...        ...          ...
154976  407.11      6588799
154980  407.13     18254041
154984  407.14     20536392
154988  407.15     24826638
154992  407.15     22393667

[38748 rows x 2 columns]
df3
          time l1i_cache
1         0.01   4729430
5         0.02  10873463
9         0.03  11151470
13        0.04  13072299
17        0.05  17949223
...        ...       ...
154977  407.11   1872440
154981  407.13   6545560
154985  407.14   6431493
154989  407.15   8397597
154993  407.15   6006616

[38749 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           303010
6         0.02           561485
10        0.03           667541
14        0.04           605467
18        0.05           546111
...        ...              ...
154978  407.11             8663
154982  407.13           239070
154986  407.14            65639
154990  407.15            12196
154994  407.15             5296

[38749 rows x 2 columns]
df5
          time remote_access
3         0.01        101763
7         0.02         39976
11        0.03         36125
15        0.04         32274
19        0.05         11329
...        ...           ...
154979  407.11          4994
154983  407.13         19017
154987  407.14          4845
154991  407.15          5078
154995  407.15          4849

[38749 rows x 2 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

df6
         time instructions l1i_cache
0        0.02     27230791  10873463
1        0.03     27506139  11151470
2        0.04     33198922  13072299
3        0.05     52692377  17949223
4        0.06     36080785  13574894
...       ...          ...       ...
38745  407.14     20536392   6431493
38746  407.15     24826638   8397597
38747  407.15     24826638   6006616
38748  407.15     22393667   8397597
38749  407.15     22393667   6006616

[38750 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           303010        101763
1        0.02           561485         39976
2        0.03           667541         36125
3        0.04           605467         32274
4        0.05           546111         11329
...       ...              ...           ...
38746  407.14            65639          4845
38747  407.15            12196          5078
38748  407.15            12196          4849
38749  407.15             5296          5078
38750  407.15             5296          4849

[38751 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011622  13113368         NaN  instructions    12585680
1         0.011622    472170         NaN  l2d_cache_rd    12585680
2         0.011622    167302         NaN  l2d_cache_wr    12585680
3         0.011622    639472         NaN     l2d_cache    12585680
4         0.022090  25264484         NaN  instructions     9886480
...            ...       ...         ...           ...         ...
155667  409.129300    940818         NaN     l2d_cache    10065960
155668  409.129706     33944         NaN  instructions       31800
155669  409.129706       816         NaN  l2d_cache_rd       31800
155670  409.129706       199         NaN  l2d_cache_wr       31800
155671  409.129706      1015         NaN     l2d_cache       31800

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
155667       100.0         NaN         NaN
155668       100.0         NaN         NaN
155669       100.0         NaN         NaN
155670       100.0         NaN         NaN
155671       100.0         NaN         NaN

[155672 rows x 8 columns]
          time     value       counter
4         0.02  25264484  instructions
8         0.03  28208958  instructions
12        0.04  31833057  instructions
16        0.05  50474860  instructions
20        0.06  38148909  instructions
...        ...       ...           ...
155652  409.10  15523387  instructions
155656  409.11  24393485  instructions
155660  409.12  13849755  instructions
155664  409.13  39162888  instructions
155668  409.13     33944  instructions

[38917 rows x 3 columns]
instructions
          time instructions
4         0.02     25264484
8         0.03     28208958
12        0.04     31833057
16        0.05     50474860
20        0.06     38148909
...        ...          ...
155652  409.10     15523387
155656  409.11     24393485
155660  409.12     13849755
155664  409.13     39162888
155668  409.13        33944

[38917 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       472170
5         0.02       689892
9         0.03       865073
13        0.04       790852
17        0.05       875399
...        ...          ...
155653  409.10       275381
155657  409.11       441739
155661  409.12       421249
155665  409.13       483746
155669  409.13          816

[38918 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       167302
6         0.02       176405
10        0.03       187239
14        0.04       212018
18        0.05       340974
...        ...          ...
155654  409.10       137367
155658  409.11       228351
155662  409.12       360854
155666  409.13       457072
155670  409.13          199

[38918 rows x 2 columns]
df5
          time l2d_cache
3         0.01    639472
7         0.02    866297
11        0.03   1052312
15        0.04   1002870
19        0.05   1216373
...        ...       ...
155655  409.10    412748
155659  409.11    670090
155663  409.12    782103
155667  409.13    940818
155671  409.13      1015

[38918 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     25264484       689892
1        0.03     28208958       865073
2        0.04     31833057       790852
3        0.05     50474860       875399
4        0.06     38148909       894225
...       ...          ...          ...
38914  409.12     13849755       421249
38915  409.13     39162888       483746
38916  409.13     39162888          816
38917  409.13        33944       483746
38918  409.13        33944          816

[38919 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       167302    639472
1        0.02       176405    866297
2        0.03       187239   1052312
3        0.04       212018   1002870
4        0.05       340974   1216373
...       ...          ...       ...
38915  409.12       360854    782103
38916  409.13       457072    940818
38917  409.13       457072      1015
38918  409.13          199    940818
38919  409.13          199      1015

[38920 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014764  18636514         NaN  instructions    15662760
1         0.014764   8442193         NaN       l1d_tlb    15662760
2         0.014764   5763595         NaN    l1d_tlb_rd    15662760
3         0.014764   2678598         NaN    l1d_tlb_wr    15662760
4         0.025182  30452096         NaN  instructions    10009080
...            ...       ...         ...           ...         ...
154851  406.714288   1322996         NaN    l1d_tlb_wr    10067480
154852  406.724319  37855866         NaN  instructions     9594560
154853  406.724319  13105933         NaN       l1d_tlb     9594560
154854  406.724319   9573569         NaN    l1d_tlb_rd     9594560
154855  406.724319   3532364         NaN    l1d_tlb_wr     9594560

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
154851       100.0         NaN         NaN
154852       100.0         NaN         NaN
154853       100.0         NaN         NaN
154854       100.0         NaN         NaN
154855       100.0         NaN         NaN

[154856 rows x 8 columns]
          time          value       counter
4         0.03       30452096  instructions
8         0.04       29049545  instructions
12        0.05       36939156  instructions
16        0.06       52872322  instructions
20        0.07       29214031  instructions
...        ...            ...           ...
154836  406.68  <not counted>  instructions
154840  406.69       16266561  instructions
154844  406.70       24064006  instructions
154848  406.71       14935616  instructions
154852  406.72       37855866  instructions

[38713 rows x 3 columns]
instructions
          time   instructions
4         0.03       30452096
8         0.04       29049545
12        0.05       36939156
16        0.06       52872322
20        0.07       29214031
...        ...            ...
154836  406.68  <not counted>
154840  406.69       16266561
154844  406.70       24064006
154848  406.71       14935616
154852  406.72       37855866

[38713 rows x 2 columns]
df3
          time        l1d_tlb
1         0.01        8442193
5         0.03       13006827
9         0.04       12603943
13        0.05       14949276
17        0.06       16778930
...        ...            ...
154837  406.68  <not counted>
154841  406.69        6482103
154845  406.70        9086066
154849  406.71        5053526
154853  406.72       13105933

[38714 rows x 2 columns]
df4
          time     l1d_tlb_rd
2         0.01        5763595
6         0.03        8402372
10        0.04        8169644
14        0.05        9867034
18        0.06       12107197
...        ...            ...
154838  406.68  <not counted>
154842  406.69        4265617
154846  406.70        6072147
154850  406.71        3730530
154854  406.72        9573569

[38714 rows x 2 columns]
df5
          time     l1d_tlb_wr
3         0.01        2678598
7         0.03        4604455
11        0.04        4434299
15        0.05        5082242
19        0.06        4671733
...        ...            ...
154839  406.68  <not counted>
154843  406.69        2216486
154847  406.70        3013919
154851  406.71        1322996
154855  406.72        3532364

[38714 rows x 2 columns]
df6
         time   instructions        l1d_tlb
0        0.03       30452096       13006827
1        0.04       29049545       12603943
2        0.05       36939156       14949276
3        0.06       52872322       16778930
4        0.07       29214031       12151428
...       ...            ...            ...
38708  406.68  <not counted>  <not counted>
38709  406.69       16266561        6482103
38710  406.70       24064006        9086066
38711  406.71       14935616        5053526
38712  406.72       37855866       13105933

[38713 rows x 3 columns]
df7
         time     l1d_tlb_rd     l1d_tlb_wr
0        0.01        5763595        2678598
1        0.03        8402372        4604455
2        0.04        8169644        4434299
3        0.05        9867034        5082242
4        0.06       12107197        4671733
...       ...            ...            ...
38709  406.68  <not counted>  <not counted>
38710  406.69        4265617        2216486
38711  406.70        6072147        3013919
38712  406.71        3730530        1322996
38713  406.72        9573569        3532364

[38714 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011603  12794479         NaN  instructions    12563520
1         0.011603     21223         NaN     dtlb_walk    12563520
2         0.011603      1897         NaN     itlb_walk    12563520
3         0.011603   4259485         NaN       l1i_tlb    12563520
4         0.022075  25829963         NaN  instructions    10010280
...            ...       ...         ...           ...         ...
155335  408.302537   8146347         NaN       l1i_tlb    10037840
155336  408.303828   3046278         NaN  instructions      942680
155337  408.303828       972         NaN     dtlb_walk      942680
155338  408.303828         4         NaN     itlb_walk      942680
155339  408.303828    638919         NaN       l1i_tlb      942680

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
155335       100.0         NaN         NaN
155336       100.0         NaN         NaN
155337       100.0         NaN         NaN
155338       100.0         NaN         NaN
155339       100.0         NaN         NaN

[155340 rows x 8 columns]
          time     value       counter
4         0.02  25829963  instructions
8         0.03  27299619  instructions
12        0.04  32086960  instructions
16        0.05  50329285  instructions
20        0.06  37939818  instructions
...        ...       ...           ...
155320  408.27  14621969  instructions
155324  408.28  23959121  instructions
155328  408.29  14263160  instructions
155332  408.30  37265133  instructions
155336  408.30   3046278  instructions

[38834 rows x 3 columns]
instructions
          time instructions
4         0.02     25829963
8         0.03     27299619
12        0.04     32086960
16        0.05     50329285
20        0.06     37939818
...        ...          ...
155320  408.27     14621969
155324  408.28     23959121
155328  408.29     14263160
155332  408.30     37265133
155336  408.30      3046278

[38834 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     21223
5         0.02      6307
9         0.03      3824
13        0.04      4197
17        0.05      2318
...        ...       ...
155321  408.27     11992
155325  408.28     19041
155329  408.29     36693
155333  408.30     17277
155337  408.30       972

[38835 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1897
6         0.02      1186
10        0.03       940
14        0.04       987
18        0.05       384
...        ...       ...
155322  408.27      1301
155326  408.28      1458
155330  408.29       526
155334  408.30       193
155338  408.30         4

[38835 rows x 2 columns]
df5
          time   l1i_tlb
3         0.01   4259485
7         0.02   8656338
11        0.03   9262787
15        0.04  10475546
19        0.05  13402750
...        ...       ...
155323  408.27   4161012
155327  408.28   6174776
155331  408.29   4935577
155335  408.30   8146347
155339  408.30    638919

[38835 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     25829963      6307
1        0.03     27299619      3824
2        0.04     32086960      4197
3        0.05     50329285      2318
4        0.06     37939818      4639
...       ...          ...       ...
38831  408.29     14263160     36693
38832  408.30     37265133     17277
38833  408.30     37265133       972
38834  408.30      3046278     17277
38835  408.30      3046278       972

[38836 rows x 3 columns]
df7
         time itlb_walk   l1i_tlb
0        0.01      1897   4259485
1        0.02      1186   8656338
2        0.03       940   9262787
3        0.04       987  10475546
4        0.05       384  13402750
...       ...       ...       ...
38832  408.29       526   4935577
38833  408.30       193   8146347
38834  408.30       193    638919
38835  408.30         4   8146347
38836  408.30         4    638919

[38837 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011818  13815398         NaN  instructions    12648240
1         0.011818     87121         NaN       l2d_tlb    12648240
2         0.011818     71973         NaN    l2d_tlb_rd    12648240
3         0.011818     15148         NaN    l2d_tlb_wr    12648240
4         0.022290  29265403         NaN  instructions     9984000
...            ...       ...         ...           ...         ...
155159  407.236192      6319         NaN    l2d_tlb_wr     9666160
155160  407.244304  31481454         NaN  instructions     7762760
155161  407.244304     37951         NaN       l2d_tlb     7762760
155162  407.244304     22768         NaN    l2d_tlb_rd     7762760
155163  407.244304     15183         NaN    l2d_tlb_wr     7762760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
155159       100.0         NaN         NaN
155160       100.0         NaN         NaN
155161       100.0         NaN         NaN
155162       100.0         NaN         NaN
155163       100.0         NaN         NaN

[155164 rows x 8 columns]
          time          value       counter
4         0.02       29265403  instructions
8         0.03       32156818  instructions
12        0.04       35476306  instructions
16        0.05       54051498  instructions
20        0.06       30960918  instructions
...        ...            ...           ...
155144  407.20  <not counted>  instructions
155148  407.22       21672623  instructions
155152  407.23       22178187  instructions
155156  407.24       17724424  instructions
155160  407.24       31481454  instructions

[38790 rows x 3 columns]
instructions
          time   instructions
4         0.02       29265403
8         0.03       32156818
12        0.04       35476306
16        0.05       54051498
20        0.06       30960918
...        ...            ...
155144  407.20  <not counted>
155148  407.22       21672623
155152  407.23       22178187
155156  407.24       17724424
155160  407.24       31481454

[38790 rows x 2 columns]
df3
          time        l2d_tlb
1         0.01          87121
5         0.02         251075
9         0.03         305432
13        0.04         297289
17        0.05         417536
...        ...            ...
155145  407.20  <not counted>
155149  407.22         214127
155153  407.23         176260
155157  407.24         133652
155161  407.24          37951

[38791 rows x 2 columns]
df4
          time     l2d_tlb_rd
2         0.01          71973
6         0.02         237939
10        0.03         290600
14        0.04         283837
18        0.05         403512
...        ...            ...
155146  407.20  <not counted>
155150  407.22         195992
155154  407.23         163418
155158  407.24         127333
155162  407.24          22768

[38791 rows x 2 columns]
df5
          time     l2d_tlb_wr
3         0.01          15148
7         0.02          13136
11        0.03          14832
15        0.04          13452
19        0.05          14024
...        ...            ...
155147  407.20  <not counted>
155151  407.22          18135
155155  407.23          12842
155159  407.24           6319
155163  407.24          15183

[38791 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     29265403  251075
1        0.03     32156818  305432
2        0.04     35476306  297289
3        0.05     54051498  417536
4        0.06     30960918  288299
...       ...          ...     ...
38787  407.23     22178187  176260
38788  407.24     17724424  133652
38789  407.24     17724424   37951
38790  407.24     31481454  133652
38791  407.24     31481454   37951

[38792 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      71973      15148
1        0.02     237939      13136
2        0.03     290600      14832
3        0.04     283837      13452
4        0.05     403512      14024
...       ...        ...        ...
38788  407.23     163418      12842
38789  407.24     127333       6319
38790  407.24     127333      15183
38791  407.24      22768       6319
38792  407.24      22768      15183

[38793 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011540  13086989         NaN  instructions    12377360
1         0.011540        52         NaN      vfp_spec    12377360
2         0.011540  15657283         NaN     inst_spec    12377360
3         0.011540     10290         NaN      ase_spec    12377360
4         0.021983  25858930         NaN  instructions     9850960
...            ...       ...         ...           ...         ...
155539  408.909999         0         NaN      ase_spec    10069720
155540  408.911634   3851513         NaN  instructions     1277920
155541  408.911634         0         NaN      vfp_spec     1277920
155542  408.911634   4009692         NaN     inst_spec     1277920
155543  408.911634         0         NaN      ase_spec     1277920

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
155539       100.0         NaN         NaN
155540       100.0         NaN         NaN
155541       100.0         NaN         NaN
155542       100.0         NaN         NaN
155543       100.0         NaN         NaN

[155544 rows x 8 columns]
          time     value       counter
4         0.02  25858930  instructions
8         0.03  30791788  instructions
12        0.04  34099714  instructions
16        0.05  53850253  instructions
20        0.06  34140047  instructions
...        ...       ...           ...
155524  408.88  14525138  instructions
155528  408.89  23467745  instructions
155532  408.90  14300632  instructions
155536  408.91  36599336  instructions
155540  408.91   3851513  instructions

[38885 rows x 3 columns]
instructions
          time instructions
4         0.02     25858930
8         0.03     30791788
12        0.04     34099714
16        0.05     53850253
20        0.06     34140047
...        ...          ...
155524  408.88     14525138
155528  408.89     23467745
155532  408.90     14300632
155536  408.91     36599336
155540  408.91      3851513

[38885 rows x 2 columns]
df3
          time vfp_spec
1         0.01       52
5         0.02     3421
9         0.03     1422
13        0.04      660
17        0.05      365
...        ...      ...
155525  408.88      267
155529  408.89        0
155533  408.90        0
155537  408.91        0
155541  408.91        0

[38886 rows x 2 columns]
df4
          time inst_spec
2         0.01  15657283
6         0.02  32260224
10        0.03  38563864
14        0.04  41946285
18        0.05  61454799
...        ...       ...
155526  408.88  16329565
155530  408.89  25322830
155534  408.90  17190662
155538  408.91  39554855
155542  408.91   4009692

[38886 rows x 2 columns]
df5
          time ase_spec
3         0.01    10290
7         0.02    34938
11        0.03    21253
15        0.04    25564
19        0.05    32866
...        ...      ...
155527  408.88     1482
155531  408.89     2875
155535  408.90      185
155539  408.91        0
155543  408.91        0

[38886 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     25858930     3421
1        0.03     30791788     1422
2        0.04     34099714      660
3        0.05     53850253      365
4        0.06     34140047      757
...       ...          ...      ...
38882  408.90     14300632        0
38883  408.91     36599336        0
38884  408.91     36599336        0
38885  408.91      3851513        0
38886  408.91      3851513        0

[38887 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  15657283    10290
1        0.02  32260224    34938
2        0.03  38563864    21253
3        0.04  41946285    25564
4        0.05  61454799    32866
...       ...       ...      ...
38883  408.90  17190662      185
38884  408.91  39554855        0
38885  408.91  39554855        0
38886  408.91   4009692        0
38887  408.91   4009692        0

[38888 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.011687  13116900         NaN      instructions    12645120
1         0.011687  13533030         NaN     stall_backend    12645120
2         0.011687  19384890         NaN    stall_frontend    12645120
3         0.011687    218162         NaN  ll_cache_miss_rd    12645120
4         0.022177  23526939         NaN      instructions     9480080
...            ...       ...         ...               ...         ...
155515  408.760561    745629         NaN  ll_cache_miss_rd    10088920
155516  408.768461  30683095         NaN      instructions     7523520
155517  408.768461  12709392         NaN     stall_backend     7523520
155518  408.768461    755008         NaN    stall_frontend     7523520
155519  408.768461    127551         NaN  ll_cache_miss_rd     7523520

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
155515       100.0         NaN         NaN
155516       100.0         NaN         NaN
155517       100.0         NaN         NaN
155518       100.0         NaN         NaN
155519       100.0         NaN         NaN

[155520 rows x 8 columns]
          time     value       counter
4         0.02  23526939  instructions
8         0.03  28092761  instructions
12        0.04  30610891  instructions
16        0.05  49112824  instructions
20        0.06  40026379  instructions
...        ...       ...           ...
155500  408.73   6521650  instructions
155504  408.74  13933928  instructions
155508  408.75  22995756  instructions
155512  408.76  18664875  instructions
155516  408.77  30683095  instructions

[38879 rows x 3 columns]
instructions
          time instructions
4         0.02     23526939
8         0.03     28092761
12        0.04     30610891
16        0.05     49112824
20        0.06     40026379
...        ...          ...
155500  408.73      6521650
155504  408.74     13933928
155508  408.75     22995756
155512  408.76     18664875
155516  408.77     30683095

[38879 rows x 2 columns]
df3
          time stall_backend
1         0.01      13533030
5         0.02       6718403
9         0.03       5422581
13        0.04       5578778
17        0.05       4734117
...        ...           ...
155501  408.73       6611936
155505  408.74      19875403
155509  408.75      21007801
155513  408.76      21778607
155517  408.77      12709392

[38880 rows x 2 columns]
df4
          time stall_frontend
2         0.01       19384890
6         0.02       12449709
10        0.03       13216140
14        0.04       12806003
18        0.05        8354077
...        ...            ...
155502  408.73         694843
155506  408.74        5037299
155510  408.75        1769376
155514  408.76        1247343
155518  408.77         755008

[38880 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           218162
7         0.02           148558
11        0.03           152382
15        0.04           172476
19        0.05            92923
...        ...              ...
155503  408.73            42278
155507  408.74           101348
155511  408.75           255217
155515  408.76           745629
155519  408.77           127551

[38880 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     23526939       6718403
1        0.03     28092761       5422581
2        0.04     30610891       5578778
3        0.05     49112824       4734117
4        0.06     40026379       5155496
...       ...          ...           ...
38874  408.73      6521650       6611936
38875  408.74     13933928      19875403
38876  408.75     22995756      21007801
38877  408.76     18664875      21778607
38878  408.77     30683095      12709392

[38879 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01       19384890           218162
1        0.02       12449709           148558
2        0.03       13216140           152382
3        0.04       12806003           172476
4        0.05        8354077            92923
...       ...            ...              ...
38875  408.73         694843            42278
38876  408.74        5037299           101348
38877  408.75        1769376           255217
38878  408.76        1247343           745629
38879  408.77         755008           127551

[38880 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010109  10138809         NaN   instructions    11081680
1         0.010109   3189914         NaN     mem_access    11081680
2         0.010109   1954126         NaN  mem_access_rd    11081680
3         0.010109   1235788         NaN  mem_access_wr    11081680
4         0.020560  18986632         NaN   instructions     9925560
...            ...       ...         ...            ...         ...
156027  410.592947   3466213         NaN  mem_access_wr    10072520
156028  410.593747    893701         NaN   instructions      444360
156029  410.593747    266476         NaN     mem_access      444360
156030  410.593747    163800         NaN  mem_access_rd      444360
156031  410.593747    102676         NaN  mem_access_wr      444360

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
156027       100.0         NaN         NaN
156028       100.0         NaN         NaN
156029       100.0         NaN         NaN
156030       100.0         NaN         NaN
156031       100.0         NaN         NaN

[156032 rows x 8 columns]
          time     value       counter
4         0.02  18986632  instructions
8         0.03  28082940  instructions
12        0.04  36209460  instructions
16        0.05  47752534  instructions
20        0.06  42182384  instructions
...        ...       ...           ...
156012  410.56  15928037  instructions
156016  410.57  22249039  instructions
156020  410.58  15516741  instructions
156024  410.59  38587789  instructions
156028  410.59    893701  instructions

[39007 rows x 3 columns]
instructions
          time instructions
4         0.02     18986632
8         0.03     28082940
12        0.04     36209460
16        0.05     47752534
20        0.06     42182384
...        ...          ...
156012  410.56     15928037
156016  410.57     22249039
156020  410.58     15516741
156024  410.59     38587789
156028  410.59       893701

[39007 rows x 2 columns]
df3
          time mem_access
1         0.01    3189914
5         0.02    6650235
9         0.03   10895199
13        0.04   13916059
17        0.05   15226681
...        ...        ...
156013  410.56    5400807
156017  410.57    7737892
156021  410.58    4685483
156025  410.59   10220863
156029  410.59     266476

[39008 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1954126
6         0.02       4174526
10        0.03       6890989
14        0.04       8840693
18        0.05      10512837
...        ...           ...
156014  410.56       3314168
156018  410.57       5079491
156022  410.58       3181085
156026  410.59       6754650
156030  410.59        163800

[39008 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1235788
7         0.02       2475709
11        0.03       4004210
15        0.04       5075366
19        0.05       4713844
...        ...           ...
156015  410.56       2086639
156019  410.57       2658401
156023  410.58       1504398
156027  410.59       3466213
156031  410.59        102676

[39008 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     18986632    6650235
1        0.03     28082940   10895199
2        0.04     36209460   13916059
3        0.05     47752534   15226681
4        0.06     42182384   13237314
...       ...          ...        ...
39004  410.58     15516741    4685483
39005  410.59     38587789   10220863
39006  410.59     38587789     266476
39007  410.59       893701   10220863
39008  410.59       893701     266476

[39009 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1954126       1235788
1        0.02       4174526       2475709
2        0.03       6890989       4004210
3        0.04       8840693       5075366
4        0.05      10512837       4713844
...       ...           ...           ...
39005  410.58       3181085       1504398
39006  410.59       6754650       3466213
39007  410.59       6754650        102676
39008  410.59        163800       3466213
39009  410.59        163800        102676

[39010 rows x 3 columns]
merged_df
         time instructions cpu-cycles   br_pred br_mis_pred   l1d_cache_rd  \
0        0.03     28720561   29449486   6460831      269921        7220744
1        0.04     32760522   30157540   7454881      263757        7410646
2        0.05     61694441   36475654  15484054      291268        9357778
3        0.06     32661666   30125758   7703256      265288       11035015
4        0.07     32970407   29805585   7446132      267265        6885621
...       ...          ...        ...       ...         ...            ...
24693  404.82     36333951   30007741   7038349       73542          25697
24694  404.83     26510217   29942889   5426837       69851  <not counted>
24695  404.87     23582529   29939710   4688526       65137  <not counted>
24696  404.90     33869259   30150628   7852150      292110        5481289
24697  404.92     33406650   30189326   7580385      249427        6738925

        l1d_cache_wr      l1d_cache l1i_cache l1i_cache_refill  ...  \
0            4185542       11406286  11151470           667541  ...
1            4272084       11682730  13072299           605467  ...
2            4892154       14249932  17949223           546111  ...
3            4329497       15364512  13574894           616830  ...
4            3937747       10823368  12502446           733279  ...
...              ...            ...       ...              ...  ...
24693          15140          40837  21191072           441504  ...
24694  <not counted>  <not counted>  20903190           448434  ...
24695  <not counted>  <not counted>  27600669           613255  ...
24696        2892012        8373301   9040079           207142  ...
24697        3506522       10245447   9095362           212321  ...

      l2d_tlb_wr       vfp_spec      inst_spec       ase_spec stall_backend  \
0          14832           1422       38563864          21253       5422581
1          13452            660       41946285          25564       5578778
2          14024            365       61454799          32866       4734117
3          13462            757       41696943          25932       5155496
4          15649            967       42245825          22950       5380421
...          ...            ...            ...            ...           ...
24693      31435  <not counted>  <not counted>  <not counted>       1072643
24694      30277  <not counted>  <not counted>  <not counted>       2472143
24695      44592           1020       28081132           2196       5924167
24696      42424            339       64651624           6147       2175349
24697      31954            193       53301561           7316       2592036

      stall_frontend ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0           13216140           152382   10895199       6890989       4004210
1           12806003           172476   13916059       8840693       5075366
2            8354077            92923   15226681      10512837       4713844
3           10534447           117716   13237314       9185672       4051642
4           12892666           150962   11942339       7587879       4354460
...              ...              ...        ...           ...           ...
24693        3075098            15983    9722648       7094549       2628099
24694        3457090            16794   10105568       7364634       2740934
24695        5310533            77025   19337176      13559356       5777820
24696        4423786            13887   19650602      13783778       5866824
24697        4609924            24109   26189740      18352582       7837158

[24698 rows x 32 columns]
             time     value  Unnamed: 2       counter  Unnamed: 4  Unnamed: 5  \
0        0.011252  12688596         NaN  instructions    12140440       100.0
1        0.011252  36208759         NaN    cpu-cycles    12140440       100.0
2        0.011252   2348019         NaN       br_pred    12140440       100.0
3        0.011252     92160         NaN   br_mis_pred    12140440       100.0
4        0.021697  26622549         NaN  instructions     9948440       100.0
...           ...       ...         ...           ...         ...         ...
97927  256.422967    122253         NaN   br_mis_pred    10069040       100.0
97928  256.430661  30276178         NaN  instructions     7334400       100.0
97929  256.430661  21972732         NaN    cpu-cycles     7334400       100.0
97930  256.430661   4362180         NaN       br_pred     7334400       100.0
97931  256.430661      6779         NaN   br_mis_pred     7334400       100.0

       Unnamed: 6      Unnamed: 7
0            0.35  insn per cycle
1             NaN             NaN
2             NaN             NaN
3             NaN             NaN
4            0.89  insn per cycle
...           ...             ...
97927         NaN             NaN
97928        1.38  insn per cycle
97929         NaN             NaN
97930         NaN             NaN
97931         NaN             NaN

[97932 rows x 8 columns]
         time     value       counter
4        0.02  26622549  instructions
8        0.03  28952316  instructions
12       0.04  32758661  instructions
16       0.05  52804813  instructions
20       0.06  35927357  instructions
...       ...       ...           ...
97912  256.39   6630082  instructions
97916  256.40  14161799  instructions
97920  256.41  22692684  instructions
97924  256.42  18606586  instructions
97928  256.43  30276178  instructions

[24482 rows x 3 columns]
instructions
         time instructions
4        0.02     26622549
8        0.03     28952316
12       0.04     32758661
16       0.05     52804813
20       0.06     35927357
...       ...          ...
97912  256.39      6630082
97916  256.40     14161799
97920  256.41     22692684
97924  256.42     18606586
97928  256.43     30276178

[24482 rows x 2 columns]
df3
         time cpu-cycles
1        0.01   36208759
5        0.02   29770274
9        0.03   29682276
13       0.04   30153000
17       0.05   30145004
...       ...        ...
97913  256.39    9680324
97917  256.40   29863454
97921  256.41   30170649
97925  256.42   30170269
97929  256.43   21972732

[24483 rows x 2 columns]
df4
         time   br_pred
2        0.01   2348019
6        0.02   5902183
10       0.03   6531164
14       0.04   7496788
18       0.05  13255343
...       ...       ...
97914  256.39   1077335
97918  256.40   3094475
97922  256.41   5252312
97926  256.42   5202222
97930  256.43   4362180

[24483 rows x 2 columns]
df5
         time br_mis_pred
3        0.01       92160
7        0.02      239509
11       0.03      275358
15       0.04      263737
19       0.05      228716
...       ...         ...
97915  256.39        5581
97919  256.40       60452
97923  256.41       42041
97927  256.42      122253
97931  256.43        6779

[24483 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     26622549   29770274
1        0.03     28952316   29682276
2        0.04     32758661   30153000
3        0.05     52804813   30145004
4        0.06     35927357   30162633
...       ...          ...        ...
24477  256.39      6630082    9680324
24478  256.40     14161799   29863454
24479  256.41     22692684   30170649
24480  256.42     18606586   30170269
24481  256.43     30276178   21972732

[24482 rows x 3 columns]
df7
         time   br_pred br_mis_pred
0        0.01   2348019       92160
1        0.02   5902183      239509
2        0.03   6531164      275358
3        0.04   7496788      263737
4        0.05  13255343      228716
...       ...       ...         ...
24478  256.39   1077335        5581
24479  256.40   3094475       60452
24480  256.41   5252312       42041
24481  256.42   5202222      122253
24482  256.43   4362180        6779

[24483 rows x 3 columns]
             time     value  Unnamed: 2       counter  Unnamed: 4  Unnamed: 5  \
0        0.014099  18761371         NaN  instructions    14974440       100.0
1        0.014099   3736990         NaN  l1d_cache_rd    14974440       100.0
2        0.014099   2299312         NaN  l1d_cache_wr    14974440       100.0
3        0.014099   6036302         NaN     l1d_cache    14974440       100.0
4        0.024577  30219176         NaN  instructions     9825800       100.0
...           ...       ...         ...           ...         ...         ...
97975  256.537867   7316567         NaN     l1d_cache    10065600       100.0
97976  256.542549  16545435         NaN  instructions     4195880       100.0
97977  256.542549   2999103         NaN  l1d_cache_rd     4195880       100.0
97978  256.542549   1761727         NaN  l1d_cache_wr     4195880       100.0
97979  256.542549   4760830         NaN     l1d_cache     4195880       100.0

       Unnamed: 6  Unnamed: 7
0             NaN         NaN
1             NaN         NaN
2             NaN         NaN
3             NaN         NaN
4             NaN         NaN
...           ...         ...
97975         NaN         NaN
97976         NaN         NaN
97977         NaN         NaN
97978         NaN         NaN
97979         NaN         NaN

[97980 rows x 8 columns]
         time     value       counter
4        0.02  30219176  instructions
8        0.03  30422738  instructions
12       0.05  40736563  instructions
16       0.06  53103202  instructions
20       0.07  27405247  instructions
...       ...       ...           ...
97960  256.51  10369207  instructions
97964  256.52  19210984  instructions
97968  256.53  17723881  instructions
97972  256.54  28886320  instructions
97976  256.54  16545435  instructions

[24494 rows x 3 columns]
instructions
         time instructions
4        0.02     30219176
8        0.03     30422738
12       0.05     40736563
16       0.06     53103202
20       0.07     27405247
...       ...          ...
97960  256.51     10369207
97964  256.52     19210984
97968  256.53     17723881
97972  256.54     28886320
97976  256.54     16545435

[24494 rows x 2 columns]
df3
         time l1d_cache_rd
1        0.01      3736990
5        0.02      7297138
9        0.03      7475018
13       0.05      9484899
17       0.06     11108725
...       ...          ...
97961  256.51      2060814
97965  256.52      4387071
97969  256.53      3861071
97973  256.54      5109323
97977  256.54      2999103

[24495 rows x 2 columns]
df4
         time l1d_cache_wr
2        0.01      2299312
6        0.02      4222036
10       0.03      4302369
14       0.05      4921228
18       0.06      4359743
...       ...          ...
97962  256.51      1262453
97966  256.52      2457064
97970  256.53      2051316
97974  256.54      2207244
97978  256.54      1761727

[24495 rows x 2 columns]
df5
         time l1d_cache
3        0.01   6036302
7        0.02  11519174
11       0.03  11777387
15       0.05  14406127
19       0.06  15468468
...       ...       ...
97963  256.51   3323267
97967  256.52   6844135
97971  256.53   5912387
97975  256.54   7316567
97979  256.54   4760830

[24495 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     30219176      7297138
1        0.03     30422738      7475018

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

df7
         time l2d_cache_wr l2d_cache
0        0.01       144525    547644
1        0.02       162455    759770
2        0.03       181281   1042353
3        0.04       261997   1261264
4        0.05       381960   1302403
...       ...          ...       ...
24496  256.42        62256    133243
24497  256.43       110672    448084
24498  256.44       266192    662593
24499  256.45       603095   1272311
24500  256.46       137472    283493

[24501 rows x 3 columns]
             time     value  Unnamed: 2       counter  Unnamed: 4  Unnamed: 5  \
0        0.010134  10781698         NaN  instructions    11093880       100.0
1        0.010134   5155863         NaN       l1d_tlb    11093880       100.0
2        0.010134   3597384         NaN    l1d_tlb_rd    11093880       100.0
3        0.010134   1558479         NaN    l1d_tlb_wr    11093880       100.0
4        0.020647  22268921         NaN  instructions     9908800       100.0
...           ...       ...         ...           ...         ...         ...
98011  256.630345   3452981         NaN    l1d_tlb_wr    10060280       100.0
98012  256.631565   1548127         NaN  instructions      752440       100.0
98013  256.631565    658462         NaN       l1d_tlb      752440       100.0
98014  256.631565    478789         NaN    l1d_tlb_rd      752440       100.0
98015  256.631565    179673         NaN    l1d_tlb_wr      752440       100.0

       Unnamed: 6  Unnamed: 7
0             NaN         NaN
1             NaN         NaN
2             NaN         NaN
3             NaN         NaN
4             NaN         NaN
...           ...         ...
98011         NaN         NaN
98012         NaN         NaN
98013         NaN         NaN
98014         NaN         NaN
98015         NaN         NaN

[98016 rows x 8 columns]
         time     value       counter
4        0.02  22268921  instructions
8        0.03  37413670  instructions
12       0.04  31508139  instructions
16       0.05  52312303  instructions
20       0.07  35097315  instructions
...       ...       ...           ...
97996  256.60  15543240  instructions
98000  256.61  23392177  instructions
98004  256.62  14555977  instructions
98008  256.63  38420160  instructions
98012  256.63   1548127  instructions

[24503 rows x 3 columns]
instructions
         time instructions
4        0.02     22268921
8        0.03     37413670
12       0.04     31508139
16       0.05     52312303
20       0.07     35097315
...       ...          ...
97996  256.60     15543240
98000  256.61     23392177
98004  256.62     14555977
98008  256.63     38420160
98012  256.63      1548127

[24503 rows x 2 columns]
df3
         time   l1d_tlb
1        0.01   5155863
5        0.02   9510492
9        0.03  16279891
13       0.04  13506219
17       0.05  17130021
...       ...       ...
97997  256.60   6237242
98001  256.61   8833709
98005  256.62   5224922
98009  256.63  13077316
98013  256.63    658462

[24504 rows x 2 columns]
df4
         time l1d_tlb_rd
2        0.01    3597384
6        0.02    6253583
10       0.03   10495995
14       0.04    8788688
18       0.05   12167461
...       ...        ...
97998  256.60    4127138
98002  256.61    5884236
98006  256.62    3777600
98010  256.63    9624335
98014  256.63     478789

[24504 rows x 2 columns]
df5
         time l1d_tlb_wr
3        0.01    1558479
7        0.02    3256909
11       0.03    5783896
15       0.04    4717531
19       0.05    4962560
...       ...        ...
97999  256.60    2110104
98003  256.61    2949473
98007  256.62    1447322
98011  256.63    3452981
98015  256.63     179673

[24504 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.02     22268921   9510492
1        0.03     37413670  16279891
2        0.04     31508139  13506219
3        0.05     52312303  17130021
4        0.07     35097315  13114969
...       ...          ...       ...
24500  256.62     14555977   5224922
24501  256.63     38420160  13077316
24502  256.63     38420160    658462
24503  256.63      1548127  13077316
24504  256.63      1548127    658462

[24505 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    3597384    1558479
1        0.02    6253583    3256909
2        0.03   10495995    5783896
3        0.04    8788688    4717531
4        0.05   12167461    4962560
...       ...        ...        ...
24501  256.62    3777600    1447322
24502  256.63    9624335    3452981
24503  256.63    9624335     179673
24504  256.63     478789    3452981
24505  256.63     478789     179673

[24506 rows x 3 columns]
             time     value  Unnamed: 2       counter  Unnamed: 4  Unnamed: 5  \
0        0.010182  10774087         NaN  instructions    11143360       100.0
1        0.010182     19837         NaN     dtlb_walk    11143360       100.0
2        0.010182      1629         NaN     itlb_walk    11143360       100.0
3        0.010182   3585910         NaN       l1i_tlb    11143360       100.0
4        0.020709  22144947         NaN  instructions     9845520       100.0
...           ...       ...         ...           ...         ...         ...
98071  256.579588   6560260         NaN       l1i_tlb    10057400       100.0
98072  256.586810  27727620         NaN  instructions     6748600       100.0
98073  256.586810      1307         NaN     dtlb_walk     6748600       100.0
98074  256.586810         5         NaN     itlb_walk     6748600       100.0
98075  256.586810   5287408         NaN       l1i_tlb     6748600       100.0

       Unnamed: 6  Unnamed: 7
0             NaN         NaN
1             NaN         NaN
2             NaN         NaN
3             NaN         NaN
4             NaN         NaN
...           ...         ...
98071         NaN         NaN
98072         NaN         NaN
98073         NaN         NaN
98074         NaN         NaN
98075         NaN         NaN

[98076 rows x 8 columns]
         time     value       counter
4        0.02  22144947  instructions
8        0.03  29750908  instructions
12       0.04  31041511  instructions
16       0.05  56044231  instructions
20       0.06  37681269  instructions
...       ...       ...           ...
98056  256.55   6544934  instructions
98060  256.56  13659656  instructions
98064  256.57  24193076  instructions
98068  256.58  20762884  instructions
98072  256.59  27727620  instructions

[24518 rows x 3 columns]
instructions
         time instructions
4        0.02     22144947
8        0.03     29750908
12       0.04     31041511
16       0.05     56044231
20       0.06     37681269
...       ...          ...
98056  256.55      6544934
98060  256.56     13659656
98064  256.57     24193076
98068  256.58     20762884
98072  256.59     27727620

[24518 rows x 2 columns]
df3
         time dtlb_walk
1        0.01     19837
5        0.02      7443
9        0.03      3492
13       0.04      4237
17       0.05      2792
...       ...       ...
98057  256.55      1000
98061  256.56     17384
98065  256.57     23784
98069  256.58     41809
98073  256.59      1307

[24519 rows x 2 columns]
df4
         time itlb_walk
2        0.01      1629
6        0.02      1254
10       0.03       987
14       0.04      1054
18       0.05       394
...       ...       ...
98058  256.55       109
98062  256.56      1620
98066  256.57       960
98070  256.58       415
98074  256.59         5

[24519 rows x 2 columns]
df5
         time   l1i_tlb
3        0.01   3585910
7        0.02   7272695
11       0.03  10139753
15       0.04  10212258
19       0.05  15156033
...       ...       ...
98059  256.55   1470025
98063  256.56   4317935
98067  256.57   6361679
98071  256.58   6560260
98075  256.59   5287408

[24519 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     22144947      7443
1        0.03     29750908      3492
2        0.04     31041511      4237
3        0.05     56044231      2792
4        0.06     37681269      4047
...       ...          ...       ...
24513  256.55      6544934      1000
24514  256.56     13659656     17384
24515  256.57     24193076     23784
24516  256.58     20762884     41809
24517  256.59     27727620      1307

[24518 rows x 3 columns]
df7
         time itlb_walk   l1i_tlb
0        0.01      1629   3585910
1        0.02      1254   7272695
2        0.03       987  10139753
3        0.04      1054  10212258
4        0.05       394  15156033
...       ...       ...       ...
24514  256.55       109   1470025
24515  256.56      1620   4317935
24516  256.57       960   6361679
24517  256.58       415   6560260
24518  256.59         5   5287408

[24519 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

             time     value  Unnamed: 2       counter  Unnamed: 4  Unnamed: 5  \
0        0.015226  18880541         NaN  instructions    16129480       100.0
1        0.015226    127738         NaN       l2d_tlb    16129480       100.0
2        0.015226    109696         NaN    l2d_tlb_rd    16129480       100.0
3        0.015226     18042         NaN    l2d_tlb_wr    16129480       100.0
4        0.025727  29591163         NaN  instructions     9907680       100.0
...           ...       ...         ...           ...         ...         ...
98215  256.980850      6264         NaN    l2d_tlb_wr    10067600       100.0
98216  256.988857  30839933         NaN  instructions     7627040       100.0
98217  256.988857     38525         NaN       l2d_tlb     7627040       100.0
98218  256.988857     23331         NaN    l2d_tlb_rd     7627040       100.0
98219  256.988857     15194         NaN    l2d_tlb_wr     7627040       100.0

       Unnamed: 6  Unnamed: 7
0             NaN         NaN
1             NaN         NaN
2             NaN         NaN
3             NaN         NaN
4             NaN         NaN
...           ...         ...
98215         NaN         NaN
98216         NaN         NaN
98217         NaN         NaN
98218         NaN         NaN
98219         NaN         NaN

[98220 rows x 8 columns]
         time     value       counter
4        0.03  29591163  instructions
8        0.04  29073044  instructions
12       0.05  36144881  instructions
16       0.06  53550395  instructions
20       0.07  29311074  instructions
...       ...       ...           ...
98200  256.95   6225617  instructions
98204  256.96  15582430  instructions
98208  256.97  22330186  instructions
98212  256.98  18465698  instructions
98216  256.99  30839933  instructions

[24554 rows x 3 columns]
instructions
         time instructions
4        0.03     29591163
8        0.04     29073044
12       0.05     36144881
16       0.06     53550395
20       0.07     29311074
...       ...          ...
98200  256.95      6225617
98204  256.96     15582430
98208  256.97     22330186
98212  256.98     18465698
98216  256.99     30839933

[24554 rows x 2 columns]
df3
         time l2d_tlb
1        0.02  127738
5        0.03  264222
9        0.04  275315
13       0.05  295399
17       0.06  415946
...       ...     ...
98201  256.95   18017
98205  256.96  200902
98209  256.97  150390
98213  256.98  130647
98217  256.99   38525

[24555 rows x 2 columns]
df4
         time l2d_tlb_rd
2        0.02     109696
6        0.03     251102
10       0.04     262514
14       0.05     282264
18       0.06     402428
...       ...        ...
98202  256.95      16400
98206  256.96     183869
98210  256.97     139177
98214  256.98     124383
98218  256.99      23331

[24555 rows x 2 columns]
df5
         time l2d_tlb_wr
3        0.02      18042
7        0.03      13120
11       0.04      12801
15       0.05      13135
19       0.06      13518
...       ...        ...
98203  256.95       1617
98207  256.96      17033
98211  256.97      11213
98215  256.98       6264
98219  256.99      15194

[24555 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.03     29591163  264222
1        0.04     29073044  275315
2        0.05     36144881  295399
3        0.06     53550395  415946
4        0.07     29311074  279280
...       ...          ...     ...
24549  256.95      6225617   18017
24550  256.96     15582430  200902
24551  256.97     22330186  150390
24552  256.98     18465698  130647
24553  256.99     30839933   38525

[24554 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.02     109696      18042
1        0.03     251102      13120
2        0.04     262514      12801
3        0.05     282264      13135
4        0.06     402428      13518
...       ...        ...        ...
24550  256.95      16400       1617
24551  256.96     183869      17033
24552  256.97     139177      11213
24553  256.98     124383       6264
24554  256.99      23331      15194

[24555 rows x 3 columns]
             time     value  Unnamed: 2       counter  Unnamed: 4  Unnamed: 5  \
0        0.010125  10661417         NaN  instructions    11132360       100.0
1        0.010125         9         NaN      vfp_spec    11132360       100.0
2        0.010125  12768445         NaN     inst_spec    11132360       100.0
3        0.010125      7017         NaN      ase_spec    11132360       100.0
4        0.020602  21981747         NaN  instructions     9984920       100.0
...           ...       ...         ...           ...         ...         ...
97999  256.733394         0         NaN      ase_spec    10068440       100.0
98000  256.741617  31893802         NaN  instructions     7880520       100.0
98001  256.741617         0         NaN      vfp_spec     7880520       100.0
98002  256.741617  32455941         NaN     inst_spec     7880520       100.0
98003  256.741617         0         NaN      ase_spec     7880520       100.0

       Unnamed: 6  Unnamed: 7
0             NaN         NaN
1             NaN         NaN
2             NaN         NaN
3             NaN         NaN
4             NaN         NaN
...           ...         ...
97999         NaN         NaN
98000         NaN         NaN
98001         NaN         NaN
98002         NaN         NaN
98003         NaN         NaN

[98004 rows x 8 columns]
         time     value       counter
4        0.02  21981747  instructions
8        0.03  27980720  instructions
12       0.04  31556559  instructions
16       0.05  63477643  instructions
20       0.07  34189470  instructions
...       ...       ...           ...
97984  256.70   6652994  instructions
97988  256.71  14101582  instructions
97992  256.72  22768339  instructions
97996  256.73  17871792  instructions
98000  256.74  31893802  instructions

[24500 rows x 3 columns]
instructions
         time instructions
4        0.02     21981747
8        0.03     27980720
12       0.04     31556559
16       0.05     63477643
20       0.07     34189470
...       ...          ...
97984  256.70      6652994
97988  256.71     14101582
97992  256.72     22768339
97996  256.73     17871792
98000  256.74     31893802

[24500 rows x 2 columns]
df3
         time vfp_spec
1        0.01        9
5        0.02     2946
9        0.03     1496
13       0.04      969
17       0.05      500
...       ...      ...
97985  256.70        8
97989  256.71      263
97993  256.72        0
97997  256.73        0
98001  256.74        0

[24501 rows x 2 columns]
df4
         time inst_spec
2        0.01  12768445
6        0.02  26961252
10       0.03  35378469
14       0.04  38783194
18       0.05  73797264
...       ...       ...
97986  256.70   6998897
97990  256.71  16364204
97994  256.72  24577205
97998  256.73  22833106
98002  256.74  32455941

[24501 rows x 2 columns]
df5
         time ase_spec
3        0.01     7017
7        0.02    32573
11       0.03    20465
15       0.04    21580
19       0.05    41835
...       ...      ...
97987  256.70        0
97991  256.71     3253
97995  256.72     1300
97999  256.73        0
98003  256.74        0

[24501 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     21981747     2946
1        0.03     27980720     1496
2        0.04     31556559      969
3        0.05     63477643      500
4        0.07     34189470      646
...       ...          ...      ...
24495  256.70      6652994        8
24496  256.71     14101582      263
24497  256.72     22768339        0
24498  256.73     17871792        0
24499  256.74     31893802        0

[24500 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  12768445     7017
1        0.02  26961252    32573
2        0.03  35378469    20465
3        0.04  38783194    21580
4        0.05  73797264    41835
...       ...       ...      ...
24496  256.70   6998897        0
24497  256.71  16364204     3253
24498  256.72  24577205     1300
24499  256.73  22833106        0
24500  256.74  32455941        0

[24501 rows x 3 columns]
             time     value  Unnamed: 2           counter  Unnamed: 4  \
0        0.015946  19819583         NaN      instructions    16754720
1        0.015946  18187795         NaN     stall_backend    16754720
2        0.015946  24390728         NaN    stall_frontend    16754720
3        0.015946    279181         NaN  ll_cache_miss_rd    16754720
4        0.026446  28960014         NaN      instructions     9877080
...           ...       ...         ...               ...         ...
98139  257.310107    710877         NaN  ll_cache_miss_rd    10063280
98140  257.314604  16203750         NaN      instructions     4102160
98141  257.314604   6782710         NaN     stall_backend     4102160
98142  257.314604    679295         NaN    stall_frontend     4102160
98143  257.314604     66989         NaN  ll_cache_miss_rd     4102160

       Unnamed: 5  Unnamed: 6  Unnamed: 7
0           100.0         NaN         NaN
1           100.0         NaN         NaN
2           100.0         NaN         NaN
3           100.0         NaN         NaN
4           100.0         NaN         NaN
...           ...         ...         ...
98139       100.0         NaN         NaN
98140       100.0         NaN         NaN
98141       100.0         NaN         NaN
98142       100.0         NaN         NaN
98143       100.0         NaN         NaN

[98144 rows x 8 columns]
         time     value       counter
4        0.03  28960014  instructions
8        0.04  29096214  instructions
12       0.05  38171668  instructions
16       0.06  52760378  instructions
20       0.07  28369858  instructions
...       ...       ...           ...
98124  257.28   9678484  instructions
98128  257.29  17459562  instructions
98132  257.30  20490959  instructions
98136  257.31  28899979  instructions
98140  257.31  16203750  instructions

[24535 rows x 3 columns]
instructions
         time instructions
4        0.03     28960014
8        0.04     29096214
12       0.05     38171668
16       0.06     52760378
20       0.07     28369858
...       ...          ...
98124  257.28      9678484
98128  257.29     17459562
98132  257.30     20490959
98136  257.31     28899979
98140  257.31     16203750

[24535 rows x 2 columns]
df3
         time stall_backend
1        0.02      18187795
5        0.03       5806218
9        0.04       5494819
13       0.05       5474504
17       0.06       4731966
...       ...           ...
98125  257.28      13699608
98129  257.29      18631083
98133  257.30      25807436
98137  257.31      18991147
98141  257.31       6782710

[24536 rows x 2 columns]
df4
         time stall_frontend
2        0.02       24390728
6        0.03       12335554
10       0.04       13289895
14       0.05       10557357
18       0.06        7473394
...       ...            ...
98126  257.28        2174207
98130  257.29        5032024
98134  257.30        1785497
98138  257.31        1262164
98142  257.31         679295

[24536 rows x 2 columns]
df5
         time ll_cache_miss_rd
3        0.02           279181
7        0.03           146760
11       0.04           162938
15       0.05           142850
19       0.06            82757
...       ...              ...
98127  257.28            70793
98131  257.29           116745
98135  257.30           320868
98139  257.31           710877
98143  257.31            66989

[24536 rows x 2 columns]
df6
         time instructions stall_backend
0        0.03     28960014       5806218
1        0.04     29096214       5494819
2        0.05     38171668       5474504
3        0.06     52760378       4731966
4        0.07     28369858       5755405
...       ...          ...           ...
24532  257.30     20490959      25807436
24533  257.31     28899979      18991147
24534  257.31     28899979       6782710
24535  257.31     16203750      18991147
24536  257.31     16203750       6782710

[24537 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.02       24390728           279181
1        0.03       12335554           146760
2        0.04       13289895           162938
3        0.05       10557357           142850
4        0.06        7473394            82757
...       ...            ...              ...
24533  257.30        1785497           320868
24534  257.31        1262164           710877
24535  257.31        1262164            66989
24536  257.31         679295           710877
24537  257.31         679295            66989

[24538 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

             time     value  Unnamed: 2        counter  Unnamed: 4  \
0        0.014412  16510546         NaN   instructions    15326280
1        0.014412   5173424         NaN     mem_access    15326280
2        0.014412   3200032         NaN  mem_access_rd    15326280
3        0.014412   1973392         NaN  mem_access_wr    15326280
4        0.024913  29400217         NaN   instructions    10013120
...           ...       ...         ...            ...         ...
97911  256.443791   1186466         NaN  mem_access_wr    10066320
97912  256.451469  30279482         NaN   instructions     7337480
97913  256.451469   8710385         NaN     mem_access     7337480
97914  256.451469   5489599         NaN  mem_access_rd     7337480
97915  256.451469   3220786         NaN  mem_access_wr     7337480

       Unnamed: 5  Unnamed: 6  Unnamed: 7
0           100.0         NaN         NaN
1           100.0         NaN         NaN
2           100.0         NaN         NaN
3           100.0         NaN         NaN
4           100.0         NaN         NaN
...           ...         ...         ...
97911       100.0         NaN         NaN
97912       100.0         NaN         NaN
97913       100.0         NaN         NaN
97914       100.0         NaN         NaN
97915       100.0         NaN         NaN

[97916 rows x 8 columns]
         time     value       counter
4        0.02  29400217  instructions
8        0.04  28156283  instructions
12       0.05  31688238  instructions
16       0.06  53092837  instructions
20       0.07  32574868  instructions
...       ...       ...           ...
97896  256.41     17326  instructions
97900  256.42  20603760  instructions
97904  256.43  21313541  instructions
97908  256.44  18786055  instructions
97912  256.45  30279482  instructions

[24478 rows x 3 columns]
instructions
         time instructions
4        0.02     29400217
8        0.04     28156283
12       0.05     31688238
16       0.06     53092837
20       0.07     32574868
...       ...          ...
97896  256.41        17326
97900  256.42     20603760
97904  256.43     21313541
97908  256.44     18786055
97912  256.45     30279482

[24478 rows x 2 columns]
df3
         time mem_access
1        0.01    5173424
5        0.02   11229558
9        0.04   10847206
13       0.05   12056551
17       0.06   15629202
...       ...        ...
97897  256.41       7671
97901  256.42    7068324
97905  256.43    7129969
97909  256.44    4596604
97913  256.45    8710385

[24479 rows x 2 columns]
df4
         time mem_access_rd
2        0.01       3200032
6        0.02       7103769
10       0.04       6876349
14       0.05       7718891
18       0.06      11165694
...       ...           ...
97898  256.41          4797
97902  256.42       4369882
97906  256.43       4755023
97910  256.44       3410138
97914  256.45       5489599

[24479 rows x 2 columns]
df5
         time mem_access_wr
3        0.01       1973392
7        0.02       4125789
11       0.04       3970857
15       0.05       4337660
19       0.06       4463508
...       ...           ...
97899  256.41          2874
97903  256.42       2698442
97907  256.43       2374946
97911  256.44       1186466
97915  256.45       3220786

[24479 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     29400217   11229558
1        0.04     28156283   10847206
2        0.05     31688238   12056551
3        0.06     53092837   15629202
4        0.07     32574868   11260515
...       ...          ...        ...
24473  256.41        17326       7671
24474  256.42     20603760    7068324
24475  256.43     21313541    7129969
24476  256.44     18786055    4596604
24477  256.45     30279482    8710385

[24478 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       3200032       1973392
1        0.02       7103769       4125789
2        0.04       6876349       3970857
3        0.05       7718891       4337660
4        0.06      11165694       4463508
...       ...           ...           ...
24474  256.41          4797          2874
24475  256.42       4369882       2698442
24476  256.43       4755023       2374946
24477  256.44       3410138       1186466
24478  256.45       5489599       3220786

[24479 rows x 3 columns]
merged_df
         time   instructions     cpu-cycles        br_pred    br_mis_pred  \
0        0.07       32086611       30181456        7228229         271155
1        0.09       30283457       29602646        6876401         275046
2        0.10       32180887       30154803        7385758         296092
3        0.11       45999466       30138864       10278843         197885
4        0.13       61314422       41498883       14198261         382208
...       ...            ...            ...            ...            ...
16094  256.32  <not counted>  <not counted>  <not counted>  <not counted>
16095  256.33  <not counted>  <not counted>  <not counted>  <not counted>
16096  256.34  <not counted>  <not counted>  <not counted>  <not counted>
16097  256.40       14161799       29863454        3094475          60452
16098  256.42       18606586       30170269        5202222         122253

        l1d_cache_rd   l1d_cache_wr      l1d_cache l1i_cache l1i_cache_refill  \
0            6713925        3878587       10592512  12562180           629164
1            8521543        4716800       13238343  12675101           691304
2            7702903        4398277       12101180  12236234           686400
3            7457552        4281772       11739324  12494804           628104
4           10557169        5909300       16466469  17230240           392226
...              ...            ...            ...       ...              ...
16094        5632361        2656624        8288985  13845485           675426
16095        3111902        1574736        4686638  12840498           601004
16096        5271621        2097159        7368780  15528282           360303
16097  <not counted>  <not counted>  <not counted>  15428948           454579
16098          25795          15300          41095  18125511           220623

       ... l2d_tlb_wr       vfp_spec      inst_spec       ase_spec  \
0      ...      13031            646       41610443          25567
1      ...      16515           1290       41018950          21940
2      ...      15214           2634       37414712          25718
3      ...      14882           1503       39163035          20548
4      ...      17721           4485       56430175          89786
...    ...        ...            ...            ...            ...
16094  ...      60222  <not counted>  <not counted>  <not counted>
16095  ...      73147  <not counted>  <not counted>  <not counted>
16096  ...      69681             22         113986              7
16097  ...      21534             15          15392              0
16098  ...      17939  <not counted>  <not counted>  <not counted>

      stall_backend stall_frontend ll_cache_miss_rd     mem_access  \
0           5755405       13290063           161740       11260515
1           5596291       12203010           150855       12554912
2           5694407       12667914           159326       11434889
3           6031612       12321463           164285       11897762
4           5008292        8505140           173093       18137329
...             ...            ...              ...            ...
16094       7589597        4426810           190391  <not counted>
16095       8157321        4282818           197928  <not counted>
16096       5648920        3576309           112050  <not counted>
16097       9652730        6801211           245115  <not counted>
16098       7488848        4553057           194709        7068324

       mem_access_rd  mem_access_wr
0            7441055        3819460
1            8060930        4493982
2            7287270        4147619
3            7597422        4300340
4           11629154        6508175
...              ...            ...
16094  <not counted>  <not counted>
16095  <not counted>  <not counted>
16096  <not counted>  <not counted>
16097  <not counted>  <not counted>
16098        4369882        2698442

[16099 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010108   8849761         NaN  instructions     9036160
1         0.010108  26925680         NaN    cpu-cycles     9036160
2         0.010108   1634282         NaN       br_pred     9036160
3         0.010108     66008         NaN   br_mis_pred     9036160
4         0.021731  23451710         NaN  instructions    10962760
...            ...       ...         ...           ...         ...
169287  445.904322    111418         NaN   br_mis_pred    10111240
169288  445.908909  16873507         NaN  instructions     4195880
169289  445.908909  12556793         NaN    cpu-cycles     4195880
169290  445.908909   2454622         NaN       br_pred     4195880
169291  445.908909      6288         NaN   br_mis_pred     4195880

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.33  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.71  insn per cycle
...            ...         ...             ...
169287       100.0         NaN             NaN
169288       100.0        1.34  insn per cycle
169289       100.0         NaN             NaN
169290       100.0         NaN             NaN
169291       100.0         NaN             NaN

[169292 rows x 8 columns]
          time     value       counter
4         0.02  23451710  instructions
8         0.03  27680643  instructions
12        0.04  31983856  instructions
16        0.05  45643882  instructions
20        0.06  48120886  instructions
...        ...       ...           ...
169272  445.87  10603590  instructions
169276  445.88  20927932  instructions
169280  445.89  16015933  instructions
169284  445.90  28636999  instructions
169288  445.91  16873507  instructions

[42322 rows x 3 columns]
instructions
          time instructions
4         0.02     23451710
8         0.03     27680643
12        0.04     31983856
16        0.05     45643882
20        0.06     48120886
...        ...          ...
169272  445.87     10603590
169276  445.88     20927932
169280  445.89     16015933
169284  445.90     28636999
169288  445.91     16873507

[42322 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   26925680
5         0.02   32824993
9         0.03   29712722
13        0.04   30238920
17        0.05   30161980
...        ...        ...
169273  445.87   20906249
169277  445.88   30157698
169281  445.89   29700037
169285  445.90   30288328
169289  445.91   12556793

[42323 rows x 2 columns]
df4
          time   br_pred
2         0.01   1634282
6         0.02   5019015
10        0.03   6253524
14        0.04   7267361
18        0.05  11204654
...        ...       ...
169274  445.87   1905850
169278  445.88   4697920
169282  445.89   3827740
169286  445.90   6236288
169290  445.91   2454622

[42323 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       66008
7         0.02      189046
11        0.03      271652
15        0.04      256829
19        0.05      249800
...        ...         ...
169275  445.87       24425
169279  445.88       54390
169283  445.89       47132
169287  445.90      111418
169291  445.91        6288

[42323 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     23451710   32824993
1        0.03     27680643   29712722
2        0.04     31983856   30238920
3        0.05     45643882   30161980
4        0.06     48120886   35175087
...       ...          ...        ...
42317  445.87     10603590   20906249
42318  445.88     20927932   30157698
42319  445.89     16015933   29700037
42320  445.90     28636999   30288328
42321  445.91     16873507   12556793

[42322 rows x 3 columns]
df7
         time   br_pred br_mis_pred
0        0.01   1634282       66008
1        0.02   5019015      189046
2        0.03   6253524      271652
3        0.04   7267361      256829
4        0.05  11204654      249800
...       ...       ...         ...
42318  445.87   1905850       24425
42319  445.88   4697920       54390
42320  445.89   3827740       47132
42321  445.90   6236288      111418
42322  445.91   2454622        6288

[42323 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011508  12836527         NaN  instructions    12354080
1         0.011508   2478583         NaN  l1d_cache_rd    12354080
2         0.011508   1530196         NaN  l1d_cache_wr    12354080
3         0.011508   4008779         NaN     l1d_cache    12354080
4         0.021989  25126940         NaN  instructions     9930080
...            ...       ...         ...           ...         ...
169015  444.892980   7034293         NaN     l1d_cache    10076520
169016  444.897759  17900248         NaN  instructions     4402240
169017  444.897759   3261943         NaN  l1d_cache_rd     4402240
169018  444.897759   1914519         NaN  l1d_cache_wr     4402240
169019  444.897759   5176462         NaN     l1d_cache     4402240

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
169015       100.0         NaN         NaN
169016       100.0         NaN         NaN
169017       100.0         NaN         NaN
169018       100.0         NaN         NaN
169019       100.0         NaN         NaN

[169020 rows x 8 columns]
          time     value       counter
4         0.02  25126940  instructions
8         0.03  29313260  instructions
12        0.04  31085018  instructions
16        0.05  50585507  instructions
20        0.06  37973994  instructions
...        ...       ...           ...
169000  444.86  10626694  instructions
169004  444.87  18827519  instructions
169008  444.88  17583341  instructions
169012  444.89  27995064  instructions
169016  444.90  17900248  instructions

[42254 rows x 3 columns]
instructions
          time instructions
4         0.02     25126940
8         0.03     29313260
12        0.04     31085018
16        0.05     50585507
20        0.06     37973994
...        ...          ...
169000  444.86     10626694
169004  444.87     18827519
169008  444.88     17583341
169012  444.89     27995064
169016  444.90     17900248

[42254 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      2478583
5         0.02      5873876
9         0.03      7160841
13        0.04      7574838
17        0.05     10894436
...        ...          ...
169001  444.86      2110031
169005  444.87      4306651
169009  444.88      3842896
169013  444.89      4928621
169017  444.90      3261943

[42255 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1530196
6         0.02      3444269
10        0.03      4189497
14        0.04      4308553
18        0.05      4623799
...        ...          ...
169002  444.86      1292394
169006  444.87      2426134
169010  444.88      2048612
169014  444.89      2105672
169018  444.90      1914519

[42255 rows x 2 columns]
df5
          time l1d_cache
3         0.01   4008779
7         0.02   9318145
11        0.03  11350338
15        0.04  11883391
19        0.05  15518235
...        ...       ...
169003  444.86   3402425
169007  444.87   6732785
169011  444.88   5891508
169015  444.89   7034293
169019  444.90   5176462

[42255 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     25126940      5873876
1        0.03     29313260      7160841
2        0.04     31085018      7574838
3        0.05     50585507     10894436
4        0.06     37973994      8448240
...       ...          ...          ...
42249  444.86     10626694      2110031
42250  444.87     18827519      4306651
42251  444.88     17583341      3842896
42252  444.89     27995064      4928621
42253  444.90     17900248      3261943

[42254 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      1530196   4008779
1        0.02      3444269   9318145
2        0.03      4189497  11350338
3        0.04      4308553  11883391
4        0.05      4623799  15518235
...       ...          ...       ...
42250  444.86      1292394   3402425
42251  444.87      2426134   6732785
42252  444.88      2048612   5891508
42253  444.89      2105672   7034293
42254  444.90      1914519   5176462

[42255 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.015216  18841116         NaN      instructions    16124160
1         0.015216   6961248         NaN         l1i_cache    16124160
2         0.015216    434311         NaN  l1i_cache_refill    16124160
3         0.015216    126029         NaN     remote_access    16124160
4         0.025708  29664556         NaN      instructions     9932760
...            ...       ...         ...               ...         ...
169187  445.306487      4556         NaN     remote_access    10068040
169188  445.315631  34289162         NaN      instructions     8712040
169189  445.315631   9397242         NaN         l1i_cache     8712040
169190  445.315631     10410         NaN  l1i_cache_refill     8712040
169191  445.315631      6857         NaN     remote_access     8712040

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
169187       100.0         NaN         NaN
169188       100.0         NaN         NaN
169189       100.0         NaN         NaN
169190       100.0         NaN         NaN
169191       100.0         NaN         NaN

[169192 rows x 8 columns]
          time     value       counter
4         0.03  29664556  instructions
8         0.04  28876094  instructions
12        0.05  35466147  instructions
16        0.06  52841182  instructions
20        0.07  29720816  instructions
...        ...       ...           ...
169172  445.27     18464  instructions
169176  445.28  14065749  instructions
169180  445.30  28138796  instructions
169184  445.31  16728879  instructions
169188  445.32  34289162  instructions

[42297 rows x 3 columns]
instructions
          time instructions
4         0.03     29664556
8         0.04     28876094
12        0.05     35466147
16        0.06     52841182
20        0.07     29720816
...        ...          ...
169172  445.27        18464
169176  445.28     14065749
169180  445.30     28138796
169184  445.31     16728879
169188  445.32     34289162

[42297 rows x 2 columns]
df3
          time l1i_cache
1         0.02   6961248
5         0.03  11968025
9         0.04  11595063
13        0.05  13488934
17        0.06  17955558
...        ...       ...
169173  445.27     10752
169177  445.28   4703697
169181  445.30   8992959
169185  445.31   6361050
169189  445.32   9397242

[42298 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.02           434311
6         0.03           633667
10        0.04           670256
14        0.05           554334
18        0.06           521423
...        ...              ...
169174  445.27             1991
169178  445.28           107138
169182  445.30           205413
169186  445.31            12422
169190  445.32            10410

[42298 rows x 2 columns]
df5
          time remote_access
3         0.02        126029
7         0.03         35083
11        0.04         38128
15        0.05         32849
19        0.06         12134
...        ...           ...
169175  445.27           414
169179  445.28         23438
169183  445.30          7061
169187  445.31          4556
169191  445.32          6857

[42298 rows x 2 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

df6
         time instructions l1i_cache
0        0.03     29664556  11968025
1        0.04     28876094  11595063
2        0.05     35466147  13488934
3        0.06     52841182  17955558
4        0.07     29720816  11735913
...       ...          ...       ...
42292  445.27        18464     10752
42293  445.28     14065749   4703697
42294  445.30     28138796   8992959
42295  445.31     16728879   6361050
42296  445.32     34289162   9397242

[42297 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.02           434311        126029
1        0.03           633667         35083
2        0.04           670256         38128
3        0.05           554334         32849
4        0.06           521423         12134
...       ...              ...           ...
42293  445.27             1991           414
42294  445.28           107138         23438
42295  445.30           205413          7061
42296  445.31            12422          4556
42297  445.32            10410          6857

[42298 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010164  10751987         NaN  instructions    11035960
1         0.010164    402479         NaN  l2d_cache_rd    11035960
2         0.010164    143135         NaN  l2d_cache_wr    11035960
3         0.010164    545614         NaN     l2d_cache    11035960
4         0.020675  22232131         NaN  instructions     9977240
...            ...       ...         ...           ...         ...
169611  446.704992   1268419         NaN     l2d_cache    10067560
169612  446.713308  32059279         NaN  instructions     7861320
169613  446.713308    145893         NaN  l2d_cache_rd     7861320
169614  446.713308    137993         NaN  l2d_cache_wr     7861320
169615  446.713308    283886         NaN     l2d_cache     7861320

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
169611       100.0         NaN         NaN
169612       100.0         NaN         NaN
169613       100.0         NaN         NaN
169614       100.0         NaN         NaN
169615       100.0         NaN         NaN

[169616 rows x 8 columns]
          time          value       counter
4         0.02       22232131  instructions
8         0.03       28546382  instructions
12        0.04       31910895  instructions
16        0.05       48708002  instructions
20        0.06       41521558  instructions
...        ...            ...           ...
169596  446.67  <not counted>  instructions
169600  446.68       13962981  instructions
169604  446.69       29237923  instructions
169608  446.70       17485358  instructions
169612  446.71       32059279  instructions

[42403 rows x 3 columns]
instructions
          time   instructions
4         0.02       22232131
8         0.03       28546382
12        0.04       31910895
16        0.05       48708002
20        0.06       41521558
...        ...            ...
169596  446.67  <not counted>
169600  446.68       13962981
169604  446.69       29237923
169608  446.70       17485358
169612  446.71       32059279

[42403 rows x 2 columns]
df3
          time   l2d_cache_rd
1         0.01         402479
5         0.02         597667
9         0.03         862732
13        0.04         812431
17        0.05         855970
...        ...            ...
169597  446.67  <not counted>
169601  446.68         244482
169605  446.69         558325
169609  446.70         667933
169613  446.71         145893

[42404 rows x 2 columns]
df4
          time   l2d_cache_wr
2         0.01         143135
6         0.02         160827
10        0.03         179546
14        0.04         212523
18        0.05         292561
...        ...            ...
169598  446.67  <not counted>
169602  446.68         121068
169606  446.69         325852
169610  446.70         600486
169614  446.71         137993

[42404 rows x 2 columns]
df5
          time      l2d_cache
3         0.01         545614
7         0.02         758494
11        0.03        1042278
15        0.04        1024954
19        0.05        1148531
...        ...            ...
169599  446.67  <not counted>
169603  446.68         365550
169607  446.69         884177
169611  446.70        1268419
169615  446.71         283886

[42404 rows x 2 columns]
df6
         time   instructions   l2d_cache_rd
0        0.02       22232131         597667
1        0.03       28546382         862732
2        0.04       31910895         812431
3        0.05       48708002         855970
4        0.06       41521558         891202
...       ...            ...            ...
42398  446.67  <not counted>  <not counted>
42399  446.68       13962981         244482
42400  446.69       29237923         558325
42401  446.70       17485358         667933
42402  446.71       32059279         145893

[42403 rows x 3 columns]
df7
         time   l2d_cache_wr      l2d_cache
0        0.01         143135         545614
1        0.02         160827         758494
2        0.03         179546        1042278
3        0.04         212523        1024954
4        0.05         292561        1148531
...       ...            ...            ...
42399  446.67  <not counted>  <not counted>
42400  446.68         121068         365550
42401  446.69         325852         884177
42402  446.70         600486        1268419
42403  446.71         137993         283886

[42404 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.015134  18981887         NaN  instructions    15977000
1         0.015134   8601948         NaN       l1d_tlb    15977000
2         0.015134   5856174         NaN    l1d_tlb_rd    15977000
3         0.015134   2745774         NaN    l1d_tlb_wr    15977000
4         0.025601  29922593         NaN  instructions     9874040
...            ...       ...         ...           ...         ...
169127  445.059015   3442353         NaN    l1d_tlb_wr    10120040
169128  445.060006   1426033         NaN  instructions      562560
169129  445.060006    556974         NaN       l1d_tlb      562560
169130  445.060006    397666         NaN    l1d_tlb_rd      562560
169131  445.060006    159308         NaN    l1d_tlb_wr      562560

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
169127       100.0         NaN         NaN
169128       100.0         NaN         NaN
169129       100.0         NaN         NaN
169130       100.0         NaN         NaN
169131       100.0         NaN         NaN

[169132 rows x 8 columns]
          time     value       counter
4         0.03  29922593  instructions
8         0.04  29487617  instructions
12        0.05  38722599  instructions
16        0.06  53049884  instructions
20        0.07  28771566  instructions
...        ...       ...           ...
169112  445.03  15858190  instructions
169116  445.04  23485110  instructions
169120  445.05  14078258  instructions
169124  445.06  38168662  instructions
169128  445.06   1426033  instructions

[42282 rows x 3 columns]
instructions

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

          time instructions
4         0.03     29922593
8         0.04     29487617
12        0.05     38722599
16        0.06     53049884
20        0.07     28771566
...        ...          ...
169112  445.03     15858190
169116  445.04     23485110
169120  445.05     14078258
169124  445.06     38168662
169128  445.06      1426033

[42282 rows x 2 columns]
df3
          time   l1d_tlb
1         0.02   8601948
5         0.03  12808350
9         0.04  12841836
13        0.05  15455214
17        0.06  16872032
...        ...       ...
169113  445.03   6346595
169117  445.04   8877337
169121  445.05   5111006
169125  445.06  13016790
169129  445.06    556974

[42283 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.02    5856174
6         0.03    8284287
10        0.04    8331392
14        0.05   10236072
18        0.06   12179749
...        ...        ...
169114  445.03    4180996
169118  445.04    5922831
169122  445.05    3709643
169126  445.06    9574437
169130  445.06     397666

[42283 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.02    2745774
7         0.03    4524063
11        0.04    4510444
15        0.05    5219142
19        0.06    4692283
...        ...        ...
169115  445.03    2165599
169119  445.04    2954506
169123  445.05    1401363
169127  445.06    3442353
169131  445.06     159308

[42283 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.03     29922593  12808350
1        0.04     29487617  12841836
2        0.05     38722599  15455214
3        0.06     53049884  16872032
4        0.07     28771566  12162511
...       ...          ...       ...
42279  445.05     14078258   5111006
42280  445.06     38168662  13016790
42281  445.06     38168662    556974
42282  445.06      1426033  13016790
42283  445.06      1426033    556974

[42284 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.02    5856174    2745774
1        0.03    8284287    4524063
2        0.04    8331392    4510444
3        0.05   10236072    5219142
4        0.06   12179749    4692283
...       ...        ...        ...
42280  445.05    3709643    1401363
42281  445.06    9574437    3442353
42282  445.06    9574437     159308
42283  445.06     397666    3442353
42284  445.06     397666     159308

[42285 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014175  16948182         NaN  instructions    15041040
1         0.014175     24043         NaN     dtlb_walk    15041040
2         0.014175      2369         NaN     itlb_walk    15041040
3         0.014175   5555916         NaN       l1i_tlb    15041040
4         0.024639  29340764         NaN  instructions     9831400
...            ...       ...         ...           ...         ...
169471  445.964878   8310505         NaN       l1i_tlb    10063920
169472  445.965753    880376         NaN  instructions      426560
169473  445.965753       925         NaN     dtlb_walk      426560
169474  445.965753         5         NaN     itlb_walk      426560
169475  445.965753    215177         NaN       l1i_tlb      426560

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
169471       100.0         NaN         NaN
169472       100.0         NaN         NaN
169473       100.0         NaN         NaN
169474       100.0         NaN         NaN
169475       100.0         NaN         NaN

[169476 rows x 8 columns]
          time     value       counter
4         0.02  29340764  instructions
8         0.03  29750193  instructions
12        0.05  35481727  instructions
16        0.06  52982767  instructions
20        0.07  30301908  instructions
...        ...       ...           ...
169456  445.93  15843808  instructions
169460  445.94  22031483  instructions
169464  445.95  13783573  instructions
169468  445.96  38596014  instructions
169472  445.97    880376  instructions

[42368 rows x 3 columns]
instructions
          time instructions
4         0.02     29340764
8         0.03     29750193
12        0.05     35481727
16        0.06     52982767
20        0.07     30301908
...        ...          ...
169456  445.93     15843808
169460  445.94     22031483
169464  445.95     13783573
169468  445.96     38596014
169472  445.97       880376

[42368 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     24043
5         0.02      3206
9         0.03      3799
13        0.05      4109
17        0.06      2064
...        ...       ...
169457  445.93     13871
169461  445.94     18376
169465  445.95     35562
169469  445.96     15805
169473  445.97       925

[42369 rows x 2 columns]
df4
          time itlb_walk
2         0.01      2369
6         0.02      1116
10        0.03       997
14        0.05       880
18        0.06       302
...        ...       ...
169458  445.93      1577
169462  445.94      1065
169466  445.95       311
169470  445.96       193
169474  445.97         5

[42369 rows x 2 columns]
df5
          time   l1i_tlb
3         0.01   5555916
7         0.02  10008982
11        0.03   9984986
15        0.05  11099614
19        0.06  13643995
...        ...       ...
169459  445.93   4566951
169463  445.94   5799704
169467  445.95   4814767
169471  445.96   8310505
169475  445.97    215177

[42369 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     29340764      3206
1        0.03     29750193      3799
2        0.05     35481727      4109
3        0.06     52982767      2064
4        0.07     30301908      5134
...       ...          ...       ...
42363  445.93     15843808     13871
42364  445.94     22031483     18376
42365  445.95     13783573     35562
42366  445.96     38596014     15805
42367  445.97       880376       925

[42368 rows x 3 columns]
df7
         time itlb_walk   l1i_tlb
0        0.01      2369   5555916
1        0.02      1116  10008982
2        0.03       997   9984986
3        0.05       880  11099614
4        0.06       302  13643995
...       ...       ...       ...
42364  445.93      1577   4566951
42365  445.94      1065   5799704
42366  445.95       311   4814767
42367  445.96       193   8310505
42368  445.97         5    215177

[42369 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010155  10794587         NaN  instructions    11089040
1         0.010155     72215         NaN       l2d_tlb    11089040
2         0.010155     59119         NaN    l2d_tlb_rd    11089040
3         0.010155     13096         NaN    l2d_tlb_wr    11089040
4         0.020708  22047365         NaN  instructions     9843920
...            ...       ...         ...           ...         ...
169507  446.937908     16845         NaN    l2d_tlb_wr    10072440
169508  446.938516    325273         NaN  instructions      268760
169509  446.938516      1710         NaN       l2d_tlb      268760
169510  446.938516      1629         NaN    l2d_tlb_rd      268760
169511  446.938516        81         NaN    l2d_tlb_wr      268760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
169507       100.0         NaN         NaN
169508       100.0         NaN         NaN
169509       100.0         NaN         NaN
169510       100.0         NaN         NaN
169511       100.0         NaN         NaN

[169512 rows x 8 columns]
          time     value       counter
4         0.02  22047365  instructions
8         0.03  28610071  instructions
12        0.04  34034775  instructions
16        0.05  49322145  instructions
20        0.06  39639244  instructions
...        ...       ...           ...
169492  446.91  14111772  instructions
169496  446.92  25827313  instructions
169500  446.93  13546924  instructions
169504  446.94  38901758  instructions
169508  446.94    325273  instructions

[42377 rows x 3 columns]
instructions
          time instructions
4         0.02     22047365
8         0.03     28610071
12        0.04     34034775
16        0.05     49322145
20        0.06     39639244
...        ...          ...
169492  446.91     14111772
169496  446.92     25827313
169500  446.93     13546924
169504  446.94     38901758
169508  446.94       325273

[42377 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   72215
5         0.02  168946
9         0.03  278645
13        0.04  292372
17        0.05  418609
...        ...     ...
169493  446.91  110305
169497  446.92  220550
169501  446.93  145409
169505  446.94   65327
169509  446.94    1710

[42378 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      59119
6         0.02     157839
10        0.03     264406
14        0.04     277728
18        0.05     401971
...        ...        ...
169494  446.91     100437
169498  446.92     204147
169502  446.93     136640
169506  446.94      48482
169510  446.94       1629

[42378 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      13096
7         0.02      11107
11        0.03      14239
15        0.04      14644
19        0.05      16638
...        ...        ...
169495  446.91       9868
169499  446.92      16403
169503  446.93       8769
169507  446.94      16845
169511  446.94         81

[42378 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     22047365  168946
1        0.03     28610071  278645
2        0.04     34034775  292372
3        0.05     49322145  418609
4        0.06     39639244  350641
...       ...          ...     ...
42374  446.93     13546924  145409
42375  446.94     38901758   65327
42376  446.94     38901758    1710
42377  446.94       325273   65327
42378  446.94       325273    1710

[42379 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      59119      13096
1        0.02     157839      11107
2        0.03     264406      14239
3        0.04     277728      14644
4        0.05     401971      16638
...       ...        ...        ...
42375  446.93     136640       8769
42376  446.94      48482      16845
42377  446.94      48482         81
42378  446.94       1629      16845
42379  446.94       1629         81

[42380 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014375  16826101         NaN  instructions    15231960
1         0.014375       152         NaN      vfp_spec    15231960
2         0.014375  20086972         NaN     inst_spec    15231960
3         0.014375     15157         NaN      ase_spec    15231960
4         0.024866  28895793         NaN  instructions     9853800
...            ...       ...         ...           ...         ...
169211  445.198973         0         NaN      ase_spec    10077960
169212  445.204686  21494009         NaN  instructions     5330400
169213  445.204686         0         NaN      vfp_spec     5330400
169214  445.204686  21950690         NaN     inst_spec     5330400
169215  445.204686         0         NaN      ase_spec     5330400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
169211       100.0         NaN         NaN
169212       100.0         NaN         NaN
169213       100.0         NaN         NaN
169214       100.0         NaN         NaN
169215       100.0         NaN         NaN

[169216 rows x 8 columns]
          time     value       counter
4         0.02  28895793  instructions
8         0.04  28620146  instructions
12        0.05  33920868  instructions
16        0.06  51745544  instructions
20        0.07  31902182  instructions
...        ...       ...           ...
169196  445.17   9763280  instructions
169200  445.18  17847904  instructions
169204  445.19  18639795  instructions
169208  445.20  25269511  instructions
169212  445.20  21494009  instructions

[42303 rows x 3 columns]
instructions
          time instructions
4         0.02     28895793
8         0.04     28620146
12        0.05     33920868
16        0.06     51745544
20        0.07     31902182
...        ...          ...
169196  445.17      9763280
169200  445.18     17847904
169204  445.19     18639795
169208  445.20     25269511
169212  445.20     21494009

[42303 rows x 2 columns]
df3
          time vfp_spec
1         0.01      152
5         0.02     3552
9         0.04     1256
13        0.05      573
17        0.06      342
...        ...      ...
169197  445.17      110
169201  445.18      141
169205  445.19        0
169209  445.20        0
169213  445.20        0

[42304 rows x 2 columns]
df4
          time inst_spec
2         0.01  20086972
6         0.02  36520164
10        0.04  35515415
14        0.05  41600512
18        0.06  59057066
...        ...       ...
169198  445.17  10652167
169202  445.18  20082644
169206  445.19  20477351
169210  445.20  29814772
169214  445.20  21950690

[42304 rows x 2 columns]
df5
          time ase_spec
3         0.01    15157
7         0.02    35345
11        0.04    18519
15        0.05    25678
19        0.06    31306
...        ...      ...
169199  445.17     1191
169203  445.18     3074
169207  445.19      703
169211  445.20        0
169215  445.20        0

[42304 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     28895793     3552
1        0.04     28620146     1256
2        0.05     33920868      573
3        0.06     51745544      342
4        0.07     31902182      748
...       ...          ...      ...
42300  445.19     18639795        0
42301  445.20     25269511        0
42302  445.20     25269511        0
42303  445.20     21494009        0
42304  445.20     21494009        0

[42305 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  20086972    15157
1        0.02  36520164    35345
2        0.04  35515415    18519
3        0.05  41600512    25678
4        0.06  59057066    31306
...       ...       ...      ...
42301  445.19  20477351      703
42302  445.20  29814772        0
42303  445.20  29814772        0
42304  445.20  21950690        0
42305  445.20  21950690        0

[42306 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010187  10779725         NaN      instructions    11188200
1         0.010187  12680786         NaN     stall_backend    11188200
2         0.010187  16694945         NaN    stall_frontend    11188200
3         0.010187    191876         NaN  ll_cache_miss_rd    11188200
4         0.020590  22447307         NaN      instructions     9852600
...            ...       ...         ...               ...         ...
169155  445.526138    600670         NaN  ll_cache_miss_rd    10101280
169156  445.528630   7730538         NaN      instructions     2021320
169157  445.528630   3149194         NaN     stall_backend     2021320
169158  445.528630    540719         NaN    stall_frontend     2021320
169159  445.528630     40188         NaN  ll_cache_miss_rd     2021320

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
169155       100.0         NaN         NaN
169156       100.0         NaN         NaN
169157       100.0         NaN         NaN
169158       100.0         NaN         NaN
169159       100.0         NaN         NaN

[169160 rows x 8 columns]
          time     value       counter
4         0.02  22447307  instructions
8         0.03  28485522  instructions
12        0.04  42630339  instructions
16        0.05  51274955  instructions
20        0.06  34605496  instructions
...        ...       ...           ...
169140  445.50  14329424  instructions
169144  445.51  22925365  instructions
169148  445.52  14723239  instructions
169152  445.53  33866206  instructions
169156  445.53   7730538  instructions

[42289 rows x 3 columns]
instructions
          time instructions
4         0.02     22447307
8         0.03     28485522
12        0.04     42630339
16        0.05     51274955
20        0.06     34605496
...        ...          ...
169140  445.50     14329424
169144  445.51     22925365
169148  445.52     14723239
169152  445.53     33866206
169156  445.53      7730538

[42289 rows x 2 columns]
df3
          time stall_backend
1         0.01      12680786
5         0.02       7592516
9         0.03       5439189
13        0.04       7329915
17        0.05       4605855
...        ...           ...
169141  445.50      21576655
169145  445.51      20100934
169149  445.52      23599058
169153  445.53      18233235
169157  445.53       3149194

[42290 rows x 2 columns]
df4
          time stall_frontend
2         0.01       16694945
6         0.02       13343238
10        0.03       13071665
14        0.04       16102370
18        0.05        7443355
...        ...            ...
169142  445.50        4775486
169146  445.51        2334325
169150  445.52        1254937
169154  445.53         966888
169158  445.53         540719

[42290 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           191876
7         0.02           153423
11        0.03           152923
15        0.04           212217
19        0.05            79218
...        ...              ...
169143  445.50           116188
169147  445.51           163797
169151  445.52           370698
169155  445.53           600670
169159  445.53            40188

[42290 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     22447307       7592516
1        0.03     28485522       5439189
2        0.04     42630339       7329915
3        0.05     51274955       4605855
4        0.06     34605496       5491236
...       ...          ...           ...
42286  445.52     14723239      23599058
42287  445.53     33866206      18233235
42288  445.53     33866206       3149194
42289  445.53      7730538      18233235
42290  445.53      7730538       3149194

[42291 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01       16694945           191876
1        0.02       13343238           153423
2        0.03       13071665           152923
3        0.04       16102370           212217
4        0.05        7443355            79218
...       ...            ...              ...
42287  445.52        1254937           370698
42288  445.53         966888           600670
42289  445.53         966888            40188
42290  445.53         540719           600670
42291  445.53         540719            40188

[42292 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010244   9781939         NaN   instructions    11201520
1         0.010244   3094651         NaN     mem_access    11201520
2         0.010244   1892836         NaN  mem_access_rd    11201520
3         0.010244   1201815         NaN  mem_access_wr    11201520
4         0.022090  18940814         NaN   instructions    11163560
...            ...       ...         ...            ...         ...
169403  446.860621   1072506         NaN  mem_access_wr    10070400
169404  446.868847  32083143         NaN   instructions     7852640
169405  446.868847   9246605         NaN     mem_access     7852640
169406  446.868847   5826683         NaN  mem_access_rd     7852640
169407  446.868847   3419922         NaN  mem_access_wr     7852640

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
169403       100.0         NaN         NaN
169404       100.0         NaN         NaN
169405       100.0         NaN         NaN
169406       100.0         NaN         NaN
169407       100.0         NaN         NaN

[169408 rows x 8 columns]
          time     value       counter
4         0.02  18940814  instructions
8         0.03  28558048  instructions
12        0.04  28803645  instructions
16        0.05  36342573  instructions
20        0.06  48518239  instructions
...        ...       ...           ...
169388  446.83     19180  instructions
169392  446.84  20496738  instructions
169396  446.85  22918833  instructions
169400  446.86  17688663  instructions
169404  446.87  32083143  instructions

[42351 rows x 3 columns]
instructions
          time instructions
4         0.02     18940814
8         0.03     28558048
12        0.04     28803645
16        0.05     36342573
20        0.06     48518239
...        ...          ...
169388  446.83        19180
169392  446.84     20496738
169396  446.85     22918833
169400  446.86     17688663
169404  446.87     32083143

[42351 rows x 2 columns]
df3
          time mem_access
1         0.01    3094651
5         0.02    6561737
9         0.03   11064292
13        0.04   11062505
17        0.05   12778698
...        ...        ...
169389  446.83       8623
169393  446.84    7034020
169397  446.85    7733442
169401  446.86    4299389
169405  446.87    9246605

[42352 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       1892836
6         0.02       4112715
10        0.03       6990909
14        0.04       7029034
18        0.05       8439465
...        ...           ...
169390  446.83          5364
169394  446.84       4342885
169398  446.85       5107561
169402  446.86       3226883
169406  446.87       5826683

[42352 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1201815
7         0.02       2449022
11        0.03       4073383
15        0.04       4033471
19        0.05       4339233
...        ...           ...
169391  446.83          3259
169395  446.84       2691135
169399  446.85       2625881
169403  446.86       1072506
169407  446.87       3419922

[42352 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     18940814    6561737
1        0.03     28558048   11064292
2        0.04     28803645   11062505
3        0.05     36342573   12778698
4        0.06     48518239   14115856
...       ...          ...        ...
42346  446.83        19180       8623
42347  446.84     20496738    7034020
42348  446.85     22918833    7733442
42349  446.86     17688663    4299389
42350  446.87     32083143    9246605

[42351 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       1892836       1201815
1        0.02       4112715       2449022
2        0.03       6990909       4073383
3        0.04       7029034       4033471
4        0.05       8439465       4339233
...       ...           ...           ...
42347  446.83          5364          3259
42348  446.84       4342885       2691135
42349  446.85       5107561       2625881
42350  446.86       3226883       1072506
42351  446.87       5826683       3419922

[42352 rows x 3 columns]
merged_df
         time instructions cpu-cycles   br_pred br_mis_pred l1d_cache_rd  \
0        0.05     45643882   30161980  11204654      249800     10894436
1        0.06     48120886   35175087  11907009      301748      8448240
2        0.10     29856320   30179371   6784368      264171      8196979
3        0.11     33084439   30152614   7615353      296604      7947346
4        0.12     33708639   30165311   7651672      242779     12559839
...       ...          ...        ...       ...         ...          ...
26510  444.86     47805457   30130985  10265664      118239      2110031
26511  444.87     62510386   29820823  13788359      134792      4306651
26512  444.88     58000138   30161657  13018733       96250      3842896
26513  444.89     57352701   30228764  12825591       94148      4928621
26514  444.90     53308904   30162322  11892095      100202      3261943

      l1d_cache_wr l1d_cache      l1i_cache l1i_cache_refill  ... l2d_tlb_wr  \
0          4623799  15518235       13488934           554334  ...      16638
1          3972320  12420560       17955558           521423  ...      14407
2          4644926  12841905       12337725           675431  ...      22724
3          4457316  12404662       12304908           629723  ...      17473
4          7036790  19596629       15959887           404781  ...      14835
...            ...       ...            ...              ...  ...        ...
26510      1292394   3402425  <not counted>    <not counted>  ...      49904
26511      2426134   6732785  <not counted>    <not counted>  ...      49869
26512      2048612   5891508  <not counted>    <not counted>  ...      48323
26513      2105672   7034293  <not counted>    <not counted>  ...      50003
26514      1914519   5176462  <not counted>    <not counted>  ...      49414

            vfp_spec      inst_spec       ase_spec stall_backend  \
0                573       41600512          25678       4605855
1                342       59057066          31306       5491236
2               2675       36729769          24849       5663998
3               1365       38488797          19688       5599281
4                781       45429826          67866       5667453
...              ...            ...            ...           ...
26510             17          14682              0       7563242
26511             24         188674             23       4987409
26512             24         114711             16       5290760
26513  <not counted>  <not counted>  <not counted>       6167598
26514  <not counted>  <not counted>  <not counted>       6638194

      stall_frontend ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0            7443355            79218   12778698       8439465       4339233
1           11881843           138606   14115856      10139135       3976721
2           12619202           156260   11959368       7686030       4273338
3           12267631           147482   12522522       7986083       4536439
4           10589197           146119   10993902       6972502       4021400
...              ...              ...        ...           ...           ...
26510        6676312           123526   27613340      18139079       9474261
26511        5319396            65137   27734923      18219575       9515348
26512        4968994            75160   24295427      15985180       8310247
26513        4538503           121101   26735170      17553580       9181590
26514        6403743           150095   27448946      18034027       9414919

[26515 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014814  17900608         NaN  instructions    15772600
1         0.014814  47072027         NaN    cpu-cycles    15772600
2         0.014814   3355898         NaN       br_pred    15772600
3         0.014814    132872         NaN   br_mis_pred    15772600
4         0.025312  28852156         NaN  instructions     9717560
...            ...       ...         ...           ...         ...
184743  473.538593    112565         NaN   br_mis_pred    10116720
184744  473.543471  17902829         NaN  instructions     4424960
184745  473.543471  13237609         NaN    cpu-cycles     4424960
184746  473.543471   2590456         NaN       br_pred     4424960
184747  473.543471      4541         NaN   br_mis_pred     4424960

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.38  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.99  insn per cycle
...            ...         ...             ...
184743       100.0         NaN             NaN
184744       100.0        1.35  insn per cycle
184745       100.0         NaN             NaN
184746       100.0         NaN             NaN
184747       100.0         NaN             NaN

[184748 rows x 8 columns]
          time     value       counter
4         0.03  28852156  instructions
8         0.04  29602007  instructions
12        0.05  35202389  instructions
16        0.06  52900333  instructions
20        0.07  29936510  instructions
...        ...       ...           ...
184728  473.51  10231519  instructions
184732  473.52  18223531  instructions
184736  473.53  18781059  instructions
184740  473.54  27921393  instructions
184744  473.54  17902829  instructions

[46186 rows x 3 columns]
instructions
          time instructions
4         0.03     28852156
8         0.04     29602007
12        0.05     35202389
16        0.06     52900333
20        0.07     29936510
...        ...          ...
184728  473.51     10231519
184732  473.52     18223531
184736  473.53     18781059
184740  473.54     27921393
184744  473.54     17902829

[46186 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   47072027
5         0.03   29044660
9         0.04   30203109
13        0.05   30179370
17        0.06   30149682
...        ...        ...
184729  473.51   18390774
184733  473.52   29882822
184737  473.53   30187059
184741  473.54   30288084
184745  473.54   13237609

[46187 rows x 2 columns]
df4
          time   br_pred
2         0.01   3355898
6         0.03   6573669
10        0.04   6684658
14        0.05   8137030
18        0.06  13456892
...        ...       ...
184730  473.51   1826319
184734  473.52   4048920
184738  473.53   4448999
184742  473.54   6210798
184746  473.54   2590456

[46187 rows x 2 columns]
df5
          time br_mis_pred
3         0.01      132872
7         0.03      273045
11        0.04      264901
15        0.05      246989
19        0.06      231850
...        ...         ...
184731  473.51       22277
184735  473.52       66327
184739  473.53       37925
184743  473.54      112565
184747  473.54        4541

[46187 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.03     28852156   29044660
1        0.04     29602007   30203109
2        0.05     35202389   30179370
3        0.06     52900333   30149682
4        0.07     29936510   30181120
...       ...          ...        ...
46183  473.53     18781059   30187059
46184  473.54     27921393   30288084
46185  473.54     27921393   13237609
46186  473.54     17902829   30288084
46187  473.54     17902829   13237609

[46188 rows x 3 columns]
df7
         time   br_pred br_mis_pred
0        0.01   3355898      132872
1        0.03   6573669      273045
2        0.04   6684658      264901
3        0.05   8137030      246989
4        0.06  13456892      231850
...       ...       ...         ...
46184  473.53   4448999       37925
46185  473.54   6210798      112565
46186  473.54   6210798        4541
46187  473.54   2590456      112565
46188  473.54   2590456        4541

[46189 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014794  18782888         NaN  instructions    15650440
1         0.014794   3739207         NaN  l1d_cache_rd    15650440
2         0.014794   2306845         NaN  l1d_cache_wr    15650440
3         0.014794   6046052         NaN     l1d_cache    15650440
4         0.025304  30358552         NaN  instructions     9970600
...            ...       ...         ...           ...         ...
184051  472.114682   4510532         NaN     l1d_cache    10068800
184052  472.122623  31015447         NaN  instructions     7495600
184053  472.122623   5613122         NaN  l1d_cache_rd     7495600
184054  472.122623   3294019         NaN  l1d_cache_wr     7495600
184055  472.122623   8907141         NaN     l1d_cache     7495600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
184051       100.0         NaN         NaN
184052       100.0         NaN         NaN
184053       100.0         NaN         NaN
184054       100.0         NaN         NaN
184055       100.0         NaN         NaN

[184056 rows x 8 columns]
          time     value       counter
4         0.03  30358552  instructions
8         0.04  28956945  instructions
12        0.05  36918030  instructions
16        0.06  52870118  instructions
20        0.07  29071262  instructions
...        ...       ...           ...
184036  472.08   6550739  instructions
184040  472.09  14619118  instructions
184044  472.10  22454007  instructions
184048  472.11  18404760  instructions
184052  472.12  31015447  instructions

[46013 rows x 3 columns]
instructions
          time instructions
4         0.03     30358552
8         0.04     28956945
12        0.05     36918030
16        0.06     52870118
20        0.07     29071262
...        ...          ...
184036  472.08      6550739
184040  472.09     14619118
184044  472.10     22454007
184048  472.11     18404760
184052  472.12     31015447

[46013 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      3739207
5         0.03      7337327
9         0.04      7086635
13        0.05      8744445
17        0.06     11048946
...        ...          ...
184037  472.08      1197764
184041  472.09      3301884
184045  472.10      4987587
184049  472.11      3359583
184053  472.12      5613122

[46014 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      2306845
6         0.03      4260566
10        0.04      4090438
14        0.05      4704507
18        0.06      4320206
...        ...          ...
184038  472.08       632246
184042  472.09      2133491
184046  472.10      2562987
184050  472.11      1150949
184054  472.12      3294019

[46014 rows x 2 columns]
df5
          time l1d_cache
3         0.01   6046052
7         0.03  11597893
11        0.04  11177073
15        0.05  13448952
19        0.06  15369152
...        ...       ...
184039  472.08   1830010
184043  472.09   5435375
184047  472.10   7550574
184051  472.11   4510532
184055  472.12   8907141

[46014 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.03     30358552      7337327
1        0.04     28956945      7086635
2        0.05     36918030      8744445
3        0.06     52870118     11048946
4        0.07     29071262      6903231
...       ...          ...          ...
46008  472.08      6550739      1197764
46009  472.09     14619118      3301884
46010  472.10     22454007      4987587
46011  472.11     18404760      3359583
46012  472.12     31015447      5613122

[46013 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      2306845   6046052
1        0.03      4260566  11597893
2        0.04      4090438  11177073
3        0.05      4704507  13448952
4        0.06      4320206  15369152
...       ...          ...       ...
46009  472.08       632246   1830010
46010  472.09      2133491   5435375
46011  472.10      2562987   7550574
46012  472.11      1150949   4510532
46013  472.12      3294019   8907141

[46014 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.013216  14659802         NaN      instructions    14040400
1         0.013216   5268470         NaN         l1i_cache    14040400
2         0.013216    338283         NaN  l1i_cache_refill    14040400
3         0.013216    117553         NaN     remote_access    14040400
4         0.023638  28342151         NaN      instructions     9835200
...            ...       ...         ...               ...         ...
184355  472.988662      5736         NaN     remote_access     9939480
184356  472.989516   1008051         NaN      instructions      516040
184357  472.989516    303260         NaN         l1i_cache      516040
184358  472.989516      3884         NaN  l1i_cache_refill      516040
184359  472.989516      3515         NaN     remote_access      516040

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
184355       100.0         NaN         NaN
184356       100.0         NaN         NaN
184357       100.0         NaN         NaN
184358       100.0         NaN         NaN
184359       100.0         NaN         NaN

[184360 rows x 8 columns]
          time     value       counter
4         0.02  28342151  instructions
8         0.03  28293899  instructions
12        0.04  32683139  instructions
16        0.05  52729075  instructions
20        0.06  33888524  instructions
...        ...       ...           ...
184340  472.96  14703282  instructions
184344  472.97  25308965  instructions
184348  472.98  13943092  instructions
184352  472.99  38495839  instructions
184356  472.99   1008051  instructions

[46089 rows x 3 columns]
instructions
          time instructions
4         0.02     28342151
8         0.03     28293899
12        0.04     32683139
16        0.05     52729075
20        0.06     33888524
...        ...          ...
184340  472.96     14703282
184344  472.97     25308965
184348  472.98     13943092
184352  472.99     38495839
184356  472.99      1008051

[46089 rows x 2 columns]
df3
          time l1i_cache
1         0.01   5268470
5         0.02  11425855
9         0.03  11442482
13        0.04  12755555
17        0.05  17852377
...        ...       ...
184341  472.96   4943835
184345  472.97   7920284
184349  472.98   5274840
184353  472.99  11033908
184357  472.99    303260

[46090 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           338283
6         0.02           581311
10        0.03           673513
14        0.04           584974
18        0.05           531929
...        ...              ...
184342  472.96           106299
184346  472.97           198756
184350  472.98            18190
184354  472.99             9536
184358  472.99             3884

[46090 rows x 2 columns]
df5
          time remote_access
3         0.01        117553
7         0.02         35432
11        0.03         37230
15        0.04         35153
19        0.05         11758
...        ...           ...
184343  472.96         21546
184347  472.97          6965
184351  472.98          3624
184355  472.99          5736
184359  472.99          3515

[46090 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     28342151  11425855
1        0.03     28293899  11442482
2        0.04     32683139  12755555
3        0.05     52729075  17852377
4        0.06     33888524  12868369
...       ...          ...       ...
46086  472.98     13943092   5274840
46087  472.99     38495839  11033908
46088  472.99     38495839    303260
46089  472.99      1008051  11033908
46090  472.99      1008051    303260

[46091 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           338283        117553
1        0.02           581311         35432
2        0.03           673513         37230
3        0.04           584974         35153
4        0.05           531929         11758
...       ...              ...           ...
46087  472.98            18190          3624
46088  472.99             9536          5736
46089  472.99             9536          3515
46090  472.99             3884          5736
46091  472.99             3884          3515

[46092 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011751  12941464         NaN  instructions    12710120
1         0.011751    472222         NaN  l2d_cache_rd    12710120
2         0.011751    166512         NaN  l2d_cache_wr    12710120
3         0.011751    638734         NaN     l2d_cache    12710120
4         0.022250  25680821         NaN  instructions     9985120
...            ...       ...         ...           ...         ...
184991  473.757192   1268766         NaN     l2d_cache    10071080
184992  473.765080  30566424         NaN  instructions     7517760
184993  473.765080    142232         NaN  l2d_cache_rd     7517760
184994  473.765080    135402         NaN  l2d_cache_wr     7517760
184995  473.765080    277634         NaN     l2d_cache     7517760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
184991       100.0         NaN         NaN
184992       100.0         NaN         NaN
184993       100.0         NaN         NaN
184994       100.0         NaN         NaN
184995       100.0         NaN         NaN

[184996 rows x 8 columns]
          time     value       counter
4         0.02  25680821  instructions
8         0.03  28399451  instructions
12        0.04  31973746  instructions
16        0.05  50790528  instructions
20        0.06  37283316  instructions
...        ...       ...           ...
184976  473.72     56125  instructions
184980  473.74  21341739  instructions
184984  473.75  22195832  instructions
184988  473.76  18748034  instructions
184992  473.77  30566424  instructions

[46248 rows x 3 columns]
instructions
          time instructions
4         0.02     25680821
8         0.03     28399451
12        0.04     31973746
16        0.05     50790528
20        0.06     37283316
...        ...          ...
184976  473.72        56125
184980  473.74     21341739
184984  473.75     22195832
184988  473.76     18748034
184992  473.77     30566424

[46248 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       472222
5         0.02       698140
9         0.03       862763
13        0.04       794202
17        0.05       865420
...        ...          ...
184977  473.72         6860
184981  473.74       419748
184985  473.75       380887
184989  473.76       667767
184993  473.77       142232

[46249 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       166512
6         0.02       174846
10        0.03       185663
14        0.04       209967
18        0.05       334123
...        ...          ...
184978  473.72         1712
184982  473.74       187275
184986  473.75       258608
184990  473.76       600999
184994  473.77       135402

[46249 rows x 2 columns]
df5
          time l2d_cache
3         0.01    638734
7         0.02    872986
11        0.03   1048426
15        0.04   1004169
19        0.05   1199543
...        ...       ...
184979  473.72      8572
184983  473.74    607023
184987  473.75    639495
184991  473.76   1268766
184995  473.77    277634

[46249 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     25680821       698140
1        0.03     28399451       862763
2        0.04     31973746       794202
3        0.05     50790528       865420
4        0.06     37283316       866453
...       ...          ...          ...
46243  473.72        56125         6860
46244  473.74     21341739       419748
46245  473.75     22195832       380887
46246  473.76     18748034       667767
46247  473.77     30566424       142232

[46248 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       166512    638734
1        0.02       174846    872986
2        0.03       185663   1048426
3        0.04       209967   1004169
4        0.05       334123   1199543
...       ...          ...       ...
46244  473.72         1712      8572
46245  473.74       187275    607023
46246  473.75       258608    639495
46247  473.76       600999   1268766
46248  473.77       135402    277634

[46249 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010129  10679089         NaN  instructions    11083720
1         0.010129   5041416         NaN       l1d_tlb    11083720
2         0.010129   3482087         NaN    l1d_tlb_rd    11083720
3         0.010129   1559329         NaN    l1d_tlb_wr    11083720
4         0.020668  21980227         NaN  instructions     9847040
...            ...       ...         ...           ...         ...
184983  473.620307   3527541         NaN    l1d_tlb_wr    10072760
184984  473.620660     63990         NaN  instructions       44640
184985  473.620660     22709         NaN       l1d_tlb       44640
184986  473.620660     14252         NaN    l1d_tlb_rd       44640
184987  473.620660      8457         NaN    l1d_tlb_wr       44640

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
184983       100.0         NaN         NaN
184984       100.0         NaN         NaN
184985       100.0         NaN         NaN
184986       100.0         NaN         NaN
184987       100.0         NaN         NaN

[184988 rows x 8 columns]
          time     value       counter
4         0.02  21980227  instructions
8         0.03  26879264  instructions
12        0.04  33894891  instructions
16        0.05  48064655  instructions
20        0.06  41589950  instructions
...        ...       ...           ...
184968  473.59  16029710  instructions
184972  473.60  23631123  instructions
184976  473.61  14061990  instructions
184980  473.62  38945624  instructions
184984  473.62     63990  instructions

[46246 rows x 3 columns]
instructions
          time instructions
4         0.02     21980227
8         0.03     26879264
12        0.04     33894891
16        0.05     48064655
20        0.06     41589950
...        ...          ...
184968  473.59     16029710
184972  473.60     23631123
184976  473.61     14061990
184980  473.62     38945624
184984  473.62        63990

[46246 rows x 2 columns]
df3
          time   l1d_tlb
1         0.01   5041416
5         0.02   9280367
9         0.03  11686397
13        0.04  14579197
17        0.05  16650439
...        ...       ...
184969  473.59   6387016
184973  473.60   8870673
184977  473.61   4912952
184981  473.62  13391064
184985  473.62     22709

[46247 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    3482087
6         0.02    6075820
10        0.03    7549786
14        0.04    9429060
18        0.05   11586362
...        ...        ...
184970  473.59    4204482
184974  473.60    5905001
184978  473.61    3534848
184982  473.62    9863523
184986  473.62      14252

[46247 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1559329
7         0.02    3204547
11        0.03    4136611
15        0.04    5150137
19        0.05    5064077
...        ...        ...
184971  473.59    2182534
184975  473.60    2965672
184979  473.61    1378104
184983  473.62    3527541
184987  473.62       8457

[46247 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.02     21980227   9280367
1        0.03     26879264  11686397
2        0.04     33894891  14579197
3        0.05     48064655  16650439
4        0.06     41589950  14486665
...       ...          ...       ...
46243  473.61     14061990   4912952
46244  473.62     38945624  13391064
46245  473.62     38945624     22709
46246  473.62        63990  13391064
46247  473.62        63990     22709

[46248 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    3482087    1559329
1        0.02    6075820    3204547
2        0.03    7549786    4136611
3        0.04    9429060    5150137
4        0.05   11586362    5064077
...       ...        ...        ...
46244  473.61    3534848    1378104
46245  473.62    9863523    3527541
46246  473.62    9863523       8457
46247  473.62      14252    3527541
46248  473.62      14252       8457

[46249 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011788  13059272         NaN  instructions    12742520
1         0.011788     21404         NaN     dtlb_walk    12742520
2         0.011788      1886         NaN     itlb_walk    12742520
3         0.011788   4304227         NaN       l1i_tlb    12742520
4         0.022230  25026684         NaN  instructions     9878480
...            ...       ...         ...           ...         ...
185299  474.495447   7047491         NaN       l1i_tlb    10317280
185300  474.501758  23750694         NaN  instructions     5799640
185301  474.501758      1090         NaN     dtlb_walk     5799640
185302  474.501758         4         NaN     itlb_walk     5799640
185303  474.501758   4553220         NaN       l1i_tlb     5799640

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
185299       100.0         NaN         NaN
185300       100.0         NaN         NaN
185301       100.0         NaN         NaN
185302       100.0         NaN         NaN
185303       100.0         NaN         NaN

[185304 rows x 8 columns]
          time     value       counter
4         0.02  25026684  instructions
8         0.03  28318971  instructions
12        0.04  32029547  instructions
16        0.05  50432350  instructions
20        0.06  38078166  instructions
...        ...       ...           ...
185284  474.46   6179926  instructions
185288  474.47  21535647  instructions
185292  474.48  17595758  instructions
185296  474.50  24000007  instructions
185300  474.50  23750694  instructions

[46325 rows x 3 columns]
instructions
          time instructions
4         0.02     25026684
8         0.03     28318971
12        0.04     32029547
16        0.05     50432350
20        0.06     38078166
...        ...          ...
185284  474.46      6179926
185288  474.47     21535647
185292  474.48     17595758
185296  474.50     24000007
185300  474.50     23750694

[46325 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     21404
5         0.02      6139
9         0.03      3625
13        0.04      4096
17        0.05      2370
...        ...       ...
185285  474.46       640
185289  474.47     19520
185293  474.48     27274
185297  474.50     39226
185301  474.50      1090

[46326 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1886
6         0.02      1117
10        0.03       953
14        0.04       994
18        0.05       388
...        ...       ...
185286  474.46        86
185290  474.47      1695
185294  474.48      1185
185298  474.50       324
185302  474.50         4

[46326 rows x 2 columns]
df5
          time   l1i_tlb
3         0.01   4304227
7         0.02   8388163
11        0.03   9615388
15        0.04  10437994
19        0.05  13426530
...        ...       ...
185287  474.46   1380956
185291  474.47   6038686
185295  474.48   5028627
185299  474.50   7047491
185303  474.50   4553220

[46326 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     25026684      6139
1        0.03     28318971      3625
2        0.04     32029547      4096
3        0.05     50432350      2370
4        0.06     38078166      3766
...       ...          ...       ...
46322  474.48     17595758     27274
46323  474.50     24000007     39226
46324  474.50     24000007      1090
46325  474.50     23750694     39226
46326  474.50     23750694      1090

[46327 rows x 3 columns]
df7
         time itlb_walk   l1i_tlb
0        0.01      1886   4304227
1        0.02      1117   8388163
2        0.03       953   9615388
3        0.04       994  10437994
4        0.05       388  13426530
...       ...       ...       ...
46323  474.48      1185   5028627
46324  474.50       324   7047491
46325  474.50       324   4553220
46326  474.50         4   7047491
46327  474.50         4   4553220

[46328 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014219  16603876         NaN  instructions    15016240
1         0.014219    107717         NaN       l2d_tlb    15016240
2         0.014219     90530         NaN    l2d_tlb_rd    15016240
3         0.014219     17187         NaN    l2d_tlb_wr    15016240
4         0.024657  28868771         NaN  instructions     9852360
...            ...       ...         ...           ...         ...
184435  472.779963      7806         NaN    l2d_tlb_wr    10067320
184436  472.789414  34637305         NaN  instructions     8836320
184437  472.789414     52074         NaN       l2d_tlb     8836320
184438  472.789414     34351         NaN    l2d_tlb_rd     8836320
184439  472.789414     17723         NaN    l2d_tlb_wr     8836320

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
184435       100.0         NaN         NaN
184436       100.0         NaN         NaN
184437       100.0         NaN         NaN
184438       100.0         NaN         NaN
184439       100.0         NaN         NaN

[184440 rows x 8 columns]
          time     value       counter
4         0.02  28868771  instructions
8         0.03  29676823  instructions
12        0.05  35381519  instructions
16        0.06  53040212  instructions
20        0.07  30379563  instructions
...        ...       ...           ...
184420  472.75   6257521  instructions
184424  472.76  13061433  instructions
184428  472.77  22597328  instructions
184432  472.78  16294714  instructions
184436  472.79  34637305  instructions

[46109 rows x 3 columns]
instructions
          time instructions
4         0.02     28868771
8         0.03     29676823
12        0.05     35381519
16        0.06     53040212
20        0.07     30379563
...        ...          ...
184420  472.75      6257521
184424  472.76     13061433
184428  472.77     22597328
184432  472.78     16294714
184436  472.79     34637305

[46109 rows x 2 columns]
df3
          time l2d_tlb
1         0.01  107717
5         0.02  259878
9         0.03  286984
13        0.05  298555
17        0.06  415224
...        ...     ...
184421  472.75   21252
184425  472.76  180074
184429  472.77  170600
184433  472.78  141257
184437  472.79   52074

[46110 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      90530
6         0.02     246209
10        0.03     272391
14        0.05     284253
18        0.06     401760
...        ...        ...
184422  472.75      20014
184426  472.76     164290
184430  472.77     157478
184434  472.78     133451
184438  472.79      34351

[46110 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      17187
7         0.02      13669
11        0.03      14593
15        0.05      14302
19        0.06      13464
...        ...        ...
184423  472.75       1238
184427  472.76      15784
184431  472.77      13122
184435  472.78       7806
184439  472.79      17723

[46110 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     28868771  259878
1        0.03     29676823  286984
2        0.05     35381519  298555
3        0.06     53040212  415224
4        0.07     30379563  288148
...       ...          ...     ...
46104  472.75      6257521   21252
46105  472.76     13061433  180074
46106  472.77     22597328  170600
46107  472.78     16294714  141257
46108  472.79     34637305   52074

[46109 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      90530      17187
1        0.02     246209      13669
2        0.03     272391      14593
3        0.05     284253      14302
4        0.06     401760      13464
...       ...        ...        ...
46105  472.75      20014       1238
46106  472.76     164290      15784
46107  472.77     157478      13122
46108  472.78     133451       7806
46109  472.79      34351      17723

[46110 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010191  10798125         NaN  instructions    11146160
1         0.010191         9         NaN      vfp_spec    11146160
2         0.010191  12932649         NaN     inst_spec    11146160
3         0.010191      7053         NaN      ase_spec    11146160
4         0.020685  21818017         NaN  instructions     9689520
...            ...       ...         ...           ...         ...
184399  472.708001         3         NaN      ase_spec    10069920
184400  472.715354  29076894         NaN  instructions     6987440
184401  472.715354         0         NaN      vfp_spec     6987440
184402  472.715354  29461539         NaN     inst_spec     6987440
184403  472.715354         0         NaN      ase_spec     6987440

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
184399       100.0         NaN         NaN
184400       100.0         NaN         NaN
184401       100.0         NaN         NaN
184402       100.0         NaN         NaN
184403       100.0         NaN         NaN

[184404 rows x 8 columns]
          time     value       counter
4         0.02  21818017  instructions
8         0.03  27220399  instructions
12        0.04  33206449  instructions
16        0.05  46470584  instructions
20        0.06  43407537  instructions
...        ...       ...           ...
184384  472.68   6551701  instructions
184388  472.69  14022046  instructions
184392  472.70  23187017  instructions
184396  472.71  19925076  instructions
184400  472.72  29076894  instructions

[46100 rows x 3 columns]
instructions
          time instructions
4         0.02     21818017
8         0.03     27220399
12        0.04     33206449
16        0.05     46470584
20        0.06     43407537
...        ...          ...
184384  472.68      6551701
184388  472.69     14022046
184392  472.70     23187017
184396  472.71     19925076
184400  472.72     29076894

[46100 rows x 2 columns]
df3
          time vfp_spec
1         0.01        9
5         0.02     2835
9         0.03     1478
13        0.04      987
17        0.05      422
...        ...      ...
184385  472.68       31
184389  472.69      224
184393  472.70        0
184397  472.71        0
184401  472.72        0

[46101 rows x 2 columns]
df4
          time inst_spec
2         0.01  12932649
6         0.02  26745580
10        0.03  34457458
14        0.04  40859157
18        0.05  54245841
...        ...       ...
184386  472.68   6905667
184390  472.69  16202280
184394  472.70  25069989
184398  472.71  24772883
184402  472.72  29461539

[46101 rows x 2 columns]
df5
          time ase_spec
3         0.01     7053
7         0.02    32309
11        0.03    20167
15        0.04    23169
19        0.05    31151
...        ...      ...
184387  472.68       13
184391  472.69     3191
184395  472.70     1415
184399  472.71        3
184403  472.72        0

[46101 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     21818017     2835
1        0.03     27220399     1478
2        0.04     33206449      987
3        0.05     46470584      422
4        0.06     43407537      498
...       ...          ...      ...
46095  472.68      6551701       31
46096  472.69     14022046      224
46097  472.70     23187017        0
46098  472.71     19925076        0
46099  472.72     29076894        0

[46100 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  12932649     7053
1        0.02  26745580    32309
2        0.03  34457458    20167
3        0.04  40859157    23169
4        0.05  54245841    31151
...       ...       ...      ...
46096  472.68   6905667       13
46097  472.69  16202280     3191
46098  472.70  25069989     1415
46099  472.71  24772883        3
46100  472.72  29461539        0

[46101 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.011795  13018873         NaN      instructions    12767640
1         0.011795  13629815         NaN     stall_backend    12767640
2         0.011795  19674447         NaN    stall_frontend    12767640
3         0.011795    220162         NaN  ll_cache_miss_rd    12767640
4         0.022286  25005765         NaN      instructions     9917760
...            ...       ...         ...               ...         ...
184543  473.659277    448232         NaN  ll_cache_miss_rd    10067120
184544  473.669662  38872055         NaN      instructions     9887400
184545  473.669662  16200734         NaN     stall_backend     9887400
184546  473.669662   1310881         NaN    stall_frontend     9887400
184547  473.669662    529119         NaN  ll_cache_miss_rd     9887400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
184543       100.0         NaN         NaN
184544       100.0         NaN         NaN
184545       100.0         NaN         NaN
184546       100.0         NaN         NaN
184547       100.0         NaN         NaN

[184548 rows x 8 columns]
          time          value       counter
4         0.02       25005765  instructions
8         0.03       27950408  instructions
12        0.04       32087182  instructions
16        0.05       50215984  instructions
20        0.06       38037320  instructions
...        ...            ...           ...
184528  473.63  <not counted>  instructions
184532  473.64       16245169  instructions
184536  473.65       23269882  instructions
184540  473.66       14580191  instructions
184544  473.67       38872055  instructions

[46136 rows x 3 columns]
instructions
          time   instructions
4         0.02       25005765
8         0.03       27950408
12        0.04       32087182
16        0.05       50215984
20        0.06       38037320
...        ...            ...
184528  473.63  <not counted>
184532  473.64       16245169
184536  473.65       23269882
184540  473.66       14580191
184544  473.67       38872055

[46136 rows x 2 columns]
df3
          time  stall_backend
1         0.01       13629815
5         0.02        7089862
9         0.03        5442057
13        0.04        5615082
17        0.05        4763342
...        ...            ...
184529  473.63  <not counted>
184533  473.64       22251476
184537  473.65       20057604
184541  473.66       23198794
184545  473.67       16200734

[46137 rows x 2 columns]
df4
          time stall_frontend
2         0.01       19674447
6         0.02       12858329
10        0.03       13319991
14        0.04       12216040
18        0.05        8084676
...        ...            ...
184530  473.63  <not counted>
184534  473.64        5211051
184538  473.65        2385765
184542  473.66        1328690
184546  473.67        1310881

[46137 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           220162
7         0.02           154562
11        0.03           150885
15        0.04           162850
19        0.05            91256
...        ...              ...
184531  473.63    <not counted>
184535  473.64           130743
184539  473.65           177478
184543  473.66           448232
184547  473.67           529119

[46137 rows x 2 columns]
df6
         time   instructions  stall_backend
0        0.02       25005765        7089862
1        0.03       27950408        5442057
2        0.04       32087182        5615082
3        0.05       50215984        4763342
4        0.06       38037320        5289127
...       ...            ...            ...
46131  473.63  <not counted>  <not counted>
46132  473.64       16245169       22251476
46133  473.65       23269882       20057604
46134  473.66       14580191       23198794
46135  473.67       38872055       16200734

[46136 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01       19674447           220162
1        0.02       12858329           154562
2        0.03       13319991           150885
3        0.04       12216040           162850
4        0.05        8084676            91256
...       ...            ...              ...
46132  473.63  <not counted>    <not counted>
46133  473.64        5211051           130743
46134  473.65        2385765           177478
46135  473.66        1328690           448232
46136  473.67        1310881           529119

[46137 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010140  10796310         NaN   instructions    11159880
1         0.010140   3370288         NaN     mem_access    11159880
2         0.010140   2077057         NaN  mem_access_rd    11159880
3         0.010140   1293231         NaN  mem_access_wr    11159880
4         0.020664  22005290         NaN   instructions     9985400
...            ...       ...         ...            ...         ...
184943  474.707215   1280683         NaN  mem_access_wr    10072840
184944  474.717480  38688100         NaN   instructions     9829040
184945  474.717480  10300606         NaN     mem_access     9829040
184946  474.717480   6779229         NaN  mem_access_rd     9829040
184947  474.717480   3521377         NaN  mem_access_wr     9829040

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
184943       100.0         NaN         NaN
184944       100.0         NaN         NaN
184945       100.0         NaN         NaN
184946       100.0         NaN         NaN
184947       100.0         NaN         NaN

[184948 rows x 8 columns]
          time          value       counter
4         0.02       22005290  instructions
8         0.03       26657345  instructions
12        0.04       41920052  instructions
16        0.05       51428018  instructions
20        0.07       36153938  instructions
...        ...            ...           ...
184928  474.68  <not counted>  instructions
184932  474.69       16291013  instructions
184936  474.70       23715258  instructions
184940  474.71       14499899  instructions
184944  474.72       38688100  instructions

[46236 rows x 3 columns]
instructions
          time   instructions
4         0.02       22005290
8         0.03       26657345
12        0.04       41920052
16        0.05       51428018
20        0.07       36153938
...        ...            ...
184928  474.68  <not counted>
184932  474.69       16291013
184936  474.70       23715258
184940  474.71       14499899
184944  474.72       38688100

[46236 rows x 2 columns]
df3
          time     mem_access
1         0.01        3370288
5         0.02        7926986
9         0.03       10303670
13        0.04       16129874
17        0.05       15532273
...        ...            ...
184929  474.68  <not counted>
184933  474.69        5487258
184937  474.70        8287209
184941  474.71        4205700
184945  474.72       10300606

[46237 rows x 2 columns]
df4
          time  mem_access_rd
2         0.01        2077057
6         0.02        4989500
10        0.03        6500251
14        0.04       10256941
18        0.05       10970123
...        ...            ...
184930  474.68  <not counted>
184934  474.69        3367659
184938  474.70        5401461
184942  474.71        2925017
184946  474.72        6779229

[46237 rows x 2 columns]
df5
          time  mem_access_wr
3         0.01        1293231
7         0.02        2937486
11        0.03        3803419
15        0.04        5872933
19        0.05        4562150
...        ...            ...
184931  474.68  <not counted>
184935  474.69        2119599
184939  474.70        2885748
184943  474.71        1280683
184947  474.72        3521377

[46237 rows x 2 columns]
df6
         time   instructions     mem_access
0        0.02       22005290        7926986
1        0.03       26657345       10303670
2        0.04       41920052       16129874
3        0.05       51428018       15532273
4        0.07       36153938       12038746
...       ...            ...            ...
46231  474.68  <not counted>  <not counted>
46232  474.69       16291013        5487258
46233  474.70       23715258        8287209
46234  474.71       14499899        4205700
46235  474.72       38688100       10300606

[46236 rows x 3 columns]
df7
         time  mem_access_rd  mem_access_wr
0        0.01        2077057        1293231
1        0.02        4989500        2937486
2        0.03        6500251        3803419
3        0.04       10256941        5872933
4        0.05       10970123        4562150
...       ...            ...            ...
46232  474.68  <not counted>  <not counted>
46233  474.69        3367659        2119599
46234  474.70        5401461        2885748
46235  474.71        2925017        1280683
46236  474.72        6779229        3521377

[46237 rows x 3 columns]
merged_df
         time instructions cpu-cycles   br_pred br_mis_pred   l1d_cache_rd  \
0        0.03     28852156   29044660   6573669      273045        7337327
1        0.05     35202389   30179370   8137030      246989        8744445
2        0.07     29936510   30181120   6957370      262266        6903231
3        0.09     31939027   30136979   7216387      251563        7921624
4        0.11     29762666   30174743   6820649      275218        7292958
...       ...          ...        ...       ...         ...            ...
36806  472.05     67637212   30132635  13567056       59929  <not counted>
36807  472.06     67890575   30151805  13613816       58828  <not counted>
36808  472.08     68033133   30147613  13640285       57378        1197764
36809  472.10     73090897   32930584  14664766       66735        4987587
36810  472.11     66838723   30429572  13408825       59933        3359583

        l1d_cache_wr      l1d_cache l1i_cache l1i_cache_refill  ...  \
0            4260566       11597893  11442482           673513  ...
1            4704507       13448952  17852377           531929  ...
2            3813489       10716720  12660939           726373  ...
3            4405467       12327091  15542690           834733  ...
4            4175215       11468173  12405491           630594  ...
...              ...            ...       ...              ...  ...
36806  <not counted>  <not counted>  15661825           556596  ...
36807  <not counted>  <not counted>  16498144           485798  ...
36808         632246        1830010  17564694           263779  ...
36809        2562987        7550574  19989334           155738  ...
36810        1150949        4510532  20228168           159556  ...

      l2d_tlb_wr vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0          14593     1478  34457458    20167       5442057       13319991
1          14302      422  54245841    31151       4763342        8084676
2          13885      803  36940395    22410       5509808       12634211
3          18267     1647  37977277    20186       5592017       12984864
4          16093     1067  36024754    20888       5879859       11985113
...          ...      ...       ...      ...           ...            ...
36806      28164    25647  74389810     5258       2708340        5502921
36807      27083     3144  63358035    18706       2725380        5468077
36808      41604      493  62842421     1501       2849052        5813204
36809      27117    34726  64366911     3209       2722208        5580335
36810      27146    19334  64404205     9680       2728533        5722006

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               150885   10303670       6500251       3803419
1                91256   15532273      10970123       4562150
2               148009   12038746       8119498       3919248
3               156185   12708481       8145099       4563382
4               160214   12422431       7928473       4493958
...                ...        ...           ...           ...
36806            12436    7012472       4424146       2588326
36807            12809    7545850       4771581       2774269
36808            20313   10223343       6591572       3631771
36809            12472    9275324       6058141       3217183
36810            14460   20517710      13647914       6869796

[36811 rows x 32 columns]
             time     value  Unnamed: 2       counter  Unnamed: 4  Unnamed: 5  \
0        0.015317  18493516         NaN  instructions    16200240       100.0
1        0.015317  48336206         NaN    cpu-cycles    16200240       100.0
2        0.015317   3506376         NaN       br_pred    16200240       100.0
3        0.015317    141630         NaN   br_mis_pred    16200240       100.0
4        0.025798  29095361         NaN  instructions     9904240       100.0
...           ...       ...         ...           ...         ...         ...
99723  264.309231     63604         NaN   br_mis_pred    10073000       100.0
99724  264.309640     89558         NaN  instructions       71200       100.0
99725  264.309640    178388         NaN    cpu-cycles       71200       100.0
99726  264.309640     13984         NaN       br_pred       71200       100.0
99727  264.309640       185         NaN   br_mis_pred       71200       100.0

       Unnamed: 6      Unnamed: 7
0            0.38  insn per cycle
1             NaN             NaN
2             NaN             NaN
3             NaN             NaN
4            0.98  insn per cycle
...           ...             ...
99723         NaN             NaN
99724        0.50  insn per cycle
99725         NaN             NaN
99726         NaN             NaN
99727         NaN             NaN

[99728 rows x 8 columns]
         time     value       counter
4        0.03  29095361  instructions
8        0.04  28169307  instructions
12       0.05  34492409  instructions
16       0.06  53065625  instructions
20       0.07  29895771  instructions
...       ...       ...           ...
99708  264.28  15480261  instructions
99712  264.29  23910373  instructions
99716  264.30  14084058  instructions
99720  264.31  39114568  instructions
99724  264.31     89558  instructions

[24931 rows x 3 columns]
instructions
         time instructions
4        0.03     29095361
8        0.04     28169307
12       0.05     34492409
16       0.06     53065625
20       0.07     29895771
...       ...          ...
99708  264.28     15480261
99712  264.29     23910373
99716  264.30     14084058
99720  264.31     39114568
99724  264.31        89558

[24931 rows x 2 columns]
df3
         time cpu-cycles
1        0.02   48336206
5        0.03   29598437
9        0.04   29914002
13       0.05   30211305
17       0.06   30143710
...       ...        ...
99709  264.28   31426368
99713  264.29   29857803
99717  264.30   30176094
99721  264.31   30178457
99725  264.31     178388

[24932 rows x 2 columns]
df4
         time   br_pred
2        0.02   3506376
6        0.03   6611245
10       0.04   6352459
14       0.05   7944490
18       0.06  13486310
...       ...       ...
99710  264.28   3030782
99714  264.29   5333588
99718  264.30   3773265
99722  264.31   6894871
99726  264.31     13984

[24932 rows x 2 columns]
df5
         time br_mis_pred
3        0.02      141630
7        0.03      272845
11       0.04      255180
15       0.05      251572
19       0.06      231399
...       ...         ...
99711  264.28       51438
99715  264.29       41809
99719  264.30       81898
99723  264.31       63604
99727  264.31         185

[24932 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.03     29095361   29598437
1        0.04     28169307   29914002
2        0.05     34492409   30211305
3        0.06     53065625   30143710
4        0.07     29895771   30181068
...       ...          ...        ...
24928  264.30     14084058   30176094
24929  264.31     39114568   30178457
24930  264.31     39114568     178388
24931  264.31        89558   30178457
24932  264.31        89558     178388

[24933 rows x 3 columns]
df7
         time   br_pred br_mis_pred
0        0.02   3506376      141630
1        0.03   6611245      272845
2        0.04   6352459      255180
3        0.05   7944490      251572
4        0.06  13486310      231399
...       ...       ...         ...
24929  264.30   3773265       81898
24930  264.31   6894871       63604
24931  264.31   6894871         185
24932  264.31     13984       63604
24933  264.31     13984         185

[24934 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010192  10757653         NaN  instructions    11170280
1         0.010192   2066700         NaN  l1d_cache_rd    11170280
2         0.010192   1280802         NaN  l1d_cache_wr    11170280
3         0.010192   3347502         NaN     l1d_cache    11170280
4         0.020722  22755309         NaN  instructions     9987920
...            ...       ...         ...           ...         ...
100131  265.238200   4906484         NaN     l1d_cache    10062120
100132  265.245599  28877148         NaN  instructions     7010480
100133  265.245599   5218997         NaN  l1d_cache_rd     7010480
100134  265.245599   3066510         NaN  l1d_cache_wr     7010480
100135  265.245599   8285507         NaN     l1d_cache     7010480

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
100131       100.0         NaN         NaN
100132       100.0         NaN         NaN
100133       100.0         NaN         NaN
100134       100.0         NaN         NaN
100135       100.0         NaN         NaN

[100136 rows x 8 columns]
          time     value       counter
4         0.02  22755309  instructions
8         0.03  39638720  instructions
12        0.04  32795374  instructions
16        0.06  53381616  instructions
20        0.07  31404524  instructions
...        ...       ...           ...
100116  265.20     52066  instructions
100120  265.22  21213601  instructions
100124  265.23  22829454  instructions
100128  265.24  19890833  instructions
100132  265.25  28877148  instructions

[25033 rows x 3 columns]
instructions
          time instructions
4         0.02     22755309
8         0.03     39638720
12        0.04     32795374
16        0.06     53381616
20        0.07     31404524
...        ...          ...
100116  265.20        52066
100120  265.22     21213601
100124  265.23     22829454
100128  265.24     19890833
100132  265.25     28877148

[25033 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      2066700
5         0.02      5193062
9         0.03      9699960
13        0.04      7968382
17        0.06     11221878
...        ...          ...
100117  265.20        11348
100121  265.22      4516591
100125  265.23      5063352
100129  265.24      3615809
100133  265.25      5218997

[25034 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1280802
6         0.02      3044081
10        0.03      5594454
14        0.04      4487283
18        0.06      4481607
...        ...          ...
100118  265.20         5579
100122  265.22      2790548
100126  265.23      2591871
100130  265.24      1290675
100134  265.25      3066510

[25034 rows x 2 columns]
df5
          time l1d_cache
3         0.01   3347502
7         0.02   8237143
11        0.03  15294414
15        0.04  12455665
19        0.06  15703485
...        ...       ...
100119  265.20     16927

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]

         time instructions
4        0.02     26220705
8        0.03     27614516
12       0.04     31947065
16       0.05     51381342
20       0.06     37570992
...       ...          ...
99824  264.43     15562156
99828  264.44     23851301
99832  264.46     13624591
99836  264.47     38565059
99840  264.47       872173

[24960 rows x 2 columns]
df3
         time l2d_cache_rd
1        0.01       474030
5        0.02       705301
9        0.03       838012
13       0.04       792578
17       0.05       863628
...       ...          ...
99825  264.43       278983
99829  264.44       427539
99833  264.46       409601
99837  264.47       484380
99841  264.47         9898

[24961 rows x 2 columns]
df4
         time l2d_cache_wr
2        0.01       167651
6        0.02       175061
10       0.03       175609
14       0.04       209964
18       0.05       329864
...       ...          ...
99826  264.43       138601
99830  264.44       222740
99834  264.46       352673
99838  264.47       458847
99842  264.47         5816

[24961 rows x 2 columns]
df5
         time l2d_cache
3        0.01    641681
7        0.02    880362
11       0.03   1013621
15       0.04   1002542
19       0.05   1193492
...       ...       ...
99827  264.43    417584
99831  264.44    650279
99835  264.46    762274
99839  264.47    943227
99843  264.47     15714

[24961 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     26220705       705301
1        0.03     27614516       838012
2        0.04     31947065       792578
3        0.05     51381342       863628
4        0.06     37570992       882237
...       ...          ...          ...
24957  264.46     13624591       409601
24958  264.47     38565059       484380
24959  264.47     38565059         9898
24960  264.47       872173       484380
24961  264.47       872173         9898

[24962 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       167651    641681
1        0.02       175061    880362
2        0.03       175609   1013621
3        0.04       209964   1002542
4        0.05       329864   1193492
...       ...          ...       ...
24958  264.46       352673    762274
24959  264.47       458847    943227
24960  264.47       458847     15714
24961  264.47         5816    943227
24962  264.47         5816     15714

[24963 rows x 3 columns]
             time     value  Unnamed: 2       counter  Unnamed: 4  Unnamed: 5  \
0        0.015195  18766448         NaN  instructions    16117200       100.0
1        0.015195   8456646         NaN       l1d_tlb    16117200       100.0
2        0.015195   5759533         NaN    l1d_tlb_rd    16117200       100.0
3        0.015195   2697113         NaN    l1d_tlb_wr    16117200       100.0
4        0.025614  28854382         NaN  instructions     9774360       100.0
...           ...       ...         ...           ...         ...         ...
99755  264.271483   2758292         NaN    l1d_tlb_wr    10116520       100.0
99756  264.274223   8891367         NaN  instructions     2323800       100.0
99757  264.274223   3334925         NaN       l1d_tlb     2323800       100.0
99758  264.274223   2371940         NaN    l1d_tlb_rd     2323800       100.0
99759  264.274223    962985         NaN    l1d_tlb_wr     2323800       100.0

       Unnamed: 6  Unnamed: 7
0             NaN         NaN
1             NaN         NaN
2             NaN         NaN
3             NaN         NaN
4             NaN         NaN
...           ...         ...
99755         NaN         NaN
99756         NaN         NaN
99757         NaN         NaN
99758         NaN         NaN
99759         NaN         NaN

[99760 rows x 8 columns]
         time     value       counter
4        0.03  28854382  instructions
8        0.04  29827586  instructions
12       0.05  35442002  instructions
16       0.06  52928965  instructions
20       0.07  29267281  instructions
...       ...       ...           ...
99740  264.24   8485656  instructions
99744  264.25  16516470  instructions
99748  264.26  25282735  instructions
99752  264.27  33536403  instructions
99756  264.27   8891367  instructions

[24939 rows x 3 columns]
instructions
         time instructions
4        0.03     28854382
8        0.04     29827586
12       0.05     35442002
16       0.06     52928965
20       0.07     29267281
...       ...          ...
99740  264.24      8485656
99744  264.25     16516470
99748  264.26     25282735
99752  264.27     33536403
99756  264.27      8891367

[24939 rows x 2 columns]
df3
         time   l1d_tlb
1        0.02   8456646
5        0.03  12315689
9        0.04  12918028
13       0.05  14545191
17       0.06  16843440
...       ...       ...
99741  264.24   3049854
99745  264.25   6895856
99749  264.26   9289922
99753  264.27  11062545
99757  264.27   3334925

[24940 rows x 2 columns]
df4
         time l1d_tlb_rd
2        0.02    5759533
6        0.03    7967120
10       0.04    8361031
14       0.05    9590798
18       0.06   12145109
...       ...        ...
99742  264.24    2071807
99746  264.25    4471401
99750  264.26    6370149
99754  264.27    8304253
99758  264.27    2371940

[24940 rows x 2 columns]
df5
         time l1d_tlb_wr
3        0.02    2697113
7        0.03    4348569
11       0.04    4556997
15       0.05    4954393
19       0.06    4698331
...       ...        ...
99743  264.24     978047
99747  264.25    2424455
99751  264.26    2919773
99755  264.27    2758292
99759  264.27     962985

[24940 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.03     28854382  12315689
1        0.04     29827586  12918028
2        0.05     35442002  14545191
3        0.06     52928965  16843440
4        0.07     29267281  11963406
...       ...          ...       ...
24936  264.26     25282735   9289922
24937  264.27     33536403  11062545
24938  264.27     33536403   3334925
24939  264.27      8891367  11062545
24940  264.27      8891367   3334925

[24941 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.02    5759533    2697113
1        0.03    7967120    4348569
2        0.04    8361031    4556997
3        0.05    9590798    4954393
4        0.06   12145109    4698331
...       ...        ...        ...
24937  264.26    6370149    2919773
24938  264.27    8304253    2758292
24939  264.27    8304253     962985
24940  264.27    2371940    2758292
24941  264.27    2371940     962985

[24942 rows x 3 columns]
             time     value  Unnamed: 2       counter  Unnamed: 4  Unnamed: 5  \
0        0.011890  13200337         NaN  instructions    12940200       100.0
1        0.011890     22207         NaN     dtlb_walk    12940200       100.0
2        0.011890      1890         NaN     itlb_walk    12940200       100.0
3        0.011890   4351010         NaN       l1i_tlb    12940200       100.0
4        0.022386  26037484         NaN  instructions     9895280       100.0
...           ...       ...         ...           ...         ...         ...
99827  264.287661   8322820         NaN       l1i_tlb    11228360       100.0
99828  264.291476  14157514         NaN  instructions     3464680       100.0
99829  264.291476      1123         NaN     dtlb_walk     3464680       100.0
99830  264.291476         5         NaN     itlb_walk     3464680       100.0
99831  264.291476   2746397         NaN       l1i_tlb     3464680       100.0

       Unnamed: 6  Unnamed: 7
0             NaN         NaN
1             NaN         NaN
2             NaN         NaN
3             NaN         NaN
4             NaN         NaN
...           ...         ...
99827         NaN         NaN
99828         NaN         NaN
99829         NaN         NaN
99830         NaN         NaN
99831         NaN         NaN

[99832 rows x 8 columns]
         time     value       counter
4        0.02  26037484  instructions
8        0.03  28354330  instructions
12       0.04  32715176  instructions
16       0.05  51913997  instructions
20       0.06  36039456  instructions
...       ...       ...           ...
99812  264.26  10342774  instructions
99816  264.27  21185457  instructions
99820  264.28  15604742  instructions
99824  264.29  31943011  instructions
99828  264.29  14157514  instructions

[24957 rows x 3 columns]
instructions
         time instructions
4        0.02     26037484
8        0.03     28354330
12       0.04     32715176
16       0.05     51913997
20       0.06     36039456
...       ...          ...
99812  264.26     10342774
99816  264.27     21185457
99820  264.28     15604742
99824  264.29     31943011
99828  264.29     14157514

[24957 rows x 2 columns]
df3
         time dtlb_walk
1        0.01     22207
5        0.02      5630
9        0.03      4016
13       0.04      4727
17       0.05      2259
...       ...       ...
99813  264.26      8200
99817  264.27     15322
99821  264.28     31321
99825  264.29     32270
99829  264.29      1123

[24958 rows x 2 columns]
df4
         time itlb_walk
2        0.01      1890
6        0.02      1181
10       0.03       961
14       0.04       994
18       0.05       314
...       ...       ...
99814  264.26       890
99818  264.27      1359
99822  264.28      1176
99826  264.29       349
99830  264.29         5

[24958 rows x 2 columns]
df5
         time   l1i_tlb
3        0.01   4351010
7        0.02   8744596
11       0.03   9644986
15       0.04  10695514
19       0.05  13492364
...       ...       ...
99815  264.26   2688750
99819  264.27   5725087
99823  264.28   4624366
99827  264.29   8322820
99831  264.29   2746397

[24958 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     26037484      5630
1        0.03     28354330      4016
2        0.04     32715176      4727
3        0.05     51913997      2259
4        0.06     36039456      4419
...       ...          ...       ...
24954  264.28     15604742     31321
24955  264.29     31943011     32270
24956  264.29     31943011      1123
24957  264.29     14157514     32270
24958  264.29     14157514      1123

[24959 rows x 3 columns]
df7
         time itlb_walk   l1i_tlb
0        0.01      1890   4351010
1        0.02      1181   8744596
2        0.03       961   9644986
3        0.04       994  10695514
4        0.05       314  13492364
...       ...       ...       ...
24955  264.28      1176   4624366
24956  264.29       349   8322820
24957  264.29       349   2746397
24958  264.29         5   8322820
24959  264.29         5   2746397

[24960 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

             time     value  Unnamed: 2       counter  Unnamed: 4  Unnamed: 5  \
0        0.015171  19399715         NaN  instructions    16095960       100.0
1        0.015171    133590         NaN       l2d_tlb    16095960       100.0
2        0.015171    115388         NaN    l2d_tlb_rd    16095960       100.0
3        0.015171     18202         NaN    l2d_tlb_wr    16095960       100.0
4        0.025670  29632181         NaN  instructions     9892840       100.0
...           ...       ...         ...           ...         ...         ...
99743  264.197056     18263         NaN    l2d_tlb_wr    10115200       100.0
99744  264.197791    417151         NaN  instructions      289760       100.0
99745  264.197791      1859         NaN       l2d_tlb      289760       100.0
99746  264.197791      1738         NaN    l2d_tlb_rd      289760       100.0
99747  264.197791       121         NaN    l2d_tlb_wr      289760       100.0

       Unnamed: 6  Unnamed: 7
0             NaN         NaN
1             NaN         NaN
2             NaN         NaN
3             NaN         NaN
4             NaN         NaN
...           ...         ...
99743         NaN         NaN
99744         NaN         NaN
99745         NaN         NaN
99746         NaN         NaN
99747         NaN         NaN

[99748 rows x 8 columns]
         time     value       counter
4        0.03  29632181  instructions
8        0.04  29568666  instructions
12       0.05  37678589  instructions
16       0.06  52772975  instructions
20       0.07  28441643  instructions
...       ...       ...           ...
99728  264.17  15793302  instructions
99732  264.18  24157654  instructions
99736  264.19  13702511  instructions
99740  264.20  38859974  instructions
99744  264.20    417151  instructions

[24936 rows x 3 columns]
instructions
         time instructions
4        0.03     29632181
8        0.04     29568666
12       0.05     37678589
16       0.06     52772975
20       0.07     28441643
...       ...          ...
99728  264.17     15793302
99732  264.18     24157654
99736  264.19     13702511
99740  264.20     38859974
99744  264.20       417151

[24936 rows x 2 columns]
df3
         time l2d_tlb
1        0.02  133590
5        0.03  265408
9        0.04  284037
13       0.05  304024
17       0.06  408573
...       ...     ...
99729  264.17  133055
99733  264.18  196258
99737  264.19  143402
99741  264.20   70281
99745  264.20    1859

[24937 rows x 2 columns]
df4
         time l2d_tlb_rd
2        0.02     115388
6        0.03     252566
10       0.04     270678
14       0.05     290650
18       0.06     395094
...       ...        ...
99730  264.17     120914
99734  264.18     182077
99738  264.19     134779
99742  264.20      52018
99746  264.20       1738

[24937 rows x 2 columns]
df5
         time l2d_tlb_wr
3        0.02      18202
7        0.03      12842
11       0.04      13359
15       0.05      13374
19       0.06      13479
...       ...        ...
99731  264.17      12141
99735  264.18      14181
99739  264.19       8623
99743  264.20      18263
99747  264.20        121

[24937 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.03     29632181  265408
1        0.04     29568666  284037
2        0.05     37678589  304024
3        0.06     52772975  408573
4        0.07     28441643  282205
...       ...          ...     ...
24933  264.19     13702511  143402
24934  264.20     38859974   70281
24935  264.20     38859974    1859
24936  264.20       417151   70281
24937  264.20       417151    1859

[24938 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.02     115388      18202
1        0.03     252566      12842
2        0.04     270678      13359
3        0.05     290650      13374
4        0.06     395094      13479
...       ...        ...        ...
24934  264.19     134779       8623
24935  264.20      52018      18263
24936  264.20      52018        121
24937  264.20       1738      18263
24938  264.20       1738        121

[24939 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014801  18288377         NaN  instructions    15730680
1         0.014801       270         NaN      vfp_spec    15730680
2         0.014801  22057121         NaN     inst_spec    15730680
3         0.014801     15854         NaN      ase_spec    15730680
4         0.025312  30330195         NaN  instructions    10063480
...            ...       ...         ...           ...         ...
100035  265.087701        63         NaN      ase_spec    10199400
100036  265.092508  17435893         NaN  instructions     4325040
100037  265.092508         0         NaN      vfp_spec     4325040
100038  265.092508  17749531         NaN     inst_spec     4325040
100039  265.092508         0         NaN      ase_spec     4325040

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
100035       100.0         NaN         NaN
100036       100.0         NaN         NaN
100037       100.0         NaN         NaN
100038       100.0         NaN         NaN
100039       100.0         NaN         NaN

[100040 rows x 8 columns]
          time     value       counter
4         0.03  30330195  instructions
8         0.04  28977540  instructions
12        0.05  36282982  instructions
16        0.06  52850197  instructions
20        0.07  29383512  instructions
...        ...       ...           ...
100020  265.06  10574503  instructions
100024  265.07  18497721  instructions
100028  265.08  18515549  instructions
100032  265.09  28612401  instructions
100036  265.09  17435893  instructions

[25009 rows x 3 columns]
instructions
          time instructions
4         0.03     30330195
8         0.04     28977540
12        0.05     36282982
16        0.06     52850197
20        0.07     29383512
...        ...          ...
100020  265.06     10574503
100024  265.07     18497721
100028  265.08     18515549
100032  265.09     28612401
100036  265.09     17435893

[25009 rows x 2 columns]
df3
          time vfp_spec
1         0.01      270
5         0.03     3749
9         0.04     1146
13        0.05      510
17        0.06      332
...        ...      ...
100021  265.06      173
100025  265.07       95
100029  265.08        5
100033  265.09        1
100037  265.09        0

[25010 rows x 2 columns]
df4
          time inst_spec
2         0.01  22057121
6         0.03  38132780
10        0.04  36145790
14        0.05  43641289
18        0.06  60507483
...        ...       ...
100022  265.06  11618395
100026  265.07  20743101
100030  265.08  20379246
100034  265.09  33081011
100038  265.09  17749531

[25010 rows x 2 columns]
df5
          time ase_spec
3         0.01    15854
7         0.03    36273
11        0.04    19963
15        0.05    27277
19        0.06    30322
...        ...      ...
100023  265.06     1091
100027  265.07     2777
100031  265.08      771
100035  265.09       63
100039  265.09        0

[25010 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.03     30330195     3749
1        0.04     28977540     1146
2        0.05     36282982      510
3        0.06     52850197      332
4        0.07     29383512      695
...       ...          ...      ...
25006  265.08     18515549        5
25007  265.09     28612401        1
25008  265.09     28612401        0
25009  265.09     17435893        1
25010  265.09     17435893        0

[25011 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  22057121    15854
1        0.03  38132780    36273
2        0.04  36145790    19963
3        0.05  43641289    27277
4        0.06  60507483    30322
...       ...       ...      ...
25007  265.08  20379246      771
25008  265.09  33081011       63
25009  265.09  33081011        0
25010  265.09  17749531       63
25011  265.09  17749531        0

[25012 rows x 3 columns]
             time     value  Unnamed: 2           counter  Unnamed: 4  \
0        0.011910  13257284         NaN      instructions    12849400
1        0.011910  14087137         NaN     stall_backend    12849400
2        0.011910  19359596         NaN    stall_frontend    12849400
3        0.011910    218293         NaN  ll_cache_miss_rd    12849400
4        0.022389  26153879         NaN      instructions     9902400
...           ...       ...         ...               ...         ...
99891  264.848456    728945         NaN  ll_cache_miss_rd    10075920
99892  264.853167  16900694         NaN      instructions     4309880
99893  264.853167   7205510         NaN     stall_backend     4309880
99894  264.853167    701158         NaN    stall_frontend     4309880
99895  264.853167     72026         NaN  ll_cache_miss_rd     4309880

       Unnamed: 5  Unnamed: 6  Unnamed: 7
0           100.0         NaN         NaN
1           100.0         NaN         NaN
2           100.0         NaN         NaN
3           100.0         NaN         NaN
4           100.0         NaN         NaN
...           ...         ...         ...
99891       100.0         NaN         NaN
99892       100.0         NaN         NaN
99893       100.0         NaN         NaN
99894       100.0         NaN         NaN
99895       100.0         NaN         NaN

[99896 rows x 8 columns]
         time     value       counter
4        0.02  26153879  instructions
8        0.03  27935967  instructions
12       0.04  31947545  instructions
16       0.05  51647404  instructions
20       0.06  37249029  instructions
...       ...       ...           ...
99876  264.82  10266415  instructions
99880  264.83  17952530  instructions
99884  264.84  19185922  instructions
99888  264.85  28865451  instructions
99892  264.85  16900694  instructions

[24973 rows x 3 columns]
instructions
         time instructions
4        0.02     26153879
8        0.03     27935967
12       0.04     31947545
16       0.05     51647404
20       0.06     37249029
...       ...          ...
99876  264.82     10266415
99880  264.83     17952530
99884  264.84     19185922
99888  264.85     28865451
99892  264.85     16900694

[24973 rows x 2 columns]
df3
         time stall_backend
1        0.01      14087137
5        0.02       6794233
9        0.03       5670850
13       0.04       5947815
17       0.05       4739869
...       ...           ...
99877  264.82      13623425
99881  264.83      19070129
99885  264.84      22257286
99889  264.85      19035876
99893  264.85       7205510

[24974 rows x 2 columns]
df4
         time stall_frontend
2        0.01       19359596
6        0.02       12670482
10       0.03       13033436
14       0.04       11930040
18       0.05        7736057
...       ...            ...
99878  264.82        2352888
99882  264.83        4501710
99886  264.84        1563582
99890  264.85        1234495
99894  264.85         701158

[24974 rows x 2 columns]
df5
         time ll_cache_miss_rd
3        0.01           218293
7        0.02           150824
11       0.03           153904
15       0.04           166202
19       0.05            80661
...       ...              ...
99879  264.82            76598
99883  264.83           128872
99887  264.84           284026
99891  264.85           728945
99895  264.85            72026

[24974 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     26153879       6794233
1        0.03     27935967       5670850
2        0.04     31947545       5947815
3        0.05     51647404       4739869
4        0.06     37249029       5439421
...       ...          ...           ...
24970  264.84     19185922      22257286
24971  264.85     28865451      19035876
24972  264.85     28865451       7205510
24973  264.85     16900694      19035876
24974  264.85     16900694       7205510

[24975 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01       19359596           218293
1        0.02       12670482           150824
2        0.03       13033436           153904
3        0.04       11930040           166202
4        0.05        7736057            80661
...       ...            ...              ...
24971  264.84        1563582           284026
24972  264.85        1234495           728945
24973  264.85        1234495            72026
24974  264.85         701158           728945
24975  264.85         701158            72026

[24976 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

             time     value  Unnamed: 2        counter  Unnamed: 4  \
0        0.010128  10758899         NaN   instructions    11052520
1        0.010128   3355955         NaN     mem_access    11052520
2        0.010128   2073257         NaN  mem_access_rd    11052520
3        0.010128   1282698         NaN  mem_access_wr    11052520
4        0.020655  21972490         NaN   instructions     9836440
...           ...       ...         ...            ...         ...
99799  264.525423   2245939         NaN  mem_access_wr    10064560
99800  264.529899  16186317         NaN   instructions     4125160
99801  264.529899   4660806         NaN     mem_access     4125160
99802  264.529899   2934632         NaN  mem_access_rd     4125160
99803  264.529899   1726174         NaN  mem_access_wr     4125160

       Unnamed: 5  Unnamed: 6  Unnamed: 7
0           100.0         NaN         NaN
1           100.0         NaN         NaN
2           100.0         NaN         NaN
3           100.0         NaN         NaN
4           100.0         NaN         NaN
...           ...         ...         ...
99799       100.0         NaN         NaN
99800       100.0         NaN         NaN
99801       100.0         NaN         NaN
99802       100.0         NaN         NaN
99803       100.0         NaN         NaN

[99804 rows x 8 columns]
         time     value       counter
4        0.02  21972490  instructions
8        0.03  28540488  instructions
12       0.04  43950675  instructions
16       0.05  53122325  instructions
20       0.07  32782294  instructions
...       ...       ...           ...
99784  264.49  10197754  instructions
99788  264.50  21696715  instructions
99792  264.52  15603097  instructions
99796  264.53  29208748  instructions
99800  264.53  16186317  instructions

[24950 rows x 3 columns]
instructions
         time instructions
4        0.02     21972490
8        0.03     28540488
12       0.04     43950675
16       0.05     53122325
20       0.07     32782294
...       ...          ...
99784  264.49     10197754
99788  264.50     21696715
99792  264.52     15603097
99796  264.53     29208748
99800  264.53     16186317

[24950 rows x 2 columns]
df3
         time mem_access
1        0.01    3355955
5        0.02    7921468
9        0.03   11032162
13       0.04   16809406
17       0.05   15654031
...       ...        ...
99785  264.49    3251306
99789  264.50    7744815
99793  264.52    5144418
99797  264.53    7406969
99801  264.53    4660806

[24951 rows x 2 columns]
df4
         time mem_access_rd
2        0.01       2073257
6        0.02       4999427
10       0.03       6972496
14       0.04      10747678
18       0.05      11181765
...       ...           ...
99786  264.49       2022696
99790  264.50       4945119
99794  264.52       3372454
99798  264.53       5161030
99802  264.53       2934632

[24951 rows x 2 columns]
df5
         time mem_access_wr
3        0.01       1282698
7        0.02       2922041
11       0.03       4059666
15       0.04       6061728
19       0.05       4472266
...       ...           ...
99787  264.49       1228610
99791  264.50       2799696
99795  264.52       1771964
99799  264.53       2245939
99803  264.53       1726174

[24951 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     21972490    7921468
1        0.03     28540488   11032162
2        0.04     43950675   16809406
3        0.05     53122325   15654031
4        0.07     32782294   11306541
...       ...          ...        ...
24947  264.52     15603097    5144418
24948  264.53     29208748    7406969
24949  264.53     29208748    4660806
24950  264.53     16186317    7406969
24951  264.53     16186317    4660806

[24952 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       2073257       1282698
1        0.02       4999427       2922041
2        0.03       6972496       4059666
3        0.04      10747678       6061728
4        0.05      11181765       4472266
...       ...           ...           ...
24948  264.52       3372454       1771964
24949  264.53       5161030       2245939
24950  264.53       5161030       1726174
24951  264.53       2934632       2245939
24952  264.53       2934632       1726174

[24953 rows x 3 columns]
merged_df
         time   instructions     cpu-cycles        br_pred    br_mis_pred  \
0        0.03       29095361       29598437        6611245         272845
1        0.04       28169307       29914002        6352459         255180
2        0.07       29895771       30181068        6969812         255666
3        0.08       34075571       30182834        7680548         273023
4        0.09       31949034       30190140        7206072         251555
...       ...            ...            ...            ...            ...
14764  264.20  <not counted>  <not counted>  <not counted>  <not counted>
14765  264.20  <not counted>  <not counted>  <not counted>  <not counted>
14766  264.20  <not counted>  <not counted>  <not counted>  <not counted>
14767  264.20  <not counted>  <not counted>  <not counted>  <not counted>
14768  264.20  <not counted>  <not counted>  <not counted>  <not counted>

      l1d_cache_rd l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ...  \
0          9699960      5594454  15294414  11408571           685596  ...
1          7968382      4487283  12455665  12544255           586356  ...
2          7180866      3685075  10865941  12266021           715952  ...
3          7941485      4491293  12432778  13023726           708892  ...
4          8229009      4584570  12813579  11955270           648446  ...
...            ...          ...       ...       ...              ...  ...
14764     12224697      6930508  19155205   4483153             7689  ...
14765     12224697      6930508  19155205   4483153             7689  ...
14766     12224697      6930508  19155205   4483153             7689  ...
14767     12224697      6930508  19155205   4483153             7689  ...
14768     12224697      6930508  19155205   4483153             7689  ...

      l2d_tlb_wr vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0          12842     3749  38132780    36273       5670850       13033436
1          13359     1146  36145790    19963       5947815       11930040
2          13423      695  36727093    24697       5586001       12762587
3          15505      932  42405161    22143       5613534       11723356
4          16759     1733  38253526    21317       5774333       12573827
...          ...      ...       ...      ...           ...            ...
14764        121   179876  67468171    32526       5952054        4937635
14765      18263   179876  67468171    32526       5952054        4937635
14766        121   179876  67468171    32526       5952054        4937635
14767      18263   179876  67468171    32526       5952054        4937635
14768        121   179876  67468171    32526       5952054        4937635

      ll_cache_miss_rd     mem_access  mem_access_rd  mem_access_wr
0               153904       11032162        6972496        4059666
1               166202       16809406       10747678        6061728
2               153225       11306541        7482145        3824396
3               141117       12592914        8041520        4551394
4               155441       12666786        8134598        4532188
...                ...            ...            ...            ...
14764            65525  <not counted>  <not counted>  <not counted>
14765            65525  <not counted>  <not counted>  <not counted>
14766            65525  <not counted>  <not counted>  <not counted>
14767            65525  <not counted>  <not counted>  <not counted>
14768            65525  <not counted>  <not counted>  <not counted>

[14769 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.013053  14357475         NaN  instructions    13938640
1         0.013053  41575081         NaN    cpu-cycles    13938640
2         0.013053   2652670         NaN       br_pred    13938640
3         0.013053    101617         NaN   br_mis_pred    13938640
4         0.023424  28806594         NaN  instructions     9910080
...            ...       ...         ...           ...         ...
146991  385.412959    125535         NaN   br_mis_pred    10079200
146992  385.420789  30509376         NaN  instructions     7514120
146993  385.420789  22511452         NaN    cpu-cycles     7514120
146994  385.420789   4380035         NaN       br_pred     7514120
146995  385.420789      7368         NaN   br_mis_pred     7514120

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.35  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.97  insn per cycle
...            ...         ...             ...
146991       100.0         NaN             NaN
146992       100.0        1.36  insn per cycle
146993       100.0         NaN             NaN
146994       100.0         NaN             NaN
146995       100.0         NaN             NaN

[146996 rows x 8 columns]
          time     value       counter
4         0.02  28806594  instructions
8         0.03  29379176  instructions
12        0.04  32435345  instructions
16        0.05  53387417  instructions
20        0.06  32931458  instructions
...        ...       ...           ...
146976  385.38   6617035  instructions
146980  385.39  14805539  instructions
146984  385.40  22149971  instructions
146988  385.41  19100253  instructions
146992  385.42  30509376  instructions

[36748 rows x 3 columns]
instructions
          time instructions
4         0.02     28806594
8         0.03     29379176
12        0.04     32435345
16        0.05     53387417
20        0.06     32931458
...        ...          ...
146976  385.38      6617035
146980  385.39     14805539
146984  385.40     22149971
146988  385.41     19100253
146992  385.42     30509376

[36748 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   41575081
5         0.02   29653048
9         0.03   30176245
13        0.04   30231320
17        0.05   30148110
...        ...        ...
146977  385.38    8636820
146981  385.39   30159634
146985  385.40   28616810
146989  385.41   30200556
146993  385.42   22511452

[36749 rows x 2 columns]
df4
          time   br_pred
2         0.01   2652670
6         0.02   6482315
10        0.03   6637952
14        0.04   7425630
18        0.05  13501581
...        ...       ...
146978  385.38   1075950
146982  385.39   3226172
146986  385.40   5111054
146990  385.41   5311440
146994  385.42   4380035

[36749 rows x 2 columns]
df5
          time br_mis_pred
3         0.01      101617
7         0.02      266596
11        0.03      266990
15        0.04      256055
19        0.05      227485
...        ...         ...
146979  385.38        5548
146983  385.39       61175
146987  385.40       40494
146991  385.41      125535
146995  385.42        7368

[36749 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     28806594   29653048
1        0.03     29379176   30176245
2        0.04     32435345   30231320
3        0.05     53387417   30148110
4        0.06     32931458   30155685
...       ...          ...        ...
36743  385.38      6617035    8636820
36744  385.39     14805539   30159634
36745  385.40     22149971   28616810
36746  385.41     19100253   30200556
36747  385.42     30509376   22511452

[36748 rows x 3 columns]
df7
         time   br_pred br_mis_pred
0        0.01   2652670      101617
1        0.02   6482315      266596
2        0.03   6637952      266990
3        0.04   7425630      256055
4        0.05  13501581      227485
...       ...       ...         ...
36744  385.38   1075950        5548
36745  385.39   3226172       61175
36746  385.40   5111054       40494
36747  385.41   5311440      125535
36748  385.42   4380035        7368

[36749 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011740  13187892         NaN  instructions    12687240
1         0.011740   2549726         NaN  l1d_cache_rd    12687240
2         0.011740   1562913         NaN  l1d_cache_wr    12687240
3         0.011740   4112639         NaN     l1d_cache    12687240
4         0.022138  25818213         NaN  instructions     9977760
...            ...       ...         ...           ...         ...
147707  387.464057   5264607         NaN     l1d_cache    10060960
147708  387.471012  27353341         NaN  instructions     6602120
147709  387.471012   4940305         NaN  l1d_cache_rd     6602120
147710  387.471012   2913285         NaN  l1d_cache_wr     6602120
147711  387.471012   7853590         NaN     l1d_cache     6602120

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
147707       100.0         NaN         NaN
147708       100.0         NaN         NaN
147709       100.0         NaN         NaN
147710       100.0         NaN         NaN
147711       100.0         NaN         NaN

[147712 rows x 8 columns]
          time          value       counter
4         0.02       25818213  instructions
8         0.03       27903624  instructions
12        0.04       31729649  instructions
16        0.05       50552234  instructions
20        0.06       38086545  instructions
...        ...            ...           ...
147692  387.43  <not counted>  instructions
147696  387.44       23791161  instructions
147700  387.45       20634360  instructions
147704  387.46       21208301  instructions
147708  387.47       27353341  instructions

[36927 rows x 3 columns]
instructions
          time   instructions
4         0.02       25818213
8         0.03       27903624
12        0.04       31729649
16        0.05       50552234
20        0.06       38086545
...        ...            ...
147692  387.43  <not counted>
147696  387.44       23791161
147700  387.45       20634360
147704  387.46       21208301
147708  387.47       27353341

[36927 rows x 2 columns]
df3
          time   l1d_cache_rd
1         0.01        2549726
5         0.02        6063480
9         0.03        6817744
13        0.04        7747066
17        0.05       10884307
...        ...            ...
147693  387.43  <not counted>
147697  387.44        5099266
147701  387.45        4572925
147705  387.46        3851279
147709  387.47        4940305

[36928 rows x 2 columns]
df4
          time   l1d_cache_wr
2         0.01        1562913
6         0.02        3548675
10        0.03        3983544
14        0.04        4401265
18        0.05        4603131
...        ...            ...
147694  387.43  <not counted>
147698  387.44        2990770
147702  387.45        2438007
147706  387.46        1413328
147710  387.47        2913285

[36928 rows x 2 columns]
df5
          time      l1d_cache
3         0.01        4112639
7         0.02        9612155
11        0.03       10801288
15        0.04       12148331
19        0.05       15487438
...        ...            ...
147695  387.43  <not counted>
147699  387.44        8090036
147703  387.45        7010932
147707  387.46        5264607
147711  387.47        7853590

[36928 rows x 2 columns]
df6
         time   instructions   l1d_cache_rd
0        0.02       25818213        6063480
1        0.03       27903624        6817744
2        0.04       31729649        7747066
3        0.05       50552234       10884307
4        0.06       38086545        8499264
...       ...            ...            ...
36922  387.43  <not counted>  <not counted>
36923  387.44       23791161        5099266
36924  387.45       20634360        4572925
36925  387.46       21208301        3851279
36926  387.47       27353341        4940305

[36927 rows x 3 columns]
df7
         time   l1d_cache_wr      l1d_cache
0        0.01        1562913        4112639
1        0.02        3548675        9612155
2        0.03        3983544       10801288
3        0.04        4401265       12148331
4        0.05        4603131       15487438
...       ...            ...            ...
36923  387.43  <not counted>  <not counted>
36924  387.44        2990770        8090036
36925  387.45        2438007        7010932
36926  387.46        1413328        5264607
36927  387.47        2913285        7853590

[36928 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010154  10794614         NaN      instructions    10875440
1         0.010154   3895303         NaN         l1i_cache    10875440
2         0.010154    253104         NaN  l1i_cache_refill    10875440
3         0.010154     92708         NaN     remote_access    10875440
4         0.020665  22301755         NaN      instructions     9887800
...            ...       ...         ...               ...         ...
142475  373.939016      4728         NaN     remote_access    10059360
142476  373.946492  28842559         NaN      instructions     7046080
142477  373.946492   7771497         NaN         l1i_cache     7046080
142478  373.946492      5318         NaN  l1i_cache_refill     7046080
142479  373.946492      4710         NaN     remote_access     7046080

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
142475       100.0         NaN         NaN
142476       100.0         NaN         NaN
142477       100.0         NaN         NaN
142478       100.0         NaN         NaN
142479       100.0         NaN         NaN

[142480 rows x 8 columns]
          time          value       counter
4         0.02       22301755  instructions
8         0.03       28904039  instructions
12        0.04       43718273  instructions
16        0.05       53213548  instructions
20        0.06       32629087  instructions
...        ...            ...           ...
142460  373.90  <not counted>  instructions
142464  373.92       21222698  instructions
142468  373.93       22818818  instructions
142472  373.94       20213040  instructions
142476  373.95       28842559  instructions

[35619 rows x 3 columns]
instructions
          time   instructions
4         0.02       22301755
8         0.03       28904039
12        0.04       43718273
16        0.05       53213548
20        0.06       32629087
...        ...            ...
142460  373.90  <not counted>
142464  373.92       21222698
142468  373.93       22818818
142472  373.94       20213040
142476  373.95       28842559

[35619 rows x 2 columns]
df3
          time      l1i_cache
1         0.01        3895303
5         0.02        8642091
9         0.03       11730463
13        0.04       17263055
17        0.05       18003338
...        ...            ...
142461  373.90  <not counted>
142465  373.92        7232759
142469  373.93        7082494
142473  373.94        7372818
142477  373.95        7771497

[35620 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           253104
6         0.02           446308
10        0.03           696506
14        0.04           807295
18        0.05           524924
...        ...              ...
142462  373.90    <not counted>
142466  373.92           221364
142470  373.93            94173
142474  373.94            13925
142478  373.95             5318

[35620 rows x 2 columns]
df5
          time  remote_access
3         0.01          92708
7         0.02          53039
11        0.03          35415
15        0.04          45248
19        0.05          11706
...        ...            ...
142463  373.90  <not counted>
142467  373.92          22209
142471  373.93           5372
142475  373.94           4728
142479  373.95           4710

[35620 rows x 2 columns]
df6
         time   instructions      l1i_cache
0        0.02       22301755        8642091
1        0.03       28904039       11730463
2        0.04       43718273       17263055
3        0.05       53213548       18003338
4        0.06       32629087       12487924
...       ...            ...            ...
35614  373.90  <not counted>  <not counted>
35615  373.92       21222698        7232759
35616  373.93       22818818        7082494
35617  373.94       20213040        7372818
35618  373.95       28842559        7771497

[35619 rows x 3 columns]
df7
         time l1i_cache_refill  remote_access
0        0.01           253104          92708
1        0.02           446308          53039
2        0.03           696506          35415
3        0.04           807295          45248
4        0.05           524924          11706
...       ...              ...            ...
35615  373.90    <not counted>  <not counted>
35616  373.92           221364          22209
35617  373.93            94173           5372
35618  373.94            13925           4728
35619  373.95             5318           4710

[35620 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011130  12820110         NaN  instructions    12073800
1         0.011130    467440         NaN  l2d_cache_rd    12073800
2         0.011130    165042         NaN  l2d_cache_wr    12073800
3         0.011130    632482         NaN     l2d_cache    12073800
4         0.021580  26488548         NaN  instructions     9955200
...            ...       ...         ...           ...         ...
142555  373.719273   1403932         NaN     l2d_cache    13464640
142556  373.724085  17485785         NaN  instructions     4400360
142557  373.724085     81076         NaN  l2d_cache_rd     4400360
142558  373.724085     74814         NaN  l2d_cache_wr     4400360
142559  373.724085    155890         NaN     l2d_cache     4400360

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
142555       100.0         NaN         NaN
142556       100.0         NaN         NaN
142557       100.0         NaN         NaN
142558       100.0         NaN         NaN
142559       100.0         NaN         NaN

[142560 rows x 8 columns]
          time     value       counter
4         0.02  26488548  instructions
8         0.03  28536920  instructions
12        0.04  33497486  instructions
16        0.05  53006166  instructions
20        0.06  35530704  instructions
...        ...       ...           ...
142540  373.69   6187309  instructions
142544  373.70  13391983  instructions
142548  373.71  23126614  instructions
142552  373.72  32392847  instructions
142556  373.72  17485785  instructions

[35639 rows x 3 columns]
instructions
          time instructions
4         0.02     26488548
8         0.03     28536920
12        0.04     33497486
16        0.05     53006166
20        0.06     35530704
...        ...          ...
142540  373.69      6187309
142544  373.70     13391983
142548  373.71     23126614
142552  373.72     32392847
142556  373.72     17485785

[35639 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       467440
5         0.02       717980
9         0.03       869005
13        0.04       822107
17        0.05       900790
...        ...          ...
142541  373.69        67081
142545  373.70       319223
142549  373.71       395975
142553  373.72       735886
142557  373.72        81076

[35640 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       165042
6         0.02       180617
10        0.03       186080
14        0.04       219092
18        0.05       364407
...        ...          ...
142542  373.69        59423
142546  373.70       110155
142550  373.71       266944
142554  373.72       668046
142558  373.72        74814

[35640 rows x 2 columns]
df5
          time l2d_cache
3         0.01    632482
7         0.02    898597
11        0.03   1055085
15        0.04   1041199
19        0.05   1265197
...        ...       ...
142543  373.69    126504
142547  373.70    429378
142551  373.71    662919
142555  373.72   1403932
142559  373.72    155890

[35640 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     26488548       717980
1        0.03     28536920       869005
2        0.04     33497486       822107
3        0.05     53006166       900790
4        0.06     35530704       877120
...       ...          ...          ...
35636  373.71     23126614       395975
35637  373.72     32392847       735886
35638  373.72     32392847        81076
35639  373.72     17485785       735886
35640  373.72     17485785        81076

[35641 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       165042    632482
1        0.02       180617    898597
2        0.03       186080   1055085
3        0.04       219092   1041199
4        0.05       364407   1265197
...       ...          ...       ...
35637  373.71       266944    662919
35638  373.72       668046   1403932
35639  373.72       668046    155890
35640  373.72        74814   1403932
35641  373.72        74814    155890

[35642 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010125  10388317         NaN  instructions    11113480
1         0.010125   4892516         NaN       l1d_tlb    11113480
2         0.010125   3383571         NaN    l1d_tlb_rd    11113480
3         0.010125   1508945         NaN    l1d_tlb_wr    11113480
4         0.020755  22192042         NaN  instructions     9951240
...            ...       ...         ...           ...         ...
147255  385.857710   2229383         NaN    l1d_tlb_wr    10057920
147256  385.862437  16677220         NaN  instructions     4251440
147257  385.862437   6359343         NaN       l1d_tlb     4251440
147258  385.862437   4572302         NaN    l1d_tlb_rd     4251440
147259  385.862437   1787041         NaN    l1d_tlb_wr     4251440

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
147255       100.0         NaN         NaN
147256       100.0         NaN         NaN
147257       100.0         NaN         NaN
147258       100.0         NaN         NaN
147259       100.0         NaN         NaN

[147260 rows x 8 columns]
          time     value       counter
4         0.02  22192042  instructions
8         0.03  31113276  instructions
12        0.04  30859353  instructions
16        0.05  49380617  instructions
20        0.06  40126762  instructions
...        ...       ...           ...
147240  385.83  10408829  instructions
147244  385.84  19557437  instructions
147248  385.85  17578278  instructions
147252  385.86  28918308  instructions
147256  385.86  16677220  instructions

[36814 rows x 3 columns]
instructions
          time instructions
4         0.02     22192042
8         0.03     31113276
12        0.04     30859353
16        0.05     49380617
20        0.06     40126762
...        ...          ...
147240  385.83     10408829
147244  385.84     19557437
147248  385.85     17578278
147252  385.86     28918308
147256  385.86     16677220

[36814 rows x 2 columns]
df3
          time   l1d_tlb
1         0.01   4892516
5         0.02   9405488
9         0.03  13518330
13        0.04  13287651
17        0.05  16920573
...        ...       ...
147241  385.83   3918864
147245  385.84   7722887
147249  385.85   6739703
147253  385.86   9116372
147257  385.86   6359343

[36815 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    3383571
6         0.02    6176828
10        0.03    8734223
14        0.04    8620269
18        0.05   11830108
...        ...        ...
147242  385.83    2629412
147246  385.84    5131988
147250  385.85    4559411
147254  385.86    6886989
147258  385.86    4572302

[36815 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1508945
7         0.02    3228660
11        0.03    4784107
15        0.04    4667382
19        0.05    5090465
...        ...        ...
147243  385.83    1289452
147247  385.84    2590899
147251  385.85    2180292
147255  385.86    2229383
147259  385.86    1787041

[36815 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.02     22192042   9405488
1        0.03     31113276  13518330
2        0.04     30859353  13287651
3        0.05     49380617  16920573
4        0.06     40126762  14228995
...       ...          ...       ...
36811  385.85     17578278   6739703
36812  385.86     28918308   9116372
36813  385.86     28918308   6359343
36814  385.86     16677220   9116372
36815  385.86     16677220   6359343

[36816 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    3383571    1508945
1        0.02    6176828    3228660
2        0.03    8734223    4784107
3        0.04    8620269    4667382
4        0.05   11830108    5090465
...       ...        ...        ...
36812  385.85    4559411    2180292
36813  385.86    6886989    2229383
36814  385.86    6886989    1787041
36815  385.86    4572302    2229383
36816  385.86    4572302    1787041

[36817 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011514  12830741         NaN  instructions    12468640
1         0.011514     20229         NaN     dtlb_walk    12468640
2         0.011514      1898         NaN     itlb_walk    12468640
3         0.011514   4243126         NaN       l1i_tlb    12468640
4         0.021984  25430284         NaN  instructions     9979280
...            ...       ...         ...           ...         ...
147555  386.456259   8334975         NaN       l1i_tlb    10088040
147556  386.457049    687987         NaN  instructions      316160
147557  386.457049       835         NaN     dtlb_walk      316160
147558  386.457049         3         NaN     itlb_walk      316160
147559  386.457049    163729         NaN       l1i_tlb      316160

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
147555       100.0         NaN         NaN
147556       100.0         NaN         NaN
147557       100.0         NaN         NaN
147558       100.0         NaN         NaN
147559       100.0         NaN         NaN

[147560 rows x 8 columns]
          time     value       counter
4         0.02  25430284  instructions
8         0.03  27931472  instructions
12        0.04  31119238  instructions
16        0.05  50338117  instructions
20        0.06  38316222  instructions
...        ...       ...           ...
147540  386.43  15607015  instructions
147544  386.44  23990014  instructions
147548  386.45  14002535  instructions
147552  386.46  38787050  instructions
147556  386.46    687987  instructions

[36889 rows x 3 columns]
instructions
          time instructions
4         0.02     25430284
8         0.03     27931472
12        0.04     31119238
16        0.05     50338117
20        0.06     38316222
...        ...          ...
147540  386.43     15607015
147544  386.44     23990014
147548  386.45     14002535
147552  386.46     38787050
147556  386.46       687987

[36889 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     20229
5         0.02      5956
9         0.03      3816
13        0.04      4395
17        0.05      2344
...        ...       ...
147541  386.43     14066
147545  386.44     18504
147549  386.45     37420
147553  386.46     15729
147557  386.46       835

[36890 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1898
6         0.02      1229
10        0.03      1102
14        0.04      1099
18        0.05       389
...        ...       ...
147542  386.43      1503
147546  386.44      1170
147550  386.45       403
147554  386.46       202
147558  386.46         3

[36890 rows x 2 columns]
df5
          time   l1i_tlb
3         0.01   4243126
7         0.02   8515027
11        0.03   9465422
15        0.04  10164131
19        0.05  13420142
...        ...       ...
147543  386.43   4479989
147547  386.44   6166280
147551  386.45   4914625
147555  386.46   8334975
147559  386.46    163729

[36890 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     25430284      5956
1        0.03     27931472      3816
2        0.04     31119238      4395
3        0.05     50338117      2344
4        0.06     38316222      4111
...       ...          ...       ...
36886  386.45     14002535     37420
36887  386.46     38787050     15729
36888  386.46     38787050       835
36889  386.46       687987     15729
36890  386.46       687987       835

[36891 rows x 3 columns]
df7
         time itlb_walk   l1i_tlb
0        0.01      1898   4243126
1        0.02      1229   8515027
2        0.03      1102   9465422
3        0.04      1099  10164131
4        0.05       389  13420142
...       ...       ...       ...
36887  386.45       403   4914625
36888  386.46       202   8334975
36889  386.46       202    163729
36890  386.46         3   8334975
36891  386.46         3    163729

[36892 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011762  12815817         NaN  instructions    12690960
1         0.011762     81269         NaN       l2d_tlb    12690960
2         0.011762     67343         NaN    l2d_tlb_rd    12690960
3         0.011762     13926         NaN    l2d_tlb_wr    12690960
4         0.022245  26452613         NaN  instructions    10011360
...            ...       ...         ...           ...         ...
143111  374.953546     11670         NaN    l2d_tlb_wr     9998960
143112  374.958263  17453937         NaN  instructions     4329400
143113  374.958263     26334         NaN       l2d_tlb     4329400
143114  374.958263     16702         NaN    l2d_tlb_rd     4329400
143115  374.958263      9632         NaN    l2d_tlb_wr     4329400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
143111       100.0         NaN         NaN
143112       100.0         NaN         NaN
143113       100.0         NaN         NaN
143114       100.0         NaN         NaN
143115       100.0         NaN         NaN

[143116 rows x 8 columns]
          time     value       counter
4         0.02  26452613  instructions
8         0.03  27471317  instructions
12        0.04  32077676  instructions
16        0.05  50761454  instructions
20        0.06  37433979  instructions
...        ...       ...           ...
143096  374.92  10141029  instructions
143100  374.93  21301978  instructions
143104  374.94  16062734  instructions
143108  374.95  28133231  instructions
143112  374.96  17453937  instructions

[35778 rows x 3 columns]
instructions
          time instructions
4         0.02     26452613
8         0.03     27471317
12        0.04     32077676
16        0.05     50761454
20        0.06     37433979
...        ...          ...
143096  374.92     10141029
143100  374.93     21301978
143104  374.94     16062734
143108  374.95     28133231
143112  374.96     17453937

[35778 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   81269
5         0.02  222848
9         0.03  268974
13        0.04  277721
17        0.05  398579
...        ...     ...
143097  374.92   72902
143101  374.93  184773
143105  374.94  171452
143109  374.95   97023
143113  374.96   26334

[35779 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      67343
6         0.02     210433
10        0.03     255426
14        0.04     263814
18        0.05     382589
...        ...        ...
143098  374.92      66682
143102  374.93     169861
143106  374.94     159722
143110  374.95      85353
143114  374.96      16702

[35779 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      13926
7         0.02      12415
11        0.03      13548
15        0.04      13907
19        0.05      15990
...        ...        ...
143099  374.92       6220
143103  374.93      14912
143107  374.94      11730
143111  374.95      11670
143115  374.96       9632

[35779 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     26452613  222848
1        0.03     27471317  268974
2        0.04     32077676  277721
3        0.05     50761454  398579
4        0.06     37433979  326937
...       ...          ...     ...
35773  374.92     10141029   72902
35774  374.93     21301978  184773
35775  374.94     16062734  171452
35776  374.95     28133231   97023
35777  374.96     17453937   26334

[35778 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      67343      13926
1        0.02     210433      12415
2        0.03     255426      13548
3        0.04     263814      13907
4        0.05     382589      15990
...       ...        ...        ...
35774  374.92      66682       6220
35775  374.93     169861      14912
35776  374.94     159722      11730
35777  374.95      85353      11670
35778  374.96      16702       9632

[35779 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014740  18982893         NaN  instructions    15636800
1         0.014740       301         NaN      vfp_spec    15636800
2         0.014740  23065469         NaN     inst_spec    15636800
3         0.014740     16371         NaN      ase_spec    15636800
4         0.025218  30197308         NaN  instructions     9895200
...            ...       ...         ...           ...         ...
147747  385.816495         0         NaN      ase_spec    10068720
147748  385.817068    340776         NaN  instructions      270440
147749  385.817068         0         NaN      vfp_spec      270440
147750  385.817068    381482         NaN     inst_spec      270440
147751  385.817068         0         NaN      ase_spec      270440

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
147747       100.0         NaN         NaN
147748       100.0         NaN         NaN
147749       100.0         NaN         NaN
147750       100.0         NaN         NaN
147751       100.0         NaN         NaN

[147752 rows x 8 columns]
          time     value       counter
4         0.03  30197308  instructions
8         0.04  30512171  instructions
12        0.05  41431299  instructions
16        0.06  52625167  instructions
20        0.07  28585407  instructions
...        ...       ...           ...
147732  385.79  15749280  instructions
147736  385.80  22213968  instructions
147740  385.81  15918062  instructions
147744  385.82  39062798  instructions
147748  385.82    340776  instructions

[36937 rows x 3 columns]
instructions
          time instructions
4         0.03     30197308
8         0.04     30512171
12        0.05     41431299
16        0.06     52625167
20        0.07     28585407
...        ...          ...
147732  385.79     15749280
147736  385.80     22213968
147740  385.81     15918062
147744  385.82     39062798
147748  385.82       340776

[36937 rows x 2 columns]
df3
          time vfp_spec
1         0.01      301
5         0.03     3737
9         0.04     1145
13        0.05      515
17        0.06      322
...        ...      ...
147733  385.79      246
147737  385.80        0
147741  385.81        0
147745  385.82        0
147749  385.82        0

[36938 rows x 2 columns]
df4
          time inst_spec
2         0.01  23065469
6         0.03  37955065
10        0.04  38155662
14        0.05  49108384
18        0.06  60523786
...        ...       ...
147734  385.79  17798817
147738  385.80  24011092
147742  385.81  19257879
147746  385.82  41636429
147750  385.82    381482

[36938 rows x 2 columns]
df5
          time ase_spec
3         0.01    16371
7         0.03    36447
11        0.04    20850
15        0.05    30146
19        0.06    30287
...        ...      ...
147735  385.79     1684
147739  385.80     3058
147743  385.81       36
147747  385.82        0
147751  385.82        0

[36938 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.03     30197308     3737
1        0.04     30512171     1145
2        0.05     41431299      515
3        0.06     52625167      322
4        0.07     28585407      811
...       ...          ...      ...
36934  385.81     15918062        0
36935  385.82     39062798        0
36936  385.82     39062798        0
36937  385.82       340776        0
36938  385.82       340776        0

[36939 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  23065469    16371
1        0.03  37955065    36447
2        0.04  38155662    20850
3        0.05  49108384    30146
4        0.06  60523786    30287
...       ...       ...      ...
36935  385.81  19257879       36
36936  385.82  41636429        0
36937  385.82  41636429        0
36938  385.82    381482        0
36939  385.82    381482        0

[36940 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.011480  13162484         NaN      instructions    12352960
1         0.011480  13947576         NaN     stall_backend    12352960
2         0.011480  18022199         NaN    stall_frontend    12352960
3         0.011480    212152         NaN  ll_cache_miss_rd    12352960
4         0.021925  27763511         NaN      instructions     9999440
...            ...       ...         ...               ...         ...
142495  372.142843    552162         NaN  ll_cache_miss_rd    10072600
142496  372.152748  36589643         NaN      instructions     9458200
142497  372.152748  15809573         NaN     stall_backend     9458200
142498  372.152748   1199354         NaN    stall_frontend     9458200
142499  372.152748    404019         NaN  ll_cache_miss_rd     9458200

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
142495       100.0         NaN         NaN
142496       100.0         NaN         NaN
142497       100.0         NaN         NaN
142498       100.0         NaN         NaN
142499       100.0         NaN         NaN

[142500 rows x 8 columns]
          time     value       counter
4         0.02  27763511  instructions
8         0.03  28120450  instructions
12        0.04  33008689  instructions
16        0.05  53188012  instructions
20        0.06  35160452  instructions
...        ...       ...           ...
142480  372.11     19180  instructions
142484  372.12  16563078  instructions
142488  372.13  24014664  instructions
142492  372.14  15667816  instructions
142496  372.15  36589643  instructions

[35624 rows x 3 columns]
instructions
          time instructions
4         0.02     27763511
8         0.03     28120450
12        0.04     33008689
16        0.05     53188012
20        0.06     35160452
...        ...          ...
142480  372.11        19180
142484  372.12     16563078
142488  372.13     24014664
142492  372.14     15667816
142496  372.15     36589643

[35624 rows x 2 columns]
df3
          time stall_backend
1         0.01      13947576
5         0.02       6909212
9         0.03       5861342
13        0.04       5839174
17        0.05       4800296
...        ...           ...
142481  372.11         40907
142485  372.12      22787613
142489  372.13      20153479
142493  372.14      23335411
142497  372.15      15809573

[35625 rows x 2 columns]
df4
          time stall_frontend
2         0.01       18022199
6         0.02       12184101
10        0.03       12691213
14        0.04       11603401
18        0.05        7215600
...        ...            ...
142482  372.11          89891
142486  372.12        4318519
142490  372.13        2241067
142494  372.14         894768
142498  372.15        1199354

[35625 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           212152
7         0.02           149578
11        0.03           155456
15        0.04           161234
19        0.05            75783
...        ...              ...
142483  372.11             1340
142487  372.12           126861
142491  372.13           185318
142495  372.14           552162
142499  372.15           404019

[35625 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     27763511       6909212
1        0.03     28120450       5861342
2        0.04     33008689       5839174
3        0.05     53188012       4800296
4        0.06     35160452       5651154
...       ...          ...           ...
35619  372.11        19180         40907
35620  372.12     16563078      22787613
35621  372.13     24014664      20153479
35622  372.14     15667816      23335411
35623  372.15     36589643      15809573

[35624 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01       18022199           212152
1        0.02       12184101           149578
2        0.03       12691213           155456
3        0.04       11603401           161234
4        0.05        7215600            75783
...       ...            ...              ...
35620  372.11          89891             1340
35621  372.12        4318519           126861
35622  372.13        2241067           185318
35623  372.14         894768           552162
35624  372.15        1199354           404019

[35625 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.014581  18781897         NaN   instructions    15343640
1         0.014581   6050343         NaN     mem_access    15343640
2         0.014581   3742931         NaN  mem_access_rd    15343640
3         0.014581   2307412         NaN  mem_access_wr    15343640
4         0.025066  30337557         NaN   instructions     9930400
...            ...       ...         ...            ...         ...
142435  372.370268   3520407         NaN  mem_access_wr    10074240
142436  372.370876    318484         NaN   instructions      195760
142437  372.370876     91832         NaN     mem_access      195760
142438  372.370876     54814         NaN  mem_access_rd      195760
142439  372.370876     37018         NaN  mem_access_wr      195760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
142435       100.0         NaN         NaN
142436       100.0         NaN         NaN
142437       100.0         NaN         NaN
142438       100.0         NaN         NaN
142439       100.0         NaN         NaN

[142440 rows x 8 columns]
          time     value       counter
4         0.03  30337557  instructions
8         0.04  29463947  instructions
12        0.05  39297046  instructions
16        0.06  52784978  instructions
20        0.07  28075013  instructions
...        ...       ...           ...
142420  372.34  15922870  instructions
142424  372.35  23832663  instructions
142428  372.36  14137723  instructions
142432  372.37  39046151  instructions
142436  372.37    318484  instructions

[35609 rows x 3 columns]
instructions
          time instructions
4         0.03     30337557
8         0.04     29463947
12        0.05     39297046
16        0.06     52784978
20        0.07     28075013
...        ...          ...
142420  372.34     15922870
142424  372.35     23832663
142428  372.36     14137723
142432  372.37     39046151
142436  372.37       318484

[35609 rows x 2 columns]
df3
          time mem_access
1         0.01    6050343
5         0.03   11576689
9         0.04   11405213
13        0.05   14062322
17        0.06   15374411
...        ...        ...
142421  372.34    5371003
142425  372.35    8369753
142429  372.36    4158149
142433  372.37   10369169
142437  372.37      91832

[35610 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       3742931
6         0.03       7331161
10        0.04       7241585
14        0.05       9212711
18        0.06      11040669
...        ...           ...
142422  372.34       3297550
142426  372.35       5450396
142430  372.36       2865083
142434  372.37       6848762
142438  372.37         54814

[35610 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       2307412
7         0.03       4245528
11        0.04       4163628
15        0.05       4849611
19        0.06       4333742
...        ...           ...
142423  372.34       2073453
142427  372.35       2919357
142431  372.36       1293066
142435  372.37       3520407
142439  372.37         37018

[35610 rows x 2 columns]
df6
         time instructions mem_access
0        0.03     30337557   11576689
1        0.04     29463947   11405213
2        0.05     39297046   14062322
3        0.06     52784978   15374411
4        0.07     28075013   10593667
...       ...          ...        ...
35606  372.36     14137723    4158149
35607  372.37     39046151   10369169
35608  372.37     39046151      91832
35609  372.37       318484   10369169
35610  372.37       318484      91832

[35611 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       3742931       2307412
1        0.03       7331161       4245528
2        0.04       7241585       4163628
3        0.05       9212711       4849611
4        0.06      11040669       4333742
...       ...           ...           ...
35607  372.36       2865083       1293066
35608  372.37       6848762       3520407
35609  372.37       6848762         37018
35610  372.37         54814       3520407
35611  372.37         54814         37018

[35612 rows x 3 columns]
merged_df
         time instructions cpu-cycles   br_pred br_mis_pred l1d_cache_rd  \
0        0.03     29379176   30176245   6637952      266990      6817744
1        0.04     32435345   30231320   7425630      256055      7747066
2        0.05     53387417   30148110  13501581      227485     10884307
3        0.06     32931458   30155685   7790458      259769      8499264
4        0.09     43595570   39127410   9875805      340507      7337354
...       ...          ...        ...       ...         ...          ...
23448  372.09     53216466   30127477   7334905      110912     12123997
23449  372.10     50365729   30163843   5197926       13410     11481639
23450  372.11     61201330   30148750   5826879       31187      9825037
23451  372.13     73434771   30165241   5191462       25242      5482273
23452  372.14     73271300   30143145   5177325       25438      5626653

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ... l2d_tlb_wr  \
0          3983544  10801288  11730463           696506  ...      13548
1          4401265  12148331  17263055           807295  ...      13907
2          4603131  15487438  18003338           524924  ...      15990
3          4012638  12511902  12487924           624191  ...      14672
4          4139885  11477239  13133821           695907  ...      17173
...            ...       ...       ...              ...  ...        ...
23448      4538399  16662396  20878606           537011  ...       8629
23449      4224417  15706056  20733403           533055  ...      38785
23450      3898872  13723909  21280036           537368  ...      42817
23451       774328   6256601  21295250           539004  ...      33632
23452       694556   6321209  21252832           541397  ...      33946

       vfp_spec inst_spec  ase_spec  stall_backend stall_frontend  \
0          3737  37955065     36447        5861342       12691213
1          1145  38155662     20850        5839174       11603401
2           515  49108384     30146        4800296        7215600
3           322  60523786     30287        5651154       11454007
4          1782  41373710     24550        5749786       12092314
...         ...       ...       ...            ...            ...
23448  15630283  59816005    210082  <not counted>  <not counted>
23449  14020198  59289281   2252135  <not counted>  <not counted>
23450   7625997  48590243   6875616          40907          89891
23451   1110516  52034743  18956136       20153479        2241067
23452   3670488  55660896  17107570       23335411         894768

      ll_cache_miss_rd     mem_access  mem_access_rd  mem_access_wr
0               155456       11576689        7331161        4245528
1               161234       11405213        7241585        4163628
2                75783       14062322        9212711        4849611
3               136845       15374411       11040669        4333742
4               154226       12795905        8232481        4563424
...                ...            ...            ...            ...
23448    <not counted>  <not counted>  <not counted>  <not counted>
23449    <not counted>          68625          43690          24935
23450             1340  <not counted>  <not counted>  <not counted>
23451           185318        5481583        3372787        2108796
23452           552162        7893004        5332609        2560395

[23453 rows x 32 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014816  19273946         NaN  instructions    15697200
1         0.014816  46840095         NaN    cpu-cycles    15697200
2         0.014816   3678136         NaN       br_pred    15697200
3         0.014816    150703         NaN   br_mis_pred    15697200
4         0.025350  29994409         NaN  instructions     9966360
...            ...       ...         ...           ...         ...
128431  337.657351    124498         NaN   br_mis_pred    10067400
128432  337.665249  30773285         NaN  instructions     7545280
128433  337.665249  22605104         NaN    cpu-cycles     7545280
128434  337.665249   4427551         NaN       br_pred     7545280
128435  337.665249      6854         NaN   br_mis_pred     7545280

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.41  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        1.01  insn per cycle
...            ...         ...             ...
128431       100.0         NaN             NaN
128432       100.0        1.36  insn per cycle
128433       100.0         NaN             NaN
128434       100.0         NaN             NaN
128435       100.0         NaN             NaN

[128436 rows x 8 columns]
          time     value       counter
4         0.03  29994409  instructions
8         0.04  29940212  instructions
12        0.05  37634498  instructions
16        0.06  52978637  instructions
20        0.07  28776614  instructions
...        ...       ...           ...
128416  337.62     17323  instructions
128420  337.64  20736407  instructions
128424  337.65  22828095  instructions
128428  337.66  18545338  instructions
128432  337.67  30773285  instructions

[32108 rows x 3 columns]
instructions
          time instructions
4         0.03     29994409
8         0.04     29940212
12        0.05     37634498
16        0.06     52978637
20        0.07     28776614
...        ...          ...
128416  337.62        17323
128420  337.64     20736407
128424  337.65     22828095
128428  337.66     18545338
128432  337.67     30773285

[32108 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   46840095
5         0.03   29823967
9         0.04   30083565
13        0.05   29488885
17        0.06   30170038
...        ...        ...
128417  337.62      46874
128421  337.64   38224215
128425  337.65   29946012
128429  337.66   30167315
128433  337.67   22605104

[32109 rows x 2 columns]
df4
          time   br_pred
2         0.01   3678136
6         0.03   6813533
10        0.04   6777574
14        0.05   8793494
18        0.06  13505510
...        ...       ...
128418  337.62      4237
128422  337.64   4158915
128426  337.65   5276834
128430  337.66   5214847
128434  337.67   4427551

[32109 rows x 2 columns]
df5
          time br_mis_pred
3         0.01      150703
7         0.03      279294
11        0.04      268698
15        0.05      237791
19        0.06      240551
...        ...         ...
128419  337.62         572
128423  337.64       65275
128427  337.65       43048
128431  337.66      124498
128435  337.67        6854

[32109 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.03     29994409   29823967
1        0.04     29940212   30083565
2        0.05     37634498   29488885
3        0.06     52978637   30170038
4        0.07     28776614   30185553
...       ...          ...        ...
32103  337.62        17323      46874
32104  337.64     20736407   38224215
32105  337.65     22828095   29946012
32106  337.66     18545338   30167315
32107  337.67     30773285   22605104

[32108 rows x 3 columns]
df7
         time   br_pred br_mis_pred
0        0.01   3678136      150703
1        0.03   6813533      279294
2        0.04   6777574      268698
3        0.05   8793494      237791
4        0.06  13505510      240551
...       ...       ...         ...
32104  337.62      4237         572
32105  337.64   4158915       65275
32106  337.65   5276834       43048
32107  337.66   5214847      124498
32108  337.67   4427551        6854

[32109 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014877  19411018         NaN  instructions    15718520
1         0.014877   3884787         NaN  l1d_cache_rd    15718520
2         0.014877   2390906         NaN  l1d_cache_wr    15718520
3         0.014877   6275693         NaN     l1d_cache    15718520
4         0.025362  30760375         NaN  instructions    10060120
...            ...       ...         ...           ...         ...
128415  337.357483   4169533         NaN     l1d_cache    10070080
128416  337.366399  32806844         NaN  instructions     8482520
128417  337.366399   5942958         NaN  l1d_cache_rd     8482520
128418  337.366399   3454481         NaN  l1d_cache_wr     8482520
128419  337.366399   9397439         NaN     l1d_cache     8482520

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
128415       100.0         NaN         NaN
128416       100.0         NaN         NaN
128417       100.0         NaN         NaN
128418       100.0         NaN         NaN
128419       100.0         NaN         NaN

[128420 rows x 8 columns]
          time     value       counter
4         0.03  30760375  instructions
8         0.04  29487885  instructions
12        0.05  39537955  instructions
16        0.06  52891790  instructions
20        0.07  26597666  instructions
...        ...       ...           ...
128400  337.33   6792515  instructions
128404  337.34  14286257  instructions
128408  337.35  22430271  instructions
128412  337.36  16995204  instructions
128416  337.37  32806844  instructions

[32104 rows x 3 columns]
instructions
          time instructions
4         0.03     30760375
8         0.04     29487885
12        0.05     39537955
16        0.06     52891790
20        0.07     26597666
...        ...          ...
128400  337.33      6792515
128404  337.34     14286257
128408  337.35     22430271
128412  337.36     16995204
128416  337.37     32806844

[32104 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      3884787
5         0.03      7430127
9         0.04      7244868
13        0.05      9230361
17        0.06     11058737
...        ...          ...
128401  337.33      1254220
128405  337.34      3229211
128409  337.35      5012274
128413  337.36      3115223
128417  337.37      5942958

[32105 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      2390906
6         0.03      4310560
10        0.04      4174408
14        0.05      4819731
18        0.06      4345967
...        ...          ...
128402  337.33       664196
128406  337.34      2095803
128410  337.35      2583282
128414  337.36      1054310
128418  337.37      3454481

[32105 rows x 2 columns]
df5
          time l1d_cache
3         0.01   6275693
7         0.03  11740687
11        0.04  11419276
15        0.05  14050092
19        0.06  15404704
...        ...       ...
128403  337.33   1918416
128407  337.34   5325014
128411  337.35   7595556
128415  337.36   4169533
128419  337.37   9397439

[32105 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.03     30760375      7430127
1        0.04     29487885      7244868
2        0.05     39537955      9230361
3        0.06     52891790     11058737
4        0.07     26597666      6433306
...       ...          ...          ...
32099  337.33      6792515      1254220
32100  337.34     14286257      3229211
32101  337.35     22430271      5012274
32102  337.36     16995204      3115223
32103  337.37     32806844      5942958

[32104 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      2390906   6275693
1        0.03      4310560  11740687
2        0.04      4174408  11419276
3        0.05      4819731  14050092
4        0.06      4345967  15404704
...       ...          ...       ...
32100  337.33       664196   1918416
32101  337.34      2095803   5325014
32102  337.35      2583282   7595556
32103  337.36      1054310   4169533
32104  337.37      3454481   9397439

[32105 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.011280  12848324         NaN      instructions    12187960
1         0.011280   4635984         NaN         l1i_cache    12187960
2         0.011280    299815         NaN  l1i_cache_refill    12187960
3         0.011280    100759         NaN     remote_access    12187960
4         0.021740  26588571         NaN      instructions     9967520
...            ...       ...         ...               ...         ...
128535  338.167742      4414         NaN     remote_access    10079040
128536  338.168820   2302041         NaN      instructions      728920
128537  338.168820    657705         NaN         l1i_cache      728920
128538  338.168820      4196         NaN  l1i_cache_refill      728920
128539  338.168820      3520         NaN     remote_access      728920

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
128535       100.0         NaN         NaN
128536       100.0         NaN         NaN
128537       100.0         NaN         NaN
128538       100.0         NaN         NaN
128539       100.0         NaN         NaN

[128540 rows x 8 columns]
          time     value       counter
4         0.02  26588571  instructions
8         0.03  28736714  instructions
12        0.04  32492491  instructions
16        0.05  52613040  instructions
20        0.06  35813742  instructions
...        ...       ...           ...
128520  338.13   9557585  instructions
128524  338.15  29528532  instructions
128528  338.16  14339104  instructions
128532  338.17  37582173  instructions
128536  338.17   2302041  instructions

[32134 rows x 3 columns]
instructions
          time instructions
4         0.02     26588571
8         0.03     28736714
12        0.04     32492491
16        0.05     52613040
20        0.06     35813742
...        ...          ...
128520  338.13      9557585
128524  338.15     29528532
128528  338.16     14339104
128532  338.17     37582173
128536  338.17      2302041

[32134 rows x 2 columns]
df3
          time l1i_cache
1         0.01   4635984
5         0.02  10609592
9         0.03  11628210
13        0.04  12783446
17        0.05  17944352
...        ...       ...
128521  338.13   2987738
128525  338.15   9677909
128529  338.16   5378488
128533  338.17  10873652
128537  338.17    657705

[32135 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           299815
6         0.02           543898
10        0.03           691662
14        0.04           583854
18        0.05           545651
...        ...              ...
128522  338.13            40312
128526  338.15           271420
128530  338.16            16190
128534  338.17             8173
128538  338.17             4196

[32135 rows x 2 columns]
df5
          time remote_access
3         0.01        100759
7         0.02         40598
11        0.03         33581
15        0.04         33170
19        0.05         11378
...        ...           ...
128523  338.13         12246
128527  338.15         16108
128531  338.16          3400
128535  338.17          4414
128539  338.17          3520

[32135 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     26588571  10609592
1        0.03     28736714  11628210
2        0.04     32492491  12783446
3        0.05     52613040  17944352
4        0.06     35813742  13458704
...       ...          ...       ...
32131  338.16     14339104   5378488
32132  338.17     37582173  10873652

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011435  12999834         NaN  instructions    12372520
1         0.011435    475769         NaN  l2d_cache_rd    12372520
2         0.011435    169064         NaN  l2d_cache_wr    12372520
3         0.011435    644833         NaN     l2d_cache    12372520
4         0.021894  25684690         NaN  instructions     9899840
...            ...       ...         ...           ...         ...
129035  339.792060   1256309         NaN     l2d_cache    10061440
129036  339.799570  29649684         NaN  instructions     7163920
129037  339.799570    135859         NaN  l2d_cache_rd     7163920
129038  339.799570    129582         NaN  l2d_cache_wr     7163920
129039  339.799570    265441         NaN     l2d_cache     7163920

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
129035       100.0         NaN         NaN
129036       100.0         NaN         NaN
129037       100.0         NaN         NaN
129038       100.0         NaN         NaN
129039       100.0         NaN         NaN

[129040 rows x 8 columns]
          time     value       counter
4         0.02  25684690  instructions
8         0.03  28171645  instructions
12        0.04  32096324  instructions
16        0.05  51629864  instructions
20        0.06  37620189  instructions
...        ...       ...           ...
129020  339.76   6404521  instructions
129024  339.77  14152837  instructions
129028  339.78  22991689  instructions
129032  339.79  19214316  instructions
129036  339.80  29649684  instructions

[32259 rows x 3 columns]
instructions
          time instructions
4         0.02     25684690
8         0.03     28171645
12        0.04     32096324
16        0.05     51629864
20        0.06     37620189
...        ...          ...
129020  339.76      6404521
129024  339.77     14152837
129028  339.78     22991689
129032  339.79     19214316
129036  339.80     29649684

[32259 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       475769
5         0.02       696305
9         0.03       853948
13        0.04       801713
17        0.05       890694
...        ...          ...
129021  339.76        76974
129025  339.77       353396
129029  339.78       392500
129033  339.79       660900
129037  339.80       135859

[32260 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       169064
6         0.02       174799
10        0.03       179027
14        0.04       210416
18        0.05       352727
...        ...          ...
129022  339.76        64110
129026  339.77       119720
129030  339.78       272628
129034  339.79       595409
129038  339.80       129582

[32260 rows x 2 columns]
df5
          time l2d_cache
3         0.01    644833
7         0.02    871104
11        0.03   1032975
15        0.04   1012129
19        0.05   1243421
...        ...       ...
129023  339.76    141084
129027  339.77    473116
129031  339.78    665128
129035  339.79   1256309
129039  339.80    265441

[32260 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     25684690       696305
1        0.03     28171645       853948
2        0.04     32096324       801713
3        0.05     51629864       890694
4        0.06     37620189       891929
...       ...          ...          ...
32254  339.76      6404521        76974
32255  339.77     14152837       353396
32256  339.78     22991689       392500
32257  339.79     19214316       660900
32258  339.80     29649684       135859

[32259 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       169064    644833
1        0.02       174799    871104
2        0.03       179027   1032975
3        0.04       210416   1012129
4        0.05       352727   1243421
...       ...          ...       ...
32255  339.76        64110    141084
32256  339.77       119720    473116
32257  339.78       272628    665128
32258  339.79       595409   1256309
32259  339.80       129582    265441

[32260 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.015536  20563257         NaN  instructions    16319920
1         0.015536   9258314         NaN       l1d_tlb    16319920
2         0.015536   6262421         NaN    l1d_tlb_rd    16319920
3         0.015536   2995893         NaN    l1d_tlb_wr    16319920
4         0.026005  29983206         NaN  instructions     9855960
...            ...       ...         ...           ...         ...
128487  338.369730   1298257         NaN    l1d_tlb_wr    10064040
128488  338.379800  37643963         NaN  instructions     9639840
128489  338.379800  13153997         NaN       l1d_tlb     9639840
128490  338.379800   9632504         NaN    l1d_tlb_rd     9639840
128491  338.379800   3521493         NaN    l1d_tlb_wr     9639840

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
128487       100.0         NaN         NaN
128488       100.0         NaN         NaN
128489       100.0         NaN         NaN
128490       100.0         NaN         NaN
128491       100.0         NaN         NaN

[128492 rows x 8 columns]
          time     value       counter
4         0.03  29983206  instructions
8         0.04  30768741  instructions
12        0.05  41801834  instructions
16        0.06  51447359  instructions
20        0.07  29041214  instructions
...        ...       ...           ...
128472  338.34     17306  instructions
128476  338.35  14778214  instructions
128480  338.36  26083459  instructions
128484  338.37  14687080  instructions
128488  338.38  37643963  instructions

[32122 rows x 3 columns]
instructions
          time instructions
4         0.03     29983206
8         0.04     30768741
12        0.05     41801834
16        0.06     51447359
20        0.07     29041214
...        ...          ...
128472  338.34        17306
128476  338.35     14778214
128480  338.36     26083459
128484  338.37     14687080
128488  338.38     37643963

[32122 rows x 2 columns]
df3
          time   l1d_tlb
1         0.02   9258314
5         0.03  12810702
9         0.04  13300369
13        0.05  16005822
17        0.06  16496796
...        ...       ...
128473  338.34     11041
128477  338.35   5912354
128481  338.36   9872229
128485  338.37   5013073
128489  338.38  13153997

[32123 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.02    6262421
6         0.03    8291142
10        0.04    8604391
14        0.05   10718043
18        0.06   11859577
...        ...        ...
128474  338.34       7989
128478  338.35    3917699
128482  338.36    6559683
128486  338.37    3714816
128490  338.38    9632504

[32123 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.02    2995893
7         0.03    4519560
11        0.04    4695978
15        0.05    5287779
19        0.06    4637219
...        ...        ...
128475  338.34       3052
128479  338.35    1994655
128483  338.36    3312546
128487  338.37    1298257
128491  338.38    3521493

[32123 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.03     29983206  12810702
1        0.04     30768741  13300369
2        0.05     41801834  16005822
3        0.06     51447359  16496796
4        0.07     29041214  12597298
...       ...          ...       ...
32117  338.34        17306     11041
32118  338.35     14778214   5912354
32119  338.36     26083459   9872229
32120  338.37     14687080   5013073
32121  338.38     37643963  13153997

[32122 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.02    6262421    2995893
1        0.03    8291142    4519560
2        0.04    8604391    4695978
3        0.05   10718043    5287779
4        0.06   11859577    4637219
...       ...        ...        ...
32118  338.34       7989       3052
32119  338.35    3917699    1994655
32120  338.36    6559683    3312546
32121  338.37    3714816    1298257
32122  338.38    9632504    3521493

[32123 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014352  18414966         NaN  instructions    15190720
1         0.014352     24465         NaN     dtlb_walk    15190720
2         0.014352      2501         NaN     itlb_walk    15190720
3         0.014352   6114920         NaN       l1i_tlb    15190720
4         0.024824  29809806         NaN  instructions     9849000
...            ...       ...         ...           ...         ...
128539  338.353656   5081428         NaN       l1i_tlb    10064560
128540  338.364013  38687580         NaN  instructions     9919680
128541  338.364013     14363         NaN     dtlb_walk     9919680
128542  338.364013       211         NaN     itlb_walk     9919680
128543  338.364013   8250531         NaN       l1i_tlb     9919680

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
128539       100.0         NaN         NaN
128540       100.0         NaN         NaN
128541       100.0         NaN         NaN
128542       100.0         NaN         NaN
128543       100.0         NaN         NaN

[128544 rows x 8 columns]
          time          value       counter
4         0.02       29809806  instructions
8         0.04       30151222  instructions
12        0.05       37888495  instructions
16        0.06       52895336  instructions
20        0.07       29012944  instructions
...        ...            ...           ...
128524  338.32  <not counted>  instructions
128528  338.33       14313928  instructions
128532  338.34       25972784  instructions
128536  338.35       14388847  instructions
128540  338.36       38687580  instructions

[32135 rows x 3 columns]
instructions
          time   instructions
4         0.02       29809806
8         0.04       30151222
12        0.05       37888495
16        0.06       52895336
20        0.07       29012944
...        ...            ...
128524  338.32  <not counted>
128528  338.33       14313928
128532  338.34       25972784
128536  338.35       14388847
128540  338.36       38687580

[32135 rows x 2 columns]
df3
          time      dtlb_walk
1         0.01          24465
5         0.02           3375
9         0.04           3751
13        0.05           4149
17        0.06           2062
...        ...            ...
128525  338.32  <not counted>
128529  338.33          11371
128533  338.34          21553
128537  338.35          39090
128541  338.36          14363

[32136 rows x 2 columns]
df4
          time      itlb_walk
2         0.01           2501
6         0.02            961
10        0.04            935
14        0.05            877
18        0.06            267
...        ...            ...
128526  338.32  <not counted>
128530  338.33           1156
128534  338.34           1496
128538  338.35            446
128542  338.36            211

[32136 rows x 2 columns]
df5
          time        l1i_tlb
3         0.01        6114920
7         0.02       10052026
11        0.04       10135865
15        0.05       11599233
19        0.06       13648637
...        ...            ...
128527  338.32  <not counted>
128531  338.33        4020383
128535  338.34        6782998
128539  338.35        5081428
128543  338.36        8250531

[32136 rows x 2 columns]
df6
         time   instructions      dtlb_walk
0        0.02       29809806           3375
1        0.04       30151222           3751
2        0.05       37888495           4149
3        0.06       52895336           2062
4        0.07       29012944           5328
...       ...            ...            ...
32130  338.32  <not counted>  <not counted>
32131  338.33       14313928          11371
32132  338.34       25972784          21553
32133  338.35       14388847          39090
32134  338.36       38687580          14363

[32135 rows x 3 columns]
df7
         time      itlb_walk        l1i_tlb
0        0.01           2501        6114920
1        0.02            961       10052026
2        0.04            935       10135865
3        0.05            877       11599233
4        0.06            267       13648637
...       ...            ...            ...
32131  338.32  <not counted>  <not counted>
32132  338.33           1156        4020383
32133  338.34           1496        6782998
32134  338.35            446        5081428
32135  338.36            211        8250531

[32136 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014834  18893301         NaN  instructions    15700080
1         0.014834    128491         NaN       l2d_tlb    15700080
2         0.014834    109873         NaN    l2d_tlb_rd    15700080
3         0.014834     18618         NaN    l2d_tlb_wr    15700080
4         0.025319  29374850         NaN  instructions     9897720
...            ...       ...         ...           ...         ...
128543  338.209098      7707         NaN    l2d_tlb_wr    10064840
128544  338.218975  36554280         NaN  instructions     9410600
128545  338.218975     65556         NaN       l2d_tlb     9410600
128546  338.218975     45698         NaN    l2d_tlb_rd     9410600
128547  338.218975     19858         NaN    l2d_tlb_wr     9410600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
128543       100.0         NaN         NaN
128544       100.0         NaN         NaN
128545       100.0         NaN         NaN
128546       100.0         NaN         NaN
128547       100.0         NaN         NaN

[128548 rows x 8 columns]
          time          value       counter
4         0.03       29374850  instructions
8         0.04       30161923  instructions
12        0.05       38547747  instructions
16        0.06       53079701  instructions
20        0.07       29185479  instructions
...        ...            ...           ...
128528  338.18  <not counted>  instructions
128532  338.19       14922986  instructions
128536  338.20       26340000  instructions
128540  338.21       15328741  instructions
128544  338.22       36554280  instructions

[32136 rows x 3 columns]
instructions
          time   instructions
4         0.03       29374850
8         0.04       30161923
12        0.05       38547747
16        0.06       53079701
20        0.07       29185479
...        ...            ...
128528  338.18  <not counted>
128532  338.19       14922986
128536  338.20       26340000
128540  338.21       15328741
128544  338.22       36554280

[32136 rows x 2 columns]
df3
          time        l2d_tlb
1         0.01         128491
5         0.03         265016
9         0.04         288573
13        0.05         315528
17        0.06         407449
...        ...            ...
128529  338.18  <not counted>
128533  338.19         127718
128537  338.20         232778
128541  338.21         140297
128545  338.22          65556

[32137 rows x 2 columns]
df4
          time     l2d_tlb_rd
2         0.01         109873
6         0.03         250937
10        0.04         273888
14        0.05         300062
18        0.06         391002
...        ...            ...
128530  338.18  <not counted>
128534  338.19         116775
128538  338.20         215534
128542  338.21         132590
128546  338.22          45698

[32137 rows x 2 columns]
df5
          time     l2d_tlb_wr
3         0.01          18618
7         0.03          14079
11        0.04          14685
15        0.05          15466
19        0.06          16447
...        ...            ...
128531  338.18  <not counted>
128535  338.19          10943
128539  338.20          17244
128543  338.21           7707
128547  338.22          19858

[32137 rows x 2 columns]
df6
         time   instructions        l2d_tlb
0        0.03       29374850         265016
1        0.04       30161923         288573
2        0.05       38547747         315528
3        0.06       53079701         407449
4        0.07       29185479         288370
...       ...            ...            ...
32131  338.18  <not counted>  <not counted>
32132  338.19       14922986         127718
32133  338.20       26340000         232778
32134  338.21       15328741         140297
32135  338.22       36554280          65556

[32136 rows x 3 columns]
df7
         time     l2d_tlb_rd     l2d_tlb_wr
0        0.01         109873          18618
1        0.03         250937          14079
2        0.04         273888          14685
3        0.05         300062          15466
4        0.06         391002          16447
...       ...            ...            ...
32132  338.18  <not counted>  <not counted>
32133  338.19         116775          10943
32134  338.20         215534          17244
32135  338.21         132590           7707
32136  338.22          45698          19858

[32137 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.013491  13116129         NaN  instructions    12400040
1         0.013491        53         NaN      vfp_spec    12400040
2         0.013491  15697802         NaN     inst_spec    12400040
3         0.013491     10317         NaN      ase_spec    12400040
4         0.028167  37691780         NaN  instructions    13989920
...            ...       ...         ...           ...         ...
128615  339.000969         0         NaN      ase_spec    10129360
128616  339.006915  22430872         NaN  instructions     5542400
128617  339.006915         0         NaN      vfp_spec     5542400
128618  339.006915  22816798         NaN     inst_spec     5542400
128619  339.006915         0         NaN      ase_spec     5542400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
128615       100.0         NaN         NaN
128616       100.0         NaN         NaN
128617       100.0         NaN         NaN
128618       100.0         NaN         NaN
128619       100.0         NaN         NaN

[128620 rows x 8 columns]
          time     value       counter
4         0.03  37691780  instructions
8         0.04  29202564  instructions
12        0.05  40352317  instructions
16        0.06  52708983  instructions
20        0.07  27288832  instructions
...        ...       ...           ...
128600  338.97   9221483  instructions
128604  338.98  16838959  instructions
128608  338.99  19682195  instructions
128612  339.00  24589366  instructions
128616  339.01  22430872  instructions

[32154 rows x 3 columns]
instructions
          time instructions
4         0.03     37691780
8         0.04     29202564
12        0.05     40352317
16        0.06     52708983
20        0.07     27288832
...        ...          ...
128600  338.97      9221483
128604  338.98     16838959
128608  338.99     19682195
128612  339.00     24589366
128616  339.01     22430872

[32154 rows x 2 columns]
df3
          time vfp_spec
1         0.01       53
5         0.03     4024
9         0.04     1087
13        0.05      524
17        0.06      318
...        ...      ...
128601  338.97       93
128605  338.98      182
128609  338.99        0
128613  339.00        0
128617  339.01        0

[32155 rows x 2 columns]
df4
          time inst_spec
2         0.01  15697802
6         0.03  47228131
10        0.04  36516280
14        0.05  47818150
18        0.06  60601527
...        ...       ...
128602  338.97   9976657
128606  338.98  19188534
128610  338.99  21422562
128614  339.00  29134788
128618  339.01  22816798

[32155 rows x 2 columns]
df5
          time ase_spec
3         0.01    10317
7         0.03    44384
11        0.04    19298
15        0.05    29809
19        0.06    30369
...        ...      ...
128603  338.97      971
128607  338.98     2941
128611  338.99      539
128615  339.00        0
128619  339.01        0

[32155 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.03     37691780     4024
1        0.04     29202564     1087
2        0.05     40352317      524
3        0.06     52708983      318
4        0.07     27288832      821
...       ...          ...      ...
32149  338.97      9221483       93
32150  338.98     16838959      182
32151  338.99     19682195        0
32152  339.00     24589366        0
32153  339.01     22430872        0

[32154 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  15697802    10317
1        0.03  47228131    44384
2        0.04  36516280    19298
3        0.05  47818150    29809
4        0.06  60601527    30369
...       ...       ...      ...
32150  338.97   9976657      971
32151  338.98  19188534     2941
32152  338.99  21422562      539
32153  339.00  29134788        0
32154  339.01  22816798        0

[32155 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010508   9074448         NaN      instructions     9409800
1         0.010508  10328071         NaN     stall_backend     9409800
2         0.010508  14397359         NaN    stall_frontend     9409800
3         0.010508    163370         NaN  ll_cache_miss_rd     9409800
4         0.021956  21094439         NaN      instructions    10805520
...            ...       ...         ...               ...         ...
128551  338.709749    732597         NaN  ll_cache_miss_rd    10076080
128552  338.715724  22009106         NaN      instructions     5491040
128553  338.715724   9192278         NaN     stall_backend     5491040
128554  338.715724    704081         NaN    stall_frontend     5491040
128555  338.715724     93485         NaN  ll_cache_miss_rd     5491040

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
128551       100.0         NaN         NaN
128552       100.0         NaN         NaN
128553       100.0         NaN         NaN
128554       100.0         NaN         NaN
128555       100.0         NaN         NaN

[128556 rows x 8 columns]
          time     value       counter
4         0.02  21094439  instructions
8         0.03  27815275  instructions
12        0.04  31684388  instructions
16        0.05  43841823  instructions
20        0.07  53288660  instructions
...        ...       ...           ...
128536  338.68   9762314  instructions
128540  338.69  18580403  instructions
128544  338.70  17999136  instructions
128548  338.71  24864608  instructions
128552  338.72  22009106  instructions

[32138 rows x 3 columns]
instructions
          time instructions
4         0.02     21094439
8         0.03     27815275
12        0.04     31684388
16        0.05     43841823
20        0.07     53288660
...        ...          ...
128536  338.68      9762314
128540  338.69     18580403
128544  338.70     17999136
128548  338.71     24864608
128552  338.72     22009106

[32138 rows x 2 columns]
df3
          time stall_backend
1         0.01      10328071
5         0.02       9621115
9         0.03       5542403
13        0.04       5687664
17        0.05       5011586
...        ...           ...
128537  338.68      12461550
128541  338.69      18481359
128545  338.70      22262061
128549  338.71      19919941
128553  338.72       9192278

[32139 rows x 2 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

df4
          time stall_frontend
2         0.01       14397359
6         0.02       14687100
10        0.03       13285539
14        0.04       12273720
18        0.05        9552998
...        ...            ...
128538  338.68        2166230
128542  338.69        4547451
128546  338.70        1862157
128550  338.71        1423499
128554  338.72         704081

[32139 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           163370
7         0.02           165744
11        0.03           155103
15        0.04           160067
19        0.05           110278
...        ...              ...
128539  338.68            71050
128543  338.69           137209
128547  338.70           256716
128551  338.71           732597
128555  338.72            93485

[32139 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     21094439       9621115
1        0.03     27815275       5542403
2        0.04     31684388       5687664
3        0.05     43841823       5011586
4        0.07     53288660       6892896
...       ...          ...           ...
32133  338.68      9762314      12461550
32134  338.69     18580403      18481359
32135  338.70     17999136      22262061
32136  338.71     24864608      19919941
32137  338.72     22009106       9192278

[32138 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01       14397359           163370
1        0.02       14687100           165744
2        0.03       13285539           155103
3        0.04       12273720           160067
4        0.05        9552998           110278
...       ...            ...              ...
32134  338.68        2166230            71050
32135  338.69        4547451           137209
32136  338.70        1862157           256716
32137  338.71        1423499           732597
32138  338.72         704081            93485

[32139 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010200  10775541         NaN   instructions    11130480
1         0.010200   3359352         NaN     mem_access    11130480
2         0.010200   2072364         NaN  mem_access_rd    11130480
3         0.010200   1286988         NaN  mem_access_wr    11130480
4         0.020688  21902782         NaN   instructions     9954960
...            ...       ...         ...            ...         ...
128627  339.118042   1204683         NaN  mem_access_wr    10066560
128628  339.125970  30423690         NaN   instructions     7561400
128629  339.125970   8759136         NaN     mem_access     7561400
128630  339.125970   5514064         NaN  mem_access_rd     7561400
128631  339.125970   3245072         NaN  mem_access_wr     7561400

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
128627       100.0         NaN         NaN
128628       100.0         NaN         NaN
128629       100.0         NaN         NaN
128630       100.0         NaN         NaN
128631       100.0         NaN         NaN

[128632 rows x 8 columns]
          time          value       counter
4         0.02       21902782  instructions
8         0.03       27996100  instructions
12        0.04       42284657  instructions
16        0.05       52568527  instructions
20        0.06       34518223  instructions
...        ...            ...           ...
128612  339.08  <not counted>  instructions
128616  339.10       20701291  instructions
128620  339.11       22506125  instructions
128624  339.12       18896286  instructions
128628  339.13       30423690  instructions

[32157 rows x 3 columns]
instructions
          time   instructions
4         0.02       21902782
8         0.03       27996100
12        0.04       42284657
16        0.05       52568527
20        0.06       34518223
...        ...            ...
128612  339.08  <not counted>
128616  339.10       20701291
128620  339.11       22506125
128624  339.12       18896286
128628  339.13       30423690

[32157 rows x 2 columns]
df3
          time     mem_access
1         0.01        3359352
5         0.02        7891386
9         0.03       10827717
13        0.04       16218120
17        0.05       15664504
...        ...            ...
128613  339.08  <not counted>
128617  339.10        7112620
128621  339.11        7562710
128625  339.12        4643283
128629  339.13        8759136

[32158 rows x 2 columns]
df4
          time  mem_access_rd
2         0.01        2072364
6         0.02        4974709
10        0.03        6842885
14        0.04       10337527
18        0.05       11130625
...        ...            ...
128614  339.08  <not counted>
128618  339.10        4392372
128622  339.11        5004021
128626  339.12        3438600
128630  339.13        5514064

[32158 rows x 2 columns]
df5
          time  mem_access_wr
3         0.01        1286988
7         0.02        2916677
11        0.03        3984832
15        0.04        5880593
19        0.05        4533879
...        ...            ...
128615  339.08  <not counted>
128619  339.10        2720248
128623  339.11        2558689
128627  339.12        1204683
128631  339.13        3245072

[32158 rows x 2 columns]
df6
         time   instructions     mem_access
0        0.02       21902782        7891386
1        0.03       27996100       10827717
2        0.04       42284657       16218120
3        0.05       52568527       15664504
4        0.06       34518223       11691125
...       ...            ...            ...
32152  339.08  <not counted>  <not counted>
32153  339.10       20701291        7112620
32154  339.11       22506125        7562710
32155  339.12       18896286        4643283
32156  339.13       30423690        8759136

[32157 rows x 3 columns]
df7
         time  mem_access_rd  mem_access_wr
0        0.01        2072364        1286988
1        0.02        4974709        2916677
2        0.03        6842885        3984832
3        0.04       10337527        5880593
4        0.05       11130625        4533879
...       ...            ...            ...
32153  339.08  <not counted>  <not counted>
32154  339.10        4392372        2720248
32155  339.11        5004021        2558689
32156  339.12        3438600        1204683
32157  339.13        5514064        3245072

[32158 rows x 3 columns]
merged_df
         time   instructions     cpu-cycles        br_pred    br_mis_pred  \
0        0.04       29940212       30083565        6777574         268698
1        0.05       37634498       29488885        8793494         237791
2        0.08       35145554       30182485        7898452         267382
3        0.09       32714913       30168836        7421590         263381
4        0.10       30103920       30176011        6859075         277310
...       ...            ...            ...            ...            ...
20130  337.29  <not counted>  <not counted>  <not counted>  <not counted>
20131  337.31          79528         104198          17612           1040
20132  337.33  <not counted>  <not counted>  <not counted>  <not counted>
20133  337.34  <not counted>  <not counted>  <not counted>  <not counted>
20134  337.35  <not counted>  <not counted>  <not counted>  <not counted>

        l1d_cache_rd   l1d_cache_wr      l1d_cache l1i_cache l1i_cache_refill  \
0            7244868        4174408       11419276  12783446           583854
1            9230361        4819731       14050092  17944352           545651
2            8665302        4900120       13565422  13412085           712680
3            8082493        4488892       12571385  12085843           681692
4            7423007        4249049       11672056  12637650           664809
...              ...            ...            ...       ...              ...
20130  <not counted>  <not counted>  <not counted>  20479166           155486
20131  <not counted>  <not counted>  <not counted>  18723470           221556
20132        1254220         664196        1918416  18981992           185363
20133        3229211        2095803        5325014  19987752           164493
20134        5012274        2583282        7595556  20948133           156172

       ... l2d_tlb_wr vfp_spec inst_spec ase_spec stall_backend  \
0      ...      14685     1087  36516280    19298       5687664
1      ...      15466      524  47818150    29809       5011586
2      ...      16172      965  41875184    21256       5476363
3      ...      17697     2064  40246484    23799       5613945
4      ...      15859     2839  37055225    22752       5702569
...    ...        ...      ...       ...      ...           ...
20130  ...      52003     7523  93049779    12287       2821651
20131  ...      28514     5625  68836606     9457       3182016
20132  ...      29510     5698  69954905     9833       2920323
20133  ...      21725     5726  70376953     9572       3020531
20134  ...      23321     5735  70818453     9860       2800264

      stall_frontend ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0           12273720           160067   16218120      10337527       5880593
1            9552998           110278   15664504      11130625       4533879
2           12751332           152876   12022323       7672525       4349798
3           11863670           142831   12972037       8326461       4645576
4           12929550           159958   11411092       7278585       4132507
...              ...              ...        ...           ...           ...
20130        5372443            14452   27609436      18150244       9459192
20131        5635063            31224   27968914      18388971       9579943
20132        5533199            21009   27295790      17942960       9352830
20133        5260969            15357   27899607      18342305       9557302
20134        5249954            10820   27775779      18262022       9513757

[20135 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011542  12792290         NaN  instructions    12475120
1         0.011542  37204463         NaN    cpu-cycles    12475120
2         0.011542   2372527         NaN       br_pred    12475120
3         0.011542     93962         NaN   br_mis_pred    12475120
4         0.022008  25308327         NaN  instructions     9959760
...            ...       ...         ...           ...         ...
216507  557.619965    124206         NaN   br_mis_pred    10070720
216508  557.627866  30570976         NaN  instructions     7535200
216509  557.627866  22574012         NaN    cpu-cycles     7535200
216510  557.627866   4401023         NaN       br_pred     7535200
216511  557.627866      7001         NaN   br_mis_pred     7535200

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.34  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.85  insn per cycle
...            ...         ...             ...
216507       100.0         NaN             NaN
216508       100.0        1.35  insn per cycle
216509       100.0         NaN             NaN
216510       100.0         NaN             NaN
216511       100.0         NaN             NaN

[216512 rows x 8 columns]
          time          value       counter
4         0.02       25308327  instructions
8         0.03       28178472  instructions
12        0.04       32236610  instructions
16        0.05       50798358  instructions
20        0.06       37750660  instructions
...        ...            ...           ...
216492  557.59  <not counted>  instructions
216496  557.60       20379302  instructions
216500  557.61       23224405  instructions
216504  557.62       18828887  instructions
216508  557.63       30570976  instructions

[54127 rows x 3 columns]
instructions
          time   instructions
4         0.02       25308327
8         0.03       28178472
12        0.04       32236610
16        0.05       50798358
20        0.06       37750660
...        ...            ...
216492  557.59  <not counted>
216496  557.60       20379302
216500  557.61       23224405
216504  557.62       18828887
216508  557.63       30570976

[54127 rows x 2 columns]
df3
          time     cpu-cycles
1         0.01       37204463
5         0.02       29795554
9         0.03       29675475
13        0.04       30156526
17        0.05       30164829
...        ...            ...
216493  557.59  <not counted>
216497  557.60       39759222
216501  557.61       29942950
216505  557.62       30174971
216509  557.63       22574012

[54128 rows x 2 columns]
df4
          time        br_pred
2         0.01        2372527
6         0.02        5596901
10        0.03        6335407
14        0.04        7335290
18        0.05       12720576
...        ...            ...
216494  557.59  <not counted>
216498  557.60        4062619
216502  557.61        5365204
216506  557.62        5268978
216510  557.63        4401023

[54128 rows x 2 columns]
df5
          time    br_mis_pred
3         0.01          93962
7         0.02         227878
11        0.03         264332
15        0.04         256907
19        0.05         236593
...        ...            ...
216495  557.59  <not counted>
216499  557.60          65617
216503  557.61          42867
216507  557.62         124206
216511  557.63           7001

[54128 rows x 2 columns]
df6
         time   instructions     cpu-cycles
0        0.02       25308327       29795554
1        0.03       28178472       29675475
2        0.04       32236610       30156526
3        0.05       50798358       30164829
4        0.06       37750660       30177305
...       ...            ...            ...
54122  557.59  <not counted>  <not counted>
54123  557.60       20379302       39759222
54124  557.61       23224405       29942950
54125  557.62       18828887       30174971
54126  557.63       30570976       22574012

[54127 rows x 3 columns]
df7
         time        br_pred    br_mis_pred
0        0.01        2372527          93962
1        0.02        5596901         227878
2        0.03        6335407         264332
3        0.04        7335290         256907
4        0.05       12720576         236593
...       ...            ...            ...
54123  557.59  <not counted>  <not counted>
54124  557.60        4062619          65617
54125  557.61        5365204          42867
54126  557.62        5268978         124206
54127  557.63        4401023           7001

[54128 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.015924  20186784         NaN  instructions    16725840
1         0.015924   4075312         NaN  l1d_cache_rd    16725840
2         0.015924   2504999         NaN  l1d_cache_wr    16725840
3         0.015924   6580311         NaN     l1d_cache    16725840
4         0.026415  29690174         NaN  instructions     9929360
...            ...       ...         ...           ...         ...
215427  555.269803   7092631         NaN     l1d_cache    10152200
215428  555.274781  17912150         NaN  instructions     4472760
215429  555.274781   3255191         NaN  l1d_cache_rd     4472760
215430  555.274781   1907692         NaN  l1d_cache_wr     4472760
215431  555.274781   5162883         NaN     l1d_cache     4472760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
215427       100.0         NaN         NaN
215428       100.0         NaN         NaN
215429       100.0         NaN         NaN
215430       100.0         NaN         NaN
215431       100.0         NaN         NaN

[215432 rows x 8 columns]
          time     value       counter
4         0.03  29690174  instructions
8         0.04  28871762  instructions
12        0.05  38540867  instructions
16        0.06  52481098  instructions
20        0.07  27997484  instructions
...        ...       ...           ...
215412  555.24  10529421  instructions
215416  555.25  18208406  instructions
215420  555.26  18819576  instructions
215424  555.27  28046761  instructions
215428  555.27  17912150  instructions

[53857 rows x 3 columns]
instructions
          time instructions
4         0.03     29690174
8         0.04     28871762
12        0.05     38540867
16        0.06     52481098
20        0.07     27997484
...        ...          ...
215412  555.24     10529421
215416  555.25     18208406
215420  555.26     18819576
215424  555.27     28046761
215428  555.27     17912150

[53857 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.02      4075312
5         0.03      7190295
9         0.04      7092539
13        0.05      9057046
17        0.06     10969664
...        ...          ...
215413  555.24      2093660
215417  555.25      4172471
215421  555.26      4088217
215425  555.27      4951366
215429  555.27      3255191

[53858 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.02      2504999
6         0.03      4149951
10        0.04      4078441
14        0.05      4783205
18        0.06      4292051
...        ...          ...
215414  555.24      1272563
215418  555.25      2445050
215422  555.26      2084950
215426  555.27      2141265
215430  555.27      1907692

[53858 rows x 2 columns]
df5
          time l1d_cache
3         0.02   6580311
7         0.03  11340246
11        0.04  11170980
15        0.05  13840251
19        0.06  15261715
...        ...       ...
215415  555.24   3366223
215419  555.25   6617521
215423  555.26   6173167
215427  555.27   7092631
215431  555.27   5162883

[53858 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.03     29690174      7190295
1        0.04     28871762      7092539
2        0.05     38540867      9057046
3        0.06     52481098     10969664
4        0.07     27997484      6725353
...       ...          ...          ...
53854  555.26     18819576      4088217
53855  555.27     28046761      4951366
53856  555.27     28046761      3255191
53857  555.27     17912150      4951366
53858  555.27     17912150      3255191

[53859 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.02      2504999   6580311
1        0.03      4149951  11340246
2        0.04      4078441  11170980
3        0.05      4783205  13840251
4        0.06      4292051  15261715
...       ...          ...       ...
53855  555.26      2084950   6173167
53856  555.27      2141265   7092631
53857  555.27      2141265   5162883
53858  555.27      1907692   7092631
53859  555.27      1907692   5162883

[53860 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.011893  13169996         NaN      instructions    12896880
1         0.011893   4734736         NaN         l1i_cache    12896880
2         0.011893    303691         NaN  l1i_cache_refill    12896880
3         0.011893    110049         NaN     remote_access    12896880
4         0.022363  24715980         NaN      instructions     9903040
...            ...       ...         ...               ...         ...
215427  554.478490      5311         NaN     remote_access    10071640
215428  554.482999  15889859         NaN      instructions     4024440
215429  554.482999   4267463         NaN         l1i_cache     4024440
215430  554.482999      4764         NaN  l1i_cache_refill     4024440
215431  554.482999      4317         NaN     remote_access     4024440

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
215427       100.0         NaN         NaN
215428       100.0         NaN         NaN
215429       100.0         NaN         NaN
215430       100.0         NaN         NaN
215431       100.0         NaN         NaN

[215432 rows x 8 columns]
          time     value       counter
4         0.02  24715980  instructions
8         0.03  28353352  instructions
12        0.04  31745963  instructions
16        0.05  50122202  instructions
20        0.06  38020259  instructions
...        ...       ...           ...
215412  554.45  10612473  instructions
215416  554.46  19901302  instructions
215420  554.47  17374372  instructions
215424  554.48  29512272  instructions
215428  554.48  15889859  instructions

[53857 rows x 3 columns]
instructions
          time instructions
4         0.02     24715980
8         0.03     28353352
12        0.04     31745963
16        0.05     50122202
20        0.06     38020259
...        ...          ...
215412  554.45     10612473
215416  554.46     19901302
215420  554.47     17374372
215424  554.48     29512272
215428  554.48     15889859

[53857 rows x 2 columns]
df3
          time l1i_cache
1         0.01   4734736
5         0.02   9828190
9         0.03  11458932
13        0.04  12436545
17        0.05  17319681
...        ...       ...
215413  554.45   3349822
215417  554.46   6642850
215421  554.47   5731600
215425  554.48   9480345
215429  554.48   4267463

[53858 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           303691
6         0.02           506335
10        0.03           687502
14        0.04           578099
18        0.05           546086
...        ...              ...
215414  554.45            53464
215418  554.46           206807
215422  554.47            59149
215426  554.48            10495
215430  554.48             4764

[53858 rows x 2 columns]
df5
          time remote_access
3         0.01        110049
7         0.02         46227
11        0.03         36887
15        0.04         37619
19        0.05         14747
...        ...           ...
215415  554.45         12916
215419  554.46         12917
215423  554.47          4571
215427  554.48          5311
215431  554.48          4317

[53858 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     24715980   9828190
1        0.03     28353352  11458932
2        0.04     31745963  12436545
3        0.05     50122202  17319681
4        0.06     38020259  14040045
...       ...          ...       ...
53854  554.47     17374372   5731600
53855  554.48     29512272   9480345
53856  554.48     29512272   4267463
53857  554.48     15889859   9480345
53858  554.48     15889859   4267463

[53859 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           303691        110049
1        0.02           506335         46227
2        0.03           687502         36887
3        0.04           578099         37619
4        0.05           546086         14747
...       ...              ...           ...
53855  554.47            59149          4571
53856  554.48            10495          5311
53857  554.48            10495          4317
53858  554.48             4764          5311
53859  554.48             4764          4317

[53860 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010117   9340327         NaN  instructions     9660760
1         0.010117    353349         NaN  l2d_cache_rd     9660760
2         0.010117    126090         NaN  l2d_cache_wr     9660760
3         0.010117    479439         NaN     l2d_cache     9660760
4         0.020553  20599512         NaN  instructions     9933080
...            ...       ...         ...           ...         ...
216515  556.597402   1267044         NaN     l2d_cache    10126680
216516  556.603284  22881362         NaN  instructions     5540560
216517  556.603284    105662         NaN  l2d_cache_rd     5540560
216518  556.603284     98771         NaN  l2d_cache_wr     5540560
216519  556.603284    204433         NaN     l2d_cache     5540560

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
216515       100.0         NaN         NaN
216516       100.0         NaN         NaN
216517       100.0         NaN         NaN
216518       100.0         NaN         NaN
216519       100.0         NaN         NaN

[216520 rows x 8 columns]
          time     value       counter
4         0.02  20599512  instructions
8         0.03  29424834  instructions
12        0.04  32003415  instructions
16        0.05  44949444  instructions
20        0.06  45303720  instructions
...        ...       ...           ...
216500  556.56   6649245  instructions
216504  556.58  18664131  instructions
216508  556.59  20381148  instructions
216512  556.60  24376364  instructions
216516  556.60  22881362  instructions

[54129 rows x 3 columns]
instructions
          time instructions
4         0.02     20599512
8         0.03     29424834
12        0.04     32003415
16        0.05     44949444
20        0.06     45303720
...        ...          ...
216500  556.56      6649245
216504  556.58     18664131
216508  556.59     20381148
216512  556.60     24376364
216516  556.60     22881362

[54129 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       353349
5         0.02       562525
9         0.03       886441
13        0.04       803770
17        0.05       872634
...        ...          ...
216501  556.56        70124
216505  556.58       433168
216509  556.59       354052
216513  556.60       662687
216517  556.60       105662

[54130 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       126090
6         0.02       159504
10        0.03       188122
14        0.04       208692
18        0.05       291319
...        ...          ...
216502  556.56        62109
216506  556.58       162634
216510  556.59       263125
216514  556.60       604357
216518  556.60        98771

[54130 rows x 2 columns]
df5
          time l2d_cache
3         0.01    479439
7         0.02    722029
11        0.03   1074563
15        0.04   1012462
19        0.05   1163953
...        ...       ...
216503  556.56    132233
216507  556.58    595802
216511  556.59    617177
216515  556.60   1267044
216519  556.60    204433

[54130 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     20599512       562525
1        0.03     29424834       886441
2        0.04     32003415       803770
3        0.05     44949444       872634
4        0.06     45303720       895756
...       ...          ...          ...
54126  556.59     20381148       354052
54127  556.60     24376364       662687
54128  556.60     24376364       105662
54129  556.60     22881362       662687
54130  556.60     22881362       105662

[54131 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       126090    479439
1        0.02       159504    722029
2        0.03       188122   1074563
3        0.04       208692   1012462
4        0.05       291319   1163953
...       ...          ...       ...
54127  556.59       263125    617177
54128  556.60       604357   1267044
54129  556.60       604357    204433
54130  556.60        98771   1267044
54131  556.60        98771    204433

[54132 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014181  18854965         NaN  instructions    14912480
1         0.014181   8590216         NaN       l1d_tlb    14912480
2         0.014181   5866694         NaN    l1d_tlb_rd    14912480
3         0.014181   2723522         NaN    l1d_tlb_wr    14912480
4         0.024637  30923824         NaN  instructions     9968120
...            ...       ...         ...           ...         ...
216475  557.039983   3534654         NaN    l1d_tlb_wr    10072280
216476  557.040408     85413         NaN  instructions       59200
216477  557.040408     30658         NaN       l1d_tlb       59200
216478  557.040408     19351         NaN    l1d_tlb_rd       59200
216479  557.040408     11307         NaN    l1d_tlb_wr       59200

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
216475       100.0         NaN         NaN
216476       100.0         NaN         NaN
216477       100.0         NaN         NaN
216478       100.0         NaN         NaN
216479       100.0         NaN         NaN

[216480 rows x 8 columns]
          time     value       counter
4         0.02  30923824  instructions
8         0.03  30150605  instructions
12        0.05  42083489  instructions
16        0.06  51419554  instructions
20        0.07  29885034  instructions
...        ...       ...           ...
216460  557.01  15380830  instructions
216464  557.02  23931603  instructions
216468  557.03  14192834  instructions
216472  557.04  38868721  instructions
216476  557.04     85413  instructions

[54119 rows x 3 columns]
instructions
          time instructions
4         0.02     30923824
8         0.03     30150605
12        0.05     42083489
16        0.06     51419554
20        0.07     29885034
...        ...          ...
216460  557.01     15380830
216464  557.02     23931603
216468  557.03     14192834
216472  557.04     38868721
216476  557.04        85413

[54119 rows x 2 columns]
df3
          time   l1d_tlb
1         0.01   8590216
5         0.02  13308885
9         0.03  13116769
13        0.05  16265463
17        0.06  16408167
...        ...       ...
216461  557.01   6166179
216465  557.02   9062702
216469  557.03   5077532
216473  557.04  13426887
216477  557.04     30658

[54120 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    5866694
6         0.02    8626481
10        0.03    8509842
14        0.05   10869845
18        0.06   11828668
...        ...        ...
216462  557.01    4064460
216466  557.02    6060833
216470  557.03    3696849
216474  557.04    9892233
216478  557.04      19351

[54120 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    2723522
7         0.02    4682404
11        0.03    4606927
15        0.05    5395618
19        0.06    4579499
...        ...        ...
216463  557.01    2101719
216467  557.02    3001869
216471  557.03    1380683
216475  557.04    3534654
216479  557.04      11307

[54120 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.02     30923824  13308885
1        0.03     30150605  13116769
2        0.05     42083489  16265463
3        0.06     51419554  16408167
4        0.07     29885034  12988798
...       ...          ...       ...
54116  557.03     14192834   5077532
54117  557.04     38868721  13426887
54118  557.04     38868721     30658
54119  557.04        85413  13426887
54120  557.04        85413     30658

[54121 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    5866694    2723522
1        0.02    8626481    4682404
2        0.03    8509842    4606927
3        0.05   10869845    5395618
4        0.06   11828668    4579499
...       ...        ...        ...
54117  557.03    3696849    1380683
54118  557.04    9892233    3534654
54119  557.04    9892233      11307
54120  557.04      19351    3534654
54121  557.04      19351      11307

[54122 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011392  13157541         NaN  instructions    12228280
1         0.011392     22174         NaN     dtlb_walk    12228280
2         0.011392      1899         NaN     itlb_walk    12228280
3         0.011392   4324684         NaN       l1i_tlb    12228280
4         0.021831  27019161         NaN  instructions     9974440
...            ...       ...         ...           ...         ...
217135  558.687967   8164233         NaN       l1i_tlb    10067160
217136  558.688783    976027         NaN  instructions      490960
217137  558.688783       967         NaN     dtlb_walk      490960
217138  558.688783         4         NaN     itlb_walk      490960
217139  558.688783    238174         NaN       l1i_tlb      490960

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
217135       100.0         NaN         NaN
217136       100.0         NaN         NaN
217137       100.0         NaN         NaN
217138       100.0         NaN         NaN
217139       100.0         NaN         NaN

[217140 rows x 8 columns]
          time     value       counter
4         0.02  27019161  instructions
8         0.03  28114418  instructions
12        0.04  32955307  instructions
16        0.05  52651225  instructions
20        0.06  35748049  instructions
...        ...       ...           ...
217120  558.66  16121235  instructions
217124  558.67  23809922  instructions
217128  558.68  13918038  instructions
217132  558.69  38194748  instructions
217136  558.69    976027  instructions

[54284 rows x 3 columns]
instructions
          time instructions
4         0.02     27019161
8         0.03     28114418
12        0.04     32955307
16        0.05     52651225
20        0.06     35748049
...        ...          ...
217120  558.66     16121235
217124  558.67     23809922
217128  558.68     13918038
217132  558.69     38194748
217136  558.69       976027

[54284 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     22174
5         0.02      6021
9         0.03      4101
13        0.04      4413
17        0.05      2073
...        ...       ...
217121  558.66     13827
217125  558.67     19135
217129  558.68     36279
217133  558.69     15232
217137  558.69       967

[54285 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1899
6         0.02      1187
10        0.03      1104
14        0.04       968
18        0.05       366
...        ...       ...
217122  558.66      1395
217126  558.67      1210
217130  558.68       223
217134  558.69       192
217138  558.69         4

[54285 rows x 2 columns]
df5
          time   l1i_tlb
3         0.01   4324684
7         0.02   9074159
11        0.03   9597366
15        0.04  10804849
19        0.05  13687553
...        ...       ...
217123  558.66   4607099
217127  558.67   6133295
217131  558.68   4881768
217135  558.69   8164233
217139  558.69    238174

[54285 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     27019161      6021
1        0.03     28114418      4101
2        0.04     32955307      4413
3        0.05     52651225      2073
4        0.06     35748049      4404
...       ...          ...       ...
54281  558.68     13918038     36279
54282  558.69     38194748     15232
54283  558.69     38194748       967
54284  558.69       976027     15232
54285  558.69       976027       967

[54286 rows x 3 columns]
df7
         time itlb_walk   l1i_tlb
0        0.01      1899   4324684
1        0.02      1187   9074159
2        0.03      1104   9597366
3        0.04       968  10804849
4        0.05       366  13687553
...       ...       ...       ...
54282  558.68       223   4881768
54283  558.69       192   8164233
54284  558.69       192    238174
54285  558.69         4   8164233
54286  558.69         4    238174

[54287 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011509  13099865         NaN  instructions    12431160
1         0.011509     82348         NaN       l2d_tlb    12431160
2         0.011509     68041         NaN    l2d_tlb_rd    12431160
3         0.011509     14307         NaN    l2d_tlb_wr    12431160
4         0.021966  24256496         NaN  instructions     9584200
...            ...       ...         ...           ...         ...
215459  554.221937      8085         NaN    l2d_tlb_wr    10072040
215460  554.231996  37523930         NaN  instructions     9651160
215461  554.231996     70103         NaN       l2d_tlb     9651160
215462  554.231996     49180         NaN    l2d_tlb_rd     9651160
215463  554.231996     20923         NaN    l2d_tlb_wr     9651160

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
215459       100.0         NaN         NaN
215460       100.0         NaN         NaN
215461       100.0         NaN         NaN
215462       100.0         NaN         NaN
215463       100.0         NaN         NaN

[215464 rows x 8 columns]
          time          value       counter
4         0.02       24256496  instructions
8         0.03       29538379  instructions
12        0.04       32601200  instructions
16        0.05       52738372  instructions
20        0.06       37063240  instructions
...        ...            ...           ...
215444  554.19  <not counted>  instructions
215448  554.20       16224468  instructions
215452  554.21       24334719  instructions
215456  554.22       14845132  instructions
215460  554.23       37523930  instructions

[53865 rows x 3 columns]
instructions
          time   instructions
4         0.02       24256496
8         0.03       29538379
12        0.04       32601200
16        0.05       52738372
20        0.06       37063240
...        ...            ...
215444  554.19  <not counted>
215448  554.20       16224468
215452  554.21       24334719
215456  554.22       14845132
215460  554.23       37523930

[53865 rows x 2 columns]
df3
          time        l2d_tlb
1         0.01          82348
5         0.02         201875
9         0.03         285774
13        0.04         284905
17        0.05         405391
...        ...            ...
215445  554.19  <not counted>
215449  554.20         144092
215453  554.21         202770
215457  554.22         138833
215461  554.23          70103

[53866 rows x 2 columns]
df4
          time     l2d_tlb_rd
2         0.01          68041
6         0.02         190240
10        0.03         272525
14        0.04         271401
18        0.05         391395
...        ...            ...
215446  554.19  <not counted>
215450  554.20         131777
215454  554.21         188422
215458  554.22         130748
215462  554.23          49180

[53866 rows x 2 columns]
df5
          time     l2d_tlb_wr
3         0.01          14307
7         0.02          11635
11        0.03          13249
15        0.04          13504
19        0.05          13996
...        ...            ...
215447  554.19  <not counted>
215451  554.20          12315
215455  554.21          14348
215459  554.22           8085
215463  554.23          20923

[53866 rows x 2 columns]
df6
         time   instructions        l2d_tlb
0        0.02       24256496         201875
1        0.03       29538379         285774
2        0.04       32601200         284905
3        0.05       52738372         405391
4        0.06       37063240         324804
...       ...            ...            ...
53860  554.19  <not counted>  <not counted>
53861  554.20       16224468         144092
53862  554.21       24334719         202770
53863  554.22       14845132         138833
53864  554.23       37523930          70103

[53865 rows x 3 columns]
df7
         time     l2d_tlb_rd     l2d_tlb_wr
0        0.01          68041          14307
1        0.02         190240          11635
2        0.03         272525          13249
3        0.04         271401          13504
4        0.05         391395          13996
...       ...            ...            ...
53861  554.19  <not counted>  <not counted>
53862  554.20         131777          12315
53863  554.21         188422          14348
53864  554.22         130748           8085
53865  554.23          49180          20923

[53866 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011617  12748316         NaN  instructions    12429920
1         0.011617        31         NaN      vfp_spec    12429920
2         0.011617  15279550         NaN     inst_spec    12429920
3         0.011617      9619         NaN      ase_spec    12429920
4         0.022073  25165723         NaN  instructions     9847280
...            ...       ...         ...           ...         ...
216439  556.243147         0         NaN      ase_spec    10077720
216440  556.251572  32214990         NaN  instructions     7949000
216441  556.251572         0         NaN      vfp_spec     7949000
216442  556.251572  32758875         NaN     inst_spec     7949000
216443  556.251572         0         NaN      ase_spec     7949000

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
216439       100.0         NaN         NaN
216440       100.0         NaN         NaN
216441       100.0         NaN         NaN
216442       100.0         NaN         NaN
216443       100.0         NaN         NaN

[216444 rows x 8 columns]
          time     value       counter
4         0.02  25165723  instructions
8         0.03  29235119  instructions
12        0.04  32797177  instructions
16        0.05  51214751  instructions
20        0.06  37051367  instructions
...        ...       ...           ...
216424  556.21     17767  instructions
216428  556.22  19631221  instructions
216432  556.23  23631311  instructions
216436  556.24  17614720  instructions
216440  556.25  32214990  instructions

[54110 rows x 3 columns]
instructions
          time instructions
4         0.02     25165723
8         0.03     29235119
12        0.04     32797177
16        0.05     51214751
20        0.06     37051367
...        ...          ...
216424  556.21        17767
216428  556.22     19631221
216432  556.23     23631311
216436  556.24     17614720
216440  556.25     32214990

[54110 rows x 2 columns]
df3
          time vfp_spec
1         0.01       31
5         0.02     3262
9         0.03     1567
13        0.04      666
17        0.05      397
...        ...      ...
216425  556.21       10
216429  556.22      235
216433  556.23        0
216437  556.24        0
216441  556.25        0

[54111 rows x 2 columns]
df4
          time inst_spec
2         0.01  15279550
6         0.02  31388075
10        0.03  36762636
14        0.04  40427398
18        0.05  58645545
...        ...       ...
216426  556.21     30409
216430  556.22  22043898
216434  556.23  25498837
216438  556.24  22551048
216442  556.25  32758875

[54111 rows x 2 columns]
df5
          time ase_spec
3         0.01     9619
7         0.02    34672
11        0.03    19584
15        0.04    24563
19        0.05    32489
...        ...      ...
216427  556.21        3
216431  556.22     2805
216435  556.23     1633
216439  556.24        0
216443  556.25        0

[54111 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     25165723     3262
1        0.03     29235119     1567
2        0.04     32797177      666
3        0.05     51214751      397
4        0.06     37051367      592
...       ...          ...      ...
54105  556.21        17767       10
54106  556.22     19631221      235
54107  556.23     23631311        0
54108  556.24     17614720        0
54109  556.25     32214990        0

[54110 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  15279550     9619
1        0.02  31388075    34672
2        0.03  36762636    19584
3        0.04  40427398    24563
4        0.05  58645545    32489
...       ...       ...      ...
54106  556.21     30409        3
54107  556.22  22043898     2805
54108  556.23  25498837     1633
54109  556.24  22551048        0
54110  556.25  32758875        0

[54111 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.015466  20479250         NaN      instructions    16205320
1         0.015466  17604651         NaN     stall_backend    16205320
2         0.015466  23086486         NaN    stall_frontend    16205320
3         0.015466    274690         NaN  ll_cache_miss_rd    16205320
4         0.025934  30632881         NaN      instructions     9946600
...            ...       ...         ...               ...         ...
216519  556.693321    726952         NaN  ll_cache_miss_rd    10271080
216520  556.698096  17450165         NaN      instructions     4414640
216521  556.698096   7398517         NaN     stall_backend     4414640
216522  556.698096    641879         NaN    stall_frontend     4414640
216523  556.698096     72190         NaN  ll_cache_miss_rd     4414640

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
216519       100.0         NaN         NaN
216520       100.0         NaN         NaN
216521       100.0         NaN         NaN
216522       100.0         NaN         NaN
216523       100.0         NaN         NaN

[216524 rows x 8 columns]
          time     value       counter
4         0.03  30632881  instructions
8         0.04  29089633  instructions
12        0.05  36739423  instructions
16        0.06  52955614  instructions
20        0.07  28912792  instructions
...        ...       ...           ...
216504  556.66  10185767  instructions
216508  556.67  18187859  instructions
216512  556.68  18388798  instructions
216516  556.69  28480087  instructions
216520  556.70  17450165  instructions

[54130 rows x 3 columns]
instructions
          time instructions
4         0.03     30632881
8         0.04     29089633
12        0.05     36739423
16        0.06     52955614
20        0.07     28912792
...        ...          ...
216504  556.66     10185767
216508  556.67     18187859
216512  556.68     18388798
216516  556.69     28480087
216520  556.70     17450165

[54130 rows x 2 columns]
df3
          time stall_backend
1         0.02      17604651
5         0.03       5513080
9         0.04       5689146
13        0.05       5201580
17        0.06       4816164
...        ...           ...
216505  556.66      12424056
216509  556.67      19334196
216513  556.68      22368870
216517  556.69      19753421
216521  556.70       7398517

[54131 rows x 2 columns]
df4
          time stall_frontend
2         0.02       23086486
6         0.03       12219685
10        0.04       12818641
14        0.05        9660534
18        0.06        7330003
...        ...            ...
216506  556.66        2218738
216510  556.67        4258229
216514  556.68        1619042
216518  556.69        1194316
216522  556.70         641879

[54131 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.02           274690
7         0.03           146080
11        0.04           162884
15        0.05           129025
19        0.06            80020
...        ...              ...
216507  556.66            76378
216511  556.67           134280
216515  556.68           271857
216519  556.69           726952
216523  556.70            72190

[54131 rows x 2 columns]
df6
         time instructions stall_backend
0        0.03     30632881       5513080
1        0.04     29089633       5689146
2        0.05     36739423       5201580
3        0.06     52955614       4816164
4        0.07     28912792       5835802
...       ...          ...           ...
54125  556.66     10185767      12424056
54126  556.67     18187859      19334196
54127  556.68     18388798      22368870
54128  556.69     28480087      19753421
54129  556.70     17450165       7398517

[54130 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.02       23086486           274690
1        0.03       12219685           146080
2        0.04       12818641           162884
3        0.05        9660534           129025
4        0.06        7330003            80020
...       ...            ...              ...
54126  556.66        2218738            76378
54127  556.67        4258229           134280
54128  556.68        1619042           271857
54129  556.69        1194316           726952
54130  556.70         641879            72190

[54131 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.011754  13263274         NaN   instructions    12660200
1         0.011754   4144282         NaN     mem_access    12660200
2         0.011754   2558606         NaN  mem_access_rd    12660200
3         0.011754   1585676         NaN  mem_access_wr    12660200
4         0.022197  26898287         NaN   instructions     9991840
...            ...       ...         ...            ...         ...
216647  557.014454   3379262         NaN  mem_access_wr    10083720
216648  557.015503   1851424         NaN   instructions      628280
216649  557.015503    542106         NaN     mem_access      628280
216650  557.015503    339735         NaN  mem_access_rd      628280
216651  557.015503    202371         NaN  mem_access_wr      628280

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
216647       100.0         NaN         NaN
216648       100.0         NaN         NaN
216649       100.0         NaN         NaN
216650       100.0         NaN         NaN
216651       100.0         NaN         NaN

[216652 rows x 8 columns]
          time     value       counter
4         0.02  26898287  instructions
8         0.03  27425714  instructions
12        0.04  33130207  instructions
16        0.05  52652394  instructions
20        0.06  35838756  instructions
...        ...       ...           ...
216632  556.98  15273968  instructions
216636  556.99  22344987  instructions
216640  557.00  15818592  instructions
216644  557.01  37792251  instructions
216648  557.02   1851424  instructions

[54162 rows x 3 columns]
instructions
          time instructions
4         0.02     26898287
8         0.03     27425714
12        0.04     33130207
16        0.05     52652394
20        0.06     35838756
...        ...          ...
216632  556.98     15273968
216636  556.99     22344987
216640  557.00     15818592
216644  557.01     37792251
216648  557.02      1851424

[54162 rows x 2 columns]
df3
          time mem_access
1         0.01    4144282
5         0.02   10033900
9         0.03   10625186
13        0.04   12699635
17        0.05   15866375
...        ...        ...
216633  556.98    5169728
216637  556.99    7782250
216641  557.00    4784880
216645  557.01    9997631
216649  557.02     542106

[54163 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       2558606
6         0.02       6334807
10        0.03       6695661
14        0.04       8105512
18        0.05      11219921
...        ...           ...
216634  556.98       3171681
216638  556.99       5096018
216642  557.00       3258968
216646  557.01       6618369
216650  557.02        339735

[54163 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1585676
7         0.02       3699093
11        0.03       3929525
15        0.04       4594123
19        0.05       4646454
...        ...           ...
216635  556.98       1998047
216639  556.99       2686232
216643  557.00       1525912
216647  557.01       3379262
216651  557.02        202371

[54163 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     26898287   10033900
1        0.03     27425714   10625186
2        0.04     33130207   12699635
3        0.05     52652394   15866375
4        0.06     35838756   12002441
...       ...          ...        ...
54157  556.98     15273968    5169728
54158  556.99     22344987    7782250
54159  557.00     15818592    4784880
54160  557.01     37792251    9997631
54161  557.02      1851424     542106

[54162 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       2558606       1585676
1        0.02       6334807       3699093
2        0.03       6695661       3929525
3        0.04       8105512       4594123
4        0.05      11219921       4646454
...       ...           ...           ...
54158  556.98       3171681       1998047
54159  556.99       5096018       2686232
54160  557.00       3258968       1525912
54161  557.01       6618369       3379262
54162  557.02        339735        202371

[54163 rows x 3 columns]
merged_df
         time instructions cpu-cycles   br_pred br_mis_pred l1d_cache_rd  \
0        0.03     28178472   29675475   6335407      264332      7190295
1        0.05     50798358   30164829  12720576      236593      9057046
2        0.06     37750660   30177305   9200625      267296     10969664
3        0.07     30958131   30253344   6940413      263290      6725353
4        0.08     33364661   30156385   7502389      250808      8554285
...       ...          ...        ...       ...         ...          ...
41691  554.13     31162609   29902212   6608174       68917      9303211
41692  554.16     27720216   29921888   5535703       81535      9202291
41693  554.20     41976967   30079116   7500673       68018     12925736
41694  554.21     49695572   29952021  11920992       84388     13133577
41695  554.22     63601677   30157879  13500192       81252     11920102

      l1d_cache_wr l1d_cache      l1i_cache l1i_cache_refill  ...  \
0          4149951  11340246       11458932           687502  ...
1          4783205  13840251       17319681           546086  ...
2          4292051  15261715       14040045           593641  ...
3          3774429  10499782       12155594           710064  ...
4          4830427  13384712       13075267           688404  ...
...            ...       ...            ...              ...  ...
41691      5207743  14510954  <not counted>    <not counted>  ...
41692      5224693  14426984  <not counted>    <not counted>  ...
41693      6800532  19726268  <not counted>    <not counted>  ...
41694      7418856  20552433  <not counted>    <not counted>  ...
41695      6668988  18589090  <not counted>    <not counted>  ...

          l2d_tlb_wr vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0              13249     1567  36762636    19584       5513080       12219685
1              13996      397  58645545    32489       5201580        9660534
2              13261      592  44895160    25898       4816164        7330003
3              14777     1007  38510835    22939       5835802       13017779
4              16732     1321  42071997    22233       5436575       11144060
...              ...      ...       ...      ...           ...            ...
41691  <not counted>     3371  54901714    82878      12640667        8969173
41692  <not counted>      157  52838888    32389      12066039        8760440
41693          12315        0  20013042        0       7615057        5542618
41694          14348        0  25090839        0       4800791        5676850
41695           8085        0  19481379       10       6896145        6676531

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               146080   10625186       6695661       3929525
1               129025   15866375      11219921       4646454
2                80020   12002441       8070844       3931597
3               160661   12317193       7851819       4465374
4               133634   13024522       8361515       4663007
...                ...        ...           ...           ...
41691           180129    9310060       6050073       3259987
41692           182431   26510431      17612718       8897713
41693            64204   19257242      12551843       6705399
41694            40264    8811900       5715639       3096261
41695            91780   22638476      15111843       7526633

[41696 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011474  12788548         NaN  instructions    12410800
1         0.011474  37001091         NaN    cpu-cycles    12410800
2         0.011474   2371680         NaN       br_pred    12410800
3         0.011474     92897         NaN   br_mis_pred    12410800
4         0.021928  25326932         NaN  instructions     9963800
...            ...       ...         ...           ...         ...
158975  414.316670    116954         NaN   br_mis_pred    10135720
158976  414.322354  21516292         NaN  instructions     5317440
158977  414.322354  15921661         NaN    cpu-cycles     5317440
158978  414.322354   3096737         NaN       br_pred     5317440
158979  414.322354      5083         NaN   br_mis_pred     5317440

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.35  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.85  insn per cycle
...            ...         ...             ...
158975       100.0         NaN             NaN
158976       100.0        1.35  insn per cycle
158977       100.0         NaN             NaN
158978       100.0         NaN             NaN
158979       100.0         NaN             NaN

[158980 rows x 8 columns]
          time     value       counter
4         0.02  25326932  instructions
8         0.03  29077663  instructions
12        0.04  32362344  instructions
16        0.05  52133780  instructions
20        0.06  36691134  instructions
...        ...       ...           ...
158960  414.28   6902844  instructions
158964  414.29  13848923  instructions
158968  414.31  25534465  instructions
158972  414.32  25493266  instructions
158976  414.32  21516292  instructions

[39744 rows x 3 columns]
instructions
          time instructions
4         0.02     25326932
8         0.03     29077663
12        0.04     32362344
16        0.05     52133780
20        0.06     36691134
...        ...          ...
158960  414.28      6902844
158964  414.29     13848923
158968  414.31     25534465
158972  414.32     25493266
158976  414.32     21516292

[39744 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   37001091
5         0.02   29814011
9         0.03   29738111
13        0.04   30035627
17        0.05   30147773
...        ...        ...
158961  414.28   10402031
158965  414.29   29776279
158969  414.31   37232929
158973  414.32   30371125
158977  414.32   15921661

[39745 rows x 2 columns]
df4
          time   br_pred
2         0.01   2371680
6         0.02   5608456
10        0.03   6553697
14        0.04   7395154
18        0.05  13029928
...        ...       ...
158962  414.28   1107780
158966  414.29   3023467
158970  414.31   5929871
158974  414.32   5967662
158978  414.32   3096737

[39745 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       92897
7         0.02      228740
11        0.03      272128
15        0.04      259668
19        0.05      226928
...        ...         ...
158963  414.28        5726
158967  414.29       59514
158971  414.31       52747
158975  414.32      116954
158979  414.32        5083

[39745 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     25326932   29814011
1        0.03     29077663   29738111
2        0.04     32362344   30035627
3        0.05     52133780   30147773
4        0.06     36691134   30173449
...       ...          ...        ...
39741  414.31     25534465   37232929
39742  414.32     25493266   30371125
39743  414.32     25493266   15921661
39744  414.32     21516292   30371125
39745  414.32     21516292   15921661

[39746 rows x 3 columns]
df7
         time   br_pred br_mis_pred
0        0.01   2371680       92897
1        0.02   5608456      228740
2        0.03   6553697      272128
3        0.04   7395154      259668
4        0.05  13029928      226928
...       ...       ...         ...
39742  414.31   5929871       52747
39743  414.32   5967662      116954
39744  414.32   5967662        5083
39745  414.32   3096737      116954
39746  414.32   3096737        5083

[39747 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011496  13083840         NaN  instructions    12442000
1         0.011496   2525874         NaN  l1d_cache_rd    12442000
2         0.011496   1555303         NaN  l1d_cache_wr    12442000
3         0.011496   4081177         NaN     l1d_cache    12442000
4         0.021979  26354898         NaN  instructions     9940880
...            ...       ...         ...           ...         ...
160039  417.598262   9091045         NaN     l1d_cache    10154120
160040  417.600339   6353045         NaN  instructions     1671960
160041  417.600339   1148627         NaN  l1d_cache_rd     1671960
160042  417.600339    682956         NaN  l1d_cache_wr     1671960
160043  417.600339   1831583         NaN     l1d_cache     1671960

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
160039       100.0         NaN         NaN
160040       100.0         NaN         NaN
160041       100.0         NaN         NaN
160042       100.0         NaN         NaN
160043       100.0         NaN         NaN

[160044 rows x 8 columns]
          time     value       counter
4         0.02  26354898  instructions
8         0.03  28277869  instructions
12        0.04  32875650  instructions
16        0.05  52534497  instructions
20        0.06  35937406  instructions
...        ...       ...           ...
160024  417.57  13642777  instructions
160028  417.58  23264175  instructions
160032  417.59  14727708  instructions
160036  417.60  34871251  instructions
160040  417.60   6353045  instructions

[40010 rows x 3 columns]
instructions
          time instructions
4         0.02     26354898
8         0.03     28277869
12        0.04     32875650
16        0.05     52534497
20        0.06     35937406
...        ...          ...
160024  417.57     13642777
160028  417.58     23264175
160032  417.59     14727708
160036  417.60     34871251
160040  417.60      6353045

[40010 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      2525874
5         0.02      6188807
9         0.03      6919259
13        0.04      8049445
17        0.05     11197248
...        ...          ...
160025  417.57      2795562
160029  417.58      5336139
160033  417.59      3018406
160037  417.60      6113435
160041  417.60      1148627

[40011 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      1555303
6         0.02      3614396
10        0.03      4047294
14        0.04      4554776
18        0.05      4637852
...        ...          ...
160026  417.57      1739180
160030  417.58      2917964
160034  417.59      1442248
160038  417.60      2977610
160042  417.60       682956

[40011 rows x 2 columns]
df5
          time l1d_cache
3         0.01   4081177
7         0.02   9803203
11        0.03  10966553
15        0.04  12604221
19        0.05  15835100
...        ...       ...
160027  417.57   4534742
160031  417.58   8254103
160035  417.59   4460654
160039  417.60   9091045
160043  417.60   1831583

[40011 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     26354898      6188807
1        0.03     28277869      6919259
2        0.04     32875650      8049445
3        0.05     52534497     11197248
4        0.06     35937406      8095297
...       ...          ...          ...
40007  417.59     14727708      3018406
40008  417.60     34871251      6113435
40009  417.60     34871251      1148627
40010  417.60      6353045      6113435
40011  417.60      6353045      1148627

[40012 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      1555303   4081177
1        0.02      3614396   9803203
2        0.03      4047294  10966553
3        0.04      4554776  12604221
4        0.05      4637852  15835100
...       ...          ...       ...
40008  417.59      1442248   4460654
40009  417.60      2977610   9091045
40010  417.60      2977610   1831583
40011  417.60       682956   9091045
40012  417.60       682956   1831583

[40013 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010121  10512242         NaN      instructions    10523720
1         0.010121   3792383         NaN         l1i_cache    10523720
2         0.010121    250189         NaN  l1i_cache_refill    10523720
3         0.010121     90880         NaN     remote_access    10523720
4         0.020591  22739377         NaN      instructions     9980720
...            ...       ...         ...               ...         ...
160155  417.569006      4801         NaN     remote_access    10213600
160156  417.571589   8636165         NaN      instructions     2217200
160157  417.571589   2342741         NaN         l1i_cache     2217200
160158  417.571589      4383         NaN  l1i_cache_refill     2217200
160159  417.571589      4181         NaN     remote_access     2217200

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
160155       100.0         NaN         NaN
160156       100.0         NaN         NaN
160157       100.0         NaN         NaN
160158       100.0         NaN         NaN
160159       100.0         NaN         NaN

[160160 rows x 8 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

          time     value       counter
4         0.02  22739377  instructions
8         0.03  28060305  instructions
12        0.04  31398231  instructions
16        0.05  48841607  instructions
20        0.06  42214603  instructions
...        ...       ...           ...
160140  417.54  12955454  instructions
160144  417.55  21640810  instructions
160148  417.56  16664577  instructions
160152  417.57  33151463  instructions
160156  417.57   8636165  instructions

[40039 rows x 3 columns]
instructions
          time instructions
4         0.02     22739377
8         0.03     28060305
12        0.04     31398231
16        0.05     48841607
20        0.06     42214603
...        ...          ...
160140  417.54     12955454
160144  417.55     21640810
160148  417.56     16664577
160152  417.57     33151463
160156  417.57      8636165

[40039 rows x 2 columns]
df3
          time l1i_cache
1         0.01   3792383
5         0.02   8835193
9         0.03  11375344
13        0.04  12346364
17        0.05  17153155
...        ...       ...
160141  417.54   4299295
160145  417.55   7013033
160149  417.56   5693473
160153  417.57  10097792
160157  417.57   2342741

[40040 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           250189
6         0.02           458463
10        0.03           675300
14        0.04           584818
18        0.05           575804
...        ...              ...
160142  417.54           111522
160146  417.55           162961
160150  417.56            45135
160154  417.57             9164
160158  417.57             4383

[40040 rows x 2 columns]
df5
          time remote_access
3         0.01         90880
7         0.02         53422
11        0.03         36533
15        0.04         36719
19        0.05         14584
...        ...           ...
160143  417.54         23027
160147  417.55          4622
160151  417.56          4209
160155  417.57          4801
160159  417.57          4181

[40040 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     22739377   8835193
1        0.03     28060305  11375344
2        0.04     31398231  12346364
3        0.05     48841607  17153155
4        0.06     42214603  15412921
...       ...          ...       ...
40036  417.56     16664577   5693473
40037  417.57     33151463  10097792
40038  417.57     33151463   2342741
40039  417.57      8636165  10097792
40040  417.57      8636165   2342741

[40041 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           250189         90880
1        0.02           458463         53422
2        0.03           675300         36533
3        0.04           584818         36719
4        0.05           575804         14584
...       ...              ...           ...
40037  417.56            45135          4209
40038  417.57             9164          4801
40039  417.57             9164          4181
40040  417.57             4383          4801
40041  417.57             4383          4181

[40042 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010148  10916985         NaN  instructions    11133600
1         0.010148    419270         NaN  l2d_cache_rd    11133600
2         0.010148    147208         NaN  l2d_cache_wr    11133600
3         0.010148    566478         NaN     l2d_cache    11133600
4         0.020618  21481305         NaN  instructions     9890600
...            ...       ...         ...           ...         ...
159951  417.151447   1300691         NaN     l2d_cache    10074880
159952  417.160185  32388633         NaN  instructions     8302600
159953  417.160185    152188         NaN  l2d_cache_rd     8302600
159954  417.160185    142833         NaN  l2d_cache_wr     8302600
159955  417.160185    295021         NaN     l2d_cache     8302600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
159951       100.0         NaN         NaN
159952       100.0         NaN         NaN
159953       100.0         NaN         NaN
159954       100.0         NaN         NaN
159955       100.0         NaN         NaN

[159956 rows x 8 columns]
          time     value       counter
4         0.02  21481305  instructions
8         0.03  27374372  instructions
12        0.04  42959618  instructions
16        0.05  52811329  instructions
20        0.06  34745318  instructions
...        ...       ...           ...
159936  417.12   6865132  instructions
159940  417.13  13218878  instructions
159944  417.14  23139826  instructions
159948  417.15  17845290  instructions
159952  417.16  32388633  instructions

[39988 rows x 3 columns]
instructions
          time instructions
4         0.02     21481305
8         0.03     27374372
12        0.04     42959618
16        0.05     52811329
20        0.06     34745318
...        ...          ...
159936  417.12      6865132
159940  417.13     13218878
159944  417.14     23139826
159948  417.15     17845290
159952  417.16     32388633

[39988 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       419270
5         0.02       583973
9         0.03       836603
13        0.04      1102442
17        0.05       884053
...        ...          ...
159937  417.12        74650
159941  417.13       323439
159945  417.14       398561
159949  417.15       683987
159953  417.16       152188

[39989 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       147208
6         0.02       158221
10        0.03       179129
14        0.04       279913
18        0.05       351069
...        ...          ...
159938  417.12        65284
159942  417.13       110066
159946  417.14       258934
159950  417.15       616704
159954  417.16       142833

[39989 rows x 2 columns]
df5
          time l2d_cache
3         0.01    566478
7         0.02    742194
11        0.03   1015732
15        0.04   1382355
19        0.05   1235122
...        ...       ...
159939  417.12    139934
159943  417.13    433505
159947  417.14    657495
159951  417.15   1300691
159955  417.16    295021

[39989 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.02     21481305       583973
1        0.03     27374372       836603
2        0.04     42959618      1102442
3        0.05     52811329       884053
4        0.06     34745318       846475
...       ...          ...          ...
39983  417.12      6865132        74650
39984  417.13     13218878       323439
39985  417.14     23139826       398561
39986  417.15     17845290       683987
39987  417.16     32388633       152188

[39988 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       147208    566478
1        0.02       158221    742194
2        0.03       179129   1015732
3        0.04       279913   1382355
4        0.05       351069   1235122
...       ...          ...       ...
39984  417.12        65284    139934
39985  417.13       110066    433505
39986  417.14       258934    657495
39987  417.15       616704   1300691
39988  417.16       142833    295021

[39989 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014746  18240292         NaN  instructions    15636120
1         0.014746   8153439         NaN       l1d_tlb    15636120
2         0.014746   5550883         NaN    l1d_tlb_rd    15636120
3         0.014746   2602556         NaN    l1d_tlb_wr    15636120
4         0.025208  28689121         NaN  instructions     9860320
...            ...       ...         ...           ...         ...
159127  415.452521   2037003         NaN    l1d_tlb_wr    10066560
159128  415.457868  19239189         NaN  instructions     4831480
159129  415.457868   7233723         NaN       l1d_tlb     4831480
159130  415.457868   5174826         NaN    l1d_tlb_rd     4831480
159131  415.457868   2058897         NaN    l1d_tlb_wr     4831480

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
159127       100.0         NaN         NaN
159128       100.0         NaN         NaN
159129       100.0         NaN         NaN
159130       100.0         NaN         NaN
159131       100.0         NaN         NaN

[159132 rows x 8 columns]
          time     value       counter
4         0.03  28689121  instructions
8         0.04  30526520  instructions
12        0.05  36926034  instructions
16        0.06  53216061  instructions
20        0.07  29310660  instructions
...        ...       ...           ...
159112  415.42  10639383  instructions
159116  415.43  17976708  instructions
159120  415.44  18612664  instructions
159124  415.45  27067552  instructions
159128  415.46  19239189  instructions

[39782 rows x 3 columns]
instructions
          time instructions
4         0.03     28689121
8         0.04     30526520
12        0.05     36926034
16        0.06     53216061
20        0.07     29310660
...        ...          ...
159112  415.42     10639383
159116  415.43     17976708
159120  415.44     18612664
159124  415.45     27067552
159128  415.46     19239189

[39782 rows x 2 columns]
df3
          time   l1d_tlb
1         0.01   8153439
5         0.03  12278515
9         0.04  13265617
13        0.05  15011541
17        0.06  16908745
...        ...       ...
159113  415.42   4068050
159117  415.43   7287145
159121  415.44   6830016
159125  415.45   8540146
159129  415.46   7233723

[39783 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    5550883
6         0.03    7943052
10        0.04    8595024
14        0.05    9893277
18        0.06   12195739
...        ...        ...
159114  415.42    2738487
159118  415.43    4775710
159122  415.44    4640671
159126  415.45    6503143
159130  415.46    5174826

[39783 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    2602556
7         0.03    4335463
11        0.04    4670593
15        0.05    5118264
19        0.06    4713006
...        ...        ...
159115  415.42    1329563
159119  415.43    2511435
159123  415.44    2189345
159127  415.45    2037003
159131  415.46    2058897

[39783 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.03     28689121  12278515
1        0.04     30526520  13265617
2        0.05     36926034  15011541
3        0.06     53216061  16908745
4        0.07     29310660  12169342
...       ...          ...       ...
39777  415.42     10639383   4068050
39778  415.43     17976708   7287145
39779  415.44     18612664   6830016
39780  415.45     27067552   8540146
39781  415.46     19239189   7233723

[39782 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    5550883    2602556
1        0.03    7943052    4335463
2        0.04    8595024    4670593
3        0.05    9893277    5118264
4        0.06   12195739    4713006
...       ...        ...        ...
39778  415.42    2738487    1329563
39779  415.43    4775710    2511435
39780  415.44    4640671    2189345
39781  415.45    6503143    2037003
39782  415.46    5174826    2058897

[39783 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011425  12859127         NaN  instructions    12377240
1         0.011425     20459         NaN     dtlb_walk    12377240
2         0.011425      1866         NaN     itlb_walk    12377240
3         0.011425   4270329         NaN       l1i_tlb    12377240
4         0.021893  25994838         NaN  instructions    10011120
...            ...       ...         ...           ...         ...
159111  415.472292   8139757         NaN       l1i_tlb    10263880
159112  415.473451   2781126         NaN  instructions      799160
159113  415.473451      1201         NaN     dtlb_walk      799160
159114  415.473451         7         NaN     itlb_walk      799160
159115  415.473451    594339         NaN       l1i_tlb      799160

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
159111       100.0         NaN         NaN
159112       100.0         NaN         NaN
159113       100.0         NaN         NaN
159114       100.0         NaN         NaN
159115       100.0         NaN         NaN

[159116 rows x 8 columns]
          time     value       counter
4         0.02  25994838  instructions
8         0.03  27403000  instructions
12        0.04  31675153  instructions
16        0.05  49988874  instructions
20        0.06  38320305  instructions
...        ...       ...           ...
159096  415.44  15347814  instructions
159100  415.45  23649754  instructions
159104  415.46  13747124  instructions
159108  415.47  37212078  instructions
159112  415.47   2781126  instructions

[39778 rows x 3 columns]
instructions
          time instructions
4         0.02     25994838
8         0.03     27403000
12        0.04     31675153
16        0.05     49988874
20        0.06     38320305
...        ...          ...
159096  415.44     15347814
159100  415.45     23649754
159104  415.46     13747124
159108  415.47     37212078
159112  415.47      2781126

[39778 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     20459
5         0.02      5920
9         0.03      3625
13        0.04      4660
17        0.05      2390
...        ...       ...
159097  415.44     13574
159101  415.45     18408
159105  415.46     37428
159109  415.47     17139
159113  415.47      1201

[39779 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1866
6         0.02      1157
10        0.03      1055
14        0.04      1058
18        0.05       345
...        ...       ...
159098  415.44      1508
159102  415.45      1272
159106  415.46       515
159110  415.47       227
159114  415.47         7

[39779 rows x 2 columns]
df5
          time   l1i_tlb
3         0.01   4270329
7         0.02   8689447
11        0.03   9318004
15        0.04  10328910
19        0.05  13335153
...        ...       ...
159099  415.44   4402198
159103  415.45   6070942
159107  415.46   4829438
159111  415.47   8139757
159115  415.47    594339

[39779 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     25994838      5920
1        0.03     27403000      3625
2        0.04     31675153      4660
3        0.05     49988874      2390
4        0.06     38320305      3807
...       ...          ...       ...
39775  415.46     13747124     37428
39776  415.47     37212078     17139
39777  415.47     37212078      1201
39778  415.47      2781126     17139
39779  415.47      2781126      1201

[39780 rows x 3 columns]
df7
         time itlb_walk   l1i_tlb
0        0.01      1866   4270329
1        0.02      1157   8689447
2        0.03      1055   9318004
3        0.04      1058  10328910
4        0.05       345  13335153
...       ...       ...       ...
39776  415.46       515   4829438
39777  415.47       227   8139757
39778  415.47       227    594339
39779  415.47         7   8139757
39780  415.47         7    594339

[39781 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014699  18538147         NaN  instructions    15636520
1         0.014699    127675         NaN       l2d_tlb    15636520
2         0.014699    109617         NaN    l2d_tlb_rd    15636520
3         0.014699     18058         NaN    l2d_tlb_wr    15636520
4         0.025192  29498023         NaN  instructions     9937640
...            ...       ...         ...           ...         ...
159363  415.940578      7103         NaN    l2d_tlb_wr    10077440
159364  415.949558  34294339         NaN  instructions     8518960
159365  415.949558     59249         NaN       l2d_tlb     8518960
159366  415.949558     38324         NaN    l2d_tlb_rd     8518960
159367  415.949558     20925         NaN    l2d_tlb_wr     8518960

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
159363       100.0         NaN         NaN
159364       100.0         NaN         NaN
159365       100.0         NaN         NaN
159366       100.0         NaN         NaN
159367       100.0         NaN         NaN

[159368 rows x 8 columns]
          time     value       counter
4         0.03  29498023  instructions
8         0.04  29567112  instructions
12        0.05  36484800  instructions
16        0.06  52842730  instructions
20        0.07  29411261  instructions
...        ...       ...           ...
159348  415.91   6320000  instructions
159352  415.92  12601972  instructions
159356  415.93  23048882  instructions
159360  415.94  16499317  instructions
159364  415.95  34294339  instructions

[39841 rows x 3 columns]
instructions
          time instructions
4         0.03     29498023
8         0.04     29567112
12        0.05     36484800
16        0.06     52842730
20        0.07     29411261
...        ...          ...
159348  415.91      6320000
159352  415.92     12601972
159356  415.93     23048882
159360  415.94     16499317
159364  415.95     34294339

[39841 rows x 2 columns]
df3
          time l2d_tlb
1         0.01  127675
5         0.03  264727
9         0.04  280351
13        0.05  305404
17        0.06  415551
...        ...     ...
159349  415.91   24738
159353  415.92  163945
159357  415.93  177078
159361  415.94  138885
159365  415.95   59249

[39842 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01     109617
6         0.03     251800
10        0.04     267268
14        0.05     291783
18        0.06     402380
...        ...        ...
159350  415.91      23149
159354  415.92     149904
159358  415.93     164612
159362  415.94     131782
159366  415.95      38324

[39842 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      18058
7         0.03      12927
11        0.04      13083
15        0.05      13621
19        0.06      13171
...        ...        ...
159351  415.91       1589
159355  415.92      14041
159359  415.93      12466
159363  415.94       7103
159367  415.95      20925

[39842 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.03     29498023  264727
1        0.04     29567112  280351
2        0.05     36484800  305404
3        0.06     52842730  415551
4        0.07     29411261  284073
...       ...          ...     ...
39836  415.91      6320000   24738
39837  415.92     12601972  163945
39838  415.93     23048882  177078
39839  415.94     16499317  138885
39840  415.95     34294339   59249

[39841 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01     109617      18058
1        0.03     251800      12927
2        0.04     267268      13083
3        0.05     291783      13621
4        0.06     402380      13171
...       ...        ...        ...
39837  415.91      23149       1589
39838  415.92     149904      14041
39839  415.93     164612      12466
39840  415.94     131782       7103
39841  415.95      38324      20925

[39842 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014956  18706770         NaN  instructions    15842000
1         0.014956       285         NaN      vfp_spec    15842000
2         0.014956  22657741         NaN     inst_spec    15842000
3         0.014956     16529         NaN      ase_spec    15842000
4         0.025432  29217729         NaN  instructions     9879440
...            ...       ...         ...           ...         ...
159283  415.798495       174         NaN      ase_spec    10066240
159284  415.809634  39836272         NaN  instructions    10730320
159285  415.809634         0         NaN      vfp_spec    10730320
159286  415.809634  42607272         NaN     inst_spec    10730320
159287  415.809634         3         NaN      ase_spec    10730320

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
159283       100.0         NaN         NaN
159284       100.0         NaN         NaN
159285       100.0         NaN         NaN
159286       100.0         NaN         NaN
159287       100.0         NaN         NaN

[159288 rows x 8 columns]
          time          value       counter
4         0.03       29217729  instructions
8         0.04       29875697  instructions
12        0.05       36662483  instructions
16        0.06       52570976  instructions
20        0.07       29237876  instructions
...        ...            ...           ...
159268  415.77  <not counted>  instructions
159272  415.78       15301990  instructions
159276  415.79       23724994  instructions
159280  415.80       14036583  instructions
159284  415.81       39836272  instructions

[39821 rows x 3 columns]
instructions
          time   instructions
4         0.03       29217729
8         0.04       29875697
12        0.05       36662483
16        0.06       52570976
20        0.07       29237876
...        ...            ...
159268  415.77  <not counted>
159272  415.78       15301990
159276  415.79       23724994
159280  415.80       14036583
159284  415.81       39836272

[39821 rows x 2 columns]
df3
          time       vfp_spec
1         0.01            285
5         0.03           3776
9         0.04           1146
13        0.05            522
17        0.06            313
...        ...            ...
159269  415.77  <not counted>
159273  415.78            269
159277  415.79              0
159281  415.80              0
159285  415.81              0

[39822 rows x 2 columns]
df4
          time      inst_spec
2         0.01       22657741
6         0.03       36630613
10        0.04       37281346
14        0.05       44074949
18        0.06       60179186
...        ...            ...
159270  415.77  <not counted>
159274  415.78       17256848
159278  415.79       25598097
159282  415.80       17238935
159286  415.81       42607272

[39822 rows x 2 columns]
df5
          time       ase_spec
3         0.01          16529
7         0.03          35678
11        0.04          20861
15        0.05          27553
19        0.06          30246
...        ...            ...
159271  415.77  <not counted>
159275  415.78           1429
159279  415.79           2999
159283  415.80            174
159287  415.81              3

[39822 rows x 2 columns]
df6
         time   instructions       vfp_spec
0        0.03       29217729           3776
1        0.04       29875697           1146
2        0.05       36662483            522
3        0.06       52570976            313
4        0.07       29237876            753
...       ...            ...            ...
39816  415.77  <not counted>  <not counted>
39817  415.78       15301990            269
39818  415.79       23724994              0
39819  415.80       14036583              0
39820  415.81       39836272              0

[39821 rows x 3 columns]
df7
         time      inst_spec       ase_spec
0        0.01       22657741          16529
1        0.03       36630613          35678
2        0.04       37281346          20861
3        0.05       44074949          27553
4        0.06       60179186          30246
...       ...            ...            ...
39817  415.77  <not counted>  <not counted>
39818  415.78       17256848           1429
39819  415.79       25598097           2999
39820  415.80       17238935            174
39821  415.81       42607272              3

[39822 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.013248  14851749         NaN      instructions    14127680
1         0.013248  14919508         NaN     stall_backend    14127680
2         0.013248  21779753         NaN    stall_frontend    14127680
3         0.013248    245201         NaN  ll_cache_miss_rd    14127680
4         0.023782  29441552         NaN      instructions    10128160
...            ...       ...         ...               ...         ...
159111  414.890105    706884         NaN  ll_cache_miss_rd    10065800
159112  414.894229  14947356         NaN      instructions     3744680
159113  414.894229   6189695         NaN     stall_backend     3744680
159114  414.894229    576426         NaN    stall_frontend     3744680
159115  414.894229     68479         NaN  ll_cache_miss_rd     3744680

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
159111       100.0         NaN         NaN
159112       100.0         NaN         NaN
159113       100.0         NaN         NaN
159114       100.0         NaN         NaN
159115       100.0         NaN         NaN

[159116 rows x 8 columns]
          time     value       counter
4         0.02  29441552  instructions
8         0.03  27874712  instructions
12        0.04  32647548  instructions
16        0.05  52757247  instructions
20        0.06  33343908  instructions
...        ...       ...           ...
159096  414.86  10581408  instructions
159100  414.87  19264747  instructions
159104  414.88  18058276  instructions
159108  414.89  29960476  instructions
159112  414.89  14947356  instructions

[39778 rows x 3 columns]
instructions
          time instructions
4         0.02     29441552
8         0.03     27874712
12        0.04     32647548
16        0.05     52757247
20        0.06     33343908
...        ...          ...
159096  414.86     10581408
159100  414.87     19264747
159104  414.88     18058276
159108  414.89     29960476
159112  414.89     14947356

[39778 rows x 2 columns]
df3
          time stall_backend
1         0.01      14919508
5         0.02       6021475
9         0.03       5548586
13        0.04       5703333
17        0.05       4663531
...        ...           ...
159097  414.86      14924159
159101  414.87      18876026
159105  414.88      22953801
159109  414.89      18863141
159113  414.89       6189695

[39779 rows x 2 columns]
df4
          time stall_frontend
2         0.01       21779753
6         0.02       12746809
10        0.03       13182089
14        0.04       11952181
18        0.05        7584709
...        ...            ...
159098  414.86        2350642
159102  414.87        4159945
159106  414.88        1215989
159110  414.89        1082314
159114  414.89         576426

[39779 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           245201
7         0.02           148275
11        0.03           161383
15        0.04           158380
19        0.05            78494
...        ...              ...
159099  414.86            77325
159103  414.87           150018
159107  414.88           275381
159111  414.89           706884
159115  414.89            68479

[39779 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     29441552       6021475
1        0.03     27874712       5548586
2        0.04     32647548       5703333
3        0.05     52757247       4663531
4        0.06     33343908       5543450
...       ...          ...           ...
39775  414.88     18058276      22953801
39776  414.89     29960476      18863141
39777  414.89     29960476       6189695
39778  414.89     14947356      18863141
39779  414.89     14947356       6189695

[39780 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01       21779753           245201
1        0.02       12746809           148275
2        0.03       13182089           161383
3        0.04       11952181           158380
4        0.05        7584709            78494
...       ...            ...              ...
39776  414.88        1215989           275381
39777  414.89        1082314           706884
39778  414.89        1082314            68479
39779  414.89         576426           706884
39780  414.89         576426            68479

[39781 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.014349  18579260         NaN   instructions    15245560
1         0.014349   5963614         NaN     mem_access    15245560
2         0.014349   3678158         NaN  mem_access_rd    15245560
3         0.014349   2285456         NaN  mem_access_wr    15245560
4         0.024822  29311716         NaN   instructions     9805200
...            ...       ...         ...            ...         ...
159987  417.536231   3383745         NaN  mem_access_wr    10094640
159988  417.537359   1872451         NaN   instructions      642760
159989  417.537359    548246         NaN     mem_access      642760
159990  417.537359    343843         NaN  mem_access_rd      642760
159991  417.537359    204403         NaN  mem_access_wr      642760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
159987       100.0         NaN         NaN
159988       100.0         NaN         NaN
159989       100.0         NaN         NaN
159990       100.0         NaN         NaN
159991       100.0         NaN         NaN

[159992 rows x 8 columns]
          time     value       counter
4         0.02  29311716  instructions
8         0.04  30095533  instructions
12        0.05  36547721  instructions
16        0.06  51854939  instructions
20        0.07  30050272  instructions
...        ...       ...           ...
159972  417.51  15468110  instructions
159976  417.52  23831834  instructions
159980  417.53  14056656  instructions
159984  417.54  37872880  instructions
159988  417.54   1872451  instructions

[39997 rows x 3 columns]
instructions
          time instructions
4         0.02     29311716
8         0.04     30095533
12        0.05     36547721
16        0.06     51854939
20        0.07     30050272
...        ...          ...
159972  417.51     15468110
159976  417.52     23831834
159980  417.53     14056656
159984  417.54     37872880
159988  417.54      1872451

[39997 rows x 2 columns]
df3
          time mem_access
1         0.01    5963614
5         0.02   11174258
9         0.04   11637838
13        0.05   13359201
17        0.06   15100121
...        ...        ...
159973  417.51    5227712
159977  417.52    8359180
159981  417.53    4144630
159985  417.54   10011723
159989  417.54     548246

[39998 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       3678158
6         0.02       7067503
10        0.04       7378497
14        0.05       8670664
18        0.06      10846275
...        ...           ...
159974  417.51       3210715
159978  417.52       5447239
159982  417.53       2845524
159986  417.54       6627978
159990  417.54        343843

[39998 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       2285456
7         0.02       4106755
11        0.04       4259341
15        0.05       4688537
19        0.06       4253846
...        ...           ...
159975  417.51       2016997
159979  417.52       2911941
159983  417.53       1299106
159987  417.54       3383745
159991  417.54        204403

[39998 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     29311716   11174258
1        0.04     30095533   11637838
2        0.05     36547721   13359201
3        0.06     51854939   15100121
4        0.07     30050272   10910966
...       ...          ...        ...
39994  417.53     14056656    4144630
39995  417.54     37872880   10011723
39996  417.54     37872880     548246
39997  417.54      1872451   10011723
39998  417.54      1872451     548246

[39999 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       3678158       2285456
1        0.02       7067503       4106755
2        0.04       7378497       4259341
3        0.05       8670664       4688537
4        0.06      10846275       4253846
...       ...           ...           ...
39995  417.53       2845524       1299106
39996  417.54       6627978       3383745
39997  417.54       6627978        204403
39998  417.54        343843       3383745
39999  417.54        343843        204403

[40000 rows x 3 columns]
merged_df
         time instructions cpu-cycles   br_pred br_mis_pred l1d_cache_rd  \
0        0.04     32362344   30035627   7395154      259668      8049445
1        0.05     52133780   30147773  13029928      226928     11197248
2        0.06     36691134   30173449   8903686      271043      8095297
3        0.09     30244431   30171966   6867206      271998      7312128
4        0.10     31036123   30168411   7121976      285150      7747678
...       ...          ...        ...       ...         ...          ...
27058  414.32     21516292   30371125   3096737        5083     16520348
27059  414.32     21516292   15921661   5967662      116954     16520348
27060  414.32     21516292   15921661   5967662        5083     16520348
27061  414.32     21516292   15921661   3096737      116954     16520348
27062  414.32     21516292   15921661   3096737        5083     16520348

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ... l2d_tlb_wr  \
0          4554776  12604221  12346364           584818  ...      13083
1          4637852  15835100  17153155           575804  ...      13621
2          3941107  12036404  15412921           616164  ...      13171
3          4159442  11471570  12948049           692906  ...      16749
4          4392027  12139705  12169877           686119  ...      14686
...            ...       ...       ...              ...  ...        ...
27058      8244801  24765149  19976812           436743  ...      19909
27059      8244801  24765149  19976812           436743  ...      19909
27060      8244801  24765149  19976812           436743  ...      19909
27061      8244801  24765149  19976812           436743  ...      19909
27062      8244801  24765149  19976812           436743  ...      19909

      vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0         1146  37281346    20861       5703333       11952181
1          522  44074949    27553       4663531        7584709
2          313  60179186    30246       5543450       12157387
3         1668  38904864    22044       6464021       14199797
4         2756  37615752    24250       5509131       12522289
...        ...       ...      ...           ...            ...
27058        2  66965122        0       4785052        7751068
27059        2  66965122        0       4785052        7751068
27060        2  66965122        0       4785052        7751068
27061        2  66965122        0       4785052        7751068
27062        2  66965122        0       4785052        7751068

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               158380   11637838       7378497       4259341
1                78494   13359201       8670664       4688537
2               140424   15100121      10846275       4253846
3               166619   12279918       7885052       4394866
4               154036   11618847       7394759       4224088
...                ...        ...           ...           ...
27058            93709   26158980      17417705       8741275
27059            93709   26158980      17417705       8741275
27060            93709   26158980      17417705       8741275
27061            93709   26158980      17417705       8741275
27062            93709   26158980      17417705       8741275

[27063 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010133  10571070         NaN  instructions    10698520
1         0.010133  31829944         NaN    cpu-cycles    10698520
2         0.010133   1951437         NaN       br_pred    10698520
3         0.010133     78820         NaN   br_mis_pred    10698520
4         0.020629  22407123         NaN  instructions     9984280
...            ...       ...         ...           ...         ...
157467  416.676076    124380         NaN   br_mis_pred    10070920
157468  416.684354  31816284         NaN  instructions     7872600
157469  416.684354  23585560         NaN    cpu-cycles     7872600
157470  416.684354   4572228         NaN       br_pred     7872600
157471  416.684354      6409         NaN   br_mis_pred     7872600

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.33  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.75  insn per cycle
...            ...         ...             ...
157467       100.0         NaN             NaN
157468       100.0        1.35  insn per cycle
157469       100.0         NaN             NaN
157470       100.0         NaN             NaN
157471       100.0         NaN             NaN

[157472 rows x 8 columns]
          time     value       counter
4         0.02  22407123  instructions
8         0.03  28847997  instructions
12        0.04  34308271  instructions
16        0.05  49870783  instructions
20        0.06  39062008  instructions
...        ...       ...           ...
157452  416.65   6534609  instructions
157456  416.66  13853404  instructions
157460  416.67  22871785  instructions
157464  416.68  17779840  instructions
157468  416.68  31816284  instructions

[39367 rows x 3 columns]
instructions
          time instructions
4         0.02     22407123
8         0.03     28847997
12        0.04     34308271
16        0.05     49870783
20        0.06     39062008
...        ...          ...
157452  416.65      6534609
157456  416.66     13853404
157460  416.67     22871785
157464  416.68     17779840
157468  416.68     31816284

[39367 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   31829944
5         0.02   29893219
9         0.03   29808628
13        0.04   33357841
17        0.05   30155977
...        ...        ...
157453  416.65    9444660
157457  416.66   29929787
157461  416.67   29966163
157465  416.68   30174836
157469  416.68   23585560

[39368 rows x 2 columns]
df4
          time   br_pred
2         0.01   1951437
6         0.02   4845431
10        0.03   6510646
14        0.04   7806654
18        0.05  12428012
...        ...       ...
157454  416.65   1061254
157458  416.66   3051307
157462  416.67   5250483
157466  416.68   5125429
157470  416.68   4572228

[39368 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       78820
7         0.02      185256
11        0.03      272675
15        0.04      285000
19        0.05      239142
...        ...         ...
157455  416.65        5437
157459  416.66       60357
157463  416.67       41982
157467  416.68      124380
157471  416.68        6409

[39368 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     22407123   29893219
1        0.03     28847997   29808628
2        0.04     34308271   33357841
3        0.05     49870783   30155977
4        0.06     39062008   30181901
...       ...          ...        ...
39364  416.67     22871785   29966163
39365  416.68     17779840   30174836
39366  416.68     17779840   23585560
39367  416.68     31816284   30174836
39368  416.68     31816284   23585560

[39369 rows x 3 columns]
df7
         time   br_pred br_mis_pred
0        0.01   1951437       78820
1        0.02   4845431      185256
2        0.03   6510646      272675
3        0.04   7806654      285000
4        0.05  12428012      239142
...       ...       ...         ...
39365  416.67   5250483       41982
39366  416.68   5125429      124380
39367  416.68   5125429        6409
39368  416.68   4572228      124380
39369  416.68   4572228        6409

[39370 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014751  18814145         NaN  instructions    15698480
1         0.014751   3748309         NaN  l1d_cache_rd    15698480
2         0.014751   2306517         NaN  l1d_cache_wr    15698480
3         0.014751   6054826         NaN     l1d_cache    15698480
4         0.025243  29378326         NaN  instructions     9931440
...            ...       ...         ...           ...         ...
160631  425.818855  10541553         NaN     l1d_cache    13401800
160632  425.820938   6365871         NaN  instructions     1698240
160633  425.820938   1153404         NaN  l1d_cache_rd     1698240
160634  425.820938    686493         NaN  l1d_cache_wr     1698240
160635  425.820938   1839897         NaN     l1d_cache     1698240

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
160631       100.0         NaN         NaN
160632       100.0         NaN         NaN
160633       100.0         NaN         NaN
160634       100.0         NaN         NaN
160635       100.0         NaN         NaN

[160636 rows x 8 columns]
          time     value       counter
4         0.03  29378326  instructions
8         0.04  29542532  instructions
12        0.05  36603169  instructions
16        0.06  52916160  instructions
20        0.07  29123561  instructions
...        ...       ...           ...
160616  425.78   9634695  instructions
160620  425.79  17862474  instructions
160624  425.81  18988841  instructions
160628  425.82  40181843  instructions
160632  425.82   6365871  instructions

[40158 rows x 3 columns]
instructions
          time instructions
4         0.03     29378326
8         0.04     29542532
12        0.05     36603169
16        0.06     52916160
20        0.07     29123561
...        ...          ...
160616  425.78      9634695
160620  425.79     17862474
160624  425.81     18988841
160628  425.82     40181843
160632  425.82      6365871

[40158 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      3748309
5         0.03      7088809
9         0.04      7258237
13        0.05      8681151
17        0.06     11053493
...        ...          ...
160617  425.78      1876373
160621  425.79      4111310
160625  425.81      4165035
160629  425.82      7160305
160633  425.82      1153404

[40159 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      2306517
6         0.03      4110392
10        0.04      4174614
14        0.05      4668670
18        0.06      4324875
...        ...          ...
160618  425.78      1140552
160622  425.79      2414518
160626  425.81      2148130
160630  425.82      3381248
160634  425.82       686493

[40159 rows x 2 columns]
df5
          time l1d_cache
3         0.01   6054826
7         0.03  11199201
11        0.04  11432851
15        0.05  13349821
19        0.06  15378368
...        ...       ...
160619  425.78   3016925
160623  425.79   6525828
160627  425.81   6313165
160631  425.82  10541553
160635  425.82   1839897

[40159 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.03     29378326      7088809
1        0.04     29542532      7258237
2        0.05     36603169      8681151
3        0.06     52916160     11053493
4        0.07     29123561      6915942
...       ...          ...          ...
40155  425.81     18988841      4165035
40156  425.82     40181843      7160305
40157  425.82     40181843      1153404
40158  425.82      6365871      7160305
40159  425.82      6365871      1153404

[40160 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      2306517   6054826
1        0.03      4110392  11199201
2        0.04      4174614  11432851
3        0.05      4668670  13349821
4        0.06      4324875  15378368
...       ...          ...       ...
40156  425.81      2148130   6313165
40157  425.82      3381248  10541553
40158  425.82      3381248   1839897
40159  425.82       686493  10541553
40160  425.82       686493   1839897

[40161 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.010123  10927167         NaN      instructions    10982120
1         0.010123   3944733         NaN         l1i_cache    10982120
2         0.010123    261080         NaN  l1i_cache_refill    10982120
3         0.010123     93861         NaN     remote_access    10982120
4         0.020608  22485350         NaN      instructions     9919680
...            ...       ...         ...               ...         ...
160279  424.273921      5255         NaN     remote_access    10064000
160280  424.277500  12513412         NaN      instructions     3211600
160281  424.277500   3371623         NaN         l1i_cache     3211600
160282  424.277500      5574         NaN  l1i_cache_refill     3211600
160283  424.277500      4788         NaN     remote_access     3211600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
160279       100.0         NaN         NaN
160280       100.0         NaN         NaN
160281       100.0         NaN         NaN
160282       100.0         NaN         NaN
160283       100.0         NaN         NaN

[160284 rows x 8 columns]
          time     value       counter
4         0.02  22485350  instructions
8         0.03  28533449  instructions
12        0.04  35732302  instructions
16        0.05  50318364  instructions
20        0.06  38700416  instructions
...        ...       ...           ...
160264  424.24  10790360  instructions
160268  424.25  21007932  instructions
160272  424.26  17241323  instructions
160276  424.27  31397218  instructions
160280  424.28  12513412  instructions

[40070 rows x 3 columns]
instructions
          time instructions
4         0.02     22485350
8         0.03     28533449
12        0.04     35732302
16        0.05     50318364
20        0.06     38700416
...        ...          ...
160264  424.24     10790360
160268  424.25     21007932
160272  424.26     17241323
160276  424.27     31397218
160280  424.28     12513412

[40070 rows x 2 columns]
df3
          time l1i_cache
1         0.01   3944733
5         0.02   8735799
9         0.03  11563722
13        0.04  14108089
17        0.05  17378364
...        ...       ...
160265  424.24   3461324
160269  424.25   7162631
160273  424.26   5526178
160277  424.27   9910021
160281  424.28   3371623

[40071 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           261080
6         0.02           450319
10        0.03           684532
14        0.04           670539
18        0.05           543817
...        ...              ...
160266  424.24            61579
160270  424.25           244228
160274  424.26            20362
160278  424.27             8856
160282  424.28             5574

[40071 rows x 2 columns]
df5
          time remote_access
3         0.01         93861
7         0.02         51853
11        0.03         35668
15        0.04         38464
19        0.05         14067
...        ...           ...
160267  424.24         14271
160271  424.25         13464
160275  424.26          4109
160279  424.27          5255
160283  424.28          4788

[40071 rows x 2 columns]
df6
         time instructions l1i_cache
0        0.02     22485350   8735799
1        0.03     28533449  11563722
2        0.04     35732302  14108089
3        0.05     50318364  17378364
4        0.06     38700416  14336765
...       ...          ...       ...
40065  424.24     10790360   3461324
40066  424.25     21007932   7162631
40067  424.26     17241323   5526178
40068  424.27     31397218   9910021
40069  424.28     12513412   3371623

[40070 rows x 3 columns]
df7
         time l1i_cache_refill remote_access
0        0.01           261080         93861
1        0.02           450319         51853
2        0.03           684532         35668
3        0.04           670539         38464
4        0.05           543817         14067
...       ...              ...           ...
40066  424.24            61579         14271
40067  424.25           244228         13464
40068  424.26            20362          4109
40069  424.27             8856          5255
40070  424.28             5574          4788

[40071 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014821  18768881         NaN  instructions    15645440
1         0.014821    651915         NaN  l2d_cache_rd    15645440
2         0.014821    221552         NaN  l2d_cache_wr    15645440
3         0.014821    873467         NaN     l2d_cache    15645440
4         0.025339  30168175         NaN  instructions    10039000
...            ...       ...         ...           ...         ...
160571  425.131854    931685         NaN     l2d_cache     9882200
160572  425.132899   1833248         NaN  instructions      648560
160573  425.132899     13777         NaN  l2d_cache_rd      648560
160574  425.132899      9031         NaN  l2d_cache_wr      648560
160575  425.132899     22808         NaN     l2d_cache      648560

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
160571       100.0         NaN         NaN
160572       100.0         NaN         NaN
160573       100.0         NaN         NaN
160574       100.0         NaN         NaN
160575       100.0         NaN         NaN

[160576 rows x 8 columns]
          time     value       counter
4         0.03  30168175  instructions
8         0.04  28696826  instructions
12        0.05  36594723  instructions
16        0.06  52980793  instructions
20        0.07  28927479  instructions
...        ...       ...           ...
160556  425.10  16240752  instructions
160560  425.11  23371697  instructions
160564  425.12  14128518  instructions
160568  425.13  37562810  instructions
160572  425.13   1833248  instructions

[40143 rows x 3 columns]
instructions
          time instructions
4         0.03     30168175
8         0.04     28696826
12        0.05     36594723
16        0.06     52980793
20        0.07     28927479
...        ...          ...
160556  425.10     16240752
160560  425.11     23371697
160564  425.12     14128518
160568  425.13     37562810
160572  425.13      1833248

[40143 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       651915
5         0.03       822800
9         0.04       847360
13        0.05       776490
17        0.06       873323
...        ...          ...
160557  425.10       286643
160561  425.11       407190
160565  425.12       445968
160569  425.13       478903
160573  425.13        13777

[40144 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       221552
6         0.03       187364
10        0.04       189296
14        0.05       226154
18        0.06       356464
...        ...          ...
160558  425.10       141713
160562  425.11       217841
160566  425.12       367042
160570  425.13       452782
160574  425.13         9031

[40144 rows x 2 columns]
df5
          time l2d_cache
3         0.01    873467
7         0.03   1010164
11        0.04   1036656
15        0.05   1002644
19        0.06   1229787
...        ...       ...
160559  425.10    428356
160563  425.11    625031
160567  425.12    813010
160571  425.13    931685
160575  425.13     22808

[40144 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.03     30168175       822800
1        0.04     28696826       847360
2        0.05     36594723       776490
3        0.06     52980793       873323
4        0.07     28927479       833555
...       ...          ...          ...
40140  425.12     14128518       445968
40141  425.13     37562810       478903
40142  425.13     37562810        13777
40143  425.13      1833248       478903
40144  425.13      1833248        13777

[40145 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       221552    873467
1        0.03       187364   1010164
2        0.04       189296   1036656
3        0.05       226154   1002644
4        0.06       356464   1229787
...       ...          ...       ...
40141  425.12       367042    813010
40142  425.13       452782    931685
40143  425.13       452782     22808
40144  425.13         9031    931685
40145  425.13         9031     22808

[40146 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011247  12821079         NaN  instructions    12148760
1         0.011247   5791870         NaN       l1d_tlb    12148760
2         0.011247   3966806         NaN    l1d_tlb_rd    12148760
3         0.011247   1825064         NaN    l1d_tlb_wr    12148760
4         0.021734  25861732         NaN  instructions     9959280
...            ...       ...         ...           ...         ...
160135  424.307373   3501038         NaN    l1d_tlb_wr    10063760
160136  424.308176    761538         NaN  instructions      395160
160137  424.308176    338967         NaN       l1d_tlb      395160
160138  424.308176    251029         NaN    l1d_tlb_rd      395160
160139  424.308176     87938         NaN    l1d_tlb_wr      395160

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
160135       100.0         NaN         NaN
160136       100.0         NaN         NaN
160137       100.0         NaN         NaN
160138       100.0         NaN         NaN
160139       100.0         NaN         NaN

[160140 rows x 8 columns]
          time     value       counter
4         0.02  25861732  instructions
8         0.03  28131073  instructions
12        0.04  31964551  instructions
16        0.05  50869789  instructions
20        0.06  37500337  instructions
...        ...       ...           ...
160120  424.28  14849248  instructions
160124  424.29  23656876  instructions
160128  424.30  14800175  instructions
160132  424.31  38687317  instructions
160136  424.31    761538  instructions

[40034 rows x 3 columns]
instructions
          time instructions
4         0.02     25861732
8         0.03     28131073
12        0.04     31964551
16        0.05     50869789
20        0.06     37500337
...        ...          ...
160120  424.28     14849248
160124  424.29     23656876
160128  424.30     14800175
160132  424.31     38687317
160136  424.31       761538

[40034 rows x 2 columns]
df3
          time   l1d_tlb
1         0.01   5791870
5         0.02  11011724
9         0.03  12202856
13        0.04  13635619
17        0.05  16957574
...        ...       ...
160121  424.28   5881359
160125  424.29   8967401
160129  424.30   5187566
160133  424.31  13203087
160137  424.31    338967

[40035 rows x 2 columns]
df4
          time l1d_tlb_rd
2         0.01    3966806
6         0.02    7171463
10        0.03    7863349
14        0.04    8842266
18        0.05   11969014
...        ...        ...
160122  424.28    3876340
160126  424.29    5964086
160130  424.30    3730750
160134  424.31    9702049
160138  424.31     251029

[40035 rows x 2 columns]
df5
          time l1d_tlb_wr
3         0.01    1825064
7         0.02    3840261
11        0.03    4339507
15        0.04    4793353
19        0.05    4988560
...        ...        ...
160123  424.28    2005019
160127  424.29    3003315
160131  424.30    1456816
160135  424.31    3501038
160139  424.31      87938

[40035 rows x 2 columns]
df6
         time instructions   l1d_tlb
0        0.02     25861732  11011724
1        0.03     28131073  12202856
2        0.04     31964551  13635619
3        0.05     50869789  16957574
4        0.06     37500337  13732086
...       ...          ...       ...
40031  424.30     14800175   5187566
40032  424.31     38687317  13203087
40033  424.31     38687317    338967
40034  424.31       761538  13203087
40035  424.31       761538    338967

[40036 rows x 3 columns]
df7
         time l1d_tlb_rd l1d_tlb_wr
0        0.01    3966806    1825064
1        0.02    7171463    3840261
2        0.03    7863349    4339507
3        0.04    8842266    4793353
4        0.05   11969014    4988560
...       ...        ...        ...
40032  424.30    3730750    1456816
40033  424.31    9702049    3501038
40034  424.31    9702049      87938
40035  424.31     251029    3501038
40036  424.31     251029      87938

[40037 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011336  12814976         NaN  instructions    12299640
1         0.011336     20611         NaN     dtlb_walk    12299640
2         0.011336      1907         NaN     itlb_walk    12299640
3         0.011336   4249297         NaN       l1i_tlb    12299640
4         0.021802  26411083         NaN  instructions    10015000
...            ...       ...         ...           ...         ...
159907  423.154482   5158226         NaN       l1i_tlb    10062920
159908  423.164554  37494518         NaN  instructions     9638600
159909  423.164554     12605         NaN     dtlb_walk     9638600
159910  423.164554       213         NaN     itlb_walk     9638600
159911  423.164554   7829721         NaN       l1i_tlb     9638600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
159907       100.0         NaN         NaN
159908       100.0         NaN         NaN
159909       100.0         NaN         NaN
159910       100.0         NaN         NaN
159911       100.0         NaN         NaN

[159912 rows x 8 columns]
          time     value       counter
4         0.02  26411083  instructions
8         0.03  27639534  instructions
12        0.04  31953041  instructions
16        0.05  50733977  instructions
20        0.06  37992390  instructions
...        ...       ...           ...
159892  423.12     17314  instructions
159896  423.13  13981890  instructions
159900  423.14  26535924  instructions
159904  423.15  14496121  instructions
159908  423.16  37494518  instructions

[39977 rows x 3 columns]
instructions
          time instructions
4         0.02     26411083
8         0.03     27639534
12        0.04     31953041
16        0.05     50733977
20        0.06     37992390
...        ...          ...
159892  423.12        17314
159896  423.13     13981890
159900  423.14     26535924
159904  423.15     14496121
159908  423.16     37494518

[39977 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     20611
5         0.02      5994
9         0.03      3920
13        0.04      4683
17        0.05      2900
...        ...       ...
159893  423.12       142
159897  423.13     11690
159901  423.14     23156
159905  423.15     38579
159909  423.16     12605

[39978 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1907
6         0.02      1207
10        0.03      1165
14        0.04      1104
18        0.05       678
...        ...       ...
159894  423.12        70
159898  423.13      1159
159902  423.14      1458
159906  423.15       250
159910  423.16       213

[39978 rows x 2 columns]
df5
          time   l1i_tlb
3         0.01   4249297
7         0.02   8824998
11        0.03   9377797
15        0.04  10500030
19        0.05  13352273
...        ...       ...
159895  423.12     12250
159899  423.13   3959235
159903  423.14   6959069
159907  423.15   5158226
159911  423.16   7829721

[39978 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     26411083      5994
1        0.03     27639534      3920
2        0.04     31953041      4683
3        0.05     50733977      2900
4        0.06     37992390      4105
...       ...          ...       ...
39972  423.12        17314       142
39973  423.13     13981890     11690
39974  423.14     26535924     23156
39975  423.15     14496121     38579
39976  423.16     37494518     12605

[39977 rows x 3 columns]
df7
         time itlb_walk   l1i_tlb
0        0.01      1907   4249297
1        0.02      1207   8824998
2        0.03      1165   9377797
3        0.04      1104  10500030
4        0.05       678  13352273
...       ...       ...       ...
39973  423.12        70     12250
39974  423.13      1159   3959235
39975  423.14      1458   6959069
39976  423.15       250   5158226
39977  423.16       213   7829721

[39978 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014985  19496201         NaN  instructions    15856520
1         0.014985    136426         NaN       l2d_tlb    15856520
2         0.014985    117967         NaN    l2d_tlb_rd    15856520
3         0.014985     18459         NaN    l2d_tlb_wr    15856520
4         0.025480  29577251         NaN  instructions     9995760
...            ...       ...         ...           ...         ...
160151  423.889769     11672         NaN    l2d_tlb_wr    10080080
160152  423.895033  18748804         NaN  instructions     4785760
160153  423.895033     33443         NaN       l2d_tlb     4785760
160154  423.895033     20348         NaN    l2d_tlb_rd     4785760
160155  423.895033     13095         NaN    l2d_tlb_wr     4785760

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
160151       100.0         NaN         NaN
160152       100.0         NaN         NaN
160153       100.0         NaN         NaN
160154       100.0         NaN         NaN
160155       100.0         NaN         NaN

[160156 rows x 8 columns]
          time     value       counter
4         0.03  29577251  instructions
8         0.04  28615323  instructions
12        0.05  37405302  instructions
16        0.06  52491311  instructions
20        0.07  28605768  instructions
...        ...       ...           ...
160136  423.86  10445459  instructions
160140  423.87  18118418  instructions
160144  423.88  18167274  instructions
160148  423.89  27410239  instructions
160152  423.90  18748804  instructions

[40038 rows x 3 columns]
instructions
          time instructions
4         0.03     29577251
8         0.04     28615323
12        0.05     37405302
16        0.06     52491311
20        0.07     28605768
...        ...          ...
160136  423.86     10445459
160140  423.87     18118418
160144  423.88     18167274
160148  423.89     27410239
160152  423.90     18748804

[40038 rows x 2 columns]
df3
          time l2d_tlb
1         0.01  136426
5         0.03  264845
9         0.04  274099
13        0.05  312672
17        0.06  415826
...        ...     ...
160137  423.86   78504
160141  423.87  195561
160145  423.88  155199
160149  423.89  102097
160153  423.90   33443

[40039 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01     117967
6         0.03     251870
10        0.04     261135
14        0.05     298761
18        0.06     402712
...        ...        ...
160138  423.86      71339
160142  423.87     180753
160146  423.88     144277
160150  423.89      90425
160154  423.90      20348

[40039 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      18459
7         0.03      12975
11        0.04      12964
15        0.05      13911
19        0.06      13114
...        ...        ...
160139  423.86       7165
160143  423.87      14808
160147  423.88      10922
160151  423.89      11672
160155  423.90      13095

[40039 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.03     29577251  264845
1        0.04     28615323  274099
2        0.05     37405302  312672
3        0.06     52491311  415826
4        0.07     28605768  278237
...       ...          ...     ...
40033  423.86     10445459   78504
40034  423.87     18118418  195561
40035  423.88     18167274  155199
40036  423.89     27410239  102097
40037  423.90     18748804   33443

[40038 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01     117967      18459
1        0.03     251870      12975
2        0.04     261135      12964
3        0.05     298761      13911
4        0.06     402712      13114
...       ...        ...        ...
40034  423.86      71339       7165
40035  423.87     180753      14808
40036  423.88     144277      10922
40037  423.89      90425      11672
40038  423.90      20348      13095

[40039 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014326  18011603         NaN  instructions    15173240
1         0.014326       260         NaN      vfp_spec    15173240
2         0.014326  21656202         NaN     inst_spec    15173240
3         0.014326     15969         NaN      ase_spec    15173240
4         0.024814  29679299         NaN  instructions     9959160
...            ...       ...         ...           ...         ...
158635  418.570156         0         NaN      ase_spec     9953800
158636  418.575238  17906408         NaN  instructions     4507080
158637  418.575238         0         NaN      vfp_spec     4507080
158638  418.575238  18182822         NaN     inst_spec     4507080
158639  418.575238         0         NaN      ase_spec     4507080

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
158635       100.0         NaN         NaN
158636       100.0         NaN         NaN
158637       100.0         NaN         NaN
158638       100.0         NaN         NaN
158639       100.0         NaN         NaN

[158640 rows x 8 columns]
          time     value       counter
4         0.02  29679299  instructions
8         0.04  28669067  instructions
12        0.05  35602965  instructions
16        0.06  53099896  instructions
20        0.07  30180451  instructions
...        ...       ...           ...
158620  418.54  10807717  instructions
158624  418.55  19434356  instructions
158628  418.56  17390074  instructions
158632  418.57  27841304  instructions
158636  418.58  17906408  instructions

[39659 rows x 3 columns]
instructions
          time instructions
4         0.02     29679299
8         0.04     28669067
12        0.05     35602965
16        0.06     53099896
20        0.07     30180451
...        ...          ...
158620  418.54     10807717
158624  418.55     19434356
158628  418.56     17390074
158632  418.57     27841304
158636  418.58     17906408

[39659 rows x 2 columns]
df3
          time vfp_spec
1         0.01      260
5         0.02     3828
9         0.04     1145
13        0.05      530
17        0.06      342
...        ...      ...
158621  418.54      185
158625  418.55       99
158629  418.56        0
158633  418.57        0
158637  418.58        0

[39660 rows x 2 columns]
df4
          time inst_spec
2         0.01  21656202
6         0.02  37333563
10        0.04  35825670
14        0.05  43050099
18        0.06  60603970
...        ...       ...
158622  418.54  11895783
158626  418.55  21398866
158630  418.56  19548582
158634  418.57  32228839
158638  418.58  18182822

[39660 rows x 2 columns]
df5
          time ase_spec
3         0.01    15969
7         0.02    35976
11        0.04    19862
15        0.05    26910
19        0.06    30636
...        ...      ...
158623  418.54     1053
158627  418.55     2464
158631  418.56      997
158635  418.57        0
158639  418.58        0

[39660 rows x 2 columns]
df6
         time instructions vfp_spec
0        0.02     29679299     3828
1        0.04     28669067     1145
2        0.05     35602965      530
3        0.06     53099896      342
4        0.07     30180451      773
...       ...          ...      ...
39654  418.54     10807717      185
39655  418.55     19434356       99
39656  418.56     17390074        0
39657  418.57     27841304        0
39658  418.58     17906408        0

[39659 rows x 3 columns]
df7
         time inst_spec ase_spec
0        0.01  21656202    15969
1        0.02  37333563    35976
2        0.04  35825670    19862
3        0.05  43050099    26910
4        0.06  60603970    30636
...       ...       ...      ...
39655  418.54  11895783     1053
39656  418.55  21398866     2464
39657  418.56  19548582      997
39658  418.57  32228839        0
39659  418.58  18182822        0

[39660 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.011537  13189418         NaN      instructions    12472600
1         0.011537  13232873         NaN     stall_backend    12472600
2         0.011537  19127822         NaN    stall_frontend    12472600
3         0.011537    218169         NaN  ll_cache_miss_rd    12472600
4         0.022008  25454196         NaN      instructions     9813120
...            ...       ...         ...               ...         ...
160303  423.120367    744596         NaN  ll_cache_miss_rd     9961120
160304  423.128651  31864230         NaN      instructions     7921840
160305  423.128651  13444953         NaN     stall_backend     7921840
160306  423.128651    854204         NaN    stall_frontend     7921840
160307  423.128651    128496         NaN  ll_cache_miss_rd     7921840

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
160303       100.0         NaN         NaN
160304       100.0         NaN         NaN
160305       100.0         NaN         NaN
160306       100.0         NaN         NaN
160307       100.0         NaN         NaN

[160308 rows x 8 columns]
          time     value       counter
4         0.02  25454196  instructions
8         0.03  27706709  instructions
12        0.04  32321672  instructions
16        0.05  50583432  instructions
20        0.06  38536244  instructions
...        ...       ...           ...
160288  423.09   6513116  instructions
160292  423.10  14256888  instructions
160296  423.11  22531879  instructions
160300  423.12  17450617  instructions
160304  423.13  31864230  instructions

[40076 rows x 3 columns]
instructions
          time instructions
4         0.02     25454196
8         0.03     27706709
12        0.04     32321672
16        0.05     50583432
20        0.06     38536244
...        ...          ...
160288  423.09      6513116
160292  423.10     14256888
160296  423.11     22531879
160300  423.12     17450617
160304  423.13     31864230

[40076 rows x 2 columns]
df3
          time stall_backend
1         0.01      13232873
5         0.02       7028465
9         0.03       5618299
13        0.04       5771738
17        0.05       4857548
...        ...           ...
160289  423.09       6922154
160293  423.10      20163826
160297  423.11      20399667
160301  423.12      21509558
160305  423.13      13444953

[40077 rows x 2 columns]
df4
          time stall_frontend
2         0.01       19127822
6         0.02       12399853
10        0.03       12782983
14        0.04       12025678
18        0.05        7839482
...        ...            ...
160290  423.09         788503
160294  423.10        4811557
160298  423.11        2223071
160302  423.12        1455473
160306  423.13         854204

[40077 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           218169
7         0.02           151842
11        0.03           148864
15        0.04           162423
19        0.05            90832
...        ...              ...
160291  423.09            43609
160295  423.10            96844
160299  423.11           258383
160303  423.12           744596
160307  423.13           128496

[40077 rows x 2 columns]
df6
         time instructions stall_backend
0        0.02     25454196       7028465
1        0.03     27706709       5618299
2        0.04     32321672       5771738
3        0.05     50583432       4857548
4        0.06     38536244       5364606
...       ...          ...           ...
40071  423.09      6513116       6922154
40072  423.10     14256888      20163826
40073  423.11     22531879      20399667
40074  423.12     17450617      21509558
40075  423.13     31864230      13444953

[40076 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01       19127822           218169
1        0.02       12399853           151842
2        0.03       12782983           148864
3        0.04       12025678           162423
4        0.05        7839482            90832
...       ...            ...              ...
40072  423.09         788503            43609
40073  423.10        4811557            96844
40074  423.11        2223071           258383
40075  423.12        1455473           744596
40076  423.13         854204           128496

[40077 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.010129  10925660         NaN   instructions    10969680
1         0.010129   3408863         NaN     mem_access    10969680
2         0.010129   2104882         NaN  mem_access_rd    10969680
3         0.010129   1303981         NaN  mem_access_wr    10969680
4         0.020610  23853816         NaN   instructions     9991880
...            ...       ...         ...            ...         ...
159935  422.286560   2242514         NaN  mem_access_wr    10069200
159936  422.290984  15897897         NaN   instructions     4083800
159937  422.290984   4572678         NaN     mem_access     4083800
159938  422.290984   2878972         NaN  mem_access_rd     4083800
159939  422.290984   1693706         NaN  mem_access_wr     4083800

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
159935       100.0         NaN         NaN
159936       100.0         NaN         NaN
159937       100.0         NaN         NaN
159938       100.0         NaN         NaN
159939       100.0         NaN         NaN

[159940 rows x 8 columns]
          time     value       counter
4         0.02  23853816  instructions
8         0.03  27337086  instructions
12        0.04  36687760  instructions
16        0.05  50847832  instructions
20        0.06  37750144  instructions
...        ...       ...           ...
159920  422.26  10719776  instructions
159924  422.27  21503918  instructions
159928  422.28  15341059  instructions
159932  422.29  29242691  instructions
159936  422.29  15897897  instructions

[39984 rows x 3 columns]
instructions
          time instructions
4         0.02     23853816
8         0.03     27337086
12        0.04     36687760
16        0.05     50847832
20        0.06     37750144
...        ...          ...
159920  422.26     10719776
159924  422.27     21503918
159928  422.28     15341059
159932  422.29     29242691
159936  422.29     15897897

[39984 rows x 2 columns]
df3
          time mem_access
1         0.01    3408863
5         0.02    8676206
9         0.03   10557020
13        0.04   14102974
17        0.05   15552339
...        ...        ...
159921  422.26    3438822
159925  422.27    7665232
159929  422.28    5053020
159933  422.29    7395431
159937  422.29    4572678

[39985 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       2104882
6         0.02       5469726
10        0.03       6657907
14        0.04       8980428
18        0.05      10933729
...        ...           ...
159922  422.26       2130778
159926  422.27       4914888
159930  422.28       3312870
159934  422.29       5152917
159938  422.29       2878972

[39985 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       1303981
7         0.02       3206480
11        0.03       3899113
15        0.04       5122546
19        0.05       4618610
...        ...           ...
159923  422.26       1308044
159927  422.27       2750344
159931  422.28       1740150
159935  422.29       2242514
159939  422.29       1693706

[39985 rows x 2 columns]
df6
         time instructions mem_access
0        0.02     23853816    8676206
1        0.03     27337086   10557020
2        0.04     36687760   14102974
3        0.05     50847832   15552339
4        0.06     37750144   12442028
...       ...          ...        ...
39981  422.28     15341059    5053020
39982  422.29     29242691    7395431
39983  422.29     29242691    4572678
39984  422.29     15897897    7395431
39985  422.29     15897897    4572678

[39986 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       2104882       1303981
1        0.02       5469726       3206480
2        0.03       6657907       3899113
3        0.04       8980428       5122546
4        0.05      10933729       4618610
...       ...           ...           ...
39982  422.28       3312870       1740150
39983  422.29       5152917       2242514
39984  422.29       5152917       1693706
39985  422.29       2878972       2242514
39986  422.29       2878972       1693706

[39987 rows x 3 columns]
merged_df
         time instructions cpu-cycles   br_pred br_mis_pred l1d_cache_rd  \
0        0.04     34308271   33357841   7806654      285000      7258237
1        0.05     49870783   30155977  12428012      239142      8681151
2        0.06     39062008   30181901   9590575      264671     11053493
3        0.07     30788943   30191032   6907908      265207      6915942
4        0.08     33370122   30156452   7517559      255881      8630418
...       ...          ...        ...       ...         ...          ...
23722  416.68     31816284   30174836   4572228        6409      9055134
23723  416.68     31816284   23585560   5125429      124380      9055134
23724  416.68     31816284   23585560   5125429        6409      9055134
23725  416.68     31816284   23585560   4572228      124380      9055134
23726  416.68     31816284   23585560   4572228        6409      9055134

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ... l2d_tlb_wr  \
0          4174614  11432851  14108089           670539  ...      12964
1          4668670  13349821  17378364           543817  ...      13911
2          4324875  15378368  14336765           610335  ...      13114
3          3807506  10723448  12300228           712083  ...      12956
4          4873832  13504250  12963588           697000  ...      15359
...            ...       ...       ...              ...  ...        ...
23722      3525006  12580140  11939633             2280  ...        515
23723      3525006  12580140  11939633             2280  ...        515
23724      3525006  12580140  11939633             2280  ...        515
23725      3525006  12580140  11939633             2280  ...        515
23726      3525006  12580140  11939633             2280  ...        515

      vfp_spec inst_spec ase_spec stall_backend stall_frontend  \
0         1145  35825670    19862       5771738       12025678
1          530  43050099    26910       4857548        7839482
2          342  60603970    30636       5364606       10676328
3          773  37482949    25312       5752851       12735323
4          971  42841517    22450       5568083       11596279
...        ...       ...      ...           ...            ...
23722     3919  69479911    20864       7501577         165293
23723     3919  69479911    20864       7501577         165293
23724     3919  69479911    20864       7501577         165293
23725     3919  69479911    20864       7501577         165293
23726     3919  69479911    20864       7501577         165293

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               162423   14102974       8980428       5122546
1                90832   15552339      10933729       4618610
2               124643   12442028       8440740       4001288
3               152492   11972282       7621738       4350544
4               140737   13356385       8573662       4782723
...                ...        ...           ...           ...
23722          2344311   39021210      33890364       5130846
23723          2344311   39021210      33890364       5130846
23724          2344311   39021210      33890364       5130846
23725          2344311   39021210      33890364       5130846
23726          2344311   39021210      33890364       5130846

[23727 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.011232  13109660         NaN  instructions    12131200
1         0.011232  36134504         NaN    cpu-cycles    12131200
2         0.011232   2423188         NaN       br_pred    12131200
3         0.011232     93314         NaN   br_mis_pred    12131200
4         0.021699  26323741         NaN  instructions     9898760
...            ...       ...         ...           ...         ...
138571  366.767606     91613         NaN   br_mis_pred    10069600
138572  366.777561  37122946         NaN  instructions     9518720
138573  366.777561  28527696         NaN    cpu-cycles     9518720
138574  366.777561   6332858         NaN       br_pred     9518720
138575  366.777561     46910         NaN   br_mis_pred     9518720

        Unnamed: 5  Unnamed: 6      Unnamed: 7
0            100.0        0.36  insn per cycle
1            100.0         NaN             NaN
2            100.0         NaN             NaN
3            100.0         NaN             NaN
4            100.0        0.89  insn per cycle
...            ...         ...             ...
138571       100.0         NaN             NaN
138572       100.0        1.30  insn per cycle
138573       100.0         NaN             NaN
138574       100.0         NaN             NaN
138575       100.0         NaN             NaN

[138576 rows x 8 columns]
          time     value       counter
4         0.02  26323741  instructions
8         0.03  29206658  instructions
12        0.04  32694559  instructions
16        0.05  52550758  instructions
20        0.06  35342188  instructions
...        ...       ...           ...
138556  366.74     18596  instructions
138560  366.75  16238622  instructions
138564  366.76  24102078  instructions
138568  366.77  14835072  instructions
138572  366.78  37122946  instructions

[34643 rows x 3 columns]
instructions
          time instructions
4         0.02     26323741
8         0.03     29206658
12        0.04     32694559
16        0.05     52550758
20        0.06     35342188
...        ...          ...
138556  366.74        18596
138560  366.75     16238622
138564  366.76     24102078
138568  366.77     14835072
138572  366.78     37122946

[34643 rows x 2 columns]
df3
          time cpu-cycles
1         0.01   36134504
5         0.02   29631719
9         0.03   30041244
13        0.04   30161549
17        0.05   30176669
...        ...        ...
138557  366.74      66124
138561  366.75   31845647
138565  366.76   29945176
138569  366.77   30164110
138573  366.78   28527696

[34644 rows x 2 columns]
df4
          time   br_pred
2         0.01   2423188
6         0.02   5859988
10        0.03   6575487
14        0.04   7492983
18        0.05  13205966
...        ...       ...
138558  366.74      4591
138562  366.75   3193497
138566  366.76   5400822
138570  366.77   4050713
138574  366.78   6332858

[34644 rows x 2 columns]
df5
          time br_mis_pred
3         0.01       93314
7         0.02      239372
11        0.03      274300
15        0.04      263739
19        0.05      228007
...        ...         ...
138559  366.74         631
138563  366.75       54225
138567  366.76       44700
138571  366.77       91613
138575  366.78       46910

[34644 rows x 2 columns]
df6
         time instructions cpu-cycles
0        0.02     26323741   29631719
1        0.03     29206658   30041244
2        0.04     32694559   30161549
3        0.05     52550758   30176669
4        0.06     35342188   30176511
...       ...          ...        ...
34638  366.74        18596      66124
34639  366.75     16238622   31845647
34640  366.76     24102078   29945176
34641  366.77     14835072   30164110
34642  366.78     37122946   28527696

[34643 rows x 3 columns]
df7
         time   br_pred br_mis_pred
0        0.01   2423188       93314
1        0.02   5859988      239372
2        0.03   6575487      274300
3        0.04   7492983      263739
4        0.05  13205966      228007
...       ...       ...         ...
34639  366.74      4591         631
34640  366.75   3193497       54225
34641  366.76   5400822       44700
34642  366.77   4050713       91613
34643  366.78   6332858       46910

[34644 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014325  17942353         NaN  instructions    15221120
1         0.014325   3523980         NaN  l1d_cache_rd    15221120
2         0.014325   2184985         NaN  l1d_cache_wr    15221120
3         0.014325   5708965         NaN     l1d_cache    15221120
4         0.024847  30149224         NaN  instructions    10036600
...            ...       ...         ...           ...         ...
138663  366.667124   5790545         NaN     l1d_cache    10319360
138664  366.673631  24705337         NaN  instructions     6061040
138665  366.673631   4475577         NaN  l1d_cache_rd     6061040
138666  366.673631   2631357         NaN  l1d_cache_wr     6061040
138667  366.673631   7106934         NaN     l1d_cache     6061040

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
138663       100.0         NaN         NaN
138664       100.0         NaN         NaN
138665       100.0         NaN         NaN
138666       100.0         NaN         NaN
138667       100.0         NaN         NaN

[138668 rows x 8 columns]
          time     value       counter
4         0.02  30149224  instructions
8         0.04  28350933  instructions
12        0.05  34888164  instructions
16        0.06  53368719  instructions
20        0.07  29494513  instructions
...        ...       ...           ...
138648  366.63   6783380  instructions
138652  366.65  17247708  instructions
138656  366.66  21003217  instructions
138660  366.67  23162287  instructions
138664  366.67  24705337  instructions

[34666 rows x 3 columns]
instructions
          time instructions
4         0.02     30149224
8         0.04     28350933
12        0.05     34888164
16        0.06     53368719
20        0.07     29494513
...        ...          ...
138648  366.63      6783380
138652  366.65     17247708
138656  366.66     21003217
138660  366.67     23162287
138664  366.67     24705337

[34666 rows x 2 columns]
df3
          time l1d_cache_rd
1         0.01      3523980
5         0.02      7263935
9         0.04      6944523
13        0.05      8370627
17        0.06     11171715
...        ...          ...
138649  366.63      1234318
138653  366.65      3919846
138657  366.66      4634720
138661  366.67      4170291
138665  366.67      4475577

[34667 rows x 2 columns]
df4
          time l1d_cache_wr
2         0.01      2184985
6         0.02      4219810
10        0.04      4011642
14        0.05      4608295
18        0.06      4395647
...        ...          ...
138650  366.63       661411
138654  366.65      2467343
138658  366.66      2377795
138662  366.67      1620254
138666  366.67      2631357

[34667 rows x 2 columns]
df5
          time l1d_cache
3         0.01   5708965
7         0.02  11483745
11        0.04  10956165
15        0.05  12978922
19        0.06  15567362
...        ...       ...
138651  366.63   1895729
138655  366.65   6387189
138659  366.66   7012515
138663  366.67   5790545
138667  366.67   7106934

[34667 rows x 2 columns]
df6
         time instructions l1d_cache_rd
0        0.02     30149224      7263935
1        0.04     28350933      6944523
2        0.05     34888164      8370627
3        0.06     53368719     11171715
4        0.07     29494513      6855766
...       ...          ...          ...
34663  366.66     21003217      4634720
34664  366.67     23162287      4170291
34665  366.67     23162287      4475577
34666  366.67     24705337      4170291
34667  366.67     24705337      4475577

[34668 rows x 3 columns]
df7
         time l1d_cache_wr l1d_cache
0        0.01      2184985   5708965
1        0.02      4219810  11483745
2        0.04      4011642  10956165
3        0.05      4608295  12978922
4        0.06      4395647  15567362
...       ...          ...       ...
34664  366.66      2377795   7012515
34665  366.67      1620254   5790545
34666  366.67      1620254   7106934
34667  366.67      2631357   5790545
34668  366.67      2631357   7106934

[34669 rows x 3 columns]
              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.011382  13005211         NaN      instructions    12354120
1         0.011382   4679539         NaN         l1i_cache    12354120
2         0.011382    302104         NaN  l1i_cache_refill    12354120
3         0.011382    105029         NaN     remote_access    12354120
4         0.021855  25663727         NaN      instructions    10017440
...            ...       ...         ...               ...         ...
138583  366.317870      4385         NaN     remote_access    10061800
138584  366.325090  28086964         NaN      instructions     6867360
138585  366.325090   7500545         NaN         l1i_cache     6867360
138586  366.325090      5916         NaN  l1i_cache_refill     6867360
138587  366.325090      4859         NaN     remote_access     6867360

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
138583       100.0         NaN         NaN
138584       100.0         NaN         NaN
138585       100.0         NaN         NaN
138586       100.0         NaN         NaN
138587       100.0         NaN         NaN

[138588 rows x 8 columns]
          time          value       counter
4         0.02       25663727  instructions
8         0.03       28589052  instructions
12        0.04       32144034  instructions
16        0.05       51031311  instructions
20        0.06       37511685  instructions
...        ...            ...           ...
138568  366.28  <not counted>  instructions
138572  366.30       21633417  instructions
138576  366.31       22246416  instructions
138580  366.32       20523715  instructions
138584  366.33       28086964  instructions

[34646 rows x 3 columns]
instructions
          time   instructions
4         0.02       25663727
8         0.03       28589052
12        0.04       32144034
16        0.05       51031311
20        0.06       37511685
...        ...            ...
138568  366.28  <not counted>
138572  366.30       21633417
138576  366.31       22246416
138580  366.32       20523715
138584  366.33       28086964

[34646 rows x 2 columns]
df3
          time      l1i_cache
1         0.01        4679539
5         0.02       10214581
9         0.03       11588413
13        0.04       12659874
17        0.05       17435286
...        ...            ...
138569  366.28  <not counted>
138573  366.30        7352539
138577  366.31        6941109
138581  366.32        7413615
138585  366.33        7500545

[34647 rows x 2 columns]
df4
          time l1i_cache_refill
2         0.01           302104
6         0.02           529226
10        0.03           686505
14        0.04           593463
18        0.05           539186
...        ...              ...
138570  366.28    <not counted>
138574  366.30           226950
138578  366.31            85299
138582  366.32            12914
138586  366.33             5916

[34647 rows x 2 columns]
df5
          time  remote_access
3         0.01         105029
7         0.02          43995
11        0.03          36156
15        0.04          35542
19        0.05          12756
...        ...            ...
138571  366.28  <not counted>
138575  366.30          21610
138579  366.31           5456
138583  366.32           4385
138587  366.33           4859

[34647 rows x 2 columns]
df6
         time   instructions      l1i_cache
0        0.02       25663727       10214581
1        0.03       28589052       11588413
2        0.04       32144034       12659874
3        0.05       51031311       17435286
4        0.06       37511685       14030831
...       ...            ...            ...
34641  366.28  <not counted>  <not counted>
34642  366.30       21633417        7352539
34643  366.31       22246416        6941109
34644  366.32       20523715        7413615
34645  366.33       28086964        7500545

[34646 rows x 3 columns]
df7
         time l1i_cache_refill  remote_access
0        0.01           302104         105029
1        0.02           529226          43995
2        0.03           686505          36156
3        0.04           593463          35542
4        0.05           539186          12756
...       ...              ...            ...
34642  366.28    <not counted>  <not counted>
34643  366.30           226950          21610
34644  366.31            85299           5456
34645  366.32            12914           4385
34646  366.33             5916           4859

[34647 rows x 3 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]

              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014614  18131196         NaN  instructions    15490080
1         0.014614    634652         NaN  l2d_cache_rd    15490080
2         0.014614    217261         NaN  l2d_cache_wr    15490080
3         0.014614    851913         NaN     l2d_cache    15490080
4         0.025114  30211304         NaN  instructions    10000360
...            ...       ...         ...           ...         ...
137811  364.785588   1236779         NaN     l2d_cache    10233080
137812  364.790197  16779212         NaN  instructions     4243880
137813  364.790197     78714         NaN  l2d_cache_rd     4243880
137814  364.790197     71717         NaN  l2d_cache_wr     4243880
137815  364.790197    150431         NaN     l2d_cache     4243880

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
137811       100.0         NaN         NaN
137812       100.0         NaN         NaN
137813       100.0         NaN         NaN
137814       100.0         NaN         NaN
137815       100.0         NaN         NaN

[137816 rows x 8 columns]
          time     value       counter
4         0.03  30211304  instructions
8         0.04  29134441  instructions
12        0.05  36750679  instructions
16        0.06  52687580  instructions
20        0.07  29093380  instructions
...        ...       ...           ...
137796  364.75  10270001  instructions
137800  364.76  18639491  instructions
137804  364.78  18171914  instructions
137808  364.79  29036288  instructions
137812  364.79  16779212  instructions

[34453 rows x 3 columns]
instructions
          time instructions
4         0.03     30211304
8         0.04     29134441
12        0.05     36750679
16        0.06     52687580
20        0.07     29093380
...        ...          ...
137796  364.75     10270001
137800  364.76     18639491
137804  364.78     18171914
137808  364.79     29036288
137812  364.79     16779212

[34453 rows x 2 columns]
df3
          time l2d_cache_rd
1         0.01       634652
5         0.03       823790
9         0.04       859999
13        0.05       785103
17        0.06       882879
...        ...          ...
137797  364.75       156998
137801  364.76       428107
137805  364.78       321664
137809  364.79       642962
137813  364.79        78714

[34454 rows x 2 columns]
df4
          time l2d_cache_wr
2         0.01       217261
6         0.03       188105
10        0.04       186042
14        0.05       226935
18        0.06       368928
...        ...          ...
137798  364.75        89758
137802  364.76       173272
137806  364.78       253537
137810  364.79       593817
137814  364.79        71717

[34454 rows x 2 columns]
df5
          time l2d_cache
3         0.01    851913
7         0.03   1011895
11        0.04   1046041
15        0.05   1012038
19        0.06   1251807
...        ...       ...
137799  364.75    246756
137803  364.76    601379
137807  364.78    575201
137811  364.79   1236779
137815  364.79    150431

[34454 rows x 2 columns]
df6
         time instructions l2d_cache_rd
0        0.03     30211304       823790
1        0.04     29134441       859999
2        0.05     36750679       785103
3        0.06     52687580       882879
4        0.07     29093380       838507
...       ...          ...          ...
34450  364.78     18171914       321664
34451  364.79     29036288       642962
34452  364.79     29036288        78714
34453  364.79     16779212       642962
34454  364.79     16779212        78714

[34455 rows x 3 columns]
df7
         time l2d_cache_wr l2d_cache
0        0.01       217261    851913
1        0.03       188105   1011895
2        0.04       186042   1046041
3        0.05       226935   1012038
4        0.06       368928   1251807
...       ...          ...       ...
34451  364.78       253537    575201
34452  364.79       593817   1236779
34453  364.79       593817    150431
34454  364.79        71717   1236779
34455  364.79        71717    150431

[34456 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.015144  18998240         NaN  instructions    16051240
1         0.015144   8560465         NaN       l1d_tlb    16051240
2         0.015144   5820063         NaN    l1d_tlb_rd    16051240
3         0.015144   2740402         NaN    l1d_tlb_wr    16051240
4         0.025634  29807662         NaN  instructions     9953920
...            ...       ...         ...           ...         ...
137683  364.418741   1306581         NaN    l1d_tlb_wr    10068560
137684  364.429211  38924229         NaN  instructions     9984240
137685  364.429211  13528439         NaN       l1d_tlb     9984240
137686  364.429211   9964152         NaN    l1d_tlb_rd     9984240
137687  364.429211   3564287         NaN    l1d_tlb_wr     9984240

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
137683       100.0         NaN         NaN
137684       100.0         NaN         NaN
137685       100.0         NaN         NaN
137686       100.0         NaN         NaN
137687       100.0         NaN         NaN

[137688 rows x 8 columns]
          time          value       counter
4         0.03       29807662  instructions
8         0.04       28927537  instructions
12        0.05       36422293  instructions
16        0.06       52690385  instructions
20        0.07       29421582  instructions
...        ...            ...           ...
137668  364.39  <not counted>  instructions
137672  364.40       15945075  instructions
137676  364.41       24022282  instructions
137680  364.42       13818339  instructions
137684  364.43       38924229  instructions

[34421 rows x 3 columns]
instructions
          time   instructions
4         0.03       29807662
8         0.04       28927537
12        0.05       36422293
16        0.06       52690385
20        0.07       29421582
...        ...            ...
137668  364.39  <not counted>
137672  364.40       15945075
137676  364.41       24022282
137680  364.42       13818339
137684  364.43       38924229

[34421 rows x 2 columns]
df3
          time        l1d_tlb
1         0.02        8560465
5         0.03       12746749
9         0.04       12508727
13        0.05       14827131
17        0.06       16788417
...        ...            ...
137669  364.39  <not counted>
137673  364.40        6411806
137677  364.41        9052769
137681  364.42        4825148
137685  364.43       13528439

[34422 rows x 2 columns]
df4
          time     l1d_tlb_rd
2         0.02        5820063
6         0.03        8241924
10        0.04        8089900
14        0.05        9781619
18        0.06       12116634
...        ...            ...
137670  364.39  <not counted>
137674  364.40        4238433
137678  364.41        6053903
137682  364.42        3518567
137686  364.43        9964152

[34422 rows x 2 columns]
df5
          time     l1d_tlb_wr
3         0.02        2740402
7         0.03        4504825
11        0.04        4418827
15        0.05        5045512
19        0.06        4671783
...        ...            ...
137671  364.39  <not counted>
137675  364.40        2173373
137679  364.41        2998866
137683  364.42        1306581
137687  364.43        3564287

[34422 rows x 2 columns]
df6
         time   instructions        l1d_tlb
0        0.03       29807662       12746749
1        0.04       28927537       12508727
2        0.05       36422293       14827131
3        0.06       52690385       16788417
4        0.07       29421582       12241288
...       ...            ...            ...
34416  364.39  <not counted>  <not counted>
34417  364.40       15945075        6411806
34418  364.41       24022282        9052769
34419  364.42       13818339        4825148
34420  364.43       38924229       13528439

[34421 rows x 3 columns]
df7
         time     l1d_tlb_rd     l1d_tlb_wr
0        0.02        5820063        2740402
1        0.03        8241924        4504825
2        0.04        8089900        4418827
3        0.05        9781619        5045512
4        0.06       12116634        4671783
...       ...            ...            ...
34417  364.39  <not counted>  <not counted>
34418  364.40        4238433        2173373
34419  364.41        6053903        2998866
34420  364.42        3518567        1306581
34421  364.43        9964152        3564287

[34422 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010116   9539353         NaN  instructions     9375800
1         0.010116     17828         NaN     dtlb_walk     9375800
2         0.010116      1476         NaN     itlb_walk     9375800
3         0.010116   3164507         NaN       l1i_tlb     9375800
4         0.024154  32838142         NaN  instructions    13323240
...            ...       ...         ...           ...         ...
138243  365.802707   6116326         NaN       l1i_tlb    10069400
138244  365.811157  32049537         NaN  instructions     8011280
138245  365.811157      1272         NaN     dtlb_walk     8011280
138246  365.811157         5         NaN     itlb_walk     8011280
138247  365.811157   6224292         NaN       l1i_tlb     8011280

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
138243       100.0         NaN         NaN
138244       100.0         NaN         NaN
138245       100.0         NaN         NaN
138246       100.0         NaN         NaN
138247       100.0         NaN         NaN

[138248 rows x 8 columns]
          time     value       counter
4         0.02  32838142  instructions
8         0.03  29639419  instructions
12        0.04  34041989  instructions
16        0.05  53468912  instructions
20        0.07  32397388  instructions
...        ...       ...           ...
138228  365.77   6533361  instructions
138232  365.78  13517366  instructions
138236  365.79  23151394  instructions
138240  365.80  17759614  instructions
138244  365.81  32049537  instructions

[34561 rows x 3 columns]
instructions
          time instructions
4         0.02     32838142
8         0.03     29639419
12        0.04     34041989
16        0.05     53468912
20        0.07     32397388
...        ...          ...
138228  365.77      6533361
138232  365.78     13517366
138236  365.79     23151394
138240  365.80     17759614
138244  365.81     32049537

[34561 rows x 2 columns]
df3
          time dtlb_walk
1         0.01     17828
5         0.02      9544
9         0.03      3960
13        0.04      4412
17        0.05      2161
...        ...       ...
138229  365.77       943
138233  365.78     18139
138237  365.79     22405
138241  365.80     45480
138245  365.81      1272

[34562 rows x 2 columns]
df4
          time itlb_walk
2         0.01      1476
6         0.02      1606
10        0.03      1130
14        0.04       948
18        0.05       334
...        ...       ...
138230  365.77       106
138234  365.78      1717
138238  365.79      1273
138242  365.80       347
138246  365.81         5

[34562 rows x 2 columns]
df5
          time   l1i_tlb
3         0.01   3164507
7         0.02  10986368
11        0.03  10036542
15        0.04  10982906
19        0.05  13745650
...        ...       ...
138231  365.77   1466096
138235  365.78   4246444
138239  365.79   5985346
138243  365.80   6116326
138247  365.81   6224292

[34562 rows x 2 columns]
df6
         time instructions dtlb_walk
0        0.02     32838142      9544
1        0.03     29639419      3960
2        0.04     34041989      4412
3        0.05     53468912      2161
4        0.07     32397388      5408
...       ...          ...       ...
34556  365.77      6533361       943
34557  365.78     13517366     18139
34558  365.79     23151394     22405
34559  365.80     17759614     45480
34560  365.81     32049537      1272

[34561 rows x 3 columns]
df7
         time itlb_walk   l1i_tlb
0        0.01      1476   3164507
1        0.02      1606  10986368
2        0.03      1130  10036542
3        0.04       948  10982906
4        0.05       334  13745650
...       ...       ...       ...
34557  365.77       106   1466096
34558  365.78      1717   4246444
34559  365.79      1273   5985346
34560  365.80       347   6116326
34561  365.81         5   6224292

[34562 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.010119  10053828         NaN  instructions    10200840
1         0.010119     69338         NaN       l2d_tlb    10200840
2         0.010119     57023         NaN    l2d_tlb_rd    10200840
3         0.010119     12315         NaN    l2d_tlb_wr    10200840
4         0.020584  21986912         NaN  instructions     9990200
...            ...       ...         ...           ...         ...
138643  366.532616     22711         NaN    l2d_tlb_wr    10066960
138644  366.533267    717733         NaN  instructions      357000
138645  366.533267      2708         NaN       l2d_tlb      357000
138646  366.533267      2377         NaN    l2d_tlb_rd      357000
138647  366.533267       331         NaN    l2d_tlb_wr      357000

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
138643       100.0         NaN         NaN
138644       100.0         NaN         NaN
138645       100.0         NaN         NaN
138646       100.0         NaN         NaN
138647       100.0         NaN         NaN

[138648 rows x 8 columns]
          time     value       counter
4         0.02  21986912  instructions
8         0.03  27675032  instructions
12        0.04  32673603  instructions
16        0.05  54372715  instructions
20        0.06  39682243  instructions
...        ...       ...           ...
138628  366.50  16015652  instructions
138632  366.51  23689270  instructions
138636  366.52  13811067  instructions
138640  366.53  38675867  instructions
138644  366.53    717733  instructions

[34661 rows x 3 columns]
instructions
          time instructions
4         0.02     21986912
8         0.03     27675032
12        0.04     32673603
16        0.05     54372715
20        0.06     39682243
...        ...          ...
138628  366.50     16015652
138632  366.51     23689270
138636  366.52     13811067
138640  366.53     38675867
138644  366.53       717733

[34661 rows x 2 columns]
df3
          time l2d_tlb
1         0.01   69338
5         0.02  169054
9         0.03  266938
13        0.04  278742
17        0.05  439606
...        ...     ...
138629  366.50  146342
138633  366.51  189775
138637  366.52  151246
138641  366.53   80221
138645  366.53    2708

[34662 rows x 2 columns]
df4
          time l2d_tlb_rd
2         0.01      57023
6         0.02     157449
10        0.03     254296
14        0.04     265283
18        0.05     423136
...        ...        ...
138630  366.50     133385
138634  366.51     176116
138638  366.52     142242
138642  366.53      57510
138646  366.53       2377

[34662 rows x 2 columns]
df5
          time l2d_tlb_wr
3         0.01      12315
7         0.02      11605
11        0.03      12642
15        0.04      13459
19        0.05      16470
...        ...        ...
138631  366.50      12957
138635  366.51      13659
138639  366.52       9004
138643  366.53      22711
138647  366.53        331

[34662 rows x 2 columns]
df6
         time instructions l2d_tlb
0        0.02     21986912  169054
1        0.03     27675032  266938
2        0.04     32673603  278742
3        0.05     54372715  439606
4        0.06     39682243  344523
...       ...          ...     ...
34658  366.52     13811067  151246
34659  366.53     38675867   80221
34660  366.53     38675867    2708
34661  366.53       717733   80221
34662  366.53       717733    2708

[34663 rows x 3 columns]
df7
         time l2d_tlb_rd l2d_tlb_wr
0        0.01      57023      12315
1        0.02     157449      11605
2        0.03     254296      12642
3        0.04     265283      13459
4        0.05     423136      16470
...       ...        ...        ...
34659  366.52     142242       9004
34660  366.53      57510      22711
34661  366.53      57510        331
34662  366.53       2377      22711
34663  366.53       2377        331

[34664 rows x 3 columns]
              time     value  Unnamed: 2       counter  Unnamed: 4  \
0         0.014466  18672240         NaN  instructions    15325360
1         0.014466       255         NaN      vfp_spec    15325360
2         0.014466  22603355         NaN     inst_spec    15325360
3         0.014466     16248         NaN      ase_spec    15325360
4         0.024953  30295228         NaN  instructions     9985240
...            ...       ...         ...           ...         ...
138419  365.863058         8         NaN      ase_spec    10065280
138420  365.870812  30613702         NaN  instructions     7451360
138421  365.870812         0         NaN      vfp_spec     7451360
138422  365.870812  31083281         NaN     inst_spec     7451360
138423  365.870812         0         NaN      ase_spec     7451360

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
138419       100.0         NaN         NaN
138420       100.0         NaN         NaN
138421       100.0         NaN         NaN
138422       100.0         NaN         NaN
138423       100.0         NaN         NaN

[138424 rows x 8 columns]
          time          value       counter
4         0.02       30295228  instructions
8         0.04       28677565  instructions
12        0.05       37277866  instructions
16        0.06       53217196  instructions
20        0.07       28401788  instructions
...        ...            ...           ...
138404  365.83  <not counted>  instructions
138408  365.84       20160753  instructions
138412  365.85       23152620  instructions
138416  365.86       18647968  instructions
138420  365.87       30613702  instructions

[34605 rows x 3 columns]
instructions
          time   instructions
4         0.02       30295228
8         0.04       28677565
12        0.05       37277866
16        0.06       53217196
20        0.07       28401788
...        ...            ...
138404  365.83  <not counted>
138408  365.84       20160753
138412  365.85       23152620
138416  365.86       18647968
138420  365.87       30613702

[34605 rows x 2 columns]
df3
          time       vfp_spec
1         0.01            255
5         0.02           3717
9         0.04           1095
13        0.05            517
17        0.06            324
...        ...            ...
138405  365.83  <not counted>
138409  365.84            258
138413  365.85              0
138417  365.86              0
138421  365.87              0

[34606 rows x 2 columns]
df4
          time      inst_spec
2         0.01       22603355
6         0.02       38084346
10        0.04       35753221
14        0.05       44750845
18        0.06       60949463

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)

              time     value  Unnamed: 2           counter  Unnamed: 4  \
0         0.014568  20456350         NaN      instructions    15410920
1         0.014568  16348982         NaN     stall_backend    15410920
2         0.014568  21978626         NaN    stall_frontend    15410920
3         0.014568    270828         NaN  ll_cache_miss_rd    15410920
4         0.025010  32088499         NaN      instructions     9983480
...            ...       ...         ...               ...         ...
138779  366.723468    534345         NaN  ll_cache_miss_rd    10088040
138780  366.723965     89564         NaN      instructions       74600
138781  366.723965    111895         NaN     stall_backend       74600
138782  366.723965     43062         NaN    stall_frontend       74600
138783  366.723965       698         NaN  ll_cache_miss_rd       74600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
138779       100.0         NaN         NaN
138780       100.0         NaN         NaN
138781       100.0         NaN         NaN
138782       100.0         NaN         NaN
138783       100.0         NaN         NaN

[138784 rows x 8 columns]
          time     value       counter
4         0.03  32088499  instructions
8         0.04  30610024  instructions
12        0.05  42508027  instructions
16        0.06  50603871  instructions
20        0.07  30282830  instructions
...        ...       ...           ...
138764  366.69  15945354  instructions
138768  366.70  23789093  instructions
138772  366.71  14178733  instructions
138776  366.72  38940029  instructions
138780  366.72     89564  instructions

[34695 rows x 3 columns]
instructions
          time instructions
4         0.03     32088499
8         0.04     30610024
12        0.05     42508027
16        0.06     50603871
20        0.07     30282830
...        ...          ...
138764  366.69     15945354
138768  366.70     23789093
138772  366.71     14178733
138776  366.72     38940029
138780  366.72        89564

[34695 rows x 2 columns]
df3
          time stall_backend
1         0.01      16348982
5         0.03       5803922
9         0.04       5960659
13        0.05       5559489
17        0.06       5112122
...        ...           ...
138765  366.69      21824964
138769  366.70      19724277
138773  366.71      23443125
138777  366.72      16728560
138781  366.72        111895

[34696 rows x 2 columns]
df4
          time stall_frontend
2         0.01       21978626
6         0.03       11516482
10        0.04       11673924
14        0.05        9242897
18        0.06        7504645
...        ...            ...
138766  366.69        4757741
138770  366.70        2517784
138774  366.71        1264813
138778  366.72        1294204
138782  366.72          43062

[34696 rows x 2 columns]
df5
          time ll_cache_miss_rd
3         0.01           270828
7         0.03           142225
11        0.04           160672
15        0.05           128389
19        0.06            90906
...        ...              ...
138767  366.69           125767
138771  366.70           178560
138775  366.71           441405
138779  366.72           534345
138783  366.72              698

[34696 rows x 2 columns]
df6
         time instructions stall_backend
0        0.03     32088499       5803922
1        0.04     30610024       5960659
2        0.05     42508027       5559489
3        0.06     50603871       5112122
4        0.07     30282830       5989439
...       ...          ...           ...
34692  366.71     14178733      23443125
34693  366.72     38940029      16728560
34694  366.72     38940029        111895
34695  366.72        89564      16728560
34696  366.72        89564        111895

[34697 rows x 3 columns]
df7
         time stall_frontend ll_cache_miss_rd
0        0.01       21978626           270828
1        0.03       11516482           142225
2        0.04       11673924           160672
3        0.05        9242897           128389
4        0.06        7504645            90906
...       ...            ...              ...
34693  366.71        1264813           441405
34694  366.72        1294204           534345
34695  366.72        1294204              698
34696  366.72          43062           534345
34697  366.72          43062              698

[34698 rows x 3 columns]
              time     value  Unnamed: 2        counter  Unnamed: 4  \
0         0.014701  18679975         NaN   instructions    15553920
1         0.014701   6001056         NaN     mem_access    15553920
2         0.014701   3711401         NaN  mem_access_rd    15553920
3         0.014701   2289655         NaN  mem_access_wr    15553920
4         0.025198  30335814         NaN   instructions    10037480
...            ...       ...         ...            ...         ...
136467  360.194429   2242130         NaN  mem_access_wr    10066960
136468  360.198863  16074826         NaN   instructions     4099600
136469  360.198863   4627302         NaN     mem_access     4099600
136470  360.198863   2913382         NaN  mem_access_rd     4099600
136471  360.198863   1713920         NaN  mem_access_wr     4099600

        Unnamed: 5  Unnamed: 6  Unnamed: 7
0            100.0         NaN         NaN
1            100.0         NaN         NaN
2            100.0         NaN         NaN
3            100.0         NaN         NaN
4            100.0         NaN         NaN
...            ...         ...         ...
136467       100.0         NaN         NaN
136468       100.0         NaN         NaN
136469       100.0         NaN         NaN
136470       100.0         NaN         NaN
136471       100.0         NaN         NaN

[136472 rows x 8 columns]
          time     value       counter
4         0.03  30335814  instructions
8         0.04  28629015  instructions
12        0.05  36064750  instructions
16        0.06  52307950  instructions
20        0.07  29339602  instructions
...        ...       ...           ...
136452  360.16  10340452  instructions
136456  360.17  21465312  instructions
136460  360.18  15757521  instructions
136464  360.19  29139176  instructions
136468  360.20  16074826  instructions

[34117 rows x 3 columns]
instructions
          time instructions
4         0.03     30335814
8         0.04     28629015
12        0.05     36064750
16        0.06     52307950
20        0.07     29339602
...        ...          ...
136452  360.16     10340452
136456  360.17     21465312
136460  360.18     15757521
136464  360.19     29139176
136468  360.20     16074826

[34117 rows x 2 columns]
df3
          time mem_access
1         0.01    6001056
5         0.03   11585174
9         0.04   11075632
13        0.05   13187548
17        0.06   15229223
...        ...        ...
136453  360.16    3325319
136457  360.17    7655380
136461  360.18    5209810
136465  360.19    7397024
136469  360.20    4627302

[34118 rows x 2 columns]
df4
          time mem_access_rd
2         0.01       3711401
6         0.03       7336225
10        0.04       7029916
14        0.05       8563462
18        0.06      10942311
...        ...           ...
136454  360.16       2061304
136458  360.17       4894612
136462  360.18       3411971
136466  360.19       5154894
136470  360.20       2913382

[34118 rows x 2 columns]
df5
          time mem_access_wr
3         0.01       2289655
7         0.03       4248949
11        0.04       4045716
15        0.05       4624086
19        0.06       4286912
...        ...           ...
136455  360.16       1264015
136459  360.17       2760768
136463  360.18       1797839
136467  360.19       2242130
136471  360.20       1713920

[34118 rows x 2 columns]
df6
         time instructions mem_access
0        0.03     30335814   11585174
1        0.04     28629015   11075632
2        0.05     36064750   13187548
3        0.06     52307950   15229223
4        0.07     29339602   10668160
...       ...          ...        ...
34112  360.16     10340452    3325319
34113  360.17     21465312    7655380
34114  360.18     15757521    5209810
34115  360.19     29139176    7397024
34116  360.20     16074826    4627302

[34117 rows x 3 columns]
df7
         time mem_access_rd mem_access_wr
0        0.01       3711401       2289655
1        0.03       7336225       4248949
2        0.04       7029916       4045716
3        0.05       8563462       4624086
4        0.06      10942311       4286912
...       ...           ...           ...
34113  360.16       2061304       1264015
34114  360.17       4894612       2760768
34115  360.18       3411971       1797839
34116  360.19       5154894       2242130
34117  360.20       2913382       1713920

[34118 rows x 3 columns]
merged_df
         time instructions cpu-cycles   br_pred br_mis_pred l1d_cache_rd  \
0        0.04     32694559   30161549   7492983      263739      6944523
1        0.05     52550758   30176669  13205966      228007      8370627
2        0.07     31692604   30156535   7139686      271429      6855766
3        0.08     34158370   30157458   7707826      258032      8494525
4        0.09     29440041   30186324   6688594      270267      7782572
...       ...          ...        ...       ...         ...          ...
20391  360.16     36565106   30186085   2057713        1022     14615056
20392  360.17     35143912   30164585   2060108         968     13748478
20393  360.18     42522642   34651489   2400957        1218     15225898
20394  360.19     33731044   30142503   2050434        2658     13887535
20395  360.20     36563657   30170873   2073615         981     15754137

      l1d_cache_wr l1d_cache l1i_cache l1i_cache_refill  ... l2d_tlb_wr  \
0          4011642  10956165  12659874           593463  ...      13459
1          4608295  12978922  17435286           539186  ...      16470
2          3680010  10535776  12144050           710712  ...      14953
3          4800734  13295259  12977271           701099  ...      16301
4          4344131  12126703  12096742           663535  ...      15833
...            ...       ...       ...              ...  ...        ...
20391      3068148  17683204   9010630             5128  ...       9801
20392      3127562  16876040  10446075             4248  ...      11927
20393      3022880  18248778  10554866             2677  ...      10467
20394      3257486  17145021   9891832             3174  ...      15105
20395      3101170  18855307  10349187             3592  ...      10727

      vfp_spec inst_spec  ase_spec stall_backend stall_frontend  \
0         1095  35753221     19714       5960659       11673924
1          517  44750845     27807       5559489        9242897
2          740  35659475     24256       5989439       12202141
3          937  43673906     22771       5908754       10815422
4         1730  39758027     23202       6157824       11479330
...        ...       ...       ...           ...            ...
20391     4519  51557989  22482207      18358981        1220450
20392     4472  53928106  23872183      18280424         964820
20393      315  58281656  26031129      18573537        1090763
20394     4458  50937070  22274344      17829868        1455051
20395     4354  52547147  23012050      18532138         870963

      ll_cache_miss_rd mem_access mem_access_rd mem_access_wr
0               160672   11075632       7029916       4045716
1               128389   13187548       8563462       4624086
2               153660   10668160       6910029       3758131
3               137359   13366062       8542400       4823662
4               148532   12121259       7784659       4336600
...                ...        ...           ...           ...
20391          2715486    3325319       2061304       1264015
20392          2732593    7655380       4894612       2760768
20393          2549639    5209810       3411971       1797839
20394          2712518    7397024       5154894       2242130
20395          2736225    4627302       2913382       1713920

[20396 rows x 32 columns]

/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:62: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv)
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:71: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df2.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:81: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df3.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:90: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df4.iloc[num_counters-0][2]
/var/folders/6n/ftw0wdbd5m75711ncfzt7rlh0000gn/T/ipykernel_47861/961260468.py:99: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  counter_name = df5.iloc[num_counters-0][2]